<div class="add-popup">
	<div class="add-popup__container">
		<form method="post">
			<div class="add-popup__content">
				<div class="add-popup__row --header">
					<h3 data-add-heading>New Visit:
						<span>Whale Name</span>
					</h3>
					<p>Fill in the fields below to add a new record.</p>
					<button class="over-close-btn" data-add-evt="cancel"></button>
				</div>
				<div class="add-popup__row">
					<div class="add-popup__input-grid">
						<div class="input-box">
							<div>
								<input data-datepicker type="text" name="visit_date" id="visit_date">
								<label for="visit_date">Date</label>
							</div>
						</div>
						<div class="input-box">
							<div>
								<input type="text" name="visit_time" id="visit_time">
								<label for="visit_time">Time</label>
							</div>
						</div>
						<div class="input-box">
							<div>
								<input type="text" name="visit_duration" id="visit_duration">
								<label for="visit_duration">Duration</label>
							</div>
						</div>
						<div class="input-box">
							<div>
								<input type="text" name="visit_how_many" id="visit_how_many">
								<label for="visit_how_many">How Many</label>
							</div>
						</div>
						<div class="input-box --select">
							<div>
								<select name="visit_transaction" id="visit_transaction">
									<option value="yes">Yes</option>
									<option value="no">No</option>
								</select>
								<label for="visit_trasnaction">Transaction</label>
							</div>
						</div>
						<div class="input-box --icon --dollar">
							<div>
								<input type="text" name="visit_amount" id="visit_amount">
								<label for="visit_amount">Amount</label>
							</div>
						</div>
					</div>
				</div>
				<div class="add-popup__row --footer">
					<button data-add-evt="cancel" class="--sub">Cancel</button>
					<button data-add-evt="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
