<div class="catalog-sheet">
  <div class="catalog-sheet__wrapper">
    <div class="catalog-sheet__content">
      <div class="catalog-sheet__header">
        <div class="catalog-sheet__header-info">
          <span>1</span>
          <span class="catalog-sheet__spacer"></span>
          <span data-catalog-title><strong>Pendants up to $1000</strong></span>
        </div>
        <span>icebox.com</span>
      </div>
      <div class="catalog-sheet__grid">
        {% for i in 0..3 %}
          <div class="catalog-item">
            <div class="catalog-item__pic-wrap">
              <img alt="" src="https://cdn.prod.website-files.com/6631ecc8ac2b58c38761ff4a/6651ab724278b069798fdec8_f1.webp" />
            </div>
            <div class="catalog-item__details">
              <div class="catalog-item__title">
                0.25ctw Solitaire Stud Diamond Earrings 14k Solid Gold
              </div>
              <div class="catalog-item__subtitle">
                Item is available in yellow, white, rose colors. Made with solid 14k gold.
              </div>
              <div class="catalog-item__price">
                <span class="dollar-sign">$</span>2,890
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="catalog-sheet__footer">
        <span>3255 Peachtree Road, NE Suite #2, Atlanta, GA, 30305, USA</span>
        <span>+ 1 (404) 842 02-66</span>
      </div>
    </div>
  </div>
</div>
