<div class="catalog-sheet catalog-cover">
  <div class="catalog-cover__grid">
    <div class="catalog-cover__content">
      <div class="catalog-cover__header">
        <div class="catalog-cover__details-box">
          <div class="catalog-cover__header-box">
            <div class="catalog-cover__logo">
              {% include 'admin/svg/logo.twig' %}
            </div>
          </div>
        </div>
        <div class="catalog-cover__contacts">
          <div class="catalog-cover__header-box">
            <div class="catalog-cover__spot-heading">
              Visit Our Website:
            </div>
            <div class="catalog-cover__spot-subheading">
              www.icebox.com
            </div>
          </div>
          <div class="catalog-cover__spot-row">
            <div class="catalog-cover__spot-heading">
              Our Address:
            </div>
            <div class="catalog-cover__spot-subheading">
              3255 Peachtree Road<br />NE Suite #2<br />Atlanta, GA
            </div>
          </div>
          <div class="catalog-cover__spot-row">
            <div class="catalog-cover__spot-heading">
              Call Us:
            </div>
            <div class="catalog-cover__spot-subheading">
              (404) 842 0266
            </div>
          </div>
          <div class="catalog-cover__spot-row">
            <div class="catalog-cover__spot-heading">
              Email Us:
            </div>
            <div class="catalog-cover__spot-subheading">
              orders@icebox.com<br />
            </div>
          </div>
        </div>
      </div>
      <div class="catalog-cover__sub-wrap">
        <h3 class="catalog-cover__xs-typo">Catalog</h3>
        <div class="catalog-cover__ghost-typo">
          Catalog
        </div>
      </div>
    </div>
    <div class="catalog-cover__footer">
      <div data-catalog-title class="catalog-cover__collection-name">
        Vintage Diamond<br />Engagement Rings
      </div>
      <div class="catalog-cover__footer-spacer"></div>
      <div class="catalog-cover__ss">
        SS 2024 - 2025
      </div>
      <div class="catalog-cover__items-count">
        <span data-catalog-items-count>38</span> items in the collection
      </div>
    </div>
  </div>
</div>
