<div class="catalog-sheet catalog-contacts">
	<div class="catalog-sheet__wrapper">
		<div class="catalog-cover__logo">
			{% include "admin/svg/logo.twig" %}
		</div>
		<div class="catalog-cover__contacts">
			<div class="catalog-cover__header-box">
				<div class="catalog-cover__spot-heading">Visit Our Website:</div>
				<div class="catalog-cover__spot-subheading">www.icebox.com</div>
			</div>
			<div class="catalog-cover__spot-row">
				<div class="catalog-cover__spot-heading">Our Address:</div>
				<div class="catalog-cover__spot-subheading">3255 Peachtree Road<br>NE Suite #2<br>Atlanta, GA</div>
			</div>
			<div class="catalog-cover__spot-row">
				<div class="catalog-cover__spot-heading">Call Us:</div>
				<div class="catalog-cover__spot-subheading">(404) 842 0266</div>
			</div>
			<div class="catalog-cover__spot-row">
				<div class="catalog-cover__spot-heading">Email Us:</div>
				<div class="catalog-cover__spot-subheading">orders@icebox.com<br></div>
			</div>
		</div>
	</div>
</div>