<form id="frm_date">
<div class="am_flex8">
    <div class="am-select-wrap to-extend">
        <input  name="date_from" type="text" value="{{ date_from }}" class="am-input datepicker" id="datepicker_from" placeholder="Start Date">
    </div>
    <div class="am-select-wrap to-extend">
        <input data-date-end-date="0d" name="date" type="text" value="{{ date }}" class="am-input datepicker" id="datepicker" placeholder="End Date">
    </div>
</div>
</form>