<div class="g-tip">
	<div class="g-tip__box">
		<div class="g-tip__queries">
			<a>Contract</a>
			<a>Wiki</a>
			<a>Sportrac</a>
			<a>Instagram</a>
			<a>Twitter</a>
			<a>TikTok</a>
		</div>
		<div class="g-tip__form">
			<input class="g-tip__input" type="text" placeholder="Find anything...">
			<button data-evt="submitGoogleTip"></button>
		</div>
	</div>
</div>
