<div class="i-modal">
  <div data-imodal-close class="i-modal__backdrop"></div>
  <div class="i-modal__container">
    <button data-imodal-close class="i-modal__close-btn"></button>
    <div class="i-modal__slide-handler"></div>
    <div class="i-modal__wrapper">
      <h4></h4>
      <div class="i-modal__content">
        {{ content }}
      </div>
    </div>
  </div>
</div>
