<div
	class="am-item">

	{# Card Overlay #}
	<div class="am-item__over">
		<span>IN STOCK</span>
		<span>Order #171190</span>
		<span>$1,650.00 (1)</span>
	</div>

	<div class="am-item__body">
		<div
			class="am-item__row">

			<!-- #region ITEM : TOP -->
			<div class="am-item__main">

				<div class="am-item__pic-wrap">
					<img src="./assets/item-sample.webp" loading="eager" alt="">
					<button class="am-zoom-btn"></button>
				</div>

				<div class="am-item__main-details">
					<h4 class="am-item__title">Flower Diamond Ring 14k Solid Gold 0.50ctw</h4>
					<div class="am-item__options">
						<div>QTY:
							<span>1</span>
						</div>
						<div>GC:
							<span>White</span>
						</div>
						<div>Order:
							<span>1680</span>
						</div>
					</div>
				</div>

				<div class="am-item__main-spot">

					<div class="am-item__td-controls">
						<button class="am-item__td-btn">
							{% include "admin/svg/icon_print.svg" %}
						</button>
						<button class="am-item__td-btn">
							{% include "admin/svg/icon_clip.svg" %}
						</button>
						<button class="am-item__td-btn">
							{% include "admin/svg/icon_appraisal.svg" %}
						</button>
						<button class="am-item__td-btn">SEND TO SAKS</button>
					</div>

					<div class="am-item__spot-details">
						<div>
							<span>January 05, 2024</span>
							{% include "admin/svg/icon_date.svg" %}
						</div>
						<div>
							<span>R#: 002-100629-001</span>
							{% include "admin/svg/icon_doc.svg" %}
						</div>
						<div>
							<span>PO: 001-03975</span>
							{% include "admin/svg/icon_num.svg" %}
						</div>
						<div>
							<span>Style: DP-CRUHS</span>
							{% include "admin/svg/icon_docs.svg" %}
						</div>
					</div>

				</div>
			</div>
			<!-- #endregion ITEM : TOP -->

			<div class="am-item__details">
				<div class="am-item__details-row">
					<span class="am-item__color-tag">In Stock - Ships Today!</span>
					<span class="am-item__color-tag tag_blue">Blanket Ship Date: 1 Day</span>
				</div>
				<div class="am-item__details-row">
					<a href="#" class="am-item__link">#131090</a>
					<a href="#" class="am-item__link">Stripe</a>
					<a href="#" class="am-item__link">@yandel_978</a>
				</div>

				<div class="am-item__details-row">
					<span class="am-item__saks-tag">
						{% include "admin/svg/icon_ship.svg" %}
						<span>Ship To Store</span>
					</span>
					<span class="am-item__saks-tag">
						{% include "admin/svg/icon_star.svg" %}
						<span>SAKS Phipps</span>
					</span>
				</div>

				<div class="am-item__details-row to_space">
					<div class="flex-row_8">
						<span class="am-item__tag">01/06/2024 12:04 AM</span>
						<span class="am-item__tag">Edge Sync: Yes</span>
						<span class="am-item__tag">YANDELR272@GMAIL.COM (4)</span>
					</div>
					<div class="am-item__price-wrap">
						<div class="am-item__price">
							<span class="off-price">60% OFF</span>$1,650.00
						</div>
					</div>
				</div>

				<div class="am-item__details-row to_space">
					<button class="am-item__btn">Export To Asana</button>
					<div class="am-item__price-wrap">
						<div class="am-item__price for_cost">Price: $1,650.00<span>Cost: $753.56</span>
						</div>
					</div>
				</div>

				<div class="am-item__details-row to_end">
					<div class="flex-row_8">
						<button class="am-item__btn is-green">Accept</button>
						<button class="am-item__btn is-yellow">Deny</button>
					</div>
				</div>

				<div class="am-item__details-row to_end">
					<div class="flex-row_8">
						<button class="am-item__btn is-green">
							{% include "admin/svg/icon_box.svg" %}
						</button>
						<button class="am-item__btn is-blue">STM</button>
					</div>
				</div>
				<div class="am-item__details-row to_end">
					<div class="flex-row_8">
						<button class="am-item__btn is-green">Item Received?</button>
						<button class="am-item__btn is-red">Remove</button>
					</div>
				</div>
        
				<div class="am-item__details-row">
					<div class="am-item__note-wrap">
						<div class="am-item__note-form">
							<input class="am-note-input" autocomplete="off" placeholder="New note here..." type="text" id="new_note_{{itemID}}">
							<button data-am-evt="submitNote" onclick="addNotes({{itemID}})">Add</button>
						</div>
						<div class="am-item-note">
							<div>
								<span>Skylar</span>: Larry - In stock item. Transferred from Phipps to Showroom 1/3/24. SKU# 170-02418. Client Jared Levinson
							</div>
							<div>10.01.2024, 15:50:47</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
