<div class="orders-modal">
	<div class="orders-modal__wrapper">
		<div class="orders-modal__header">
			<h3>
				All Orders From
				<span id="orders_modal_from">YANDELR272@GMAIL.COM</span>
			</h3>
			<button class="orders-modal__close-btn" onclick="window.ordersModal.close()"></button>
		</div>
		<div class="orders-modal__body">
			<div id="orders_modal_list" class="orders-modal__list">
      </div>
		</div>
	</div>
</div>
