<div class="am-today__top-arrows is-visible">
	<button>
		{% include "admin/svg/icon_arrow-prev.svg" %}
		<span>Prev</span>
	</button>
	<button>
		<span>Next</span>
		{% include "admin/svg/icon_arrow-next.svg" %}
	</button>
</div>
