{# Pagination #}
<div class="pg-pag">
	<div class="pg-pag__wrapper">
		<div class="pg-pag__container">
			<span class="pg-pag__sum">Showing
				<span>49 - 68</span>
				out of 1020</span>
			<div class="pg-pag__group">
				<button>
					<span>Prev</span>
				</button>
				<button>1</button>
				<button>2</button>
				<button class="is-active">3</button>
				<button>4</button>
				<button>5</button>
				<button>
					<span>Next</span>
				</button>
			</div>
		</div>
	</div>
</div>
