<div class="am-page-controls">
	<div class="am-pagination">
		<button>
			<svg width="12" height="12" viewbox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10 1L2 9L10 17" stroke="currentColor" stroke-width="3"></path>
			</svg>
		</button>
		<button>1</button>
		<button class="is-active">2</button>
		<button>3</button>
		<button>4</button>
		<button>5</button>
		<button>...</button>
		<button>32</button>
		<button>
			<svg width="12" height="12" viewbox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L9 9L1 17" stroke="currentColor" stroke-width="3"></path>
			</svg>
		</button>
	</div>

	<div class="am-select-wrap">
		<select class="am-select" id="perPage">
			<option value="50" selected="">50 Enrties</option>
			<option value="100">100 Enrties</option>
			<option value="250">250 Enrties</option>
			<option value="500">500 Enrties</option>
			<option value="1000">1,000 Enrties</option>
		</select>
	</div>
</div>
