<div class="sms-preview --empty">
	<div class="sms-preview__main">
		<div class="sms-preview__info">
			<div class="sms-preview__title">
				<div class="sms-preview__name">Name</div>
				<div class="sms-preview__spot">Tab</div>
			</div>
			<div class="sms-preview__date">Date</div>
		</div>
		<div class="sms-preview__msg-content">
			<p class="sms-preview__msg">Text</p>
			<p class="sms-preview__msg">Text</p>
			<div class="sms-preview__sent-group">
				<span></span>
			</div>
		</div>
		<div class="sms-preview__footer">
			<span class="sms-tag">Tag</span>
			<span class="sms-tag">Tag</span>
		</div>
	</div>
</div>
