<div class="sms-modal">
	<div
		class="sms-modal__wrapper">

		{# Header #}
		<div class="flex_col --12">
			<h2>Send new SMS.
				<span>Select a whale and fill in the fields below.</span>
			</h2>
			<div class="toggle-radio-bar">
				<label class="custom-radio">
					<input type="radio" name="new_sms_type" value="single" checked onchange="window.sms.toggleSMSType()">
					<span>Single</span>
				</label>
				<label class="custom-radio">
					<input type="radio" name="new_sms_type" value="bulk" onchange="window.sms.toggleSMSType()">
					<span>Bulk</span>
				</label>
			</div>
		</div>

		{# Single Form #}
		<form action="post" id="new_sms_single">
			<div class="sms-modal__input-grid">
				<div class="flex_col --8">
					<select class="select2" id="sms_single_whale"></select>
					<div class="sms-modal__group-list">
						Send to:
						<span>Khalif Malik Ibn Shaman Brown (Swae Lee)</span>
						<span>Travis Scott</span>
						<span>Andrew Shommerseck (Allure Not Today)</span>
					</div>
				</div>
				<div class="flex_col --8">
					<input type="text" id="sms_phone" class="board__input --blank" placeholder="Phone number" disabled>
					<label class="custom-checkbox">
						<input type="checkbox" value="sms_phone_manual" onchange="sms_phone.disabled = !this.checked; sms_phone.value = ''">
						<span>Manual phone number</span>
					</label>
				</div>
				<textarea id="single_sms_msg" class="board__input --blank" placeholder="Type your message..."></textarea>
				{% include "admin/components/custom/custom-upload.twig" %}
				<div class="toggle-radio-bar --min">
					<label class="custom-radio --green">
						<input type="checkbox" name="new_sms_mms" onchange="window.sms.toggleMMSMode(event)">
						<span>Enable MMS</span>
					</label>
				</div>
			</div>
		</form>

		{# Bulk Form #}
		<form action="post" id="new_sms_bulk">
			<div class="sms-modal__input-grid">
				<div class="flex_col --8">
					<select class="select2" id="sms_bulk_whale"></select>
					<div class="sms-modal__group-list">
						Send to:
						<span>Khalif Malik Ibn Shaman Brown (Swae Lee)</span>
						<span>Travis Scott</span>
						<span>Andrew Shommerseck (Allure Not Today)</span>
					</div>
				</div>
				<div class="flex_col --8">
					<input type="text" id="sms_phone" class="board__input --blank" placeholder="Phone number" disabled>
					<label class="custom-checkbox">
						<input type="checkbox" value="sms_phone_manual" onchange="sms_phone.disabled = !this.checked; sms_phone.value = ''">
						<span>Manual phone number</span>
					</label>
				</div>
				<textarea id="bulk_sms_msg" class="board__input --blank" placeholder="Type your message..."></textarea>
				{% include "admin/components/custom/custom-upload.twig" %}
				<div class="toggle-radio-bar --min">
					<label class="custom-radio --green">
						<input type="checkbox" name="new_sms_mms" onchange="window.sms.toggleMMSMode(event)">
						<span>Enable MMS</span>
					</label>
				</div>
			</div>
		</form>

		{# Footer #}
		<div class="am_flex8">
			<button class="sms-viewer__btn --grey" onclick="window.sms.closeSMSModal()">
				<span>Cancel</span>
			</button>
			<button class="sms-viewer__btn" onclick="window.sms.sendNewSMS()">
				<span>Send</span>
				{% include "admin/svg/board-icon_send.svg" %}
			</button>
		</div>

	</div>
</div>
