<div class="board-toolbar">
	<a href="#" class="board-toolbar__btn --active">
		{% include "admin/svg/board-icon_home.svg" %}
		<span>All SMS</span>
	</a>
	<a href="#" class="board-toolbar__btn">
		{% include "admin/svg/board-icon_star.svg" %}
		<span>Starred</span>
	</a>
	<a href="#" class="board-toolbar__btn">
		{% include "admin/svg/board-icon_cancel.svg" %}
		<span>Trash</span>
	</a>
	<a href="#" class="board-toolbar__btn">
		{% include "admin/svg/board-icon_msg-time.svg" %}
		<span>24H</span>
	</a>
	<button class="board-toolbar__btn --filled" onclick="window.sms.toggleMenu()">
		{% include "admin/svg/board-icon_menu.svg" %}
		<span>Menu</span>
	</button>
</div>
