<div class="swiper">
	<div class="swiper__backdrop"></div>
	<div class="swiper__container">
		<div class="swiper__header">
			<img src="{{ THEME_ASSETS_FOLDER }}/swiper-logo.svg" alt="" class="swiper__logo">
		</div>
		<div class="swiper__cards"></div>
		<div class="swiper__footer">
			<button class="am-item__btn">
				{% include "admin/svg/icon_arrow-prev.svg" %}
			</button>
			<button class="am-item__btn">
				{% include "admin/svg/icon_arrow-next.svg" %}
			</button>
		</div>
	</div>
	<div data-swiper-evt="prevCard" class="swiper__side-arrow --left">
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 40 40" width="12" height="12" focusable="false">
			<path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z" stroke="currentColor"></path>
		</svg>
	</div>
	<div data-swiper-evt="nextCard" class="swiper__side-arrow --right">
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 40 40" width="12" height="12" focusable="false">
			<path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z" stroke="currentColor"></path>
		</svg>
	</div>
	<div class="swiper__stash"></div>
	<button data-swiper-evt="close" class="am-close-btn">
		{% include "admin/svg/icon_cross.svg" %}
	</button>
	<div class="swipe-modal__load">
		<span>You&#x27;ve reached the end of list.</span>
		<button data-swiper-evt="loadMore" class="swipe-modal__load-btn">
			<svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12 5.45455V8.72727L16.5 4.36364L12 0V3.27273C7.0275 3.27273 3 7.17818 3 12C3 13.7127 3.5175 15.3055 4.395 16.6473L6.0375 15.0545C5.53125 14.1491 5.25 13.1018 5.25 12C5.25 8.38909 8.27625 5.45455 12 5.45455ZM19.605 7.35273L17.9625 8.94545C18.4575 9.86182 18.75 10.8982 18.75 12C18.75 15.6109 15.7237 18.5455 12 18.5455V15.2727L7.5 19.6364L12 24V20.7273C16.9725 20.7273 21 16.8218 21 12C21 10.2873 20.4825 8.69455 19.605 7.35273Z" fill="currentColor"></path>
			</svg>
			<span>Load More Cards</span>
		</button>
	</div>
</div>
