<div class="toolbar">
	<div class="toolbar__wrapper">
		<div class="toolbar__container">
			<div class="toolbar__btn-group">
				<button class="toolbar-btn">
					{% include "admin/svg/icon_sort.svg" %}
					<span>Sort</span>
				</button>
				<button class="toolbar-btn">
					<div data-lottie="diamondSpin"></div>
					<span>
						<span data-id="pts">{{user.pts}}</span>
						POINTS</span>
				</button>
			</div>
		</div>
	</div>
</div>
