$black: #202124;
$black-ghost-30: rgba(32, 33, 36, 0.3);
$black-ghost-50: rgba(32, 33, 36, 0.5);
$red: #cb3148;
$font-family: "TSans", sans-serif;
$base-font-size: 16px;
$base-letter-spacing: -0.1px;
$base-line-height: 20px;
