<div class="modal-view__main">
  {# Header #}
  <div class="modal-view__header">
    <h4 class="line-clamp-1"><strong>Royal Oak</strong></h4>
    <p class="text-xs line-clamp-1 opacity-50">
      Audemars Piguet Ss 18.48ctw Fg/vs Chrono White Dial - Nc
    </p>
    <button class="modal-view__close-btn"></button>
  </div>

  {# Item #}
  <div class="modal-view__item">
    <div class="modal-view__pic-wrap">
      <img src="https://cdn.prod.website-files.com/67f32f50f2c378bfbd2ec87a/684636198225cafe7ed0ba21_ca248cb603a3a695cc256d62e5438d5c.webp" alt="" />
    </div>
    <div class="modal-view__details">
      {# Description #}
      <div class="modal-view__description-wrap">
        <span class="modal-view__description">Pre-owned 2017 Audemars Piguet Royal Oak in stainless steel, recently refreshed with 19 carats. Pre-owned 2017 Audemars Piguet Royal Oak in stainless steel, recently refreshed with 19 carats</span>
        <span class="modal-view__description-more">Show more</span>
      </div>

      {# Price #}
      <div class="modal-view__price">
        <div class="flex flex-wrap flex-center gap-12">
          <span class="text-lg"><strong>Price: $ 10,000</strong></span>
          <span class="text-xs font-bold text-green">14% less MSRP</span>
        </div>
        <span class="text-xs opacity-70">MSRP: $ 12,000</span>
      </div>

      {# Specs #}
      <div class="modal-view__specs">
        <div class="modal-view__spec --material">
          Stainless Steel
        </div>
        <div class="modal-view__spec --papers">
          With Papers
        </div>
        <div class="modal-view__spec --box">
          Box
        </div>
        <div class="modal-view__spec --condition">
          Excellent condition
        </div>
      </div>

      {# Disclaimer #}
      <div class="modal-view__disclaimer text-center flex flex-col gap-12">
        <span class="text-xs font-bold">Spotted the same watch in similar condition elsewhere? Give us a ring, and let's work out a great deal for you</span>
        <a class="text-xl underline" href="tel:770-584-1378" target="_blank">770-584-1378</a>
      </div>
    </div>
  </div>

  {# Footer #}
  <div class="modal-view__footer">
    <button class="btn --green">
      {% include 'icons/whatsapp.svg' %}
      <span>WhatsApp</span>
    </button>
    <button class="btn --black">
      {% include 'icons/phone.svg' %}
      <span>Call Us Now</span>
    </button>
  </div>
</div>
