<div class="subpage --grey">
  <div class="contact-area">
    <div class="contact-area__grid shadow-lg">
      <div class="flex-col flex-center max-w-480 text-center px-default py-48 gap-12 border-b">
        <h1 class="text-xl font-medium">Experience Luxury Service</h1>
        <p class="text-sm max-w-320">
          Our expert team is ready to assist you with all your luxury jewelry and timepiece needs.
        </p>
      </div>
      <div class="grid-2 gap-12 px-default py-48">
        {# Call Us Now #}
        <div class="contact-box">
          <div class="flex-between gap-12 mb-16">
            <h3>Call Us Now</h3>
            {% include 'icons/phone-2.svg' %}
          </div>
          <p class="text-sm">
            Call us <a class="underline font-bold" href="tel:770-584-1378">770-584-1378</a> and speak with our knowledgeable sales and support team who can help you find the perfect piece.
          </p>
          <a href="tel:770-584-1378" class="btn">Call Us Now</a>
        </div>

        {# Our Location #}
        <div class="contact-box">
          <div class="flex-between gap-12 mb-16">
            <h3>Visit Our Store</h3>
            {% include 'icons/route.svg' %}
          </div>
          <p class="text-sm">
            Experience the epitome of luxury at our Flagship Showroom in Atlanta. Enjoy full concierge services.
          </p>
          <a href="https://maps.app.goo.gl/52ePS7SDMcePmNL16" target="_blank" class="btn">Open Google Maps</a>
        </div>

        {# WhatsApp #}
        <div class="contact-box">
          <div class="flex-between gap-12 mb-16">
            <h3>Chat us on WhatsApp</h3>
            {% include 'icons/whatsapp.svg' %}
          </div>
          <p class="text-sm">
            For quick questions or inquiries, message us on WhatsApp! We'll reply instantly during business hours.
          </p>
          <a href="https://wa.me/17705841378" target="_blank" class="btn">Chat on WhatsApp</a>
        </div>

        {# Email #}
        <div class="contact-box">
          <div class="flex-between gap-12 mb-16">
            <h3>Email Us</h3>
            {% include 'icons/email.svg' %}
          </div>
          <p class="text-sm">
            If you prefer to communicate via email, we're always ready to help. Send us a message with your questions or requests.
          </p>
          <a href="mailto:info@swisswatch.com" target="_blank" class="btn">Email Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
