<div class="tabs-wrapper">
		<div class="splide home-categories-splide">
				<div class="splide__track">
					<div class="splide__list">
						<a class="splide__slide" href="/results/gold-chains">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/banners/result_banner-gold-chains.webp" loading="lazy" alt="Gold Chains"></div>
							<span>Gold Chains</span>
						</a>
						<a class="splide__slide" href="/results/pendants">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-pendants.webp" loading="lazy" alt="Pendants"></div>
							<span>Pendants</span>
						</a>
						<a class="splide__slide" href="/results/necklaces">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-necklaces.webp" loading="lazy" alt="Necklaces"></div>
							<span>Necklaces</span>
						</a>
						<a class="splide__slide" href="/results/earrings">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-earrings.webp" loading="lazy" alt="Earrings"></div>
							<span>Earrings</span>
						</a>
						<a class="splide__slide" href="/results/rings">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-rings.webp" loading="lazy" alt="Rings"></div>
							<span>Rings</span>
						</a>
						<a class="splide__slide" href="/results/bracelets">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-bracelets.webp" loading="lazy" alt="Bracelets"></div>
							<span>Bracelets</span>
						</a>
						<a class="splide__slide" href="/results/watches">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-watches.webp" loading="lazy" alt="Watches"></div>
							<span>Watches</span>
						</a>
						<a class="splide__slide" href="/results/custom">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-custom.webp" loading="lazy" alt="Custom"></div>
							<span>Custom</span>
						</a>
						<a class="splide__slide" href="/results/accessories">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-acc.webp" loading="lazy" alt="Accessories"></div>
							<span>Accessories</span>
						</a>
						<a class="splide__slide" href="/results/travel-cases">
							<div class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/tab-cases.webp" loading="lazy" alt="Travel Cases"></div>
							<span>Travel Cases</span>
						</a>
					</div>
				</div>
		</div>

</div>
