<div class="tabs-wrapper">
	<div class="wrapper">
		<h2 class="home-row__heading">
			Shop By Category
			<span>Luxurious style and impeccable workmanship.</span>
		</h2>
		<a href="/all" class="home-row-btn">
			<span>Shop Popular</span>
			{% include "components/svg/arrow-next.svg" %}
		</a>
	</div>
	<div class="wrapper">
		<div class="categories-tabs">

			<a href="/results/gold-chains">
				<div class="smart-picture">
					<img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/banners/result_banner-gold-chains.webp" loading="lazy" alt="Gold Chains"></div>
				<span>Gold Chains</span>
			</a>
			<a href="/results/pendants">
				<div class="smart-picture">
					<img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/avif/tab-pendants.avif" loading="lazy" alt="Pendants"></div>
				<span>Pendants</span>
			</a>
			<a href="/results/necklaces">
				<div class="smart-picture">
					<img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/banners/result_banner-necklaces.webp" loading="lazy" alt="Necklaces"></div>
				<span>Necklaces</span>
			</a>
			<a href="/results/earrings">
				<div class="smart-picture">
					<img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/banners/result_banner-earrings.webp" loading="lazy" alt="Earrings"></div>
				<span>Earrings</span>
			</a>
			<a href="/results/rings">
				<div class="smart-picture">
					<img src="./assets/tab-rings.webp" loading="lazy" alt="Rings"></div>
				<span>Rings</span>
			</a>
			<a href="/results/bracelets">
				<div class="smart-picture">
					<img src="./assets/tab-bracelets.webp" loading="lazy" alt="Bracelets"></div>
				<span>Bracelets</span>
			</a>
			<a href="/results/watches">
				<div class="smart-picture">
					<img src="./assets/tab-watches.webp" loading="lazy" alt="Watches"></div>
				<span>Watches</span>
			</a>
			<a href="/results/custom">
				<div class="smart-picture">
					<img src="./assets/tab-custom.webp" loading="lazy" alt="Custom"></div>
				<span>Custom</span>
			</a>
			<a href="/results/accessories">
				<div class="smart-picture">
					<img src="./assets/tab-acc.webp" loading="lazy" alt="Accessories"></div>
				<span>Accessories</span>
			</a>
			<a href="/results/travel-cases">
				<div class="smart-picture">
					<img src="./assets/tab-cases.webp" loading="lazy" alt="Travel Cases"></div>
				<span>Travel Cases</span>
			</a>

		</div>
	</div>
</div>
