<div class="ib-search">
	<div class="ib-search__scroller">
		<div class="ib-search__logo">
			<img width="130" height="38" src="{{THEME_ASSETS_FOLDER}}logo.svg" loading="eager" alt="Icebox logotype">
		</div>
		<div class="ib-search__input-row">
			<div class="ib-search__input-wrap">
				<input data-search-input type="text" class="ib-search__input" placeholder="Search for any jewelry...">
				<button data-search-clear class="ib-search__clear-btn">Clear</button>
				<span class="ib-search__icon"></span>
			</div>
		</div>
		<div class="ib-search__main">
			<div class="ib-search__suggestions">
				<span>Popular Searches:</span>
				<a>Gold Chains</a>
				<a>Pendants</a>
				<a>Necklaces</a>
				<a>Wedding</a>
				<a>Watches</a>
			</div>
			<div class="ib-search__content">
				<div data-search-results class="ib-search__results"></div>
			</div>
		</div>
	</div>
</div>
