<option value="Rolex">Rolex</option>
<option value="Other">Other Brands</option>
<option value="Patek Philippe">Patek Philippe</option>
<option value="Audemars Piguet">Audemars Piguet</option>
<option value="Vacheron Constantin">Vacheron Constantin</option>
<option value="A. Lange & Söhne">A. Lange & Söhne</option>
<option value="Cartier">Cartier</option>
<option value="Omega">Omega</option>
<option value="Jaeger-LeCoultre">Jaeger-LeCoultre</option>
<option value="IWC">IWC</option>
<option value="Breguet">Breguet</option>
<option value="Panerai">Panerai</option>
<option value="Hublot">Hublot</option>
<option value="Breitling">Breitling</option>
<option value="Tag Heuer">Tag Heuer</option>
<option value="Chopard">Chopard</option>
<option value="Blancpain">Blancpain</option>
<option value="Piaget">Piaget</option>
<option value="Ulysse Nardin">Ulysse Nardin</option>
<option value="Zenith">Zenith</option>
<option value="Girard-Perregaux">Girard-Perregaux</option>
<option value="Richard Mille">Richard Mille</option>
<option value="Franck Muller">Franck Muller</option>
<option value="Tudor">Tudor</option>
<option value="Montblanc">Montblanc</option>
<option value="Bvlgari">Bvlgari</option>
<option value="Roger Dubuis">Roger Dubuis</option>
<option value="Glashutte Original">Glashutte Original</option>
<option value="Longines">Longines</option>
<option value="Grand Seiko">Grand Seiko</option>
<option value="Van Cleef & Arpels">Van Cleef & Arpels</option>