# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos


node_modules/
data-backup/
dev/
dev-sw/
luminous/
sw/
backup/
backup/
notes.txt
package-lock.json
not-installed.txt
.vscode/
.idea/
sw_1.css
sw_2.css
sw_1.html
sw.js

generateUnusedCss.js
purgecss.config.js
unused/
utils/

style_scss_css.js
style_css_scss.js
style_unused.js
style_addmixin.js
blobCSS/