.spring-bg {
  /* Настройка размеров страницы для наглядности */
  margin: 0;
  height: 100vh;

  /* Сам градиент */
  background: linear-gradient(
    135deg,
    #e195da 0%,
    #837cda 33%,
    #a3d5f4 66%,
    #e9f3f6 100%
  );

  /* Увеличиваем размер «полотна» градиента, 
     чтобы была возможность плавно двигать его */
  background-size: 400% 400%;

  /* Привязываем анимацию к фону */
  animation: gradientShift 15s ease infinite;
}

/* Ключевые кадры анимации: 
   мы двигаем позицию фона по горизонтали и вертикали, 
   чтобы создавалось впечатление «текущего» градиента */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
