<a href="/" class="vday-top-banner">
	<span>Join <span>Valentine's</span> Sale. <span>Ends in <span data-vday-timer="days">∞</span> days <span data-vday-timer="hours">∞</span> hours</span></span>
</a>
