<div class="rating-bar">
	<span class="rating-bar__heading">Excellent</span>
	<div class="rating-bar__stars"></div>
	<span class="rating-bar__typo">
		<strong>4.9</strong>
		out of 5 based on
		<strong>1,017 reviews</strong>
	</span>
	<div class="rating-bar__logo"></div>
</div>