<a href="{{link.href}}" class="nopage-link smart-picture">
	<div>
		<img src="{{link.src}}" alt="">
		<span>{{link.count}}</span>
	</div>
	<div>
		<div>{{link.heading}}</div>
		<span>Shop Now</span>
	</div>
</a>
