<div>
  <h4 class="subtitle --border-b">Shipping & Returns</h4>
  <div class="product__legal-row">
    <h5>Return & Exchange</h5>
    <p>
      Swisswatches.com do not offer any exchanges, but customers can return their purchase within a specified period if it meets the return criteria.
    </p>
    <a href="/shipping-policy">Learn more ></a>
  </div>
  <div class="product__legal-row">
    <h5>Shipping & Delivery</h5>
    <p>
      Each item comes with specific delivery conditions tailored to ensure safe and timely arrival. For detailed information reach out to our customer service team.
    </p>
    <a href="/shipping-policy">Learn more ></a>
  </div>
</div>
