<div class="product-content">
  <div class="product__main-wrapper">
    {% include 'ui/product/product-view.twig' with {
      media_elements: product.item.media.elements
    } %}
    <div class="product__side"></div>
  </div>
</div>
