<div class="product__side">
  <div data-sticky data-sticky-rule="header" data-sticky-offset="24" data-sticky-mobile="false" class="product__side-main">
    {% include 'ui/product/product-main-info.twig' %}
    {% include 'ui/product/product-btn-group.twig' %}
    {% include 'ui/product/product-specs.twig' %}
  </div>
</div>
