<div class="product__spot-box">
  <div>
    <h4 class="subtitle mb-8">We have the best deal for you.</h4>
    <p class="w-max-480">
      Spotted the same watch in similar condition elsewhere? Give us a ring, and let's work out a great deal for you.
    </p>
  </div>

  <div>
    <div class="font-bold text-black-400">
      Call us now:
    </div>
    <a class="text-42" href="tel:770-584-1378">770-584-1378</a>
  </div>
</div>
