<div class="product-content">
  {# Main Content -- Gallery + Information #}
  <div class="product__main-wrapper">
    {% include 'ui/product/product-view.twig' %}
    {% include 'ui/product/product-side.twig' %}
  </div>

  {# Section -- More details #}
  {% include 'ui/product/product-more.twig' %}
</div>
