<div class="product__section">
  <div class="product__wrapper">
    <div class="product__double-grid">
      {% include 'ui/product/product-info-details.twig' %}
      {% include 'ui/product/product-info-legal.twig' %}
      {% include 'ui/product/product-info-deal.twig' %}
    </div>
  </div>
</div>
