{% extends 'layouts/layout_checkout.twig' %}
{% set pageBanner = true %}
{% set bodyClass = 'body_checkout' %}
{% set mainClass = 'main_checkout' %}

{% set checkoutStep = 2 %}

{% block content %}
	<div class="checkout-main">
		<div class="checkout-main__wrapper">
			<div class="checkout-content">
				{% include "components/checkout/progress.twig" %}
				<section id="checkoutDeliveryBlock">
					<form method="post" action="/checkout-step3" class="checkout-edit" id="checkoutFrm">
						{% include "components/checkout/2_step.twig" %}
					</form>
				</section>
			</div>
			{% include "components/checkout/summary.twig" %}
		</div>
		{% include "components/checkout/floating-button.twig" %}
		{% include "components/checkout/summary-mobile.twig" %}
	</div>
{% endblock %}
