{# templates/index.twig #}
{% extends 'layouts/default.twig' %}
{% set topBanner = {
  text: '<span>Call <a href="tel:+14048420266">404-842-0266</a> For Live Support</span>'
} %}

{% block include_head %}
  {# Styles / preload scripts / etc... #}
{% endblock %}

{% block content %}
  {% include './page-content/index-old.twig' %}
{% endblock %}

{% block include_script %}
  <script>
    var homepage = true;
  </script>
  {# Scripts / etc... #}
{% endblock %}
