.bf-text__box {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bf-text__box.is-top {
  margin-bottom: 18px;
}

.bf-text__box.is-bottom {
  margin-top: 18px;
}

.dm-canvas-bf {
  background-color: #010407;
  width: 100%;
  height: 100%;
}

.dm-canvas-bf.is-right {
  transform-style: preserve-3d;
  margin-left: 30%;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
}

.dm-canvas-bf.is-left {
  margin-left: -30%;
}

.bf-subtext {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: #ff212c;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(66deg, #5c3b40, #ffa1af 52%, #ff2125);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0 0 12px 0;
}

.bf-subtext.is-bigger {
  font-size: 52px;
  line-height: 52px;
  margin: 12px 0 0 0;
}

.bf-ticker__divider {
  background-color: #fff;
  border-radius: 50px;
  width: 5px;
  height: 5px;
}

.bf-ticker-row {
  z-index: 3;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ff6b6d33;
  border-bottom: 1px solid #c34852;
  width: 100vw;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}

.bf-background__over {
  z-index: 2;
  background-image: linear-gradient(90deg, #01040700, #010407);
  position: absolute;
  inset: 0% 30% 0% 40%;
}

.bf-background__over.is-flipped {
  background-image: linear-gradient(270deg, #01040700, #010407);
  left: 30%;
  right: 40%;
}

.bf-banner {
  background-color: #f6f7fa;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.bf-banner__wrapper {
  color: #fff;
  background-color: #060911;
}

.bf-text-img {
  z-index: 5;
  filter: hue-rotate(170deg) contrast(143%) brightness(0.8);
  height: 150px;
  margin-top: -20px;
  margin-bottom: -20px;
  position: relative;
}

.bf-text-img.is-top {
  filter: hue-rotate(170deg) contrast(143%) grayscale(1);
  height: 110px;
  margin-top: -15px;
  margin-bottom: -9px;
}

.bf-ticker-wrap {
  width: 100%;
  display: flex;
}

.bf-ticker__spot-typo {
  color: #ff5361;
}

.bf-ticker {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  animation: bfticker 18s linear infinite;
  font-family: 'Bebas Neue', sans-serif;
}

.bf-background {
  z-index: 1;
  background-color: #010407;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.bf-text {
  z-index: 2;
  color: #fff;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 74px;
  padding-bottom: 32px;
  display: flex;
  position: relative;
}

.bf-background__side {
  background-color: #010407;
  width: 50%;
  position: relative;
}

@media screen and (max-width: 479px) {
  .bf-text__box.is-bottom {
    margin-top: -5%;
  }

  .bf-subtext {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 6vw;
    line-height: 34px;
  }

  .bf-subtext.is-bigger {
    flex-flow: row;
    font-size: 46px;
    line-height: 46px;
    display: block;
  }

  .bf-text-img {
    width: 90%;
    height: auto;
    margin: -12px auto 36px;
  }

  .bf-text-img.is-top {
    width: 60%;
    height: auto;
    margin-top: 2px;
    margin-bottom: -16px;
  }

  .bf-text {
    align-items: stretch;
    padding-top: 92px;
    padding-bottom: 54px;
  }
}


@keyframes bfticker {
  to {
    transform: translateX(-100%);
  }
}

.bf-top-banner__img-wrap {
  cursor: pointer;
  transition: all .2s;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.bf-top-banner__img-wrap:hover {
  opacity: .5;
}

.bf-top-banner__timer {
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 4px;
  padding-bottom: 2px;
  display: flex;
  position: relative;
}

.bf-top-banner__divider {
  margin-top: -2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 400;
}

.bf-top-banner__timer-head {
  color: #fe98ae;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
}

.bf-top-banner {
  color: #fff;
  background-color: #12161b;
  background-image: linear-gradient(75deg, #03080f, #03080f 25%, #c6000340 53%, #03080f 71%, #03080f);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-right: 22px;
  display: flex;
}

.bf-top-banner__digits {
  justify-content: center;
  align-items: center;
  display: flex;
}

.bf-top-banner__digit {
  font-size: 18px;
  font-weight: 600;
}

.bf-top-banner__digit.sec {
  opacity: .5;
}

.bf-top-banner__img {
  height: 38px;
  display: block;
}

@media screen and (max-width: 479px) {
  .bf-top-banner__img-wrap {
    margin-right: 10%;
    left: auto;
    transform: none;
  }

  .bf-top-banner__timer {
    flex: none;
    justify-content: center;
    align-items: flex-end;
  }

  .bf-top-banner__divider {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
  }

  .bf-top-banner__timer-head {
    font-size: 10px;
  }

  .bf-top-banner {
    align-items: stretch;
    padding-right: 12px;
  }

  .bf-top-banner__img {
    width: 240px;
    height: 100%;
  }
}

/* #region Product Card */
.product-card {
  &.--bfs {
    .product-card__colors {
      display: none;
    }

    .product-card__shipping-tag {
      display: none;
    }

    .product-card__price {
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(81deg, #000, #cc4e56);
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}

.product-card__bfs-group {
  justify-content: space-between;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.bfs-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .2px;
  background-color: #040a12;
  background-image: radial-gradient(circle farthest-side at 100% 0, #e51449, #800d2685 31%, #050c1500 64%);
  height: 27px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-family: Bebas Neue, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 8px;
  line-height: 18px;
  border-bottom-right-radius: 8px;
}

.bfs-sale {
  color: #fff;
    background-color: #d34e55;
    border-bottom-left-radius: 8px;
    justify-content: center;
    align-items: center;
    height: 27px;
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Bebas Neue, sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: flex;
}

/* #endregion */