.ny-dtree {
  width: 100%;
  max-width: 800px;
  position: absolute;
  bottom: 0;
}

.ny-dtree.to-reverse {
  transform-style: preserve-3d;
  top: 0;
  bottom: auto;
  transform: rotateX(180deg)rotateY(0)rotateZ(0);
}

.ny-banner__garland {
  z-index: 3;
  width: 100%;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 50%;
  right: 0%;
  transform: translate(-50%);

  &>img:first-child {
    width: 60%;
    max-width: 640px;

    @include maxWidthMd {
      width: 100%;
    }

    @include maxWidthSm {
      z-index: 5;
    }

    @include maxWidthXs {
      width: 120%;
      max-width: none;
      display: none;
    }
  }

  &>img:not(:first-child) {
    width: 40%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;

    @include maxWidthMd {
      width: 80%;

      &.to-reverse {
        display: none;
      }
    }

    @include maxWidthSm {
      z-index: 4;
      width: 100%;
    }

    @include maxWidthXs {
      width: 200%;
      max-width: none;
      left: 50%;
      transform: translate(-50%);
    }

    &.to-reverse {
      transform-style: preserve-3d;
      left: auto;
      right: 0;
      transform: rotateX(0)rotateY(180deg)rotateZ(0);
    }
  }
}

.ny-banner__content {
  z-index: 2;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ny-mtree {
  max-height: 100%;
  display: none;
  position: absolute;
  top: 50%;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: translate(0, -50%);
}

.ny-mtree.to-reverse {
  transform-style: preserve-3d;
  left: auto;
  right: 0;
  transform: rotateX(0)rotateY(180deg)rotateZ(0)translate(0, -50%);
}

.ny-banner__snow {
  z-index: 5;
  pointer-events: none;
  background-color: rgba(224, 50, 50, 0);
  transition: all .4s;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.ny-banner {
  width: 100vw;
  height: 380px;
  background-color: #050d22;
  background-image: radial-gradient(circle at 50% 100%, rgba(0, 149, 198, .06), rgba(29, 38, 53, 0) 50%), linear-gradient(270deg, rgba(2, 8, 14, .5), rgba(29, 38, 53, 0) 30%), linear-gradient(to right, rgba(2, 8, 14, .5), rgba(29, 38, 53, 0) 30%), radial-gradient(circle, #191f29, #020d14);
  position: relative;
  overflow: hidden;
}

.ny-banner__details {
  color: #f8f2e2;
  text-align: center;
  background-image: radial-gradient(circle farthest-side, rgba(253, 252, 195, .1), rgba(9, 18, 26, 0));
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.ny-decor_desktop {
  min-width: 240px;
  object-fit: cover;
}

.ny-decor_desktop.to-reverse {
  transform-style: preserve-3d;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
}

.ny-banner-title {
  width: 100%;
  max-width: 1000px;
  margin-top: -8px;
  margin-bottom: -22px;
}

.ny-banner-title.mob_view {
  display: none;
}

.ny-banner__firework {
  z-index: 20;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;

  canvas {
    width: 100vw;
    height: 100vh;
  }
}

.ny-decor_mob {
  width: 100%;
  display: none;
}

.ny-decor_mob.to-reverse {
  transform-style: preserve-3d;
  transform: rotateX(180deg)rotateY(0)rotateZ(0);
}

.ny-banner-tag {
  background-color: rgba(2, 123, 101, .34);
  display: flex;

  span {
    letter-spacing: 5px;
    -webkit-text-fill-color: transparent;
    background-color: #ebddc7;
    background-image: linear-gradient(to right, #ffedd2, #fff7ec 38%, #f1d8b2 69%, #ffeed6);
    -webkit-background-clip: text;
    background-clip: text;
    border: 1px solid #ebddc7;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 700;
    height: 100%;
    flex: 1;

    @include maxWidthXs {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      letter-spacing: 1vw;
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 3.2vw;
      line-height: 6vw;
    }
  }
}

.ny-banner-subtitle {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 28px;

  span {
    color: #40ceb6;
  }
}

@media screen and (min-width: 1440px) {
  .ny-banner {
    height: 400px;
  }

  .ny-decor_desktop {
    min-width: 280px;
  }

  .ny-banner-title {
    margin-top: -24px;
    margin-bottom: -32px;
  }
}

@media screen and (min-width: 1920px) {
  .ny-decor_desktop {
    min-width: 340px;
  }

  .ny-banner-title {
    margin-top: -26px;
    margin-bottom: -40px;
  }
}

@media screen and (max-width: 991px) {
  .ny-decor_desktop {
    max-width: 16vw;
    min-width: auto;
    object-position: 100% 50%;
  }

  .ny-banner__firework {
    pointer-events: none;
  }

  .ny-banner-subtitle {
    font-size: 2.6vw;
    line-height: 3.2vw;
  }
}

@media screen and (max-width: 767px) {
  .ny-dtree {
    width: 100%;
  }

  .ny-banner__garland {
    z-index: 4;
  }

  .ny-banner__content {
    z-index: 3;
    background-image: radial-gradient(circle, rgba(253, 252, 195, .08), rgba(253, 252, 195, 0));
    flex-direction: row;
  }

  .ny-banner {
    height: auto;
  }

  .ny-banner__details {
    background-image: none;
    padding: 88px 20px;
  }

  .ny-banner-title {
    margin-top: -6px;
    margin-bottom: -12px;
  }

  .ny-banner-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .ny-dtree {
    display: none;
  }

  .ny-banner__content {
    background-image: radial-gradient(circle, rgba(253, 252, 195, .14), rgba(253, 252, 195, 0));
    flex-direction: column;
  }

  .ny-mtree {
    max-height: 46%;
    display: block;
  }

  .ny-banner {
    height: 114vw;
    color: #fdffd4;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .ny-banner__details {
    margin-top: -10vw;
    margin-bottom: -10vw;
    padding-top: 0;
    padding-bottom: 0;
  }

  .ny-decor_desktop {
    display: none;
  }

  .ny-banner-title {
    margin-top: -2vw;
    margin-bottom: -5vw;
  }

  .ny-banner-title.desktop_view {
    display: none;
  }

  .ny-banner-title.mob_view,
  .ny-decor_mob {
    display: block;
  }

  .ny-banner-subtitle {
    font-size: 4.8vw;
    line-height: 7vw;
  }
}

a.header__sub-link.is_ny {
  padding: 3px 10px;

  .xmas-nav-link {
    background-color: #0c1a27;
    box-shadow: inset 0 0 12px 3px rgb(13 172 144 / 53%);
  }

  &:hover {
    border-color: transparent;

    .xmas-nav-link {
      color: #fff;
      background-color: #007a66;
    }
  }
}

.bfs-banner {
  &.--ny {
    background-color: #131b24;
    background-image: linear-gradient(to right, rgba(1, 97, 83, .35), rgba(16, 24, 32, 0) 50%, rgba(1, 97, 83, .35));
    min-height: unset !important;
    padding: 0;
  }

  .bfs-banner__group.to_center img {
    height: 46px;

    &.for_mobile {
      padding-right: 12px;
      height: 36px;
    }
  }

  .bfs-banner__timer-title {
    color: #fff4da;
  }

  @include maxWidthMd {
    .bfs-banner__timer {
      padding-right: 16px;
    }
  }
}

.product-card.--ny {
  .stock-dash-box {
    color: #03957c;
    background-color: rgb(13 172 144 / 3%);
    border: 1px solid #0dac90;

    &>div {
      span {
        &:nth-child(1) {
          background: linear-gradient(to right, #ffffff, #0dac90);
        }
        &:nth-child(2) {
          background: linear-gradient(to bottom, #ffffff, #0dac90);
        }
        &:nth-child(3) {
          background: linear-gradient(to left, #ffffff, #0dac90);
        }
        &:nth-child(4) {
          background: linear-gradient(to top, #ffffff, #0dac90);
        }
      }
    }
  }
}

.ny-card {
  z-index: 1;
  border: 1px solid #0cac90;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: inset 0 0 24px rgba(12, 172, 144, .1);
  pointer-events: none;

  &>div {
    align-items: center;
    padding: 2px;
    display: flex;

    img {
      width: 84px;

      @include maxWidthXs {
        width: 76px;
      }
    }
  }
}

.mob-menu__nav-item.is_ny {
  margin-bottom: 6px;
  a {
    height: 50px;
    padding: 0px;
    background-color: #0e1c29;
    display: flex;
    box-shadow: inset 0 0 38px rgba(13, 172, 144, .2);

    img {
      height: 100%;
    }
  }
}