<div class="bfs-banner --cm">

	<div class="bfs-banner__group to_left">
		<img src="./assets/pay-klarna.svg" loading="eager" alt="pay later with Klarna">
		<img src="./assets/pay-affirm.svg" loading="eager" alt="pay later with Affirm">
		<img src="./assets/pay-afterpay.svg" loading="eager" alt="pay later with Afterpay">
		<div class="bfs-banner__pay">
			<div>
				<div class="paylater-box">
					<div class="paylater-box__container">
						<div class="paylater-box__content">
							<div class="paylater-box__wrapper">
								<div class="paylater-box__row">
									<h3>Buy Now &amp; Pay Later!
									</h3>
									<p>Icebox.com is offering service through Klarna, Affirm or Afterpay.</p>
									<p>Add items to your cart and get approved during the checkout process!</p>
									<p>Approvals are fast and items are paid for instantly after your approval.</p>
								</div>
								<div class="paylater-box__row">
									<h3>Why To Use Service?</h3>
									<div class="paylater-box__features">
										<span>No Credit Score Impact</span>
										<span>Quick &amp; Easy To Follow</span>
										<span>Personal Installments Plan</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<a href="/cyber-monday" class="bfs-banner__group to_center">
		<img src="./assets/cm/banner_main-img.webp" loading="eager" alt="cyber monday cyber monday badge" class="for_desktop">
		<img src="./assets/cm/banner_main-img.webp" loading="eager" alt="cyber monday cyber monday badge" class="for_mobile">
	</a>

	<div class="bfs-banner__group to_right">
		<div class="bfs-banner__timer">
			<div class="bfs-banner__timer-title">Cyber Week Ends In</div>
			<div class="bfs-banner__timer-wrap">
				<span id="bfs_timer_days">10</span>
				<span>:</span>
				<span id="bfs_timer_hours">10</span>
				<span>:</span>
				<span id="bfs_timer_min">10</span>
				<span>:</span>
				<span id="bfs_timer_sec">10</span>
			</div>
		</div>
	</div>

</div>
