<div class="cm-banner">
	<div class="cm-banner__img">
		<img src="./assets/cm/main-poster.webp" loading="eager" alt="Cyber monday poster">
	</div>
	<div class="cm-banner__back">
		<div><div></div></div>
	</div>
	<div class="cm-banner__matrix">
		<div class="matrix-bg"></div>
	</div>
  
  {% include "elements/black_friday/bfs-ticker.twig" %}
</div>
