.am-item {
  min-height: 42px;
  background-color: #fff;
  border-radius: 0;
  flex-direction: column;
  display: flex;
  position: relative;
  box-shadow: 0 14px 38px rgba(23, 28, 41, .04);

  @include maxWidthXs {
    margin-left: 6px;
    margin-right: 6px;
  }

  .am-select {
    min-height: 32px;
    font-size: 13px;
  }

  .am-select-wrap {
    height: unset;
  }

  &.am-item_vendor {

    .am-item__btn {
      min-width: 140px;

      @include maxWidthXs {
        min-width: 100px;
      }
    }

    &.in_stock {
      .am-item__over {
        border-color: #11b37c;

        &>div>span {
          background-color: #11b37c;
        }
      }
    }

    .am-item__over {
      border-color: #d64c57;

      &>div {
        width: 100%;

        &>span {
          width: 100%;
          background-color: #d64c57;
        }
      }
    }
  }

  &.--finance {
    .am-item__details {
      width: 100%;
      padding: 26px;
      padding-bottom: 0;
      gap: 18px;

      @include maxWidthXs {
        padding: 20px;
      }
    }

    .am-item__details-row {
      padding: 0;
    }
  }

  h5,
  h6 {
    font-weight: 600;
    line-height: 28px;
  }

  &.am-item_abandoned {
    .am-item__over {
      &>div {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.am-item__over {
  pointer-events: none;
  border: 2px solid #408cf1;
  border-radius: 0;
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 5;

  &>div {
    position: sticky;
    top: 68px;
    display: flex;

    &>span {
      color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: #408cf1;
      border-bottom-right-radius: 0;
      padding: 6px 12px;
      font-size: 11px;
      font-weight: 700;

      &:nth-child(2) {
        background-color: #3b6297;
      }
    }
  }
}

.am-item__td-btn {
  height: 30px;
  text-align: center;
  letter-spacing: .6px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #7e8490;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 11px;
  font-weight: 600;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.am-item__td-btn:hover {
  color: #22497e;
  background-color: rgba(73, 144, 238, .1);
  border-color: #29558f;
}

.am-item__row {
  padding-top: 56px;
  padding-bottom: 26px;
}

.am-item__details {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  padding-top: 20px;
  display: flex;
}

.am-item__main-details {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}

.am-item__title {
  cursor: pointer;
  align-items: center;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.am-item__title:hover {
  color: #22497e;
}

.am-zoom-btn {
  z-index: 2;
  width: 30px;
  height: 30px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
  background-color: rgba(255, 255, 255, .75);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20Z" stroke="%23171C29" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.5 11H13.5" stroke="%23171C29" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M11 13.5V8.5" stroke="%23171C29" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.9299 20.6898C19.4599 22.2898 20.6699 22.4498 21.5999 21.0498C22.4499 19.7698 21.8899 18.7198 20.3499 18.7198C19.2099 18.7098 18.5699 19.5998 18.9299 20.6898Z" stroke="%23171C29" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  border: 1px solid #fff;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  bottom: 4px;
  right: 4px;
  box-shadow: 0 4px 12px rgba(23, 28, 41, .15);
}

.am-zoom-btn:hover {
  border-color: #3b6297;
}

.am-item__link {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  text-transform: uppercase;
  border: 1px solid #d1d8e0;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  padding-right: 28px;
  font-size: 12px;
  font-weight: 600;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  background-image: url('data:image/svg+xml,<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.04 0.502991C19.6664 0.498313 18.3055 0.766186 17.0361 1.2911C15.7668 1.81601 14.6141 2.58753 13.645 3.56099L12.119 5.08799C11.9386 5.2675 11.7956 5.48101 11.6982 5.71618C11.6009 5.95134 11.5512 6.20348 11.552 6.45799C11.552 6.97599 11.753 7.46299 12.12 7.82799C12.852 8.55999 14.128 8.55999 14.86 7.82799L16.386 6.30199C18.952 3.73599 23.128 3.73699 25.694 6.30199C26.3074 6.9116 26.7939 7.63682 27.1252 8.43568C27.4564 9.23454 27.626 10.0912 27.624 10.956C27.624 12.712 26.938 14.365 25.694 15.61L24.167 17.136C23.9866 17.3155 23.8436 17.529 23.7462 17.7642C23.6489 17.9993 23.5992 18.2515 23.6 18.506C23.6 19.025 23.802 19.511 24.168 19.876C24.534 20.243 25.021 20.444 25.538 20.444C26.056 20.444 26.542 20.243 26.908 19.877L28.434 18.35C30.411 16.373 31.5 13.747 31.5 10.956C31.5 8.16499 30.411 5.53899 28.434 3.56099C27.4651 2.58752 26.3126 1.81598 25.0434 1.29106C23.7742 0.766141 22.4135 0.498279 21.04 0.502991ZM10.952 31.497C12.3256 31.5014 13.6864 31.2334 14.9557 30.7085C16.225 30.1836 17.3777 29.4122 18.347 28.439L19.872 26.912C20.238 26.546 20.44 26.06 20.44 25.542C20.44 25.024 20.238 24.537 19.872 24.172C19.139 23.439 17.863 23.441 17.132 24.172L15.606 25.698C13.042 28.264 8.866 28.265 6.297 25.698C5.0647 24.4626 4.37266 22.7889 4.37266 21.044C4.37266 19.2991 5.0647 17.6254 6.297 16.39L7.823 14.864C8.18573 14.5003 8.38943 14.0076 8.38943 13.494C8.38943 12.9803 8.18573 12.4877 7.823 12.124C7.45933 11.7613 6.96664 11.5576 6.453 11.5576C5.93936 11.5576 5.44667 11.7613 5.083 12.124L3.557 13.65C-0.519 17.727 -0.519 24.361 3.557 28.439C4.5262 29.4124 5.67883 30.1838 6.94819 30.7087C8.21754 31.2336 9.5784 31.5016 10.952 31.497Z" fill="currentColor"></path><path d="M9.41612 22.5801C9.78312 22.9461 10.2691 23.1481 10.7861 23.1481C11.3051 23.1481 11.7911 22.9461 12.1561 22.5801L22.5761 12.1601C22.9411 11.7941 23.1431 11.3081 23.1431 10.7901C23.1431 10.2721 22.9411 9.78609 22.5751 9.42009C21.8431 8.68809 20.5651 8.68809 19.8351 9.42009L9.41612 19.8401C9.05012 20.2061 8.84912 20.6921 8.84912 21.2101C8.84912 21.7281 9.05012 22.2141 9.41612 22.5801Z" fill="currentColor"></path></svg>');
  background-position: center right 9px;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.am-item__link:hover {
  color: var(--bright_blue);
  background-color: rgba(73, 144, 238, .1);
  border-color: var(--blue_gold);
  background-image: url('data:image/svg+xml,<svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.04 0.502991C19.6664 0.498313 18.3055 0.766186 17.0361 1.2911C15.7668 1.81601 14.6141 2.58753 13.645 3.56099L12.119 5.08799C11.9386 5.2675 11.7956 5.48101 11.6982 5.71618C11.6009 5.95134 11.5512 6.20348 11.552 6.45799C11.552 6.97599 11.753 7.46299 12.12 7.82799C12.852 8.55999 14.128 8.55999 14.86 7.82799L16.386 6.30199C18.952 3.73599 23.128 3.73699 25.694 6.30199C26.3074 6.9116 26.7939 7.63682 27.1252 8.43568C27.4564 9.23454 27.626 10.0912 27.624 10.956C27.624 12.712 26.938 14.365 25.694 15.61L24.167 17.136C23.9866 17.3155 23.8436 17.529 23.7462 17.7642C23.6489 17.9993 23.5992 18.2515 23.6 18.506C23.6 19.025 23.802 19.511 24.168 19.876C24.534 20.243 25.021 20.444 25.538 20.444C26.056 20.444 26.542 20.243 26.908 19.877L28.434 18.35C30.411 16.373 31.5 13.747 31.5 10.956C31.5 8.16499 30.411 5.53899 28.434 3.56099C27.4651 2.58752 26.3126 1.81598 25.0434 1.29106C23.7742 0.766141 22.4135 0.498279 21.04 0.502991ZM10.952 31.497C12.3256 31.5014 13.6864 31.2334 14.9557 30.7085C16.225 30.1836 17.3777 29.4122 18.347 28.439L19.872 26.912C20.238 26.546 20.44 26.06 20.44 25.542C20.44 25.024 20.238 24.537 19.872 24.172C19.139 23.439 17.863 23.441 17.132 24.172L15.606 25.698C13.042 28.264 8.866 28.265 6.297 25.698C5.0647 24.4626 4.37266 22.7889 4.37266 21.044C4.37266 19.2991 5.0647 17.6254 6.297 16.39L7.823 14.864C8.18573 14.5003 8.38943 14.0076 8.38943 13.494C8.38943 12.9803 8.18573 12.4877 7.823 12.124C7.45933 11.7613 6.96664 11.5576 6.453 11.5576C5.93936 11.5576 5.44667 11.7613 5.083 12.124L3.557 13.65C-0.519 17.727 -0.519 24.361 3.557 28.439C4.5262 29.4124 5.67883 30.1838 6.94819 30.7087C8.21754 31.2336 9.5784 31.5016 10.952 31.497Z" fill="%233a78cc"></path><path d="M9.41612 22.5801C9.78312 22.9461 10.2691 23.1481 10.7861 23.1481C11.3051 23.1481 11.7911 22.9461 12.1561 22.5801L22.5761 12.1601C22.9411 11.7941 23.1431 11.3081 23.1431 10.7901C23.1431 10.2721 22.9411 9.78609 22.5751 9.42009C21.8431 8.68809 20.5651 8.68809 19.8351 9.42009L9.41612 19.8401C9.05012 20.2061 8.84912 20.6921 8.84912 21.2101C8.84912 21.7281 9.05012 22.2141 9.41612 22.5801Z" fill="%233a78cc"></path></svg>');
}

.am-item__pic-wrap {
  width: 120px;
  aspect-ratio: 1 / 1;
  border: 1px solid #e2e7ee;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.am-item__tag {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  text-transform: uppercase;
  background-color: #eff2f6;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  font-size: 11px;
  font-weight: 600;
  display: flex;

  span {
    &.--bold {
      font-size: 14px;
    }
  }
}

.am-item__color-tag {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #037a6f;
  background-color: rgba(5, 184, 124, .12);
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
}

.am-item__color-tag.tag_blue {
  color: #29558f;
  background-color: rgba(61, 173, 253, .14);
}

.am-item__td-controls {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.am-item__price {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  text-align: right;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
}

.am-item__price.for_cost {
  flex-direction: column;
  align-items: flex-end;

  &>span {
    color: #074597;
    font-size: 14px;
    line-height: 14px;
  }
}

.am-item__main {
  grid-column-gap: 14px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
}

.am-item__price-wrap {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.am-item__options {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  line-height: 18px;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-top: 2px;
  font-size: 12px;
  display: flex;
  font-weight: 600;
}

.am-item__sub-row {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
}

.am-item__body {
  position: relative;

  &>div.am-item__row {
    &:not(:first-child) {
      padding-top: 26px;
      border-top: 2px solid rgba(64, 141, 241, 0.3);

      @include maxWidthXs {
        padding-top: 20px;
      }
    }
  }
}

.am-item__btn {
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #1791e9;
  border: 1.5px solid #1791e9;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  font-weight: 600;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  box-shadow: 0 4px 12px rgba(23, 145, 233, .2);
  white-space: nowrap;
  line-height: 18px;

  &:hover {
    background-color: #33a3f3;
    border-color: #33a3f3;
  }

  svg {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &.--dim {
    background-color: #f0f3f7;
    border-color: #f0f3f7;
    box-shadow: none;
    color: var(--black)
  }

  &.is-dark {
    background-color: var(--navy_blue);
    border-color: var(--navy_blue);
  }

  &.is-border {
    color: #0c81d5;
    background-color: rgba(23, 145, 233, .05);
    box-shadow: none;

    &:hover {
      background-color: rgba(23, 145, 233, .15);
    }
  }

  &.is-green-border {
    color: #0a9a6a;
    background-color: rgba(16, 178, 124, .05);
    border-color: #10b27c;
    box-shadow: none;

    &:hover {
      background-color: rgba(16, 178, 124, .15);
    }
  }
}

.am-item__btn.is-yellow {
  color: #be7513;
  background-color: rgba(241, 165, 64, .05);
  border-color: #f1a540;
  box-shadow: 0 4px 12px rgba(241, 165, 64, .2);
}

.am-item__btn.is-yellow:hover {
  color: #fff;
  background-color: #f1a540;
}

.am-item__btn.is-green {
  background-color: #10b27c;
  border-color: #10b27c;
  align-items: stretch;
  box-shadow: 0 6px 16px rgba(16, 178, 124, .2);
}

.am-item__btn.is-green:hover {
  background-color: #0dc789;
  border-color: #0dc789;
}

.am-item__btn.is-blue {
  background-color: #1862c5;
  border-color: #1862c5;

  &:hover {
    background-color: #237bec;
    border-color: #237bec;
  }
}

.am-item__btn.is-red {
  background-color: #e74048;
  border-color: #e74048;
  box-shadow: 0 4px 12px rgba(231, 64, 72, .12);

  &:hover {
    background-color: #f4626a;
    border-color: #f4626a;
  }
}

.am-item__main-spot {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  margin-left: 16px;
  display: flex;
}

.am-item__saks-tag {
  text-transform: uppercase;
  cursor: pointer;
  background-color: #eff2f6;
  justify-content: flex-end;
  align-items: center;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
}

.am-item__saks-tag:hover {
  background-color: #eff2f6;
}

.am-item__spot-details {
  flex-direction: column;
  display: flex;

  &>div,
  &>a {
    cursor: pointer;
    border: 1px solid #d1d8e0;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -1px;
    padding: 5px 12px;
    font-size: 13px;
    display: flex;

    &:hover {
      background-color: #eff2f6;
    }

    @include maxWidthSm {
      justify-content: flex-start;

      svg {
        order: -1;
        margin-right: 6px;
        margin-left: 0px !important;
      }
    }

    &.st_defined {
      text-decoration: underline;
      font-weight: 600;
    }

    span.st_edit {
      font-weight: 600;
      cursor: pointer;
      color: #0571a7;
      border-bottom: dashed 1px #0088cc;
    }
  }
}

.am-item__details-row {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;

  &.to_wrap {
    flex-wrap: wrap !important;
  }

  &.--form {
    width: 100%;
  }

  &.--abandoned {
    display: block;
    padding-bottom: 28px;
  }
}

.am-item__details-row.to_space {
  grid-column-gap: 18px;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include maxWidthXs {
    align-items: flex-start;
  }
}

.am-item__details-row.to_end {
  justify-content: flex-end;

  @include maxWidthXs {
    .flex-row_8 {
      flex: 1;
    }
  }
}

.flex-row_8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  align-items: stretch;
  display: flex;

  @include maxWidthXs {

    &>a,
    &>button {
      flex: 1;
    }

    select {
      flex: 1;
    }
  }
}

.off-price {
  color: #e93a55;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  display: inline-block;
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  .am-item__title:hover {
    color: #202124;
  }

  .am-zoom-btn {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .am-item__main-details {
    flex: 1;
  }

  .am-item__td-controls {
    width: 100%;
    justify-content: flex-start;
    margin-left: 0;
  }

  .am-item__main-spot {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .am-item__row {
    padding-bottom: 20px;
  }

  .am-zoom-btn {
    width: 28px;
    height: 28px;
    background-size: 75% 75%;
  }

  .am-item__pic-wrap {
    width: 22vw;
  }

  .am-item__price {
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
  }

  .am-item__main,
  .am-item__sub-row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .am-item__btn {
    padding-left: 12px;
    padding-right: 12px;
  }

  .am-item__main-spot {
    width: 100%;
  }

  .am-item__saks-tag {
    justify-content: flex-start;
  }

  .am-item__details-row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .off-price {
    order: 1;
  }
}

.am-item__note-wrap {
  flex-direction: column;
  flex: 1;
  margin-top: 12px;
  margin-bottom: 0;
  display: flex;
}

.am-item__note-form {
  position: relative;

  button {
    color: #202124;
    text-align: center;
    background-color: #fff;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 600;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);
    display: flex;
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 6px;
    box-shadow: 0 5px 12px rgba(23, 28, 41, .09);

    &:hover {
      color: #fff;
      background-color: var(--bright_blue);
    }
  }
}

.am-note-input {
  height: 46px;
  text-align: left;
  background-color: #f5f7f9;
  border: 1px solid #ebeff4;
  border-radius: 0;
  margin-bottom: 0;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  width: 100%;
  padding: 8px 12px;
  font-size: 13px;

  &:hover {
    background-color: rgba(64, 141, 241, 0.04);
    border-color: var(--bright_blue);
  }

  &:focus {
    background-color: white;
    border-color: var(--bright_blue);
    box-shadow: 0 0 0 3px rgba(64, 141, 241, 0.18);

    &::placeholder {
      color: transparent
    }
  }

  &::placeholder {
    color: #525e75;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);
  }
}


.am-item-note {
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  background-color: #f5f7f9;
  border-radius: 0;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 12px;
  display: flex;

  &>div {
    &:first-child {
      max-width: 520px;
      grid-column-gap: 16px;
      grid-row-gap: 8px;
      border-radius: 0;
      flex-flow: wrap;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      font-style: italic;

      span {
        font-style: normal;
        font-weight: 600;
      }
    }

    &:last-child {
      letter-spacing: .6px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;

      @include maxWidthXs {
        order: -1;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .am-item-note {
    flex-direction: column;
    align-items: flex-start;
  }
}

.am-item__space-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: nowrap;

  .am-item__details-row {
    padding-right: 0px;
  }

  &>.am-item__price-wrap {
    padding-top: 20px;
    padding-right: 20px;
  }
}

.am-item__subtitle {
  color: var(--navy_blue);
  margin-top: 2px;
  font-size: 14px;
  font-weight: 600;
}

.am-item__fin-details {
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;

  &>div {
    border: 1px solid #dbe1eb;
    width: 25%;
    margin-bottom: -1px;
    margin-right: -1px;
    padding: 8px;

    a {
      color: var(--navy_blue);
      font-weight: 600;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: var(--bright_blue);
      }
    }

    &>span {
      display: block;

      &:first-child {
        font-size: 10px;
        font-weight: 700;
      }

      &:last-child {
        font-size: 13px;
        line-height: 22px;

        @include maxWidthXs {
          text-align: right;
        }
      }
    }

    @include maxWidthMd {
      width: 33%;
    }

    @include maxWidthSm {
      width: 50%;
    }

    @include maxWidthXs {
      grid-column-gap: 14px;
      grid-row-gap: 14px;
      justify-content: space-between;
      width: 100%;
      margin-right: 0;
      display: flex;
    }
  }
}

.am-item__fin-quiz {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;

  &>div {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    white-space: nowrap;
    flex-flow: column;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    display: flex;

    @include maxWidthXs {
      flex: none;
      width: 100%;
    }

    &>span {
      display: block;

      &:last-child {
        background-color: var(--bright_blue);
        color: #fff;
        padding-left: 8px;
        max-width: 200px;
        padding-right: 8px;
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
  }
}

.am-item__fin-uploads {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.fin-uploads-wrap {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  display: flex;

  &>img {
    object-fit: cover;
    width: 48px;
    height: 48px;
  }
}

.am-item__abandoned-footer {
  padding-top: 18px;
  border-top: 1px solid #e2e7ee;

  .am-item__btn {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .am-select-wrap {
    min-width: 94px;
    height: 32px;

    select {
      font-size: 11px !important;
      padding: 0 10px !important;
    }
  }
}