:root {
  --sub_light_blue: #20dcdc;
  --sub_dark_blue: #00B3F6;
  --sub_yellow: #ffef15;
  --sub_orange: #FEBD00;
  --sub_green: #00B242;
  --sub_purple: #CB9DE5;
}

*.--order_last {
  order: 1 !important;
}

body.admin_plain {
  .am-content {
    padding-left: 0px;
  }
}

table.dataTable {
  width: 100%;
}

table.dataTable thead th {
  padding: 10px 14px !important;
  background-color: #ebeef1;
  font-size: 13px;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 4;
  transition: all 200ms;
  text-align: left !important;
  border-color: #ebeef1 !important;
}

table.dataTable thead th:hover {
  background-color: #d2d8df;
}

table.dataTable tbody tr td {
  padding: 14px !important;
  background-color: white;
  border-bottom: 1px solid #e6e8ee;
  border-right: 1px solid #e6e8ee;
}

table.dataTable tbody tr:nth-child(even) td {
  background-color: #f8f9fa;
}

table.dataTable {
  font-size: 13px;
}

table.dataTable tbody a {
  font-weight: 600;
  color: #22497e;
}

table.dataTable tbody a.editable {
  border-bottom: 1px dashed #22497e;
}

table.dataTable tbody a:hover {
  color: #577daf;
}

.dt-button {
  cursor: pointer !important;
  background-color: #fff !important;
  border: 1px solid #e6e8ee !important;
  justify-content: center;
  align-items: center;
  padding: 10px 14px !important;
  font-size: 13px !important;
  font-weight: 600;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  display: inline-block;
  gap: 6px;
  margin: unset !important;
  box-shadow: 0 2px 3px rgba(23, 28, 41, 0.03);
  border-radius: 6px !important;
  background: unset !important;
  line-height: 20px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  outline: none;
  text-overflow: ellipsis;
}

select {
  cursor: pointer !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px 14px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
  gap: 6px !important;
}

.dt-buttons {
  padding: 14px;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.dt-button:hover {
  background-color: #f1f7ff !important;
  border-color: #b3d4ff !important;
  color: #22497e !important;
}

.dt-button:active {
  background-color: #d0e2f9 !important;
  border-color: #b3d4ff !important;
}

.tb-table-container {
  overflow: visible !important;
  max-height: unset !important;
}

.dt-length {
  display: flex;
  align-items: center;
  gap: 8px;
}

div.dt-search {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

div.dt-search label {
  display: none !important;
}

label.dt-search-1 {
  font-size: 12px;
  font-weight: 600;
}

input.dt-input {
  height: 42px !important;
  padding: 12px 12px 12px 42px !important;
  min-height: 42px !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
  box-shadow: 0 2px 3px rgba(23, 28, 41, 0.03) !important;
  border: 1px solid #e6e8ee !important;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
  flex: 1 !important;
  max-width: 420px !important;
  background-size: 18px 18px !important;
  background-repeat: no-repeat !important;
  background-position: left 12px center !important;
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.5" cy="10.5" r="9.5" stroke="currentColor" stroke-width="2"></circle><path d="M23 23L17 17" stroke="currentColor" stroke-width="2"></path></svg>') !important;
}

input.dt-input:focus {
  border-color: #408cf1 !important;
  background-color: rgba(64, 140, 241, 0.03) !important;
  box-shadow: 0 2px 3px 0 rgba(64, 140, 241, 0.15) !important;
}

.tip-yellowsimple {
  min-width: 190px !important;
  box-shadow: 0 24px 68px rgba(8, 50, 93, 0.25) !important;
  -webkit-box-shadow: 0 24px 68px rgba(8, 50, 93, 0.25) !important;
  border-radius: 10px !important;
}

.tip-yellow-simple {
  box-shadow: 0 24px 68px rgba(8, 50, 93, 0.25);
  -webkit-box-shadow: 0 24px 68px rgba(8, 50, 93, 0.25);
  border-radius: 10px;
}

.tip-bg-image label {
  display: block;
  margin-bottom: 8px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.tip-bg-image {
  padding: 10px;
}

.tip-bg-image .control-group>div {
  display: flex;
  flex-direction: column;
}

.tip-bg-image .editable-input>select,
.tip-bg-image .editable-input>input {
  width: 100%;
}

.tip-bg-image .editable-buttons {
  display: flex;
  margin: 10px 0px 0px 0px;
  gap: 5px;
}

.tip-bg-image .editable-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 9px;
  padding: 10px 6px;
  margin: unset !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  flex: 1;
  border-radius: 5px;
}

.tip-bg-image .editable-buttons button.btn-success {
  background-color: #21b395;
  color: white;
}

.tip-bg-image .editable-buttons button.btn-danger {
  background-color: #d64761;
  color: white;
}

.tip-bg-image .editable-error {
  color: #d64761;
  font-size: 11px;
  text-align: center;
  font-weight: 550;
  margin-top: 10px;
}

.tip-arrow.tip-arrow-bottom {
  filter: grayscale(1);
}

.component-user.grid--flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-photo {
  border-radius: 500px;
  overflow: hidden;
  width: 42px;
  height: 42px;
}

.user-infomation {
  display: block;
}

.user-infomation span {
  display: block;
}

.user-name {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 1px;
}

.user-infomation span.w-label {
  font-size: 12px !important;
}

span.w-block {
  display: block;
  line-height: 18px;
}

span.w-label {
  font-size: 12px;
}

div.dt-button-collection {
  border-radius: 10px;
  box-shadow: 0 24px 68px rgb(22 38 54 / 25%) !important;
  -webkit-box-shadow: 0 24px 68px rgb(22 38 54 / 25%) !important;
}

div.dt-button-collection>div {
  max-height: 420px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 18px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.dt-button-collection>div::-webkit-scrollbar {
  display: none;
}

div.dt-button-collection .dt-button {
  min-height: 42px;
}

div#allTable_info {
  padding: 14px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e8ee;
}

.dt-paging.paging_full_numbers {
  padding: 14px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

button.dt-paging-button {
  min-height: 32px !important;
  min-width: 32px !important;
  color: #22497e !important;
  cursor: pointer !important;
  border: 1px solid rgba(64, 140, 241, 0) !important;
  border-radius: 4px !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  padding: 6px 8px !important;
  font-weight: 600 !important;
  display: flex !important;
  transition: all 200ms ease !important;
}

button.dt-paging-button:hover {
  color: #497dc3 !important;
  background-color: rgba(64, 140, 241, 0.06) !important;
  border-color: #81afec !important;
}

button.dt-paging-button.current {
  color: #fff !important;
  background-color: #408cf1 !important;
  border-color: #408cf1 !important;
  font-weight: 600 !important;
  box-shadow: 0 2px 5px rgba(64, 140, 241, 0.33) !important;
}

#allTable_wrapper .toolbar {
  display: flex;
  padding: 14px;
  border-top: 1px solid #e6e8ee;
  border-bottom: 1px solid #e6e8ee;
  gap: 18px;
}

.main_whales .am-content__wrapper {
  padding-bottom: 24px !important;
}

.admin-linkbar {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  &.--external {
    a {
      padding: 3px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.admin-linkbar .admin-link {
  color: #285783 !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  background-color: #f0f6ff !important;
  border: 1px solid #f0f6ff !important;
  border-radius: 6px !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 5px !important;
  font-size: 10px !important;
  font-weight: 700 !important;
  line-height: 0 !important;
  display: flex !important;
  gap: 4px !important;
  transition: all 200ms ease !important;

  &[data-evt="toggleWhaleNotes"] {
    &.is-active {
      background-color: var(--navy_blue_light) !important;
      color: #fff !important;

      i {
        background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 12.2H15" stroke="%23ffffff" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8 16.2H12.38" stroke="%23ffffff" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 6H14C16 6 16 5 16 4C16 2 15 2 14 2H10C9 2 8 2 8 4C8 6 9 6 10 6Z" stroke="%23ffffff" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16 4.02002C19.33 4.20002 21 5.43002 21 10V16C21 20 20 22 15 22H9C4 22 3 20 3 16V10C3 5.44002 4.67 4.20002 8 4.02002" stroke="%23ffffff" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
      }
    }
  }
}

.admin-linkbar .admin-link.--delete {
  background-color: #ffeef0;
  border-color: #ffeef0;

  &:hover {
    background-color: transparent;
    border-color: #ff6161;
  }
}

.admin-linkbar .admin-link:hover {
  background-color: transparent;
  border-color: var(--royal_blue);
}

.admin-linkbar .admin-link i {
  display: block !important;
  height: 14px !important;
  width: 14px !important;
  background-position: center center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

.admin-linkbar .admin-link i.icon-admin-edit {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6457 4.50539L4.31552 13.8369C3.96031 14.1922 3.6051 14.8908 3.53406 15.4L3.02492 18.9645C2.83548 20.2553 3.74719 21.1553 5.03778 20.9776L8.60172 20.4684C9.09901 20.3974 9.79759 20.0421 10.1646 19.6869L19.4948 10.3553C21.1051 8.74483 21.8629 6.8738 19.4948 4.50539C17.1268 2.13699 15.256 2.89488 13.6457 4.50539Z" stroke="%23285783" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 6C12.8138 8.90283 15.085 11.1741 18 12" stroke="%23285783" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.admin-linkbar .admin-link i.icon-admin-lock {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10V8C6 4.69 7 2 12 2C17 2 18 4.69 18 8V10" stroke="%23285783" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 18.5C13.3807 18.5 14.5 17.3807 14.5 16C14.5 14.6193 13.3807 13.5 12 13.5C10.6193 13.5 9.5 14.6193 9.5 16C9.5 17.3807 10.6193 18.5 12 18.5Z" stroke="%23285783" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 22H7C3 22 2 21 2 17V15C2 11 3 10 7 10H17C21 10 22 11 22 15V17C22 21 21 22 17 22Z" stroke="%23285783" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.admin-linkbar .admin-link i.icon-admin-ban {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22Z" stroke="%23285783" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.8999 5L4.8999 19" stroke="%23285783" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.admin-linkbar .admin-link i.icon-rating-empty {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.73 3.51001L15.49 7.03001C15.73 7.52002 16.37 7.99001 16.91 8.08001L20.1 8.61001C22.14 8.95001 22.62 10.43 21.15 11.89L18.67 14.37C18.25 14.79 18.02 15.6 18.15 16.18L18.86 19.25C19.42 21.68 18.13 22.62 15.98 21.35L12.99 19.58C12.45 19.26 11.56 19.26 11.01 19.58L8.01997 21.35C5.87997 22.62 4.57997 21.67 5.13997 19.25L5.84997 16.18C5.97997 15.6 5.74997 14.79 5.32997 14.37L2.84997 11.89C1.38997 10.43 1.85997 8.95001 3.89997 8.61001L7.08997 8.08001C7.61997 7.99001 8.25997 7.52002 8.49997 7.03001L10.26 3.51001C11.22 1.60001 12.78 1.60001 13.73 3.51001Z" stroke="%23285783" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.admin-linkbar .admin-link i.icon-rating-filled {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.73 3.51001L15.49 7.03001C15.73 7.52002 16.37 7.99001 16.91 8.08001L20.1 8.61001C22.14 8.95001 22.62 10.43 21.15 11.89L18.67 14.37C18.25 14.79 18.02 15.6 18.15 16.18L18.86 19.25C19.42 21.68 18.13 22.62 15.98 21.35L12.99 19.58C12.45 19.26 11.56 19.26 11.01 19.58L8.01997 21.35C5.87997 22.62 4.57997 21.67 5.13997 19.25L5.84997 16.18C5.97997 15.6 5.74997 14.79 5.32997 14.37L2.84997 11.89C1.38997 10.43 1.85997 8.95001 3.89997 8.61001L7.08997 8.08001C7.61997 7.99001 8.25997 7.52002 8.49997 7.03001L10.26 3.51001C11.22 1.60001 12.78 1.60001 13.73 3.51001Z" fill="%231162AE" stroke="%231162AE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.admin-linkbar .admin-link i.icon-admin-delete {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="%23D20B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 16L16 8" stroke="%23D20B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 16L8 8" stroke="%23D20B0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.admin-linkbar .admin-link i.icon-admin-retired {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.2941 15.0482H15.2559C16.0235 14.4916 16.6588 13.7229 17.0824 12.8217C17.2676 12.3976 17.4 11.9205 17.4794 11.4699C18.0618 11.2313 18.4853 10.6747 18.5912 10.0386C19.9941 9.50843 21 8.15663 21 6.56627C21 4.5253 19.3324 2.85542 17.2941 2.85542H17.2676C16.3412 1.68916 14.9647 1 13.4294 1H10.5706C9.03529 1 7.63235 1.68916 6.73235 2.85542H6.70588C4.66765 2.85542 3 4.5253 3 6.56627C3 8.15663 4.00588 9.50843 5.40882 10.0386C5.51471 10.6747 5.93824 11.2048 6.52059 11.4699C6.6 11.947 6.73235 12.3976 6.91765 12.8217C7.31471 13.7229 7.97647 14.4916 8.74412 15.0482H6.70588C4.66765 15.0482 3 16.7181 3 18.759V21.4096C3 22.2843 3.71471 23 4.58824 23H19.4118C20.2853 23 21 22.2843 21 21.4096V18.759C21 16.7181 19.3324 15.0482 17.2941 15.0482ZM17.9559 3.99518C19.0941 4.28675 19.9412 5.32048 19.9412 6.56627C19.9412 7.62651 19.3324 8.52771 18.4324 8.95181C18.3 8.63374 18.0618 8.36867 17.7706 8.18313C18.4853 6.88434 18.5382 5.37349 17.9559 3.99518ZM5.56765 8.95181C4.66765 8.52771 4.05882 7.62651 4.05882 6.56627C4.05882 5.32048 4.90588 4.28675 6.04412 3.99518C5.46176 5.37349 5.51471 6.88434 6.20294 8.18313C5.93824 8.39518 5.7 8.66024 5.56765 8.95181ZM7.89706 12.3711C7.71176 11.9205 7.57941 11.4699 7.52647 10.9928C7.5 10.7542 7.31471 10.5687 7.10294 10.5157C6.70588 10.4627 6.44118 10.1446 6.44118 9.74699C6.44118 9.3759 6.70588 9.03133 7.07647 8.97831C7.31471 8.9253 7.5 8.71325 7.5 8.44819V8.42169C7.5 8.31566 7.47353 8.20964 7.39412 8.13012C6.57353 6.93735 6.46765 5.42651 7.15588 4.15422C7.84412 2.85542 9.11471 2.08675 10.5706 2.08675H13.4294C14.8853 2.08675 16.1559 2.85542 16.8441 4.15422C17.5324 5.45301 17.4265 6.93735 16.6059 8.13012C16.5529 8.23615 16.5 8.34217 16.5 8.44819C16.5 8.71325 16.6588 8.9253 16.9235 8.97831C17.2941 9.05783 17.5588 9.3759 17.5588 9.74699C17.5588 10.1446 17.2941 10.4627 16.8971 10.5157C16.6588 10.5687 16.5 10.7542 16.4735 10.9928C16.4206 11.4699 16.2882 11.947 16.1029 12.3711C15.3882 13.988 13.7735 15.0482 12 15.0482C10.2265 15.0482 8.61177 13.988 7.89706 12.3711ZM11.4706 21.9398H4.58824C4.29706 21.9398 4.05882 21.7012 4.05882 21.4096V18.759C4.05882 17.3012 5.25 16.1084 6.70588 16.1084H9.08824L11.4706 19.4482V21.9398ZM10.3853 16.1084H13.6147L12 18.388L10.3853 16.1084ZM19.9412 21.4096C19.9412 21.7012 19.7029 21.9398 19.4118 21.9398H12.5294V19.4482L14.9118 16.1084H17.2941C18.75 16.1084 19.9412 17.3012 19.9412 18.759V21.4096ZM8.82353 4.71084C8.82353 4.41928 9.06177 4.18072 9.35294 4.18072H14.6471C14.9382 4.18072 15.1765 4.41928 15.1765 4.71084C15.1765 5.00241 14.9382 5.24096 14.6471 5.24096H9.35294C9.06177 5.24096 8.82353 5.00241 8.82353 4.71084ZM14.1176 6.83133C14.1176 7.12289 13.8794 7.36145 13.5882 7.36145H10.4118C10.1206 7.36145 9.88235 7.12289 9.88235 6.83133C9.88235 6.53976 10.1206 6.3012 10.4118 6.3012H13.5882C13.8794 6.3012 14.1176 6.53976 14.1176 6.83133Z" fill="%23285783" stroke="%23285783" stroke-width="0.5"/></svg>');
}

.admin-linkbar .admin-link i.icon-note {
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 12.2H15" stroke="%23285783" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8 16.2H12.38" stroke="%23285783" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 6H14C16 6 16 5 16 4C16 2 15 2 14 2H10C9 2 8 2 8 4C8 6 9 6 10 6Z" stroke="%23285783" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16 4.02002C19.33 4.20002 21 5.43002 21 10V16C21 20 20 22 15 22H9C4 22 3 20 3 16V10C3 5.44002 4.67 4.20002 8 4.02002" stroke="%23285783" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
}

div.dt-container.dt-empty-footer .dt-scroll-body {
  border-bottom: none !important;
  border-color: transparent !important;
}

.tb-box__controls {
  margin-bottom: -1px !important;
}

.tb-grid-controls {
  display: flex;
  align-items: center;
  column-gap: 14px;
  row-gap: 8px;
  flex-flow: wrap;
}

.tb-grid-wrapper {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tb-grid .tb-card .tb-card__cell .tb-name-wrap img {
  border-radius: 50px !important;
  height: 42px !important;
  width: 42px !important;
}

.tb-grid .tb-card .tb-name-wrap {
  padding-top: 8px;
  padding-bottom: 8px;
}

.tb-grid .tb-card {
  border: 1px solid #becbdd;
  box-shadow: 0 6px 14px rgb(229 231 237);
}

.tb-grid .tb-card:hover {
  border-color: #408cf1 !important;
  box-shadow: 0 8px 49px rgba(41, 127, 213, 0.1) !important;
}

.tb-grid .tb-card__cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dt-paging-button.next,
.dt-paging-button.previous,
.dt-paging-button.first,
.dt-paging-button.last {
  font-size: 24px;
  font-weight: 400 !important;
}

.tb-table-container .dt-paging button.dt-paging-button {
  border-radius: 0px !important;
  height: 34px !important;
}

.tb-table-container .dt-paging button.dt-paging-button:hover {
  background: rgba(64, 140, 241, 0.06) !important;
  border-color: #81afec !important;
  color: #5280bd !important;
}

.tb-table-container .dt-paging button.dt-paging-button.current {
  color: white !important;
  background: #408cf1 !important;
}

.tb-table-container .dt-paging button.dt-paging-button.current:hover {
  color: white !important;
}

.whale-card {
  .cell-value {

    .xEdit,
    a.editable,
    .editable-click {
      border: none !important;
      color: var(--black) !important;
      font-weight: 400 !important;
    }
  }
}

.tip-yellowsimple.editable-container.editable-popup {
  box-shadow: 0 16px 58px rgba(129, 135, 156, .4) !important;
  padding: 18px !important;
  border-radius: 16px !important;

  label {
    margin-bottom: 12px !important;
  }

  .tip-arrow.tip-arrow-bottom {
    width: 12px;
    height: 12px;
  }

  .tip-inner.tip-bg-image {
    padding: 0px;
  }

  .editable-input {
    input {
      height: 36px !important;
      background-color: #fbfcfd !important;
      border: 1px solid #e0e5ee !important;
      border-radius: 6px !important;
      padding-left: 10px !important;
      padding-right: 24px !important;
      font-size: 13px !important;
    }
  }

  .editable-buttons {

    button.btn-success {
      background-color: #408cf1 !important;
      color: white !important;
      order: 1 !important;
    }

    button.btn-danger {
      background-color: #f5f6f8 !important;
      color: black !important;
    }
  }
}

.typo_dim {
  opacity: 0.65;
}

.spend-typo {
  color: #1e917e;
  background-color: rgba(54, 211, 190, .08);
  border-radius: .5rem;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;

  &.--blank {
    padding: 0;
    line-height: 22px;
    border-radius: 0;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4px;
  }
}

.am-content_appraisals {
  .am-upload-input {
    padding: 38px 14px;

    span {
      text-decoration: none !important;
    }
  }

  .am-row__header {
    .am_flex8 {
      margin-top: 12px;
    }
  }
}

#box_appraisals {
  td {
    img {
      width: 42px;
      height: 42px;
      object-fit: contain;
      object-position: center center;
    }
  }

  thead th {
    background-color: #30598f;
    color: white;
  }
}

.salespersons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 8px;
}

.saleperson-box {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  text-align: center;
  background-color: rgba(59, 98, 151, .49);
  border: 1px solid #486c9e;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 13px;
  font-weight: 600;
  transition: all .2s;
  display: flex;
  cursor: pointer;

  &:hover {
    background-color: rgba(59, 98, 151, 0);
    border-color: #66a5fa;
  }

  &.is-active {
    background-color: rgba(58, 120, 204, .5);
    border-color: #3a78cc;
  }

  span {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;

    span {
      font-size: 10px;
      opacity: .65;
    }
  }
}

.saleperson-box__img-wrap {
  border-radius: 500px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  max-width: 80%;

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 500px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    opacity: .06;
  }
}

.blank-search {
  position: relative;
  width: 100%;
  z-index: 15;

  input {
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-color: #e3e7eb;
    height: 46px;
    margin-bottom: 0;
    padding-left: 31px;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);
    font-weight: 600;

    &::placeholder {
      color: #939da3;
      font-weight: 400;
      transition: all .2s cubic-bezier(.39, .575, .565, 1);
    }

    &:focus,
    &:active {
      border-bottom-color: var(--bright_blue) !important;

      &::placeholder {
        color: transparent !important
      }
    }
  }

  &.--dim {
    input {
      background-color: transparent;

      &:not(:hover) {
        border-bottom-color: #dfe4f0;
      }

      &:not(:hover)::placeholder {
        color: #576371;
      }
    }
  }
}

.empty-placeholder {
  color: #748190;
  text-align: center;
  background-color: #f6f7f9;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  min-height: 40px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex: 1;
}

.blank-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blank-fields__input-row {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &>div {
    position: relative;

    &.--filled {
      &::before {
        // something like checkmark at the right top corner
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-color: #0779cb;
        width: 16px;
        height: 16px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" stroke="white" fill="white"/></svg>');
        background-size: 7px 7px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &>input {
        border-color: #0779cb;
      }
    }

    &>label {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 6px;
      font-size: 9px;
      line-height: 13px;
      font-weight: 700;
      position: absolute;
      left: 12px;
      top: -7px;
      background-color: white;
      transform: translateX(-4px);
      transition: all .2s cubic-bezier(.39, .575, .565, 1);
      border: 1px solid transparent;
      opacity: 0;
      pointer-events: none;
    }

    &>input {
      width: 100%;
      min-height: 48px;
      padding: 8px 12px;
      font-weight: 600;
      border: 1px solid #d7dee4;
      border-radius: 0;
      margin-bottom: 0;
      transition: all .2s cubic-bezier(.39, .575, .565, 1);

      &:hover {
        border-color: #0779cb;
      }

      &:focus {
        background-color: rgba(7, 121, 203, .03);
        border-color: #0779cb;

        &~label {
          border-color: #0779cb;
          background-color: #0779cb;
          color: white;
          opacity: 1;
          box-shadow: 0 0 0 2px rgba(7, 121, 203, .18);
          transform: translateX(0px);
        }

        &::placeholder {
          color: transparent
        }
      }

      &::placeholder {
        color: #6a7181;
        font-weight: 400;
        font-size: 13px;
        transition: all .2s cubic-bezier(.39, .575, .565, 1);
      }
    }
  }

  input[type="file"] {
    display: none;
  }
}

.blank-upload {
  display: flex !important;
  opacity: 1 !important;
  width: 100% !important;
  flex-direction: column;
  gap: 12px !important;
  min-height: 80px !important;
  justify-content: center;
  align-items: center;
  padding: 34px 20px !important;
  border: 1px dashed #0779cb !important;
  cursor: pointer !important;
  pointer-events: auto !important;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  background-color: rgba(7, 121, 203, .03) !important;
  position: relative !important;
  transform: none !important;
  left: 0 !important;
  top: 0 !important;

  &::before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('data:image/svg+xml,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_399_87" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="34" height="34"><rect width="34" height="34" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_399_87)"><rect width="34" height="34" fill="%23CAE9FF"/><path d="M19.8875 11.775C19.1217 11.775 18.3872 11.4708 17.8457 10.9293C17.3042 10.3878 17 9.65331 17 8.8875C17 8.12169 17.3042 7.38724 17.8457 6.84573C18.3872 6.30422 19.1217 6 19.8875 6C20.6533 6 21.3878 6.30422 21.9293 6.84573C22.4708 7.38724 22.775 8.12169 22.775 8.8875C22.775 9.65331 22.4708 10.3878 21.9293 10.9293C21.3878 11.4708 20.6533 11.775 19.8875 11.775Z" fill="%230779CB"/><path d="M13.381 13.6615C12.2805 12.614 10.8193 12.0298 9.3 12.0298C7.78068 12.0298 6.31952 12.614 5.219 13.6615L-2.25 21.1305V31.025C-2.24543 32.5552 -1.63553 34.0214 -0.553493 35.1034C0.528541 36.1855 1.99478 36.7954 3.525 36.8H30.475C32.0439 36.8 33.5454 36.1589 34.633 35.029L13.381 13.6615Z" fill="%230779CB"/><path d="M36.25 24.9766L28.783 17.5096C27.698 16.4307 26.2301 15.8251 24.7 15.8251C23.17 15.8251 21.7021 16.4307 20.6171 17.5096L18.9077 19.219L34.6253 35.0213C35.6687 33.9529 36.252 32.5188 36.25 31.025V24.9766Z" fill="%236ABFFB"/></g></svg>');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::after {
    content: 'Click or Drag & Drop To Upload Image';
    font-size: 13px;
    font-weight: 600;
    color: #0779cb;
  }

  &:hover,
  &.is-active {
    background-color: transparent !important;
    // border-style: solid;
    box-shadow: 0 0 0 2px rgba(7, 121, 203, .18);
  }
}

.page-msg {
  z-index: 50;
  background-color: #fff;
  border: 1px solid #d4d9e2;
  width: 380px;
  min-height: 40px;
  padding: 22px 52px 20px 72px;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  position: fixed;
  bottom: 14px;
  left: 14px;
  box-shadow: 0 0 42px rgba(96, 105, 117, .3);

  @include maxWidthXs {
    width: auto;
    bottom: 8px;
    left: 8px;
    right: 8px;
    padding: 22px 38px 20px 58px;

    &::after {
      left: 22px !important;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 22px;
    left: 36px;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="%233a78cc"/><path d="M13.0324 5.48999L12.7984 14.22H11.0884L10.8544 5.48999H13.0324ZM12.0064 18.126C11.6344 18.126 11.3224 18 11.0704 17.748C10.8184 17.496 10.6924 17.184 10.6924 16.812C10.6924 16.44 10.8184 16.128 11.0704 15.876C11.3224 15.624 11.6344 15.498 12.0064 15.498C12.3664 15.498 12.6724 15.624 12.9244 15.876C13.1764 16.128 13.3024 16.44 13.3024 16.812C13.3024 17.184 13.1764 17.496 12.9244 17.748C12.6724 18 12.3664 18.126 12.0064 18.126Z" fill="white"/></svg>');
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &>button {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L1 11" stroke="%23171C29" stroke-width="1.5"/><path d="M1 1L11 11" stroke="%23171C29" stroke-width="1.5"/></svg>');
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  h3,
  h4,
  h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
  }

  p {
    font-size: 13px;
  }
}

.datepicker.dropdown-menu {
  z-index: 1000 !important;
}

.remove-btn {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L23 23" stroke="black" stroke-width="4"></path><path d="M23 1L1 23" stroke="black" stroke-width="4"></path></svg>');
  background-size: 8px 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  cursor: pointer;
  border-radius: 50px;
}

.flex_column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.editable-container.editable-popup {
  z-index: 500 !important;
}

div.dt-container .dt-length,
div.dt-container .dt-info,
div.dt-container .dt-processing,
div.dt-container .dt-paging {
  display: none !important;
}

.pg-btn {
  cursor: pointer;
  border: 1px solid #d8deeb;
  border-radius: 8px;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 8px 14px;
  font-size: 13px;
  font-weight: 600;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  &:hover {
    border-color: var(--blue_gold);
  }

  &:active {
    opacity: .4;
  }

  &.--dropdown {
    --icon_size: 10px;
    padding-right: 28px;

    &::after {
      content: '';
      position: absolute;
      width: var(--icon_size);
      height: var(--icon_size);
      right: var(--icon_size);
      background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5 4.5L8 10.5L1.5 4.5" stroke="%230D111C" stroke-width="3"/></svg>');
      background-size: var(--icon_size) var(--icon_size);
      background-repeat: no-repeat;
    }
  }

  &.--select {
    padding: 0;

    select {
      padding-right: 38px !important;
      border: none !important;
    }
  }

  svg {
    width: 10px;
    height: 10px;

    path {
      stroke-width: 3px;
    }
  }
}

.am-spot-row {
  --gap: 10px;
  column-gap: calc(var(--gap) + 2px);
  row-gap: 2px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  &>span {
    display: flex;
    gap: 4px;
    align-items: center;
    position: relative;
    color: #494f5f;
    font-size: 12px;
    font-weight: 600;

    &::after {
      content: '';
      background-color: #cdd3dd;
      border-radius: 50px;
      width: 5px;
      height: 5px;
      margin-left: var(--gap);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &>span {
      color: #577daf;
    }

    &.--spot {
      padding: 2px 10px;
      background-color: var(--blue_gold);
      color: white;
      border-radius: 50px;
      margin-right: 14px;

      &::after {
        position: absolute;
        right: -16px;
      }

      &:last-child {
        margin-right: 0 !important;
      }

      &.--green {
        background-color: #2a9d8f;
      }
    }
  }
}

.ask-modal {
  z-index: 99999;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  &>div {
    &:first-child {
      background-color: rgba(13, 17, 26, .6);
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
    }

    &:last-child {
      z-index: 2;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      background-color: #fff;
      flex-flow: wrap;
      width: 100%;
      max-width: 480px;
      min-height: 90px;
      padding: 42px;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 12px 30px rgba(10, 13, 20, .19);

      @include maxWidthXs {
        max-width: 90%;
        padding: 24px;
      }

      h3,
      h4,
      h5 {
        text-transform: uppercase;
        width: 100%;
        padding-right: 20%;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;

        @include maxWidthXs {
          padding-right: 0%;
        }
      }

      p {
        line-height: 24px;
      }

      &>div {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        width: 100%;
        margin-top: 12px;
        display: flex;

        button {
          color: #fff;
          text-align: center;
          background-color: #171c29;
          flex: 1;
          justify-content: center;
          align-items: center;
          padding: 12px;
          font-weight: 600;
          font-size: 13px;
          display: flex;
          transition: all 250ms ease;

          &:not(:first-child) {
            &:hover {
              background-color: var(--blue_gold);
              color: white;
            }
          }

          &:first-child {
            color: #4b5058;
            background-color: #edeff3;
          }
        }
      }
    }
  }
}

.pg-pag {
  z-index: 2;
  position: relative;
  font-size: 12px;
}

.pg-pag__wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;

  @include maxWidthXs {
    justify-content: center;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.pg-pag__container {
  grid-column-gap: 16px;
  grid-row-gap: 10px;
  background-color: #fff;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 20px;
  display: flex;
  box-shadow: 0 12px 32px rgba(131, 145, 180, .16);

  @include maxWidthXs {
    flex-flow: column;
    padding: 12px;
  }
}

.pg-pag__sum {
  font-weight: 600;

  &>span {
    color: var(--bright_blue)
  }

  @include maxWidthSm {
    display: none;
  }
}

.pg-pag__group {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  display: flex;

  &>button,
  &>a {
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(216, 222, 235, 0);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    padding: 8px;
    font-weight: 600;
    line-height: 12px;
    transition: all .15s;
    display: flex;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    &.is-active {
      z-index: 2;
      border-color: var(--blue_gold);
      background-color: var(--blue_gold);
      color: #fff;
      pointer-events: none;
    }

    &:active {
      opacity: .6;
    }

    &:not(.is-active):hover {
      background-color: #ebf2ff;
    }

    &:first-child,
    &:last-child {
      padding-left: 10px;
      padding-right: 10px;
      color: #4d5463 !important;
      background-color: #ebf3ff;

      &:hover {
        border-color: var(--blue_gold);
        background-color: transparent;
        color: var(--black)
      }

      @include maxWidthXs {
        span {
          display: none;
        }
      }
    }

    &:first-child {
      &::before {
        content: '';
        width: 10px;
        height: 12px;
        background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 2L3 8.5L9 15" stroke="currentColor" stroke-width="3"></path></svg>');
        background-size: 10px 10px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &:last-child {
      &::after {
        content: '';
        width: 10px;
        height: 12px;
        background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L8 8.5L2 15" stroke="currentColor" stroke-width="3"></path></svg>');
        background-size: 10px 10px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    @include maxWidthXs {
      min-width: 34px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.blank-search__input-wrap {
  position: relative;

  &>svg {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
    height: 100%;
    width: 16px;
  }
}

.search-drop__container {
  background-color: #fff;
  box-shadow: 0 24px 92px rgba(44, 54, 68, 0.2);
  transition: all 180ms ease;
}

.search-item__wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 6px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.search-item__row {
  grid-column-gap: 10px;
  grid-row-gap: 6px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.search-drop__offset-box {
  padding: 6px;
  position: relative;
}

.search-drop {
  z-index: 3;
  padding-top: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;

  .content-loader {
    display: none;
  }

  &:not(.--filled) {
    .search-drop__list {
      min-height: 0;

      &>* {
        display: none;
      }
    }
  }

  &.--empty {
    .search-drop__list {
      &::before {
        content: 'No results found';
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
      }

      &::after {
        display: none;
      }
    }
  }

  &.--filled {
    .search-drop__list {

      &::before,
      &::after {
        display: none;
      }
    }

    .content-loader {
      display: none;
    }
  }

  &.--loading {
    .content-loader {
      display: flex;
    }

    .search-drop__list {

      &::after,
      &::before {
        display: none;
      }
    }
  }
}

.typo_bold {
  color: #202124;
  font-size: 13px;
  font-weight: 600;

  &>span {
    color: #3b6297;
  }
}

.search-drop__list {
  flex-flow: column;
  min-height: 50px;
  max-height: 380px;
  display: flex;
  overflow: auto;
  position: relative;

  &::after {
    content: 'Start typing to search...';
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-style: italic;
  }
}

.search-item {
  cursor: pointer;
  border: 1px solid rgba(64, 140, 241, 0);
  border-bottom-color: #edf0f6;
  padding: 16px 20px;
  transition: all .25s;

  &:last-child {
    border-bottom-color: transparent;
  }
}

.search-item:hover {
  z-index: 3;
  color: #3b6297;
  background-color: rgba(64, 140, 241, .05);
  border: 1px solid #408cf1;
  position: relative;
}

.search-item:active {
  opacity: .65;
}

.typo_up {
  letter-spacing: .6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.typo_xs {
  color: #202124;
  font-size: 12px;
  line-height: 16px;

  &>span {
    opacity: .65;
  }
}

@media screen and (max-width: 479px) {
  .search-item__wrapper {
    grid-row-gap: 10px;
  }
}

.content-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 112px;
}

svg.svg_loader {
  height: 64px;
  width: 64px;
  transform: rotate(-90deg);
  stroke: #408cf1;
  --time: 1.4s;

  circle {
    stroke-dasharray: 156;
    stroke-dashoffset: 156;
    animation: svg_content_loader var(--time) infinite;
  }
}

@keyframes svg_content_loader {
  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -156;
  }
}

.pin-lock {
  z-index: 99999;
  color: #21283d;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transition: all 950ms ease;

  &.--fade {
    opacity: 0;
    transform: scale(1.1);
    filter: blur(8px);
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  button {
    aspect-ratio: 1.1;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: all .18s cubic-bezier(.39, .575, .565, 1);
    display: flex;
    position: relative;
    box-shadow: 0 16px 48px rgba(45, 53, 73, .09);

    &:not([data-pin-evt]):hover {
      color: #fff;
      background-color: #0ab2e9;
      border-color: #0ab2e9;
      box-shadow: 0 16px 48px rgba(45, 53, 73, 0);
    }

    &:not([data-pin-evt]):active {
      background-color: #0bade2;
      border-color: #0bade2;
      transform: scale(.95);
    }

    &.is-active {
      color: #0895c4;
      background-color: rgba(255, 255, 255, 0);
      border-color: #0ab2e9;
    }

    &:nth-child(10),
    &:nth-child(12) {
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(213, 219, 229, 0);
      font-size: 15px;

      &:hover {
        color: #21283d;
        border-color: #cdd2db;
      }
    }
  }
}

.pin-lock__btn-grid {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.pin-lock__title-group {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pin-lock__holder {
  grid-column-gap: 38px;
  grid-row-gap: 38px;
  text-align: center;
  flex-flow: column;
  width: 100%;
  max-width: 290px;
  min-height: 120px;
  display: flex;
}

.pin-lock__wrapper {
  z-index: 2;
  background-color: #f5f8fc;
  justify-content: center;
  align-items: center;
  padding: 24px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.pin-lock__output {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 250ms ease;

  &>span {
    pointer-events: none;
    border: 1px solid #cfd6e7;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    transition: all 250ms ease;
  }

  &.--false {
    &>span {
      border-color: #e23958;
      color: #e23958;
    }
  }

  &.--true {
    &>span {
      border-color: #0ebe66;
      color: #028b47;
      background-color: rgba(28, 202, 115, 0.04);
    }
  }
}

.mg-top_6 {
  margin-top: 6px;
}

span {
  &.--warn {
    color: #d76624;
    font-weight: 600;
  }
}

.--pd_24 {
  padding: 0 18px;
}

.flex_col {
  flex-direction: column;
  gap: 16px;
}

.color_orange {
  color: #ca8b35;
}

.color_green {
  color: #349a7a;
}

/* #region  Page tip */
.page-tip {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 99999;
  padding: 8px 16px;
  border-radius: 0.6rem;
  background-color: var(--royal_blue);
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  max-width: 200px;
  pointer-events: none;
  box-shadow: 0 12px 58px rgba(47, 69, 124, 0.6);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--royal_blue);
    width: 10px;
    height: 10px;
    bottom: -5px;
  }

  &.--left {
    &::after {
      right: auto;
      left: 18px;
    }
  }

  &.--top {
    &::after {
      top: -5px;
      bottom: auto;
    }
  }
}

/* #endregion */

.flex_between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-flow: wrap;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .toggle-checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
    user-select: none;
    font-size: 13px;
    transition: all 250ms ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-weight: 600;
    --height: 28px;
    --width: 48px;
    --inactive-color: #bbc6e1;
    --offset: 2px;

    &:active {
      opacity: .7;
    }

    &:hover {
      span {
      color: #6e7890;
      }
    }

    span {
      transition: all 250ms ease;
    }

    input {
      height: var(--height);
      width: var(--width);
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--inactive-color);
      background-color: transparent;
      transition: all 250ms ease;
      border-radius: 50px;

      &:disabled {
        cursor: not-allowed;

        &+span {
          cursor: not-allowed;
        }
      }

      &:checked {
        background-color: var(--royal_blue);
        border-color: var(--royal_blue);

        &::after {
          background-color: white;
          transform: translateY(calc(var(--offset) + 1px)) translateX(calc(var(--width) / 2 - var(--offset)));
        }

        &+span {
          color: var(--royal_blue_dark);
        }
      }

      &::after {
        content: '';
        display: block;
        left: 0px;
        top: 0px;
        position: absolute;
        background-color: var(--inactive-color);
        border-radius: 500px;
        height: calc(var(--height) - (var(--offset) * 4));
        width: calc(var(--height) - (var(--offset) * 4));
        transition: all 250ms ease;
        transform: translateY(calc(var(--offset) + 1px)) translateX(calc(var(--offset) + 1px));
      }
    }
  }
}