@use "./mixin" as *;

.i-modal {
  color: black;
  z-index: 3333;
  background-color: rgba(32, 33, 36, 0);
  position: fixed;
  inset: 0%;
  transition: var(--transition-m);

  h4 {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  }

  &--active {
    background-color: rgba(32, 33, 36, 0.35);

    .i-modal__container {
      transform: translate(-50%, -50%) translateY(0);
      opacity: 1;

      @include maxWidthMd {
        transform: translateY(0);
      }
    }
  }
}

.i-modal__container {
  z-index: 2;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  background-color: #fff;
  border-radius: 1.2rem;
  flex-flow: column;
  width: 100vw;
  max-width: 520px;
  min-height: 42px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(24px);
  transition: var(--transition-m);
  box-shadow: 0 2px 5px rgba(32, 33, 36, 0.1);
  opacity: 0;
  border: 1px solid var(--space-color-border);

  @include maxWidthMd {
    box-shadow: none;
    border-radius: 1rem 1rem 0 0;
    max-width: none;
    inset: auto 0 0;
    transform: translateY(110%);
    opacity: 1;
    border: none;
  }
}

.i-modal__backdrop {
  position: absolute;
  inset: 0;
  background-color: transparent;
  opacity: 0;
  z-index: 1;
}

.i-modal__slide-handler {
  justify-content: center;
  align-items: flex-end;
  height: 48px;
  padding-bottom: 10px;
  display: none;
  position: absolute;
  inset: -48px 0% auto;

  &::after {
    content: "";
    opacity: 0.6;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #202124;
    border-radius: 50rem;
    width: 68px;
    height: 5px;
  }
}

.i-modal__wrapper {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-flow: column;
  padding: 38px;
  display: flex;
}

.i-modal__close-btn {
  z-index: 2;
  background-color: #fff;
  border: 1px solid #dfe3e7;
  border-radius: 50rem;
  width: 38px;
  height: 38px;
  position: absolute;
  top: -10px;
  right: -19px;
  background-size: 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L23 23" stroke="%23171c29" stroke-width="4"></path><path d="M23 1L1 23" stroke="%23171c29" stroke-width="4"></path></svg>');
}

@media screen and (max-width: 991px) {
  .i-modal__slide-handler {
    display: flex;
  }

  .i-modal__close-btn {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .i-modal__wrapper {
    padding: 26px;
  }
}
