.i-card {
  background-color: #fff;
  border-radius: 1rem;
  min-height: 120px;
  position: relative;
  box-shadow: 0 8px 58px #c3c9da4d;
  display: flex;
  flex-direction: column;
  --media-padding: 6px;
  --side-padding: 20px;

  &:hover {
    .i-card__controls {
      display: flex;
    }
  }

  @include maxWidthXs {
    --side-padding: 12px;
  }
}

.i-card__top {
  position: relative;
}

.i-card__media {
  padding: var(--media-padding);

  .splide__arrow {
    background-color: white !important;
    opacity: 1 !important;
    width: 24px !important;
    height: 30px !important;
    background-image: url('data:image/svg+xml,<svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L14 14L2 26" stroke="%23111114" stroke-width="5"/></svg>') !important;
    background-size: 12px 12px !important;
    background-repeat: no-repeat !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
    background-position: left 8px center;

    svg {
      display: none !important;
    }

    &.splide__arrow--next {
      right: var(--media-padding) !important;

      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-image: url('data:image/svg+xml,<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42 42V0C42 19.5 17 42 0 42H10.5H21H42Z" fill="white"/></svg>');
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        inset: -10px 0 auto auto;
      }

      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-image: url('data:image/svg+xml,<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42 0V42C42 22.5 17 0 0 0H10.5H21H42Z" fill="white"/></svg>');
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        inset: auto 0 -10px auto;
      }
    }

    &.splide__arrow--prev {
      left: var(--media-padding) !important;
      transform: rotate(180deg) translateY(50%) !important;

      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-image: url('data:image/svg+xml,<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42 42V0C42 19.5 17 42 0 42H10.5H21H42Z" fill="white"/></svg>');
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        inset: -10px 0 auto auto;
      }

      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-image: url('data:image/svg+xml,<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42 0V42C42 22.5 17 0 0 0H10.5H21H42Z" fill="white"/></svg>');
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        inset: auto 0 -10px auto;
      }
    }
  }
}

.i-card__pic-wrap {
  border-radius: 0.85rem;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include maxWidthXs {
    aspect-ratio: 1/1.2;
  }
}

.i-card__pic-delete {
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  position: absolute;
  inset: auto auto 6px 6px;
  z-index: 1;
  border: 1px solid var(--red);
  background-color: var(--red);
  color: #fff;
  box-shadow: 0 2px 5px var(--red-shadow);
}

.i-card__tags {
  display: flex;
  gap: 4px;
  flex-flow: wrap;
  position: absolute;
  z-index: 2;
  inset: calc(var(--media-padding) * 2) calc(var(--media-padding) * 2) auto calc(var(--media-padding) * 2);

  @include maxWidthXs {
    position: static;
    padding: var(--media-padding);
    padding-bottom: 0 !important;
  }
}

.i-card-tag {
  gap: 4px;
  background-color: #dcdcdc;
  border-radius: .5rem;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  height: 24px !important;

  span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  button {
    width: 14px;
    height: 14px;
    flex: none;
    cursor: pointer;
  }

  &.--stock {
    background-color: #0a997d;
    color: white;
  }

  &.--out {
    background-color: #ffe7e7;
    color: #e52d2d;
  }

  &.--store {
    background-color: #29558f;
    color: white;
  }
}

.i-card__controls {
  display: none;
  width: 100%;
  flex-flow: wrap;
  gap: 4px;

  input,
  select {
    position: relative;
    height: 24px !important;
    background-color: white;
    border: 1px solid var(--b-grey);
    border-radius: 0.5rem;
    font-size: 11px !important;
    font-weight: 700;
    padding: 0 6px !important;
    flex: auto;
    max-width: 86px;
    box-shadow: var(--b-shadow);

    &::placeholder {
      color: #858b96;
      transition: all 200ms ease;
    }

    &:focus::placeholder {
      opacity: 0.35;
    }
  }

  select {
    padding-right: 18px !important;
    background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30 9L16 23L2 9" stroke="black" stroke-width="8"/></svg>');
    background-size: 8px 8px;
    background-position: right 8px center;
    background-repeat: no-repeat;
  }

  @include maxWidthXs {
    display: flex !important;
  }
}

.i-card__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  padding-bottom: 24px;
}

.i-card__details {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}

.i-card__ct-group {
  position: relative;
  z-index: 3;
  margin: 0 var(--media-padding) 8px var(--media-padding) !important;
  border-radius: 0.5rem;
  border: 1px solid var(--b-grey);
  box-shadow: var(--b-shadow);
  font-weight: 600;
  font-size: 13px;

  &:hover {
    .i-card__ct-drop {
      display: flex;
      box-shadow: 0 8px 24px rgba(198, 202, 209, 0.5);
    }
  }
}

.i-card__ct-btn {
  --local-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
  gap: 5px;
  color: var(--local-color);
  position: relative;
  z-index: 3;

  &::after {
    content: '';
    width: 6px;
    height: 6px;
    transform: rotate(45deg) translateY(-2px);
    border-bottom: 2px solid var(--local-color);
    border-right: 2px solid var(--local-color);
  }
}

.i-card__ct-drop {
  display: none;
  gap: 4px;
  flex-flow: wrap;
  padding:  12px 8px 12px 8px;
  position: absolute;
  top: calc(100% - 6px);
  left: -1px;
  right: -1px;
  border-top: none !important;
  border: 1px solid var(--b-grey);
  z-index: 2;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #fff;
  box-shadow: var(--b-shadow);

  a,
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 28px;
    line-height: 16px;
    cursor: pointer;
    font-weight: 600;
    gap: 6px;
    // color: var(--black);
    background-color: #3886f0;
    color: white;
    // border: 1px solid var(--b-grey);
    // box-shadow: var(--b-shadow);
    font-size: 13px;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px #c9d7ea;

    &:hover {
      background-color: #296fd0;
    }

    &.--red {
      background-color: var(--red);
      box-shadow: 0 2px 5px var(--red-shadow);
    }
  }
}

.i-card__main-info {
  padding: 0 calc(var(--side-padding) * 1);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.i-card__style-link {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: var(--royal_blue);

  &:hover {
    text-decoration: underline;
    color: var(--royal_blue_hover)
  }
}

.i-card__footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 calc(var(--side-padding) * 1);
}

.i-card__price {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}