.body_print-tag {
  .am-header__nav {
    display: none;
  }

  *[data-am-evt="toggleSidebar"] {
    display: none;
  }

  .am-content {
    padding: 0;
  }

  .am-btn.--blue {
    &:hover {
      background-color: var(--blue_gold_hover);
    }
  }

  // .am-btn:not(.--blue) {
  //   background-color: var(--bright_blue);
  // }

  .am-main__header-title {
    font-size: 24px;

    @include maxWidthXs {
      font-size: 24px;
    }
  }

  .am-row__header {
    @include maxWidthSm {
      flex-direction: column;
    }
  }

  .am_flex8 {
    @include maxWidthSm {
      width: 100%;
    }

    @include maxWidthXs {
      button {
        flex: 1;
      }
    }
  }
}

.print-tag__wrapper {
  width: 100%;
  padding-left: 8vw;
  padding-right: 8vw;

  @include maxWidthXs {
    padding: 0;
  }
}

.print-tag__area {
  flex-flow: column;
  max-width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.print-tag__box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  box-shadow: 0 12px 78px rgba(23, 28, 41, .06);
  min-height: 320px;

  @include maxWidthMd {
    padding-top: 68px;
  }
}

.print-tag__row {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  border-top: 1px solid #eef4f8;
  flex-flow: column;
  min-height: 60px;
  padding: 42px;
  display: flex;

  &:first-child {
    border: none;
  }

  @include maxWidthXs {
    border-top-width: 8px;
    border-top-color: #f5f7fa;
    padding-left: 18px;
    padding-right: 18px;

    &:first-child {
      border-top: 8px solid #f5f7fa;
    }
  }

  &.--dual {
    padding: 0;
    display: flex;
    flex-direction: row;

    @include maxWidthMd {
      flex-direction: column;
    }

    &>.print-tag__dual-box:first-child {
      border-right: 1px solid #f5f7fa;

      @include maxWidthXs {
        border-right: none;
        border-bottom: 8px solid #f5f7fa;
      }
    }
  }
}

.print-tag__dual-box {
  padding: 42px;
  width: 50%;

  @include maxWidthMd {
    width: 100%;
  }

  @include maxWidthXs {
    padding: 42px 18px;
  }
}

.print-tag__dual-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tag-preview {
  flex-direction: column;
  flex: 1;
  max-width: 360px;
  min-height: 120px;
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  aspect-ratio: 1 / 1.58;
  border: 1px dashed var(--bright_blue);
  padding: 20px 10px 10px;
  overflow: hidden;
  background-color: white;
  position: relative;
  z-index: 3;
  transition: all 250ms ease;

  &.--hovered {
    box-shadow: 0 0 112px rgba(97, 118, 171, 0.4);
    border-color: transparent;
  }

  &>.custom-checkbox {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 4;

    span {

    }
  }
}

.tag-preview__logo {
  width: 120px;
  margin: 0px auto 10px auto;
}

.tag-preview__item-img {
  position: relative;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: 'Input P# or Upload Image';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f6f7f9;
    color: #748190;
    padding: 20px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    font-size: 13px;
    font-weight: 600;
  }

  &.--filled {
    &::after {
      content: '';
      opacity: .05;
      background-image: linear-gradient(326deg, #03244d 13%, #e4f2ff 56%, #1c2c3c);
      padding: 0;
    }
  }
}

.tag-preview__details {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &.--filled {
    .empty-placeholder {
      display: none;
    }
  }

  &:not(.--filled) {
    &::after {
      content: 'Start filling the fields to display tag preview.';
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #f6f7f9;
      color: #748190;
      padding: 20px;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      overflow: hidden;
      font-size: 13px;
      font-weight: 600;
    }
  }

  &>div {
    &:not(.empty-placeholder) {
      border: 1px solid #dfe5ec;
      flex-flow: column;
      flex: 40%;
      justify-content: flex-start;
      align-items: flex-start;
      min-width: 30%;
      margin-bottom: -1px;
      margin-right: -1px;
      padding: 4px 10px;
      display: block;
      overflow: hidden;

      &>span {
        display: block;

        &:first-child {
          color: #868d96;
          flex: none;
          align-items: center;
          width: 100%;
          margin-bottom: -1px;
          padding: 0;
          font-size: 10px;
          font-weight: 600;
          line-height: 18px;
          display: flex;
        }

        &:last-child {
          flex-direction: row;
          align-items: center;
          padding: 0;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          display: flex;
        }
      }
    }
  }
}

.print-tag__print-list {
  min-height: 48px;
  flex: 1;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #f6f7f9;
  flex-flow: wrap;
  padding: 20px;
  display: flex;
  position: relative;

  &:not(.--filled) {
    &::before {
      content: 'Add or find tags to show selected tags...';
      font-size: 13px;
      font-weight: 600;
      margin: auto;
      color: #748190;
    }
  }
}

.print-tag-label {
  position: relative;
  user-select: none;

  &>input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;

    &:checked {
      &~div {
        &::after {
          border-color: var(--blue_gold);
        }
        &::before {
          opacity: 1;
        }
      }
    }

    &:not(:checked) {
      &~div {
        opacity: .75;
        filter: grayscale(100%);
        transform: scale(.985);

        &>div {
          box-shadow: 0 6px 18px rgba(23, 28, 41, 0);
        }
      }
    }
  }

  &>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 180ms ease;

    &::after,
    &::before {
      transition: all 180ms ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      border: 1px solid transparent;
      pointer-events: none;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 4;
      bottom: 4px;
      right: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      background-color: var(--blue_gold);
      background-image: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 3L6.5 7.5L12.5 1.5" stroke="%23ffffff" stroke-width="3.5"/></svg>');
      background-size: 8px;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0;
      pointer-events: none;
    }

    &>div {
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      background-color: #fff;
      flex-flow: column;
      width: 110px;
      padding: 8px;
      display: flex;
      position: relative;
      box-shadow: 0 6px 18px rgba(23, 28, 41, .05);
      min-height: 60px;

      &>div:first-child {
        position: relative;

        &>div {
          aspect-ratio: 1.4;
          display: block;
          background-size: cover;
        }

        &::after {
          content: '';
          opacity: .05;
          cursor: pointer;
          background-image: linear-gradient(326deg, #03244d 13%, #e4f2ff 56%, #1c2c3c);
          justify-content: center;
          align-items: center;
          padding: 0;
          display: flex;
          position: absolute;
          top: 0%;
          bottom: 0%;
          left: 0%;
          right: 0%;
          overflow: hidden;
          pointer-events: none;
        }
      }

      &>div:nth-child(2).print-tag-label__details {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 54px;
        overflow: hidden;

        span {
          display: block;
          font-size: 11px;
          line-height: 18px;
        }
      }
    }
  }
}

.printable_tags {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  aspect-ratio: 1 / 1.294;

  .tag-preview {
    border-color: transparent;
    box-shadow: 0 18px 58px rgba(118, 125, 141, 0.08);

    &:hover {
      border-color: var(--bright_blue);
    }
  }
}

.main_fin_list {
  .tag-preview {
    border-color: transparent;
    box-shadow: 0 18px 58px rgba(118, 125, 141, 0.08);

    &:hover {
      border-color: var(--bright_blue);
    }
  }
}

.tag-preview__bar {
  // position: absolute;
  // left: 10px;
  // top: 10px;
  // z-index: 4;
  margin: 0 auto;
  display: flex;
  gap: 4px;

  &>button {
    color: #134f87;
    cursor: pointer;
    background-color: #f0f6ff;
    border: 1px solid #f0f6ff;
    justify-content: center;
    align-items: center;
    padding: 6px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    transition: all 200ms ease;
    gap: 4px;

    &.--remove {
      color: #b72840;
      border-color: #d23f57;
      background-color: rgba(247, 159, 173, 0.08);

      &:hover {
      border-color: #d23f57;
      background-color: rgba(247, 159, 173, 0.15);
      }
    }

    &:hover {
    border-color: #1a6fbe;
    background-color: #eaf2ff;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}