:root {
  --panel-border: #e0e4ec;
  --panel-header-height: 58px;
  --panel-sub-typo: #727477;
  --panel-grey: #edeff3;
  --panel-black: #2c364b;
  --panel-black-20: #c4d3ef;
  --panel-bg: #f6f8fa;
  --panel-blue: #1787ee;
  --panel-sm-height: 38px;
  --panel-sm-radius: .45rem;
  --panel-blue-30: #1787ee4d;
  --panel-blue-dark: #1872c5;
  --panel-green: #0fb88b;
  --panel-green-30: #0fb88b4d;
  --panel-input-bg: #f3f5f6;
  --panel-grey-dark: #dadee4;
  --panel-blue-10: #1787ee1a;
  --panel-blue-20: #1787ee33;
  
  --body_color: #f7faff;
  --white: #ffffff;
  --black: #28344b;
  --black_hover: #3b4861;
  --board-grey: #f3f8fd;
  --dark_grey: #8c96a5;
  --light_blue: #eef5fc;
  --light_blue_dim: #cddff5;
  --light_blue_hover: #dae5f1;
  --bright_blue: #3a78cc;
  --bright_blue_hover: #5092eb;
  --navy_blue: #22497e;
  --navy_blue_light: #3b6297;
  --royal_blue: #3279da;
  --royal_blue-shadow: #3279da40;
  --royal_blue_dark: #2662b7;
  --royal_blue_hover: #2368ca;
  --royal_blue_light: #488eec;
  --royal_blue_light_hover: #4478bc;
  --royal_blue_transparent: rgba(50, 121, 218, .05);
  --navy_blue_pale: #577daf;
  --blue_gold: #408cf1;
  --blue_gold_hover: #60a1f6;
  --wh_blue: #0ba7f0;
  --wh_blue_hover: #27b4f6;
  --grey: #f7faff;
  --b-grey: #e2e5ec;
  --b-shadow: 0 3px 6px rgba(81, 86, 94, 0.08);
  --light_grey: #eef0f8;
  --dark-grey: #7e8490;
  --whale-border: #e9f0f8;
  --red: #e52d2d;
  --ghost-red: #fff4f4;
  --red-hover: #d41c1c;
  --red-active: #f54646;
  --red-shadow: #e52d2d40;
  --green: #04b897;
  --ghost-green: #f3fff7;
  --green-shadow: #04b89740;
  --transition-m: all 250ms cubic-bezier(.39, .575, .565, 1);
  --transition-l: all 350ms cubic-bezier(.39, .575, .565, 1);
  --transition-s: all 175ms cubic-bezier(.39, .575, .565, 1);
  --box-shadow-color: rgba(54, 88, 134, .03);

  --media-bg-color: radial-gradient(circle farthest-side at 100%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 60%), radial-gradient(circle farthest-side at 40% 0, rgba(53, 50, 48, 0.12), rgba(255, 255, 255, 0) 50%), linear-gradient(#e2e0df, #e7e6e5 14%, #f4f3f2 60%, #f3f3f3);
  --media-bg-opacity: 0.6;
  --media-bg-filter: grayscale(35%) hue-rotate(211deg);
  --media-bg-index: 0;

  --board-sidebar-width: 280px;
  --board-padding: 38px;
  --board-content-width: 60%;

  @media screen and (min-width: 1440px) {
    --board-content-width: 64%;
  }

  @include maxWidthMd {
    --board-padding: 24px;
  }

  @include maxWidthSm {
    --board-cont-width: 100%;
  }

  @include maxWidthXs {
    --board-padding: 20px;
  }
}