:root {
  --body_color: #f7faff;
  --white: #ffffff;
  --black: #202124;
  --bright_blue: #3a78cc;
  --bright_blue_hover: #5092eb;
  --navy_blue: #22497e;
  --navy_blue_light: #3b6297;
  --navy_blue_pale: #577daf;
  --blue_gold: #408cf1;
  --grey: #f7faff;
  --light_grey: #eef0f8;
  --dark-grey: #7e8490;
}