:root {
  --body_color: #f7faff;
  --white: #ffffff;
  --black: #202124;
  --navy_blue: #22497e;
  --navy_blue_light: #3b6297;
  --navy_blue_pale: #577daf;
  --blue_gold: #408cf1;
  --grey: #f7faff;
  --dark-grey: #7e8490;
}