@use './mixin' as *;

.sms-modal {
  position: fixed;
  z-index: 120;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 510px;
  min-height: 60px;
  background-color: white;
  box-shadow: 0 12px 58px var(--box-shadow-color);
  border-radius: 0.8rem;
  line-height: 22px;
  display: none;

  [data-custom-upload] {
    display: none;
  }

  form {
    &.--mms {
      [data-custom-upload] {
        display: flex;
      }
    }
  }

  h2,h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;

    span {
      font-size: 14px;
      display: block;
      margin-top: 5px;
      line-height: 20px;
      font-weight: 400;
    }
  }

  @include maxWidthXs {
    transform: none;
    border-radius: 0.6rem 0.6rem 0 0;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
  }

  .custom-checkbox {
    padding-left: 4px;
    span {
      gap: 6px;

      &::before {
        border-radius: 0.2rem;
        background-color: #dde0eb;
        border-color: #dde0eb;
      }
    }
  }

  .sms-viewer__btn {
    flex: 1;
  }
}

.sms-modal__wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 32px;

  @include maxWidthXs {
    padding: 32px 20px;
    gap: 20px;
  }
}

.sms-modal__input-grid {
  display: flex;
  flex-flow: wrap;
  gap: 12px;
}

.sms-modal__group-list {
  display: none;
  align-items: center;
  column-gap: 6px;
  row-gap: 4px;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  flex-flow: wrap;
  padding-bottom: 10px;
  border-bottom: 1px solid #dde0eb;

  span {
    padding: 3px 7px;
    border-radius: 50px;
    background-color: #eff3f7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
  }
}

.sms-viewer__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}