.toolbar {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 30;
  transition: all 350ms cubic-bezier(.39, .575, .565, 1);
  min-width: 142px;

  &:not(.is-active) {
    .toolbar-form {
      opacity: 0;
      transition: all 130ms cubic-bezier(.39, .575, .565, 1);
    }
  }

  &.is-active {
    min-width: 460px;
    margin-bottom: 4px;

    @include maxWidthXs {
      min-width: 100%;
    }

    .toolbar-menu {
      max-width: 9999px;
    }
  }

  @include maxWidthXs {
    max-width: 100%;
  }
}

.toolbar__wrapper {
  padding: 12px;

  @include maxWidthXs {
    padding: 10px;
  }
}

.toolbar__container {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(35, 48, 75, .5);
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4px;
  display: flex;
}

.toolbar__btn-group {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  display: flex;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.toolbar-btn {
  height: 38px;
  min-width: 44px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  background-color: #2d3441;
  border: 1px solid #2d3441;
  border-radius: 6px;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 11px;
  font-weight: 700;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  position: relative;
  overflow: hidden;

  &:active {
    background-color: #4e5767 !important;
    border-color: #4e5767 !important;
  }

  &>svg {
    width: 12px !important;
    height: 12px !important;
  }

  &:hover {
    background-color: #353c49;
  }

  [data-lottie="diamondSpin"] {
    margin-right: -4px;
    margin-left: -9px;
  }

  &[data-evt="toggleSortMenu"],
  &[data-evt="toggleFilterMenu"] {
    &.is-active {
      &::after {
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-color: #97deff;
        margin-left: 6px;
      }
    }
  }
}

[data-lottie] {
  pointer-events: none;
}

[data-lottie="diamondSpin"] {
  width: 42px;
}

[data-id="pts"] {
  color: #97deff;
  font-weight: 700;
}

.toolbar-menu {
  color: white;
  overflow: hidden;
  height: 0px;
  max-width: 142px;
  transition: all 350ms cubic-bezier(.39, .575, .565, 1);
}

.toolbar-menu__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
}

.toolbar-form::-webkit-scrollbar {
  display: none;
}

.toolbar-form {
  position: relative;
  transition: all 350ms cubic-bezier(.39, .575, .565, 1) 200ms;
  overflow: auto;
  max-height: 320px;
  min-height: 60px;

  &::-webkit-scrollbar {
    display: none;
  }

  &>label {

    input {
      display: none;

      &:checked {
        &~div {
          background-color: #4b5363;

          &>span:last-child {
            background-color: transparent;
            border-color: #8b92a1;
            background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4L5.44444 8L11 3" stroke="white" stroke-width="2"/></svg>');
          }
        }
      }
    }

    &:active {
      &>div {
        opacity: .5;
      }
    }

    &:last-child {
      &>div {
        border: none;
      }
    }

    &>div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 14px;
      font-size: 13px;
      font-weight: 600;
      border-bottom: 1px solid #4b5363;
      transition: all 200ms ease;

      span {
        transition: all 200ms ease;

        &:last-child {
          width: 18px;
          height: 18px;
          border-radius: 50px;
          border: 1px solid #4c5566;
          background-color: #4c5566;
          background-size: 9px 9px;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      &:hover {
        background-color: rgba(75, 83, 99, 0.65);

        span {
          &:last-child {
            background-color: transparent;
            border-color: #8b92a1;
          }
        }
      }
    }

    &:last-child {
      border: none;
    }
  }
}

.toolbar-content {
  display: none;
  background-color: #373e4c;
  border-radius: 7px;
}

.toolbar-form-reset {
  color: rgba(255, 255, 255, .65);
  letter-spacing: .6px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(76, 83, 99, .54);
  border-radius: 7px;
  padding: 4px 14px;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  transition: all .2s;
  display: block;
  width: calc(100% - 12px);
  margin: 6px auto 6px;
  text-align: center;
  position: relative;

  &:hover {
    color: white;
    background-color: #408cf1;
  }

  &:active {
    background-color: #5da1f9;
  }
}

.pts-menu__user {
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  display: flex;

  &:first-child {
    background-image: radial-gradient(circle farthest-side at 0 0, rgba(255, 209, 124, .13), rgba(55, 62, 76, 0));
    background-color: unset !important;

    .pts-menu__user-emblem {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none"><path d="M9.81449 1.21922C10.5769 0.527512 11.7398 0.527511 12.5022 1.21922L13.8368 2.43002C14.2246 2.78184 14.7348 2.96756 15.258 2.94731L17.0586 2.87761C18.0873 2.83779 18.9781 3.58532 19.1176 4.60526L19.3616 6.39061C19.4325 6.90937 19.704 7.37964 20.1178 7.70043L21.542 8.80444C22.3555 9.43515 22.5575 10.5804 22.0087 11.4514L21.048 12.9759C20.7689 13.4189 20.6746 13.9536 20.7854 14.4653L21.1667 16.2265C21.3845 17.2326 20.8031 18.2397 19.8228 18.5542L18.107 19.1045C17.6084 19.2644 17.1924 19.6135 16.9484 20.0767L16.1084 21.6709C15.6286 22.5817 14.5358 22.9794 13.5828 22.5902L11.9146 21.9088C11.4299 21.7108 10.8869 21.7108 10.4021 21.9088L8.73397 22.5902C7.78096 22.9794 6.68815 22.5817 6.20831 21.6709L5.36837 20.0767C5.12431 19.6135 4.70833 19.2644 4.20977 19.1045L2.49392 18.5542C1.51367 18.2397 0.932202 17.2326 1.15004 16.2265L1.53135 14.4653C1.64215 13.9536 1.54785 13.4188 1.26872 12.9759L0.308056 11.4514C-0.240757 10.5804 -0.0388151 9.43515 0.774778 8.80444L2.19892 7.70043C2.61273 7.37964 2.88424 6.90937 2.95515 6.39061L3.19918 4.60526C3.33859 3.58532 4.22945 2.83779 5.25811 2.87761L7.05872 2.94731C7.58191 2.96756 8.09218 2.78184 8.47995 2.43002L9.81449 1.21922Z" fill="url(%23paint0_linear_227_70)"/><defs><linearGradient id="paint0_linear_227_70" x1="15.6584" y1="2.5" x2="4.65839" y2="21.5" gradientUnits="userSpaceOnUse"><stop stop-color="%23FFE5BC"/><stop offset="1" stop-color="%23FFCB67"/></linearGradient></defs></svg>');

      &>span {
        color: #836224
      }
    }
  }

  &:nth-child(2) {
    background-image: radial-gradient(circle farthest-side at 0 0, rgba(215, 215, 215, .18), rgba(55, 62, 76, 0));
    background-color: unset !important;

    .pts-menu__user-emblem {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none"><path d="M9.81449 0.518784C10.5769 -0.172928 11.7398 -0.172928 12.5022 0.518784L13.8368 1.72958C14.2246 2.0814 14.7348 2.26712 15.258 2.24687L17.0586 2.17717C18.0873 2.13735 18.9781 2.88488 19.1176 3.90482L19.3616 5.69017C19.4325 6.20893 19.704 6.6792 20.1178 6.99999L21.542 8.104C22.3555 8.73471 22.5575 9.87998 22.0087 10.7509L21.048 12.2754C20.7689 12.7184 20.6746 13.2532 20.7854 13.7649L21.1667 15.5261C21.3845 16.5322 20.8031 17.5393 19.8228 17.8537L18.107 18.4041C17.6084 18.564 17.1924 18.913 16.9484 19.3762L16.1084 20.9705C15.6286 21.8812 14.5358 22.279 13.5828 21.8897L11.9146 21.2084C11.4299 21.0104 10.8869 21.0104 10.4021 21.2084L8.73397 21.8897C7.78096 22.279 6.68815 21.8812 6.20831 20.9705L5.36837 19.3762C5.12431 18.913 4.70833 18.564 4.20977 18.4041L2.49392 17.8537C1.51367 17.5393 0.932202 16.5322 1.15004 15.5261L1.53135 13.7649C1.64215 13.2532 1.54785 12.7184 1.26872 12.2754L0.308056 10.7509C-0.240757 9.87998 -0.0388151 8.73471 0.774778 8.104L2.19892 6.99999C2.61273 6.6792 2.88424 6.20893 2.95515 5.69017L3.19918 3.90482C3.33859 2.88488 4.22945 2.13735 5.25811 2.17717L7.05872 2.24687C7.58191 2.26712 8.09218 2.0814 8.47995 1.72958L9.81449 0.518784Z" fill="url(%23paint0_linear_227_71)"/><defs><linearGradient id="paint0_linear_227_71" x1="15.6584" y1="1.79956" x2="4.65839" y2="20.7996" gradientUnits="userSpaceOnUse"><stop stop-color="%23F4F4F4"/><stop offset="1" stop-color="%23C6C6C6"/></linearGradient></defs></svg>');

      &>span {
        color: #575757;
      }
    }
  }

  &:nth-child(3) {
    background-image: radial-gradient(circle farthest-side at 0 0, rgba(225, 166, 147, .18), rgba(55, 62, 76, 0));
    background-color: unset !important;

    .pts-menu__user-emblem {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none"><path d="M9.81449 0.518784C10.5769 -0.172928 11.7398 -0.172928 12.5022 0.518784L13.8368 1.72958C14.2246 2.0814 14.7348 2.26712 15.258 2.24687L17.0586 2.17717C18.0873 2.13735 18.9781 2.88488 19.1176 3.90482L19.3616 5.69017C19.4325 6.20893 19.704 6.6792 20.1178 6.99999L21.542 8.104C22.3555 8.73471 22.5575 9.87998 22.0087 10.7509L21.048 12.2754C20.7689 12.7184 20.6746 13.2532 20.7854 13.7649L21.1667 15.5261C21.3845 16.5322 20.8031 17.5393 19.8228 17.8537L18.107 18.4041C17.6084 18.564 17.1924 18.913 16.9484 19.3762L16.1084 20.9705C15.6286 21.8812 14.5358 22.279 13.5828 21.8897L11.9146 21.2084C11.4299 21.0104 10.8869 21.0104 10.4021 21.2084L8.73397 21.8897C7.78096 22.279 6.68815 21.8812 6.20831 20.9705L5.36837 19.3762C5.12431 18.913 4.70833 18.564 4.20977 18.4041L2.49392 17.8537C1.51367 17.5393 0.932202 16.5322 1.15004 15.5261L1.53135 13.7649C1.64215 13.2532 1.54785 12.7184 1.26872 12.2754L0.308056 10.7509C-0.240757 9.87998 -0.0388151 8.73471 0.774778 8.104L2.19892 6.99999C2.61273 6.6792 2.88424 6.20893 2.95515 5.69017L3.19918 3.90482C3.33859 2.88488 4.22945 2.13735 5.25811 2.17717L7.05872 2.24687C7.58191 2.26712 8.09218 2.0814 8.47995 1.72958L9.81449 0.518784Z" fill="url(%23paint0_linear_227_72)"/><defs><linearGradient id="paint0_linear_227_72" x1="15.6584" y1="1.79956" x2="4.65839" y2="20.7996" gradientUnits="userSpaceOnUse"><stop stop-color="%23FFD1C3"/><stop offset="1" stop-color="%23C78069"/></linearGradient></defs></svg>');
      
      &>span {
        color: #7a3c28;
      }
    }
  }
  
  // even child but not first, second and third
  &:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.05);
  }

}

.pts-menu__info-group {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pts-menu__user-name {
  font-weight: 600;
}

.pts-menu__score-group {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: #beebff;
  letter-spacing: .6px;
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  display: flex;
}

.pts-menu__user-emblem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22px;
  height: 22px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none"><path d="M9.81449 0.518784C10.5769 -0.172928 11.7398 -0.172928 12.5022 0.518784L13.8368 1.72958C14.2246 2.0814 14.7348 2.26712 15.258 2.24687L17.0586 2.17717C18.0873 2.13735 18.9781 2.88488 19.1176 3.90482L19.3616 5.69017C19.4325 6.20893 19.704 6.6792 20.1178 6.99999L21.542 8.104C22.3555 8.73471 22.5575 9.87998 22.0087 10.7509L21.048 12.2754C20.7689 12.7184 20.6746 13.2532 20.7854 13.7649L21.1667 15.5261C21.3845 16.5322 20.8031 17.5393 19.8228 17.8537L18.107 18.4041C17.6084 18.564 17.1924 18.913 16.9484 19.3762L16.1084 20.9705C15.6286 21.8812 14.5358 22.279 13.5828 21.8897L11.9146 21.2084C11.4299 21.0104 10.8869 21.0104 10.4021 21.2084L8.73397 21.8897C7.78096 22.279 6.68815 21.8812 6.20831 20.9705L5.36837 19.3762C5.12431 18.913 4.70833 18.564 4.20977 18.4041L2.49392 17.8537C1.51367 17.5393 0.932202 16.5322 1.15004 15.5261L1.53135 13.7649C1.64215 13.2532 1.54785 12.7184 1.26872 12.2754L0.308056 10.7509C-0.240757 9.87998 -0.0388151 8.73471 0.774778 8.104L2.19892 6.99999C2.61273 6.6792 2.88424 6.20893 2.95515 5.69017L3.19918 3.90482C3.33859 2.88488 4.22945 2.13735 5.25811 2.17717L7.05872 2.24687C7.58191 2.26712 8.09218 2.0814 8.47995 1.72958L9.81449 0.518784Z" fill="%23505869"/></svg>');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  &>span {
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-right: 1px;
    font-size: 10px;
    font-weight: 800;
    position: absolute;
  }

  svg {
    width: 22px;
    height: 22px;

    path {
      fill: #505869;
    }
  }
}