<div class="am-content am-content__add-customer --upd">
	<div class="am-content__wrapper">
		<div class="am-main__header">
			<div class="am-container">
				<div class="am-row__header-wrapper">
					<div class="am-row__header">
						<div class="am_vertical-start --center">
							<h2 class="am-main__header-title">Add New Customer</h2>
							<p>Add customer to Icebox.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="am-main__flow">
			<div class="am-container">
				<div class="am-main__content">

					<form
						class="limit-form" method="post" id="add_customer_form">

						{# Store Details #}
						<div class="limit-form__row">
							<div class="limit-form__row-header">
								Store Details
							</div>
							<div class="limit-form__row-body">
								<div class="limit-form__inputs-grid">
									<div>
										<label class="am-select-label" for="store">Store</label>
										<div class="am-select-wrap">
											<select class="am-select" id="store" name="store" required>
												<option value="Atlanta Flagship">Atlanta Flagship</option>
												<option value="Miami">Miami</option>
											</select>
										</div>
									</div>
									<div>
										<label class="am-select-label" for="salesperson">Salesperson</label>
										<div class="am-select-wrap">
											<select class="am-select" id="salesperson" name="salesperson" required>
												<option value="" default selected disabled>Select salesperson</option>
												<option value="Ryan">Ryan</option>
												<option value="Jenee">Jenee</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

						{# Client Information #}
						<div class="limit-form__row">
							<div class="limit-form__row-header">
								Client Information
							</div>
							<div class="limit-form__row-body">
								<div class="limit-form__inputs-grid">
									<div>
										<label class="am-select-label" for="client_name">Client Name</label>
										<div class="am-select-wrap --input">
											<input type="text" class="am-input" id="client_name" name="client_name" placeholder="Name" required>
										</div>
									</div>
									<div>
										<label class="am-select-label" for="client_email">Client Email</label>
										<div class="am-select-wrap --input">
											<input type="email" class="am-input" id="client_email" name="client_email" placeholder="Email" required>
										</div>
									</div>
									<div>
										<label class="am-select-label" for="client_phone">Client Phone</label>
										<div class="am-select-wrap --input">
											<input type="text" class="am-input" id="client_phone" name="client_phone" placeholder="Phone" required>
										</div>
									</div>
								</div>
							</div>
						</div>

						{# More Details #}
						<div class="limit-form__row --collapsed">
							<div class="limit-form__row-header">
								More Details
							</div>
							<div
								class="limit-form__row-body">
								<div class="limit-form__inputs-grid">
									<div>
										<label class="am-select-label" for="gender">Gender</label>
										<div class="am-select-wrap">
											<select class="am-select" id="gender" name="gender" required>
												<option value="N/A" default selected>N/A</option>
												<option value="male">Male</option>
												<option value="female">Female</option>
											</select>
										</div>
									</div>
									<div>
										<label class="am-select-label" for="zip_code">ZIP Code</label>
										<div class="am-select-wrap --input">
											<input type="text" class="am-input" id="zip_code" name="zip_code" placeholder="ZIP Code" required>
										</div>
									</div>
									<div>
										<label class="am-select-label" for="email">Email</label>
										<div class="am-select-wrap --input">
											<input type="email" class="am-input" id="email" name="email" placeholder="Email" required>
										</div>
									</div>
									<div>
										<label class="am-select-label" for="married">Marital Status</label>
										<div class="am-select-wrap">
											<select class="am-select" id="married" name="married" required>
												<option value="N/A" selected disabled>Maried...</option>
												<option value="married_yes">Yes</option>
												<option value="married_no">No</option>
											</select>
										</div>
									</div>
									<div>
										<label class="am-select-label" for="anniversary">Anniversary</label>
										<div class="am-select-wrap --input">
											<input data-datepicker type="text" class="am-input" id="anniversary" name="anniversary" placeholder="Anniversary" required>
										</div>
									</div>
									<div>
										<label class="am-select-label" for="birthday">Birthday</label>
										<div class="am-select-wrap --input">
											<input data-datepicker type="text" class="am-input" id="birthday" name="birthday" placeholder="Birthday" required>
										</div>
									</div>
									<div>
										<div class="am-select-wrap --input">
											<textarea name="notes" id="notes" class="am-input" placeholder="Notes"></textarea>
										</div>
									</div>
								</div>

                <div class="am-btn --light" data-evt="toggleCustomerRow">+ More Details</div>
							</div>
						</div>

						<input type="submit" class="am-btn --round" value="Add Customer">

					</form>

				</div>
			</div>
		</div>
		<!-- #endregion -->
	</div>
</div>
