<div class="am-content">
	<div class="pos__wrapper">
		<div class="pos__area">
			<div class="am_vertical-start">
				<h2 class="am-main__header-title">Point of Sale</h2>
				<p>Create new invoice or fill from the order or customer.</p>
				<div class="am_flex8">
					<button class="am-btn --border_light">
						{% include "admin/svg/icon_add-user.svg" %}
						<span>Add Customer</span>
					</button>
					<button class="am-btn --border_light">
						{% include "admin/svg/icon_find-user.svg" %}
						<span>Find Customer</span>
					</button>
					<button class="am-btn --border_light">
						{% include "admin/svg/icon_cart.svg" %}
						<span>Find Order</span>
					</button>
				</div>
			</div>
			<div class="pos__row-divider"></div>
			<div
				class="am__dbl-wrap">

				{# Main Content #}
				<div class="pos__content">
					<div class="pos-doc-wrap">
						<div
							class="pos-doc">

							<!-- #region Header : Logo / Details -->
							<div class="pos-doc__row --header">
								<div class="pos-doc__box --half">
									<div class="pos-doc__col">
										<img class="pos-doc__logo" src="{{THEME_ASSETS_FOLDER}}/blue-logo.svg" alt="">
										<img class="pos-doc__logo --sw" src="{{THEME_ASSETS_FOLDER}}/swisswatches-logo.webp" alt="">
									</div>
								</div>
								<div class="pos-doc__box --half">
									<div class="pos-doc__col --14">
										<div class="pos-doc__title-wrap">
											<h4 class="pos-doc__title">INVOICE</h4>
											<div class="pos-input-group --md">
												<div class="pos-input-spot">#</div>
												<input data-pos-input="invoice" data-allow="digits" pattern="[0-9]*" data-input-toggle type="text" class="pos-input" placeholder="Invoice #">
											</div>
										</div>
										<div id="pos_details" data-pos="details" class="pos-doc__details">
											<div data-removable="true" class="pos-doc__details-box">
												<div class="pos-input-group --blank">
													<input type="text" class="pos-input --dim" value="Date">
												</div>
												<div class="pos-input-group">
													<input data-datepicker type="text" class="pos-input --md">
												</div>
											</div>
											<div data-removable class="pos-doc__details-box">
												<div class="pos-input-group --blank">
													<input type="text" class="pos-input --dim" value="Due Date">
												</div>
												<div class="pos-input-group">
													<input data-datepicker type="text" class="pos-input --md">
												</div>
											</div>
											<div class="pos-doc__details-box --order_last" data-locked>
												<div class="pos-input-group --blank">
													<input type="text" class="pos-input --dim" value="Balance Due">
												</div>
												<div class="pos-input-group --blank">
													<input data-due data-currency type="text" class="pos-input --md" value="$ 0.00">
												</div>
											</div>
											<div data-prevent class="pos-doc__details-box --order_last">
												<button data-pos-add="details_box" class="pos-add-btn">+ Details</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- #endregion Logo / Details -->

							<!-- #region Bill From / Bill To -->
							<div class="pos-doc__row --from_to">
								<div class="pos-doc__box --half">
									<div id="bill_from" class="pos-doc__bill-box" data-locked>
										<div class="pos-input-group --blank">
											<input data-title type="text" class="pos-input" value="Bill From:">
										</div>
										<div class="pos-input-group --blank">
											<input type="text" class="pos-input --lg" value="Icebox Diamonds &amp; Watches">
										</div>
										<div class="pos-input-group --blank">
											<input type="text" class="pos-input --sm" value="3255 Peachtree Road NE Ste 2">
										</div>
										<div class="pos-input-group --blank">
											<input type="text" class="pos-input --sm" value="Atlanta, GA 30305">
										</div>
										<div class="pos-input-group --blank">
											<input type="text" class="pos-input --sm" value="404-842-0266">
										</div>
									</div>
								</div>
								<div class="pos-doc__box --half">
									<div id="bill_to" data-pos="bill_to" class="pos-doc__bill-box">
										<div class="pos-input-group --blank">
											<input data-title type="text" class="pos-input" value="Bill To:">
										</div>
										<div class="pos-input-group">
											<input data-input-toggle type="text" class="pos-input --lg" value="" placeholder="Name / Company">
										</div>
										<div data-removable class="pos-input-group">
											<input data-input-toggle type="text" class="pos-input --sm" value="" placeholder="Address line">
										</div>
										<div class="am_flex8 --order_last">
											<button data-pos-add="bill_line_sm" class="pos-add-btn">+ Add Line</button>
										</div>
									</div>
								</div>
							</div>
							<!-- #endregion Bill From / Bill To -->

							<!-- #region Items -->
							<div class="pos-doc__row --items">
								<div class="pos-doc__items-header">
									<div class="pos-doc__items-header-wrap">
										<div>
											<span>Item</span>
										</div>
										<div>
											<span>Quantity</span>
											<span>Rate</span>
											<span>Amount</span>
										</div>
									</div>
								</div>
								<div data-pos="items" class="pos-doc__items-body">

									<div data-pos-item class="pos-doc-item">
										<div class="pos-doc-item__title">
											<h5 data-pos-input="item_name" class="pos-doc-title" contenteditable spellcheck="false"></h5>
										</div>
										<div class="pos-doc-item__details">
											<div>
												<div class="pos-input-group">
													<input data-pos-input="item_qty" data-item-qty data-allow="digits" type="text" class="pos-input" value="" placeholder="">
												</div>
											</div>
											<div>
												<div class="pos-input-group">
													<div class="pos-input-spot">
														<span data-currency>$</span>
													</div>
													<input data-pos-input="item_rate" data-item-rate data-allow="sum" type="text" class="pos-input" value="" placeholder="0.00">
												</div>
											</div>
											<div>
												<div class="pos-input-group --blank" data-locked>
													<input data-pos-input="item_amount" data-item-amount data-currency type="text" class="pos-input" value="$ 0.00" placeholder="">
												</div>
											</div>
										</div>
									</div>

									<button data-pos-add="item_line" class="pos-add-btn --order_last">+ Line Item</button>
								</div>
							</div>
							<!-- #endregion Items -->

							<!-- #region Summary -->
							<div class="pos-doc__row --summary">
								<div class="pos-doc__box --half" data-locked></div>
								<div class="pos-doc__box --half">
									<div class="pos-doc-sum">
										<div class="pos-doc-sum__main">

											<div class="pos-doc-sum__line">
												<span>Subtotal</span>
												<span>
													<span data-currency>$</span>
													<span data-subtotal>0.00</span>
												</span>
											</div>

											<div class="pos-doc-sum__line">
												<button data-pos-add="sum_line_tax" class="pos-add-btn">+ Add Tax</button>
											</div>

											<div class="pos-doc-sum__line">
												<button data-pos-add="sum_line_discount" class="pos-add-btn">+ Add Discount</button>
											</div>

											<div class="pos-doc-sum__line">
												<button data-pos-add="sum_line_shipping" class="pos-add-btn">+ Add Shipping</button>
											</div>

											<div class="pos-doc-sum__line">
												<span>Total</span>
												<span>
													<span data-currency>$</span>
													<span data-total>0.00</span>
												</span>
											</div>

											<div class="pos-doc-sum__line">
												<span>Amount Paid</span>
												<div class="pos-input-group">
													<div class="pos-input-spot">
														<span data-currency>$</span>
													</div>
													<input data-paid-amount data-allow="sum" type="text" class="pos-input" value="" placeholder="0.00">
												</div>
											</div>

											<div class="pos-doc-sum__line --due">
												<span>Balance Due</span>
												<span>
													<span data-currency>$</span>
													<span data-due>0.00</span>
												</span>
											</div>

										</div>
									</div>
								</div>
							</div>
							<!-- #endregion Summary -->

							<div class="pos-doc__row --notes">
								<div class="pos-doc__box">
									<div class="pos-doc__notes">
										<div data-removable>
											<div class="pos-input-group --blank" data-locked>
												<input type="text" class="pos-input" value="Notes:">
											</div>
											<div class="pos-input-group">
												<textarea data-pos-input="notes" data-input-toggle class="pos-input" value="" placeholder="Add some notes here..."></textarea>
											</div>
										</div>
										<div data-removable>
											<div class="pos-input-group --blank">
												<input type="text" class="pos-input" value="Terms:" data-locked>
											</div>
											<div class="pos-input-group">
												<textarea data-pos-input="terms" data-input-toggle class="pos-input" value="" placeholder="Description..."></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="pos-doc_shadow"></div>
					</div>
				</div>

				{# Controls #}
				<div class="pos__sticky-controls">
					<button data-pos-save class="am-btn">
						{% include "admin/svg/icon_doc-download.svg" %}
						<span>Download Invoice</span>
					</button>
					<div>
						<label class="am-select-label" for="">Select Currency</label>
						<div class="am-select-wrap">
							<select data-pos-select="currency" class="am-select">
								{% include "admin/utils/currency-options.twig" %}
							</select>
						</div>
					</div>
					<div>
						<label class="am-select-label" for="">Bill From</label>
						<div class="am-select-wrap">
							<select data-pos-select="bill_from" class="am-select">
								<option value="icebox" selected>Icebox</option>
								<option value="swisswatches">SwissWatches</option>
							</select>
						</div>
					</div>
					<div>
						<label class="am-select-label" for="">Store</label>
						<div class="am-select-wrap">
							<select class="am-select">
								<option value="" selected>Unselected</option>
								<option value="flagship">Flagship</option>
								<option value="mia">MIA SAKS</option>
								<option value="atl">ATL SAKS</option>
							</select>
						</div>
					</div>
					<div>
						<label class="am-select-label" for="">Salesperson</label>
						<div class="am-select-wrap">
							<select class="am-select">
								<option value="" selected>Unselected</option>
								<option value="ryan">Ryan</option>
								<option value="jenee">Jenee</option>
							</select>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
