<div class="printable_tags">

	<div id="tagPreview" class="tag-preview">
		<img class="tag-preview__logo" src="./assets/blue-logo.svg" alt="Icebox logo">
		<div id="tagPreviewImage" class="tag-preview__item-img"></div>
		<div id="tagPreviewDetails" class="tag-preview__details --filled">
			<div id="item_type">
				<span>Item Type</span>
				<span>RIng</span>
			</div>
			<div id="notes">
				<span>Notes</span>
				<span>For Ryan</span>
			</div>
			<div id="style_n">
				<span>Style #</span>
				<span>NJK-3255</span>
			</div>
			<div id="invoice_n">
				<span>Invoice #</span>
				<span>55602</span>
			</div>
			<div id="p_n">
				<span>P#</span>
				<span>ISJ-20502</span>
			</div>
			<div id="karat_gold">
				<span>Karat Gold</span>
				<span>14K</span>
			</div>
			<div id="gold_color">
				<span>Gold Color</span>
				<span>Yellow</span>
			</div>
			<div id="gram_weight">
				<span>Gram Weight</span>
				<span>14g</span>
			</div>
		</div>
	</div>
	<div id="tagPreview" class="tag-preview">
		<img class="tag-preview__logo" src="./assets/blue-logo.svg" alt="Icebox logo">
		<div id="tagPreviewImage" class="tag-preview__item-img"></div>
		<div id="tagPreviewDetails" class="tag-preview__details --filled">
			<div id="item_type">
				<span>Item Type</span>
				<span>RIng</span>
			</div>
			<div id="notes">
				<span>Notes</span>
				<span>For Ryan</span>
			</div>
			<div id="style_n">
				<span>Style #</span>
				<span>NJK-3255</span>
			</div>
			<div id="invoice_n">
				<span>Invoice #</span>
				<span>55602</span>
			</div>
			<div id="p_n">
				<span>P#</span>
				<span>ISJ-20502</span>
			</div>
			<div id="karat_gold">
				<span>Karat Gold</span>
				<span>14K</span>
			</div>
			<div id="gold_color">
				<span>Gold Color</span>
				<span>Yellow</span>
			</div>
			<div id="gram_weight">
				<span>Gram Weight</span>
				<span>14g</span>
			</div>
		</div>
	</div>
	<div id="tagPreview" class="tag-preview">
		<img class="tag-preview__logo" src="./assets/blue-logo.svg" alt="Icebox logo">
		<div id="tagPreviewImage" class="tag-preview__item-img"></div>
		<div id="tagPreviewDetails" class="tag-preview__details --filled">
			<div id="item_type">
				<span>Item Type</span>
				<span>RIng</span>
			</div>
			<div id="notes">
				<span>Notes</span>
				<span>For Ryan</span>
			</div>
			<div id="style_n">
				<span>Style #</span>
				<span>NJK-3255</span>
			</div>
			<div id="invoice_n">
				<span>Invoice #</span>
				<span>55602</span>
			</div>
			<div id="p_n">
				<span>P#</span>
				<span>ISJ-20502</span>
			</div>
			<div id="karat_gold">
				<span>Karat Gold</span>
				<span>14K</span>
			</div>
			<div id="gold_color">
				<span>Gold Color</span>
				<span>Yellow</span>
			</div>
			<div id="gram_weight">
				<span>Gram Weight</span>
				<span>14g</span>
			</div>
		</div>
	</div>

</div>
