<div class="am-content am-content_whales am-content_saks">
	<div class="am-content__wrapper">
		<div class="am-main__flow">
			<div class="am-container">

				<div class="am-row__header">
					<div class="am_vertical-start">
						<h2 class="am-main__header-title">SAKS Customers</h2>
						<div class="am-main__subtitle">
							<span>Store: All</span>
						</div>
					</div>
				</div>

				<div id="box_saks_customers" class="tb-box">
					<div class="dt-buttons">
						<button class="am-btn --blue is-active">New York SAKS</button>
						<button class="am-btn --blue">Miami SAKS</button>
						<button class="am-btn --blue">Atlanta SAKS</button>
						<button class="am-btn --blue">Flagship Atlanta</button>
					</div>
					<div class="tb-box__title">
						<h4>New York Customers</h4>
						<span>372 total customers</span>
					</div>

					<div class="tb-main-content">
						<div class="tb-table-container">
							<table class="tb-table">
								<thead>
									<tr>
										<th>Added By</th>
										<th>Name</th>
										<th>Number</th>
										<th>Instagram</th>
										<th>Email</th>
										<th>Visit Date</th>
									</tr>
								</thead>
								<tbody>
									{% for store in stores %}
										{% for customer in store.customers %}
											<tr>
												{% for key, value in customer %}
													{% if key == 'instagram' %}
														<td>
															<a class="tb-social-btn instagram">
																<div>{{value}}</div>
															</a>
														</td>
													{% else %}
														<td data-td="{{key}}">{{value}}</td>
													{% endif %}
												{% endfor %}
											</tr>
										{% endfor %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

				</div>


			</div>
		</div>
		<!-- #endregion -->
	</div>
</div>
