<div class="am-content am-content_whales">
	<div
		class="am-content__wrapper">

		<!-- #region Content : Header -->
		<div class="am-main__header">
			<div class="am-container">
				<div class="am-row__header-wrapper">
					<div class="am-row__header">
						<div class="am_vertical-start">
							<h2 class="am-main__header-title">Icebox Whales</h2>
							<div class="am-main__subtitle">
								<span>All Whales</span>
							</div>
						</div>
						<div class="am_flex8">
							<button class="am-btn">{% include "admin/svg/icon_cards.svg" %}CRM Cards</button>
							<div class="tb-view-switch">
								<button data-switch-view="list" class="tab-view-btn">
									{% include "admin/svg/icon_list.svg" %}
									<span>Table</span>
								</button>
								<button data-switch-view="grid" class="tab-view-btn is-active">
									{% include "admin/svg/icon_grid.svg" %}
									<span>Grid</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- #endregion -->

		<!-- #region Main Content -->
		<div class="am-main__flow">
			<div class="am-container">
				<div class="am-main__content">
					<div class="am-content-divider">
						{{total_whales}}
						Whales total<span></span>
					</div>

					<div class="tb-grid">
						{% for whale in whales %}
							{% include "admin/components/whale-card.twig" %}
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
		<!-- #endregion -->

	</div>
</div>
