.order-card {
  padding: 36px;
  margin-bottom: 24px;
  box-shadow: 0 0 58px 0 rgba(23, 28, 41, 0.05);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .mybag-card__thumbnail {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;

    @include maxWidthXs {
      width: 60px;
      height: 60px;
    }
  }

  .mybag-card__wrap {
    &>.mybag-card__thumbnail {
      display: none;
    }
  }

  .mybag-card {
    border: none;
    margin: 0;
    padding: 0;
  }

  .mybag-card-title {
    font-size: 13px;
  }

  .mybag-card__header {
    align-items: flex-start;
    justify-content: stretch;
    gap: 12px;

    @include maxWidthXs {
      gap: 8px;
    }
  }

  .mybag-card__option-row {
    display: flex;
    gap: 4px;
    &>span {
      &:first-child {
        &::after {
          content: ": ";
        }
      }
    }
  }

  .mybag-card__picture {
    padding: 12px;
  }

  .mybag-card__options {
    column-gap: 12px;
    margin-top: 2px;
  }

  .mybag-card__controls {
    margin-top: 10px;
  }

  @include maxWidthXs {
    padding: 24px;
  }
}

.overview-card__title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;

  svg {
    width: 38px;
    height: 38px;
    border-radius: 0.35rem;
    background-color: rgba(232, 237, 240, 0.55);
    padding: 10px;

    path {
      stroke-width: 1.5px;
    }
  }
}

.overview-card__title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;

  span {
    display: none;
    font-weight: 400;
    text-transform: none;
    margin-top: 2px;
    font-size: 13px;
    letter-spacing: 0px;
  }
}

.invoice-card__details-row {
  margin-bottom: 0px;
}

.order-item__details {
  margin-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.account__input-border {
  position: relative;
  flex: 1;

  label {
    display: block;
    order: -1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 4px;
  }
}

.profile-card__input-wrap {
  margin-bottom: 18px;
  gap: 18px;

  @include maxWidthXs {
    margin-bottom: 14px;
    gap: 14px;
  }

  #accountPhotoInput {
    display: none;
  }
}

.fileInputButton {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 148, 198, 0.03);
  border: 1px dashed var(--blue);
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  border-radius: 0.4rem;

  &:hover {
    background-color: transparent;
  }
}

.profile-card__form>input[type=submit] {
  display: none !important;
}

.profile-card__input-wrap.half {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.invoice-card__details-more {
  display: -ms-grid;
  display: grid;
  margin-top: 0px;
  padding: 20px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;

  &:not(:last-child) {
    border-bottom: 1px solid #e3eaf0;
  }
}

.order-item {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fff;
}

.account__nav-list-item {
  position: relative;
}

.order-item__img-wrap {
  position: relative;
}

.account-main {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-bottom: 0vh;
  margin-left: auto;
}

.account-main.overview {
  display: block;

  .overview-card__title {
    font-size: 17px;
    line-height: 24px;
  }
}

.account-main.wishlist {
  display: none;
}

.account-main.orders {
  display: none;
  max-width: 1400px;
}

.account-main.profile {
  display: none;
}

.account-main.address {
  display: none;
}

.account__nav-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 138px;
  width: 100%;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.profile__form-wrap {
  margin-bottom: 0px;
}



.order__product-link {
  font-weight: 600;
}

.account__nav-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @include maxWidthSm {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include maxWidthXs {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.order-item__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.invoice-card__details-main {
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  gap: 8px;

  &:not(:last-child) {
    border-bottom: 1px solid #e3eaf0;
  }
}

.account__icon-next {
  width: 16px;
  height: 16px;
}

.account__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  max-width: 1380px;
  margin: 0 auto;

  @include maxWidthSm {
    display: block;
  }
}

.account-main__title {
  font-size: 20px;
  font-weight: 600;
}

.overview-card__footer {
  margin-top: 18px;
}

.order-card__delivery {
  position: relative;
  margin-top: 0px;
  text-align: left;
}

.profile__input {
  background-color: #fff;
  border: 1px solid #c5cedc;
  border-radius: 0.4rem;
  height: 54px;
  padding: 4px 14px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  font-weight: 600;
  font-size: 13px;

  &:hover {
    border-color: var(--blue);
  }

  &:focus {
    border-color: var(--blue);
    box-shadow: 0 0 0 2px rgba(8, 178, 235, 0.12);
  }

  &::placeholder {
    color: #9c9fa8;
    font-weight: 400;
  }

  &::-webkit-input-placeholder {
    color: #9c9fa8;
    font-weight: 400;
  }
}

.profile-card__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--black) !important;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  height: 42px;
  border-radius: 0.4rem;
  transition: all 200ms ease;

  &:hover {
    background-color: var(--blue) !important;
  }
}

.profile-card__form-btn.cancel {
  background-color: white !important;
  color: var(--black);
}

.order-card__items-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include maxWidthXs {
    gap: 24px;
  }
}

.account__body {
  padding: 62px 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  // background-color: #f6f7fa;
  min-height: 100vh;

  @include maxWidthMd {
    padding-right: 28px;
    padding-left: 28px;
  }

  @include maxWidthSm {
    padding: 18px 32px 32px 32px;
  }

  @include maxWidthXs {
    padding: 18px;
  }
}

.profile-card__change {
  transition: all 300ms var(--cubic);
  padding: 8px 18px;
  min-width: 60px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0.4rem;
  background-color: rgb(232, 241, 246);

  &:hover {
    background-color: rgb(213, 226, 234);
  }
}

.profile-card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

.account__welcome-title {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 2px;
  font-weight: 600;
}

.order__invoice-body {
  position: relative;
  overflow: hidden;
  height: 80px;
}

.overview-card__details {
  margin-top: 10px;
}

.account__switch-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  font-weight: 600;
  -webkit-transition: all 300ms var(--cubic);
  transition: all 300ms var(--cubic);
  cursor: pointer;

  &::after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml,<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99952 1L16.3184 9.31884L7.99952 17.6377" stroke="black" stroke-width="2"/><path d="M0.0546875 9.31934H15.9991" stroke="black" stroke-width="2"/></svg>');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 200ms ease;
    transform: translateX(-10px);
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  &.logout {
    opacity: .4;

    &:hover {
      background-color: rgba(189, 33, 62, 0.07);
    }
  }

  &:hover {
    background-color: rgba(232, 237, 240, 0.55);
    opacity: 1;
  }

  &.is-active {
    background-color: rgb(232 241 246);

    &::after {
      opacity: 1 !important;
      transform: none;
    }

    @include maxWidthSm {
      order: 1;
    }
  }

  @include maxWidthSm {
    border-radius: 0px;
    padding: 8px 16px;
    border-radius: 0.4rem;
    border: 1px solid #eef3f8;

    &.is-active {
      background-color: var(--black);
      color: white;
      border-color: var(--black);
    }

    &::after {
      display: none;
    }
  }
}

.account__membership {
  display: none;
  margin-bottom: 12px;
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 50px;
  background-color: #e4ecf5;
  font-style: italic;
}

.profile__overview-switch {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  font-weight: 600;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 13px;
  transition: all 200ms var(--cubic);
  padding: 8px 14px;
  border: 1px solid #eef3f8;

  &:hover {
    background-color: #f3f5f7;
  }

  @include maxWidthSm {
    border: none;
    padding: 0;
  }
}

.profile-card__body {
  padding: 0px;
}

.order-card__body {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.account__subtitle {
  font-size: 13px;
}

.link_overlap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.overview-card__details_no {
  font-weight: 600;
}

.overview-card {
  position: relative;
  display: flex;
  padding: 28px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 58px 0 rgba(23, 28, 41, 0.05);

  &:hover {
    z-index: 4;
  }

  @include maxWidthSm {
    border: 1px solid #e5e7f0;
    box-shadow: none;
  }

  @include maxWidthXs {
    padding: 22px;
  }
}

.product__image-product {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overview-card__body {
  position: relative;
}

.order-card__delivery-date {
  font-weight: 600;
}

.overview-card__details-row {
  font-size: 13px;
}

.invoice-card__detail {
  font-size: 12px;
  flex: 1;
  font-weight: 600;
  flex-flow: wrap;
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #8b92a1;

  @include maxWidthMd {
    min-width: 40%;
  }
}

.order__detail-span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black)
}

.account {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#profile-tabs.is-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.product-card__image {
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    opacity: 0.03;
    pointer-events: none;
    background-color: #283a69;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
  }
}

.profile__product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;

  .product-card__actions {
    display: flex;
    margin-top: 12px;
    gap: 8px;

    &>a {
      &:first-child {
        background-color: var(--black);
        color: white;
        order: 1;

        &:hover {
          background-color: var(--blue);
        }
      }
    }
  }

  .product-card__details-main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .product-card__details-price {
    font-weight: 600;
    margin-top: 8px;
    display: flex;
    flex-flow: wrap;
    gap: 6px;

    &.is-sale {
      span:first-child {
        text-decoration: line-through;
        opacity: .6;
      }

      span:last-child {
        order: -1 !important;
      }
    }
  }

  .product-card__details-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 13px;
  }

  .product-card__details {
    padding: 0px;
  }

  .product-card__actions-btn {
    flex: 1;
    text-align: center;
    padding: 5px 8px;
    font-weight: 600;
    transition: all 250ms ease;
    font-size: 12px;
    background-color: #f8f9fa;

    &:hover {
      background-color: rgb(227, 234, 238);
    }
  }
}

.account__wishlist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 32px;

  @include maxWidthMd {
    grid-template-columns: repeat(2, 1fr);
  }

  @include maxWidthXs {
    margin-left: -18px;
    margin-right: -18px;
    column-gap: 6px;
  }

  .product-card__details-main {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.account {
  min-height: calc(100vh - 120px) !important;
}

.account__nav-list {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid #eef3f8;
  border-radius: 0.5rem;
  list-style-type: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include maxWidthSm {
    display: flex;
    overflow: auto;
    border: none;
    border-radius: 0;
    padding-right: 32px;
    padding-left: 32px;
    gap: 8px;
  }

  @include maxWidthXs {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.header.scroll-up {
  transform: translate3d(0, 0, 0) !important;
}

.header.is-fixed {
  position: sticky;
  transform: translate3d(0, -100%, 0);
}

.header.can-animate {
  transition: transform 0.4s var(--cubic), visibility 0s 0.3s linear;
}

input[type=submit] {
  border: unset;
}

.profile-card__form>.profile-card__input-wrap:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  .account__cards-wrap>.profile-card {
    width: unset;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 479px) {
  .profile-card__input-wrap.half>.account__input-border {
    width: 100%;
    margin-bottom: 14px;
  }
}

.order-card__body>.order-card__item-row:last-child {
  border-bottom: none !important;
}

.order__invoice-card .order__detail-span {
  font-weight: 400 !important;
}

.account-main>.order-row:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.overview-card .profile__overview-card-list:last-child {
  margin-bottom: 0px !important;
}

.profile-card__details {
  &.form {
    display: none;
  }

  span {
    width: 100%;
    margin-bottom: 2px;
    display: block;
    font-size: 13px;

    &:first-child {
      font-weight: 600;
      line-height: 24px;
    }
  }
}

.order-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  column-gap: 18px;
  row-gap: 10px;
}

.order-card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

.order-card__status {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  padding: 5px 12px 5px 32px;
  border: 1px solid #bfe6f3;
  border-radius: 500px;
  background-color: rgba(21, 190, 246, 0.08);
  color: #0a97c6;
  font-weight: 600;

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #0ea9dc;
    border-radius: 9px;
    position: absolute;
    left: 14px;
    z-index: 2;
  }

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #0ea9dc;
    border-radius: 9px;
    position: absolute;
    left: 14px;
    z-index: 1;
    animation: dotPulse 1.1s infinite ease-in-out;
  }

  &.cancel {
    border-color: #f8e2e6;
    background-color: #fff3f5;
    color: #f43f5e;

    &::after,
    &::before {
      background-color: #f43f5e;
    }
  }

  &.success {
    border-color: #E1F9E4;
    background-color: #f6fdf7;
    color: #14b459;

    &::after,
    &::before {
      background-color: #06c85a;
    }
  }
}

@keyframes dotPulse {
  0% {
    opacity: 0.5;
  }
  100% {
    transform: scale(2.8);
    opacity: 0;
  }
}

.account__sidebar {
  width: 340px;
  padding: 62px 0;

  @include maxWidthMd {
    width: 40%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  @include maxWidthSm {
    width: 100%;
    padding-top: 46px;
    padding-bottom: 18px;
    background-color: white;
    z-index: 2;
  }
}

.account-main__overview-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.order-item__price {
  font-weight: 600;
}

.profile-card__header {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px none #eceff0;
  background-color: transparent;
}

.order__invoice {
  border: 1px solid #e3eaf0;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 90%);
    z-index: 1;
    pointer-events: none;
    transition: all 300ms ease;
  }

  &.--active {
    .order__invoice-header {
      background-color: #f6f7fa;
    }

    &::after {
      opacity: 0;
    }
  }
}

.order__invoice-header {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9edf1;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background-color: #f6f7fa;
  }

  &:active {
    opacity: .3;
  }
}

.invoice-card__cost {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &:last-child {
    font-weight: 600;
  }
}

.order-status__span {
  font-weight: 400;
}

.profile-card__edit-svg {
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 6px;
}

.profile-card__password-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 18px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.invoice-card__dd-svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14px;
  height: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.account__nav-body {
  margin-top: 32px;

  @include maxWidthSm {
    margin-top: 20px;
  }
}

.finish-order-btn {
  width: 100%;
  height: 46px;
  text-align: center;
  background-color: var(--black);
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 200ms ease;

  &:hover {
    background-color: var(--blue);
  }
}

.order-item__details-top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.account__cards-wrap {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.account__cards-wrap.for_personal {
  display: block;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.order-item__more {
  display: block;
  width: 100%;
  margin-top: 0px;
  font-size: 12px;
  line-height: 20px;
}

.profile-card {
  width: auto;
  margin-bottom: 24px;
  padding: 42px;
  background-color: #fff;
  box-shadow: 0 0 58px 0 rgba(23, 28, 41, 0.05);
  border-radius: 0.5rem;

  @include maxWidthXs {
    padding: 8vw;
  }
}

.order-item__product-img {
  width: 100px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.order-item__details-more {
  display: block;
  margin-top: 16px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.account-main__header {
  position: relative;
  margin-bottom: 24px;
  display: none;

  @include maxWidthSm {
    display: none;
  }
}

.order-item__name {
  font-weight: 500;
}


@media screen and (max-width: 991px) {
  .account__nav-wrap {
    padding-right: 28px;
    padding-left: 28px;
  }

  .overview-card {
    margin-bottom: 14px;
  }

  .account-main__overview-grid {
    display: block;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .profile-card__password-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .account__cards-wrap {
    display: block;
  }

  .account__cards-wrap.for_personal {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .account__nav-list-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .account__nav-wrap {
    position: static;
    overflow: hidden;
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .account__input-border {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .profile-card__input-wrap.half {
    display: block;
  }

  .account-main__title {
    text-align: center;
  }

  .profile-card__body {
    padding-right: 0px;
    padding-left: 0px;
  }

  .account__subtitle {
    text-align: center;
  }

  .account-main__overview-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .order-item__price {
    margin-top: 10px;
  }

  .order-item__details-top {
    display: block;
  }
}