@use 'modules/base/mixin' as *;
.blog__featured {
  border-top: 10px solid #f4f6fa;
  border-bottom: 10px solid #f4f6fa;

  .blog-post {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: row;
    padding: 0;

    @include maxWidthMd {
      flex-direction: column;
    }

    @include maxWidthXs {
      border-bottom-style: none;
    }
  }

  .blog-post__main {
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    justify-content: center;
    align-items: flex-start;
    padding: 34px 6%;

    @include maxWidthXs {
      grid-column-gap: 26px;
      grid-row-gap: 26px;
      padding: 32px 24px;
    }
  }

  .blog-post__tags {
    margin-bottom: 12px;

    @include maxWidthXs {
      margin-bottom: 6px;
    }
  }

  .blog-post__title {
    font-size: 30px;
    line-height: 38px;

    @include maxWidthXs {
      font-size: 28px;
      line-height: 34px;
    }
  }

  .blog-post__excerpt {
    font-size: 16px;
    line-height: 24px;
  }
}

.article-embed-yt {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.article-embed-yt:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.article-yt-wrap {
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;

  &>span {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
}

.article-bg {
  opacity: .08;
  // background-image: url('../assets/article-bg.webp');
  background-position: 0 0;
  background-size: 42%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.article__main-details {
  gap: 12px;
  flex-direction: column;
  display: flex;

  @include maxWidthXs {
    text-align: left;
    align-items: flex-start;
  }
}

.article__inner-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 58px;
  padding-right: 58px;
}

.big-social-box {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 16px;
  transition: all .2s var(--cubic);
  display: flex;
  position: relative;

  img {
    width: 28px;
  }

  &:hover {
    z-index: 1;
    border-color: var(--blue-gold);
    background-color: white;
    // transform: translate(0, -5px);
    // box-shadow: 0 36px 38px rgba(29, 36, 55, .08);
  }

  &>div,
  &>span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    span {
      margin-top: 2px;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      display: block;
    }
  }
}

.big-social-grid {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: grid;
}

.post-tag {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #1ad;
  border-radius: 500px;
  padding: 3px 10px 2px;
  font-size: 10px;
  font-weight: 700;
}

.post-tag.post-tag_spender {
  background-color: #1d3e7c;
}

.article-indent {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 26px;
}

.article-indent.article-indent_sub {
  font-size: 16px;
  line-height: 24px;
}

.article__social-block {
  padding-top: 32px;

  h3 {
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    display: flex;

    span {
      font-size: 16px;
    }
  }

  @include maxWidthXs {
    margin-top: 0px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.blog-post__tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;

  .post-date {
    margin: unset;
  }
}

.article-summary {
  font-size: 15px;
  line-height: 26px;
}

.article-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 40px;
}

.article-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
  font-weight: 600;

  img {
    width: 20px;
    height: 20px;
  }

  &.editable {
    margin: 0;
  }
}

.article__content {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  line-height: 26px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  display: flex;
  position: relative;

  .article__inner-wrap {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  @include maxWidthXs {
    padding-left: 18px;
    padding-right: 18px;
  }

  p {
    font-size: 15px;
    line-height: 28px;
  }
}

.post-date {
  font-size: 12px;
  font-weight: 600;
}

.article__controls {
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;
  // background-color: #f4f6fa;
  // border-top: 10px solid #f4f6fa;
  // border-bottom: 10px solid #f4f6fa;
  display: flex;

  a {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e9ecf1;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: -1px;
    padding: 14px 14px;
    font-size: 13px;
    font-weight: 600;
    display: flex;

    &:hover {
      text-decoration: underline;
    }
  }
}

.article__main-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  background-position: center center;
}

.article__share-grid {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;

  a {
    width: 42px;
    height: 42px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;

    &.to_telegram {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24ZM24.86 17.7179C22.5257 18.6888 17.8603 20.6984 10.8638 23.7466C9.72763 24.1984 9.13251 24.6404 9.07831 25.0726C8.98676 25.803 9.9014 26.0906 11.1469 26.4822C11.3163 26.5355 11.4919 26.5907 11.6718 26.6492C12.8972 27.0475 14.5456 27.5135 15.4026 27.5321C16.1799 27.5489 17.0474 27.2284 18.0052 26.5707C24.5423 22.158 27.9167 19.9276 28.1286 19.8795C28.278 19.8456 28.4852 19.8029 28.6255 19.9277C28.7658 20.0524 28.752 20.2886 28.7372 20.352C28.6466 20.7383 25.0565 24.0759 23.1985 25.8033C22.6191 26.3419 22.2081 26.724 22.1241 26.8113C21.936 27.0067 21.7443 27.1916 21.56 27.3692C20.4215 28.4667 19.5678 29.2896 21.6072 30.6336C22.5872 31.2794 23.3714 31.8134 24.1537 32.3462C25.0082 32.9281 25.8605 33.5085 26.9632 34.2313C27.2441 34.4155 27.5124 34.6067 27.7737 34.793C28.7681 35.5019 29.6615 36.1388 30.7651 36.0373C31.4065 35.9783 32.0689 35.3752 32.4053 33.5767C33.2004 29.3263 34.7632 20.1169 35.1244 16.322C35.1561 15.9895 35.1162 15.5639 35.0843 15.3771C35.0523 15.1904 34.9855 14.9242 34.7427 14.7272C34.4552 14.4939 34.0113 14.4447 33.8127 14.4482C32.91 14.4641 31.5251 14.9456 24.86 17.7179Z" fill="black"/></svg>');
    }

    &.to_facebook {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2507_34)"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 0C37.2547 0 48 10.7453 48 24H48.001C48.001 36.2707 38.7926 46.3891 26.9088 47.8243V31.3344H33.4013L34.7482 24L34.7472 24L26.9088 24V21.4061C26.9088 17.6517 28.3359 16.1352 32.0026 16.0441C32.1206 16.0411 32.2409 16.0397 32.3635 16.0397C32.3638 16.0397 32.3641 16.0397 32.3645 16.0397C33.0036 16.0397 33.5777 16.0478 34.0609 16.0641C34.5012 16.0789 34.866 16.1006 35.136 16.129V16.1289C35.1363 16.1289 35.1366 16.1289 35.137 16.129V9.48096C35.0425 9.45477 34.936 9.42857 34.8194 9.40257C33.7761 9.17005 31.9172 8.95327 30.5361 8.89821C30.3168 8.88946 30.1094 8.8848 29.9194 8.8848C29.919 8.8848 29.9187 8.8848 29.9184 8.8848C21.8986 8.8848 18.2016 12.671 18.2016 20.8397V24H13.2528V31.3344L13.2538 31.3344L18.2016 31.3344V47.2932C7.74865 44.6989 0 35.2547 0 24C0 10.7453 10.7453 0 24 0Z" fill="black"/></g><defs><clipPath id="clip0_2507_34"><rect width="48" height="48" fill="white"/></clipPath></defs></svg>');
    }

    &.to_twitter {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.6526 3.8078H43.3995L28.6594 20.6548L46 43.5797H32.4225L21.7881 29.6759L9.61989 43.5797H2.86886L18.6349 25.56L2 3.8078H15.9222L25.5348 16.5165L36.6526 3.8078ZM34.2846 39.5414H38.0232L13.8908 7.63406H9.87892L34.2846 39.5414Z" fill="black"/></svg>');
    }

    &.to_linkedin {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2507_32)"><path d="M44.4567 0H3.54333C2.60358 0 1.70232 0.373315 1.03782 1.03782C0.373315 1.70232 0 2.60358 0 3.54333V44.4567C0 45.3964 0.373315 46.2977 1.03782 46.9622C1.70232 47.6267 2.60358 48 3.54333 48H44.4567C45.3964 48 46.2977 47.6267 46.9622 46.9622C47.6267 46.2977 48 45.3964 48 44.4567V3.54333C48 2.60358 47.6267 1.70232 46.9622 1.03782C46.2977 0.373315 45.3964 0 44.4567 0ZM14.3067 40.89H7.09V17.9667H14.3067V40.89ZM10.6933 14.79C9.87473 14.7854 9.07583 14.5384 8.39747 14.0802C7.71911 13.622 7.19168 12.9731 6.88175 12.2154C6.57183 11.4577 6.4933 10.6252 6.65606 9.82291C6.81883 9.02063 7.2156 8.28455 7.79631 7.70756C8.37702 7.13057 9.11563 6.73853 9.91893 6.58092C10.7222 6.42331 11.5542 6.50719 12.3099 6.82197C13.0656 7.13675 13.7111 7.66833 14.1649 8.34962C14.6188 9.03092 14.8606 9.83138 14.86 10.65C14.8677 11.1981 14.765 11.7421 14.558 12.2496C14.351 12.7571 14.044 13.2178 13.6551 13.6041C13.2663 13.9905 12.8037 14.2946 12.2948 14.4983C11.786 14.702 11.2413 14.8012 10.6933 14.79ZM40.9067 40.91H33.6933V28.3867C33.6933 24.6933 32.1233 23.5533 30.0967 23.5533C27.9567 23.5533 25.8567 25.1667 25.8567 28.48V40.91H18.64V17.9833H25.58V21.16H25.6733C26.37 19.75 28.81 17.34 32.5333 17.34C36.56 17.34 40.91 19.73 40.91 26.73L40.9067 40.91Z" fill="black"/></g><defs><clipPath id="clip0_2507_32"><rect width="48" height="48" fill="white"/></clipPath></defs></svg>');
    }

    &.to_whatsapp {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48L3.374 35.674C1.292 32.066 0.198 27.976 0.2 23.782C0.206 10.67 10.876 0 23.986 0C30.348 0.002 36.32 2.48 40.812 6.976C45.302 11.472 47.774 17.448 47.772 23.804C47.766 36.918 37.096 47.588 23.986 47.588C20.006 47.586 16.084 46.588 12.61 44.692L0 48ZM13.194 40.386C16.546 42.376 19.746 43.568 23.978 43.57C34.874 43.57 43.75 34.702 43.756 23.8C43.76 12.876 34.926 4.02 23.994 4.016C13.09 4.016 4.22 12.884 4.216 23.784C4.214 28.234 5.518 31.566 7.708 35.052L5.71 42.348L13.194 40.386ZM35.968 29.458C35.82 29.21 35.424 29.062 34.828 28.764C34.234 28.466 31.312 27.028 30.766 26.83C30.222 26.632 29.826 26.532 29.428 27.128C29.032 27.722 27.892 29.062 27.546 29.458C27.2 29.854 26.852 29.904 26.258 29.606C25.664 29.308 23.748 28.682 21.478 26.656C19.712 25.08 18.518 23.134 18.172 22.538C17.826 21.944 18.136 21.622 18.432 21.326C18.7 21.06 19.026 20.632 19.324 20.284C19.626 19.94 19.724 19.692 19.924 19.294C20.122 18.898 20.024 18.55 19.874 18.252C19.724 17.956 18.536 15.03 18.042 13.84C17.558 12.682 17.068 12.838 16.704 12.82L15.564 12.8C15.168 12.8 14.524 12.948 13.98 13.544C13.436 14.14 11.9 15.576 11.9 18.502C11.9 21.428 14.03 24.254 14.326 24.65C14.624 25.046 18.516 31.05 24.478 33.624C25.896 34.236 27.004 34.602 27.866 34.876C29.29 35.328 30.586 35.264 31.61 35.112C32.752 34.942 35.126 33.674 35.622 32.286C36.118 30.896 36.118 29.706 35.968 29.458Z" fill="black"/></svg>');
    }
  }
}

.article__share-heading {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.main_article {
  min-height: 100vh;
  position: relative;
}

.article__share-block {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;

  @include maxWidthSm {
    flex-direction: column;
  }
}

.blog__main-post {
  margin-bottom: 36px;

  @include maxWidthXs {
    margin-bottom: 48px;
  }

  .blog-post {
    .blog-post__pic-link {
      img {
        aspect-ratio: 2.39 / 1;

        @include maxWidthXs {
          aspect-ratio: 3 / 2.4;
        }
      }
    }
  }
}

.blog-post {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-direction: column;
  transition: all .25s var(--cubic);
  display: flex;
}

.blog-post__details {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  flex-direction: column;
  display: flex;
}

.blog-post__main {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  display: flex;

  @include maxWidthXs {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.blog__posts {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 48px;
  display: flex;
}

.blog__wrapper {
  width: 100%;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.blog-post__title {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  transition: all 200ms ease;

  &:hover {
    color: #028cb9;
  }

  @include maxWidthXs {
    font-size: 18px;
    line-height: 26px;
  }
}

.blog__load-btn {
  color: #08111f;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #1ad;
  padding: 10px 36px;
  font-size: 13px;
  font-weight: 600;
}

.blog__pagination {
  justify-content: center;
  align-items: center;
  display: flex;
}

.blog-post__excerpt {
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.post-author {
  height: 30px;
  background-image: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="%2306AADF"/><path d="M7.3744 22.4273V8.46998H5.26123V7.92725H12.216V8.46998H10.1028V21.8846H12.216V22.4273H7.3744Z" fill="white"/><path d="M24.7036 20.1732C24.4601 20.6759 24.1024 21.1129 23.6601 21.4484C23.1076 21.8364 22.4821 22.1043 21.8228 22.2353C21.1608 22.3633 20.4893 22.4299 19.8157 22.4343H14.348V8.50608H12.2163V7.92725H19.352C20.0093 7.92998 20.6652 7.98441 21.3142 8.09004C21.9741 8.18819 22.6076 8.41879 23.1784 8.76836C23.5947 9.02634 23.9363 9.39143 24.1685 9.82654C24.3944 10.2371 24.5226 10.6954 24.5431 11.1651C24.5542 11.6309 24.4658 12.0937 24.2843 12.5217C24.0835 12.9748 23.7774 13.372 23.3924 13.6794C22.974 14.059 22.4817 14.3455 21.9473 14.5205C21.4113 14.6937 20.8626 14.8237 20.3064 14.9094C20.8405 14.9644 21.3689 15.0672 21.8851 15.2169C22.4201 15.3636 22.9309 15.5891 23.4013 15.8862C23.8553 16.1633 24.2448 16.5366 24.5431 16.9806C24.8529 17.4475 25.0119 18.0007 24.998 18.5633C25.017 19.1153 24.9165 19.6648 24.7036 20.1732ZM21.5282 10.2245C21.4653 9.84894 21.3119 9.49488 21.0823 9.19345C20.8637 8.92659 20.5719 8.73145 20.2439 8.6327C19.8901 8.52328 19.525 8.45649 19.1556 8.43373C18.7721 8.43373 18.3975 8.43373 18.0229 8.43373C17.6482 8.43373 17.3272 8.43373 17.0685 8.43373V14.6652C17.782 14.6652 18.4242 14.6652 18.9772 14.6652C19.4689 14.6635 19.9547 14.5588 20.4044 14.3577C20.8037 14.1544 21.1195 13.815 21.2964 13.399C21.5347 12.7647 21.6409 12.0873 21.6086 11.4093C21.6075 11.0209 21.5716 10.6335 21.5015 10.2516L21.5282 10.2245ZM20.3688 15.4159C20.0143 15.291 19.6456 15.212 19.2716 15.1808C18.8887 15.1491 18.5039 15.1491 18.1211 15.1808C17.7285 15.1808 17.3807 15.1808 17.0685 15.1808V21.8916H19.896C20.2678 21.8989 20.6316 21.7812 20.9307 21.557C21.2199 21.3122 21.4489 21.0026 21.5997 20.6525C21.7652 20.2656 21.8792 19.8581 21.9384 19.4406C21.9876 19.0049 21.9876 18.5649 21.9384 18.1292C21.8987 17.715 21.8183 17.306 21.6979 16.9082C21.5972 16.5776 21.4335 16.2702 21.216 16.0038C20.9763 15.7261 20.6686 15.5171 20.3243 15.3978" fill="white"/><path d="M14.78 8.21924H9.76367V8.5041H14.78V8.21924Z" fill="white"/></svg>');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  align-items: center;
  padding-left: 34px;
  font-weight: 600;
  display: flex;
}

.blog-post__pic-link {
  display: flex;
  background-color: #05aae0;
  overflow: hidden;
  filter: brightness(98%);

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    transition: all 350ms ease;

    @include maxWidthXs {
      aspect-ratio: 16 / 9;
    }
  }

  &:hover {
    img {
      opacity: .9;
      transform: scale(1.03);
    }
  }
}

.blog-post__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.blog-post__footer {
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.blog__posts-grid {
  grid-column-gap: 12px;
  grid-row-gap: 38px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;

  @include maxWidthSm {
    grid-template-columns: 1fr 1fr !important;
  }

  .blog-post__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.blog-post__btn {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: normal;
  border: 1px solid #08111f;
  justify-content: space-between;
  align-items: center;
  padding: 6px 42px 6px 12px;
  font-size: 13px;
  font-weight: 600;
  transition: all .2s var(--cubic);
  display: flex;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-image: url('data:image/svg+xml,<svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7H21" stroke="currentColor" stroke-width="2"/><path d="M15.2857 1L21.2857 7L15.2857 13" stroke="currentColor" stroke-width="2"/></svg>');

  &:hover {
    color: #fff;
    background-color: #1ad;
    border-color: #1ad;
    background-position: center right 8px;
    background-image: url('data:image/svg+xml,<svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7H21" stroke="white" stroke-width="2"/><path d="M15.2857 1L21.2857 7L15.2857 13" stroke="white" stroke-width="2"/></svg>');
  }
}

.article-splide {
  padding: 20px 0px;
  // background-color: #f4f6fa;

  .more-row__arrows-wrap {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-top: 12px;
    justify-content: center;
    align-items: center;
  }

  .more-row__slider-btn {
    background-color: #171c29;
    border: 1px solid #171c29;
    color: white;
    width: 46px;
    padding: 4px 12px;
    border-radius: 500px;

    &:not(:disabled):hover {
      background-color: transparent;
      color: #171c29;
    }

    &:disabled {
      opacity: .2;
    }
  }
}

@media screen and (min-width: 1440px) {
  .article-bg {
    background-size: 36%;
  }

  .blog__wrapper {
    padding-left: 7vw;
    padding-right: 7vw;
  }

  .blog__posts-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .blog__wrapper {
    padding-left: 9vw;
    padding-right: 9vw;
  }

  .blog__posts-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .big-social-grid {
    grid-template-columns: 1fr 1fr;
  }

  .blog-post {
    padding: 0;
  }

  .blog-post:hover {
    background-color: rgba(233, 239, 243, 0);
  }

  .blog__posts {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .blog__wrapper {
    padding-left: 42px;
    padding-right: 42px;
  }

  .blog__posts-grid {
    grid-column-gap: 12px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .article__inner-wrap {
    padding-left: 42px;
    padding-right: 42px;
  }

  .blog__wrapper {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (max-width: 479px) {
  .article__inner-wrap {
    padding-left: 24px;
    padding-right: 24px;
  }

  .big-social-box {
    padding-left: 12px;
    padding-right: 12px;
  }

  .big-social-grid {
    flex-direction: column;
    display: flex;
  }

  .post-tag {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .article-indent {
    font-size: 16px;
  }

  .article-summary {
    font-size: 16px;
    line-height: 26px;
  }

  .main_article {
    padding-bottom: 60px;
  }

  .blog__posts {
    padding-top: 0;
    padding-bottom: 0;
  }

  .blog__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .blog__pagination {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .blog__posts-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 48px;
    flex-direction: column;
    display: flex;
  }

  .blog-post__btn {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.article-top-cover {
  width: 100vw;
  height: 320px;
  position: relative;
  overflow: hidden;
  background-color: #000;

  img {
    opacity: 1;
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: relative;
    transition: all 70ms ease;
  }

  @include maxWidthXs {
    height: 260px;
  }
}

.article__comments {
  margin-top: 38px;

  @include maxWidthXs {
    padding-left: 18px;
    padding-right: 18px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  textarea {
    margin-top: 12px;
    width: 100%;
    max-width: 100%;
    padding: 24px;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
    transition: all 200ms ease;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:focus {
      background-color: white;
      border-color: var(--blue-gold);
    }
  }

  button {
    margin-top: 12px;
    float: right;
    color: white;
    padding: 14px 28px;
    min-width: 120px;
    background-color: #171c29;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 200ms ease;

    &:hover {
      background-color: var(--blue-gold);
    }
  }
}

.article-comment {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 16px;
  padding: 0 0 16px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;

  span {
    &:nth-child(1) {
      font-weight: 600;
    }

    &:nth-child(2) {
      line-height: 24px;
      word-break: break-all;
      overflow-wrap: break-word;
    }

    &:nth-child(3) {
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: 600;
      opacity: .7;
    }
  }
}

.read-time {
  color: #58616d;
  background-color: #eff3f9;
  border-radius: 500px;
  flex: none;
  padding: 6px 16px;
  font-size: 12px;
  font-weight: 600;
}

.blog-post__title-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  transition: all .2s var(--cubic);
  display: flex;
}

.article-spot {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-bottom: 1px solid #d8dfe9;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  display: flex;

  .post-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: 36px;
    height: 40px;
    padding-left: 46px;

    span {
      &:last-child {
        font-size: 12px;
        opacity: .6;
        line-height: 18px;
      }
    }
  }
}

.article-container {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
  position: relative;

  @include maxWidthXs {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

.article-cover {
  position: relative;

  &.editable {
    &::after {
      content: 'Click To Edit';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      z-index: 3;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      font-weight: 600;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(23, 28, 41, 0.85);
      transition: all 200ms ease;
      pointer-events: none;
      opacity: 0;
    }
  }

  img {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    &.article_editable {
      cursor: pointer;
    }

    @include maxWidthXs {
      aspect-ratio: 3 / 2.4;
    }
  }
}

.article-welcome {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: space-between;
  align-items: center;
  display: flex;

  @include maxWidthSm {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

.article__title-wrap {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

.article__wrapper {
  padding: 48px 10vw;
}

.article-body {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.article__share-btn {
  color: #202124;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #d8dfe9;
  border-radius: 7px;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
  transition: all .2s var(--cubic);
}

.article__share-btn:hover {
  color: #fff;
  background-color: #05aadf;
  border-color: #05aadf;
}

@media screen and (min-width: 1440px) {
  .article__wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (max-width: 767px) {
  .article__wrapper {
    padding-left: 42px;
    padding-right: 42px;
  }
}

@media screen and (max-width: 479px) {
  .article-spot {
    margin-left: 18px;
    margin-right: 18px;
  }

  .article-cover {
    order: -1;
  }

  .article-welcome {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 18px;
    padding-right: 18px;
  }

  .article__title-wrap {
    width: 100%;
  }

  .article__wrapper {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.blog-progress {
  height: 2.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #cfd9e8;

  &>div {
    height: 100%;
    width: 0%;
    background-color: #07ade4;
    transition: all 100ms ease;
  }
}

.article__read-content {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
  position: relative;

  @include maxWidthXs {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

/* #region  Edit / Add Article */
.blog-edit-box {
  position: relative;
  min-height: 40px;
  min-width: 40px;
  color: #047da5;
  background-color: rgba(22, 194, 250, .05);
  border: 1px dashed #16c2fa;
  font-weight: 600;
  transition: all 200ms ease;

  &:hover {
    background-color: rgba(22, 194, 250, .0);
    border-style: solid;

    &[data-add-section] {
      transition: all 0ms;

      &:active {
        background-color: rgba(7, 178, 235, 0.1);
      }

      &::after {
        content: '+';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        background-color: rgba(22, 194, 250, .1);
        backdrop-filter: blur(5px);
        color: #0494c5;
        border-left: 1px solid #16c2fa;
        border-bottom: 1px solid #16c2fa;
      }
    }
  }

  &[data-edit-box="author"] {
    margin-bottom: 3px;
    min-height: 32px;

    input {
      height: 100%;
      min-height: unset;
    }
  }

  &[data-edit-box="cover"] {
    aspect-ratio: 2 / 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(22, 194, 250, .02);

    &.is-active {
      border-style: solid;

      &::after {
        opacity: 0.5;
      }

      &::before {
        opacity: 0.5;
      }
    }

    @include maxWidthXs {
      aspect-ratio: 3 / 2.4;
      margin-right: 6px;
      margin-left: 6px;
    }

    input {
      position: absolute;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      height: 0px;
      width: 0px;
    }

    &::before {
      content: '';
      width: 84px;
      height: 84px;
      background-image: url('data:image/svg+xml,<svg width="465" height="317" viewBox="0 0 465 317" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3" y="3" width="459" height="311" fill="%23F3FBFF" stroke="%231F8DBD" stroke-width="6"/><path d="M264.757 314H29.2426L147 196.243L264.757 314Z" fill="%23C2E4F7" stroke="%231F8DBD" stroke-width="6"/><path d="M457.757 314H166.243L312 168.243L457.757 314Z" fill="%23C2E4F7" stroke="%231F8DBD" stroke-width="6"/><circle cx="74" cy="68" r="25" fill="%23C2E4F7" stroke="%231F8DBD" stroke-width="6"/></svg>');
      background-size: 84px 84px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: all 200ms ease;
    }

    &::after {
      content: 'Drag & Drop or Click To Upload Cover';
      font-size: 16px;
      text-align: center;
      transition: all 200ms ease;
    }
  }
}

.blog-edit-box__input {
  height: 100%;
  width: 100%;
  min-height: 40px;
  padding: 10px 10px;
  transition: all 200ms ease;

  &::placeholder {
    color: #047da5;
    transition: all 200ms ease;
  }

  &:focus::placeholder {
    color: rgb(4, 125, 165, .5);
  }

  &[data-blog-edit="heading"] {
    font-size: 20px;
    font-weight: 600;
  }

  &[data-blog-edit="summary"] {
    font-weight: 600;
  }

  &[data-blog-edit="minutes"] {
    font-size: 12px;
    font-weight: 600;
  }

  &[data-blog-edit="author"] {
    font-size: 12px;
    font-weight: 600;
  }
}

.article-title.editable,
.article-summary.editable,
.read-time.editable,
.article_editable {
  cursor: text;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px dashed #16c2fa;
    background-color: rgba(22, 194, 250, .06);
    transition: all 200ms ease;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}

.edit-box-grid {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-top: -24px;
  flex-flow: wrap;
  display: flex;

  &>.blog-edit-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    gap: 6px;
    font-size: 14px;
    min-width: 22%;
    font-weight: 600;
    min-height: 76px;
    cursor: pointer;
    flex: 1;

    svg {
      width: 28px;
      height: 28px;
    }
  }
}

.article-content-section {
  transition: all 350ms ease;
  overflow: hidden;

  &.--product {
    padding: 16px 0;
  }

  &.--yt-embed {
    display: flex;
    flex-direction: column;

    &.--pending {
      pointer-events: none;
      opacity: .4;
      filter: grayscale(100%);
    }

    &.--valid {
      .blog__cards-disclaimer {
        display: none !important;
      }
    }

    &.--invalid {
      iframe {
        display: none !important;
      }
    }

    iframe {
      order: -1 !important;
      width: 100% !important;
      height: 480px !important;
      margin-bottom: 12px;
    }

    .blog__cards-disclaimer {
      padding: 42px 0;
      flex-direction: column;

      &::before {
        content: 'YouTube Embed';
        width: auto;
        padding-top: 46px;
        height: auto;
        font-size: 18px;
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.1001 12V10.52C9.1001 8.61001 10.4501 7.84001 12.1001 8.79001L13.3801 9.53001L14.6601 10.27C16.3101 11.22 16.3101 12.78 14.6601 13.73L13.3801 14.47L12.1001 15.21C10.4501 16.16 9.1001 15.38 9.1001 13.48V12Z" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
        background-size: 36px 36px;
        background-position: center top;
        background-repeat: no-repeat;
      }

      &::after {
        content: 'Go to YouTube > Share > Embed. Copy the code and paste in the field below.';
      }
    }

    .blog__product-input {
      height: auto;
      min-height: 100px;
      padding: 18px;
      line-height: 20px;
    }
  }

  &.--slider {
    padding: 16px 0;

    .blog__cards-disclaimer {
      flex-direction: column;
      padding: 36px 0;

      &::before {
        content: 'Slider Block';
        width: auto;
        padding-top: 46px;
        height: auto;
        font-size: 18px;
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 7V17C18 17.62 17.98 18.17 17.91 18.66C17.62 21.29 16.38 22 13 22H11C7.62 22 6.38 21.29 6.09 18.66C6.02 18.17 6 17.62 6 17V7C6 6.38 6.02 5.83 6.09 5.34C6.38 2.71 7.62 2 11 2H13C16.38 2 17.62 2.71 17.91 5.34C17.98 5.83 18 6.38 18 7Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6 17.0001C6 17.6201 6.02 18.1701 6.09 18.6601C5.95 18.6701 5.82 18.6701 5.67 18.6701H5.33C2.67 18.6701 2 18.0001 2 15.3301V8.67008C2 6.00008 2.67 5.33008 5.33 5.33008H5.67C5.82 5.33008 5.95 5.33008 6.09 5.34008C6.02 5.83008 6 6.38008 6 7.00008V17.0001Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M22.0002 8.67008V15.3301C22.0002 18.0001 21.3302 18.6701 18.6702 18.6701H18.3302C18.1802 18.6701 18.0502 18.6701 17.9102 18.6601C17.9802 18.1701 18.0002 17.6201 18.0002 17.0001V7.00008C18.0002 6.38008 17.9802 5.83008 17.9102 5.34008C18.0502 5.33008 18.1802 5.33008 18.3302 5.33008H18.6702C21.3302 5.33008 22.0002 6.00008 22.0002 8.67008Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
        background-size: 36px 36px;
        background-position: center top;
        background-repeat: no-repeat;
      }
    }

    .splide__arrow {
      background-color: white !important;
      opacity: 1 !important;
      top: 36% !important;
      transition: all 200ms ease;

      &.splide__arrow--prev {
        transform: rotate(180deg);
      }

      svg {
        width: 11px;
        height: 11px;
        transition: all 200ms ease;
      }

      &:hover {
        background-color: #05aadf !important;

        svg {
          fill: white !important;
        }
      }
    }
  }

  &.--spacer {
    margin-top: 14px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .content-section-controls {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    &::before {
      content: '';
      display: block;
      flex: auto;
      height: 1px;
      background-color: #d4dae4;
    }
  }

  &.--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .content-section-controls {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  h3,
  h4 {
    &[contenteditable] {
      margin: 1px;
    }

    &:focus {
      background-color: rgba(22, 194, 250, .05);
      outline: 1px dashed #16c2fa !important;
    }
  }

  p {
    &[contenteditable] {
      margin: 1px;

      &::selection {
        background-color: rgba(250, 159, 22, 0.263);
        color: var(--black)
      }
    }

    &:focus {
      background-color: rgba(22, 194, 250, .05);
      outline: 1px dashed #16c2fa !important;
    }

    a {
      &.link {
        font-weight: 600;
        color: #0070e0;
        padding-right: 18px;
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0613 10.9399C15.3113 13.1899 15.3113 16.8299 13.0613 19.0699C10.8113 21.3099 7.17131 21.3199 4.93131 19.0699C2.69131 16.8199 2.68131 13.1799 4.93131 10.9399" stroke="%230070E0" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.5914 13.41C8.25143 11.07 8.25143 7.27001 10.5914 4.92001C12.9314 2.57001 16.7314 2.58001 19.0814 4.92001C21.4314 7.26001 21.4214 11.06 19.0814 13.41" stroke="%230070E0" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-size: 14px 14px;
        background-position: right 2px center;
        background-repeat: no-repeat;
      }
    }

    span {

      &.highlightFull {
        display: inline;
        background-color: #05aadf;
        padding: 5px 6px;
        color: white;
        font-weight: 600;
      }

      &.highlight {
        display: inline;
        background-color: rgba(5, 170, 223, 0.16);
        padding: 5px 6px;
        color: #0281aa;
        font-weight: 600;
      }

      &.bold {
        font-weight: 600;
      }

      &.italic {
        font-style: italic;
      }

      &.list {
        display: flex;
        position: relative;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 14px;
        align-items: center;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          height: 4px;
          width: 4px;
          border-radius: 50px;
          background-color: black;
        }
      }

      &.link {
        color: #088ab6;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}



.edit-tip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: block;
  z-index: 9999;
  top: 900px;
  left: 250px;

  &.is-visible {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &::after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #171c29;
    // border-bottom-right-radius: 3px;
    margin-left: -2px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: rotate(45deg) translate(-50%);
  }
}

.edit-tip__wrapper {
  z-index: 2;
  background-color: #424a5f;
  display: flex;
  position: relative;
  // max-width: 220px;
  flex-wrap: wrap;
}

.edit-tip__btn {
  color: #fff;
  background-color: #171c29;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: 600;
  transition: all .2s;
  display: flex;
  cursor: pointer;
  flex: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  &:hover {
    background-color: #454b5a;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.test-paragraph {
  span {
    color: red;
    font-weight: 700;
  }
}

.content-section-controls {
  padding-top: 4px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 12px;

  button {
    // padding: 4px 8px 4px 26px;
    padding: 5px 0px 5px 18px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    background-size: 12px 12px;
    background-position: left 0px center;
    background-repeat: no-repeat;
    // background-color: #eff3f9;
    background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 25L13 3" stroke="currentColor" stroke-width="3"></path><path d="M2 14L13 3L24 14" stroke="currentColor" stroke-width="3"></path></svg>');

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: .4;
    }

    &[data-section-modify="moveUp"] {
      background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 25L13 3" stroke="black" stroke-width="3"/><path d="M2 14L13 3L24 14" stroke="black" stroke-width="3"/></svg>');
    }

    &[data-section-modify="moveDown"] {
      background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 -1.19209e-07L13 22" stroke="black" stroke-width="3"/><path d="M2 11L13 22L24 11" stroke="black" stroke-width="3"/></svg>');
    }

    &[data-section-modify="remove"] {
      background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.4853 3.51467L3.51471 20.4852" stroke="%23C5304B" stroke-width="3"/><path d="M3.51473 3.51467L20.4853 20.4852" stroke="%23C5304B" stroke-width="3"/></svg>');
      color: #c5304b;
      // background-color: rgb(197, 48, 75, .05);
    }

    &[disabled] {
      display: none;
    }
  }
}

/* #endregion */

.blog-card {
  position: relative;
}

.blog-card__wrapper {
  display: flex;
  flex-direction: column;
}

.blog-card__media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &:hover {
    &::after {
      opacity: .1;
    }
  }

  img {
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #fff;
    transition: all .2s var(--cubic);
    display: block;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(326deg, #03244d 13%, #e4f2ff 56%, #1c2c3c);
    pointer-events: none;
    opacity: .05;
    transition: all 200ms ease;
  }
}

.blog-card__details {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.blog-card__name {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  letter-spacing: 0.2px;
  transition: all 200ms ease;

  &:hover {
    color: var(--blue-gold)
  }
}

.blog-card__price {
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;
  font-weight: 600;
}

.blog-card__link {
  background-color: #05aadf;
  border: 1px solid #05aadf;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  transition: all 200ms ease;

  &:hover {
    background-color: white;
    color: #0d88b2;
  }
}

.blog-card__input {
  margin-top: 6px;
  width: 100%;
  display: block;
  background-color: #f6f9fd;
  border: 1px solid #e9edf3;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;

  &::placeholder {
    color: #89939e;
  }

  &:focus {
    border-color: #05aadf;
    background-color: white;
  }
}

.blog__cards-grid {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
  margin-bottom: 8px;

  @include maxWidthSm {
    grid-template-columns: 1fr 1fr;
    gap: 6px;
  }

  .blog-edit-box {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
  }
}

.blog__cards-disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eff3f9;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;

  &::after {
    content: 'Insert links for each product. The actual products will be displayed after the article is published.'
  }
}

.blog-card__input {
  &.--invalid {
    border-color: red;
  }

  &.--valid {
    border-color: green;
  }
}

.blog__product-input {
  height: 42px;
  border: 1px solid #dce0e9;
  width: 100%;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;

  &:focus {
    border-color: #0bace2;
    outline: none;

    &::placeholder {
      color: #a7aebc;
    }
  }

  &::placeholder {
    color: #686f7d;
  }

  &.--invalid {
    border-color: red;
  }

  &.--valid {
    border-color: green;
  }
}

.edit-article-error {
  z-index: 9999;
  min-width: 220px;
  color: #fff;
  background-color: #242424;
  padding: 12px;
  font-weight: 600;
  line-height: 20px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  box-shadow: 0 12px 28px rgb(100 104 145 / 10%);
  transition: all 300ms ease;
  transform: translateY(calc(100% + 10px));
  opacity: 0;
  cursor: pointer;

  &:hover {
    background-color: #414141;
  }

  &.is-visible {
    transform: translateY(0);
    opacity: 1;
  }

  span {
    display: block;
    width: 100%;

    &:first-child {
      color: #ffd56c;
      font-size: 12px;
      line-height: 24px;
    }
  }

  @include minWidthSm {
    min-width: 320px;
  }
}

.article__save-btn {
  display: flex;
  min-width: 110px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #05aadf;
  justify-content: center;
  align-items: center;
  padding: 18px 12px;
  font-weight: 600;
  transition: all .2s;
  box-shadow: 0 4px 16px rgba(5, 170, 223, .1);

  &:hover {
    background-color: #079ac9;
  }

  &:active {
    background-color: #188db4;
  }
}