.blog__featured {
  border-top: 10px solid #f4f6fa;
  border-bottom: 10px solid #f4f6fa;

  .blog-post {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: row;
    padding: 0;

    @include maxWidthMd {
      flex-direction: column;
    }

    @include maxWidthXs {
      border-bottom-style: none;
    }
  }

  .blog-post__pic-link {
    width: 50%;

    @include maxWidthMd {
      width: 100%;
    }
  }

  .blog-post__main {
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    justify-content: center;
    align-items: flex-start;
    padding: 34px 6%;

    @include maxWidthXs {
      grid-column-gap: 26px;
      grid-row-gap: 26px;
      padding: 32px 24px;
    }
  }

  .blog-post__tags {
    margin-bottom: 12px;

    @include maxWidthXs {
      margin-bottom: 6px;
    }
  }

  .blog-post__title {
    font-size: 30px;
    line-height: 38px;

    @include maxWidthXs {
      font-size: 28px;
      line-height: 34px;
    }
  }

  .blog-post__excerpt {
    font-size: 16px;
    line-height: 24px;
  }
}

.article-embed-yt {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.article-embed-yt:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.article-yt-wrap {
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;

  &>span {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
}

.article-bg {
  opacity: .08;
  // background-image: url('../assets/article-bg.webp');
  background-position: 0 0;
  background-size: 42%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.article__main-details {
  gap: 12px;
  flex-direction: column;
  display: flex;

  .blog-post__tags {
    display: none;
  }

  @include maxWidthXs {
    text-align: left;
    align-items: flex-start;
  }
}

.article__inner-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 58px;
  padding-right: 58px;
}

.big-social-box {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 16px;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  position: relative;

  img {
    width: 28px;
  }

  &:hover {
    z-index: 1;
    border-color: var(--blue-gold);
    background-color: white;
    // transform: translate(0, -5px);
    // box-shadow: 0 36px 38px rgba(29, 36, 55, .08);
  }

  &>div,
  &>span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    span {
      margin-top: 2px;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      display: block;
    }
  }
}

.big-social-grid {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: grid;
}

.article-wrapper {
  z-index: 2;
  width: 100%;
  max-width: 1020px;
  margin-top: -48px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  position: relative;
}

.post-tag {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #1ad;
  border-radius: 500px;
  padding: 3px 10px 2px;
  font-size: 10px;
  font-weight: 700;
  display: none !important;
}

.post-tag.post-tag_spender {
  background-color: #1d3e7c;
}

.article-indent {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 26px;
}

.article-indent.article-indent_sub {
  font-size: 16px;
  line-height: 24px;
}

.article__social-block {
  padding-top: 32px;

  h3 {
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    display: flex;

    span {
      font-size: 16px;
    }
  }
}

.blog-post__tags {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-wrap: wrap;
  align-items: center;

  .post-date {
    margin: unset;
  }
}

.article-summary {
  font-size: 15px;
  line-height: 26px;
}

.article-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.article-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
  font-weight: 600;

  img {
    width: 20px;
    height: 20px;
  }
}

.article-container {
  background-color: #fff;
  flex-direction: column;
  display: flex;
}

.article__content {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 15px;
  line-height: 26px;

  .article__inner-wrap {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}

.post-date {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 700;
  opacity: .6;
}

.article__controls {
  // grid-column-gap: 10px;
  // grid-row-gap: 10px;
  // background-color: #f4f6fa;
  // border-top: 10px solid #f4f6fa;
  // border-bottom: 10px solid #f4f6fa;
  display: flex;

  a {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e9ecf1;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: -1px;
    padding: 14px 14px;
    font-size: 13px;
    font-weight: 600;
    display: flex;

    &:hover {
      text-decoration: underline;
    }
  }
}

.article__main-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  background-position: center center;
}

.article__share-grid {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;

  a {
    width: 42px;
    height: 42px;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;

    &.to_telegram {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24ZM24.86 17.7179C22.5257 18.6888 17.8603 20.6984 10.8638 23.7466C9.72763 24.1984 9.13251 24.6404 9.07831 25.0726C8.98676 25.803 9.9014 26.0906 11.1469 26.4822C11.3163 26.5355 11.4919 26.5907 11.6718 26.6492C12.8972 27.0475 14.5456 27.5135 15.4026 27.5321C16.1799 27.5489 17.0474 27.2284 18.0052 26.5707C24.5423 22.158 27.9167 19.9276 28.1286 19.8795C28.278 19.8456 28.4852 19.8029 28.6255 19.9277C28.7658 20.0524 28.752 20.2886 28.7372 20.352C28.6466 20.7383 25.0565 24.0759 23.1985 25.8033C22.6191 26.3419 22.2081 26.724 22.1241 26.8113C21.936 27.0067 21.7443 27.1916 21.56 27.3692C20.4215 28.4667 19.5678 29.2896 21.6072 30.6336C22.5872 31.2794 23.3714 31.8134 24.1537 32.3462C25.0082 32.9281 25.8605 33.5085 26.9632 34.2313C27.2441 34.4155 27.5124 34.6067 27.7737 34.793C28.7681 35.5019 29.6615 36.1388 30.7651 36.0373C31.4065 35.9783 32.0689 35.3752 32.4053 33.5767C33.2004 29.3263 34.7632 20.1169 35.1244 16.322C35.1561 15.9895 35.1162 15.5639 35.0843 15.3771C35.0523 15.1904 34.9855 14.9242 34.7427 14.7272C34.4552 14.4939 34.0113 14.4447 33.8127 14.4482C32.91 14.4641 31.5251 14.9456 24.86 17.7179Z" fill="black"/></svg>');
    }

    &.to_facebook {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2507_34)"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 0C37.2547 0 48 10.7453 48 24H48.001C48.001 36.2707 38.7926 46.3891 26.9088 47.8243V31.3344H33.4013L34.7482 24L34.7472 24L26.9088 24V21.4061C26.9088 17.6517 28.3359 16.1352 32.0026 16.0441C32.1206 16.0411 32.2409 16.0397 32.3635 16.0397C32.3638 16.0397 32.3641 16.0397 32.3645 16.0397C33.0036 16.0397 33.5777 16.0478 34.0609 16.0641C34.5012 16.0789 34.866 16.1006 35.136 16.129V16.1289C35.1363 16.1289 35.1366 16.1289 35.137 16.129V9.48096C35.0425 9.45477 34.936 9.42857 34.8194 9.40257C33.7761 9.17005 31.9172 8.95327 30.5361 8.89821C30.3168 8.88946 30.1094 8.8848 29.9194 8.8848C29.919 8.8848 29.9187 8.8848 29.9184 8.8848C21.8986 8.8848 18.2016 12.671 18.2016 20.8397V24H13.2528V31.3344L13.2538 31.3344L18.2016 31.3344V47.2932C7.74865 44.6989 0 35.2547 0 24C0 10.7453 10.7453 0 24 0Z" fill="black"/></g><defs><clipPath id="clip0_2507_34"><rect width="48" height="48" fill="white"/></clipPath></defs></svg>');
    }

    &.to_twitter {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.6526 3.8078H43.3995L28.6594 20.6548L46 43.5797H32.4225L21.7881 29.6759L9.61989 43.5797H2.86886L18.6349 25.56L2 3.8078H15.9222L25.5348 16.5165L36.6526 3.8078ZM34.2846 39.5414H38.0232L13.8908 7.63406H9.87892L34.2846 39.5414Z" fill="black"/></svg>');
    }

    &.to_linkedin {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2507_32)"><path d="M44.4567 0H3.54333C2.60358 0 1.70232 0.373315 1.03782 1.03782C0.373315 1.70232 0 2.60358 0 3.54333V44.4567C0 45.3964 0.373315 46.2977 1.03782 46.9622C1.70232 47.6267 2.60358 48 3.54333 48H44.4567C45.3964 48 46.2977 47.6267 46.9622 46.9622C47.6267 46.2977 48 45.3964 48 44.4567V3.54333C48 2.60358 47.6267 1.70232 46.9622 1.03782C46.2977 0.373315 45.3964 0 44.4567 0ZM14.3067 40.89H7.09V17.9667H14.3067V40.89ZM10.6933 14.79C9.87473 14.7854 9.07583 14.5384 8.39747 14.0802C7.71911 13.622 7.19168 12.9731 6.88175 12.2154C6.57183 11.4577 6.4933 10.6252 6.65606 9.82291C6.81883 9.02063 7.2156 8.28455 7.79631 7.70756C8.37702 7.13057 9.11563 6.73853 9.91893 6.58092C10.7222 6.42331 11.5542 6.50719 12.3099 6.82197C13.0656 7.13675 13.7111 7.66833 14.1649 8.34962C14.6188 9.03092 14.8606 9.83138 14.86 10.65C14.8677 11.1981 14.765 11.7421 14.558 12.2496C14.351 12.7571 14.044 13.2178 13.6551 13.6041C13.2663 13.9905 12.8037 14.2946 12.2948 14.4983C11.786 14.702 11.2413 14.8012 10.6933 14.79ZM40.9067 40.91H33.6933V28.3867C33.6933 24.6933 32.1233 23.5533 30.0967 23.5533C27.9567 23.5533 25.8567 25.1667 25.8567 28.48V40.91H18.64V17.9833H25.58V21.16H25.6733C26.37 19.75 28.81 17.34 32.5333 17.34C36.56 17.34 40.91 19.73 40.91 26.73L40.9067 40.91Z" fill="black"/></g><defs><clipPath id="clip0_2507_32"><rect width="48" height="48" fill="white"/></clipPath></defs></svg>');
    }

    &.to_whatsapp {
      background-image: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48L3.374 35.674C1.292 32.066 0.198 27.976 0.2 23.782C0.206 10.67 10.876 0 23.986 0C30.348 0.002 36.32 2.48 40.812 6.976C45.302 11.472 47.774 17.448 47.772 23.804C47.766 36.918 37.096 47.588 23.986 47.588C20.006 47.586 16.084 46.588 12.61 44.692L0 48ZM13.194 40.386C16.546 42.376 19.746 43.568 23.978 43.57C34.874 43.57 43.75 34.702 43.756 23.8C43.76 12.876 34.926 4.02 23.994 4.016C13.09 4.016 4.22 12.884 4.216 23.784C4.214 28.234 5.518 31.566 7.708 35.052L5.71 42.348L13.194 40.386ZM35.968 29.458C35.82 29.21 35.424 29.062 34.828 28.764C34.234 28.466 31.312 27.028 30.766 26.83C30.222 26.632 29.826 26.532 29.428 27.128C29.032 27.722 27.892 29.062 27.546 29.458C27.2 29.854 26.852 29.904 26.258 29.606C25.664 29.308 23.748 28.682 21.478 26.656C19.712 25.08 18.518 23.134 18.172 22.538C17.826 21.944 18.136 21.622 18.432 21.326C18.7 21.06 19.026 20.632 19.324 20.284C19.626 19.94 19.724 19.692 19.924 19.294C20.122 18.898 20.024 18.55 19.874 18.252C19.724 17.956 18.536 15.03 18.042 13.84C17.558 12.682 17.068 12.838 16.704 12.82L15.564 12.8C15.168 12.8 14.524 12.948 13.98 13.544C13.436 14.14 11.9 15.576 11.9 18.502C11.9 21.428 14.03 24.254 14.326 24.65C14.624 25.046 18.516 31.05 24.478 33.624C25.896 34.236 27.004 34.602 27.866 34.876C29.29 35.328 30.586 35.264 31.61 35.112C32.752 34.942 35.126 33.674 35.622 32.286C36.118 30.896 36.118 29.706 35.968 29.458Z" fill="black"/></svg>');
    }
  }
}

.article__welcome {
  padding-top: 52px;
  padding-bottom: 28px;
}

.article__share-heading {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.main_article {
  min-height: 100vh;
  position: relative;
}

.article__share-block {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;

  @include maxWidthSm {
    flex-direction: column;
  }
}

.blog-post {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-direction: column;
  padding: 20px;
  transition: all .25s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.blog-post:hover {
  background-color: #f4f6fa;
}

.blog-post__details {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  display: flex;
}

.blog-post__main {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  display: flex;
}

.blog__posts {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
}

.blog__wrapper {
  width: 100%;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.blog-post__title {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.blog-post__title:hover {
  color: #08111f;
  text-decoration: underline;
}

.blog__load-btn {
  color: #08111f;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #1ad;
  padding: 10px 36px;
  font-size: 13px;
  font-weight: 600;
}

.blog__pagination {
  justify-content: center;
  align-items: center;
  display: flex;
}

.blog-post__excerpt {
  font-size: 15px;
  line-height: 22px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

.post-author {
  height: 26px;
  letter-spacing: .6px;
  text-transform: uppercase;
  background-image: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="%2306AADF"/><path d="M7.3744 22.4273V8.46998H5.26123V7.92725H12.216V8.46998H10.1028V21.8846H12.216V22.4273H7.3744Z" fill="white"/><path d="M24.7036 20.1732C24.4601 20.6759 24.1024 21.1129 23.6601 21.4484C23.1076 21.8364 22.4821 22.1043 21.8228 22.2353C21.1608 22.3633 20.4893 22.4299 19.8157 22.4343H14.348V8.50608H12.2163V7.92725H19.352C20.0093 7.92998 20.6652 7.98441 21.3142 8.09004C21.9741 8.18819 22.6076 8.41879 23.1784 8.76836C23.5947 9.02634 23.9363 9.39143 24.1685 9.82654C24.3944 10.2371 24.5226 10.6954 24.5431 11.1651C24.5542 11.6309 24.4658 12.0937 24.2843 12.5217C24.0835 12.9748 23.7774 13.372 23.3924 13.6794C22.974 14.059 22.4817 14.3455 21.9473 14.5205C21.4113 14.6937 20.8626 14.8237 20.3064 14.9094C20.8405 14.9644 21.3689 15.0672 21.8851 15.2169C22.4201 15.3636 22.9309 15.5891 23.4013 15.8862C23.8553 16.1633 24.2448 16.5366 24.5431 16.9806C24.8529 17.4475 25.0119 18.0007 24.998 18.5633C25.017 19.1153 24.9165 19.6648 24.7036 20.1732ZM21.5282 10.2245C21.4653 9.84894 21.3119 9.49488 21.0823 9.19345C20.8637 8.92659 20.5719 8.73145 20.2439 8.6327C19.8901 8.52328 19.525 8.45649 19.1556 8.43373C18.7721 8.43373 18.3975 8.43373 18.0229 8.43373C17.6482 8.43373 17.3272 8.43373 17.0685 8.43373V14.6652C17.782 14.6652 18.4242 14.6652 18.9772 14.6652C19.4689 14.6635 19.9547 14.5588 20.4044 14.3577C20.8037 14.1544 21.1195 13.815 21.2964 13.399C21.5347 12.7647 21.6409 12.0873 21.6086 11.4093C21.6075 11.0209 21.5716 10.6335 21.5015 10.2516L21.5282 10.2245ZM20.3688 15.4159C20.0143 15.291 19.6456 15.212 19.2716 15.1808C18.8887 15.1491 18.5039 15.1491 18.1211 15.1808C17.7285 15.1808 17.3807 15.1808 17.0685 15.1808V21.8916H19.896C20.2678 21.8989 20.6316 21.7812 20.9307 21.557C21.2199 21.3122 21.4489 21.0026 21.5997 20.6525C21.7652 20.2656 21.8792 19.8581 21.9384 19.4406C21.9876 19.0049 21.9876 18.5649 21.9384 18.1292C21.8987 17.715 21.8183 17.306 21.6979 16.9082C21.5972 16.5776 21.4335 16.2702 21.216 16.0038C20.9763 15.7261 20.6686 15.5171 20.3243 15.3978" fill="white"/><path d="M14.78 8.21924H9.76367V8.5041H14.78V8.21924Z" fill="white"/></svg>');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 24px;
  align-items: center;
  padding-left: 32px;
  font-size: 13px;
  font-weight: 700;
  display: flex;
}

.blog-post__pic-link {
  display: flex;
}

.blog-post__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 100%;
}

.blog-post__footer {
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.blog__posts-grid {
  grid-column-gap: 12px;
  grid-row-gap: 38px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;

  .post-author {
    display: none;
  }
}

.blog-post__btn {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: normal;
  border: 1px solid #08111f;
  justify-content: space-between;
  align-items: center;
  padding: 6px 42px 6px 12px;
  font-size: 13px;
  font-weight: 600;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-image: url('data:image/svg+xml,<svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7H21" stroke="currentColor" stroke-width="2"/><path d="M15.2857 1L21.2857 7L15.2857 13" stroke="currentColor" stroke-width="2"/></svg>');

  &:hover {
    color: #fff;
    background-color: #1ad;
    border-color: #1ad;
    background-position: center right 8px;
    background-image: url('data:image/svg+xml,<svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7H21" stroke="white" stroke-width="2"/><path d="M15.2857 1L21.2857 7L15.2857 13" stroke="white" stroke-width="2"/></svg>');
  }
}

.article-splide {
  padding: 20px 0px;
  // background-color: #f4f6fa;

  .more-row__arrows-wrap {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-top: 12px;
    justify-content: center;
    align-items: center;
  }

  .product-card__sub-detail {
    display: none !important;
  }

  .more-row__slider-btn {
    background-color: #171c29;
    border: 1px solid #171c29;
    color: white;
    width: 46px;
    padding: 4px 12px;
    border-radius: 500px;

    &:not(:disabled):hover {
      background-color: transparent;
      color: #171c29;
    }

    &:disabled {
      opacity: .2;
    }
  }
}

@media screen and (min-width: 1440px) {
  .article-bg {
    background-size: 36%;
  }

  .article-wrapper {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .blog__wrapper {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .blog__posts-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .blog__wrapper {
    padding-left: 9vw;
    padding-right: 9vw;
  }

  .blog__posts-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .big-social-grid {
    grid-template-columns: 1fr 1fr;
  }

  .blog-post {
    padding: 0;
  }

  .blog-post:hover {
    background-color: rgba(233, 239, 243, 0);
  }

  .blog__posts {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .blog__wrapper {
    padding-left: 42px;
    padding-right: 42px;
  }

  .blog__posts-grid {
    grid-column-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .article__inner-wrap {
    padding-left: 42px;
    padding-right: 42px;
  }

  .blog__wrapper {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (max-width: 479px) {
  .article__inner-wrap {
    padding-left: 24px;
    padding-right: 24px;
  }

  .big-social-box {
    padding-left: 12px;
    padding-right: 12px;
  }

  .big-social-grid {
    flex-direction: column;
    display: flex;
  }

  .article-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .post-tag {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .article-indent {
    font-size: 16px;
  }

  .article-summary {
    font-size: 16px;
    line-height: 26px;
  }

  .article__welcome {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .main_article {
    padding-bottom: 60px;
  }

  .blog-post {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border-bottom: 10px solid #f4f6fa;
    padding: 34px 24px;
  }

  .blog__posts {
    padding-top: 0;
    padding-bottom: 0;
  }

  .blog__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .blog__pagination {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .blog__posts-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    display: flex;
  }

  .blog-post__btn {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.article-top-cover {
  width: 100vw;
  height: 320px;
  position: relative;
  overflow: hidden;
  background-color: #000;

  img {
    opacity: 1;
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: relative;
    transition: all 70ms ease;
  }

  @include maxWidthXs {
    height: 260px;
  }
}

.article__comments {
  margin-top: 38px;

  h3 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  textarea {
    margin-top: 12px;
    width: 100%;
    max-width: 100%;
    padding: 24px;
    background-color: #f6f6f6;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    transition: all 200ms ease;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:focus {
      background-color: white;
      border-color: var(--blue-gold);
    }
  }
  
  button {
    margin-top: 12px;
    float: right;
    color: white;
    padding: 14px 28px;
    min-width: 120px;
    background-color: #171c29;
    border-radius: 6px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 200ms ease;

    &:hover {
      background-color: var(--blue-gold);
    }
  }
}

.article-comment {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 16px;
  padding: 0 0 16px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;

  span {
    &:nth-child(1) {
      font-weight: 600;
    }

    &:nth-child(2) {
      line-height: 24px;
      word-break: break-all;
      overflow-wrap: break-word;
    }

    &:nth-child(3) {
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: 600;
      opacity: .7;
    }
  }
}