.body_cart .footer {
	display: none;
}

.body_cart.mybag-summary-open .header {
	z-index: 19;
}

.body_cart.mybag-summary-open .top-banner {
	z-index: 19;
}

.body_cart.mybag-summary-open .mybag-floating .summary-price {
	display: flex;
}

.body_cart.mybag-summary-open .mybag-floating .mybag-summary-price_total {
	margin-bottom: 12px;
}

.body_cart.mybag-summary-open .mybag-floating .mybag-summary-price_total span:last-child::after {
	transform: rotate(0) translateY(-1px);
}

.body_cart .header {
	border-bottom: 1px solid var(--cart-border);
}

.body_cart .wa-float {
	display: none;
}

.mybag-main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--checkout-grey);
	--padding: 32px;
}

.mybag-main svg,
.checkout-main svg {
	width: unset;
	height: unset;
}

.mybag-card-sale {
	background-color: var(--red);
	color: #fff;
	border-radius: 50px;
	padding: 2px 6px;
	font-size: 11px;
	font-weight: 800;
	line-height: 18px;
}

.mybag-card-price {
	font-weight: 700;
	font-size: 16px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-price_new {
	order: -1;
}

.card-price_old {
	font-size: 14px;
	color: #9398a7;
}

.card-price_old::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.5px;
	background-color: #9398a7;
}

.mybag-card__thumbnail {
	display: flex;
	gap: 8px;
	flex: none;
}

.mybag-card__thumbnail a {
	aspect-ratio: 1;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.mybag-card__thumbnail a::after {
	content: "";
	position: absolute;
	inset: 0%;
	z-index: 0;
	opacity: 0.5;
	filter: grayscale(80%) hue-rotate(211deg);
	background-image: radial-gradient(
			circle farthest-side at 100%,
			rgba(255, 255, 255, 0.9294117647),
			rgba(255, 255, 255, 0) 60%
		),
		radial-gradient(circle farthest-side at 20% 0, rgba(53, 50, 48, 0.1215686275), rgba(255, 255, 255, 0) 50%),
		linear-gradient(#e2e0df, #e7e6e5 14%, #f4f3f2 60%, #f3f3f3);
	display: block;
}

.mybag-card__thumbnail img {
	z-index: 1;
	aspect-ratio: 1;
	mix-blend-mode: multiply;
	object-fit: contain;
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}

.checkout-box {
	border-bottom: 1px solid var(--cart-border);
	padding: 48px;
}

.checkout-box.--info {
	padding-top: 36px;
	margin-bottom: 0;
}

.mybag-information-row__wrap {
	flex-direction: column;
	align-items: flex-start;
	display: flex;
}

.mybag-information-row__wrap span {
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
}

.mybag-information-row__wrap a {
	text-decoration: underline;
	font-size: 13px;
	font-weight: 400;
	display: block;
}

.mybag-information-row__wrap a:hover {
	color: var(--blue);
}

.redeem-input-wrap {
	grid-column-gap: 6px;
	grid-row-gap: 6px;
	justify-content: flex-start;
	align-items: stretch;
	display: flex;
	position: relative;
}

.redeem-btn {
	background-color: var(--black);
	color: #fff;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: 600;
	transition: all 0.2s;
	display: flex;
	box-shadow: 0 2px 16px rgba(85, 135, 170, 0.1);
	padding: 6px 14px;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	z-index: 2;
	border-radius: 0.25rem;
}

.redeem-btn:disabled {
	box-shadow: none;
	cursor: not-allowed;
	background-color: #fff;
	color: #8793a0;
}

.redeem-input {
	height: 42px;
	background-color: #fff;
	border: 1px solid #e4e4eb;
	border-radius: 0.3rem;
	margin-bottom: 0;
	padding: 12px 15px;
	font-size: 14px;
	font-weight: 500;
	transition: all 0.2s;
	box-shadow: 0 1px 4px rgba(17, 17, 20, 0.0392156863);
	width: 100%;
}

.redeem-input:hover {
	background-color: var(--checkout-grey);
}

.redeem-input:focus {
	border-color: var(--black);
	box-shadow: none;
	background-color: white;
}

.redeem-input:focus::placeholder {
	opacity: 0.3;
}

.redeem-input.to-select {
	cursor: pointer;
}

.redeem-input::placeholder {
	color: #7c838f;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0;
	transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cart-blank-btn {
	grid-column-gap: 7px;
	grid-row-gap: 7px;
	border: 1px solid var(--cart-border);
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-color: #fff;
	border-radius: 0.3rem;
	justify-content: center;
	align-items: center;
	min-width: 32px;
	height: 36px;
	padding: 7px 12px;
	font-size: 13px;
	font-weight: 500;
	display: flex;
}

.cart-blank-btn:hover {
	border-color: var(--black);
}

.cart-blank-btn.--select {
	padding-right: 28px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3e%3cpath d='M1 1l4 4 4-4' stroke='%23000' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center right 12px;
	background-size: 8px 8px;
}

.mybag-card__select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	min-width: 32px;
}

.mybag-card-title {
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.mybag-card-title:hover {
	color: var(--black_hover);
	text-decoration: underline;
}

.checkout-form__select-wrap input {
	padding-right: 42px;
}

.mybag-information {
	grid-column-gap: 14px;
	grid-row-gap: 14px;
	border-top: 1px #dadfe7;
	border-bottom: 1px #dadfe7;
	flex-direction: column;
	display: flex;
	margin: unset;
}

.mybag-summary__main,
.checkout-summary__main {
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	flex-flow: column;
	display: flex;
}

.summary-price {
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.mybag-summary-price_discount span:last-child {
	color: var(--red);
	font-weight: 600;
}

.mybag-summary-price_total {
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 12px;
}

.mybag-information-row {
	justify-content: flex-start;
	align-items: center;
	display: flex;
}

.mybag-information-row img {
	width: 32px;
	height: 32px;
	margin-right: 16px;
	flex: none;
}

.copy-address-btn:active {
	border: 1px solid #c6d3e0;
	background-color: var(--sub-grey);
}

.mybag-card__controls-wrap {
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.mybag-card__controls {
	margin-top: 34px;
}

.mybag-card__notice {
	gap: 6px;
	justify-content: flex-start;
	align-items: center;
	line-height: 18px;
	font-size: 13px;
	margin: calc(var(--mybag-card-padding) * -1);
	margin-top: var(--mybag-card-padding);
	padding-top: 10px;
	font-weight: 500;
	display: flex;
	background-color: var(--checkout-grey);
}

.mybag-card__notice::before {
	content: "";
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="info"><path d="M10 .4C4.697.4.399 4.698.399 10A9.6 9.6 0 0 0 10 19.601c5.301 0 9.6-4.298 9.6-9.601 0-5.302-4.299-9.6-9.6-9.6zm.896 3.466c.936 0 1.211.543 1.211 1.164 0 .775-.62 1.492-1.679 1.492-.886 0-1.308-.445-1.282-1.182 0-.621.519-1.474 1.75-1.474zM8.498 15.75c-.64 0-1.107-.389-.66-2.094l.733-3.025c.127-.484.148-.678 0-.678-.191 0-1.022.334-1.512.664l-.319-.523c1.555-1.299 3.343-2.061 4.108-2.061.64 0 .746.756.427 1.92l-.84 3.18c-.149.562-.085.756.064.756.192 0 .82-.232 1.438-.719l.362.486c-1.513 1.512-3.162 2.094-3.801 2.094z"/></svg>');
	background-position: left center;
	background-size: 14px 14px;
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	flex: none;
}

.mybag-features {
	background-color: var(--white);
	padding: 42px var(--padding) 42px var(--padding);
	position: relative;
}

.mybag-features__grid {
	width: 100%;
	max-width: 1300px;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	flex-wrap: wrap;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	justify-content: center;
	align-items: stretch;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	position: relative;
}

.mybag__cards-col,
.checkout__cards-col {
	gap: 32px;
	flex-flow: column;
	flex: 1;
	padding: 42px 4vw;
	display: flex;
}

.checkout-btn,
.checkout__main-btn {
	color: white;
	background-color: var(--black);
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 6px 24px;
	height: 52px;
	border-radius: 50rem;
	font-weight: 700;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	transition: all 200ms ease;
}

.checkout-btn:hover,
.checkout__main-btn:hover {
	background-color: var(--black_hover);
}

.checkout-btn span:last-child,
.checkout__main-btn span:last-child {
	opacity: 0.6;
	font-size: 11px;
	font-weight: 600;
	line-height: 15px;
}

.mybag-card__content-wrap {
	flex-flow: column;
	flex: 1;
	justify-content: space-between;
	display: flex;
	height: 100%;
	padding: 12px;
	gap: 12px;
}

.mybag-floating {
	z-index: 50;
	background-color: #fff;
	border-top: 1px solid var(--cart-border);
	padding: var(--padding);
	display: none;
	flex-direction: column;
	gap: var(--padding);
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
}

.mybag-floating .summary-price:not(.mybag-summary-price_total) {
	display: none;
}

.mybag-floating .mybag-summary-price_total {
	margin: 0;
}

.mybag-floating .mybag-summary-price_total span:last-child {
	display: flex;
	align-items: center;
	gap: 6px;
}

.mybag-floating .mybag-summary-price_total span:last-child::after {
	content: "";
	display: inline-block;
	transform: rotate(180deg) translateY(-1px);
	transform-origin: center center;
	width: 12px;
	height: 12px;
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.175 3.175L5 6.99167L8.825 3.175L10 4.35L5 9.35L0 4.35L1.175 3.175Z' fill='black'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.mybag-summary__payments {
	grid-column-gap: 6px;
	grid-row-gap: 6px;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	display: flex;
}

.mybag-card__options {
	display: flex;
	position: relative;
	align-items: center;
	row-gap: 2px;
	column-gap: 8px;
	flex-flow: wrap;
	font-size: 13px;
}

.mybag-card__header {
	border-bottom: 2px var(--sub-grey);
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
	display: flex;
	position: relative;
}

.mybag-content {
	display: flex;
	min-height: 100vh;
}

.mybag-card__wrap {
	gap: 8px;
	display: flex;
}

.mybag-card__price-wrap {
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: flex-end;
}

.mybag-card__controls-group {
	column-gap: 8px;
	row-gap: 1px;
	flex-flow: wrap;
	align-items: center;
	display: flex;
}

.mybag-features__col-details {
	text-align: center;
	flex-direction: column;
	align-items: center;
	display: flex;
}

.mybag-card__details {
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	display: flex;
}

.mybag-summary {
	z-index: 4;
	flex-direction: column;
	display: flex;
	position: -webkit-sticky;
	position: sticky;
	top: 132px;
}

.mybag-summary__footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}

.mybag-summary__payments img {
	max-width: 42px;
	flex: 1;
}

.mybag__summary-col {
	background-color: #fff;
	flex-flow: column;
	flex: none;
	width: 33.3333%;
	display: flex;
}

.mybag-card__content {
	flex: 1;
}

.mybag__cards-header {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.mybag__cards-header .typo_xs {
	font-size: 13px;
	font-weight: 500;
}

.mybag-heading {
	letter-spacing: -0.2px;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.mybag-heading span {
	opacity: 0.6;
	font-size: 18px;
	font-weight: 400;
}

.mybag-card__title-group {
	flex-direction: column;
	align-items: flex-start;
	margin-right: 16px;
	display: flex;
}

.mybag-summary__sub-typo {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	line-height: 18px;
}

.mybag-features__col {
	flex-direction: column;
	flex: 1;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
}

.mybag-features__col img {
	width: 48px;
	margin-bottom: 24px;
}

.mybag-features__col h5 {
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 16px;
}

.mybag-features__col p {
	font-size: 14px;
	line-height: 20px;
}

.mybag-card {
	--mybag-card-padding: 6px;
	background-color: #fff;
	padding: var(--mybag-card-padding);
}

.mybag-card:not(:last-child) {
	margin-bottom: 20px;
}

.mybag__cards-list {
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	flex-direction: column;
	display: flex;
}

.item-protect__title h5,
.item-protect__title h6 {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}

.item-protect__title h5 > span,
.item-protect__title h6 > span {
	color: rgba(8, 17, 31, 0.7);
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	display: block;
}

.item-protect__title h5 > span span,
.item-protect__title h6 > span span {
	font-weight: 700;
	color: #0095c6;
}

.mybag-card-drop > div:last-child > div > a {
	cursor: pointer;
	width: 140px;
	padding: 8px 12px;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	text-align: left;
}

.mybag-card-drop > div:last-child > div > a:hover {
	background-color: #e0e2e9;
}

.mybag-card__mob-title {
	padding: 16px;
	display: none;
}

.mybag-card__mob-title h5 {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.mybag-card__pic-wrap {
	width: 22%;
}

@media screen and (max-width: 991px) {
	.body_cart .checkout-box:not(.--info) {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.mybag-main {
		gap: 32px;
	}
}

@media screen and (max-width: 767px) {
	.mybag-main {
		--padding: 22px;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__thumbnail {
		aspect-ratio: 1;
		width: 36%;
		max-width: 98px;
		height: auto;
	}
}

@media screen and (max-width: 991px) {
	.checkout-box {
		padding: 36px var(--padding);
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__controls-wrap {
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		gap: 16px;
	}
}

@media screen and (min-width: 1440px) {
	.mybag__cards-col,
	.checkout__cards-col {
		padding-left: 5.6vw;
		padding-right: 5.6vw;
	}
}

@media screen and (max-width: 991px) {
	.mybag__cards-col,
	.checkout__cards-col {
		padding-left: var(--padding);
		padding-right: var(--padding);
	}
}

@media screen and (max-width: 479px) {
	.mybag__cards-col,
	.checkout__cards-col {
		padding-top: 32px;
		gap: 20px;
	}
}

@media screen and (max-width: 991px) {
	.checkout-btn,
	.checkout__main-btn {
		flex: 1;
	}
}

@media screen and (max-width: 991px) {
	.mybag-floating {
		display: flex;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__options {
		flex-direction: column;
	}

	.mybag-card__options > span {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
	}

	.mybag-card__options > span span {
		color: var(--text-muted);
	}

	.mybag-card__options > span span:last-child {
		font-weight: 500;
	}
}

@media screen and (max-width: 991px) {
	.mybag-content {
		min-height: unset;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__wrap {
		gap: 0;
		flex-direction: column;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__controls-group {
		justify-content: flex-end;
	}
}

@media screen and (max-width: 991px) {
	.mybag-summary__footer {
		align-items: flex-start;
		text-align: left;
		margin-top: 0;
	}

	.mybag-summary__footer button {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.mybag__summary-col {
		width: 100%;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__title-group {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.mybag-summary__sub-typo {
		text-align: left;
	}
}

@media screen and (min-width: 1440px) {
	.mybag-summary__payments img {
		max-width: 38px;
	}
}

@media screen and (max-width: 991px) {
	.mybag-content {
		display: block;
	}

	.mybag-features__col {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 767px) {
	.mybag-features__grid {
		grid-row-gap: 42px;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row;
	}

	.mybag-card__quantity {
		order: 1;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__controls {
		margin-top: 14px;
	}

	.mybag-features__grid {
		display: block;
	}

	.mybag-card__quantity {
		order: 1;
	}

	.mybag-features__col-details {
		text-align: left;
		align-items: flex-start;
	}

	.mybag-features__col {
		flex-direction: row;
		padding-bottom: 42px;
	}

	.mybag-features__col img {
		width: 42px;
		flex: none;
		margin-bottom: 0;
		margin-right: 20px;
	}

	.mybag-features__col h5 {
		margin-bottom: 6px;
		font-weight: 600;
	}

	.mybag-features__col p {
		font-size: 12px;
		line-height: 18px;
	}
}

@media screen and (max-width: 991px) {
	.mybag-card-drop > div:last-child > div > a {
		width: 190px;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__mob-title {
		display: block;
	}
}

@media screen and (max-width: 479px) {
	.mybag-card__pic-wrap {
		display: flex;
		align-items: center;
		width: 100%;
		padding-bottom: var(--mybag-card-padding);
		border-bottom: 1px solid var(--cart-border);
	}
}

@keyframes rowError {
	0% {
		border-color: var(--cart-border);
		background-color: transparent;
	}
	25% {
		border-color: #c02942;
		background-color: rgba(192, 41, 66, 0.05);
	}
	50% {
		border-color: var(--cart-border);
		background-color: transparent;
	}
	75% {
		border-color: #c02942;
		background-color: rgba(192, 41, 66, 0.05);
	}
	100% {
		border-color: var(--cart-border);
		background-color: transparent;
	}
}

@keyframes foldingLoader {
	0%,
	10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

.checkout-item-title {
	font-size: 14px;
	font-weight: 600;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	line-height: 18px;
}

.checkout-summary__list {
	display: flex;
	flex-direction: column;
	gap: 18px;
	padding: 12px 0;
}

.checkout-item-price {
	display: flex;
	align-items: center;
	column-gap: 8px;
	row-gap: 2px;
	margin-top: 4px;
	font-weight: 600;

	&.checkout-item-price_discount {
		span:first-child {
			position: relative;
			color: var(--red);
			display: flex;
			justify-content: center;
			align-items: center;
			order: 1;
			text-decoration: line-through;
		}
	}
}

.checkout-item__details-row {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	column-gap: 8px;
	row-gap: 2px;

	span {
		font-size: 12px;
		opacity: 0.4;
		font-weight: 600;
	}
}

.checkout-item {
	display: flex;
	align-items: center;
	gap: 12px;
}

.checkout-item__pic-wrap {
	width: 64px;
	height: 64px;
	border-radius: 0.3rem;
	overflow: hidden;
	background-color: white;
	mix-blend-mode: multiply;
	flex: none;
	border: 1px solid var(--cart-border);
	padding: 4px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.cart-review__items {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&.--hide-items {
		flex-direction: row;
		align-items: center;
		gap: 10px;
		justify-content: space-between;

		.checkout-summary__list {
			flex-direction: row;
			gap: 6px;
			flex-flow: wrap;
		}
		.checkout-item__pic-wrap {
			width: 42px;
			height: 42px;
		}
		.checkout-item__details {
			display: none;
		}
		.cart-review__toggle-btn {
			border-radius: 0;
			padding: 6px 0;
			border: none;
			display: flex;
			align-items: center;
			gap: 6px;
			flex: none;

			&::before {
				content: "Show Items";
			}

			&::after {
				content: "";
				width: 8px;
				height: 8px;
				background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.175 3.175L5 6.99167L8.825 3.175L10 4.35L5 9.35L0 4.35L1.175 3.175Z' fill='black'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100% 100%;
				flex: none;
			}
		}
	}
}

.cart-review__toggle-btn {
	border: 1px solid var(--black);
	border-radius: 0.4rem;
	padding: 6px 12px;
	font-size: 13px;
	font-weight: 600;

	&::before {
		content: "Hide Items";
	}
}
