.mybag-main {
  display: block;
  min-height: 100vh;
  background-color: #f6f7fa;
  --padding: 32px;

  @include maxWidthSm {
    --padding: 18px;
  }
}

.checkout-main {
  --padding: 32px;

  @include maxWidthSm {
    --padding: 18px;
  }
}

.mybag-main svg,
.checkout-main svg {
  width: unset;
  height: unset;
}

.mybag-card-sale {
  color: #108cb4;
  font-size: 12px;
  font-weight: 700;
}

.mybag-card-price {
  font-weight: 600;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-price_new {
  order: -1;
}

.card-price_old {
  color: #9398a7;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #9398a7;
  }
}

.mybar__cards-header {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.mybag-card__thumbnail {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  flex: none;

  a {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &::after {
    content: "";
    opacity: 0.03;
    pointer-events: none;
    background-color: #283a69;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
  }

  @include maxWidthXs {
    width: 100px;
    height: 100px;
  }
}

.checkout-box {
  background-color: var(--white);

  &.--info {
    @include minWidthMd {
      padding: 0 !important;
      background-color: transparent;
      margin-top: 12px;
    }
  }

  &.--msg {
    background-color: rgba(36, 188, 238, 0.05);
    border: 1px dotted #0095c6;
    color: #04769c;
    padding: 12px 20px !important;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
  }
}

.checkout-box__gift-row {
  margin-bottom: 28px;

  .pseudo-radio {
    border-radius: 0.4rem;
    background-color: #06a6dc0f;
    border-color: #06a6dc26;
  }

  .pseudo-radio__input_square {
    border-radius: 0.3rem !important;
    border-color: var(--blue) !important;
  }
}

.pseudo-radio__space-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pseudo-radio__title-group {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.pseudo-radio__large-notice {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.pseudo-radio__large-notice span {
  color: #0095c6;
}

.pseudo-radio__gift-img {
  width: 102px;
  border-radius: 0.35rem;
}

.pseudo-radio__input.pseudo-radio__input_square {
  margin-right: 12px;
  border-radius: 0px;
  border: 1px solid #9ca5ad;
}

@media screen and (max-width: 479px) {
  .pseudo-radio__space-row {
    display: block;
  }

  .pseudo-radio__gift-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    margin-top: 14px;
  }

  .pseudo-radio__title-group {
    margin-right: 0px;
  }
}

.checkout-box.checkout-box_steps {
  background-color: transparent;
  flex-wrap: wrap;
  margin-bottom: 24px;
  padding: 0;
  display: none !important;
  gap: 8px;
}

.checkout-box__header {
  margin-bottom: 24px;
}

.mybag-information-row__wrap {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.mybag-information-row__wrap span {
  font-size: 12px;
}

.mybag-information-row__wrap a {
  font-weight: 600;
  text-decoration: underline;
  font-size: 13px;
}

.mybag-information-row__wrap a:hover {
  color: #06a8dd;
}

.checkout-form.checkout-form_billing {
  display: none;
}

.checkout-form.checkout-form_billing .checkout-form__radio-details {
  display: block;
}

.checkout-form__input-wrap {
  position: relative;
  flex: 1;
  min-width: 150px;
}

.checkout-form__select-icon {
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 12px;
  pointer-events: none;
  background-image: url(../new/img/dropdown-icon.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.checkout-form__radio-details-typo {
  max-width: 320px;
  line-height: 20px;
  font-size: 13px;
}

.checkout-box__content {
  position: relative;
}

.checkout-content {
  display: flex;
  flex: 1;
}

.checkout__page-btn {
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 22px;
  background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.3745 1L1.05566 9.31884L9.3745 17.6377" stroke="currentColor" stroke-width="2"></path><path d="M1.05566 9.31885H17.0001" stroke="currentColor" stroke-width="2"></path></svg>');
  background-size: 16px 16px;
  background-position: left center;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.6;
  }
}

.checkout__page-btn svg {
  display: none;
}

.checkout_error {
  animation: rowError 2s ease infinite;
}

@keyframes rowError {
  0% {
    border-color: #dee5ee;
    background-color: transparent;
  }

  25% {
    border-color: #c02942;
    background-color: rgba(192, 41, 66, 0.05);
  }

  50% {
    border-color: #dee5ee;
    background-color: transparent;
  }

  75% {
    border-color: #c02942;
    background-color: rgba(192, 41, 66, 0.05);
  }

  100% {
    border-color: #dee5ee;
    background-color: transparent;
  }
}

.pseudo-radio__input {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 6px solid #cfd6df;
  border-radius: 500px;
  flex: none;
  margin-right: 10px;
  transition: all 0.15s var(--main-easing);
}

.checkout-form__radio-details-price {
  margin-top: 10px;
  font-weight: 600;
}

.pseudo-radio__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.checkout-form__radio-row input:checked ~ .pseudo-radio .pseudo-radio__input {
  border-color: #06a8dd;
}

.checkout-form__radio-row input:checked ~ .checkout-form__radio-details {
  display: block;
}

.checkout-form__radio-row input:checked ~ .pseudo-radio .pseudo-radio__input.pseudo-radio__input_square {
  background-color: #06a8dd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkout-form__radio-row input {
  display: none;
}

.checkout-form__input {
  width: 100%;
  height: 50px;
  background-color: var(--white);
  border: 1px solid #c5cedc;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.15s var(--main-easing);
  font-size: 13px;
  font-weight: 600;

  &:hover {
    border-color: var(--blue);
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }

  &:active {
    opacity: 0.8;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }

  &:focus {
    border-color: #0da8df;
    box-shadow: 0 0 0 3px rgba(22, 175, 228, 0.08);
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }

  &::-ms-input-placeholder {
    color: #8f8f8f;
  }

  &::placeholder {
    color: #a3aeb7;
  }

  &.to-select {
    cursor: pointer;
  }
}

.checkout-form__input-row {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 14px;
}

.checkout-item__pic-wrap {
  width: 74px;
  height: 74px;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  display: flex;
  position: relative;

  &::after {
    content: "";
    opacity: 0.03;
    pointer-events: none;
    background-color: #283a69;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.checkout-block {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;

  &.is-completed {
    .checkout-box {
      padding-top: 0 !important;
    }
  }

  .checkout-box {
    // border-bottom: 1px solid #e5e7f0;
    // margin-bottom: 36px;
    padding-bottom: 40px;

    &:last-child {
      border-bottom: 0 !important;
      margin-bottom: 0 !important;
      border: none !important;
    }
  }
}

.checkout-box__info-summary {
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
}

.checkout-block.is-completed .checkout-box__content {
  display: none;
}

.checkout-block:not(.is-completed) .checkout-box__info-summary {
  display: none;
}

.checkout-block.is-completed .checkout-box__info-summary {
  display: block;
}

.checkout-block.is-completed .checkout-box:not(:first-child) {
  display: none;
}

.checkout-block.is-completed .checkout-box__header {
  margin-bottom: 0px;
}

.checkout-block.is-completed .checkout-block__footer {
  display: none;
}

.checkout-block.is-completed .checkout-box__header-controls {
  display: flex;
}

.checkout-block.is-completed .checkout-box {
  padding-top: 22px;
  padding-bottom: 22px;
}

.checkout-block.is-inactive .checkout-box__content {
  display: none;
}

.checkout-block.is-inactive .checkout-box:not(:first-child) {
  display: none;
}

.checkout-block.is-inactive .checkout-box__header {
  margin-bottom: 0px;
}

.checkout-block.is-inactive .checkout-block__footer {
  display: none;
}

.checkout-block.is-inactive .checkout-box {
  padding-top: 22px;
  padding-bottom: 22px;
}

.checkout-block.is-inactive {
  opacity: 0.5;
  display: none;
}

.checkout-block.is-editing .checkout-box__content {
  display: block;
}

.checkout-block.is-editing .checkout-box__info-summary {
  display: none;
}

.checkout-block.is-editing .checkout-box:not(:first-child) {
  display: block;
}

.checkout-block.is-editing .checkout-box__header {
  margin-bottom: 18px;
}

.checkout-block.is-editing .checkout-block__footer {
  display: none;
}

.mybag-card__select-wrap {
  width: 3rem;
  background: #fff;
}

.checkout__dd-icon {
  width: 10px !important;
  height: 10px !important;
  right: 0.6rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.mybag-card__select {
  cursor: pointer;
  text-transform: none;
  margin: 0;
  box-sizing: border-box;
  height: 2rem;
  font-size: 11px;
  font-weight: 600;
  line-height: 0.8rem;
  color: #19110b;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 100%;
  position: relative;
  text-overflow: ellipsis;
  z-index: 1;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #d2dae2;
  border-radius: 0;
  box-shadow: none;
  transition: border 0.3s var(--cubic);
  background: transparent;
  padding: 0 0.8rem 0 0.8rem;
}

.mybag-card__select-wrap select:focus {
  outline: none;
}

.mybag-card__select select:focus {
  box-shadow: none;
  border-color: var(--black);
}

.mybag-card__select-wrap select:hover:not(:disabled) {
  border-color: var(--black);
}

.checkout__price-row_total .checkout__price {
  font-size: 16px;
  font-weight: 600;
  color: #0095c6;
}

.checkout__price-row_total .checkout__price-name {
  font-weight: 600;
}

.mybag-card-title {
  // letter-spacing: .3px;
  // text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.checkout-item:last-child {
  margin-bottom: 0px;
}

* > .checkout-block:last-child {
  margin-bottom: 0px;
}

/*Collapsed block*/
.blocks-group.is-collapsed .checkout-block:not(:first-child) {
  display: none;
}

.blocks-group.is-collapsed .checkout-block {
  padding-top: 18px;
  padding-bottom: 18px;
}

.blocks-group.is-collapsed .checkout-block > div:not(.checkout-block__header) {
  display: none;
}

.blocks-group.is-collapsed .checkout-block .checkout-block__header {
  display: block !important;
  margin: 0;
}

.blocks-group.is-collapsed .checkout-block__header-controls {
  display: flex;
}

.blocks-group.is-collapsed .checkout-block__done {
  display: block;
}

.blocks-group.is-validated .checkout-block__header-controls {
  display: flex !important;
}

.checkout-item__pic-wrap:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

* > .checkout-form__input-row:last-child {
  margin-bottom: 0px;
}

.checkout-form__select-wrap .checkout-form__input {
  cursor: pointer;
}

.checkout-form__pay-details * {
  word-break: break-all;
}

.iti.iti--allow-dropdown {
  width: 100%;
}

.checkout-block.is-editing .checkout-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.checkout-form__input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  position: absolute;
  padding: 0 6px;
  left: 8px;
  top: -8px;
  background-color: white;
  z-index: 3;

  span {
    color: #9b9b9b;
    margin-top: 2px;
    margin-left: 6px;
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    display: inline-block;
  }
}

.checkout-main {
  z-index: 9999;
  background-color: #f6f7fa;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
}

.checkout-item__details {
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
}

.checkout-form-wrap {
  margin-bottom: 0;
}

.checkout-step {
  color: rgba(23, 28, 41, 0.45);
  background-color: #f6f8fa;
  // border-right: 1px solid var(--sub-grey);
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  letter-spacing: 1px;

  &.is-active {
    background-color: white;
    color: var(--black);
  }

  svg {
    width: 18px;
    height: 18px;
    order: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.checkout-form__err-msg {
  color: #c02942;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 600;
  display: none;
}

.checkout-block__footer {
  justify-content: flex-end;
  display: flex;
}

.checkout-form__radio-details-group {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.pseudo-radio__protect-img {
  width: 24px;
}

.checkout-item__details-row {
  width: 100%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4px;
  display: flex;
}

.checkout-item__details-row span {
  font-size: 11px;
  line-height: 13px;
}

.checkout__cards-col-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  display: flex;
  position: relative;
}

.affirm-details__logo {
  width: 52px;
  margin-bottom: 4px;
}

.checkout-box__header-controls {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 16px;
  display: none;
}

.checkout-form__input-grid {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}

.checkout-form__input-grid.full-width {
  grid-template-columns: 1fr;
}

.pseudo-radio__label-group {
  align-items: center;
  display: flex;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
}

.wa-glow-btn {
  padding: 6px 18px;
  padding-left: 40px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.15s var(--cubic);
  display: flex;
  position: relative;
  color: #ffffff;
  background-color: #42c54f;
  border: 2px solid #42c54f;
  box-shadow: 0px 22px 36px 0px rgba(67, 226, 83, 0.24);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none"><path d="M7.83213 52.3434L8.16657 51.1425L7.55139 50.0582C4.95188 45.4764 3.46657 40.1792 3.46657 34.526C3.46657 17.1147 17.5812 3 34.9925 3C52.4039 3 66.5185 17.1147 66.5185 34.526C66.5185 51.9373 52.4039 66.0519 34.9925 66.0519C29.3076 66.0519 23.9826 64.5499 19.3831 61.9231L18.3142 61.3127L17.1246 61.6289L4.29668 65.0389L7.83213 52.3434Z" stroke="white" stroke-width="6"/><path fill-rule="evenodd" clip-rule="evenodd" d="M28.2477 20.538C27.654 19.1984 27.0292 19.1713 26.4652 19.1481L24.9469 19.1293C24.4187 19.1293 23.5605 19.3306 22.8349 20.1358C22.1094 20.941 20.0624 22.8871 20.0624 26.8454C20.0624 30.8037 22.9008 34.6285 23.2963 35.1659C23.6919 35.7033 28.7759 44.0851 36.8272 47.3099C43.5179 49.9899 44.8793 49.4569 46.3322 49.323C47.785 49.189 51.0185 47.3769 51.6782 45.4981C52.3378 43.6194 52.3382 42.0099 52.1405 41.6733C51.9427 41.3368 51.4145 41.1368 50.6217 40.7342C49.829 40.3316 45.9354 38.3855 45.2094 38.1168C44.4834 37.8481 43.9556 37.7146 43.427 38.5198C42.8983 39.3251 41.3821 41.1364 40.9198 41.6733C40.4575 42.2103 39.9961 42.2777 39.2033 41.8755C38.4106 41.4733 35.8599 40.6235 32.8336 37.8827C30.479 35.7501 28.8896 33.1165 28.4269 32.3117C27.9642 31.5069 28.3778 31.0711 28.775 30.6702C29.1305 30.3096 29.5669 29.7306 29.9637 29.2611C30.3606 28.7915 30.4911 28.4558 30.7548 27.9198C31.0185 27.3837 30.8871 26.9128 30.6889 26.5106C30.4907 26.1084 28.9517 22.1292 28.2477 20.538Z" fill="white"/></svg>');
  background-position: left 12px center;
  background-size: 18px;
  background-repeat: no-repeat;

  &:hover {
    background-color: #34aa40;
    box-shadow: 0px 22px 36px 0px rgba(67, 226, 83, 0);
  }
}

.crypto-how-btn {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #02a1d6;
  border: 2px solid #02a1d6;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding: 9px 22px;
  font-size: 12px;
  font-weight: 700;
  transition: all 0.15s var(--cubic);
  display: flex;
  position: relative;
  box-shadow: 0 12px 28px rgba(16, 171, 223, 0.3);

  &:active {
    border-color: #dee5ee;
  }
}

.crypto-how-btn:hover {
  color: #048dbb;
  background-color: rgba(2, 161, 214, 0);
  box-shadow: 0 12px 28px rgba(21, 169, 248, 0);
}

.crypto-how-btn img {
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-left: 8px;
}

.pseudo-radio__small-notice {
  font-size: 12px;
}

.pseudo-radio__small-notice span {
  font-weight: 600;
}

.checkout-form__select-wrap {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.checkout-summary__header {
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.mybag-information {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  border-top: 1px #dadfe7;
  border-bottom: 1px #dadfe7;
  flex-direction: column;
  display: flex;
  margin: unset;
}

.pseudo-radio {
  cursor: pointer;
  border: 1px solid #dee5ee;
  margin-bottom: -1px;
  padding: 14px 16px;
  transition: all 0.3s var(--main-easing);
}

.mybag-summary__main,
.checkout-summary__main {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  display: flex;
}

.summary-price:not(.mybag-summary-price_total) {
  padding-left: 10px;
  padding-right: 10px;
}

.summary-price {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 13px;
  line-height: 20px;

  & > span {
    &:last-child {
      font-weight: 600;
    }
  }
}

.mybag-summary-price_discount {
  span {
    &:last-child {
      color: #108cb4;
    }
  }
}

.mybag-summary-price_total {
  padding-top: 12px;
  font-size: 14px;
  font-weight: 600;

  span {
    &:last-child {
      font-size: 15px;
    }
  }
}

.checkout-form__radio-details {
  position: relative;
  box-shadow: none;
  background-color: var(--main-grey);
  border: 1px solid #dee5ee;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
  padding: 20px;
  display: none;

  &.is-copied {
    &::after {
      content: "ADDRESS COPIED";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      z-index: 5;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(245, 248, 250, 0.8);
      backdrop-filter: blur(8px);
    }

    &.is-error::after {
      content: "NOT SUPPORTED. COPY MANUALLY.";
    }
  }
}

.checkout-form__radio-details[visible] {
  display: block;
}

.pseudo-radio__pay-image {
  width: 58px;
}

.checkout-main__wrapper {
  z-index: 10;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  display: flex;
}

.checkout-wrapper {
  display: flex;
  flex: 1;

  .sm-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.pseudo-radio__sub-group {
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.pseudo-radio__shipping-price {
  color: var(--white);
  text-align: center;
  background-color: #0095c6;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  font-size: 11px;
  font-weight: 700;
  display: flex;
}

.checkout-item {
  align-items: stretch;
  display: flex;

  &.--code {
    .checkout-item-title {
      font-size: 12px;
    }
  }
}

.checkout-item:hover {
  color: inherit;
}

.checkout-box__header-wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mybag-information-row {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.mybag-information-row img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.checkout-form__radio-row {
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 400;

  &.--disabled {
    display: block;
    margin-bottom: 14px;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::after {
      content: "We do not accept this for plain watches.";
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 12px;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      margin-top: 6px;
      background-color: #f5f8fa;
    }

    .pseudo-radio {
      cursor: not-allowed !important;
      filter: grayscale(100%);
      opacity: 0.5;
    }

    .checkout-form__radio-details {
      display: none !important;
    }

    .pseudo-radio__input {
      border-color: #cfd6df !important;
    }
  }
}

.checkout__sub-form {
  margin-top: 28px;
}

.checkout-form__pay-details {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  font-weight: 600;
  display: flex;
}

.copy-address-btn {
  // width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-break: break-all;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #dee5ee;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  position: relative;
}

.copy-address-btn:focus,
.copy-address-btn:active {
  border: 1px solid #c6d3e0;
  background-color: var(--sub-grey);
}

.copy-address-btn__typo {
  text-transform: uppercase;
}

.copy-address-btn__typo span {
  width: 12px;
  height: 12px;
  color: rgba(23, 28, 41, 0);
  background-image: url("../new/img/check_copy-icon.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 6px;
  display: inline-block;
}

.checkout-summary__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.checkout-summary__list li {
  // border-bottom: 1px solid #e5e7f0;
  margin-bottom: 10px;
  // padding-bottom: 16px;
}

.checkout-summary__list li:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.checkout-boxes-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;

  @include maxWidthMd {
    max-width: 100%;
  }
}

.checkout-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;

  &:hover {
    text-decoration: underline;
    color: var(--blue-gold);
  }
}

.checkout-header {
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.checkout-header a {
  justify-content: center;
  align-items: center;
}

.checkout-header img {
  z-index: 3;
  width: 140px;
  display: block;
  position: relative;
}

.checkout-box__edit-btn {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkout-item-price {
  margin-top: 4px;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  display: flex;
  row-gap: 2px;
  column-gap: 6px;
}

.checkout-item-price_discount {
  & > span {
    &:first-child {
      position: relative;
      color: #9398a7;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: #9398a7;
      }
    }

    &:last-child {
      order: -1;
    }
  }
}

.pseudo-radio__big-notice {
  font-weight: 600;
}

.pseudo-radio__big-notice span {
  color: rgba(23, 28, 41, 0.7);
  font-size: 12px;
  text-decoration: underline;
  display: block;
}

.checkout-box__info-box {
  border: 1px solid #dee5ee;
  align-items: center;
  margin-bottom: 18px;
  padding: 20px;
  gap: 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  background-color: var(--grey);
}

.checkout-box__info-box img {
  width: 28px;
  flex: 0;
}

.mybag-card__controls-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mybag-card__controls {
  margin-top: 34px;
}

.mybag-card__notice {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  color: rgba(23, 28, 41, 0.69);
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
  padding: 0;
  padding-left: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="info"><path d="M10 .4C4.697.4.399 4.698.399 10A9.6 9.6 0 0 0 10 19.601c5.301 0 9.6-4.298 9.6-9.601 0-5.302-4.299-9.6-9.6-9.6zm.896 3.466c.936 0 1.211.543 1.211 1.164 0 .775-.62 1.492-1.679 1.492-.886 0-1.308-.445-1.282-1.182 0-.621.519-1.474 1.75-1.474zM8.498 15.75c-.64 0-1.107-.389-.66-2.094l.733-3.025c.127-.484.148-.678 0-.678-.191 0-1.022.334-1.512.664l-.319-.523c1.555-1.299 3.343-2.061 4.108-2.061.64 0 .746.756.427 1.92l-.84 3.18c-.149.562-.085.756.064.756.192 0 .82-.232 1.438-.719l.362.486c-1.513 1.512-3.162 2.094-3.801 2.094z"/></svg>');
  background-position: left center;
  background-size: 14px 14px;
  background-repeat: no-repeat;

  @include maxWidthXs {
    padding-left: 24px;
  }
}

.mybag-features__grid {
  width: 100%;
  max-width: 1300px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.checkout__cards-col {
  background-color: #fff;
  flex: 1;
  padding: 0 var(--padding) var(--padding);
  padding-left: 5vw !important;

  @media screen and (min-width: 1440px) {
    padding-left: 7vw !important;
  }

  @include maxWidthMd {
    padding: 0 var(--padding) 32px var(--padding) !important;
  }
}

.mybag__cards-col {
  background-color: #fff;
  flex: 1;
  padding: 0 var(--padding);
  padding-left: 5vw !important;

  @media screen and (min-width: 1440px) {
    padding-left: 7vw !important;
  }

  @include maxWidthMd {
    padding: 0 var(--padding) 32px var(--padding) !important;
  }
}

.checkout-btn,
.checkout__main-btn {
  color: white;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 12px;
  border-radius: 0.4rem;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  transition: all 200ms ease;

  &:hover {
    background-color: var(--blue);
  }
}

.mybag-card__content-wrap {
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  display: flex;
  height: 100%;
}

.mybag-floating {
  z-index: 20;
  background-color: #fff;
  border-top: 1px solid #e5e7f0;
  padding: 14px;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;

  @include maxWidthMd {
    display: block;
  }

  @include maxWidthXs {
    padding: 14px;
  }
}

.mybag-summary__payments {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.mybag-card__options {
  display: flex;
  position: relative;
  align-items: center;
  row-gap: 3px;
  column-gap: 8px;
  flex-flow: wrap;
  font-size: 12px;
}

.mybag-card__header {
  border-bottom: 2px var(--sub-grey);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  display: flex;
  position: relative;

  @include maxWidthXs {
    margin-bottom: 1px;
  }
}

.mybag-content {
  display: flex;
  min-height: 100vh;
}

.mybag-card__wrap {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  padding: 0;
  display: flex;
}

.mybag-card__controls-group {
  column-gap: 8px;
  row-gap: 1px;
  flex-flow: wrap;
  align-items: center;
  display: flex;
}

.mybag-card__select-wrap {
  cursor: pointer;
  position: relative;
}

.mybag-features__col-details {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.mybag-card__details {
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  display: flex;
}

.mybag-summary {
  z-index: 4;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 132px;

  .checkout-box {
    padding: 32px var(--padding) 32px var(--padding);
  }
}

.mybag-summary__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  @include maxWidthMd {
    align-items: flex-start;
    text-align: left;
    margin-top: 0;

    button {
      display: none;
    }
  }
}

.mybag__page-controls {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 20px;
  display: flex;

  @include maxWidthXs {
    margin-bottom: 32px;
  }
}

.checkout__page-controls {
  padding: 32px var(--padding) 32px 5vw;
  background-color: white;
  margin-right: clamp(420px, 40vw, 40vw);

  @media screen and (min-width: 1440px) {
    padding-left: 7vw;
  }

  @include maxWidthMd {
    padding-left: var(--padding);
    margin-right: 0;
  }
}

.mybag-summary__header {
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.mybag-summary__payments img {
  max-width: 42px;
  flex: 1;
}

.checkout-summary {
  margin-top: -86px;
  position: relative;
  z-index: 5;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  flex: none;
  width: 40%;
  min-width: 420px;
  padding: var(--padding);
  display: flex;

  .checkout-summary__header {
    display: none !important;
  }

  @include maxWidthMd {
    margin-top: 0;
    width: 100%;
    padding: 14px 0;
    min-width: unset;
  }

  .checkout-box {
    padding: 32px var(--padding) 32px var(--padding);
  }

  @include minWidthMd {
    .checkout-boxes-wrap {
      .checkout-box {
        &:last-child {
          margin-top: 14px;
          background-color: transparent;
          padding: 0;
        }
      }
    }
  }
}

.mybag__summary-col {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  flex: none;
  width: 34%;
  min-width: 420px;
  padding: var(--padding);
  display: flex;

  @include maxWidthMd {
    width: 100%;
    min-width: auto;
    padding: 14px 0;
  }
}

.mybag__summary-col {
  @include maxWidthMd {
    width: 100%;
    min-width: auto;
    padding: 14px 0;
  }
}

.mybag__page-btn {
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;

  svg {
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    display: flex;
  }

  @include minWidthMd {
    &:hover {
      opacity: 0.6;
    }
  }
}

.mybag-card__content {
  flex: 1;
}

.mybag-heading,
.checkout-heading {
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.mybag-heading.mybag-heading_small {
  font-size: 18px;
  line-height: 24px;
}

.mybag-card__main-btn {
  // background-color: var(--white);
  // border: 1px solid #d1dae3;
  justify-content: center;
  align-items: center;
  // padding: 8px;
  font-size: 12px;
  transition: all 0.15s var(--main-easing);
  display: flex;
  position: static;

  &:hover {
    color: #0095c6;
  }

  &:focus,
  &:active {
  }

  svg {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.mybag-card__title-group {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 16px;
  display: flex;
}

.mybag-summary__sub-typo {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;

  @include maxWidthMd {
    text-align: left;
  }
}

.mybag-wrapper {
  padding-bottom: 98px;
  padding-left: 78px;
  padding-right: 78px;
}

.mybag-features__col {
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.mybag-features__col img {
  width: 48px;
  margin-bottom: 24px;
}

.mybag-features__col h5 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
}

.mybag-features__col p {
  font-size: 14px;
  line-height: 20px;
}

.mybag-card {
  border-bottom: 1px solid #e5e7f0;
  flex-flow: column;
  margin-bottom: 16px;
  padding-bottom: 16px;
  display: flex;

  @include maxWidthXs {
    margin-bottom: 26px;
    padding-bottom: 24px;
  }

  &:last-child {
    @include maxWidthXs {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.mybag-card__option-row {
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  line-height: 18px;
  display: flex;
}

.mybag__cards-list {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
  padding-top: 32px;
}

.mybag-card__picture {
  width: 100%;
  object-fit: contain;
  display: block;
}

.mybag-features {
  background-color: var(--white);
  padding: 42px var(--padding) 42px var(--padding);
  position: relative;
}

@media screen and (min-width: 1440px) {
  .mybag-summary__payments img {
    max-width: 38px;
  }

  .mybag-wrapper {
    padding-left: 98px;
    padding-right: 98px;
  }
}

@media screen and (max-width: 991px) {
  .checkout-content {
    display: block;
  }

  .checkout-item__details {
    flex-direction: row;
  }

  .checkout-item__details-row {
    margin-top: 6px;
  }

  .checkout-item-price {
    font-size: 13px;
  }

  .mybag-content {
    display: block;
  }

  .mybag-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .mybag-features__col {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 767px) {
  .mybag-features__grid {
    grid-row-gap: 42px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .mybag-card__quantity {
    order: 1;
  }
}

@media screen and (max-width: 479px) {
  .checkout-item__details {
    flex-direction: column;
    justify-content: space-between;
  }

  .affirm-details__logo {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .pseudo-radio__pay-image {
    width: 54px;
  }

  .checkout-form__pay-details {
    flex-direction: column;
    align-items: center;
  }

  .mybag-card__controls-wrap {
    justify-content: space-between;
  }

  .mybag-card__controls {
    margin-top: 14px;
  }

  .mybag-features__grid {
    display: block;
  }

  .mybag-card__quantity {
    order: 1;
  }

  .mybag-card__options {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }

  .mybag-features__col-details {
    text-align: left;
    align-items: flex-start;
  }

  .mybag-card__main-btn {
    flex: 1;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .mybag-wrapper {
    padding-bottom: 32px;
  }

  .mybag-features__col {
    flex-direction: row;
    padding: 18px 0;
  }

  .mybag-features__col img {
    width: 42px;
    flex: none;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .mybag-features__col h5 {
    margin-bottom: 6px;
    font-weight: 600;
  }

  .mybag-features__col p {
    font-size: 12px;
  }

  .mybag-card__picture {
    max-height: 110px;
    object-fit: cover;
  }
}

/* Page LOADER */
.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(233, 237, 241, 0.74);
  backdrop-filter: blur(0px);
  z-index: 9999;
}

.page-loader > span {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}

.page-loader > span span {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.page-loader > span span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0095c6;
  animation: foldingLoader 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.page-loader > span span:nth-child(2) {
  transform: scale(1.1) rotateZ(90deg);
}

.page-loader > span span:nth-child(4) {
  transform: scale(1.1) rotateZ(180deg);
}

.page-loader > span span:nth-child(3) {
  transform: scale(1.1) rotateZ(270deg);
}

.page-loader > span span:nth-child(2):before {
  animation-delay: 0.3s;
}

.page-loader > span span:nth-child(4):before {
  animation-delay: 0.6s;
}

.page-loader > span span:nth-child(3):before {
  animation-delay: 0.9s;
}

@keyframes foldingLoader {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.checkout__radio-controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  @include maxWidthXs {
    flex-direction: column;
  }
}

.mybag-main {
  .polish-item {
    margin-bottom: 20px;

    @include maxWidthXs {
      margin-bottom: 28px;
    }
  }
}

.polish-item {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  padding-top: 32px;
  display: flex;
  position: relative;

  &::before {
    content: "Free With Purchase over $1000";
    height: 28px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #12a9db;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }
}

.polish-item__details {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: #fff;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  display: flex;

  & > span {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    color: #0095c6;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;

    span {
      color: #08111f;
      font-size: 14px;
      text-decoration: line-through;
    }
  }

  h4 {
    max-width: 400px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;

    span {
      letter-spacing: 0;
      text-transform: none;
      margin-top: 4px;
      font-weight: 400;
      display: block;
    }
  }
}

.polish-item__pic {
  width: 160px;
  border: 4px solid #fff;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 6px;
  display: flex;
  position: relative;
  overflow: hidden;

  @include maxWidthXs {
    width: 30%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.4);

    @include maxWidthXs {
      height: 72px;
    }
  }
}

.cart-notice {
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(rgba(233, 76, 99, 0.06), rgba(233, 76, 99, 0));
  border-top: 1.5px solid #e94c63;
  margin-top: 12px;
  padding: 12px 40px;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
}

.mybag-card__sum {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-protect {
  border-top: 1px solid #e4e8ec;
  padding-top: 14px;
}

.item-protect__plans {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
  display: flex;

  @include maxWidthXs {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }

  button {
    height: 48px;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #e4e8ec;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.25s;
    display: flex;
    overflow: hidden;

    @include maxWidthXs {
      min-width: 40%;
    }

    span {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      line-height: 16px;
    }

    &:hover {
      color: #0388b4;
      border-color: #0095c6;
    }

    &:active {
      opacity: 0.7;
      transform: scale(0.97);
    }

    &.is-active {
      color: #0388b4;
      background-color: rgba(0, 149, 198, 0.02);
      border-color: #0095c6;
    }
  }
}

.item-protect__title {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;

  button {
    text-align: right;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
  }

  h4,
  h5,
  h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;

    & > span {
      color: rgba(8, 17, 31, 0.7);
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      display: block;

      span {
        font-weight: 700;
        color: #0095c6;
      }
    }
  }
}

.redeem-input-wrap {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.redeem-input {
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #c5cedc;
  border-radius: 0;
  height: 42px;
  margin-bottom: 0;
  font-weight: 600;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  flex: 1;
  padding: 6px 12px;
  font-size: 13px;

  &:focus {
    border-color: #09a9dd;
    box-shadow: 0 0 0 2px rgba(9, 169, 221, 0.1);

    &::placeholder {
      color: transparent;
    }
  }

  &:active {
    opacity: 0.65;
  }

  &::placeholder {
    color: #7c838f;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
}

.redeem-btn {
  background-color: var(--blue);
  color: white;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s;
  display: flex;
  box-shadow: 0 2px 16px rgba(85, 135, 170, 0.1);
  padding: 6px 14px;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  z-index: 2;

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
    background-color: white;
    color: #8793a0;
  }
}

.checkout-box {
  .redeem-input-wrap {
    margin-top: 16px;
  }
}

.checkout-redeem {
  display: flex;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  margin-top: 18px;

  h3 {
    border-bottom: 1px solid #e3e9f0;
    padding-bottom: 7px;
    font-size: 13px;
    font-weight: 600;
  }
}

.checkout-item__code {
  color: #6a6d77;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;

  span {
    color: #0b9ac9;
    letter-spacing: 1px;
    background-color: rgba(9, 169, 221, 0.1);
    margin-left: 4px;
    padding: 1px 6px;
    font-size: 9px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
  }
}

.mybag-card-drop {
  position: relative;

  &:hover {
    & > div:last-child {
      display: block;
    }
  }

  & > div:first-child {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    display: flex;
    background-image: url('data:image/svg+xml,<svg width="13" height="3" viewBox="0 0 13 3" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="1.5" cy="1.5" r="1.5" fill="currentColor"></circle><circle cx="6.5" cy="1.5" r="1.5" fill="currentColor"></circle><circle cx="11.5" cy="1.5" r="1.5" fill="currentColor"></circle></svg>');
    background-size: 13px 13px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  & > div:last-child {
    z-index: 4;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    @include maxWidthMd {
      left: auto;
      right: 0;
      transform: none;
    }

    & > div {
      background-color: #fff;
      border-radius: 0.4rem;
      flex-flow: column;
      min-height: 40px;
      display: flex;
      overflow: hidden;
      box-shadow: 0 6px 36px rgba(23, 28, 41, 0.1);

      @include maxWidthMd {
        box-shadow: 0 6px 28px rgba(168, 173, 187, 0.6);
      }

      & > button,
      & > a {
        cursor: pointer;
        width: 140px;
        padding: 8px 12px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        text-align: left;

        &:hover {
          background-color: #e0e2e9;
        }

        @include maxWidthMd {
          width: 190px;
        }
      }
    }
  }
}
