.contact-title {
  max-width: 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;

  span {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
  }
}

.contact-container {
  background-color: #fff;
  padding-top: 68px;
  padding-bottom: 68px;
}

.contact-container.dark_bg {
  background-color: #f6f8fa;
}

.contact-content {
  min-height: 100vh;
  background-color: #fff;
}

.contact-card__details {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.contact__main-btn {
  height: 46px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #08111f;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 12px;
  font-weight: 600;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.contact__main-btn:hover {
  background-color: #1d232e;
  box-shadow: 0 6px 18px rgba(8, 17, 31, .2);
}

.contact-card {
  min-height: 100px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  border: 1px solid #e7ecee;
  justify-content: space-between;
  align-items: stretch;
  padding: 26px;
  transition: all .25s cubic-bezier(.39, .575, .565, 1);
  display: flex;

  svg {
    width: 24px;
    height: 24px;
  }

  a {
    letter-spacing: 1px;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;

    span {
      max-width: 240px;
      margin-top: 6px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      display: block;
    }
  }
}

.contact-card:hover {
  z-index: 1;
  border-color: rgba(231, 236, 238, 0);
  position: relative;
  box-shadow: 0 16px 38px rgba(8, 17, 31, .08);
}

.contact__grid {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.contact__location-wrap {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.contact__title-group {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact__form-wrap {
  width: 100%;
  max-width: 420px;
  flex-direction: column;
  display: flex;

  form {
    flex-direction: column;
    align-items: center;
    display: flex;

    input:not([type="submit"]) {
      width: 100%;
      margin-bottom: 10px;
      background-color: white;
      padding: 8px 12px;
      height: 46px;
      border: 1px solid #dde1e5;
      transition: all .2s cubic-bezier(.39, .575, .565, 1);

      &:hover {
        border-color: #0095c6;
      }

      &:focus {
        background-color: #fff;
        border-color: #0095c6;
        box-shadow: 0 0 0 3px rgba(0, 149, 198, .07);
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .contact__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .contact-card {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}

@media screen and (max-width: 479px) {
  .contact-container {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .contact__grid {
    grid-template-columns: 1fr;
  }
}