.custom-page__media {
  width: 50%;
  flex-direction: column;
  flex: none;
  display: flex;

  img {
    width: 100%;

    @include maxWidthXs {
      object-fit: cover;
    }
  }
}

.custom-page__sub-typo {
  background-color: #f5f8fa;
  padding: 20px;
  font-size: 16px;
  line-height: 22px;
}

.custom-page__t1 {
  min-height: 140px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-around;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 86px;
  display: flex;

  img {
    width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    flex: none;

    @include maxWidthSm {
      width: 42%;
    }

    @include maxWidthXs {
      width: 100%;
      order: -1;
    }
  }
}

.custom-page__social-btn {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-bottom: 6px solid #f5f8fa;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 600;
  display: flex;
}

.custom-page__taper {
  width: 50%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #f5f8fa;
  flex-direction: column;
  flex: none;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  overflow: hidden;

  img {
    width: 13vw;
    height: 13vw;
    min-width: 190px;
    min-height: 190px;

    @include maxWidthXs {
      width: 48vw;
      height: 48vw;
    }
  }

  &>div {
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: flex;

    &:first-child {
      justify-content: flex-end;
    }
  }
}

.taper-1,
.taper-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: none;
  align-items: center;
  display: flex;
}

.custom-page__item-name {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.custom-page__ship-badge {
  color: #0782aa;
  letter-spacing: .4px;
  text-transform: uppercase;
  background-color: rgba(0, 149, 198, .08);
  border: 1px dashed #0095c6;
  border-radius: 6px;
  padding: 6px 16px;
  font-size: 11px;
  font-weight: 700;
}

.custom-page__gallery-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 0;
  display: grid;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    &.mobile_only {
      display: none;

      @include maxWidthXs {
        display: block;
        max-height: none;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

.custom-page__t2-details {
  z-index: 1;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 86px;
  display: flex;
  position: relative;
  box-shadow: 24px 0 48px rgba(23, 28, 41, .15);

  @include maxWidthMd {
    border-top: 6px solid #f5f8fa;
  }
}

.custom-page__main {
  min-height: 100vh;
  border-top: 6px solid #f5f8fa;
  border-bottom: 6px solid #f5f8fa;
  display: flex;
}

.custom-page__details {
  z-index: 2;
  position: relative;
}

.custom-page__item-include {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;

  @include maxWidthXs {
    font-size: 11px;
  }
}

.custom-page__sticky {
  width: 100%;
  max-width: 400px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 38vh;

  &>div {
    width: 100%;

    @include maxWidthMd {
      display: none;
    }
  }
}

.custom-page__item-price {
  font-size: 20px;
  font-weight: 600;

  @include maxWidthMd {
    display: none;
  }
}

.custom-page__t2-typo {
  margin-top: 12px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

.custom-page__t1-content {
  max-width: 40%;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  text-align: center;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.custom-page__main-typo {
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;

  span {
    color: #0095c6;
  }
}

.custom-page__sticky-holder {
  background-color: #fff;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-top: 8vw;
  padding-bottom: 8vw;
  padding-left: 8vw;
  padding-right: 8vw;
}

.custom-page__t2 {
  border-top: 6px solid #f5f8fa;
  display: flex;
  overflow: hidden;

  .custom-page__note {
    max-width: 320px;
    margin-top: 8px;
  }
}

.custom-page__btn {
  width: 100%;
  max-width: 320px;
  color: #fff;
  letter-spacing: .4px;
  text-transform: uppercase;
  background-color: #08111f;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  font-weight: 700;
  display: flex;
}

.custom-page__note {
  font-style: italic;

  span {
    font-weight: 600;
  }
}

@media screen and (min-width: 1440px) {

  .custom-page__t1-content {
    max-width: 500px;
  }

  .custom-page__sticky-holder {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (min-width: 1920px) {

  .custom-page__sticky-holder {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media screen and (max-width: 991px) {

  .custom-page__ship-badge {
    display: none;
  }

  .custom-page__main {
    border-top-style: none;
    flex-direction: column;
  }

  .custom-page {
    flex-direction: column;
  }

  .custom-page__sticky {
    max-width: none;
    position: static;
  }

  .custom-page__media {
    width: 100%;
  }

  .custom-page__sticky-holder {
    z-index: 1;
    padding: 34px 18vw;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    box-shadow: 0 -18px 24px rgba(23, 28, 41, .03);
  }
}

@media screen and (max-width: 767px) {
  .custom-page__taper {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .custom-page__gallery-grid {
    grid-template-columns: 1fr 1fr;
  }

  .custom-page__t2-details {
    min-height: 120px;
    box-shadow: none;
    flex: 1;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .cstemp6.mobile_only {
    max-height: 240px;
    aspect-ratio: auto;
    display: block;
  }

  .custom-page__t1-content {
    max-width: 50%;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }

  .custom-page__sticky-holder {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .custom-page__t2 {
    border-bottom-style: none;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .custom-page__sub-typo {
    margin-bottom: 14px;
  }

  .custom-page__t1 {
    grid-column-gap: 38px;
    grid-row-gap: 38px;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 58px;
  }

  .custom-page__item-name {
    margin-bottom: -6px;
    font-size: 24px;
    line-height: 30px;
  }

  .custom-page__t2-details {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .custom-page__t1-content {
    max-width: none;
    text-align: left;
    align-items: flex-start;
  }

  .custom-page__sticky-holder {
    padding: 24px;
  }

  .custom-page__btn {
    max-width: none;
  }
}

.custom-page__gallery-grid img {
  grid-area: span 1 / span 1 / span 1 / span 1;

  @include maxWidthSm {

    &:not(:first-child),
    &:not(:last-child) {
      order: 9999;
      grid-area: span 1 / span 2 / span 1 / span 2;
    }
  }

  @include maxWidthXs {
    &:nth-child(3),
    &:nth-child(4) {
      order: 9999;
      grid-area: span 1 / span 1 / span 1 / span 1;
    }
  }
}

.taper-1 {
  animation: customTaper1 38s linear infinite;
}

@keyframes customTaper1 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.taper-2 {
  animation: customTaper2 38s linear infinite;
}

@keyframes customTaper2 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}