.main_formpage {
  background-color: #f5f7fa;
  min-height: 100vh;
}

.formpage__header {
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 28px 32px;
  display: flex;
  border-bottom: 8px solid #f5f7fa;
  gap: 8px;

  @include maxWidthXs {
    flex-direction: column;
  }

  h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;

    @include maxWidthXs {
      margin-top: 12px;
    }
  }
}

.formpage__logo {
  width: 158px;
  justify-content: center;
  align-items: center;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;

  img {
    width: 100%;
  }
}

.formpage__form-wrap {
  min-height: 60vh;
  background-color: #fff;
  // border-radius: 12px;
  margin-bottom: 0;
  padding: 34px;
  // box-shadow: 0 16px 98px rgba(23, 28, 41, .08);
}

.formpage__form {
  grid-column-gap: 28px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  align-items: flex-start;
  display: flex;

  &.form__add-watches {
    .formpage__upload-label {
      min-height: 320px;
      border-width: 1px !important;
      border-radius: 0px !important;
    }

    .formpage__submit-wrap {
      button {
        border-radius: 0px;
      }
    }

    .formpage__upload {
      flex-direction: column;
    }

    .formpage__upload-bg {
      width: 112px;
      height: 112px;
      background-size: cover;
    }
  }
}

.formpage__upload-disclaimer {
  div {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }
}

.formpage__submit-wrap {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  display: flex;

  button {
    width: 100%;
    height: 46px;
    max-width: 240px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #0779cb;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);
    display: flex;
    box-shadow: 0 12px 28px rgba(7, 121, 203, .33);

    &:hover {
      background-color: #258fdb;
      box-shadow: 0 12px 28px 8px rgba(7, 121, 203, .33);
    }
  }
}

.formpage__wrapper {
  width: 100%;
  max-width: 1120px;
  // grid-column-gap: 58px;
  // grid-row-gap: 58px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  // padding-top: 58px;
  padding-bottom: 58px;
  display: flex;
}

.formpage__input-box {
  min-width: 30%;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  flex: 1;
  display: flex;
  position: relative;

  &.--half_width {
    min-width: 48%;

    &>div:not([class]) {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }

  &.--full_width {
    width: 100%;
    flex: 0 auto;
  }

  &.--boxes {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &>label,
  &>div>label {
    align-items: center;
    margin-bottom: 0;
    padding-right: 6px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;

    &>span {
      font-size: 12px;
      opacity: .6;
    }
  }
}

.formpage__input-boxes {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;

  &>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
  }

  input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:focus+label::before {
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
    }

    &:not(:disabled):not(:checked)+label:hover::before {
      border-color: #0779cb;
    }

    &:checked+label::before {
      border-color: #0779cb;
      background-color: #0779cb;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      font-weight: 600;

      &::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #dce1e7;
        border-radius: 9px;
        margin-right: 6px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }
  }
}

.formpage__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.formpage__upload-bg {
  width: 64px;
  height: 64px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  cursor: pointer;
}

.formpage__upload-close {
  width: 20px;
  height: 20px;
  // border-radius: 50%;
  background-color: #171c29;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    margin-top: 1px;
    content: '\2716';
    font-size: 12px;
    color: white;
  }
}

.formpage__upload-label {
  padding: 12px 28px;
  min-width: 180px;
  text-align: center;
  width: 100%;
  // white-space: nowrap;
  height: 64px;
  // max-width: 240px;
  box-shadow: none;
  color: #0779cb;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(7, 121, 203, .03);
  border: 1.5px dashed #0779cb;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;

  &.is-active {
    opacity: 0.4;
  }

  p {
    width: 100%;
    text-align: center;
  }

  input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
  }
}

.formpage__images-thumbnails {
  padding-top: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;

  img {
    width: 80px;
    height: 80px;
  }
}

textarea {
  &.formpage__input {
    min-height: 72px;
    padding: 14px;
    background-color: #fff;
    cursor: unset !important;
    outline: none !important;
  }
}

.formpage__input {
  width: 100%;
  height: 42px;
  border: 1px solid #dce1e7;
  border-radius: 10px;
  margin-bottom: 0;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  padding: 8px 12px;
  cursor: pointer;

  // &#image_upload {
  //   display: none;
  // }

  &.--textarea {
    min-height: 72px;
    padding: 14px;
    background-color: #f5f8fa;

    &:focus {
      background-color: white;
    }
  }

  &:hover {
    border-color: #0779cb;
  }

  &:active {
    opacity: .35;
    border-color: #1d303d;
  }

  &:focus {
    background-color: rgba(7, 121, 203, .03);
    border-color: #0779cb;
    box-shadow: 0 0 0 2px rgba(7, 121, 203, .18);
  }

  &::-ms-input-placeholder {
    color: #a1a8b4;
  }

  &::placeholder {
    color: #a1a8b4;
  }
}


.formpage__input-wrap {
  position: relative;

  &.--dropdown {
    select {
      cursor: pointer !important;
      // font-weight: 600;
    }

    &::after {
      content: '';
      position: absolute;
      right: 14px;
      top: calc(50% - 1.5px);
      transform: translateY(-50%) rotate(-45deg);
      width: 7px;
      height: 7px;
      border-left: 1.5px solid black;
      border-bottom: 1.5px solid black;
    }
  }
}

@media screen and (max-width: 767px) {
  .formpage__wrapper {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media screen and (max-width: 479px) {
  .formpage__form-wrap {
    padding: 18px;
  }

  .formpage__form {
    flex-direction: column;
  }

  .formpage__input-box {
    width: 100%;
  }
}

.formpage-zoom {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &>div {
    &:first-child {
      background-color: rgba(23, 28, 41, 0.65);
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 10px;
        width: 38px;
        height: 38px;
        border-radius: 12px;
        background-color: #171c29d7;
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L23 23" stroke="white" stroke-width="2"/><path d="M23 1L1 23" stroke="white" stroke-width="3"/></svg>');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 38% 38%;
        cursor: pointer;
      }
    }

    &:not(:first-child) {
      width: 50vw;
      height: 50vw;
      max-width: 720px;
      max-height: 720px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translateX(-50%) translateY(-50%);

      @include maxWidthXs {
        width: 96vw;
        height: 96vw;
      }
    }
  }
}

.formpage__form-header {
  padding: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eef1f5;

  button {

    padding: 12px 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #0779cb;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    display: flex;
    box-shadow: 0 12px 28px rgba(7, 121, 203, 0.33);

    &:hover {
      background-color: #258fdb;
      box-shadow: 0 12px 28px 8px rgba(7, 121, 203, 0.05);
    }
  }

  h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;

    span {
      display: block;
      text-transform: none;
      letter-spacing: 0px;
      font-weight: 400;
      opacity: .6;
      font-size: 16px;
      line-height: 16px;
      margin-top: 8px;
    }
  }

  @include maxWidthMd {
    button {
      display: none;
    }
  }

  @include maxWidthXs {
    padding: 24px;

    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
    }
  }
}

.main_print-tag {
  background-color: #f5f7fa;

  .formpage__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 146px;
    }
  }

  .formpage__form {
    padding: 38px;

    @include maxWidthXs {
      padding: 24px;
    }
  }

  .formpage__header {
    border: none;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 16px 28px rgba(16, 37, 92, .03);
  }

  .formpage__wrapper {
    max-width: 1000px;
    gap: 12px;
  }

  .formpage__form-wrap {
    border-radius: 16px;
    box-shadow: 0 16px 28px rgba(16, 37, 92, .03);
    padding: 0px;
  }

  @include maxWidthXs {
    .formpage__input[type="text"] {
      &::placeholder {
        color: transparent
      }
    }

    .formpage__input-box {
      &>label {
        width: 100%;
        white-space: nowrap;
        pointer-events: none;
        transition: all 250ms ease;
        position: absolute;
        left: 14px;
        opacity: .5;
      }
    }
  }

  .formpage__dbl {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 48px;

    @include maxWidthMd {
      flex-direction: column;
    }
  }

  .formpage__print-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;

    @include maxWidthMd {
      width: 100%;
    }

    .formpage__input-box {
      display: flex;
      gap: 6px;
      flex-direction: row;
      align-items: center;

      label:not(.formpage__upload-label) {
        width: 20%;
      }

      .formpage__input-wrap {
        flex: 1;
      }
    }
  }

  .formpage__tag-preview {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
    max-width: 360px;

    @include maxWidthMd {
      max-width: unset;
      width: 100%;
    }

    h4 {
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .tag-preview__pic {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    &.is-empty {
      border-color: #f7f9fc;
      background-color: #f7f9fc;

      &::after {
        content: 'Fill P# or Upload Image';
        font-size: 12px;
        font-weight: 600;
        color: #748190;
      }
    }
  }

  .tag-preview__output {
    &.is-empty {
      height: 64px;
      justify-content: center;
      align-items: center;
      display: flex;
      text-align: center;
      background-color: #f7f9fc;

      &::after {
        font-size: 12px;
        font-weight: 600;
        content: 'Fill in the fields to show tag preview';
        color: #748190;
      }
    }

    &:not(.is-empty) {
      display: flex;
      flex-flow: wrap;
    }
  }

  .tag-output-row {
    border: 1px solid #dfe5ec;
    flex-flow: column;
    flex: 40%;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 30%;
    margin-bottom: -1px;
    margin-right: -1px;
    padding: 4px 10px;
    display: block;
    overflow: hidden;

    &>span {
      width: 50%;
      align-items: center;
      display: flex;

      &:first-child {
        color: #868d96;
        flex: none;
        align-items: center;
        width: 100%;
        margin-bottom: -1px;
        padding: 0;
        font-size: 10px;
        font-weight: 600;
        line-height: 18px;
        display: flex;
      }

      &:last-child {
        flex-direction: row;
        align-items: center;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
        display: flex;
      }
    }
  }
}

.print-tag__controls {
  z-index: 12;
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fff;
  margin-top: 0;
  padding: 8px;
  display: flex;
  box-shadow: 0 -12px 22px rgba(217, 220, 226, .7);

  button {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #3da1e9;
    color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    box-shadow: 0 12px 28px rgba(7, 121, 203, .2);

    &:last-child {
      background-color: #0779cb;
    }
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.tag-preview-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;

  .tag-output-row {
    border-radius: 0px !important;
  }

  div.is-empty,
  .tag-preview__pic {
    border-radius: 0px !important;
  }

  .formpage__tag-preview {
    max-width: none;

    >h4 {
      display: none;
    }
  }
}

.tag-preview-modal__backdrop {
  background-color: rgba(24, 27, 34, .5);
  transition: all .45s cubic-bezier(.39, .575, .565, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.tag-preview-modal__container {
  width: clamp(250px, 92%, 479px);
  height: 100%;
  max-height: 80vh;
  background-color: #fff;
  border-radius: 0px;
  padding-top: 20px;
  transition: all .45s cubic-bezier(.39, .575, .565, 1);
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 58px rgba(23, 28, 41, .2);
}

.tag-preview-modal__wrapper {
  padding: 24px 24px 68px 24px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tag-preview-modal__controls {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #0779cb;

  >button {
    height: 42px;
    text-align: center;
    color: white;
    flex: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;

    &:last-child {
      background-color: #f5f7fa;
      color: black;
    }
  }
}

.printable-tag {
  display: flex;
  flex-direction: column;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  aspect-ratio: 1 / 1.58;
  border: 1px dashed #dfe5ec;
  padding: 20px 10px 10px;
  overflow: hidden;
}

.tag-preview__pic-wrap {
  position: relative;
  aspect-ratio: 16 / 9;
  flex: none;

  &::after {
    content: '';
    opacity: .05;
    z-index: 2;
    background-image: linear-gradient(326deg, #03244d 13%, #e4f2ff 56%, #1c2c3c);
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }
}

.printable-tag__logo {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 10px;
  flex: none;
}

.formpage__form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}