.tabs-wrapper {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 18px;

  .home-row__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    line-height: 32px;

    span {
      margin-right: unset;
      margin-left: unset;

      @include maxWidthXs {
        margin-top: 6px;
      }
    }
  }

  .wrapper:last-child {
    @include maxWidthXs {
      padding: 0;
    }
  }
}

.categories-tabs {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;

  @include maxWidthXs {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
  }

  span {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
    text-decoration: none;
    position: static;

    @include maxWidthXs {
      padding-top: 14px !important;
      padding-bottom: 4px !important;
    }
  }

  img {
    // mix-blend-mode: darken;
    position: relative;
    width: 100%;

    @include maxWidthXs {
      width: 100%;
    }
  }

  a {
    max-width: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    transition: all .25s cubic-bezier(.39, .575, .565, 1);
    display: flex;
    position: relative;

    @include maxWidthSm {
      min-width: 30%;
    }

    @include maxWidthXs {
      min-width: 45%;
      max-width: none;
    }
  }

  a:hover {
    background-color: #fff;
    border-color: #0095c6;
  }

  @include maxWidthMd {
    .categories-tabs {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  }

  @include maxWidthXs {
    & a:hover {
      border-color: #f9f9f9;
    }
  }

  @include maxWidthXs {
    .categories-tabs {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 10px;
    }

    span {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root_loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(9, 11, 13, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: 'MOMENT...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% + 46px));
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;

  }

  &::before {
    content: '';
    display: block;
    --bg: no-repeat linear-gradient(#ffffff 0 0);
    background:
      var(--bg), var(--bg), var(--bg),
      var(--bg), var(--bg), var(--bg),
      var(--bg), var(--bg), var(--bg);
    background-size: 6px 6px;
    animation:
      rootLoaderAnimation1 1.4s infinite,
      rootLoaderAnimation2 1.4s infinite;
  }
}

@keyframes rootLoaderAnimation1 {

  0%,
  100% {
    width: 20px;
    height: 20px;
  }

  35%,
  65% {
    width: 36px;
    height: 36px;
  }
}

@keyframes rootLoaderAnimation2 {

  0%,
  40% {
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%
  }

  60%,
  100% {
    background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%
  }
}

form button {
  &.is-successful {
    background-color: #08ac96;
    border-color: #08ac96;
  }

  &.is-failed {
    background-color: #ac2f36;
    border-color: #ac2f36;
  }
}