.tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 18px;
  padding-top: 72px;
  padding-bottom: 86px;

  @include maxWidthXs {
    padding-top: 52px;
    padding-bottom: 76px;
  }

  .home-row__heading {
    text-align: center;

    span {
      margin-top: 8px;
    }
  }

  .wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
  }

  .home-row-btn {
    margin-top: 14px;
    margin-bottom: 6px;
  }
}

strong,
b {
  font-weight: 600;
}

.categories-tabs {
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: grid;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    gap: 10px;
    position: relative;

    &>div {
      aspect-ratio: 1/1;
      width: 100%;
      border-radius: .4rem;
      position: relative;
      overflow: hidden;
      height: auto !important;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        position: absolute;
        inset: 0%;
        background-color: #131317;
        z-index: 1;
        transition: all 200ms ease;
        opacity: 0;
        pointer-events: none;
      }

      &:hover {
        &::before {
          opacity: .15;
        }
      }

      img {
        cursor: pointer;
        object-fit: cover;
        border-radius: .4rem;
        width: 100%;
        height: 100%;
        transition: all .2s;
        display: block;
        overflow: hidden;
      }
    }
  }

  @include maxWidthSm {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include maxWidthXs {
    grid-column-gap: 8px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root_loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(9, 11, 13, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: 'LOADING...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% + 46px));
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;

  }

  &::before {
    content: '';
    display: block;
    --bg: no-repeat linear-gradient(#ffffff 0 0);
    background:
      var(--bg), var(--bg), var(--bg),
      var(--bg), var(--bg), var(--bg),
      var(--bg), var(--bg), var(--bg);
    background-size: 6px 6px;
    animation:
      rootLoaderAnimation1 1.4s infinite,
      rootLoaderAnimation2 1.4s infinite;
  }
}

@keyframes rootLoaderAnimation1 {

  0%,
  100% {
    width: 20px;
    height: 20px;
  }

  35%,
  65% {
    width: 36px;
    height: 36px;
  }
}

@keyframes rootLoaderAnimation2 {

  0%,
  40% {
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%
  }

  60%,
  100% {
    background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%
  }
}

form button {
  &.is-successful {
    background-color: #08ac96;
    border-color: #08ac96;
  }

  &.is-failed {
    background-color: #ac2f36;
    border-color: #ac2f36;
  }
}

.mail-modal {
  display: none;
  z-index: 1200;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  --side-padding: 46px;

  @include maxWidthXs {
    --side-padding: 20px;
  }

  &.--active {
    .mail-modal__container {
      transform: translateY(calc(-50%)) translateX(-50%);
      opacity: 1;

      @include maxWidthXs {
        transform: translateY(0%);
      }
    }

    .mail-modal__backdrop {
      opacity: 1;
    }
  }
}

.mail-modal__backdrop {
  background-color: rgba(10, 12, 19, 0.3);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  pointer-events: auto;
  transition: all 200ms ease;
  opacity: 0;
}

.mail-modal__wrapper {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  pointer-events: none;
}

.mail-modal__container {
  pointer-events: auto;
  width: 100%;
  max-height: 80vh;
  max-width: 480px;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: var(--side-padding);
  position: absolute;
  box-shadow: 0 6px 14px rgba(23, 28, 41, .1);
  transition: all 350ms ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(calc(-50% + 48px)) translateX(-50%);

  @include maxWidthXs {
    width: auto;
    left: 8px;
    bottom: 8px;
    right: 8px;
    top: auto;
    transform: translateY(100%);
    padding-bottom: 20px !important;
    padding-top: 42px !important;
  }

  @include maxWidthXs {
    padding: 52px 24px;
  }
}

.mail-modal-wrap {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  pointer-events: auto;
}

.mail-modal__label {
  display: none;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 600;
}

.mail-modal__subtitle {
  text-align: center;
  line-height: 22px;
}

.mail-modal__controls-wrap {
  width: 100%;
  margin-top: 16px;
}

.mail-modal__form-controls {
  margin-top: 18px;
  margin-bottom: 0;
  position: relative;
}

.mail-modal__form-submit {
  color: #fff;
  cursor: pointer;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .2s var(--cubic);
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 50px;

  @include maxWidthXs {
    border-radius: .4rem;
  }
}

.mail-modal__form-submit:hover {
  background-color: #16a9dd;
}

.mail-modal__form-wrap {
  margin-bottom: 0;
}

.mail-modal__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.mail-modal-close {
  z-index: 2;
  width: 42px;
  height: 42px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 15px;
  transition: all .2s var(--cubic);
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;

  path {
    stroke-width: 3px;
  }

  &:hover {
    opacity: .5;
  }
}

.mail-modal-close:hover {
  color: #171c25;
}

.mail-modal__input {
  width: 100%;
  height: 48px;
  padding: 8px 14px;
  // background-color: #f5f8fa;
  border: 1px solid #ccd2d8;
  border-radius: .3rem;
  margin-bottom: 0;
  transition: all .2s var(--cubic);
}

.mail-modal__input:hover {
  background-color: #fff;
  border-color: #0995c6;
}

.mail-modal__input:focus {
  border-color: var(--blue);
}

.mail-modal__input::-ms-input-placeholder {
  color: #83888e;
}

.mail-modal__input::placeholder {
  color: #83888e;
}

.content-preloader {
  width: 100%;
  height: 74px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  display: flex;
  position: relative;
  pointer-events: none;

  span {
    position: relative;
    margin: auto;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0);
    -webkit-animation: preloaderSpinner 1s linear infinite;
    animation: preloaderSpinner 1s linear infinite;
    display: block;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-backface-visibility: none;
    backface-visibility: none;

    &::after,
    &::before {
      content: "";
      position: absolute;
      margin: 0;
      border: 2px solid transparent;
      left: 0;
      top: 0;
      display: block;
      padding: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      box-sizing: border-box;
      -webkit-backface-visibility: none;
      backface-visibility: none;
    }

    &::after {
      border-right-color: #131317;
      -webkit-animation: preloaderSpinner 2s linear 0.6s infinite;
      animation: preloaderSpinner 2s linear 0.6s infinite;
    }

    &::before {
      border-top-color: #131317;
      -webkit-animation: preloaderSpinner 2s linear infinite;
      animation: preloaderSpinner 2s linear infinite;
    }
  }
}

@-webkit-keyframes preloaderSpinner {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloaderSpinner {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.unedited_tag {
  position: absolute !important;
  bottom: 0px !important;
  right: 0px !important;
  background: rgb(206, 20, 20) !important;
  color: #fff !important;
  padding: 2px 6px !important;
  display: flex !important;
  justify-content: center !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  letter-spacing: 0.4px !important;
  align-items: center !important;
  text-align: center !important;
  z-index: 3 !important;
}

.green_tag {
  background-color: #08b17b !important;
}

/* #region Page Reviews */

.page-reviews {
  background-color: var(--light-blue);
  border-radius: 0;
  width: 100vw;
  margin-bottom: 72px;
  padding-top: 72px;
  padding-bottom: 72px;
  overflow: hidden;

  h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 28px;
  }

  .page-reviews__splide-arrow {
    background-color: white;
    border-color: white;
  }
}

.page-review {
  border-radius: 0.4rem;
  flex: none;
  padding: 34px 46px;
  transition: all .2s var(--cubic);
  position: relative;
  background-color: #fff;

  h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }

  @include maxWidthSm {
    padding: 20px;

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      line-clamp: 10;
      -webkit-box-orient: vertical;
    }
  }
}

.page-reviews__splide {
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   z-index: 4;
  //   height: 100%;
  //   top: 0;
  //   bottom: 0;
  //   right: 0;
  //   width: 80px;
  //   background-image: linear-gradient(270deg, #fff 20%, rgba(255, 255, 255, 0));
  //   pointer-events: none;
  // }
}

.page-reviews__splide-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .splide__pagination {
    position: static;
    left: 0;
    bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 6px;

    button {
      background: #ccd1d7;
      border-radius: 50px;
      width: 7px;
      height: 7px;
      opacity: 1 !important;
      margin: 0;

      &.is-active {
        background: var(--black);
        transform: none !important;
      }
    }
  }

  .splide__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: auto;
  }
}

.page-reviews__main {
  .wrapper {
    padding-right: 0px;
  }
}

.page-reviews__header {
  margin-bottom: 14px;
}

.page-reviews__footer {
  margin-top: 32px;
}

.page-review__rating {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;

  &>span {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding-top: 2px;
  }

  @include maxWidthSm {
    margin-bottom: 18px;
  }
}

.page-review__footer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 18px;

  span {
    font-size: 12px;
    font-weight: 600;
    opacity: .65;
  }
}

.five-star-box {
  height: 22px;
  width: 100px;
  background-image: url('data:image/svg+xml,<svg width="131" height="22" viewBox="0 0 131 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.8255 0L15.3522 7.1459L23.2382 8.2918L17.5319 13.8541L18.8789 21.7082L11.8255 18L4.7721 21.7082L6.11918 13.8541L0.412842 8.2918L8.29881 7.1459L11.8255 0Z" fill="%23FFC148"/><path d="M119.413 0L122.939 7.1459L130.825 8.2918L125.119 13.8541L126.466 21.7082L119.413 18L112.359 21.7082L113.706 13.8541L108 8.2918L115.886 7.1459L119.413 0Z" fill="%23FFC148"/><path d="M65.4764 0L69.0031 7.1459L76.8891 8.2918L71.1827 13.8541L72.5298 21.7082L65.4764 18L58.423 21.7082L59.7701 13.8541L54.0637 8.2918L61.9497 7.1459L65.4764 0Z" fill="%23FFC148"/><path d="M38.651 0L42.1777 7.1459L50.0636 8.2918L44.3573 13.8541L45.7044 21.7082L38.651 18L31.5975 21.7082L32.9446 13.8541L27.2383 8.2918L35.1242 7.1459L38.651 0Z" fill="%23FFC148"/><path d="M92.3018 0L95.8285 7.1459L103.715 8.2918L98.0082 13.8541L99.3553 21.7082L92.3018 18L85.2484 21.7082L86.5955 13.8541L80.8892 8.2918L88.7751 7.1459L92.3018 0Z" fill="%23FFC148"/></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left center;
}

/* #endregion : Page Reviews */

.wa-float {
  z-index: 10;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.wa-float__wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  cursor: pointer;
  background-color: var(--green);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  transition: all .2s;
  display: flex;

  &::after {
    content: '';
    width: 90px;
    height: 400px;
    opacity: .7;
    background-image: linear-gradient(90deg, rgba(30, 199, 92, 0), rgba(255, 255, 255, .45) 50%, rgba(30, 199, 92, 0));
    transition: all .95s var(--cubic);
    position: absolute;
    left: -80%;
    transform: rotate(-45deg);
    animation: waSlide 3s infinite var(--cubic);
  }
}

@keyframes waSlide {
  0% {
    left: -80%;
  }

  25% {
    left: 180%;
  }

  45% {
    left: -80%;
  }

  100% {
    left: -80%;
  }
}

.wa-float__live {
  z-index: 2;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  color: #0e8f3d;
  background-color: #d2f1de;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 6px;
  font-size: 8px;
  font-weight: 700;
  line-height: 11px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
  overflow: hidden;
  transform: translate(0);

  &>span {
    &:nth-child(1) {
      width: 6px;
      height: 6px;
      background-color: #1ec75c;
      border-radius: 50px;
    }
  }
}

.wa-float__wrapper:hover {
  background-color: #39b19d;
}

.wa-float__icons {
  width: 36px;
  height: 42px;
  flex-flow: column;
  display: flex;
  position: relative;
  overflow: hidden;
}

.wa-float__dots {
  width: 100%;
  height: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: -42px;
  padding-top: 4px;
  transition: all .4s var(--cubic);
  display: flex;
}

.wa-float__pic-wrap {
  width: 100%;
  height: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wa-float__pic {
  width: 24px;
  height: 24px;
  transition: all .2s var(--cubic);
  display: block;
  transform: perspective(200px);
}

.wa-float__text-pic {
  width: 80px;
  padding-top: 2px;
  display: block;
}

.wa-float__dots {
  animation: wa_dots 6s infinite var(--cubic);
}

@keyframes wa_dots {
  0% {
    margin-top: -42px;
  }

  40% {
    margin-top: -42px;
  }

  45% {
    margin-top: 0;
  }

  95% {
    margin-top: 0;
  }

  100% {
    margin-top: -42px;
  }
}

.wa-float__pic {
  animation: wa_rotate 3s infinite linear;
}

@keyframes wa_rotate {
  0% {
    transform: rotateY(0)
  }

  25% {
    transform: rotateY(25deg)
  }

  75% {
    transform: rotateY(-25deg)
  }

  100% {
    transform: rotateY(0)
  }
}

.typing-dots {
  width: 5px;
  height: 5px;
  position: relative;
}

.typing-dots div,
.typing-dots::before,
.typing-dots::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

.typing-dots::before {
  right: calc(100% + 3px);
  -webkit-animation: loading 0.9s infinite;
  animation: loading 0.9s infinite;
}

.typing-dots div {
  left: 0;
  -webkit-animation: loading 0.9s 0.15s infinite;
  animation: loading 0.9s 0.15s infinite;
}

.typing-dots::after {
  left: calc(100% + 4px);
  -webkit-animation: loading 0.9s 0.3s infinite;
  animation: loading 0.9s 0.3s infinite;
}

.typing-dots.-alt::before {
  right: calc(100% + 4px);
  -webkit-animation: loading2 0.8s infinite;
  animation: loading2 0.8s infinite;
}

.typing-dots.-alt div {
  left: 0;
  -webkit-animation: loading2 0.8s 0.15s infinite;
  animation: loading2 0.8s 0.15s infinite;
}

.typing-dots.-alt::after {
  left: calc(100% + 4px);
  -webkit-animation: loading2 0.8s 0.3s infinite;
  animation: loading2 0.8s 0.3s infinite;
}

.typing-dots.-alt2 {
  -webkit-animation: fadeOut 1.2s 1s forwards;
  animation: fadeOut 1.2s 1s forwards;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visbility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visbility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes loading {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes loading2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  50% {
    transform: translate3d(0, -4px, 0);
    opacity: 0.7;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes loading2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  50% {
    transform: translate3d(0, -4px, 0);
    opacity: 0.7;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

body {
  .pace .pace-progress {
    background: #04a7dd !important;
    opacity: 1 !important;
    height: 1.5px !important;
  }
}

/* #region  Custom checkbox */
.custom-radio {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  display: flex;

  &>input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+span::before {
      border-color: var(--blue);
      border-width: 7px;
    }
  }

  &>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    transition: all 200ms ease;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 6px;
      transition: all .2s var(--cubic);
      border: 2px solid #c5cedc;
      border-radius: 50%;
    }
  }
}

.custom-checkbox {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  display: flex;

  &.--col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &>span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      font-weight: 700;
      position: absolute;
      bottom: -9px;

      &::before {
        content: '';
        display: none;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        min-width: 18px;
        min-height: 18px;
        padding: 4px 8px;
        line-height: 10px;
        border-radius: 50px;
        margin: 0;
        background-color: #e4e7ee;
        border-color: #e4e7ee;
        color: #707887;
      }
    }

    img {
      order: -1;
    }

    &>input {
      &:checked+span {
        &::before {
          content: '';
          display: flex;
          border-color: #0bade3;
          background-color: #0bade3;
          color: white;
        }
      }

      &:checked {
        &~img {
          border-color: #0bade3 !important;
        }
      }
    }

    &>img {
      width: 98px;
      padding: 12px;
      border: 1px solid rgb(207, 217, 224);
      transition: all 200ms ease;

      &:hover {
        border-color: #0bade3;
      }
    }
  }

  &>input {
    position: absolute !important;
    z-index: -1 !important;
    opacity: 0 !important;

    &:checked+span::before {
      border-color: var(--blue);
      background-color: var(--blue);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &:disabled+span::before {
      background-color: #e9ecef;
    }
  }

  &>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    transition: all 200ms ease;

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #e2e6e9;
      background-color: #e2e6e9;
      border-radius: 4px;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      transition: all 200ms ease;
    }
  }
}

/* #endregion */

input.custom-range[type="range"] {
  -webkit-appearance: none !important;
  width: auto;
  flex: 1 auto;
  height: 10px;
  padding: 0;
  background-color: #dde4e7;
  border: 1px solid #dde4e7;
  border-radius: 50px;
  margin: auto;
  transition: all 0.3s ease;

  &::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background-color: #19adde;
    border: 1px solid #19adde;
    border-radius: 30px;
    transition: all 150ms ease;
    cursor: grab;

    &:hover {
      background-color: #08a6da;
    }

    &:active {
      background-color: #0c97c5;
      border-color: #0c97c5;
    }
  }

  &.--disabled {
    pointer-events: none;
    opacity: .7;
    background-color: #eaedf0;
    border: 1px solid #eaedf0;

    &::-webkit-slider-thumb {
      background-color: #959ba3;
      border: 1px solid #959ba3;
    }

    &~.flex_8 .custom-range__output {
      background-color: #959ba3;
      pointer-events: none;
    }
  }
}

.custom-range__output {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19adde;
  color: white;
  font-size: 12px;
  padding: 4px 7px;
  border-radius: 50px;
  line-height: 16px;
  width: 40px;
  font-weight: 700;
}

input.custom-range__output {
  width: 44px;
  text-align: center;
  padding: 5px 0;
}

.loan-input-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
  column-gap: 8px;

  label {
    display: block;
    width: 100%;
    font-weight: 600;
  }

  .flex_8 {
    margin-bottom: 12px;
    order: -1;
  }
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 18px;

  @include maxWidthSm {
    flex-direction: column;
    align-items: stretch;
  }
}

.select-wrap {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -2px;
    width: 6px;
    height: 6px;
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    transform: translateY(-50%) rotate(45deg);
  }
}

.ask-modal {
  z-index: 99999;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  &>div {
    &:first-child {
      background-color: rgba(13, 17, 26, .6);
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
    }

    &:last-child {
      z-index: 2;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      background-color: #fff;
      flex-flow: wrap;
      width: 100%;
      max-width: 480px;
      min-height: 90px;
      padding: 42px;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 12px 30px rgba(10, 13, 20, .19);

      @include maxWidthXs {
        max-width: 90%;
        padding: 24px;
      }

      h3,
      h4,
      h5 {
        text-transform: uppercase;
        width: 100%;
        padding-right: 20%;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;

        @include maxWidthXs {
          padding-right: 0%;
        }
      }

      p {
        line-height: 24px;
      }

      &>div {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        width: 100%;
        margin-top: 12px;
        display: flex;

        button {
          color: #fff;
          text-align: center;
          background-color: #171c29;
          flex: 1;
          justify-content: center;
          align-items: center;
          padding: 12px;
          font-weight: 600;
          display: flex;
          transition: all 250ms ease;

          &:not(:first-child) {
            &:hover {
              background-color: var(--blue-gold_hover);
              color: white;
            }
          }

          &:first-child {
            color: #4b5058;
            background-color: #edeff3;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.md-title {
  font-size: 16px;
  font-weight: 600;
}

.listing-set {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.listing-btn {
  cursor: pointer;
  border: 1px solid #dfe3e9;
  padding: 14px;
  transition: all .2s var(--cubic);
  user-select: none;
  font-weight: 600;

  &:hover {
    border-color: #079fd1;
  }

  &.is-active {
    border-color: #079fd1;
  }

  &:not(.--dsiabled):active {
    opacity: .6;
  }

  &.--disabled {
    color: #787c86;
    cursor: not-allowed;
    background-color: #f0f2f5;
    border-color: #f0f2f5;
    pointer-events: none;

    .listing-btn__wrapper {
      &>span {
        &:first-child {
          text-decoration: line-through;
        }
      }
    }
  }
}

.listing-btn__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 13px;

  &>span:last-child {
    opacity: .6;
    color: #202124;
  }
}

.confetti-holder {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
}

.confetti--animation-slow {
  animation: confetti-slow 3.5s linear 1 forwards;
}

.confetti--animation-medium {
  animation: confetti-medium 3s linear 1 forwards;
}

.confetti--animation-fast {
  animation: confetti-fast 2.4s linear 1 forwards;
}

@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(240deg);
  }
}

@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(140deg) rotateY(360deg);
  }
}

@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(30deg) rotateY(290deg);
  }
}

.flex_8 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  label {
    width: auto;
  }
}

.typo_up {
  letter-spacing: .6px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

.typo_dim {
  color: #8a949f;
}

.typo_xs {
  font-size: 12px;
  line-height: 18px;
}

.typo_link {
  font-size: 14px;
  font-weight: 700;
  color: #0685af;
  cursor: pointer;
}

/* #region  Custom Upload */
[data-custom-upload],
.custom-upload {
  position: relative;

  &>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }
}

.custom-upload {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.custom-upload__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 6px;
}

.custom-upload__files {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 12px;
}

.custom-upload__file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  row-gap: 6px;
  column-gap: 18px;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e8ecf2;
  border-bottom: 1px solid #e8ecf2;
  margin-bottom: -1px;
  transition: all 200ms ease;

  &:hover {
    border-color: var(--color-bright-blue);
    z-index: 2;
  }

  &>div {
    &:first-child {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;

      &>div {
        width: 40px;
        height: 40px;
        border: 1px solid #e3e8ee;
        border-radius: 8px;
        background-image: url('data:image/svg+xml,<svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7308 0H0V24H18.9231V8.19231L10.7308 0Z" fill="%23E5EAEF"/><path d="M18.923 8.19231L10.7307 0V8.19231H18.923Z" fill="%23CFD7E3"/></svg>');
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center;

        &.--filled {
          background-size: 100% !important;
        }
      }

      &>span {
        font-size: 12px;
        font-weight: 600;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;

        &::before {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          position: relative;
          top: -1px;
        }

        &::after {
          content: '...';
          display: inline-block;
          position: relative;
          top: -1px;
          left: -6px;
          width: 6px;
          text-align: right;
        }
      }
    }

    &:last-child {
      display: flex;
      align-items: center;
      gap: 6px;
      flex-wrap: wrap;

      *.--remove {
        width: 24px;
        height: 24px;
        border-radius: 6px;
        background-color: #f1f4f6;
        border: 1px solid #f1f4f6;
        background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L23 23" stroke="currentColor" stroke-width="4"></path><path d="M23 1L1 23" stroke="currentColor" stroke-width="4"></path></svg>');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 8px 8px;
        transition: all 200ms ease;
        cursor: pointer;
      }
    }
  }
}

.custom-upload__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 12px;
  border: 1.5px dashed #d3dae2;
  border-radius: 16px;
  padding: 52px 22px;
  min-height: 98px;
  transition: all 200ms ease;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  svg {
    * {
      transition: all 200ms ease;
    }
  }

  &.--active {
    border-color: var(--color-bright-blue);
    background-color: rgba(13, 176, 230, 0.03);
  }

  &:hover {
    border-color: var(--color-bright-blue);
    background-color: rgba(13, 176, 230, 0.03);

    svg {
      ellipse {
        fill: var(--color-bright-blue)
      }
    }
  }

  &:active {
    background-color: transparent;
  }
}

/* #endregion */

.flex_space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 18px;
  row-gap: 8px;
  flex-wrap: wrap;
  flex: 1;
}

/* #region  Rating bar */
.rating-bar {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  background-color: #ebf5fd;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;

  @include maxWidthXs {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

.rating-bar__heading {
  font-weight: 700;
  line-height: 24px;
}

.rating-bar__stars {
  width: 92px;
  height: 20px;
  margin-top: -2px;
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1L12.7812 6.59605L19 7.49342L14.5 11.8493L15.5623 18L10 15.0961L4.43769 18L5.5 11.8493L1 7.49342L7.21885 6.59605L10 1Z" fill="%23FBBC04"/></svg>');
  background-size: 18px 18px;
  background-position: center center;
}

.rating-bar__logo {
  width: 60px;
  height: 20px;
  margin-left: -3px;
  margin-bottom: -2px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 272 92" width="100%" height="100%"><path fill="%23EA4335" d="M115.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18C71.25 34.32 81.24 25 93.5 25s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44S80.99 39.2 80.99 47.18c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"></path><path fill="%23FBBC05" d="M163.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18c0-12.85 9.99-22.18 22.25-22.18s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44s-12.51 5.46-12.51 13.44c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"></path><path fill="%234285F4" d="M209.75 26.34v39.82c0 16.38-9.66 23.07-21.08 23.07-10.75 0-17.22-7.19-19.66-13.07l8.48-3.53c1.51 3.61 5.21 7.87 11.17 7.87 7.31 0 11.84-4.51 11.84-13v-3.19h-.34c-2.18 2.69-6.38 5.04-11.68 5.04-11.09 0-21.25-9.66-21.25-22.09 0-12.52 10.16-22.26 21.25-22.26 5.29 0 9.49 2.35 11.68 4.96h.34v-3.61h9.25zm-8.56 20.92c0-7.81-5.21-13.52-11.84-13.52-6.72 0-12.35 5.71-12.35 13.52 0 7.73 5.63 13.36 12.35 13.36 6.63 0 11.84-5.63 11.84-13.36z"></path><path fill="%2334A853" d="M225 3v65h-9.5V3h9.5z"></path><path fill="%23EA4335" d="M262.02 54.48l7.56 5.04c-2.44 3.61-8.32 9.83-18.48 9.83-12.6 0-22.01-9.74-22.01-22.18 0-13.19 9.49-22.18 20.92-22.18 11.51 0 17.14 9.16 18.98 14.11l1.01 2.52-29.65 12.28c2.27 4.45 5.8 6.72 10.75 6.72 4.96 0 8.4-2.44 10.92-6.14zm-23.27-7.98l19.82-8.23c-1.09-2.77-4.37-4.7-8.23-4.7-4.95 0-11.84 4.37-11.59 12.93z"></path><path fill="%234285F4" d="M35.29 41.41V32H67c.31 1.64.47 3.58.47 5.68 0 7.06-1.93 15.79-8.15 22.01-6.05 6.3-13.78 9.66-24.02 9.66C16.32 69.35.36 53.89.36 34.91.36 15.93 16.32.47 35.3.47c10.5 0 17.98 4.12 23.6 9.49l-6.64 6.64c-4.03-3.78-9.49-6.72-16.97-6.72-13.86 0-24.7 11.17-24.7 25.03 0 13.86 10.84 25.03 24.7 25.03 8.99 0 14.11-3.61 17.39-6.89 2.66-2.66 4.41-6.46 5.1-11.65l-22.49.01z"></path></svg>');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  @include maxWidthXs {
    margin-left: 0;
  }
}

.rating-bar__typo {
  text-align: center;
  font-size: 13px;

  @include maxWidthXs {
    display: none;
  }
}

/* #endregion */

.--flex_8 {
  display: flex;
  gap: 8px;
  align-items: center;
}

.page-backdrop {
  z-index: 101;
  opacity: 0;
  background-color: rgba(10, 12, 19, 0.7);
  transition: all 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.--half {
    background-color: rgba(10, 12, 19, 0.3);
  }
}

/* #region Sort Modal */
.sort-modal {
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: hidden;
  background-color: #fff;
  border-radius: .5rem;
  max-width: 479px;
  margin-left: auto;
  margin-right: auto;
  min-height: 90px;
  transform: translateY(calc(100% + 10px));
  transition: all .5s ease;
  display: none;

  &.--active {
    transform: translateY(0%);
  }
}

.sort-modal__scroll {
  flex-flow: column;
  width: 100%;
  height: 100%;
  max-height: 62vh;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sort-modal__scroll::-webkit-scrollbar {
  display: none;
}

.sort-modal__footer {
  z-index: 3;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sort-modal__btn {
  color: #fff;
  text-align: center;
  background-color: var(--black);
  border-radius: .4rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-weight: 600;
  display: flex;

  &.--sub {
    background-color: transparent;
    color: var(--black)
  }
}

.sort-modal-row {
  flex-flow: column;
  display: flex;
  position: relative;

  &.--active {
    .sort-modal-row__head {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.sort-modal-row__head {
  z-index: 2;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: #fff;
  border-bottom: 1px solid #f0f3fa;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  font-weight: 600;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  cursor: pointer;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7L12 18L23 7" stroke="currentColor" stroke-width="3"></path></svg>');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.sort-modal-row__body {
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
  position: relative;
  overflow: hidden;
  height: 0;
}

.sort-modal-row__content {
  background-color: white;
  border-bottom: 1px solid #edeff5;
  padding: 14px;

  .loose-select__dbl-input {
    padding: 0;
  }

  .loose-select__grid {
    padding: 0;
  }

  .loose-disclaimer {
    margin-top: 10px;
  }
}

/* #endregion */

.--bg_cross {
  background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L23 23" stroke="currentColor" stroke-width="3"></path><path d="M23 1L1 23" stroke="currentColor" stroke-width="3"></path></svg>');
  background-size: 12px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* #region Custom Fixed Header Table */
.s-table {
  width: 100%;
  table-layout: fixed;

  th {
    padding: 10px 12px;
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    background-color: #edeff5;
  }

  td {
    padding: 10px 12px;
    text-align: left;
    vertical-align: middle;
    font-size: 13px;
    border-bottom: 1px solid #ebecf5;
  }

  tr {
    td {
      border-right: 1px solid #ebecf5;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.s-table-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.s-table-content {
  max-height: 240px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-btn {
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(69deg, #bb364e, rgba(199, 74, 97, 0) 32%);
  border-radius: .3rem;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0.25rem;
  display: flex;
  background-size: 14px 14px;
  background-position: center center;
  background-repeat: no-repeat;

  &.--remove {
    background-color: #c54244;
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18.8999 5L4.8999 19" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg>');

    &:hover {
      background-color: #ad2022;
      box-shadow: inset 0 2px 5px 3px rgba(0, 0, 0, .09);
    }
  }

  &:active {
    opacity: .6;
  }

  &.--lg {
    display: inline-block;
    background-image: none;
    width: 32px;
    height: 32px;
    background-size: 74% 74%;

    &.--call {
      background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.45 22.75C16.32 22.75 15.13 22.48 13.9 21.96C12.7 21.45 11.49 20.75 10.31 19.9C9.14 19.04 8.01 18.08 6.94 17.03C5.88 15.96 4.92 14.83 4.07 13.67C3.21 12.47 2.52 11.27 2.03 10.11C1.51 8.87 1.25 7.67 1.25 6.54C1.25 5.76 1.39 5.02 1.66 4.33C1.94 3.62 2.39 2.96 3 2.39C3.77 1.63 4.65 1.25 5.59 1.25C5.98 1.25 6.38 1.34 6.72 1.5C7.11 1.68 7.44 1.95 7.68 2.31L10 5.58C10.21 5.87 10.37 6.15 10.48 6.43C10.61 6.73 10.68 7.03 10.68 7.32C10.68 7.7 10.57 8.07 10.36 8.42C10.21 8.69 9.98 8.98 9.69 9.27L9.01 9.98C9.02 10.01 9.03 10.03 9.04 10.05C9.16 10.26 9.4 10.62 9.86 11.16C10.35 11.72 10.81 12.23 11.27 12.7C11.86 13.28 12.35 13.74 12.81 14.12C13.38 14.6 13.75 14.84 13.97 14.95L13.95 15L14.68 14.28C14.99 13.97 15.29 13.74 15.58 13.59C16.13 13.25 16.83 13.19 17.53 13.48C17.79 13.59 18.07 13.74 18.37 13.95L21.69 16.31C22.06 16.56 22.33 16.88 22.49 17.26C22.64 17.64 22.71 17.99 22.71 18.34C22.71 18.82 22.6 19.3 22.39 19.75C22.18 20.2 21.92 20.59 21.59 20.95C21.02 21.58 20.4 22.03 19.68 22.32C18.99 22.6 18.24 22.75 17.45 22.75ZM5.59 2.75C5.04 2.75 4.53 2.99 4.04 3.47C3.58 3.9 3.26 4.37 3.06 4.88C2.85 5.4 2.75 5.95 2.75 6.54C2.75 7.47 2.97 8.48 3.41 9.52C3.86 10.58 4.49 11.68 5.29 12.78C6.09 13.88 7 14.95 8 15.96C9 16.95 10.08 17.87 11.19 18.68C12.27 19.47 13.38 20.11 14.48 20.57C16.19 21.3 17.79 21.47 19.11 20.92C19.62 20.71 20.07 20.39 20.48 19.93C20.71 19.68 20.89 19.41 21.04 19.09C21.16 18.84 21.22 18.58 21.22 18.32C21.22 18.16 21.19 18 21.11 17.82C21.08 17.76 21.02 17.65 20.83 17.52L17.51 15.16C17.31 15.02 17.13 14.92 16.96 14.85C16.74 14.76 16.65 14.67 16.31 14.88C16.11 14.98 15.93 15.13 15.73 15.33L14.97 16.08C14.58 16.46 13.98 16.55 13.52 16.38L13.25 16.26C12.84 16.04 12.36 15.7 11.83 15.25C11.35 14.84 10.83 14.36 10.2 13.74C9.71 13.24 9.22 12.71 8.71 12.12C8.24 11.57 7.9 11.1 7.69 10.71L7.57 10.41C7.51 10.18 7.49 10.05 7.49 9.91C7.49 9.55 7.62 9.23 7.87 8.98L8.62 8.2C8.82 8 8.97 7.81 9.07 7.64C9.15 7.51 9.18 7.4 9.18 7.3C9.18 7.22 9.15 7.1 9.1 6.98C9.03 6.82 8.92 6.64 8.78 6.45L6.46 3.17C6.36 3.03 6.24 2.93 6.09 2.86C5.93 2.79 5.76 2.75 5.59 2.75ZM13.95 15.01L13.79 15.69L14.06 14.99C14.01 14.98 13.97 14.99 13.95 15.01Z" fill="%23292D32"/><path d="M18.5 9.75C18.09 9.75 17.75 9.41 17.75 9C17.75 8.64 17.39 7.89 16.79 7.25C16.2 6.62 15.55 6.25 15 6.25C14.59 6.25 14.25 5.91 14.25 5.5C14.25 5.09 14.59 4.75 15 4.75C15.97 4.75 16.99 5.27 17.88 6.22C18.71 7.11 19.25 8.2 19.25 9C19.25 9.41 18.91 9.75 18.5 9.75Z" fill="%23292D32"/><path d="M22 9.75C21.59 9.75 21.25 9.41 21.25 9C21.25 5.55 18.45 2.75 15 2.75C14.59 2.75 14.25 2.41 14.25 2C14.25 1.59 14.59 1.25 15 1.25C19.27 1.25 22.75 4.73 22.75 9C22.75 9.41 22.41 9.75 22 9.75Z" fill="%23292D32"/></svg>');
    }

    &.--copy {
      background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.1 22.75H6.9C2.99 22.75 1.25 21.01 1.25 17.1V12.9C1.25 8.99 2.99 7.25 6.9 7.25H11.1C15.01 7.25 16.75 8.99 16.75 12.9V17.1C16.75 21.01 15.01 22.75 11.1 22.75ZM6.9 8.75C3.8 8.75 2.75 9.8 2.75 12.9V17.1C2.75 20.2 3.8 21.25 6.9 21.25H11.1C14.2 21.25 15.25 20.2 15.25 17.1V12.9C15.25 9.8 14.2 8.75 11.1 8.75H6.9Z" fill="%23292D32"/><path d="M17.1 16.75H16C15.59 16.75 15.25 16.41 15.25 16V12.9C15.25 9.8 14.2 8.75 11.1 8.75H8C7.59 8.75 7.25 8.41 7.25 8V6.9C7.25 2.99 8.99 1.25 12.9 1.25H17.1C21.01 1.25 22.75 2.99 22.75 6.9V11.1C22.75 15.01 21.01 16.75 17.1 16.75ZM16.75 15.25H17.1C20.2 15.25 21.25 14.2 21.25 11.1V6.9C21.25 3.8 20.2 2.75 17.1 2.75H12.9C9.8 2.75 8.75 3.8 8.75 6.9V7.25H11.1C15.01 7.25 16.75 8.99 16.75 12.9V15.25Z" fill="%23292D32"/></svg>');
    }
  }
}

/* #endregion */


/* #region  Vday */
.mob-menu {
  .vday-nav-link {
    display: flex !important;
    border-radius: 0px;
    padding: 10px 22px !important;
    border-left: none;
    border-right: none;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: linear-gradient(230deg, #fff 30%, rgba(204, 68, 108, 0.08) 100%);

    span {
      order: -1;
    }

    img {
      width: 210px;
      height: 140px;
      right: -60px;
      left: auto !important;
      top: -30px;
    }
  }
}

.vday-nav-link {
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #ffb2c9;
  justify-content: center;
  padding: 7px 12px 6px 68px !important;
  font-size: 11px;
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  color: var(--vday_rose) !important;
  background-image: linear-gradient(230deg, rgba(204, 68, 108, .1), #fff 80%);
  border-radius: 500px;
  font-weight: 700;
  transition: all .35s cubic-bezier(.39, .575, .565, 1);

  img {
    width: 160px;
    height: 110px;
    mix-blend-mode: darken;
    position: absolute;
    top: -22.7969px;
    left: -49px;
  }

  span {
    z-index: 2;
    position: relative;
  }

  &:not(.--sale):hover {
    background-color: rgba(204, 68, 108, .2);
    // transform: translate(0, -1.5px);
    box-shadow: 0 6px 12px rgba(204, 68, 108, .08);
  }

  @include maxWidthMd {
    display: none !important;
  }

  &.--sale {
    border-color: #68b6cf !important;
    color: var(--blue-gold) !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    // background-image: linear-gradient(230deg, rgba(68, 172, 204, 0.1), #fff 80%);
    background-color: white !important;
    background-image: none;

    &:hover {
      border-color: #0eace1;
      color: #0eace1;
      background-image: none;
    }

    img {
      width: auto !important;
      height: auto !important;
      top: -20px;
      left: -32px;
    }
  }
}

/* #endregion */

.smart-picture {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f8f9fa;
  transform-origin: center;

  img {
    width: 100% !important;
    transition: all 250ms ease;
    opacity: 0 !important;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
    // transform: translateX(-50%) translateY(-50%);
    z-index: 5;
    width: 24px;
    aspect-ratio: 1;
    transform-origin: center;
    border-radius: 50%;
    border: 1.5px solid var(--black);
    transition: all 200ms ease;
    animation:
      l20-1 1.2s infinite linear alternate,
      l20-2 2.4s infinite linear;
  }

  &.--loaded {
    background-color: transparent !important;
    background-image: none !important;

    img {
      opacity: 1 !important;
    }

    &::after {
      opacity: 0 !important;
    }
  }
}


@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg)
  }

  49.99% {
    transform: scaleY(1) rotate(135deg)
  }

  50% {
    transform: scaleY(-1) rotate(0deg)
  }

  100% {
    transform: scaleY(-1) rotate(-135deg)
  }
}

.col_8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.--mg_auto {
  margin: 0 auto;
}

.mg-bottom_12 {
  margin-bottom: 12px;
}

.sign-email-btn {
  text-transform: capitalize;
  // text-decoration: underline;
  cursor: pointer;
  // border: 1px solid rgb(205, 210, 221);
  justify-content: flex-start;
  align-items: center;
  // padding: 3px 12px 3px 2px;
  font-size: 13px;
  font-weight: 600;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  overflow: hidden;
  gap: 6px;
  margin-top: 6px;
  border-bottom: 1px dashed var(--black);
  padding-bottom: 4px;

  &:hover {
    opacity: 0.5
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 500px;
    // background-color: rgb(232, 235, 241);
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9998 23C12.5302 23 13.0389 22.7893 13.414 22.4142C13.7891 22.0391 13.9998 21.5304 13.9998 21H9.99979C9.99979 21.5304 10.2105 22.0391 10.5856 22.4142C10.9606 22.7893 11.4694 23 11.9998 23ZM3.99979 19H19.9998C20.1975 19 20.3908 18.9413 20.5552 18.8314C20.7197 18.7215 20.8478 18.5654 20.9235 18.3827C20.9991 18.2 21.0189 17.9989 20.9804 17.805C20.9418 17.611 20.8466 17.4329 20.7068 17.293L18.9998 15.586V10C18.9966 8.3185 18.3887 6.69424 17.2871 5.42379C16.1856 4.15334 14.6639 3.32145 12.9998 3.08V2C12.9998 1.73478 12.8944 1.48043 12.7069 1.29289C12.5194 1.10536 12.265 1 11.9998 1C11.7346 1 11.4802 1.10536 11.2927 1.29289C11.1051 1.48043 10.9998 1.73478 10.9998 2V3.08C9.33571 3.32145 7.81397 4.15334 6.71243 5.42379C5.61088 6.69424 5.003 8.3185 4.99979 10V15.586L3.29279 17.293C3.15298 17.4329 3.05777 17.611 3.0192 17.805C2.98064 17.9989 3.00044 18.2 3.07611 18.3827C3.15178 18.5654 3.27992 18.7215 3.44433 18.8314C3.60874 18.9413 3.80204 19 3.99979 19ZM6.70679 16.707C6.89434 16.5195 6.99973 16.2652 6.99979 16V10C6.99979 8.67392 7.52657 7.40215 8.46425 6.46447C9.40193 5.52678 10.6737 5 11.9998 5C13.3259 5 14.5976 5.52678 15.5353 6.46447C16.473 7.40215 16.9998 8.67392 16.9998 10V16C16.9998 16.2652 17.1052 16.5195 17.2928 16.707L17.5858 17H6.41379L6.70679 16.707Z" fill="black"/></svg>');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 350ms var(--cubic);
  position: relative;

  &::before {
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24 12H2" stroke="%23171C29" stroke-width="2"/><path d="M12.4 2L2.39999 12L12.4 22" stroke="%23171C29" stroke-width="2"/></svg>');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.stock-inline {
  display: none;
  border-radius: 50px;
  margin-right: 3px;
  width: 8px;
  height: 8px;
  // display: inline-block;
  background-color: #07a97b;
}

/* #region  Page tip */
.page-tip {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 99999;
  padding: 12px;
  border-radius: 0.45rem;
  background-color: white;
  color: var(--black);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  max-width: 240px;
  opacity: 0;
  transform: translateY(0px);
  pointer-events: none;
  border: 1px solid var(--t-border);
  box-shadow: 0 6px 38px rgba(72, 98, 162, 0.15);
  transition: opacity 0.2s ease, transform 0.2s ease;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--royal_blue);
    width: 10px;
    height: 10px;
    bottom: -5px;
  }

  &.--left {
    &::after {
      right: auto;
      left: 18px;
    }
  }

  &.--top {
    &::after {
      top: -5px;
      bottom: auto;
    }
  }

  &.--stock {
    background-color: #07a97b;
    color: white;
    padding: 4px 12px;

  }

  &.page-tip--hidden-top {
    opacity: 0;
    transform: translateY(-8px);
  }

  &.page-tip--hidden-bottom {
    opacity: 0;
    transform: translateY(8px);
  }

  &.page-tip--visible {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* #endregion */

.top-banner {
  z-index: 99;
  text-align: center;
  letter-spacing: .4px;
  text-transform: uppercase;
  color: #fff;
  background-color: #111114;
  background-image: linear-gradient(130deg, #111114, #111114 29%, #314150 62%, #111114 79%, #111114);
  padding: 7px 12px;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.post-ticker {
  background-color: #eff6fe;
  width: 100vw;
  padding: 18px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  overflow: hidden;

  &>div {
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    flex: none;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    padding-left: 20px;
    display: flex;
    animation: postTicker 30s linear infinite;

    img {
      height: 20px;
    }

    @include maxWidthXs {
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      margin-right: 12px;
      padding-left: 12px;
    }
  }
}

@keyframes postTicker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.fancy-btn {
  cursor: pointer;
  background-color: #0eaee2;
  color: white;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 14px 28px;
  font-weight: 600;
  transition: all .2s;
  display: flex;
  gap: 12px;
  box-shadow: 0 12px 26px #0eaee24d;
  font-size: 14px;

  &:hover {
    background-color: #079dce;
    box-shadow: 0 12px 98px #0eaee21a;
  }

  &.--green {
    background-color: var(--green);
    box-shadow: 0 12px 26px #2cdaac33;

    &:hover {
      background-color: #1b937f;
      box-shadow: 0 12px 26px #15e2ab00;
    }
  }

  &.--grey {
    box-shadow: none;
    color: #131317;
    background-color: #dae0eb;
  }

  &.--blank {
    background-color: transparent;
    color: var(--black);
    padding: 0;
    height: auto;
    box-shadow: none;
    font-weight: 700;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.fedex-notice {
  border-radius: .4rem;
  padding: 12px 14px;
  color: #4b5e83;
  background-color: #f0f4fc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  line-height: 18px;

  img {
    width: 56px;
  }
}

/* #region Notice Modal */
.notice-modal {
  background-color: #fff;
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
  flex-flow: column;
  max-width: 479px;
  min-height: 62px;
  margin-left: auto;
  margin-right: auto;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2000;
  inset: auto 8px 0 8px;
  padding: 18px 26px 26px 26px;
  gap: 18px;
  transform: translateY(100%);

  &::before {
    content: ' ';
    display: block;
    flex: none;
    background-color: #2d35473a;
    border-radius: 50px;
    width: 48px;
    height: 5px;
    margin: 0 auto;
  }

  &.--visible {
    transform: translateY(0%);
  }
}

.notice-modal__typo {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

/* #endregion */

.--color-green {
  color: var(--green);
}

.--color-red {
  color: var(--red);
}

.--arrow-down {
  display: flex;
  align-items: center;
  gap: 4px;

  &::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25 9V37" stroke="%23009688" stroke-width="8" stroke-linecap="square"></path><path d="M8.5 23.5L25 40L41.5 23.5" stroke="%23009688" stroke-width="8"></path></svg>');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.--arrow-up {
  display: flex;
  align-items: center;
  gap: 4px;

  &::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25 9V37" stroke="%23D70040" stroke-width="8" stroke-linecap="square"></path><path d="M8.5 23.5L25 40L41.5 23.5" stroke="%23D70040" stroke-width="8"></path></svg>');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}