.categories-tabs {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  display: flex;

  span {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 8px 14px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  img {
    mix-blend-mode: darken;
    position: relative;

    @include maxWidthXs {
      width: 100%;
    }
  }

  a {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 18px 0 36px;
    transition: all .25s cubic-bezier(.39, .575, .565, 1);
    display: flex;
    position: relative;

    @include maxWidthMd {
      padding-top: 30px;
    }

    @include maxWidthSm {
      min-width: 30%;
    }

    @include maxWidthXs {
      min-width: 45%;
      padding-top: 20px;
      padding-bottom: 36px;
    }
  }

  a:hover {
    background-color: #fff;
    border-color: #0095c6;
  }

  @include maxWidthMd {
    .categories-tabs {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  }

  @include maxWidthXs {
    & a:hover {
      border-color: #f9f9f9;
    }
  }

  @include maxWidthXs {
    .categories-tabs {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 10px;
    }

    span {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root_loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(9, 11, 13, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: 'MOMENT...';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% + 46px));
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;

  }

  &::before {
    content: '';
    display: block;
    --bg:no-repeat linear-gradient(#ffffff 0 0);
    background: 
      var(--bg),var(--bg),var(--bg),
      var(--bg),var(--bg),var(--bg),
      var(--bg),var(--bg),var(--bg);
    background-size: 6px 6px;
    animation: 
      rootLoaderAnimation1 1.4s infinite,
      rootLoaderAnimation2 1.4s infinite;
  }
}

@keyframes rootLoaderAnimation1 {
  0%,100% {width:20px;height: 20px;}
  35%,65% {width:36px;height: 36px;}
}
@keyframes rootLoaderAnimation2 {
  0%,40%  {background-position: 0 0,0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,  50% 50% }
  60%,100%{background-position: 0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,0 0,  50% 50% }
}