@use "../base/_mixin" as *;
/* #region  Welcome Section */

.home-row-btn {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 12px 0;
  font-weight: 600;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;

  &:hover {
    opacity: 0.65;

    svg {
      transform: translateX(4px);
    }
  }

  svg {
    transition: all 200ms ease;
  }

  &.white_stroke {
    border-color: white !important;
  }
}

.home-welcome__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  color: white;
  padding: 12px 0;
  border-bottom: 2px solid #fff;
  min-width: 160px;
  font-weight: 700;
  transition: all 250ms ease;

  &:hover {
    opacity: 0.65;

    svg {
      transform: translateX(4px);
    }
  }

  svg {
    transition: all 250ms ease;
  }
}

.home-welcome {
  display: flex;
  height: calc(80vh - 86px);

  @include maxWidthMd {
    height: auto;
    flex-direction: column;
  }
}

.temp20 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-welcome__title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  h1,
  h2,
  h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;

    @include maxWidthXs {
      font-size: 26px;
      line-height: 28px;
    }
  }

  & > p {
    max-width: 240px;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.6;
  }
}

.home-welcome-details {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(#0d0e1300, #0d0e13b3 65%, #0d0e13e6);
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 30% 28px 3.33vw 3.33vw;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;

  @include maxWidthXs {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    padding-bottom: 6vw;
    padding-left: 6vw;
    padding-right: 6vw;
    inset: 0%;
  }
}

.home-welcome-box {
  position: relative;
  width: 50%;
  flex: none;
  text-align: center;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  .arrow-btn {
    margin-top: 14px;
    min-width: 150px;
  }

  @include maxWidthMd {
    width: 100vw;
    height: 65vh;
    min-height: 480px;
  }
}

/* #endregion */

.home-hero {
  display: flex;
  flex-flow: column;
  min-height: 120px;
  padding-top: 108px;

  @include maxWidthXs {
    padding-top: 78px;
  }

  &.--zero-offset {
    padding-top: 0;
  }
}

.home-hero__banner {
  width: 100vw;
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover;
    object-position: center center;
    background-color: #f1f1f1;
    width: 100%;
    height: 70vh;
    display: block;
    overflow: visible;

    @include maxWidthXs {
      height: 65vh;
      min-height: 480px;
    }
  }
}

.home-hero__details {
  gap: 12px;
  color: var(--white);
  text-align: center;
  background-image: linear-gradient(#16171900, #0a101d99 50%, #0a0e16);
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10% 3.33vw 3.33vw;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;

  @include maxWidthXs {
    padding: 30% 6vw 6vw;
  }
}

.home-hero__heading {
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  max-width: 580px;

  @include maxWidthXs {
    font-size: 26px;
    line-height: 28px;
  }
}

.home-hero__subheading {
  margin-top: 8px;
  max-width: 560px;
  line-height: 22px;
  opacity: 0.75;
}

.home-hero__cta {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;

  &.--black-arrow {
    &::after {
      background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke-width="10" d="M6 0L4.942 1.058 9.127 5.25H0v1.5h9.127l-4.185 4.193L6 12l6-6-6-6z" fill="black"></path></svg>');
    }
  }

  &::after {
    // content: "";
    width: 14px;
    height: 14px;
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke-width="10" d="M6 0L4.942 1.058 9.127 5.25H0v1.5h9.127l-4.185 4.193L6 12l6-6-6-6z" fill="white"></path></svg>');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.home-hero__collection {
  padding-top: 36px;
}

.home-hero__collection-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

.home-hero__items {
  @include maxWidthMd {
    margin: 0 calc((var(--padding) / 1) * -1);
  }
}

.home-hero__footer {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .splide__arrow {
    position: static !important;
    height: 48px;
    width: 48px;
    transform: none;
    background-color: transparent;
    border: 1px solid var(--black);
    opacity: 1;

    &.splide__arrow--prev {
      transform: rotate(180deg);
    }

    &:active {
      opacity: 0.5;
    }

    svg {
      width: 0.9em;
      height: 0.9em;
    }
  }
}

.home-hero__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  margin-bottom: 36px;
}

.home-hero__tag {
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

.home-hero__custom-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  @include maxWidthXs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.home-hero__custom-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
  }

  h4 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
  }

  a {
    font-size: 14px;
    text-decoration: underline;
  }
}

.home-hero__shapes-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;

  @include maxWidthMd {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
  }

  @include maxWidthXs {
    grid-template-columns: repeat(2, 1fr);
  }
}

.home-hero__shape-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  position: relative;
  overflow: hidden;

  h4 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
  }

  a {
    font-size: 14px;
    text-decoration: underline;
  }
}

.home-hero__shape-img {
  img {
    padding: 12px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center center;
    mix-blend-mode: darken;
    position: relative;
    z-index: 2;
  }

  &::after {
    @extend %media-bg-template;
  }
}

.home-hero__sell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center center;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(#10192ba6, #0a101dcc 50%, #0a0e16e6);
    z-index: 1;
  }

  > div {
    padding: 98px 0;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: center;

    .arrow-btn {
      margin-top: 24px;
    }
  }
}

.home-hero__sell-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-hero__sell-perks {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 36px;
    gap: 16px;

    h5 {
      font-size: 24px;
      font-weight: 600;
    }

    p {
      opacity: 0.6;
    }
  }

  @include maxWidthSm {
    grid-template-columns: repeat(1, 1fr);
  }
}

.home-hero__store-location-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  @include maxWidthSm {
    grid-template-columns: repeat(1, 1fr);
  }
}

.home-hero__store-embed {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #f5f5f5;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.home-hero__store-details {
  width: 100%;
  padding: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include maxWidthXs {
    padding: 38px;
  }

  > span {
    opacity: 0.65;
    max-width: 240px;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
  }

  > h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
  }

  > p {
    opacity: 0.65;
    font-size: 13px;
    line-height: 18px;
  }

  .arrow-btn {
    margin-top: 12px;
  }
}
