.locations__loader-typo {
  margin-top: -36px;
  font-weight: 600;
}

.store-row__address {
  max-width: 300px;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
}

.locations__benefit-title-wrap {
  padding-right: 18px;
}

.locations__book-benefits-group {
  position: relative;
  max-width: 400px;
}

.locations__form-field-row {
  position: relative;
}

.locations__book-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.locations__stores-list {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.locations__main-stores {
  margin-top: 46px;
}

.locations__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.store-row__direct-link:hover {
  color: #0995c6;
}

.locations__benefit-item {
  position: relative;
  margin-bottom: 18px;
}

.store-row__body-inner-wrap {
  padding-bottom: 20px;
}

.locations__book-benefits {
  margin-top: 36px;
}

.locations {
  position: relative;
  font-size: .875rem;
}

.locations__main-subtitle {
  line-height: 24px;
  font-size: 16px;
}

.locations__main-subinfo {
  margin-top: 10px;
  font-weight: 600;
}

.store-row__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.store-row__geo-icon {
  margin-right: 6px;
  width: 22px;
  height: 22px;
}

.store-row__info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.store-row__info-row>*:nth-child(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.store-row__info-row *>span:nth-child(1) {
  width: 130px !important;
}

.store-row__info-row *>span:nth-child(2) {
  width: 90px !important;
  font-weight: 600;
}

.store-row__flagship-spot {
  font-size: 12px !important;
}

@media screen and (max-width: 991px) {
  .store-row__info-row>*:nth-child(1) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .store-row__info-row *>span:nth-child(1) {
    width: auto;
    margin-top: 3px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    color: #0995c6;
    font-size: 12px;
    line-height: 10px;
  }
}

.store-row__address {
  margin-top: 16px;
  margin-bottom: 0px;
}

.store-row__address a {
  text-decoration: underline !important;
}

.store-row__flagship-spot {
  background-color: rgba(9, 147, 198, 0.08);
  color: #0a769d !important;
  font-size: 13px;
  font-weight: 600;
  margin-left: 6px;
  padding: 2px 12px;
  border-radius: 6px;
}

.store-row__number {
  font-size: 13px;
  font-weight: 500 !important;
  margin-top: 2px;
  margin-bottom: 12px;
}

.store-row__number a {
  text-decoration: underline !important;
}

.store-row__schedule-row {
  font-weight: 500;
  margin-top: 2px;
}

.locations__book-btn-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.locations__book-store-img {
  width: 400px;
  height: 240px;
  -o-object-fit: cover;
  object-fit: cover;
}

.locations__loader-lottie-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.locations__more-title {
  margin-bottom: 8px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: none;
}

.locations__more-title.locations__title_left-align {
  text-align: left;
}

.store-block__description-wrap {
  margin-top: 32px;

  @include maxWidthXs {
    margin-top: 6px;
  }
}

.store-row__description {
  display: block;
  margin-bottom: 12px;
}

.locations__main-stores ul li:not(:first-child) .store-row__body {
  display: none;
}

.store-row {
  margin-bottom: -1px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 1px solid #e4e7ea;
  border-bottom: 1px solid #e4e7ea;
}

.store-row.is-opened {
  position: relative;
  z-index: 1;
}

.store-block__heading {
  margin-top: 0px;
  margin-bottom: 10px;
  max-width: 240px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

}

.store-row__schedule-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 13px;
}

.locations__book-btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  padding: 12px 38px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0995c6;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.locations__book-btn:not(.locations__book-btn_sub) span {
  color: #ffffff;
}

.locations__book-btn:hover {
  background-color: #16a9dd;
}

.locations__book-btn.locations__book-btn_sub {
  background-color: #f8f8f8;
  color: #171c25;
}

.locations__map-embed {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 100%;
  min-height: 70vh;
}

.locations__main-info-title {
  position: relative;
}

.store-block {
  height: 100%;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  flex-direction: column;
  transition: all .24s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  position: relative;
  box-shadow: 0 12px 32px rgba(23, 28, 41, .07);
}

.store-block:hover {
  border-color: #0095c6;
  box-shadow: 0 12px 32px rgba(23, 28, 41, 0);
}

.locations__stores-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.store-block__heading-location {
  display: block;
  width: 100%;
  color: #0995c6;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-weight: 700;
}

.store-row__number {
  margin-top: 10px;
  margin-bottom: 10px;
}

.locations__stores-grid {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
  position: relative;

  @media screen and (max-width: 1220px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include maxWidthMd {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 590px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.locations__main-title {
  margin-bottom: 6px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
  text-transform: capitalize;
}

.store-row__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  font-weight: 500;
  cursor: pointer;
}

.store-row__title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex: 1;

  svg {
    color: var(--blue-gold);
    margin-right: 6px;
    width: 24px;
    height: 24px;
  }
}

.locations__book-info {
  position: relative;
  max-width: 38%;

  h2 {
    text-align: left;
  }
}

.locations__book-benefits-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.locations__book-form-row {
  position: relative;
  margin-bottom: 14px;
}

.locations__main-info {
  padding: 72px 4vw;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.locations__form-field {
  width: 100%;
  height: 48px;
  margin-bottom: 0px;
  padding: 8px 16px;
  border-radius: 0px;
  background-color: #f8f8f8;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
}

.locations__form-field:hover {
  border-color: #0995c6;
}

.locations__form-field:focus {
  border-color: #0995c6;
  background-color: rgba(9, 149, 198, 0.05);
}

.locations__form-field::-webkit-input-placeholder {
  color: #8f8f8f;
}

.locations__form-field:-ms-input-placeholder {
  color: #8f8f8f;
}

.locations__form-field::-ms-input-placeholder {
  color: #8f8f8f;
}

.locations__form-field::placeholder {
  color: #8f8f8f;
}

.store-row__geo-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0995c6;
}

.locations__benefit-title {
  display: block;
  margin-bottom: 4px;
  color: #171c25;
  font-weight: 600;
}

.locations__benefit-description {
  color: #636363;
}

.locations__more-subtitle {
  max-width: 480px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  @include maxWidthXs {
    margin-top: 8px;
  }
}

.locations__more-subtitle.locations__subtitle_left-align {
  text-align: left;
}

.store-block__store-pic {
  width: 100%;
}

.locations__book-form-wrap {
  margin-top: 28px;
  margin-bottom: 0px;
}

.locations__benefit-order {
  margin-bottom: 10px;
  padding-bottom: 10px;

  font-size: 18px;
  font-weight: 600;
}

.locations__more {
  padding: 82px 0px;
  border-top: 8px solid #f5f8fa;
  border-bottom: 8px solid #f5f8fa;

  @include maxWidthXs {
    padding: 56px 0px;
  }
}

.locations__more.white_bg {
  padding-top: 66px;
  padding-bottom: 66px;
  background-color: #fff;
}

.store-block__direct-link {
  font-size: 13px;

  span {
    line-height: 22px;
    display: block;
  }
}

.store-block__direct-link:hover {
  color: #0995c6;
}

.locations__store-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.locations__store-root:hover {
  color: #0995c6;
}

.locations__loader-lottie {
  width: 140px;
}

.store-block__info-wrap {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 26px 20px;
  display: flex;

  &>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @include maxWidthXs {
    padding-top: 16px;
  }
}

.locations__map-wrap {
  position: relative;
  width: 62vw;
  padding: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-left: 1px solid #f0f0f0;
}

.locations__form-label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 600;
}

.store-block__pic-wrap {
  position: relative;
  padding: 12px;
}

.store-block__description {
  font-size: 13px;
  line-height: 22px;
  font-style: italic;
}

.locations__map-loader {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.9);
  opacity: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.store-row__arrow-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 13px;
  height: 13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .locations__map-wrap {
    width: 68vw;
  }
}

@media screen and (max-width: 991px) {
  .locations__book-benefits-group {
    width: 40%;
    max-width: none;
    margin-left: 34px;
  }

  .locations__main {
    height: 90vh;
  }

  .locations__book-store-img {
    width: auto;
  }

  .locations__book-info {
    max-width: none;
    margin-right: 34px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .locations__main-info {
    padding: 47px 40px;
  }

  .locations__map-wrap {
    width: 50vw;
  }
}

@media screen and (max-width: 767px) {
  .locations__book-benefits-group {
    width: 100%;
    margin-top: 34px;
    margin-left: 0px;
  }

  .locations__book-wrap {
    display: block;
  }

  .locations__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .locations__book-store-img {
    display: block;
    width: 100%;
  }

  .locations__map-embed {
    height: 400px;
    min-height: auto;
  }

  .locations__stores-head {
    margin-bottom: 32px;
  }

  .locations__book-info {
    margin-right: 0px;
  }

  .locations__main-info {
    padding-right: 30px;
    padding-left: 30px;
  }

  .locations__map-wrap {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media screen and (max-width: 479px) {

  .store-block__heading {
    margin-bottom: 8px;
  }

  .locations__book-btn {
    padding-right: 16px;
    padding-left: 16px;
  }

  .locations__map-embed {
    height: 400px;
  }

  .store-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .locations__stores-head {
    margin-bottom: 24px;
  }

  .locations__main-info {
    padding: 32px 20px 54px;
  }

  .store-block__store-pic {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .locations__more.white_bg {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}