/* #region  Overall */
.results-content {
  width: 100vw;
  position: relative;
}

.results__main {
  padding: 24px 0px 86px;

  @include maxWidthXs {
    padding-top: 16px;
    padding-bottom: 42px;
  }
}

.results__main-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: flex-start;
  display: flex;

  @include maxWidthMd {
    display: block;
  }
}

.results-wrapper {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  flex-direction: column;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;

  &.with_cards {
    @include maxWidthXs {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  &.for_scrollable {
    width: 100%;
    overflow: hidden;
  }

  @include maxWidthMd {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include maxWidthSm {
    padding-left: 36px;
    padding-right: 36px;
  }

  @include maxWidthXs {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.results__items-grid {
  min-height: 400px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;

  @media screen and (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1920px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr 1fr;
  }

  @include maxWidthXs {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }

}



.results__wrap {
  width: 100vw;
}

/* #endregion */


/* #region  Results Banner */

.res-banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  @include maxWidthMd {
    border-bottom: 0px solid #eeeeee;
  }

  @include maxWidthSm {
    flex-direction: column;

    img {
      width: 100%;
      min-height: 320px;
    }

    .res-banner__main {
      min-height: unset;
    }
  }

  .res-banner__main {
    @include maxWidthXs {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    position: static;
    min-height: 350px;
    width: 50%;
    order: -1;
  }

}

.results__heading {
  margin-bottom: 6px;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  position: relative;

  @include maxWidthXs {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 4px;
  }

  span {
    display: none;
    opacity: .7;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: -3px;
    right: -22px;
  }
}

.results__breadcrumbs {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: -12px;
  margin-bottom: 12px;
  display: flex;

  @include maxWidthSm {
    margin-top: 0px;
  }

  a {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
  }

  span {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.res-banner__main {
  z-index: 2;
  width: 100%;
  min-height: 300px;
  // background-image: linear-gradient(to right, rgba(7, 10, 34, .65), rgba(7, 10, 34, .3) 45%, rgba(7, 10, 34, 0));
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  position: relative;

  .results-wrapper {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

.results__descriptive-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}

.results__subheading {
  max-width: 360px;
}

@media screen and (min-width: 1440px) {
  .res-banner__main {
    min-height: 340px;
  }
}

@media screen and (max-width: 767px) {

  .results__subheading {
    max-width: 380px;
  }
}

/* #endregion */


/* #region  Results Navigation */
.results-nav {
  display: none;
  padding-top: 48px;
  padding-bottom: 24px;

  a {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    text-align: center;
    white-space: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);
    display: flex;

    &.is-active {
      >div {
        background-color: white;
        border-color: #0095c6;
      }
    }

    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      object-fit: contain;
      border-radius: 500px;
    }

    >span {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
    }

    >div {
      width: 98px;
      height: 98px;
      background-color: #f9f9f9;
      border: 1px solid #f9f9f9;
      border-radius: 500px;
      justify-content: center;
      align-items: center;
      display: flex;
      overflow: hidden;

      @include maxWidthXs {
        width: 82px;
        height: 82px;
      }

      &.is-active {
        background-color: #fff;
        border-color: #0095c6;
      }
    }
  }
}

.results-nav__wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column wrap;
  display: flex;
}

.results-nav__scrollable {
  width: 100%;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 991px) {

  .results-wrapper.for_scrollable {
    padding-left: 0;
    padding-right: 0;
  }

  .results-nav__scrollable {
    flex-wrap: nowrap;
    padding-left: 48px;
    padding-right: 48px;
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {

  .results-nav {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .results-nav__scrollable {
    padding-left: 36px;
    padding-right: 36px;
    overflow: auto;
  }
}

@media screen and (max-width: 479px) {

  .results-nav {
    padding-top: 28px;
    padding-bottom: 16px;
  }

  .results-nav__scrollable {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

/* #endregion */


/* #region  Results Empty */
.results-empty {
  background-color: #f9f9f9;
  padding-top: 34px;
  padding-bottom: 34px;
}

.results__empty-heading {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 34px;

  span {
    color: rgba(8, 17, 31, .5);
  }
}

@media screen and (max-width: 479px) {
  .results-empty {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .results__empty-heading {
    font-size: 24px;
    line-height: 30px;
  }
}

/* #endregion */


/* #region  Filter Buttons */
.sticky-filters {
  z-index: 8;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-left: 1px #000;
  border-right: 1px #000;
  padding: 0;
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 115px;

  button {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #fff;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 12px;
    // font-weight: 600;
    display: flex;
  }

  @include maxWidthMd {
    display: flex;
    top: 76px;
  }
}

/* #endregion */


/* #region  Results Bar */
.filter-dropdown {
  z-index: 2;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  position: relative;
}

.results-bar__group {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.filter-dropdown__main {
  z-index: 2;
  height: 46px;
  min-width: 220px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 12px;
  font-weight: 600;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  position: relative;

  &.is-active {
    background-color: #fff;
    border-color: #ebebeb;
  }

  svg {
    width: 10px;
    height: 10px;
    align-items: center;
    margin-top: -2px;
    display: flex;
  }
}

.filter-dropdown__current {
  letter-spacing: 0;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
}

.results-bar {
  z-index: 2;
  width: 100%;
  margin-bottom: 24px;
}

.results-bar__wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
}

.filter-dropdown__list {
  height: 0;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-top-style: none;
  margin-top: -1px;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  box-shadow: 0 0 86px rgba(8, 17, 31, .16);

  >div {
    padding: 4px;
  }

  a {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 10px 18px;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);

    &:hover {
      background-color: #f3f3f3;
      padding-left: 22px;
      font-weight: 600;
    }
  }
}

.results__show {
  font-size: 16px;

  span {
    font-weight: 600;
  }
}

@media screen and (max-width: 991px) {

  .results-bar__group {
    display: none;
  }

  .filter-dropdown__main {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex: 1;
  }
}

@media screen and (max-width: 479px) {

  .filter-dropdown__main {
    flex: 1;
  }

  .results-bar {
    margin-bottom: 20px;
  }

  .results-bar__wrapper {
    border-top-style: none;
    border-bottom-style: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* #endregion */


/* #region  Filter sidebar */
.filter-sidebar {
  width: 285px;
  flex: none;

  &.to-stick::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &.to-stick::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  /* Handle */
  &.to-stick::-webkit-scrollbar-thumb {
    background: #ececec;
  }

  /* Handle on hover */
  &.to-stick::-webkit-scrollbar-thumb:hover {
    background: #ececec;
  }

  @include maxWidthMd {
    display: none;
  }
}

.filter-sidebar.to-stick {
  max-height: 70vh;
  padding-right: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
  overflow: auto;
}

.filter-sidebar__overlay {
  z-index: 10;
  height: 78px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #fff 50%, rgba(255, 255, 255, 0));
  padding-top: 36px;
  font-size: 11px;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 225ms ease;
  opacity: 0;
  pointer-events: none;

  &::after {
    content: 'SCROLL DOWN';
    text-align: center;
    opacity: 0.5;
    background-image: url('data:image/svg+xml,<svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25 10L13 18L0.999999 10" stroke="black" stroke-width="2.5"/><path d="M25 2L13 10L0.999999 2" stroke="black" stroke-width="2.5"/></svg>');
    background-position: 100% 44%;
    background-repeat: no-repeat;
    background-size: 14px;
    padding-right: 24px;
  }
}

/* #endregion */




/* #region  FILTERS */

.filter-row {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: -1px;
  padding-top: 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  a {
    width: 100%;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    font-weight: 400;
    transition: all .1s cubic-bezier(.39, .575, .565, 1);
    display: flex;
    position: relative;

    &:hover {
      text-decoration: underline;
      font-weight: 600;
      color: #0095c6;
    }

    >span {
      opacity: .5;
      text-align: right;
      font-size: 12px;
      font-weight: 500;
      position: absolute;
      right: 0;
    }
  }

  label {
    width: 100%;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    font-weight: 400;
    transition: all .1s cubic-bezier(.39, .575, .565, 1);
    display: flex;
    position: relative;

    &:active {
      opacity: .7;
    }

    input[type="checkbox"],
    input[type="radio"] {
      display: none;
    }

    &:not(.label-color) input[type="checkbox"]:checked~span,
    &:not(.label-color) input[type="radio"]:checked~span {
      font-weight: 600;

      &::before {
        background-color: #0095c6;
        border-color: #0095c6;
        background-position: 47% 50%;
      }
    }

    >span {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      padding-left: 30px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #e0e0e0;
        transition: all .2s cubic-bezier(.39, .575, .565, 1);
        border: 1px solid #e0e0e0;
        background-image: url(../assets/cb-checkmark.svg);
        background-position: 47% -230%;
        background-repeat: no-repeat;
        background-size: 70%;
        z-index: 2;
      }

      >span {
        opacity: .5;
        text-align: right;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        right: 0;
      }
    }
  }

  label {
    &.label-color {

      input[type="checkbox"]:checked~span::after,
      input[type="radio"]:checked~span::after {
        content: '';
        position: absolute;
        left: 10px;
        top: 2px;
        width: 10px;
        height: 10px;
        background-color: #0095c6;
        border: 1px solid #0095c6;
        background-image: url(../assets/cb-checkmark.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 90%;
        transition: all .2s cubic-bezier(.39, .575, .565, 1);
        z-index: 3;
      }

      input[type="checkbox"]:checked~span::before,
      input[type="radio"]:checked~span::before {
        // background-color: transparent;
        border: 1px solid #0095c6;
        box-shadow: 10px 0px 12px rgba(0, 149, 199, 0.065);
      }

      input[type="checkbox"]:checked~span,
      input[type="radio"]:checked~span {
        color: #076888 !important;
        font-weight: 600;
      }

      >span {
        position: relative;

        &::before {
          background-image: linear-gradient(45deg, #e9c483, #eed1a0 32%, #ffedcf 52%, #f2ddbb 72%, #f5e7cf);
          background-size: unset;
          border: none;
        }
      }

      &.yellow_gold>span::before {
        // background-image: linear-gradient(45deg, #e9c483, #eed1a0 32%, #ffedcf 52%, #f2ddbb 72%, #f5e7cf);
        background-color: #e5d5b0;
        background-image: none;
      }

      &.rose_gold>span::before {
        // background-image: linear-gradient(45deg, #db998c, #e4aca3 29%, #fdd0ca 50%, #e9b7b0 75%, #f0c7c3);
        background-color: #f0cac7;
        background-image: none;
      }

      &.white_gold>span::before {
        // background-image: linear-gradient(45deg, #b0b0b0, #c1c1c1 28%, #ececec 52%, #dfdfdf 75%, #ececec);
        background-color: #cacaca;
        background-image: none;
      }

      &.red>span::before {
        // background-image: linear-gradient(45deg, #c7242d, #e15c61 35%, #ef7a7e 82%, #ffb0b1);
        background-image: linear-gradient(45deg, #c7242d, #ff9d9f);
      }

      &.steel>span::before {
        // background-image: linear-gradient(45deg, #747474, #a0a0a0 25%, #c4c4c4 50%, #e0e0e0 75%, #9b9b9b);
        background: linear-gradient(45deg, #a3a3a3, #ebebeb 50%, #c2c0c0 51%, #e9e9e9);
      }

      &.two_tone>span::before {
        // background-image: linear-gradient(45deg, #fad490, #f9e5c5 25%, #fcf1df 49%, #f0f0f0 50%, #f8f8f8 75%, #fafafa);
        background: linear-gradient(45deg, #e2d2b6, #e6d6a8 50%, #f5f5f5 51%, #ebebeb);
      }

      &.two_tone_rose>span::before {
        background: linear-gradient(45deg, #FDDDDD, #D2ACAC 50%, #f5f5f5 51%, #ebebeb);
      }

      &.tri_tone>span::before {
        // background-image: linear-gradient(45deg, #dc9d91, #ffe1da 32%, #fff 43%, #fff 50%, #fff 60%, #fff1db 68%, #fce6c1);
        background: linear-gradient(45deg, #e2c6cc, #e7cdd3 40%, #ebebeb 41%, #ddd 63%, #e2d2b6 64%, #ebe1c5);
      }

      &.tri_tone_rose>span::before {
        background: linear-gradient(45deg, #e2c6cc, #e7cdd3 40%, #ebebeb 41%, #ddd 63%, #e2d2b6 64%, #ebe1c5);
      }

      &.blue>span::before {
        // background-image: linear-gradient(45deg, #223164, #2c4688 35%, #315099 50%, #3557a5 65%, #3e68c2);
        background-color: #2cabd6;
        background-image: none;
      }

      &.blue_gold>span::before {
        background: linear-gradient(45deg, #88D3ED, #0095c6);
      }

      &.midnight_navy>span::before {
        background: linear-gradient(45deg, #223164, #3e68c2);
      }

      &.platinum>span::before {
        background-color: #cbcac6;
        background-image: none;
      }

      &.black>span::before {
        background: linear-gradient(45deg, #6F7174, #171C25);
      }

    }
  }
}


.filter-row__header {
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  position: relative;

  svg {
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    transition: all .45s cubic-bezier(.39, .575, .565, 1);
    display: flex;
  }
}

.filter-row:not(.filter-row_stock) .filter-row__body {
  height: 0;
  opacity: 1;
  transition: all .45s cubic-bezier(.39, .575, .565, 1);
  position: relative;
  overflow: hidden;
  transform: none;
}

.filter-row.filter-row_stock .filter-row__container {
  padding: 16px 0px;
}

.filter-row.filter-row_stock label>span {
  font-weight: 600;
}

.filter-row__container {
  padding: 0px 0px 20px 0px;
  transition: all .45s cubic-bezier(.39, .575, .565, 1);

  label input[type="radio"] {
    &~span::before {
      border-radius: 50px !important;
      background-size: 56%;
    }
  }
}

.filter-row__form-wrap {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 20px;
  transition: all .45s cubic-bezier(.39, .575, .565, 1);
}

/* #endregion */




/* #region  Filter Modal */

.filter-modal {
  display: none;
  z-index: 120;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  .filter-row {
    margin-top: -1px;
    margin-bottom: -1px;
    border-color: #f0f0f0;
  }

  .filter-row__header {
    padding-left: 36px;
    padding-right: 36px;

    @include maxWidthXs {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .filter-row__body {
    padding-left: 36px;
    padding-right: 36px;

    @include maxWidthXs {
      padding-left: 20px;
      padding-right: 20px;
    }

    a {
      padding: 8px 0px;
      border: none;
    }
  }
}

.filter-modal__content {
  background-color: #fff;
  flex: 1;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    background-image: url('../assets/black-checkmark.svg');
    background-position: -50px;
    background-repeat: no-repeat;
    background-size: 16px;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
    padding: 16px 36px;
    transition: all .45s cubic-bezier(.39, .575, .565, 1);
    display: flex;
  }

  a.is-active {
    background-color: #f0f0f0;
    background-position: 32px;
    padding-left: 56px;
    font-weight: 600;
  }

  // &#filterFilter {
  //   display: none;
  // }
}


.filter-modal__backdrop {
  background-color: rgba(6, 12, 20, .6);
  transition: all .45s cubic-bezier(.39, .575, .565, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.filter-modal__container {
  width: 100%;
  max-width: 560px;
  background-color: #fff;
  transition: all .45s cubic-bezier(.39, .575, .565, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  box-shadow: -8px 0 18px rgba(8, 17, 31, .06);
}

.filter-modal__btn {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #08111f;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
}

.filter-modal__wrapper {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.filter-modal__header {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  flex: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  display: flex;
}

.filter-modal__close-btn {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 26px 22px;
  display: flex;
}

.filter-modal__heading {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.filter-modal__footer {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px #f0f0f0;
  flex: none;
  align-items: center;
  padding: 20px 36px;
  display: flex;
}

@media screen and (max-width: 479px) {
  .filter-modal__sort-btn {
    padding-left: 20px;
    padding-right: 20px;
  }

  .filter-modal__sort-btn.is-active {
    background-position: 20px;
    padding-left: 46px;
  }

  .filter-modal__header {
    padding-left: 20px;
    padding-right: 0;
  }

  .filter-modal__footer {
    padding: 12px;
  }
}

/* #endregion */


// Empty result
.empty-page {
  padding-top: 12px;
  padding-bottom: 12px;

  .tabs-wrapper {
    padding-top: 24px;

    @include maxWidthXs {
      padding: 0 !important;
    }
  }

  .wrapper {
    max-width: 1240px;
    padding: 0 !important;

    &:first-child {
      display: none;
    }
  }
}

.empty-content {
  text-align: center;
  background-color: #f5f8fa;
  border-top: 1px #e8ebee;
  border-bottom: 1px #e8ebee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 22px;
  display: flex;

  p {
    max-width: 320px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 24px;
  }

  h3 {
    text-transform: none;
    margin-bottom: 4px;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;

    span {
      text-decoration: underline;
    }
  }
}

.empty-page__input-wrap {
  position: relative;

  input {
    height: 48px;
    background-color: #fff;
    border: 1px solid #e8ebee;
    border-radius: 0;
    margin-bottom: 0;
    padding-left: 46px;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);

    &:hover {
      background-color: #fff;
      border-color: #0095c6;
    }

    &:active {
      box-shadow: 0 0 0 2px rgba(0, 149, 198, .11);
    }

    &:focus {
      background-color: #fff;
      border-color: #0095c6;
    }

    &::-ms-input-placeholder {
      color: #757e85;
    }

    &::placeholder {
      color: #757e85;
    }
  }

  button {
    color: #08111f;
    background-color: #fff;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    font-weight: 600;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);
    display: flex;
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    box-shadow: 0 0 24px rgba(0, 0, 0, .09);

    &:hover {
      color: #fff;
      background-color: #0095c6;
      box-shadow: 0 4px 15px rgba(0, 149, 198, .25);
    }
  }

  svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  input {
    width: 100%;
  }
}

.empty-page__search {
  width: 100%;
  max-width: 420px;
  margin: 24px 0 0;
}

.empty-page__categories {
  padding: 26px 22px;
}

@media screen and (max-width: 479px) {
  .empty-page {
    padding-top: 0;
    padding-bottom: 0;
  }

  .empty-page__categories {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.results__notice-wrap {
  padding-bottom: 24px;
}

.results-wrapper {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  flex-direction: column;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
}

.results-notice {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #026a8b;
  text-align: center;
  background-color: rgba(0, 149, 198, .04);
  border: 1px dashed #0095c6;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  display: flex;

  span>span {
    font-weight: 700;
    text-decoration: underline;
  }
}

@media screen and (max-width: 991px) {
  .results-wrapper {
    padding-left: 48px;
    padding-right: 48px;
  }

  .results-notice {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .results-wrapper {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (max-width: 479px) {
  .results-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .results-notice {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-direction: column;
  }
}

.results-sub {
  padding-bottom: 24px;
}

.results-sub__wrap {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-wrap: wrap;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.results-sub__item {
  min-width: 160px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 500px;
  flex: none;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  transition: all .25s;
  display: flex;

  img {
    width: 56px;
    height: 56px;
    border-radius: 50px;
  }

  span {
    padding-left: 16px;
    padding-right: 20px;
  }
}

.results-sub__item:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

@media screen and (max-width: 991px) {
  .results-sub__wrap {
    flex-wrap: nowrap;
    padding-left: 48px;
    padding-right: 48px;
    overflow: auto;
  }

  .results-sub__item:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
  }
}

@media screen and (max-width: 767px) {
  .results-sub__wrap {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (max-width: 479px) {
  .results-sub__wrap {
    padding-left: 22px;
    padding-right: 22px;
  }
}


.load-more__btn-wrap {
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  display: flex;
}

.load-more-btn {
  min-width: 200px;
  color: #008ebd;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #0095c6;
  border-radius: 50px;
  padding: 12px 38px;
  font-weight: 600;
  transition: all .25s;

  &:hover {
    background-color: rgba(0, 149, 198, .04);
    box-shadow: 0 0 0 4px rgba(0, 149, 198, .15);
  }

  &:active {
    background-color: rgba(0, 149, 198, 0);
    transform: scale(.98);
    box-shadow: 0 0 0 4px rgba(0, 149, 198, .15);

  }
}

// Pay Card
.pay-card {
  max-width: 450px;
  text-align: left;
  background-image: linear-gradient(to right, #ffb3c7, #7777f0 50%, #abe9d6);
  padding: 2px;

  img {
    width: 33.3333%;
    min-height: 40px;
    background-color: #b2fce4;
    flex: none;

    &:first-child {
      background-color: #ffb3c7;
    }

    &:nth-child(2) {
      background-color: #484af7;
    }

    @include maxWidthSm {
      min-height: 24px;
      width: 32%;
      flex: 1;
    }
  }
}

.load-more__btn-wrap {
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  display: flex;
}

.load-more-btn {
  min-width: 200px;
  color: #008ebd;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #0095c6;
  border-radius: 50px;
  padding: 12px 38px;
  font-weight: 600;
  transition: all .25s;
}

.load-more-btn:hover {
  background-color: rgba(0, 149, 198, .04);
  box-shadow: 0 0 0 4px rgba(0, 149, 198, .15);
}

.load-more-btn:active {
  background-color: rgba(0, 149, 198, 0);
  transform: scale(.98);
  box-shadow: 0 0 0 4px rgba(0, 149, 198, .15);
}

.pay-card__wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: linear-gradient(157deg, rgba(254, 179, 199, .1), #fff 50%, rgba(171, 233, 214, .08));
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.pay-card__typo {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;

  @include maxWidthSm {
    font-size: 14px;
    line-height: 20px;
  }

  @include maxWidthXs {
    font-size: 13px;
    line-height: 16px;
  }
}

.pay-card__pics {
  flex: none;
  align-items: center;
  padding: 4px;
  display: flex;
  cursor: pointer;
}

.pay-card__details {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  display: flex;

  @include maxWidthXs {
    padding: 10px;
  }
}

.pay-card__btn {
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgba(145, 132, 233, .38);
  margin-top: 14px;
  padding: 6px 18px;
  font-size: 12px;
  font-weight: 700;

  @include maxWidthXs {
    font-weight: 600;
    font-size: 11px;
    padding: 6px 10px;
  }
}

.pay-card__btn:hover {
  opacity: .6;
}

.pay-card__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;

  @include maxWidthSm {
    font-size: 20px;
    line-height: 24px;
  }

  @include maxWidthXs {
    font-size: 18px;
    line-height: 22px;

    br {
      display: none;
    }

    span {
      padding-left: 6px;
    }
  }

  span {
    color: #484af7;
  }
}

.product-picture_sirv {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  transform: scale(1.15);
  opacity: 0;
  transition: all 225ms cubic-bezier(.39, .575, .565, 1);
}

.product-picture_sirv.is-visible {
  transform: scale(1);
  opacity: 1;
}

.results__item-card>a {
  position: relative;
}