<div class="bfs-poster">
	<div class="bfs-poster__main">
		<div class="bfs-poster__wrapper">
    {% include "elements/black_friday/bfs-ticker.twig" %}
			<div class="bfs-poster__content">
				<div class="bfs-poster__flow">
					<div data-text-glitch="Save big on deal of the year!" class="bfs-poster__subheading">Save big on deal of the year!</div>
					<img src="./assets/bfs/poster_main-img.svg" loading="eager" alt="" class="bfs-poster__main-img">
					<div class="bfs-poster__details">
						<div class="bfs-poster__typo">
							<span>Our Biggest Sale Ever!</span>Shop Now. Time is Limited.
						</div>
						<div class="bfs-poster__sale">UP TO
							<span data-text-glitch="70% OFF">70% OFF</span>
						</div>
					</div>
				</div>
				<div class="bfs-poster__border"></div>
				<div class="bfs-poster__glow">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div id="bfsDiamonds2" class="bfs-poster__diamonds is_flipped"></div>
			<div id="bfsDiamonds" class="bfs-poster__diamonds"></div>
		</div>
	</div>
</div>
