<div class="bfs-banner">

	<div class="bfs-banner__group to_left">
		<img src="./assets/pay-klarna.svg" loading="eager" alt="pay later with Klarna">
		<img src="./assets/pay-affirm.svg" loading="eager" alt="pay later with Affirm">
		<img src="./assets/pay-afterpay.svg" loading="eager" alt="pay later with Afterpay">
		<div class="bfs-banner__pay">
			<div>
				<div class="paylater-box">
					<div class="paylater-box__container">
						<div class="paylater-box__content">
							<div class="paylater-box__wrapper">
								<div class="paylater-box__row">
									<h3>Take the stress out of payments with our convenient up to 12-month installment plan
									</h3>
									<p>Buy the jewelry you want right now.</p>
									<p>During the checkout process, you will be redirected to the Affirm, Klarna or Afterpay page.</p>
									<p>If you are a new customer, you&#x27;ll need to create an account and provide some basic information.</p>
									<p>Once approved, they offers you a variety of repayment terms to choose from, allowing you to split your purchase into easy monthly installments</p>
								</div>
								<div class="paylater-box__row">
									<h3>Why To Use Service?</h3>
									<div class="paylater-box__features">
										<span>No Any Additional Fees</span>
										<span>No Credit Score Impact</span>
										<span>Quick &amp; Easy To Follow</span>
										<span>Personal Installments Plan</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>

	<a href="https://icebox.com/black-friday" class="bfs-banner__group to_center">
		<img src="./assets/bfs/banner_main-desktop.webp" loading="eager" alt="black friday badge" class="for_desktop">
		<img src="./assets/bfs/banner_main-mob.webp" loading="eager" alt="black friday badge" class="for_mobile">
	</a>

	<div class="bfs-banner__group to_right">
		<div class="bfs-banner__timer">
			<div class="bfs-banner__timer-title">Black Friday Ends In</div>
			<div class="bfs-banner__timer-wrap">
				<span id="bfs_timer_days">10</span>
				<span>:</span>
				<span id="bfs_timer_hours">10</span>
				<span>:</span>
				<span id="bfs_timer_min">10</span>
				<span>:</span>
				<span id="bfs_timer_sec">10</span>
			</div>
		</div>
	</div>

</div>
