<div class="black-banner">
	<div class="black-banner__wrapper">
		<div class="black-banner__background">
			<div class="black-banner__side">
				<div id="black-canvas-1" class="black-banner__canvas for_bf1"></div>
				<div class="black-banner__over-gradient"></div>
			</div>
			<div class="black-banner__side">
				<div id="black-canvas-2" class="black-banner__canvas for_bf2"></div>
				<div class="black-banner__over-gradient is-rotated"></div>
			</div>
		</div>
		<div class="black-banner__ticker-row">
			{% for i in 0..4 %}
				<div>
					<h4>Countless Deals!</h4>
					<span></span>
					<h5>Best Deals Ever</h5>
					<span></span>
					<h4>Massive Savings!</h4>
					<span></span>
					<h5>Best Deals Ever</h5>
					<span></span>
				</div>
			{% endfor %}
		</div>
		<div class="black-banner__main">
			<div class="black-banner__main-wrapper">
				<img loading="eager" alt="black friday" src="{{THEME_ASSETS_FOLDER}}promo/black-friday/2024/black-poster-2024.avif" class="black-banner__pic for_desk">
				<img loading="eager" alt="black friday" src="{{THEME_ASSETS_FOLDER}}promo/black-friday/2024/black-poster-2024_mobile.avif" class="black-banner__pic for_mob">
			</div>
		</div>
		<div class="black-banner__ticker-row to-reverse">
			{% for i in 0..4 %}
				<div>
					<h4>Countless Deals!</h4>
					<span></span>
					<h5>Best Deals Ever</h5>
					<span></span>
					<h4>Massive Savings!</h4>
					<span></span>
					<h5>Best Deals Ever</h5>
					<span></span>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
