<a href="/sale" class="bf-top-banner">
	<div class="bf-top-banner__img-wrap"><img loading="eager" src="{{THEME_ASSETS_FOLDER}}bf-top-banner-img.svg" alt="" class="bf-top-banner__img"></div>
	<div class="bf-top-banner__timer">
		<div class="bf-top-banner__timer-head">Black Friday Ends In</div>
		<div class="bf-top-banner__digits">
			<div data-black-timer="days" class="bf-top-banner__digit">00</div>
			<div class="bf-top-banner__divider">:</div>
			<div data-black-timer="hours" class="bf-top-banner__digit">00</div>
			<div class="bf-top-banner__divider">:</div>
			<div data-black-timer="minutes" class="bf-top-banner__digit">00</div>
			<div class="bf-top-banner__divider">:</div>
			<div data-black-timer="seconds" class="bf-top-banner__digit sec">00</div>
		</div>
	</div>
</a>