<label class="survey-select">
	<input type="radio" name="model" data-group="audemars" value="Royal Oak">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Royal Oak</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="audemars" value="Royal Oak Offshore">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Royal Oak Offshore</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="audemars" value="Royal Oak Concept">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Royal Oak Concept</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="audemars" value="Millenary">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Millenary</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="audemars" value="Code 11.59">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Code 11.59</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="audemars" value="Jules Audemars">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Jules Audemars</span>
		</div>
	</div>
</label>
