<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Navitimer">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Navitimer</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Chronomat">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Chronomat</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Superocean">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Superocean</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Avenger">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Avenger</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Premier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Premier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Aerospace">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Aerospace</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Transocean">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Transocean</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Colt">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Colt</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Top Time">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Top Time</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="breitling" value="Super Avenger">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Super Avenger</span>
		</div>
	</div>
</label>
