<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Panthère de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Panthère de Cartier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Pasha de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Pasha de Cartier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Ronde Solo de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Ronde Solo de Cartier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Clé de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Clé de Cartier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Santos de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Santos de Cartier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Calibre de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Calibre de Cartier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Diablo de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Diablo de Cartier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Tank de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Tank de Cartier</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="cartier" value="Baignoire de Cartier">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Baignoire de Cartier</span>
		</div>
	</div>
</label>
