<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Nautilus">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Nautilus</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Aquanaut">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Aquanaut</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Calatrava">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Calatrava</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Grand Complications">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Grand Complications</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Nautilus">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Nautilus</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Complications">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Complications</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Twenty~4">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Twenty~4</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Golden Ellipse">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Golden Ellipse</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="patek" value="Gondolo">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Gondolo</span>
		</div>
	</div>
</label>