<label class="survey-select">
	<input type="radio" name="model" data-group="richard" value="RM 011">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>RM 011</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="richard" value="RM 035">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>RM 035</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="richard" value="RM 037">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>RM 037</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="richard" value="RM 050">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>RM 050</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="richard" value="RM 055">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>RM 055</span>
		</div>
	</div>
</label>
<label class="survey-select">
	<input type="radio" name="model" data-group="richard" value="RM 061">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>RM 061</span>
		</div>
	</div>
</label>
