<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Datejust">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Datejust</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Air-King">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Air-King</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Datejust">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Datejust</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Date">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Date</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Day-Date">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Day-Date</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Daytona">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Daytona</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Explorer">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Explorer</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="GMT-Master II">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>GMT-Master II</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Milgauss">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Milgauss</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Oyster Perpetual">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Oyster Perpetual</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Oyster Precision">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Oyster Precision</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Pearl">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Pearl</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Sea-Dweller">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Sea-Dweller</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Sky-Dweller">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Sky-Dweller</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Submariner">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Submariner</span>
		</div>
	</div>
</label>

<label class="survey-select">
	<input type="radio" name="model" data-group="rolex" value="Yacht-Master">
	<div class="survey-select__box">
		<div class="survey-select__wrapper">
			<span>Yacht-Master</span>
		</div>
	</div>
</label>