<div class="product__item-option">
	<div class="product-option__head">
		<div class="product-option-name">{{option.name}}</div>
		<div class="product-option__head-right">
			<div class="product-option__dd-icon">
				<svg width="12" height="12" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 6L12 17L23 6" stroke="black" stroke-width="2.5"></path>
				</svg>
			</div>
		</div>
	</div>
	<div class="product-option__body" style="display:block;">
		<div class="product-option__wrapper">
			<textarea placeholder="Description..." class="form-control custom-fields-fetch" data-action="Fill in a " data-name="{{ option.name }}" name="customInputNew[field][{{option.id}}]" rows="5"></textarea>
		</div>
	</div>
</div>
