<div class="bf-banner">
	<div class="bf-banner__wrapper">
		<div class="bf-background">
			<div class="bf-background__side">
				<div class="dm-canvas-bf is-left bf-side_1"></div>
				<div class="bf-background__over"></div>
			</div>
			<div class="bf-background__side">
				<div class="dm-canvas-bf is-right bf-side_2"></div>
				<div class="bf-background__over is-flipped"></div>
			</div>
		</div>
		<div class="bf-text">
			<div class="bf-text__box is-top">
				<div class="bf-subtext">The Best Deal of the year!<span>Time Is Limited!</span>
				</div>
			</div>
      <img src="{{THEME_ASSETS_FOLDER}}bfs-text_1.avif" loading="eager" alt="" class="bf-text-img is-top">
      <img src="{{THEME_ASSETS_FOLDER}}bfs-text_2.avif" loading="eager" alt class="bf-text-img">
			<div class="bf-text__box is-bottom">
				<div class="bf-subtext is-bigger">Up To
					<span class="bg-subtext__span">70%</span>
					OFF</div>
			</div>
		</div>
		<div class="bf-ticker-row">
			<div class="bf-ticker-wrap">
				<div class="bf-ticker">
					<div>Countless Deals!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">HUrry! Deals end!</div>
					<div class="bf-ticker__divider"></div>
					<div>Massive Savings!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">Fresh sales hourly!</div>
					<div class="bf-ticker__divider"></div>
				</div>
				<div class="bf-ticker">
					<div>Countless Deals!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">HUrry! Deals end!</div>
					<div class="bf-ticker__divider"></div>
					<div>Massive Savings!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">Fresh sales hourly!</div>
					<div class="bf-ticker__divider"></div>
				</div>
				<div class="bf-ticker">
					<div>Countless Deals!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">HUrry! Deals end!</div>
					<div class="bf-ticker__divider"></div>
					<div>Massive Savings!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">Fresh sales hourly!</div>
					<div class="bf-ticker__divider"></div>
				</div>
				<div class="bf-ticker">
					<div>Countless Deals!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">HUrry! Deals end!</div>
					<div class="bf-ticker__divider"></div>
					<div>Massive Savings!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">Fresh sales hourly!</div>
					<div class="bf-ticker__divider"></div>
				</div>
				<div class="bf-ticker">
					<div>Countless Deals!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">HUrry! Deals end!</div>
					<div class="bf-ticker__divider"></div>
					<div>Massive Savings!</div>
					<div class="bf-ticker__divider"></div>
					<div class="bf-ticker__spot-typo">Fresh sales hourly!</div>
					<div class="bf-ticker__divider"></div>
				</div>
			</div>
		</div>
	</div>
</div>
