<div
	class="care-banner">

	{# Background #}
	<div class="sub-background">
		<div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div></div>
	</div>

	{# Soap overlay #}
	<div class="care-banner__soap">
		<canvas id="soap_overlay"></canvas>
	</div>

	{# Main #}
	<div class="care-banner__wrapper wrapper">
		<h1>Restore the brilliance of your fine jewelry and timepieces<br>with our Premium Jewelry Care System</h1>
		<p>Designed for the care and maintenance of your collections to effortlessly clean gold, silver, platinum and stainless steel at home or on-the-go.</p>
		<div class="hor-scroller">
			<div class="care-box-info">
				<img alt="Gentle Cleaning Solution" src="{{THEME_ASSETS_FOLDER}}care_1.avif" loading="lazy">
				<div>
					<span>Gentle</span>
					<span>Cleaning Solution</span>
					<button data-care-open="cleaning">How To Use</button>
				</div>
			</div>
			<div class="care-box-info">
				<img alt="Polishing Cloth" src="{{THEME_ASSETS_FOLDER}}care_2.avif" loading="lazy">
				<div>
					<span>Premium</span>
					<span>Polishing Cloth</span>
					<button data-care-open="cloth">How To Use</button>
				</div>
			</div>
			<div class="care-box-info">
				<img alt="Foaming Cleanser" src="{{THEME_ASSETS_FOLDER}}care_3.avif" loading="lazy">
				<div>
					<span>Gentle</span>
					<span>Foaming Cleanser</span>
					<button data-care-open="cleanser">How To Use</button>
				</div>
			</div>
			<div class="care-box-info">
				<img alt="Jewelry Pouches" src="{{THEME_ASSETS_FOLDER}}care_4.avif" loading="lazy">
				<div>
					<span>Protective</span>
					<span>Jewelry Pouches</span>
					<button data-care-open="pouch">How To Use</button>
				</div>
			</div>
		</div>
	</div>
</div>
