<div class="filter-modal">
	<div class="filter-modal__handler"></div>
	<div class="filter-modal__header">Filters</div>
	<div class="filter-modal__body">
		<div class="filter-modal__filter-list"></div>
		<div class="filter-modal__options"></div>
	</div>
	<div class="filter-modal__footer">
		<button data-evt="closeFilterModal" class="filter-modal__btn --sub">Close</button>
		{# <button class="filter-modal__btn --clear">Clear</button> #}
		<button data-evt="closeFilterModal" onclick="submitMobileFilters()" class="filter-modal__btn">Apply</button>
	</div>
</div>
