<div class="results-bar">
	<div class="wrapper">
		<div class="results-bar__wrapper">
			<div class="results__show">Showing
				<span>89</span>
				{% if category %}
          {{category.heading}}
        {% else %}
          items
        {% endif %}</div>
			{# <div class="results-bar__group">
				<div class="filter-dropdown">
					<div class="filter-dropdown__main">
						<div>Sort:
							<span class="filter-dropdown__current">Newest First</span>
						</div>
						<svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1 7L12 18L23 7" stroke="currentColor" stroke-width="3"></path>
						</svg>
					</div>
					<div class="filter-dropdown__list">
						<div>
							<a onclick="updateSortByFilter('Newest');">Newest First</a>
							<a onclick="updateSortByFilter('Popular');">Popular</a>
							<a onclick="updateSortByFilter('Low');">Price: Low - High</a>
							<a onclick="updateSortByFilter('High');">Price: High - Low</a>
							<a onclick="updateSortByFilter('Best-Sellers');">Best Sellers</a>
							<a onclick="updateSortByFilter('Rat-viewed');">Most Viewed</a>
						</div>
					</div>
				</div>
			</div> #}
		</div>
	</div>
</div>
