<div class="results-sub">
	<div class="results-sub__wrap">
		{% if gender == 'men' %}
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-pendants.webp" loading="lazy" alt="">
				<span>Pendants</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-gold-chains.webp" loading="lazy" alt="">
				<span>Gold Chains</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-necklaces.webp" loading="lazy" alt="">
				<span>Necklaces</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-earrings.webp" loading="lazy" alt="">
				<span>Earrings</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-rings.webp" loading="lazy" alt="">
				<span>Rings</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-bracelets.webp" loading="lazy" alt="">
				<span>Bracelets</span>
			</a>
		{% endif %}
		{% if gender == 'women' %}
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_women-pendants.webp" loading="eager" alt="">
				<span>Pendants</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_women-gold-chains.webp" loading="eager" alt="">
				<span>Gold Chains</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_women-necklaces.webp" loading="eager" alt="">
				<span>Necklaces</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_women-earrings.webp" loading="eager" alt="">
				<span>Earrings</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_women-rings.webp" loading="eager" alt="">
				<span>Rings</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_women-bracelets.webp" loading="eager" alt="">
				<span>Bracelets</span>
			</a>
		{% endif %}
		{% if collection == 'engagement' %}
			<a href="#" class="results-sub__item pad_4">
				<div>
					<img src="./assets/diamond-ring_round.webp" loading="eager" alt="">
				</div>
				<span>Round</span>
			</a>
			<a href="#" class="results-sub__item pad_4">
				<div>
					<img src="./assets/diamond-ring_oval.webp" loading="eager" alt="">
				</div>
				<span>Oval</span>
			</a>
			<a href="#" class="results-sub__item pad_4">
				<div>
					<img src="./assets/diamond-ring_princess.webp" loading="eager" alt="">
				</div>
				<span>Princess</span>
			</a>
			<a href="#" class="results-sub__item pad_4">
				<div>
					<img src="./assets/diamond-ring_emerald.webp" loading="eager" alt="">
				</div>
				<span>Emerald</span>
			</a>
			<a href="#" class="results-sub__item pad_4">
				<div>
					<img src="./assets/diamond-ring_pear.webp" loading="eager" alt="">
				</div>
				<span>Pear</span>
			</a>
			<a href="#" class="results-sub__item pad_4">
				<div>
					<img src="./assets/diamond-ring_wedding.webp" loading="eager" alt="">
				</div>
				<span>Wedding Bands</span>
			</a>
		{% endif %}
		{% if collection == 'xmas' %}
			<div class="results-sub__item --xmas-guide">
				<img src="./assets/xmas/magic-star.webp" loading="eager" alt="">
				<span>Holiday Guide</span>
			</div>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-pendants.webp" loading="eager" alt="">
				<span>For Him</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_women-bracelets.webp" loading="eager" alt="">
				<span>For Her</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-earrings.webp" loading="eager" alt="">
				<span>Best Offers</span>
			</a>
			<a href="#" class="results-sub__item">
				<img src="./assets/sub_men-necklaces.webp" loading="eager" alt="">
				<span>In Stock</span>
			</a>
		{% endif %}
		{% if collection == 'std' %}
			<a href="#" class="results-sub__item">
				<div>
					<img src="./assets/tab-pendants.webp" loading="lazy" alt="">
				</div>
				<span>Pendants</span>
			</a>
			<a href="#" class="results-sub__item">
				<div>
					<img src="./assets/tab-earrings.webp" loading="lazy" alt="">
				</div>
				<span>Earrings</span>
			</a>
			<a href="#" class="results-sub__item">
				<div>
					<img src="./assets/tab-necklaces.webp" loading="lazy" alt="">
				</div>
				<span>Necklaces</span>
			</a>
			<a href="#" class="results-sub__item">
				<div>
					<img src="./assets/tab-rings.webp" loading="lazy" alt="">
				</div>
				<span>Rings</span>
			</a>
			<a href="#" class="results-sub__item">
				<div>
					<img src="./assets/tab-bracelets.webp" loading="lazy" alt="">
				</div>
				<span>Bracelets</span>
			</a>
			<a href="#" class="results-sub__item">
				<div>
					<img src="./assets/tab-watches.webp" loading="lazy" alt="">
				</div>
				<span>Watches</span>
			</a>
			<a href="#" class="results-sub__item">
				<div>
					<img src="./assets/tab-custom.webp" loading="lazy" alt="">
				</div>
				<span>Custom</span>
			</a>
		{% endif %}
	</div>
</div>
