<div class="sale-banner-tape">
	<div>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
	</div>
	<div>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
	</div>
	<div>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
		<span>Limited Time</span>
		<span>UP TO 50% SALE</span>
	</div>
</div>

<div class="res-banner res-banner_sale">
	<img src="./assets/banners/result_banner-gold-chains.webp" loading="eager" sizes="100vw" alt="">
	<div class="sale-banner__main">
		<div class="sale-banner__tape">
			<div>
				<span>SALE</span>
				<span>SALE</span>
			</div>
			<div>
				<span>SALE</span>
				<span>SALE</span>
			</div>
			<div>
				<span>SALE</span>
				<span>SALE</span>
			</div>
		</div>
		<div class="sale-banner__description">
			<div class="sale-banner__heading">
				<span>Up To</span>50%<span>Off</span>
			</div>
			<div class="sale-banner__subheading">SALE<span>Limited time. Shop Now and Pay Later!</span>
			</div>
		</div>
	</div>
</div>
