{% set sale_value = 50 %}
{% set default_heading = 'Luxury Diamond &amp; Gold Jewelry Sale' %}
{% set default_subheading = "Discover extraordinary value at <b>Icebox's exclusive sales event</b>, where luxury meets unprecedented savings on our finest jewelry collections. From stunning <b>diamond pendants</b> that capture light magnificently to substantial <b>gold chains on sale</b> in iconic styles, each discounted piece maintains our uncompromising standards of craftsmanship and quality. Our selection incudes premium <b>earrings for women</b> featuring brilliant stones alongside bold statement pieces for men, all crafted from authentic materials including <b>14K solid gold.</b>" %}

<div class="sale-banner">
  <div class="sale-banner__marquee --top">
    {% for i in 1..30 %}
      <span>UP TO {{ sale_value }}% SALE</span>
    {% endfor %}
  </div>
  <div class="sale-banner__content">
    <h1 class="sale-banner__heading">{{ sale_page_heading ?? default_heading }}</h1>
    <p class="sale-banner__subheading">
      {{ sale_page_subheading ?? default_subheading }}
    </p>
  </div>
  <div class="sale-banner__marquee --bottom">
    {% for i in 1..30 %}
      <span>UP TO {{ sale_value }}% SALE</span>
    {% endfor %}
  </div>
</div>
