<div class="results-sub">
	<div class="results-sub__wrap">
		{% if gender == 'men' %}
			<div class="results-sub__item">
				<img src="./assets/sub_men-pendants.webp" loading="lazy" alt="">
				<span>Pendants</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_men-gold-chains.webp" loading="lazy" alt="">
				<span>Gold Chains</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_men-necklaces.webp" loading="lazy" alt="">
				<span>Necklaces</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_men-earrings.webp" loading="lazy" alt="">
				<span>Earrings</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_men-rings.webp" loading="lazy" alt="">
				<span>Rings</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_men-bracelets.webp" loading="lazy" alt="">
				<span>Bracelets</span>
			</div>
		{% endif %}
		{% if gender == 'women' %}
			<div class="results-sub__item">
				<img src="./assets/sub_women-pendants.webp" loading="eager" alt="">
				<span>Pendants</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_women-gold-chains.webp" loading="eager" alt="">
				<span>Gold Chains</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_women-necklaces.webp" loading="eager" alt="">
				<span>Necklaces</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_women-earrings.webp" loading="eager" alt="">
				<span>Earrings</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_women-rings.webp" loading="eager" alt="">
				<span>Rings</span>
			</div>
			<div class="results-sub__item">
				<img src="./assets/sub_women-bracelets.webp" loading="eager" alt="">
				<span>Bracelets</span>
			</div>
		{% endif %}
	</div>
</div>
