<div class="sticky-filters">
	<button data-filter-evt="openSort">
		{% include "./svg/sort.svg" %}
		<span>Sort By</span>
	</button>
	<button data-filter-evt="openFilter">
		{% include "./svg/filter.svg" %}
		<span>Filters</span>
	</button>
</div>
