<div class="results__notice-wrap">
	<div class="wrapper">
		<div class="results-notice">
			<svg width="22" height="22" viewbox="0 0 17 22">
				<path fill="currentColor" d="M12.012 0l2.016 4.689A8.418 8.418 0 0116.872 11c0 2.508-1.1 4.764-2.844 6.311L12.012 22H4.86l-2.016-4.689A8.417 8.417 0 010 11a8.418 8.418 0 012.845-6.311L4.86 0h7.15zm-.85 1.29H5.71l-.901 2.095c1.1-.526 2.33-.821 3.627-.821 1.298 0 2.528.295 3.628.82l-.901-2.095zM5.71 20.71h5.453l.9-2.095c-1.099.526-2.329.821-3.627.821a8.386 8.386 0 01-3.627-.82l.9 2.095zM1.289 11c0 3.941 3.206 7.147 7.147 7.147 3.941 0 7.147-3.206 7.147-7.147 0-3.94-3.206-7.147-7.147-7.147-3.94 0-7.147 3.206-7.147 7.147zm2.062-2.192l.644-1.116 1.588.916-.644 1.117-1.588-.917zm1.587 3.467l-1.587.917.644 1.116 1.588-.916-.645-1.117zm2.854 2.392H9.08V16.5H7.79v-1.833zm4.142-2.391l-.645 1.116 1.588.917.644-1.117-1.587-.916zM9.08 9.884l3.002-1.734.645 1.117-3.97 2.291L7.792 11V5.5H9.08v4.384z"></path>
			</svg>
			<span>Icebox is not an authorized dealer of any brands of watches. We <span>only sell unworn and pre-owned</span> watches.</span>
		</div>
	</div>
</div>
