<div class="ny-banner">

	<div class="ny-banner__garland">
		<img src="./assets/new-year/stars.webp" loading="eager" alt="">
		<img src="./assets/new-year/garland.webp" loading="eager" alt="" class="to-reverse">
		<img src="./assets/new-year/garland.webp" loading="eager" alt="">
	</div>

	<div class="ny-banner__content">
		<img src="./assets/new-year/desk_gift.webp" loading="eager" alt="" class="ny-decor_desktop">
		<img src="./assets/new-year/mob_decor.webp" loading="eager" alt="" class="ny-decor_mob">
		<div class="ny-banner__details">
			<div class="ny-banner-tag">
				<span>SALES UP TO 70% OFF</span>
			</div>
			<img src="./assets/new-year/desk_title.webp" loading="eager" alt="" class="ny-banner-title desktop_view">
			<img src="./assets/new-year/mob_title.webp" loading="eager" alt="" class="ny-banner-title mob_view">
			<div class="ny-banner-subtitle">All orders will be processed on
				<span>January 5th</span><br>when we return from holiday break.
			</div>
			<img src="./assets/new-year/desk_decor.webp" loading="eager" alt="" class="ny-dtree to-reverse">
			<img src="./assets/new-year/desk_decor.webp" loading="eager" alt="" class="ny-dtree">
		</div>
		<img src="./assets/new-year/mob_decor.webp" loading="eager" alt="" class="ny-decor_mob to-reverse">
		<img src="./assets/new-year/desk_gift.webp" loading="eager" alt="" class="ny-decor_desktop to-reverse">
		<img src="./assets/new-year/mob_tree.webp" loading="eager" alt="" class="ny-mtree to-reverse">
		<img src="./assets/new-year/mob_tree.webp" loading="eager" alt="" class="ny-mtree">
	</div>

	<div id="nyParticlesSnow" class="ny-banner__snow"></div>
	<div class="ny-banner__firework">
		<canvas id="nyFirework"></canvas>
	</div>
</div>
