<div class="empty-content">
	<h3>This page not found.</h3>
	<p>This page doesnt' exist. Keep exploring by category.</p>
	<div class="empty-page__search">
		<div class="empty-page__input-wrap">
			<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.5 16C12.6422 16 16 12.6422 16 8.5C16 4.35786 12.6422 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6422 4.35786 16 8.5 16Z" stroke="currentColor" stroke-width="1"></path>
				<path d="M18.3335 18.3334L14 13.9999" stroke="currentColor" stroke-width="1"></path>
			</svg>
			<input type="text" maxlength="256" placeholder="Search for jewelry..." required>
			<button>Find</button>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="nopage__archive-header">Categories</div>
	<div class="nopage__categories">
		{% for link in categories_tabs %}
			{% include "elements/general/tab-link.twig" %}
		{% endfor %}
	</div>
</div>

<a href="https://www.icebox.com" class="nopage__bottom-link">Back To Homepage</a>
