<div class="results-empty">
	<div class="wrapper">
		<h1 class="nopage__heading">This Page Not Found</h1>
		<p class="nopage__subheading">This page doesn't exist. Keep exploring by category.</p>
	</div>
</div>

<div class="wrapper">
	<div class="nopage__archive-header">Categories</div>
	<div class="nopage__categories">
		{% for link in categories_tabs %}
			{% include "elements/general/tab-link.twig" %}
		{% endfor %}
	</div>
</div>

<a href="https://www.icebox.com" class="nopage__bottom-link">Back To Homepage</a>
