<div class="about-page__background">
	<div class="about-page__background-lines">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="about-page__background-fade"></div>
</div>

<div class="about-page__content">
	<div
		class="about-page__wrapper">

		<!-- About -- Welcome -->
		<section class="about-page__area">
			<div class="about-title-group">
				<h5 class="about-title-spot">Delivering Exceptional Luxury Experiences</h5>
				<h1 class="about-page__main-heading">INSIDE ICEBOX</h1>
				<p class="about-page__subheading">Icebox Diamonds & Watches has quickly become
					<span>the
						                most popular independent jewelry brand in the world.</span>
				</p>
			</div>
			<div class="about-title-img">
				<div class="about-title-img__wrapper">
					<img src="./assets/about-us/about-us__store-pic.webp" loading="eager" alt="Icebox Atlanta Flagship Store">
					<img src="./assets/about-us/about-us__nike-pic.webp" loading="eager" alt="Icebox x Nike Collab">
				</div>
			</div>
			<div class="about-quote">
				<span>&quot;</span>
				<p>A family-owned business, Icebox is dedicated to providing innovative designs, superior
					              materials, and expert craftsmanship, upholding the brand's legacy traits while delivering exceptional
					              luxury experiences.</p>
				<div class="about-page-arrow about-page-arrow_white"></div>
			</div>
		</section>

		<section class="about-row">
			<div class="about-page__area">
				<div class="about-row-box">
					<div class="about-row-box__wrapper">
						<h3 class="about-row__heading">A Legacy Brand Values</h3>
						<img src="./assets/about-us/about-us__family-pic.webp" loading="lazy" alt="Icebox Family" class="about-row__img">
					</div>
					<div class="about-row__details">
						<span class="about-row__head-line"></span>
						<p class="about-row__details-heading">Since the company's inception in 1976, the founding members,
							                  Mike and Dinar Jooma pursued the American dream by growing their own company.</p>
						<p class="about-row__outline">Today, their three sons, second generation jewelers Mo, Rafi, and Zahir
							                  Jooma collaborate to continue the legacy of entrepreneurship that has spanned over four decades. After
							                  growing up in the business and learning from both challenges and successes, the brothers have
							                  introduced innovative ideas and cutting-edge technology to advance the business in today's
							                  evolving consumer market.</p>
					</div>
				</div>
			</div>
			<div class="about-page-arrow"></div>
		</section>

		<section class="about-row white_background">
			<div class="about-page__area">
				<div class="about-row-box">
					<div class="about-row__details">
						<span class="about-row__head-line"></span>
						<p class="about-row__details-heading">Visit The Icebox Factory at our
							<a href="#">Atlanta
								                    Flagship Store</a>, where craftsmen and designers work on-site to create in-stock and custom
								                  designs using only natural diamonds and solid 14K Gold.</p>
						<p class="about-row__outline">As an industry leader, our diverse range of competencies sets the
							                  standard. In-house creative teams continue to develop the breath of our brand catalogue, introducing
							                  products and experience are to the Icebox name.</p>
					</div>
					<div class="about-row-box__wrapper">
						<h3 class="about-row__heading">Atlanta Flagship Store</h3>
						<img src="./assets/about-us/about-us__atlanta-pic.jpeg" loading="lazy" alt="Atlanta Flagship" class="about-row__img">
					</div>
				</div>
			</div>
			<div class="about-page-arrow about-page-arrow_white"></div>
		</section>

		<section class="about-row">
			<div class="about-page__area">
				<div class="about-row-box">
					<div class="about-row-box__wrapper">
						<h3 class="about-row__heading">More Than Just Jewelry</h3>
						<img src="./assets/about-us/about-us__jewelry-pic.jpeg" loading="lazy" alt="Atlanta Jewelry Icebox" class="about-row__img">
					</div>
					<div class="about-row__details">
						<span class="about-row__head-line"></span>
						<p class="about-row__details-heading">Icebox creates bespoke accessories to add a touch of opulence to
							                  your adventures and home.</p>
						<p class="about-row__outline">Explore the world in style with our sophisticated Travel Collections, with
							                  fine grain genuine leather jewelry and watch cases. Dresser Caddys and Vault Trays feature our
							                  hallmark genuine leather embroidered Icebox Stud pattern and soft, padded ultra suede interiors,
							                  resulting in flexible yet compact storage features.</p>
					</div>
				</div>
			</div>
			<div class="about-page-arrow"></div>
		</section>

		<section class="about-row white_background">
			<div class="about-page__area">
				<div class="about-row-box">
					<div class="about-row__details">
						<span class="about-row__head-line"></span>
						<p class="about-row__details-heading">Icebox has become globally recognized for creating intricate
							                  custom jewelry designs. Our team of talented in-house designers and craftsmen bring ideas to life in
							                  fine quality natural diamonds and gold.</p>
						<p class="about-row__outline">Icebox is renowned as one of the world's most skilled custom jewelry
							                  fabricators. To date, we've created over 4,000 amazing and intricate custom-designed pieces, each
							                  a work of art and testament to our master craftsmanship and quality brand legacy.</p>
					</div>
					<div class="about-row-box__wrapper">
						<h3 class="about-row__heading">Unique Custom Jewelry</h3>
						<img src="./assets/about-us/about-us__custom-pic.jpeg" loading="lazy" alt="Custom Jewelry" class="about-row__img">
					</div>
				</div>
			</div>
		</section>

		<section class="follow-block">
			<div class="about-page__area no-mobile-margin">
				<div class="follow-block__container">
					<div class="follow-block__content-group">
						<div class="follow-block__heading-group">
							<h4 class="follow-block__heading">FOLLOW US, LIKE US, TAG US!</h4>
						</div>
						<div class="follow-block__description">
							<h4 class="follow-block__description-title">Icebox has over 15 Million followers across social media
								                    platforms -</h4>
							<p class="follow-block__outline">social influence at the level of the world's largest and most famous
								                    jewelry stores - with followers tuning in weekly to see the latest celebrity and jewelry postings.
							</p>
						</div>
					</div>
					<div class="follow-block__content-group">
						<div class="follow-block__box-grid">

							<a href="https://www.youtube.com/c/Icebox" class="follow-box">
								<div class="follow-box__wrapper">
									<div class="follow-box__content">
										<div class="follow-box__title-group">
											<div class="follow-box__heading">YouTube</div>
											<div class="follow-box__outline">
												<span>2,000,000 +</span>subscribers and over
													                            150 videos</div>
										</div><img src="./assets/about-us/about-us__youtube.svg" loading="lazy" alt="" class="follow-box__social-img">
									</div>
									<div class="follow-box__footer">
										<span>Weekly video premier!</span>
									</div>
								</div>
							</a>

							<a href="https://www.tiktok.com/@icebox" class="follow-box">
								<div class="follow-box__wrapper">
									<div class="follow-box__content">
										<div class="follow-box__title-group">
											<div class="follow-box__heading">TikTok</div>
											<div class="follow-box__outline">
												<span>7,400,000+</span>followers and over 200
													                            millions likes</div>
										</div><img src="./assets/about-us/about-us__tiktok.svg" loading="lazy" alt="" class="follow-box__social-img">
									</div>
									<div class="follow-box__footer">
										<span>Follow Us</span>
									</div>
								</div>
							</a>

							<a href="https://www.instagram.com/icebox/" class="follow-box">
								<div class="follow-box__wrapper">
									<div class="follow-box__content">
										<div class="follow-box__title-group">
											<div class="follow-box__heading">Instagram</div>
											<div class="follow-box__outline">
												<span>4,400,000+</span>followers</div>
										</div><img src="./assets/about-us/about-us__instagram.svg" loading="lazy" alt="" class="follow-box__social-img">
									</div>
									<div class="follow-box__footer">
										<span>Follow Us</span>
									</div>
								</div>
							</a>

							<a href="https://twitter.com/Iceboxdesign" class="follow-box">
								<div class="follow-box__wrapper">
									<div class="follow-box__content">
										<div class="follow-box__title-group">
											<div class="follow-box__heading">Twitter</div>
											<div class="follow-box__outline">
												<span>33,000+</span>followers</div>
										</div><img src="./assets/about-us/about-us__twitter.svg" loading="lazy" alt="" class="follow-box__social-img">
									</div>
									<div class="follow-box__footer">
										<span>Daily tweets</span>
									</div>
								</div>
							</a>

							<a href="https://www.snapchat.com/p/76d86003-980f-4fa7-ae24-85adc580de82/1436223366033408" class="follow-box">
								<div class="follow-box__wrapper">
									<div class="follow-box__content">
										<div class="follow-box__title-group">
											<div class="follow-box__heading">Snapchat</div>
											<div class="follow-box__outline">
												<span>1,000,000+<br></span>followers</div>
										</div><img src="./assets/about-us/about-us__snapchat.svg" loading="lazy" alt="" class="follow-box__social-img">
									</div>
									<div class="follow-box__footer">
										<span>Follow Us</span>
									</div>
								</div>
							</a>

							<a href="https://www.facebook.com/Icebox/" class="follow-box">
								<div class="follow-box__wrapper">
									<div class="follow-box__content">
										<div class="follow-box__title-group">
											<div class="follow-box__heading">Facebook</div>
											<div class="follow-box__outline">
												<span>900,000+</span>
												followers</div>
										</div><img src="./assets/about-us/about-us__facebook.svg" loading="lazy" alt="" class="follow-box__social-img">
									</div>
									<div class="follow-box__footer">
										<span>Follow Us</span>
									</div>
								</div>
							</a>

						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
