<div class="formpage__wrapper">

	<div class="formpage__header">
		<a href="#" class="formpage__logo">
			<img src="./assets/admin_logo.svg" loading="eager">
		</a>
		<h1>Add Watch(es)</h1>
	</div>

	<div class="formpage__form-wrap">
		<form id="formpage_form" method="get" class="formpage__form form__add-watches">

			<div class="formpage__input-box">
				<label>Upload Images</label>
				<div class="formpage__input-wrap">
					<label class="formpage__upload-label formpage__watches-label" for="watches_upload">
						<p>Click OR Drag &amp; Drop To Upload Images</p>
						<input class="formpage__input" type="file" name="files[]" id="watches_upload" multiple accept="image/jpeg, image/png, image/webp, image/gif,">
					</label>
				</div>
				<div class="formpage__images-thumbnails formpage__watches-thumb"></div>
			</div>

			<div class="formpage__submit-wrap">
				<button>SUBMIT</button>
			</div>

		</form>
	</div>
</div>
