{% set featured = articles.featured %}
{% set list = articles.list %}

<div class="main_blog">

	<div class="blog__featured">
		{% include "elements/blog-post.twig" with {
      article: featured
    } %}
	</div>

	<div class="blog__posts">
		<div class="blog__wrapper">
			<div class="blog__posts-grid">
				{% for article in 0..5 %}
					{% include "elements/blog-post.twig" with {
          article: list[0]
        } %}
				{% endfor %}
			</div>
		</div>

		<div class="blog__pagination">
			<button onclick="" class="blog__load-btn">Load More</button>
		</div>
	</div>
</div>
