<div class="custom-page">

<div class="custom-page__t2">
			<div class="custom-page__t2-details">
				<div class="wrapper">
					<div class="custom-page__t2-content">
						<h4 class="custom-page__main-typo">Icebox custom pendants are made with
							<span>world-class</span>
							technology and experience to make the best custom pieces in the market.</h4>
						<p class="custom-page__t2-typo">Icebox offers the best customer service for custom jewelry design and creation on the market. Make a deposit now and we will make your design a reality.</p>
						<a href="#" class="custom-page__btn">Add To Cart<span>$1000</span>
						</a>
						<p class="custom-page__note">
							<span>Please note:</span>
							If you decide not to make your pendant the sale is final and your deposit will not be returned.</p>
					</div>
				</div>
			</div>

			<div class="custom-page__taper">
				<div>
					<div class="taper-2">
						<img src="./assets/custom/cst-taper1_1.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_2.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_3.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_4.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_5.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_6.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_7.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_8.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_9.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_10.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_11.webp" loading="eager" alt="">
					</div>
					<div class="taper-2">
						<img src="./assets/custom/cst-taper1_1.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_2.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_3.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_4.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_5.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_6.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_7.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_8.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_9.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_10.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper1_11.webp" loading="eager" alt="">
					</div>
				</div>

				<div>
					<div class="taper-1">
						<img src="./assets/custom/cst-taper2_1.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_2.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_3.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_4.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_5.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_6.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_7.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_8.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_9.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_10.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_11.webp" loading="eager" alt="">
					</div>
					<div class="taper-1">
						<img src="./assets/custom/cst-taper2_1.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_2.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_3.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_4.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_5.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_6.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_7.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_8.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_9.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_10.webp" loading="eager" alt="">
						<img src="./assets/custom/cst-taper2_11.webp" loading="eager" alt="">
					</div>
				</div>
			</div>
		</div>

    
	<div class="custom-page__main">
		<div class="custom-page__media">
			<img src="./assets/custom/cst-media_1.webp" loading="eager" alt="">
			<img src="./assets/custom/cst-media_2.webp" loading="eager" alt="">
			<img src="./assets/custom/cst-media_3.webp" loading="eager" alt="">
			<img src="./assets/custom/cst-media_4.webp" loading="eager" alt="">
			<img src="./assets/custom/cst-media_5.webp" loading="eager" alt="">
			<img src="./assets/custom/cst-media_6.webp" loading="eager" alt="">
		</div>
		<div class="custom-page__sticky-holder">
			<div class="custom-page__sticky">
				<span class="custom-page__ship-badge">Made To Order. 4 - 6 Weeks After Approval</span>
				<h1 class="custom-page__item-name">Custom Design Deposit</h1>
				<span class="custom-page__item-include">Solid 14K Gold, VS Diamonds, Consultation</span>
				<span class="custom-page__item-price">$1,000 USD</span>
				<a href="#" class="custom-page__btn">Add To Cart<span>$1000</span>
				</a>
				<div>
					<p class="custom-page__note">
						<span>Please note:</span>
						If you decide not to make your pendant the sale is final and your deposit will not be returned.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="custom-page__details">

		<div class="wrapper">
			<div class="custom-page__t1">
				<div class="custom-page__t1-content">
					<p class="custom-page__main-typo">The deposit $1000 will be used to design your custom pendant, and it will be used as a credit towards your custom pendant. Custom design pieces start at a
						<span>minimum $5,000</span>
						and can go up very high depending on the size you choose.</p>
					<p class="custom-page__sub-typo">We will make your design after your payment, and then we will give you the price quote in multiple sizes, to help you decide which one you would like.<br></p>
					<a href="#" class="custom-page__btn">Add To Cart<span>$1000</span>
					</a>
				</div>
				<img src="./assets/custom/cst-media_7.webp" loading="lazy" alt="">
			</div>
		</div>

		<div class="custom-page__gallery">
			<div class="custom-page__gallery-grid">
				<img src="./assets/custom/cst-gallery_1.webp" loading="lazy" alt="">
				<img src="./assets/custom/cst-gallery_2.webp" loading="lazy" alt="">
				<img src="./assets/custom/cst-gallery_3.webp" loading="lazy" alt="" class="mobile_only">
				<img src="./assets/custom/cst-gallery_4.webp" loading="lazy" alt="" class="mobile_only">
				<img src="./assets/custom/cst-gallery_5.webp" loading="lazy" alt="">
			</div>
		</div>

		<a href="https://www.instagram.com/icebox/" target="_blank" class="custom-page__social-btn">
			<img src="./assets/instagram-icon.svg" loading="lazy" alt="">
			<span>See More On Instagram</span>
		</a>
	</div>

</div>
