<div class="results-content">
	{% include "elements/promo/cyber-week/2024/results-banner.twig" %}

	<div class="results__wrap">
		<div class="results__main">

			{% include "elements/results/results-sub.twig" %}
			{% include "elements/results/page-filters.twig" %}
			{% include "elements/results/filter-modal.twig" %}
			{% include "elements/results/results-bar.twig" %}

			<div class="results-cards-content">
				<div class="wrapper">

					<div class="promo-counter-row">
						<div class="expire-tab --cm">
							<div class="expire-tab__heading">EXPIRES IN:</div>
							<div class="expire-tab__grid">
								<div>
									<span data-cyber-timer="days">00</span>
									<span>Days</span>
								</div>
								<div>
									<span data-cyber-timer="hours">00</span>
									<span>Hours</span>
								</div>
								<div>
									<span data-cyber-timer="minutes">00</span>
									<span>Min</span>
								</div>
							</div>
						</div>
					</div>

					<div class="results__main-wrapper">
						<div class="results__items">
							<div class="cards-grid">
								{% include "elements/pay-card.twig" %}
								{% for item in sale_items %}
									{% include "elements/product-card.twig" with {
                    productItem: item,
                    promo_bfs: true
                  }%}
								{% endfor %}
							</div>
							{% if pages is defined %}
								{% if pages > 1 %}
									<div class="content-preloader">
										<span></span>
									</div>
								{% endif %}
							{% else  %}
								<div class="content-preloader">
									<span></span>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
