<div class="empty-page">
	<div class="empty-content">
		<h3>No results were found for &quot;<span>{{user.searchQuery}}</span>&quot;</h3>
		<p>Try to change keywords or explore our dazzling jewelry by category</p>
		<div class="empty-page__search">
			<div class="empty-page__input-wrap">
				<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.5 16C12.6422 16 16 12.6422 16 8.5C16 4.35786 12.6422 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6422 4.35786 16 8.5 16Z" stroke="currentColor" stroke-width="1"></path>
					<path d="M18.3335 18.3334L14 13.9999" stroke="currentColor" stroke-width="1"></path>
				</svg>
				<input type="text" maxlength="256" placeholder="Search for jewelry..." required>
				<button>Find</button>
			</div>
		</div>
	</div>
	<div class="empty-page__categories">
  {% include 'components/general/categories-tabs.twig' %}
  </div>
</div>
