<div class="subpage-content">
  <div class="sub-box">
    <div class="sub-background">
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div></div>
    </div>
    <div class="sub-welcome">
      <div class="sub-wrapper">
        <div class="sub-welcome__group">
          <div class="sub-welcome__title">
            <h2 class="sub-welcome__heading">FREQUENTLY ASKED QUESTIONS</h2>
            <p class="sub-welcome__subheading">
              Choose your topic to find answers related to your topic of interest.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-box">
    <div class="sub-wrapper">
      <div class="sub-box__double-content">
        <div class="sub-box__sidebar">
          <div class="sub-box__sidebar-wrapper">
            <a href="#faq_1">General</a>
            <a href="#faq_2">Orders</a>
            <a href="#faq_3">Shipment</a>
            <a href="#faq_4">Payments</a>
            <a href="#faq_5">Security &amp; Warranty</a>
          </div>
        </div>

        <div class="sub-box__main">
          <div class="sub-box__rows-wrapper">
            <!-- General -->
            <ul role="list" class="faq-list" id="faq_1">
              <h4>General</h4>
              <li>
                <div class="faq-head">
                  <h6>DO YOU BUY DIAMONDS, WATCHES OR GOLD JEWELRY?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Yes, we buy natural diamonds over 1.00 carat, natural diamond jewelry, watches, and gold jewelry. If you have pieces you’d like to sell, please call us at
                      <a href="tel:404-842-0266">404-977-5523</a>
                      to set up an appointment with our Buying Team.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>WHERE IS ICEBOX LOCATED AND WHAT ARE YOUR STORE HOURS?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Our flagship showroom is conveniently located in the Buckhead neighborhood of Atlanta at 3255 Peachtree Road NE; Ste 2, Atlanta, GA 30305. We are open Monday – Friday, 11:00 am – 6:30 pm EST. And, shop online anytime at
                      <a href="https://www.icebox.com">www.icebox.com</a>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>WILL I BE CHARGED SALES TAX ON MY ICEBOX.COM PURCHASE?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      All orders within the state of Georgia are subject to 8.9% sales tax. Orders shipped outside of the state of Georgia will not be charged sales tax.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>I AM BEING ASKED TO VERIFY MYSELF, WHAT DOES THAT MEAN?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      To enhance security for our clients, Icebox employs a third-party fraud detection system. If an order is flagged as potentially fraudulent, we conduct a customer verification process. If you're contacted, we'll confirm your order placement through a FaceTime or video call. Additionally, we'll need copies of both sides of your credit card and a valid ID.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>HOW OFTEN DO YOU UPDATE YOUR INVENTORY?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Our fine jewelry inventory is refreshed weekly with new exquisite new styles and selections. Check back often to see our latest additions!
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>DO I NEED AN APPOINTNMENT TO VISIT ICEBOX?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Although an appointment is not required to visit Icebox, we encourage you to book ahead so that we may tailor your experience. You’ll be matched up with one of our expert Sales Professionals to assist with your purchases. Please call us at
                      <a href="tel:404-842-0266">404-977-5523</a>
                      to book your appointment today!
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>IS ICEBOX AN AUTHORIZED ROLEX WATCH DEALER?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      While Icebox offers a range of luxury timepieces, we are not an authorized dealer for any watch brands. However, all watches purchased through Icebox come with a 1-year Icebox warranty in place of a manufacturer’s warranty.
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <!-- Order -->
            <ul role="list" class="faq-list" id="faq_2">
              <h4>Orders</h4>
              <li>
                <div class="faq-head">
                  <h6>CAN I TRACK MY ORDER?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Certainly! The day your item is shipped, you’ll receive an email containing your tracking number. We use Priority 2-Day Shipping and an adult aged 21 years or older must sign for the package upon delivery.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>WILL MY ORDER BE INSURED ONCE IT HAS SHIPPED?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Yes, all Icebox shipments are insured for their full value and, for security purposes, are shipped in a discreet plain box. An adult aged 21 years or older will need to sign for the package upon delivery.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>CAN I PLACE AN ORDER BY PHONE?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      For security purposes, we do not process orders over the phone. If you’d ike to make a purchase, please visit our Showroom or shop online anytime at
                      <a href="https://www.icebox.com" target="_blank">www.icebox.com</a>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>HOW CAN I GET MY JEWELRY INSURED AGAINST LOSS OR THEFT?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      While Icebox doesn’t directly sell jewelry insurance, we recommend Jeweler’s Mutual Insurance at
                      <a href="http://www.insureyourjewelry.com" target="_blank">http://www.insureyourjewelry.com</a>
                      to safeguard your Icebox fine jewelry against loss or theft.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>CAN I MAKE CHANGES TO MY ORDER ONCE IT HAS BEEN PLACED AND CONFIRMED?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Once you’ve received your confirmation email, which states your item is in the process of being created, we cannot make any changes to the design, metal color or diamond quality.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>CAN YOU RESIZE A RING I BOUGHT AT ICEBOX?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      We offer complimentary resizing of your ring within 30 days of purchase. Generally, we can resize rings by either up or down by two sizes from the original. However, please be aware that Eternity Ring designs cannot be resized.
                      <br />
                      <br />
                      To initiate a resizing, please contact us via phone at
                      <a href="tel:770-828-5440">770-828-5440</a>
                      or email us at
                      <a href="mailto:orders@icebox.com">orders@icebox.com</a>, and we will provide you with the necessary return instructions.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>What is your online return &amp; exchange policy?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Icebox Diamonds &amp; Watches DOES NOT ACCEPT RETURNS OR ISSUE REFUNDS FOR ANY REASON. However, we do allow for one (1) exchange within 14 days of the delivery date. In the event you are dissatisfied with your item, you may exchange it for an item of equal or greater value. Please note, exchanging jewelry for a watch is not permitted, as jewelry items can only be exchanged for jewelry. Watches can be exchanged for watches or jewelry.
                      <br />
                      <br />
                      To initiate an exchange, please contact us via phone at
                      <a href="tel:770-828-5540">770-828-5540</a>
                      or by email at
                      <a href="mailto:orders@icebox.com">orders@icebox.com</a>
                      for exchange instructions. If your return is due to a manufacturer issue or for ring sizing, you must first request an authorization number for your package. Contact us for this number before shipping your package via UPS or DHL only. Make sure to insure the package for the full purchase price without disclosing its contents for security reasons. Icebox is not liable for any loss or damage during shipping.
                      <br />
                      <br />
                      All items must be accompanied by the original sales receipt or order number. Mail the package to the address provided in the instructions received from
                      <a href="mailto:support@icebox.com">support@icebox.com</a>, ensuring your name, address, and return authorization number are clearly printed on the package's exterior. We will contact you upon receiving yourpackage to confirm that the returned jewelry is undamaged and in its original condition.
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <!-- Shipment -->
            <ul role="list" class="faq-list" id="faq_3">
              <h4>Shipment</h4>
              <li>
                <div class="faq-head">
                  <h6>WILL A SIGNATURE BE REQUIRED FOR DELIVERY?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Yes, an adult aged 21 years or older is required to sign for delivery of all Icebox orders.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>WILL MY ORDER BE INSURED ONCE IT HAS SHIPPED?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Yes, all Icebox shipments are insured for their full value and, for security purposes, are shipped in a discreet plain box. An adult aged 21 years or older will need to sign for the package upon delivery.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>DOES ICEBOX SHIP INTERNATIONALLY?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Yes, we ship orders internationally via FedEx and DHL and an adult aged 21 years or older will need to sign for the package upon delivery.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>IF MY ORDER IS SHIPPED INTERNATIONALLY, WILL I BE REQUIRED TO PAY FEES, DUTIES, OR TAXES?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      The customs office of your destination country or region may impose customs fees, import duties, taxes, and other charges on your international order. These charges for customs clearance are the recipient's responsibility.
                      <br />
                      <br />
                      Upon your order's arrival at customs, either the carrier or the customs office will contact you to arrange payment for any applicable charges. Failure to pay these additional customs fees could result in the package going missing during its return to the sender. In such cases, Icebox will not issue a refund to the buyer.
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <!-- Payments -->
            <ul role="list" class="faq-list" id="faq_4">
              <h4>Payments</h4>
              <li>
                <div class="faq-head">
                  <h6>CAN I PAY WITH TWO OR MORE FORMS OF PAYMENT?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Absolutely! We do accept multiple forms of payment for merchandise. These include credit cards, debit cards, PayPal, Bitpay, Zelle, and wire transfer. After selecting your products, email us at
                      <a href="mailto:orders@icebox.com">orders@icebox.com</a>, and our Online Sales Team will send you payment links for each form of payment to finalize your transaction.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>HOW DO I PAY USING WIRE TRANSFER?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      To pay using a wire transfer, proceed to checkout on our website and select the "Wire Transfer" payment option. After completing checkout, you'll receive an email with instructions for the wire transfer payment. Upon receiving your bank wire payment, we'll contact you to complete the verification process. This process is mandatory for payments exceeding $3,000 and involves providing us with a copy of your valid driver's license and a brief FaceTime or video call.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>WILL I BE CHARGED SALES TAX ON MY ICEBOX.COM PURCHASE?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      All orders within the state of Georgia are subject to 8.9% sales tax. Orders shipped outside of the state of Georgia will not be charged sales tax.
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <!-- Security -->
            <ul role="list" class="faq-list" id="faq_5">
              <h4>Security</h4>
              <li>
                <div class="faq-head">
                  <h6>WHAT IS YOUR REPAIR POLICY?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      All repair work is warranted against defects in materials or workmanship for six (6) months from the repair date. However, please note that this warranty is limited and does not cover damage or repairs to any part of the merchandise that Icebox did not specifically work on, nor does it cover damage due to normal wear and tear. Additionally, the warranty excludes all repairs on invisible set items, diamonds larger than 0.10ct each, and/or repair work done on center diamond settings, prongs, or heads.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>WHAT IS YOUR WARRANTY ON YOUR PRODUCTS?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Our products are backed by a (1) one-year limited warranty, covering substantial manufacturing defects in materials or workmanship, as well as normal wear and tear. However, please note that customer negligence is not covered. Diamonds larger than 0.10ct each, and incidental damage are not covered by this warranty. Icebox reserves the right to decide on repair or replacement of items at its discretion.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>MY PACKAGE IS LOST OR HAS BEEN TAMPERED WITH. WHAT DO I DO NEXT?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      If your package is lost or has been tampered with before delivery, contact us immediately at
                      <a href="tel:770-828-5540">770-828-5540</a>
                      or email us at
                      <a href="mailto:orders@icebox.com">orders@icebox.com</a>. Please include your name, order number, and phone number for further communication. We will initiate a claim investigation with the carrier and keep you updated on its progress.
                      <br />
                      <br />
                      Please note that we cannot issue refunds or replacements until the investigation concludes, which may take up to 90 days. It's important to know that if your package goes missing due to non-payment of customs fees or duties, Icebox will not be obligated to issue a refund.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>IS YOUR WEBSITE SECURE?</h6>
                  <svg width="12" height="12" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>
                      Yes, we take the security of our customers' information very seriously. Our website is equipped with multiple layers of security measures to safeguard your personal information and payment details.
                      <br />
                      <br />
                      Our commitment to security means that you can shop on our website with confidence, knowing that we have taken extensive measures to protect your data and privacy.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="faq-note">
              The customs office of your destination country or region may impose customs fees, import duties, taxes, and other charges on your international order. These charges for customs clearance are the recipient's responsibility.
              <br />
              <br />
              Upon your order's arrival at customs, either the carrier or the customs office will contact you to arrange payment for any applicable charges. Failure to pay these additional customs fees could result in the package going missing during its return to the sender. In such cases, Icebox will not issue a refund to the buyer.
              <br />
              <br />
              If an international shipment is returned to us due to unpaid customs fees or failed delivery, the customer will be responsible for covering the cost of re-shipping the package, as international shipping fees are substantial and non-refundable.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
