<div class="subpage-content">

  <div class="sub-box">
    <div class="sub-background">
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div></div>
    </div>
    <div class="sub-welcome">
      <div class="sub-wrapper">
        <div class="sub-welcome__group">
          <div class="sub-welcome__title">
            <h2 class="sub-welcome__heading">Frequently Questions</h2>
            <p class="sub-welcome__subheading">We have compiled the frequently asked questions.Choose a topic and
              explore the questions</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="sub-box">
    <div class="sub-wrapper">
      <div class="sub-box__double-content">

        <div class="sub-box__sidebar">
          <div class="sub-box__sidebar-wrapper">
            <a href="#faq_1">General</a>
            <a href="#faq_2">Orders</a>
            <a href="#faq_3">Shipment</a>
            <a href="#faq_4">Payments</a>
            <a href="#faq_5">Security &amp; Warranty</a>
          </div>
        </div>

        <div class="sub-box__main">
          <div class="sub-box__rows-wrapper">

            <!-- General -->
            <ul role="list" class="faq-list" id="faq_1">
             <h4>General</h4>
              <li>
                <div class="faq-head">
                  <h6>Do you buy diamonds, watches or gold jewelry?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, we do buy diamonds over 1.00 carat. We also buy watches, gold
                      jewelry and diamond jewelry. If you have an item you would like to sell, please call our store
                      at 404-842-0266 to set up an appointment with our Buying Team. <br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Where is Icebox located and what are your store hours?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Icebox is located in the Buckhead neighborhood of Atlanta. Our address
                      is 3255 Peachtree Road NE; Ste 2, Atlanta, GA 30305. Monday - Friday 11:00am-6:30pm EST. You can
                      also shop online with us at <a href="https://www.icebox.com">www.Icebox.com</a><br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Will I be charged sales tax on my Icebox.com purchase? </h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>All orders within the state of Georgia are subject to 8.9% sales tax. If
                      your order is being shipped outside of the state of Georgia, you will not be charged sales tax.
                      <br>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>I am being asked to verify myself, what does that mean?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>We utilize a third-party fraud filtration system that has flagged your
                      order as potential fraud and requires us to complete a customer verification. We will verify you
                      placed an order with us by completing a FaceTime or video call. We also require a copy of the
                      front and back of your credit card and a valid ID. We complete this verification process as an
                      added security for our clients.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>How often do you update your inventory?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>We update our inventory on a weekly basis. Check back with us weekly and
                      see what is new!<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Do I need to make an appointment to visit Icebox?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Although an appointment is not required to visit Icebox, it is preferred
                      so we may match you up with an available Sales Professional. Please reach out to us at <a
                        href="#">404 842-0266</a> to schedule an appointment today!<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Is Icebox an authorized Rolex Watch Dealer?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Icebox is not an authorized dealer of any watch brands. However, any
                      watch purchased through Icebox comes with a 1 year Icebox warranty in place of a manufacturers
                      warranty.<br></p>
                  </div>
                </div>
              </li>
            </ul>


            <!-- Order -->
            <ul role="list" class="faq-list" id="faq_2">
             <h4>Orders</h4>
              <li>
                <div class="faq-head">
                  <h6>Can I track my order?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, the day your item is shipped, your tracking number will be sent to
                      you by email. We ship using priority 2-day shipping and an adult signature, a person 21 years or
                      older, will be required for the package.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Will my order be insured once it has shipped?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, all Icebox shipments are insured for their full value and are
                      shipped in a discreet plain box, for security purposes. An adult signature, 21 years or older,
                      will also be required to receive the package.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Can I place an order by phone?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>We do not process orders over the phone for security purposes. If you
                      would like to make a purchase, please visit us at our store or online.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>How can I get my jewelry insured against loss or theft?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Although we do not sell jewelry insurance through Icebox, we recommend
                      Jeweler's Mutual at <a href="#">www.insureyourjewelry.com</a> to insure
                      your Icebox fine jewelry.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Can I make changes to my order once it has been placed and confirmed?
                  </h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Once you have received your confirmation email stating your item is in
                      the process of being created, we cannot make any changes to the design, metal color or diamond
                      quality. <br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Can you resize a ring I bought at Icebox?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, we will resize the ring, free of charge, within 30 days of
                      purchase. We can typically re-size rings by two sizes, either up or down from the original size.
                      Please note that eternity ring designs cannot be re-sized. Please contact us by phone at
                      770-828-5540 or email at orders@icebox.com and we will provide return instructions.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>What is your online return &amp; exchange policy?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Icebox Diamonds &amp; Watches DOES NOT ACCEPT RETURNS OR ISSUE REFUNDS
                      FOR ANY REASON, however we do allow (1) exchange within 14 days of the delivery date. In the
                      event you are dissatisfied with your item for any reason, we will allow you to exchange your
                      item for an item of equal or greater value. Jewelry items can be exchanged for jewelry, and
                      watches can be exchanged towards watches or jewelry. Jewelry cannot be exchanged towards a
                      watch. Please contact us by phone at 770-828-5540 or by email at orders@icebox.com and we will
                      provide you with instructions on completing your exchange. If you are sending an item back due
                      to a manufacturer issue or for a ring sizing, you must first request an authorization number for
                      your package. To obtain an authorization number contact us by phone at 770-828-5540 or email us
                      at orders@icebox.com. Ship your package via UPS or DHL ONLY and insure the package for the full
                      purchase price. For security reasons, do not disclose the contents when insuring the package.
                      Icebox Diamonds &amp; Watches is not responsible for any loss or damage that occurs during
                      shipping. All items must be accompanied by the original sales receipt or order number. Please
                      mail the package to the address provided in the instructions you receive from support@icebox.com
                      and ensure that your name, address and return authorization number are clearly printed on the
                      outside of the package. Icebox Diamonds &amp; Watches will contact you upon receipt of the
                      package. Our Quality Inspection team must confirm the returned jewelry has not been damaged, or
                      suffered excessive wear and tear during the 14-day period. All items must arrive back at Icebox
                      in their original condition.<br></p>
                  </div>
                </div>
              </li>
            </ul>


            <!-- Shipment -->
            <ul role="list" class="faq-list" id="faq_3">
             <h4>Shipment</h4>
              <li>
                <div class="faq-head">
                  <h6>Will a signature be required for delivery?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, an adult signature, 21 years or older, is required for the delivery
                      of all Icebox orders.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Will my order be insured once it has shipped?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, all Icebox shipments are insured for their full value and are
                      shipped in a discreet plain box, for security purposes. An adult signature, 21 years or older,
                      will also be required to receive the package.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Does Icebox ship internationally?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, we ship orders internationally via FedEx and DHL. <br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Can you ship my item to an address different from my billing address?
                  </h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes we can ship to a different address other than your billing address
                      for most forms of payment. We will require an email or text stating that you authorize the order
                      to be shipped to a different address, which you will provide. <br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>If my order is shipped internationally, will I be required to pay fees,
                    duties, or taxes?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>The customs office of the destination country or region may impose
                      customs fees, import duties, taxes, and other charges on your international order. These
                      additional charges required for customs clearance are the responsibility of the recipient. When
                      your order arrives at customs, you will be contacted by the carrier or the customs office to
                      arrange for the payment of any charges that may be due. If the additional custom fees are not
                      paid and the package goes missing on the way back to the sender, Icebox will not issue a refund
                      to the buyer.<br></p>
                  </div>
                </div>
              </li>
            </ul>


            <!-- Payments -->
            <ul role="list" class="faq-list" id="faq_4">
             <h4>Payments</h4>
              <li>
                <div class="faq-head">
                  <h6>Can I pay with two or more forms of payment?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, we accept multiple forms of payment for merchandise. We accept
                      credit cards, debit cards, Paypal, Bitpay, Zelle or a wire transfer. Once you have made your
                      product selection, email us at orders@icebox.com and our Online Sales Team will provide payment
                      links for each form of payment to complete your transaction.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>How do I pay using a Wire Transfer?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Simply checkout on our website and click on the "Wire
                      Transfer" payment option. After you complete checkout, an email will be sent to you with
                      instructions to complete the wire transfer payment. Once we receive your bank wire payment, we
                      will reach out to you to complete the verification process. The verification process is required
                      for payments over $3,000 and includes sending us a copy of your valid driver's license and
                      a quick FaceTime or video call. <br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Will I be charged sales tax on my Icebox.com purchase? </h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>All orders within the state of Georgia are subject to 8.9% sales tax. If
                      your order is being shipped outside of the state of Georgia, you will not be charged sales tax.
                      <br>
                    </p>
                  </div>
                </div>
              </li>
            </ul>


            <!-- Security -->
            <ul role="list" class="faq-list" id="faq_5">
             <h4>Security</h4>
              <li>
                <div class="faq-head">
                  <h6>What is you repair policy?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>All repair work is warranted against defects in materials or workmanship
                      for six months from the date of repair. This warranty is limited and does not cover damage or
                      repairs to any part of merchandise not specifically worked on by Icebox and/or damage due to
                      normal wear and tear. This warranty excludes all invisible set repairs, all diamonds above
                      0.10ct each and/or repair work done on center diamond setting, prongs or heads.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>What is your warranty on your product?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>All items come with a one year limited warranty against substantive
                      manufacturing defects in materials or workmanship, and normal wear and tear. Customer negligence
                      is not covered. Diamonds above 0.10ct each are not covered. Icebox is not responsible for
                      incidental damage on items. Items are subject to repair at the discretion of the company.<br>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>My package is lost or has been tampered with, what do I do next?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>If your package is lost or has been tampered with prior to receipt,
                      reach out to us at <a href="#">770-828-5540</a> or email us at <a href="#">orders@icebox.com</a>.
                      Please provide your name, order number, and phone
                      number to reach you for details. We will then open a claim investigation with the carrier.
                      During this time, Icebox cannot refund or replace the item in question until the investigation
                      has been complete. Please note that the investigation process could take up to 90 days. If your
                      package becomes lost due to non-payment of any additional customs fees or duties, Icebox will
                      not be required to issue a refund.<br></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="faq-head">
                  <h6>Is your website secure?</h6>
                  <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 30L50 70L95 30" stroke="black" stroke-width="15"></path>
                  </svg>
                </div>
                <div class="faq-body">
                  <div class="faq-body__wrapper">
                    <p>Yes, we have multiple layers of security to ensure your personal
                      information and payment details are secure.<br></p>
                  </div>
                </div>
              </li>
            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>