<div class="subpage__welcome">
	<div class="wrapper">
		<div class="subpage__welcome-title">
			<h3>Icebox Financing Application</h3>
			<p>Just a few steps and you get personalized rate quotes with no hard credit pull.</p>
		</div>
	</div>
</div>

<div class="subpage__finance-content">
	<div class="wrapper">
		{% include "elements/loan-case.twig" %}
	</div>
</div>
