<div class="formpage__wrapper">

	<a href="#" class="formpage__logo">
		<img src="./assets/logo.svg" loading="eager">
	</a>

	<div class="formpage__form-wrap">
		<form id="formpage_form" method="get" class="formpage__form">

			<div class="formpage__input-box">
				<label for="availability">Availability</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="availability">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="vendor">Vendor*
				</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="vendor">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="condition">Condition
				</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="condition">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="year">Year
				</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="year">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="shipDate">Ship Date</label>
				<div class="formpage__input-wrap --dropdown">
					<select class="formpage__input" id="ship_date">
						<option value="Test">Test</option>
						<option value="Test">Test</option>
						<option value="Test">Test</option>
						<option value="Test">Test</option>
					</select>
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="brand">Brand</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="brand">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="model">Model</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="model">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="model_name">Model Name</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="model_name">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="serial">Serial*
				</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="serial">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="box_dropdown">Box<span>Yes / No</span>
				</label>
				<div class="formpage__input-wrap --dropdown">
					<select class="formpage__input" id="box_dropdown">
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="complete">Complete<span>Yes / No</span>
				</label>
				<div class="formpage__input-wrap --dropdown">
					<select class="formpage__input" id="complete">
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>

			<div class="formpage__input-box">
				<label>Real Papers*</label>
				<div class="formpage__input-wrap">
					<div class="formpage__input-boxes">
						<div>
							<input type="checkbox" id="papers_yes" value="real_papers">
							<label for="papers_yes">Yes</label>
						</div>
					</div>
				</div>
			</div>

			<div class="formpage__input-box">
				<label>Icebox Appraisal</label>
				<div class="formpage__input-wrap">
					<div class="formpage__input-boxes">
						<div>
							<input type="checkbox" id="icebox_appraisal" value="icebox_appraisal">
							<label for="icebox_appraisal">Yes</label>
						</div>
					</div>
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="metal_type">Metal Type
				</label>
				<div class="formpage__input-wrap --dropdown">
					<select class="formpage__input" id="metal_type">
						<option value="silver">Silver</option>
						<option value="gold">Gold</option>
					</select>
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="cost">Cost*
				</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="cost">
				</div>
			</div>

			<div class="formpage__input-box">
				<label for="price">Price</label>
				<div class="formpage__input-wrap">
					<input type="text" class="formpage__input" placeholder="Input text..." id="price">
				</div>
			</div>

			<div class="formpage__input-box --full_width">
				<label for="name">Description</label>
				<div class="formpage__input-wrap">
					<textarea class="formpage__input --textarea" rows="10" cols="20" wrap="hard"></textarea>
				</div>
			</div>

			<div class="formpage__input-box --full_width">
				<div class="formpage__input-wrap">
					<label class="formpage__upload-label" for="image_upload">
						<p>Click To Upload Images</p>
						<input class="formpage__input" type="file" name="files[]" id="image_upload" multiple accept="image/jpeg, image/png, image/gif,">
					</label>
				</div>
				<div class="formpage__images-thumbnails">
				</div>
        <div class="formpage__upload-disclaimer">
        <div>*Asteriks items are shown for admin. Not for users.</div>
        <div>Photos are all hidden after upload and shown when we hit the checkbox</div>
        </div>
			</div>

			<div class="formpage__submit-wrap">
				<button>SUBMIT</button>
			</div>

		</form>
	</div>
</div>
