<div class="subpage-content">

  <div class="sub-box">
    <div class="sub-background">
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div></div>
    </div>

    <div class="sub-welcome">
      <div class="sub-wrapper">
        <div class="sub-welcome__group">
          <div class="sub-welcome__title">
            <h2 class="sub-welcome__heading">Privacy Policy</h2>
            <p class="sub-welcome__subheading">Explains what information we collect and why, how we use it, and how to
              review and update it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-box">
    <div class="sub-wrapper">
      <div class="sub-box__double-content">

        <div class="sub-box__sidebar">
          <div class="sub-box__sidebar-wrapper">
            <a href="#privacyGeneral">General</a>
            <a href="#privacyInformation">Information Collected</a>
            <a href="#privacyCollection">How Information may be collected</a>
            <a href="#privacyDisclosure">Disclosure of Personal Information</a>
            <a href="#privacyCookies">Cookies</a>
            <a href="#privacyConfidentiality">Confidentiality</a>
            <a href="#privacySecurity">Security</a>
            <a href="#privacyPrivacyUpdates">Updates and Changes to Privacy Policy</a>
            <a href="#privacyPersonalUpdated">Updates and Changes to Your Personal Information</a>
            <a href="#privacyInternational">International Users</a>
            <a href="#privacyContact">Contact Us</a>
          </div>
        </div>

        <div class="sub-box__main">
          <div class="sub-box__rows-wrapper">
            <ul role="list" id="privacyGeneral">
              <li>
                <h4>General</h4>
              </li>
              <li>
                <span>1.1</span>
                <a href="https://icebox.com">www.icebox.com</a>
                (“We”, “Our”, “Us”) is committed to the protection of
                personal information provided by the users (“You”, “Your”, “User”) Your agreement implies Your consent
                to
                the collection, retention and use of Your personal information in accordance with the terms of this
                Privacy Policy (“Privacy Policy”).
              </li>
              <li>
                <span>1.2</span>
                We take the privacy of our Users
                seriously. We are committed to safeguarding the privacy of Our users while providing a personalized and
                valuable service.
              </li>
              <li>
                <span>1.3</span>
                When You use the Website, the
                Website may collect Your device number and other personal information. A high standard of security is
                maintained by Us for Our users. However, the transmission of information via the internet or telephone
                networks is not completely secure. While We do Our best to protect Your information, particularly with
                respect to protection of Your personal data, www.icebox.com cannot ensure the security of Your data
                transmitted via the internet, telephone or any other networks.
              </li>
              <li>
                <span>1.4</span>
                Access to the contents available
                through the Website is conditional upon Your acceptance of this Privacy Policy which should be read
                together with the Terms of Use.
              </li>
              <li>
                <span>1.5</span>
                If You do not agree to any of the
                provisions of this Privacy Policy or Terms of Use, You should not use the Website. We may revise, alter,
                add, amend or modify this Privacy Policy at any time by updating this Privacy Policy. By browsing,
                accessing and/or using this Website, You agree to be bound by any such alteration, amendment, addition
                or
                modification.<br>
              </li>
            </ul>
            <ul role="list" id="privacyInformation">
              <li>
                <h4>Information Collected</h4>
              </li>
              <li>
                <span>2.1</span>
                Information You Provide Us: In the
                course of using the Website, we may ask you to provide us with certain information, including contact
                information, such as Your name or email address, unique identifiers, such as Your user id, or similar
                information.<br>
              </li>
              <li>
                <span>2.2</span>
                Site Usage Information: We may
                receive and store certain types of internet usage information whenever You visit the Website, such as
                Your
                click-stream data and your IP address. See “IP Addresses and Click Stream Data” section below<br>
              </li>
              <li>
                <span>2.3</span>
                Email Communications: When You open
                emails from Us, we may receive a confirmation noting You opened the email, if Your computer supports
                such
                capabilities. We also may keep track of what emails We send You and what emails you may be receiving
                from
                Our subsidiaries and affiliates. Additionally, We keep a record of what communications You have opted to
                receive or not to receive.<br>
              </li>
            </ul>
            <ul role="list" id="privacyCollection">
              <li>
                <h4>How Information may be collected</h4>
              </li>
              <li>
                <span>3.1</span>
                Registration: You may be asked to
                complete a registration form and provide personally identifiable information; you may also be asked to
                choose a user ID and password in order to take advantage of certain features the Website may choose to
                offer, such as newsletters or contests. Participation in registration is voluntary and you will have the
                opportunity to decide whether or not to disclose information to the Website.<br>
              </li>
              <li>
                <span>3.2</span>
                IP Addresses and Click-Stream Data:
                We may collect IP addresses and/or clickstream data. An IP address is a number associated with the
                service
                through which You access the Internet. Standing alone, Your IP address is not personally identifiable.
                At
                times, We also use IP addresses for purposes of system administration and to report aggregate
                information
                to Our advertisers and sponsors. We may combine this information with personally identifiable
                information.
                Click-stream data is information collected by Our computers when You request web pages from the Website.
                Clickstream data may include such information as the page served, the time, the source of the request,
                the
                type of browser making the request, the preceding page view and other such non-personal information.
                When
                analyzed, this data helps us analyze how visitors arrive at the Website, what type of content is most
                popular, what type of visitors in the aggregate are interested in particular kinds of content and
                advertising, and the like.<br>
              </li>
            </ul>
            <ul role="list" id="privacyDisclosure">
              <li>
                <h4>Disclosure of Personal Information</h4>
              </li>
              <li>
                <span>4.1</span>
                We do not disclose Your Personal
                Information to any third parties other than as may be required by Us, www.icebox.com’s affiliates,
                partners, trusted business networks, in compliance with our Privacy Policy for the purpose of moderating
                the content of the Website, enhancing Your user experience, providing You personalised content and to
                enable Us and Our partners to provide You with targeted information which may be of benefit to you.
                <br>
              </li>
              <li>
                <span>4.2</span>
                Your personal information is
                contained behind secured networks and is only accessible by a limited number of persons who have special
                access rights to such systems, and are required to keep the information confidential. In addition, all
                sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology<br>
              </li>
              <li>
                <span>4.3</span>
                To enhance customer experience and
                to provide focused support, We may share generic aggregated demographic information which may include
                Your
                information collected by Us but not linked to any personally identifiable information regarding visitors
                and users with Our business partners, trusted affiliates and advertisers for the purposes outlined
                above.<br>
              </li>
              <li>
                <span>4.4</span>
                At times We are required by law or
                litigation to disclose personal information about the users. We may also disclose information about the
                User if We determine that disclosure of information is necessary for national security, law enforcement,
                or other issues of public importance.<br>
              </li>
              <li>
                <span>4.5</span>
                We use Our best efforts to use
                information in aggregate form (so that no individual User is identified) for the following purposes:
                <br>
              </li>
              <li>
                <span>4.5.1</span>
                To build up marketing
                profiles;
                <br>
              </li>
              <li>
                <span>4.5.1</span>
                To aid strategic development,
                data collection and business analytics;<br>
              </li>
              <li>
                <span>4.5.1</span>
                To manage our relationship
                with advertisers and partners;<br>
              </li>
              <li>
                <span>4.5.1</span>
                To audit usage of the Website
                and Our mobile application; and<br>
              </li>
              <li>
                <span>4.5.1</span>
                To enhance user experience in
                relation to the Website (“collectively, “Permitted Use”).<br>
              </li>
              <li>
                <span>4.5</span>
                We use Our best efforts to use
                information in aggregate form (so that no individual User is identified) for the following purposes:
                <br>
              </li>
            </ul>
            <ul role="list" id="privacyCookies">
              <li>
                <h4>Cookies</h4>
              </li>
              <li>
                <span>5.1</span>
                Whenever You access the Website, We
                may place "cookies" on Your hard drive for record-keeping purposes to enhance Your experience or
                sometimes to personalize Your experience. Cookies are small text files that are placed on Your
                computer’s
                hard drive by the websites You visit. Cookies help Us to identify information relating Your activities
                and
                to retain information relating to Your preferences and history on the Website.
                <br>
              </li>
              <li>
                <span>5.2</span>
                Ad targeting cookies: We and/or Our
                service providers may use advertising cookies to deliver ads that are more relevant to You and Your
                interests.<br>
              </li>
              <li>
                <span>5.3</span>
                You may choose to disable cookies
                by turning off cookie feature on the web browser. However, by disabling this feature, some parts of the
                Website may not function properly. This may prevent You from taking full advantage of the Website.
                <br><br>
              </li>
            </ul>
            <ul role="list" id="privacyConfidentiality">
              <li>
                <h4>Confidentiality</h4>
              </li>
              <li>
                <span>6.1</span>Except as otherwise provided in this
                Privacy Policy, We will keep Your Personal Information private and will not share it with third parties,
                unless We believe in good faith that disclosure of Your Personal Information or any other information We
                collect about You is necessary for Permitted Use or to:<br>
              </li>
              <li>
                <span>6.1.1</span>Comply with a court order or
                other legal process;
                <br>
              </li>
              <li>
                <span>6.1.2</span>
                Protect the rights, property
                or safety of
                <a href="#">www.icebox.com</a>
                or another party;
                <br>
              </li>
              <li>
                <span>6.1.3</span>
                Enforce the policy or any
                agreement, including Terms of Use; or
                <br>
              </li>
              <li>
                <span>6.1.4</span>
                Respond to claims that any
                posting or other content violates the rights of third-parties.<br>
              </li>
            </ul>
            <ul role="list" id="privacySecurity">
              <li>
                <h4>Security</h4>
              </li>
              <li>
                <span>7.1</span>The security of Your Personal
                Information is important to Us. We follow generally accepted industry standards to protect the Personal
                Information submitted to Us, both during transmission and once We receive it<br>
              </li>
              <li>
                <span>7.2</span>Although We make best possible
                efforts to store Personal Information in a secure operating environment that is not open to the public,
                You should understand that there is no such thing as complete security, and We do not guarantee that
                there
                will be no unintended disclosures of Your Personal Information. If We become aware that Your Personal
                Information has been disclosed in a manner not in accordance with this Privacy Policy, We will use
                reasonable efforts to notify You of the nature and extent of such disclosure (to the extent We know that
                information) as soon as reasonably possible and as permitted by law.
                <br>
              </li>
            </ul>
            <ul role="list" id="privacyPrivacyUpdates">
              <li>
                <h4>Updates and Changes to Privacy Policy</h4>
              </li>
              <li>We reserve the right, at any time, to add to, change, update, or modify this
                Privacy Policy so please review it frequently. In all cases, use of information We collect is subject to
                the Privacy Policy in effect at the time such information is collected. You hereby acknowledge and agree
                that it is Your responsibility to review this Privacy Policy periodically and become aware of the
                modifications. If You disagree to any of the changes to the Privacy Policy, You shall refrain from using
                or accessing the Website. Your continued use of the Website, following the posting of the revised Policy
                shall indicate Your acceptance and acknowledgement of the changes and You will be bound by it.<br></li>
            </ul>
            <ul role="list" id="privacyPersonalUpdated">
              <li>
                <h4>Updates and Changes to Your Personal Information<br></h4>
              </li>
              <li>You have a right to correct any errors in Your Personal Information available
                with Us. You may request Us in writing that We cease to use Your Personal Information. We will retain
                your
                information for as long as your account is active or as needed to provide you services. We will retain
                and
                use your information as necessary to comply with our legal obligations, resolve disputes, and enforce
                our
                agreements.<br></li>
            </ul>
            <ul role="list" id="privacyInternational">
              <li>
                <h4>International Users<br></h4>
              </li>
              <li>Please note that the Website is directed towards users who reside in the United
                States. By using the Website, You consent to the collection, storage, processing, and transfer of Your
                information in and to the United States, or other countries and territories, pursuant to the laws of the
                United States. While some of these countries may not offer the same level of privacy protection as Your
                own, We commit to uphold the privacy protections as explained in this privacy policy.<br></li>
            </ul>
            <ul role="list" id="privacyContact">
              <li>
                <h4>Contact Us<br></h4>
              </li>
              <li>You may write to us at support@icebox.com for any privacy concerns and requests
                relating to this Terms of Use and Privacy Policy.<br></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>