{% include 'elements/product-page/general-js-vars.twig' %}
<div class="product__main">
	<div class="wrapper">
		<div class="product__wrapper">

			<div
				class="product__view">
				{# Breadcrumbs #}
				{% include "elements/product-page/breadcrumbs.twig" %}

				{# -- Gallery #}
				{% include "elements/product-page/gallery_desktop.twig" %}
				{% include "elements/product-page/gallery_mobile.twig" %}
			</div>

			{# -- Side #}
			<aside class="product__side">
				<div
					class="side-body">

					{# Subcategory / Title / Wishlist / Reviews Bar #}
					<div class="side-row__category">{{product.subcategory.caption}}</div>
					{% include "elements/product-page/title.twig" %}
					{% include "elements/product-page/reviews-bar.twig" %}

					{# Price / Sale / Stock #}
					<div class="side-row__margin-row">
						<div class="side-row__border-row">
							{% include "elements/product-page/price.twig" %}
						</div>
						<div class="side-row__border-row">
							{% include 'elements/product-page/stock-availability.twig'  %}
						</div>
					</div>

					{# Options #}
					<div class="side-row__options">
						{% include "elements/product-page/options.twig" %}
					</div>

					{# Buttons #}
					<div class="side-row__buttons">
						{% include "elements/product-page/buttons.twig" %}
					</div>

					{# Shipping & Question #}
					<div class="side-row__more">
						{% include "elements/product-page/side-more.twig" %}
					</div>

				</div>
			</aside>
		</div>
	</div>
</div>

{# Description & Details #}
{% include "elements/product-page/details.twig" %}
{# Fedex #}
{% include "elements/product-page/fedex.twig" %}
{# Useful Links #}
{% include "elements/product-page/promises.twig" %}
{# FAQ #}
{% include "elements/product-page/faq.twig" %}
{# More Items #}
{% for Productslider in product.bottom_sliders %}
	{% include "elements/product-page/items-slider.twig" with {slider:Productslider}%}
{% endfor %}
{# Guide Modal #}
{% include "elements/pg-modal.twig" %}
{# Options #}
{% include "elements/product-page/options-modal.twig" %}
{# Forms #}
{% include "elements/product-page/hidden-form.twig" %}
