{% set nav = false %}
{% set stickySidebar = true %}

{% if category.id == 25 %}
	{% set watch_market_brands = true %}
	{% set is_watch_market_page = true %}
{% endif %}

<div class="results-content {% if category.id == 25  %} --watch-market {% endif %}">

	{% if care_page == true %}
		{% include "elements/results/care-banner.twig" %}
	{% else %}
		{% if category %}
			{% if category.big_banner != '' %}
				{% include "elements/results/results-banner.twig" %}
			{% endif %}
			{% if sale_page %}
				{% include "elements/results/results-banner_sale.twig" %}
			{% endif %}
		{% endif %}
		{% if search_keyword is defined %}
			{% include "elements/results/results-empty.twig" %}
		{% endif %}
	{% endif %}


	<div class="results__wrap">
		<div class="results__main">
			{% if (gender is defined) or (sub_nav is defined) or (category_page is defined) or (gia_page is defined) or (watch_market_brands == true) %}
				{% include "elements/results/results-sub.twig" %}
			{% endif %}
			{% if category.is_watches %}
				{% include "elements/results/watches-notice.twig" %}
			{% endif %}

			{% include "elements/results/page-filters.twig" %}
			{% include "elements/results/filter-modal.twig" %}
			{% if sale_page is not defined %}
				{% include "elements/results/results-bar.twig" %}
			{% endif %}
			{% if category.is_watches %}
				<div class="results__sub-bar">
					<div class="wrapper">
						<label class="custom-checkbox --raw">
							<input type="checkbox" value="with_price_only">
							<span>Hide items w/o price</span>
						</label>
					</div>
				</div>
			{% endif %}
			<div class="results-cards-content">
				<div class="wrapper">
					<div class="results__main-wrapper">

						<div class="results__items">
							<div class="cards-grid">
								{% if from_africa %}
									{% set index_target = 5 %}
								{% else %}
									{% set index_target = 10 %}
								{% endif %}
								{% if category.id != 25 and from_africa == false %}
									{% include 'elements/pay-card.twig' %}
								{% endif %}
								{% set loop_index = 0 %}
								{% set last = "pay" %}
								{% for item in items %}
									{% set loop_index = loop_index + 1 %}
									{% if (loop_index == index_target and category.id != 25) %}
										{% if last == "crypto" %}
											{% include "elements/pay-card.twig" %}
											{% set last = "pay" %}
										{% else %}
											{% include "elements/crypto-card.twig" %}
											{% if from_africa == false  %}
												{% set last = "crypto" %}
											{% endif %}
										{% endif %}

										{% set loop_index = 0 %}
									{% else %}
										{% include "elements/product-card.twig" with {productItem:item}%}
									{% endif %}

								{% endfor %}
							</div>

							{% if pages is defined %}
								{% if pages > 1 %}
									<div class="content-preloader">
										<span></span>
									</div>
								{% endif %}
							{% else  %}
								<div class="content-preloader">
									<span></span>
								</div>
							{% endif %}

						</div>


					</div>
					{# {% include "elements/load-more.twig" %} #}
				</div>
			</div>

		</div>


	</div>

</div>
