{% set banner = true %}
{% set nav = true %}
{% set category = results.watches %}
{% set searchQuery = "angels" %}
{% set stickySidebar = true %}
{% set collection = 'men' %}

{% if black_friday == true %}
	{% include "elements/black_friday/bfs-ticker.twig" %}
{% endif %}
<div class="results-content">
	{% include 'elements/pay-banner.twig' %}
	{# Banner #}
	{% if category %}
		{% if banner == true %}
			{% include "../elements/results/results-banner_sale.twig" %}
		{% endif %}
	{% else %}
		{% include "../elements/results/results-empty.twig" %}
	{% endif %}

	<div
		class="results__wrap">

		{# Mobile filter bar #}
		{% include "../elements/results/sticky-filters.twig" %}

		{# Sub Categories Navigation #}
		{% if nav == true %}
			{% if category.nav is defined %}
				{% include "../elements/results/results-nav.twig" %}
			{% endif %}
		{% endif %}

		<div
			class="results__main">
			{# {% if category == results.watches %}{% include "elements/results/watches-notice.twig" %}{% endif %} #}
			{# {% if collection == 'men' or collection == 'women' %}
				{% include "elements/results/results-sub.twig" with { collection: 'engagement' } %}
			{% endif %} #}

			{# Results BAR #}
			{% include "../elements/results/results-bar.twig" %}

			<div class="results-wrapper with_cards">
				<div class="results__main-wrapper">

					<div class="filter-sidebar{% if stickySidebar == true %} to-stick{% endif %}">
						{% include "../elements/results/filters.twig" with { 
          filterCategory: true,
          filterProduct: true,
          filterPriceRange: true,
          filterGender: true,
          filterColor: true
         } %}
						<div class="filter-sidebar__overlay"></div>
					</div>


					<div class="results__items">
						<div class="results__items-grid">
							{% include "elements/pay-card.twig" %}
							{% for item in 0..3 %}
								{% include "../elements/product-card.twig", with {
                adminLayout: false
              } %}
							{% endfor %}
							{% for item in 0..19 %}
								{% include "../elements/product-card.twig" %}
							{% endfor %}
						</div>
            <div class="content-preloader"><span></span></div>
					</div>


				</div>

				{# {% include "elements/load-more.twig" %} #}
			</div>

		</div>


	</div>

</div>
{% include "../elements/results/filter-modal.twig" %}
