{% set banner = true %}
{% set nav = true %}
{% set category = results.watches %}
{% set searchQuery = "angels" %}
{% set stickySidebar = true %}
{% set collection = 'men' %}

{% if black_friday == true %}
	{% include "elements/black_friday/bfs-ticker.twig" %}
{% endif %}
<div class="results-content">
	{# {% include 'elements/pay-banner.twig' %} #}
	{# Banner #}
		{% if category %}
			{% if banner == true %}
		{% include "elements/results/results-banner.twig" %}
		{% endif %}
	{% else %}
		{% include "elements/results/results-empty.twig" %}
	{% endif %}

	<div class="results__wrap">

		{# Mobile filter bar #}
		{# {% include "elements/results/sticky-filters.twig" %} #}

			<div class="results__main"> {% if category == results.watches %}
				{% include "elements/results/watches-notice.twig" %}
			{% endif %}

			{% include "elements/results/results-sub.twig" with { collection: 'std' } %}
			{% include "elements/results/page-filters.twig" %}
			{% include "elements/results/filter-modal.twig" %}
			{% include "../elements/results/results-bar.twig" %}

			<div class="results-cards-content">
				<div class="wrapper">
					<div class="results__main-wrapper">

						<div class="results__items">
							<div class="cards-grid">
								{% for i in 0..10 %}
									{% include "../elements/product-card.twig" %}
								{% endfor %}
							</div>
							<div class="content-preloader">
								<span></span>
							</div>
						</div>


					</div>
					{# {% include "elements/load-more.twig" %} #}
				</div>
			</div>

		</div>


	</div>

</div>
