{# Top Banner #}
<div class="sell-banner sell-banner_diamond">
	<img src="./assets/sell/diamonds-banner.webp" loading="eager" alt="Sell Rolex Watch">
	<div>
		<h4>SELL DIAMONDS</h4>
	</div>
</div>

{# Welcome #}
<div class="sell-content">
	<div class="sell-wrapper">
		<div class="sell-welcome">
			<div class="sell-welcome__main">
				<span class="sell__heading-badge">GUARANTEED CASH OFFERS ON THE SPOT!</span>
				<h1 class="sell-welcome__heading">Looking To Sell Your Diamonds In
					<span>Atlanta, GA?</span>
				</h1>
				<p class="sell-welcome__subheading">
					<strong>We pay top cash prices for diamonds in Atlanta, GA.<br></strong>For more than ten years, Icebox Diamonds &amp; Watches has established itself as a leading unwanted diamonds buyer in Atlanta.</p>
				<div class="sell__form-wrap">
					{# <input type="text" class="sell__form-input" autocomplete="off" placeholder="Your Name">
					<input type="text" class="sell__form-input" autocomplete="off" placeholder="Email Address"> #}
					<div class="sell__controls">
						<div data-evt="toggleBookModal" class="sell__main-btn">
							<span>Get a Free Quote NOW!</span>
							<div class="sell-match-box">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
						<span class="sell__main-btn-disclaimer">* Free and less than a couple minutes!</span>
						<div class="sell__trust-wrap">
							<img src="./assets/sell/google-rating.png" loading="eager" alt="Google 5 star reviews">
							<img src="./assets/sell/bbb-rating.png" loading="eager" alt="BBB rating A+">
						</div>
					</div>
				</div>

			</div>
			<div class="sell-welcome__pics">
				<div>
					<div>
						<img src="./assets/sell/diamond_pic2.webp" loading="eager" alt="">
					</div>
					<div>
						<img src="./assets/sell/diamond_pic1.webp" loading="eager" alt="">
					</div>
				</div>
			</div>
			<div class="sell-steps">
				<h3 class="sell__heading">Simpler Than Ever</h3>
				<div class="sell-step">
					<span>1</span>
					<div>
						<h4>Visit or Reserve Time</h4>
						<p>Walk ins are welcome and if you call us now we will answer or call you right back!</p>
					</div>
				</div>
				<div class="sell-steps__divider"></div>
				<div class="sell-step">
					<span>2</span>
					<div>
						<h4>Get an Appraisal On The Spot</h4>
						<p>Bring your merchandise to your in-store visit, we will evaluate and provide an appraisal on the spot.</p>
					</div>
				</div>
				<div class="sell-steps__divider"></div>
				<div class="sell-step">
					<span>3</span>
					<div>
						<h4>Get Cash In-Store!</h4>
						<p>Our store is very secure, all transactions are confidential and we pay cash in-store.</p>
					</div>
				</div>
				<div class="sell-steps__btn">
					<div data-evt="toggleBookModal" class="sell__main-btn">
						<div>Get a Free Quote NOW!</div>
						<div class="sell-match-box">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="sell__main-btn-disclaimer">* Free and less than a couple minutes!</div>
				</div>
			</div>
		</div>
		<div class="sell__pics-wrap">
			<div>
				<img src="./assets/sell/diamond_pic1.webp" loading="lazy" alt="">
			</div>
			<div>
				<img src="./assets/sell/diamond_pic2.webp" loading="lazy" alt="">
			</div>
		</div>

		{# Regard Context #}
		<div class="sell-regard">
			<div>
				<img src="./assets/sell/diamond_pic3.webp" loading="lazy" alt="">
				<div>
					<img src="./assets/sell/diamond_pic4.webp" loading="lazy" alt="">
				</div>
			</div>
			<div>
				<h3 class="sell__heading">Unwanted Diamonds Buyer in Atlanta<br></h3>
				<p class="sell-regard__details">Have a diamond for sale? Icebox is here to pay top cash prices for your unwanted diamonds! We buy diamonds in all sizes and we pay cash on the spot in less than 15 minutes.</p>
				<p class="sell-regard__sub-details">Icebox is one of the most trusted resources to sell your watch in Atlanta! Not only have we been one of Atlanta's most trusted watch buyers for years.<br><br>We are conveniently located in Buckhead near Lenox Mall. When you visit, you can browse our selection of jewelry and luxury watches, as well.</p>
				<div class="sell__controls">
					<div data-evt="toggleBookModal" class="sell__main-btn">
						<span>Get a Free Quote NOW!</span>
						<div class="sell-match-box">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<span class="sell__main-btn-disclaimer">* Free and less than a couple minutes!</span>
				</div>
			</div>
		</div>

		{# Features #}
		<div class="sell-features">
			<h3 class="sell__heading">Why Selling With ICEBOX?</h3>
			<div class="sell-features__grid">
				<div>
					<img src="./assets/icons/icon_wallet.svg" loading="lazy" alt="">
					<span>Payments Higher</span>
					<p>By offering prices that are higher than those of our competitors, we aim to deliver exceptional quality and service.</p>
				</div>
				<div>
					<img src="./assets/icons/icon_transfer.svg" loading="lazy" alt="">
					<span>You Get It Fast</span>
					<p>By offering prices that are higher than those of our competitors, we aim to deliver exceptional quality and service.</p>
				</div>
				<div>
					<img src="./assets/icons/icon_gps.svg" loading="lazy" alt="">
					<span>On The Spot</span>
					<p>By offering prices that are higher than those of our competitors, we aim to deliver exceptional quality and service.</p>
				</div>
				<div>
					<img src="./assets/icons/icon_secure.svg" loading="lazy" alt="">
					<span>Totally Secure</span>
					<p>By offering prices that are higher than those of our competitors, we aim to deliver exceptional quality and service.</p>
				</div>
			</div>
		</div>
	</div>

	{# Fame #}
	<div class="sell-fame">
		<div class="sell-fame__wrapper">
			<img src="./assets/sell/diamond_pic1.webp" alt="">
			<div class="sell-fame__content">
				<div class="sell-wrapper">
					<div class="sell-fame__details">
						<h3 class="sell__heading">ICEBOX - Jewelers since 1976 - Family Owned &amp; Operated<br></h3>
						<p class="sell-fame__typo">At
							<strong>Icebox Diamonds &amp; Watches</strong>, we have been one of the top diamonds buyers in Atlanta for over a decade. We have many years of experience in the diamond trade and are able to provide you with top dollar for your unwanted diamonds - on the spot.<br></p>
						<div class="sell__controls">
							<div data-evt="toggleBookModal" class="sell__main-btn">
								<span>Get a Free Quote NOW!</span>
								<div class="sell-match-box">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<span class="sell__main-btn-disclaimer">* Free and less than a couple minutes!</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# Sell Reviews #}
	<div class="sell-reviews">
		<div class="sell-wrapper">
			<div class="sell-reviews__head">
				<h3 class="sell__heading">Authentic Reviews</h3>
				<div class="sell-reviews__rating">
					<img src="./assets/icons/google-logo.svg" loading="lazy" alt="">
					<img src="./assets/icons/five-stars.svg" loading="lazy" alt="">
					<span>4,9 out of 5</span>
				</div>
				<span class="sell-reviews__disclaimer">Based on 935 total reviews of Icebox, Atlanta, GA</span>
			</div>
			<div class="sell-reviews__main">

				<div class="sell-review">
					<div class="sell-review__main">
						<div class="sell-review__user">
							<span class="sell-review__user-short">TH</span>
							<div class="sell-review__user-details">
								<span>TJ Hall</span>
								<span>Audemars Piguet</span>
							</div>
						</div>
						<p>Highest offers in ATL since 2008 everybody knows that!  I brought four bags of scrap gold jewelry, sold two of them and kept two of them.  Then sold the two about 5 years later and they just pay so instantly and fair prices up front none of that sleazeball negotiations.</p>
					</div>
					<div class="sell-review__footer">
						<img src="./assets/icons/five-stars.svg" loading="lazy" alt="">
						<span>21 Dec, 2022</span>
					</div>
				</div>

				<div class="sell-review">
					<div class="sell-review__main">
						<div class="sell-review__user">
							<span class="sell-review__user-short">TH</span>
							<div class="sell-review__user-details">
								<span>TJ Hall</span>
								<span>Audemars Piguet</span>
							</div>
						</div>
						<p>Highest offers in ATL since 2008 everybody knows that!  I brought four bags of scrap gold jewelry, sold two of them and kept two of them.  Then sold the two about 5 years later and they just pay so instantly and fair prices up front none of that sleazeball negotiations.</p>
					</div>
					<div class="sell-review__footer">
						<img src="./assets/icons/five-stars.svg" loading="lazy" alt="">
						<span>21 Dec, 2022</span>
					</div>
				</div>

				<div class="sell-review">
					<div class="sell-review__main">
						<div class="sell-review__user">
							<span class="sell-review__user-short">TH</span>
							<div class="sell-review__user-details">
								<span>TJ Hall</span>
								<span>Audemars Piguet</span>
							</div>
						</div>
						<p>Highest offers in ATL since 2008 everybody knows that!  I brought four bags of scrap gold jewelry, sold two of them and kept two of them.  Then sold the two about 5 years later and they just pay so instantly and fair prices up front none of that sleazeball negotiations.</p>
					</div>
					<div class="sell-review__footer">
						<img src="./assets/icons/five-stars.svg" loading="lazy" alt="">
						<span>21 Dec, 2022</span>
					</div>
				</div>

				<div class="sell-review">
					<div class="sell-review__main">
						<div class="sell-review__user">
							<span class="sell-review__user-short">TH</span>
							<div class="sell-review__user-details">
								<span>TJ Hall</span>
								<span>Audemars Piguet</span>
							</div>
						</div>
						<p>Highest offers in ATL since 2008 everybody knows that!  I brought four bags of scrap gold jewelry, sold two of them and kept two of them.  Then sold the two about 5 years later and they just pay so instantly and fair prices up front none of that sleazeball negotiations.</p>
					</div>
					<div class="sell-review__footer">
						<img src="./assets/icons/five-stars.svg" loading="lazy" alt="">
						<span>21 Dec, 2022</span>
					</div>
				</div>

			</div>
		</div>
	</div>

	{# FAQ #}
	<div class="sell-faq">
		<div class="sell-wrapper for_faq">
			<div class="sell-faq__wrapper">
				<div class="sell-faq__head">
					<h3 class="sell__heading">Still Have Questions?<span>Contact us or find your answer in the FAQ below.</span>
					</h3>
					<a href="tel:404-842-0266">Call us now: + 1 (770) 828-5540</a>
				</div>
				<div class="sell-faq__main">
					<div class="sell-faq-item">
						<div class="sell-faq-item__head">
							<h5>Do I Need To Schedule an Appointment?</h5>
							<svg width="14" height="14" viewbox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 2L14 14L26 2" stroke="currentColor" stroke-width="3"></path>
							</svg>
						</div>
						<div class="sell-faq-item__main">
							<p>Appointments are not required, but they are preferred. If you would like to book an appointment, please contact Jenee via cell 404-991-9721, or email
								<a href="mailto:jenee.ewen@icebox.com">
									<strong>jenee.ewen@icebox.com</strong>
								</a>
								Typical business hours are Monday-Friday 11:00am-7:00pm.</p>
						</div>
					</div>
					<div class="sell-faq-item">
						<div class="sell-faq-item__head">
							<h5>What Can I Sell To Icebox?</h5>
							<svg width="14" height="14" viewbox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 2L14 14L26 2" stroke="currentColor" stroke-width="3"></path>
							</svg>
						</div>
						<div class="sell-faq-item__main">
							<p>We buy Gold, Bullion, Rolex, Audemars Piguet, Patek Philippe, Silver Flatware, Diamonds, and GIA Diamonds. Additionally, we also service and loans Rolex, Diamonds, and jewelry.</p>
						</div>
					</div>
					<div class="sell-faq-item">
						<div class="sell-faq-item__head">
							<h5>How Long Does It Take?</h5>
							<svg width="14" height="14" viewbox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 2L14 14L26 2" stroke="currentColor" stroke-width="3"></path>
							</svg>
						</div>
						<div class="sell-faq-item__main">
							<p>The entire process typically takes less than twenty minutes. We use state of the art equipment and software to streamline the gold buying process to make your visit efficient and enjoyable.</p>
						</div>
					</div>
					<div class="sell-faq-item">
						<div class="sell-faq-item__head">
							<h5>Will I Receive Cash On The Spot?</h5>
							<svg width="14" height="14" viewbox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 2L14 14L26 2" stroke="currentColor" stroke-width="3"></path>
							</svg>
						</div>
						<div class="sell-faq-item__main">
							<p>Yes! We provide a cash offer for the item(s) during your visit. If you prefer, you may also opt for payment via check.</p>
						</div>
					</div>
					<div class="sell-faq-item">
						<div class="sell-faq-item__head">
							<h5>How Do You Determine The Value Of My Piece(s)?</h5>
							<svg width="14" height="14" viewbox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 2L14 14L26 2" stroke="currentColor" stroke-width="3"></path>
							</svg>
						</div>
						<div class="sell-faq-item__main">
							<p>Several factors determine the cash value for gold, diamonds, and watches. This includes market demand, melt values, wholesale values, etc. Rest assured we offer fair value and the best prices in town!</p>
						</div>
					</div>
					<div class="sell-faq-item">
						<div class="sell-faq-item__head">
							<h5>What Should I Bring?</h5>
							<svg width="14" height="14" viewbox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 2L14 14L26 2" stroke="currentColor" stroke-width="3"></path>
							</svg>
						</div>
						<div class="sell-faq-item__main">
							<p>In order to sell jewelry or watches, you must provide a valid form of government ID. It is also strongly recommended you bring any paperwork you have for the item(s) such as appraisals, GIA certificates, the original box, and serial card.</p>
						</div>
					</div>
					<div class="sell-faq-item">
						<div class="sell-faq-item__head">
							<h5>Do You Buy Broken Items?</h5>
							<svg width="14" height="14" viewbox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 2L14 14L26 2" stroke="currentColor" stroke-width="3"></path>
							</svg>
						</div>
						<div class="sell-faq-item__main">
							<p>Yes, we provide offers for gold and diamond jewelry in all conditions.</p>
						</div>
					</div>
					<div class="sell-faq-item">
						<div class="sell-faq-item__head">
							<h5>Who Do I Contact For Further Details?</h5>
							<svg width="14" height="14" viewbox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 2L14 14L26 2" stroke="currentColor" stroke-width="3"></path>
							</svg>
						</div>
						<div class="sell-faq-item__main">
							<p>If you have further questions/concerns, please call or text Jenee at
								<a href="tel:404-842-0266">404-991-9721.</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{# Footer #}
<div class="sell-footer">
	<div class="sell-contacts">
		<div class="sell-wrapper">
			<div class="sell-contacts__container">
				<div class="sell-contacts__details">
					<div class="sell-contacts__location">
						<h5 class="sell-contacts__heading">STORE LOCATION</h5>
						<a target="_blank" href="https://www.google.com/maps?ll=33.843213,-84.370885&z=16&t=m&hl=en&gl=US&mapclient=embed&cid=1431302544280744083">
							<span>3255 Peachtree Rd NE</span>
							<span>Suite #2</span>
							<span>Atlanta, GA 30305</span>
						</a>
					</div>
					<div class="sell-contacts__schedule">
						<h5 class="sell-contacts__heading">Schedule</h5>
						<div>Monday - Friday<span>9AM - 7PM EST</span>
						</div>
						<div>Weekends<span>Closed</span>
						</div>
					</div>
				</div>
        <img src="./assets/sell/store-pic.webp" loading="lazy" alt="">
			</div>
		</div>
	</div>
	<div class="sell-footer-call">
		<h5 class="sell-contacts__heading">CALL US NOW!</h5>
		<a href="tel:404-842-0266">404-991-9721</a>
		<div class="sell__controls">
			<div data-evt="toggleBookModal" class="sell__main-btn">
				<span>Get a Free Quote NOW!</span>
				<div class="sell-match-box">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<span class="sell__main-btn-disclaimer">* Free and less than a couple minutes!</span>
		</div>
	</div>
</div>
