<div class="sitemap">
	<div class="sitemap__welcome">
		<h1>Sitemap</h1>
	</div>
	<div class="sitemap__main">
		<div class="wrapper">
			<div class="sitemap-content">
				<div class="sitemap-row">
					<h4>Pendants</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/pendants?sub[]=Jesus Pendants">Jesus</a>
						<a href="/results/pendants?sub[]=Angel Pendants">Angels</a>
						<a href="/results/pendants?sub[]=Crosses">Crosses</a>
						<a href="/results/pendants?sub[]=Other Pendants">Other Pendants</a>
						<a href="/results/pendants?sub[]=Letter Pendants">Letters &amp; Numbers</a>
						<a href="/results/pendants?sub[]=Religious Pendants">Religious</a>
						<a href="/results/pendants?sub[]=Photo Pendants">Photo</a>
						<a href="/results/pendants?sub[]=Animals">Animals</a>
						<a href="/results/pendants?sub[]=Hearts">Hearts</a>
						<a href="/results/pendants?sub[]=Sports">Sports</a>
						<a href="/results/pendants?sub[]=Weapons">Weapons</a>
						<a href="/results/pendants?sub[]=Icebox">Icebox Logo</a>
						<a href="/results/pendants?sub[]=Countries &amp; States">Countries &amp; States</a>
						<a href="/results/pendants?sub[]=Custom Pendants">Custom</a>
						<a href="/results/pendants?sub[]=Zodiac">Zodiac</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Gold Chains</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/gold-chains?sub[]=Franco">Franco</a>
						<a href="/results/gold-chains?sub[]=Rope">Rope</a>
						<a href="/results/gold-chains?sub[]=Miami Cuban">Miami Cuban</a>
						<a href="/results/gold-chains?sub[]=Rolo">Rolo</a>
						<a href="/results/gold-chains?sub[]=Figaro">Figaro</a>
						<a href="/results/gold-chains?sub[]=Byzantine">Byzantine</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Earrings</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/earrings?sub[]=Solitaire Earrings">Solitaires</a>
						<a href="/results/earrings?sub[]=Solitaire Halo Earrings">Solitaire-halo</a>
						<a href="/results/earrings?sub[]=Stud Earrings">Studs</a>
						<a href="/results/earrings?sub[]=Hoop Earrings">Hoops</a>
						<a href="/results/earrings?sub[]=Dangling Earrings">Dangling</a>
						<a href="/results/earrings?sub[]=Letter Earrings">Letter Earrings</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Necklaces</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/necklaces?sub[]=Gold Chains">Gold Chains</a>
						<a href="/results/necklaces?sub[]=Diamond Cubans">Diamond Cubans</a>
						<a href="/results/necklaces?sub[]=Diamond Tennis Chains">Diamond Tennis Chains</a>
						<a href="/results/necklaces?sub[]=Other">Other</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Rings</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/rings?sub[]=Engagement Rings">Engagement Rings</a>
						<a href="/results/rings?sub[]=Fashion Rings">Fashion Rings</a>
						<a href="/results/rings?sub[]=Wedding Bands">Wedding Bands</a>
						<a href="/results/rings?sub[]=Stackable Rings">Stackable Rings</a>
						<a href="/results/rings?sub[]=Custom Rings">Custom Rings</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Bracelets</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/bracelets?sub[]=Diamond Cuban Bracelets">Diamond Cubans</a>
						<a href="/results/bracelets?sub[]=Gold Bracelets">Gold Bracelets</a>
						<a href="/results/bracelets?sub[]=Diamond Tennis Bracelets">Diamond Tennis</a>
						<a href="/results/bracelets?sub[]=Diamond Bracelets">Diamond Bracelets</a>
						<a href="/results/bracelets?sub[]=Diamond Bangles">Bangles</a>
						<a href="/results/bracelets?sub[]=Gold Bracelets">Gold Bracelets</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Watches</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/watches?sub[]=Custom Rolex Watches">Rolex</a>
						<a href="/results/watches?sub[]=Custom Patek Philippe Watches">Patek Philippe</a>
						<a href="/results/watches?sub[]=Custom Audemars Piguet Watches">Audemars Piguet</a>
						<a href="/results/watches?sub[]=Bustdowns">Bustdowns</a>
						<a href="/results/watches?sub[]=Custom Hublot Watches">Hublot</a>
						<a href="/results/watches?sub[]=Custom Cartier Watches">Cartier</a>
						<a href="/results/watches?sub[]=Plain Watches">Plain Watches</a>
						<a href="/results/watches?sub[]=Bezels">Bezels</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Accessories</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/accessories?sub[]=Items">Jewelry Accessories</a>
						<a href="/results/accessories?sub[]=Diamond Accessories">Diamond Accessories</a>
						<a href="/results/accessories?sub[]=Watch Bezels">Watch Bezels</a>
						<a href="/results/accessories?sub[]=Glasses">Glasses</a>
						<a href="/results/accessories?sub[]=Leather Goods">Leather Goods</a>
						<a href="/results/accessories?sub[]=Earring Backs">Earring Backs</a>
						<a href="/results/accessories?sub[]=Phone Cases">Phone Cases</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Travel Cases</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/travel-cases?sub[]=Watches">Watches</a>
						<a href="/results/travel-cases?sub[]=Jewelry">Jewelry</a>
						<a href="/results/travel-cases?sub[]=Travel">Travel</a>
						<a href="/results/travel-cases?sub[]=Sunglasses">Sunglasses</a>
						<a href="/results/travel-cases?sub[]=Trays">Trays</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Custom</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/custom">Custom Jewelry</a>
					</nav>
				</div>

				<div class="sitemap-row">
					<h4>Watch Market</h4>
					<nav role="navigation" class="sitemap-row__nav">
						<a href="/results/watch-market">Go To Market</a>
					</nav>
				</div>


			</div>
		</div>
	</div>
</div>
