{% set stickySidebar = true %}

<div
	class="results-content">
	{# Banner #}


	<div class="results__wrap">
		{% include "elements/promo/vday/2024/results-banner.twig" %}

		{# Sub Categories Navigation #}
		{% if nav == true %}
			{% if category.nav is defined %}
				{% include "../elements/results/results-nav.twig" %}
			{% endif %}
		{% endif %}

		<div class="results__main">

			{% if category.has_subcategories %}
				<div class="results__subcategories">
					<div class="results__subcategories-wrap wrapper">
						{% for option in subcategories %}
							<label class="custom-checkbox">
								<input type="checkbox" value="pendants" {% if option.checked == true %} checked {% endif %}>
								<span>{{ option.caption }}</span>
							</label>
						{% endfor %}
					</div>
				</div>
			{% endif %}

			{% include "elements/results/results-sub.twig" %}
			{% include "elements/results/page-filters.twig" %}
			{% include "elements/results/filter-modal.twig" %}
			{% include "elements/results/results-bar.twig" %}

			<div class="results-cards-content">
				<div class="wrapper">

					<div class="results__main-wrapper">
						<div class="results__items">
							<div class="cards-grid">
								{% for item in sale_items %}
									{% include "elements/product-card.twig" with {
                    productItem: item,
                    xmas: true
                  }%}
								{% endfor %}
							</div>
							{% if pages is defined %}
								{% if pages > 1 %}
									<div class="content-preloader">
										<span></span>
									</div>
								{% endif %}
							{% else  %}
								<div class="content-preloader">
									<span></span>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

		</div>


	</div>

</div>
{% include "../elements/results/filter-modal.twig" %}
