<div class="results-content">

	<div class="results__sticky-search">
		<form method="get" action="/search-products">
			<div class="header-search__input-wrap">
				<span class="header-search__span-icon">
					<svg width="18" height="18" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.5 16C12.6422 16 16 12.6422 16 8.5C16 4.35786 12.6422 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6422 4.35786 16 8.5 16Z" stroke="currentColor" stroke-width="1.5"></path>
						<path d="M18.3335 18.3334L14 13.9999" stroke="currentColor" stroke-width="1.5"></path>
					</svg>
				</span>
				<input autocomplete="off" type="text" name="keyword" class="header-search__input" placeholder="Search on Icebox.com" id="main_search_field">
			</div>
		</form>
	</div>

	{% include "elements/promo/xmas/2024/results-banner.twig" %}

	<div class="results__wrap">
		<div class="results__main">

			{% include "elements/results/results-sub.twig" %}
			{% include "elements/results/page-filters.twig" %}
			{% include "elements/results/filter-modal.twig" %}
			{% include "elements/results/results-bar.twig" %}

			<div class="results-cards-content">
				<div class="wrapper">

					<div class="xmas-timer">
						<div class="xmas-timer__wrapper">
							<img loading="lazy" src="{{THEME_ASSETS_FOLDER}}promo/xmas/2024/timer-end.avif" alt="" class="xmas-timer__pic swing_5">
							<div class="xmas-timer__time">
								<div class="xmas-timer__col">
									<div data-xmas-timer="days" class="xmas-timer__typo">14</div>
									<div class="xmas-timer__sub-typo">DAYS</div>
								</div>
								<div class="xmas-timer__col">
									<div data-xmas-timer="hours" class="xmas-timer__typo">08</div>
									<div class="xmas-timer__sub-typo">HOURS</div>
								</div>
								<div class="xmas-timer__col">
									<div data-xmas-timer="minutes" class="xmas-timer__typo">46</div>
									<div class="xmas-timer__sub-typo">MIN</div>
								</div>
								<div class="xmas-timer__col">
									<div data-xmas-timer="seconds" class="xmas-timer__typo">00</div>
									<div class="xmas-timer__sub-typo">SEC</div>
								</div>
							</div>
						</div>
					</div>

					<div class="results__main-wrapper">
						<div class="results__items">
							<div class="cards-grid">
								{% for item in sale_items %}
									{% include "elements/product-card.twig" with {
                    productItem: item,
                    xmas: true
                  }%}
								{% endfor %}
							</div>
							{% if pages is defined %}
								{% if pages > 1 %}
									<div class="content-preloader">
										<span></span>
									</div>
								{% endif %}
							{% else  %}
								<div class="content-preloader">
									<span></span>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
