<div
	class="vday-poster">

	{# Decoration #}
	<div class="vday-poster__decor">

		<div class="vday-heart_red left_c">
			<img src="./assets/vday/red-heart.webp" loading="eager" alt="" class="rot_1">
		</div>

		<div class="vday-heart_rose left_b">
			<img src="./assets/vday/rose-heart.webp" loading="eager" alt="" class="rot_2">
		</div>

		<div class="vday-heart_rose left_t">
			<img src="./assets/vday/rose-heart.webp" loading="eager" alt="">
		</div>

		<div class="vday-heart_red center_bl">
			<img src="./assets/vday/red-heart.webp" loading="eager" alt="" class="rot_3">
		</div>

		<div class="vday-heart_rose center_br">
			<img src="./assets/vday/rose-heart.webp" loading="eager" alt="" class="rot_4">
		</div>

		<div class="vday-heart_red">
			<img src="./assets/vday/red-heart.webp" loading="eager" alt="" class="rot_5">
		</div>

		<div class="vday-heart_rose right_b">
			<img src="./assets/vday/rose-heart.webp" loading="eager" alt="" class="rot_6">
		</div>

		<div class="vday-heart_red right_t">
			<img src="./assets/vday/red-heart.webp" loading="eager" alt="" class="rot_7">
		</div>

		<div class="vday-cloud left_r">
			<img src="./assets/vday/cloud.webp" loading="eager" alt="">
		</div>

		<div class="vday-cloud left_b">
			<img src="./assets/vday/cloud.webp" loading="eager" alt="">
		</div>

		<div class="vday-cloud">
			<img src="./assets/vday/cloud.webp" loading="eager" alt="">
		</div>

		<div class="vday-shape left_t to-flipped">
			<img src="./assets/vday/white-heart.webp" loading="eager" alt="">
		</div>

		<div class="vday-shape left_t">
			<img src="./assets/vday/white-heart.webp" loading="eager" alt="">
		</div>

		<div class="vday-shape left_b to-flipped">
			<img src="./assets/vday/white-heart.webp" loading="eager" alt="">
		</div>

		<div class="vday-shape left_b">
			<img src="./assets/vday/white-heart.webp" loading="eager" alt="">
		</div>
	</div>

	{# Main Info #}
	<div class="vday-poster__info">
		<div class="vday-poster__main-img">
			<img src="./assets/vday/poster-main-img.svg" loading="eager" alt="">
		</div>
		<span>
			SALE UP TO
			<span>50%</span>
			OFF
		</span>
	</div>

	{# Ticker #}
	<div class="vday-poster__ticker">
		<div>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
		</div>
		<div>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
		</div>
		<div>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
			<span>Unforgettable Valentine's Day</span>
			<span>SALE UP TO 70% OFF</span>
		</div>
	</div>

	{# Background #}
	<div class="vday-poster__bg"></div>
</div>
