<div class="ny-top-banner">
	<a href="/" class="ny-top-banner__pic-wrap">
		<img src="{{THEME_ASSETS_FOLDER}}promo/new-year/2024/top-banner-pic.png" loading="eager" alt="">
	</a>
	<div class="ny-top-banner__timer">
		<h4>SALE ENDS IN</h4>
		<div>
			<div>
				<span data-new-year-timer="days">00</span>
				<span>Days</span>
			</div>
			<div>
				<span data-new-year-timer="hours">00</span>
				<span>Hours</span>
			</div>
		</div>
	</div>
</div>
