<section class="home-welcome">
  <div class="home-welcome-box">
    <a href="/all?gender[]=Male" class="smart-picture"><img src="{{ THEME_ASSETS_FOLDER }}homepage-banner_men.avif" loading="eager" alt="Icebox Men Jewelry Collection" /></a>
    <div class="home-welcome-details">
      <div class="home-welcome__title-wrap">
        <h2>Men's Collection</h2>
        <p>
          Hand-picked pieces for men.
        </p>
      </div>
      <a href="/all?gender[]=Male" class="arrow-btn --white"><span>Shop Now</span></a>
    </div>
  </div>
  <div class="home-welcome-box">
    <a href="/all?gender[]=Female" class="smart-picture"><img src="{{ THEME_ASSETS_FOLDER }}homepage-banner_women.avif" loading="eager" alt="Icebox Women Jewelry Collection" /></a>
    <div class="home-welcome-details">
      <div class="home-welcome__title-wrap">
        <h2>Women's Collection</h2>
        <p>
          Hand-picked pieces for women.
        </p>
      </div>
      <a href="/all?gender[]=Female" class="arrow-btn --white"><span>Shop Now</span></a>
    </div>
  </div>
</section>
