<div class="home-hero home-hero__store-location">
  <div class="home-hero__store-location-content wrapper">
    <div class="home-hero__store-embed">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6627.2721513250635!2d-84.37169390586085!3d33.84749469293874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f505f4376e605b%3A0x13dd0214a5f77093!2sIcebox%20Diamonds%20%26%20Watches!5e0!3m2!1sru!2sru!4v1747382202217!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="home-hero__store-details">
      <span>3255 Peachtree Road NE #2 Atlanta, Georgia 30305</span>
      <h5>Icebox Flagship Showroom in Atlanta (Buckhead)</h5>
      <p>
        Located at the Corner of Peachtree and Piedmont Road in Buckhead, on the Side of the Haverty's Shopping Plaza
      </p>
      <a href="https://maps.app.goo.gl/NEU1PaxPgwUq6puW7" class="arrow-btn"><span>Click to get directions</span></a>
    </div>
  </div>
</div>
