<div class="menu__list" data-menu-list="goldChains">
	<a href="/results/gold-chains" class="menu__item">
		<span>
			<strong>Shop All</strong>
		</span>
	</a>
	{% for category in gold_chains_subcategories %}
		<a href="{{category.href}}" class="menu__item">
			<span>{{category.name}}</span>
		</a>
	{% endfor %}
</div>
