{% if not user %}
	<h4 class="menu__heading">Get notifications you will love with our free account!</h4>
	<button onclick="signModal.open('register')" class="menu__btn mg-bottom_12">Sign Up Now</button>
{% endif %}

<div class="menu__sub-list">

	<a href="/track-order" class="menu__item --icon --track">
		<span>Track Your Order</span>
	</a>

	{% if user %}
		<a href="/account" class="menu__item --icon --account">
			<span>My Account</span>
		</a>
		<a href="/account/wishlist" class="menu__item --icon --wishlist">
			<span>Wishlist</span>
		</a>
		<a href="/logout" class="menu__item --icon --logout">
			<span>Sign Out</span>
		</a>
	{% endif %}

	{% if not user %}
		<div onclick="signModal.open('login')" class="menu__item --icon --account">
			<span>Sign In To Your Account</span>
		</div>
	{% endif %}

</div>
