<div class="menu__sub-list">
	<a href="tel:+17705585466" target="_blank" class="menu__item">
		<span>Call Us: + 1 770 558 5466</span>
	</a>
	<a href="/chat-whatsapp" target="_blank" class="menu__item">
		<span>Chat on WhatsApp now
			<span class="menu__wa-dot"></span>
		</span>
	</a>
  <div data-evt="toggleCurrency" class="menu__item">
  <span>Change Currency</span>
  </div>
</div>
