{% if cart_items %}
	<a href="/cart" class="menu__item --more --icon --cart">
		<span>{{cart_items}}
			items in your cart</span>
	</a>
{% else %}
	<div class="menu__item --cart">
		<span>No items in your cart</span>
	</div>
{% endif %}


<a href="/black-friday" class="menu__item --black-friday">
	<img loading="eager" src="./assets/bf-top-banner-img.svg" alt="" class="bf-top-banner__img">
</a>
<div data-menu-nav="men" class="menu__item --more">
	<span>Men's</span>
</div>
<div data-menu-nav="women" class="menu__item --more">
	<span>Women's</span>
</div>
<div data-menu-nav="goldChains" class="menu__item --more">
	<span>Gold Chains</span>
</div>
<div data-menu-nav="pendants" class="menu__item --more">
	<span>Pendants</span>
</div>
<div data-menu-nav="earrings" class="menu__item --more">
	<span>Earrings</span>
</div>
<div data-menu-nav="necklaces" class="menu__item --more">
	<span>Necklaces</span>
</div>
<div data-menu-nav="rings" class="menu__item --more">
	<span>Rings</span>
</div>
<div data-menu-nav="bracelets" class="menu__item --more">
	<span>Bracelets</span>
</div>
<div data-menu-nav="watches" class="menu__item --more">
	<span>Watches</span>
</div>
<div data-menu-nav="accessories" class="menu__item --more">
	<span>Accessories</span>
</div>
<div data-menu-nav="custom" class="menu__item --more">
	<span>Custom</span>
</div>
<div data-menu-nav="travelCases" class="menu__item --more">
	<span>Travel Cases</span>
</div>
