<div class="iba-toolbar">
	<div class="iba-toolbar__wrapper">
		<div class="iba-toolbar-col" id="ibaToolbarStock">
			<div class="iba-toolbar-stock">
				<div class="iba-toolbar-stock-col">
					<span class="iba-toolbar-stock-title">Stock</span>
					<div class="iba-toolbar-stock-table">

						<span class="iba-toolbar-stock-table-cell --stock-gold">1</span>
						<span class="iba-toolbar-stock-table-cell --stock-silver">0</span>
						<span class="iba-toolbar-stock-table-cell --stock-rose">2</span>
					</div>
				</div>
				<div class="iba-toolbar-stock-col">
					<span class="iba-toolbar-stock-title">Sold</span>
					<div class="iba-toolbar-stock-table">
						<span class="iba-toolbar-stock-table-cell --stock-gold">1</span>
						<span class="iba-toolbar-stock-table-cell --stock-silver">3</span>
						<span class="iba-toolbar-stock-table-cell --stock-rose">3</span>
					</div>
				</div>
			</div>
		</div>
		<div class="iba-toolbar-col" id="ibaToolbarLabels">

			<span class="iba-toolbar-label">#P2050</span>
			<span class="iba-toolbar-label">
				<a href="https://www.icebox.com/inventory?search=150-04096">150-04096</a>
			</span>
			<span style=" background:#5bddb3; " class="iba-toolbar-label">
				<a href="/inventory?id=3937&amp;stock=In Stock" target="_blank">Inventory</a>
			</span>
			{# <span class="iba-toolbar-label adminTrigger">
																									<a class="jsSlidebarAdminTrigger">Sales History</a>
																								</span> #}
			<span class="iba-toolbar-label">
				<a title="Upload Video File" onclick="$('#video_file_input').click();">
					<svg class="svgIcon-root" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="466px" height="466px" viewbox="0 0 466 466" style="enable-background:new 0 0 466 466;" xml:space="preserve">
						<g>
							<g>
								<g>
									<path d="M370.001,26.35H18.5C8.282,26.35,0,34.633,0,44.85v289.477c0,10.218,8.282,18.5,18.5,18.5h262.662l-20.326-23.571
																																																																																                            h-48.548v-29.603h25.435l-0.183-0.224c-6.49-7.407-10.784-15.061-12.85-22.429H44.4V102.175h299.7V277h-40.213
																																																																																                            c6.104,6.485,12.491,13.053,17.853,18.368c3.759-3.521,8.191-7.416,13.159-11.314c16.925-13.288,33.388-21.414,48.932-24.151
																																																																																                            c1.562-0.274,3.121-0.479,4.672-0.647V44.85C388.501,34.633,380.219,26.35,370.001,26.35z M129.038,299.653h47.175v29.601
																																																																																                            h-47.175V299.653z M45.787,299.653h47.176v29.601H45.787V299.653z M92.963,79.521H45.787v-29.6h47.176V79.521z M176.213,79.521
																																																																																                            h-47.175v-29.6h47.175V79.521z M259.463,79.521h-47.175v-29.6h47.175V79.521z M342.713,79.521h-47.175v-29.6h47.175V79.521z"></path>
									<path d="M464.662,354.325c-4.595-24.766-20.357-47.662-29.344-59.11c-12.191-15.53-27.666-21.767-45.99-18.538
																																																																																                            c-13.086,2.305-27.307,9.429-42.271,21.177c-10.572,8.303-18.558,16.611-22.088,20.479c-8.874-7.644-33.651-33.175-45.816-47.571
																																																																																                            c-6.109-7.229-21.865-22.604-33.621-11.991c-12.654,12.301,5.882,32.396,6.362,32.979l74.362,91.024
																																																																																                            c-0.301,0.402-0.637,0.752-1.021,1.055c-7.133,5.601-27.943-4.69-36.344-10.245c-7.68-5.076-20.609-5.037-27.137,0.086
																																																																																                            c-2.612,2.053-4.06,4.842-4.075,7.854c-0.021,4.338,2.815,8.82,8.422,13.313c0.063,0.051,0.177,0.149,0.339,0.289
																																																																																                            c8.286,7.1,30.764,24.782,60.445,35.668c19.027,6.979,37.564,9.854,55.104,8.551c21.754-1.621,42.023-9.693,60.246-24
																																																																																                            C461.781,399.991,469.327,379.461,464.662,354.325z"></path>
									<path d="M175.976,127.423c-2.845-2.387-6.815-2.905-10.183-1.335c-3.365,1.57-5.517,4.948-5.517,8.662v100.833
																																																																																                            c0,3.715,2.151,7.092,5.517,8.661c1.291,0.604,2.671,0.897,4.042,0.897c2.204,0,4.386-0.763,6.141-2.233l60.163-50.416
																																																																																                            c2.168-1.817,3.42-4.501,3.42-7.328s-1.252-5.511-3.42-7.327L175.976,127.423z"></path>
								</g>
							</g>
						</g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
					</svg>
				</a>
				<form method="post" id="frmVideoUpload" style="display:none;" enctype="multipart/form-data">
					<input type="file" name="video_file" style="display:none" id="video_file_input" onchange="$('#video_submit_input').click();">
					<input type="hidden" name="product_id" id="video_upload_product_id" value="3937">
					<input type="submit" id="video_submit_input" style="display:none;">
				</form>
			</span>
			<span class="iba-toolbar-label">
				<a href="/appraisal" target="_blank" class="product__certificate-link">
					<svg style="width:18px;height:18px;" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.773 0.872756L21.2577 3.13534C21.6954 3.25207 22 3.64852 22 4.10157V13.4555C22 15.4616 20.9974 17.335 19.3282 18.4478L12.5547 22.9635C12.2188 23.1874 11.7812 23.1874 11.4453 22.9635L4.6718 18.4478C3.00261 17.335 2 15.4616 2 13.4555V4.10157C2 3.64852 2.30458 3.25207 2.74234 3.13534L11.227 0.872756C11.7335 0.737696 12.2665 0.737696 12.773 0.872756Z" stroke="currentColor" stroke-linecap="round" stroke-width="2.2px"></path>
						<path d="M8.66667 11.3333L11.3333 13.9999L16 9.33325" stroke="currentColor" stroke-linecap="square" stroke-width="2.2px"></path>
					</svg>
					<span>APPRAISAL</span>

				</a>
			</span>
		</div>
		<div class="iba-toolbar-col" id="ibaToolbarControls">
			<button onclick="enableDisableAdmin('on');" class="iba-button-icon iba-button--control " id="ib-tooltip" title="Control">
				<svg class="svgIcon-root" fill="currentColor" viewbox="0 0 14 14">
					<path fill-rule="evenodd" d="M2.116 2.783A1.25 1.25 0 113.884 4.55a1.25 1.25 0 01-1.768-1.767zm-1.06-1.061a2.75 2.75 0 014.59 1.195h6.687a.75.75 0 010 1.5H5.646a2.75 2.75 0 11-4.59-2.695zm10.828 7.727a1.25 1.25 0 00-2.134.88V10.338a1.25 1.25 0 102.134-.888zm-3.53 1.634a2.75 2.75 0 100-1.5H1.667a.75.75 0 000 1.5h6.687z" clip-rule="evenodd"></path>
				</svg>
			</button>
			<button onclick="enableDisableZoom('on');" class="iba-button-icon iba-button--zoom " id="ib-tooltip" title="Zoom">
				<svg class="svgIcon-root" fill="currentColor" viewbox="0 0 16 16">
					<path fill-rule="evenodd" d="M12.77 3.23a3.917 3.917 0 10-5.54 5.54 3.917 3.917 0 005.54-5.54zm1.06-1.06a5.417 5.417 0 00-9.195 3.08H2.854a2.27 2.27 0 00-2.27 2.27v5.626a2.27 2.27 0 002.27 2.27h5.625a2.27 2.27 0 002.271-2.27v-1.781a5.417 5.417 0 003.08-9.195zM2.854 6.75h1.781A5.393 5.393 0 006.17 9.83a5.392 5.392 0 003.08 1.535v1.781a.77.77 0 01-.77.77H2.853a.77.77 0 01-.77-.77V7.52a.77.77 0 01.77-.77zm4.76-2.833a.75.75 0 100 1.5h2.56a.41.41 0 01.41.41v2.558a.75.75 0 001.5 0V5.826a1.91 1.91 0 00-1.91-1.91h-2.56z" clip-rule="evenodd"></path>
				</svg>
			</button>
			<button onclick="enableDisableUnpublished('on');" class="iba-button-icon iba-button--unpublished " id="ib-tooltip" title="Unpublished">
				<svg class="svgIcon-root" fill="currentColor" width="16pt" height="16pt" viewbox="0 0 16 16">
					<g id="surface1">
						<path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 15.785156 14.757812 L 12.710938 11.679688 C 14.578125 10.273438 15.789062 8.53125 15.871094 8.410156 C 16.042969 8.164062 16.042969 7.835938 15.871094 7.589844 C 15.730469 7.382812 12.351562 2.519531 8 2.519531 C 6.746094 2.519531 5.574219 2.925781 4.535156 3.503906 L 1.242188 0.214844 C 0.957031 -0.0703125 0.496094 -0.0703125 0.214844 0.214844 C -0.0703125 0.496094 -0.0703125 0.957031 0.214844 1.242188 L 3.289062 4.320312 C 1.421875 5.726562 0.210938 7.46875 0.128906 7.589844 C -0.0429688 7.835938 -0.0429688 8.164062 0.128906 8.410156 C 0.269531 8.617188 3.648438 13.480469 8 13.480469 C 9.253906 13.480469 10.425781 13.074219 11.464844 12.496094 L 14.757812 15.785156 C 14.902344 15.929688 15.085938 16 15.273438 16 C 15.457031 16 15.644531 15.929688 15.785156 15.785156 C 16.070312 15.503906 16.070312 15.042969 15.785156 14.757812 Z M 8 3.976562 C 10.921875 3.976562 13.5 6.898438 14.363281 8 C 13.894531 8.597656 12.925781 9.726562 11.667969 10.640625 L 5.609375 4.578125 C 6.355469 4.214844 7.164062 3.976562 8 3.976562 Z M 8 12.023438 C 5.078125 12.023438 2.5 9.097656 1.636719 8 C 2.101562 7.402344 3.074219 6.269531 4.328125 5.359375 L 10.390625 11.417969 C 9.644531 11.785156 8.835938 12.023438 8 12.023438 Z M 8 12.023438 "></path>
					</g>
				</svg>
			</button>
			<a href="/admin/products/3937" class="iba-button-icon iba-button--admin" id="ib-tooltip" target="_blank" title="Edit Item">
				<svg class="svgIcon-root" fill="currentColor" viewbox="0 0 15 15">
					<path fill-rule="evenodd" d="M12.478 1.75a.531.531 0 100 1.063.531.531 0 000-1.063zm-2.031.531a2.031 2.031 0 114.063 0 2.031 2.031 0 01-4.063 0zm.215 3.136a.75.75 0 01.133 1.052L8.842 8.99a.75.75 0 01-1.056.131L6.106 7.8 4.572 9.793a.75.75 0 11-1.189-.915L5.38 6.285a.75.75 0 011.058-.132l1.682 1.321 1.49-1.923a.75.75 0 011.053-.134zM4.252.812c-1.19 0-2.21.426-2.929 1.202C.611 2.782.25 3.833.25 4.99v5.388c0 1.154.352 2.204 1.063 2.974.718.776 1.74 1.2 2.94 1.2h5.736c1.188 0 2.209-.425 2.928-1.199.713-.767 1.074-1.817 1.074-2.975V5.687a.75.75 0 10-1.5 0v4.692c0 .85-.262 1.512-.673 1.954-.405.436-1.01.72-1.83.72H4.253c-.832 0-1.437-.285-1.837-.718-.407-.44-.665-1.102-.665-1.956V4.991c0-.85.262-1.514.673-1.958.406-.437 1.012-.721 1.83-.721h4.845a.75.75 0 100-1.5H4.252z" clip-rule="evenodd"></path>
				</svg>
			</a>
			<button onclick="toggleAdminBar()" class="iba-button-icon iba-button--toggle">
				<span>
					<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M6.16667 0V6.16667H0V4.5H4.5V0H6.16667ZM11.5 4.5V0H9.83333V6.16667H16V4.5H11.5ZM4.5 11.5H0V9.83333H6.16667V16H4.5V11.5ZM9.83333 9.83333H16V11.5H11.5V16H9.83333V9.83333Z"/>
					</svg>
				</span>
				<span>
					<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.16667V0H6.16667V1.66667H1.66667V6.16667H0ZM14.3333 1.66667V6.16667H16V0H9.83333V1.66667H14.3333ZM1.66667 14.3333H6.16667V16H0V9.83333H1.66667V14.3333ZM16 16H9.83333V14.3333H14.3333V9.83333H16V16Z"/>
					</svg>
					<span>Open</span>
				</span>
			</button>
		</div>
	</div>
</div>
