<div class="footer-affirm">
	<div class="footer-affirm__wrapper">
		<div class="footer-affirm__side">
			<img src="./assets/affirm-logo_plain-white.svg" alt="affirm_logo">
		</div>
		<div class="footer-affirt__disclosure">
			<div>Payment options through Affirm are subject to eligibility, may not be available in all
				                states, and are provided by these lending partners:
				<a href="https://www.affirm.com/lenders" target="_blank">affirm.com/lenders</a>.
					                CA residents: Loans by Affirm Loan Services, LLC are made or arranged pursuant to a California Finance
					                Lenders Law license.</div>
		</div>
	</div>
</div>
