<div class="cart-modal">
	<div data-evt="toggleCart" class="cart-modal__backdrop"></div>
	<div class="cart-modal__container">
		<div class="cart-modal__wrapper">
			<div class="cart-modal__header">
				<h5 class="cart-modal__heading">Shopping Cart
					<span>({{cartItems.length}})</span>
				</h5>
				<div data-evt="toggleCart" class="cart-modal__close-btn">
					{% include "../components/svg/close.svg" with {width: 12, height: 12} %}
				</div>
			</div>
			<div class="cart-modal__scrollable">
				<div class="cart-modal__rows-wrap">

					<div class="cart-row{% if cart.items.length == 0 %} is-empty{% endif %}">
						<div class="cart-row__wrapper">
							{% if cart.items.length > 0 %}
								{% for item in cart.items %}
									{% include "../components/cart/cart-item.twig" with {
                imgSrc: item.imgSrc,
                name: item.name,
                href: item.href,
                options: item.options,
                notice: item.notice,
                shippingDate: item.shippingDate,
                price: item.price,
                salePrice: item.salePrice
							} %}
								{% endfor %}
							{% else %}
								<div class="cart-modal__empty-wrap">
									<span>Your Cart Is Empty</span>
									<a href="/" class="home-welcome__link">
										<span>Start Shopping</span>
										{% include "components/svg/arrow-next.svg" %}
									</a>
								</div>
								<div class="cart-modal__empty-items">
									<span>
										{% if user.recentlyViewed.length > 0 %}Recently Viewed{% else %}Our Best Pieces
										{% endif %}
									</span>
									<div class="cart-modal__empty-grid">
										{% if user.recentlyViewed %}
											{# Include Recently if available #}
											{% for item in 0..5 %}
												{% include "elements/product-card.twig" %}
											{% endfor %}
										{% else %}
											{# Else Include Popular #}
											{% for item in 0..5 %}
												{% include "elements/product-card.twig" %}
											{% endfor %}
										{% endif %}
									</div>
								</div>
							{% endif %}
						</div>
					</div>

					{% if cart.items.length > 0 %}
						<div class="cart-row">
							<div class="cart-row__wrapper">
								<div class="cart-modal__summary-wrap">
									<div class="cart-modal__summary-price">
										<span>Original</span>
										<span>$
											{{ cart.originalPrice|number_format(2) }}</span>
									</div>
									{% if cart.discountPrice is defined %}
										<div class="cart-modal__summary-price is-discount">
											<span>Discount</span>
											<span>- $
												{{cart.discountPrice|number_format(2)}}</span>
										</div>
									{% endif %}
									<div class="cart-modal__summary-price">
										<span>Delivery Charge</span>
										<span>On Checkout</span>
									</div>
									<div class="cart-modal__summary-price mybag-summary-price_total">
										<span>Total</span>
										<span class="cart-modal__total-price">$
											{{ cart.fullPrice|number_format(2) }}</span>
									</div>
								</div>
							</div>
						</div>
					{% endif %}

				</div>
			</div>
			{% if cart.items.length > 0 %}
				<div class="cart-modal__footer">
					<a href="https://www.icebox.com/cart" class="cart-modal__btn">Go To Checkout</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>
