<div class="connect-btn{% if user.admin or userIsAdmin %} --admin{% endif %}">
	<div class="connect-btn__pic"></div>
	<div class="typing-dots">
		<span></span>
	</div>
	<span>Let's Connect</span>
</div>

<div class="connect-list">
	<div class="connect-list__wrapper">
  		<a href="tel:404-842-0266" class="connect-list__btn --call">
			<span>Call Us Now</span>
		</a>
  		<a href="/chat-whatsapp" target="_blank" class="connect-list__btn --wa">
			<span>WhatsApp</span>
		</a>
		<a href="https://www.instagram.com/icebox" target="_blank" class="connect-list__btn --inst">
			<span>Instagram</span>
		</a>
	</div>
</div>
