<div class="pay-card --crypto">
	<div class="pay-card__wrapper">
		<div class="pay-card__pics">
			<span>Bitcoin</span>
			<span>Ethereum</span>
			<span>USDT</span>
		</div>
		<div class="pay-card__details">
			<img src="./assets/pay-crypto-sum.svg" alt="">
      <button class="pay-card__btn">Learn More</button>
		</div>
	</div>
</div>
