<div class="pay-card --financing">
	<div class="pay-card__wrapper">
		<div class="pay-card__details">
			<div class="pay-card__heading">Apply For <span>Financing.</span></div>
			<p class="pay-card__typo">Less than 5 minutes to apply! Personalized rate quotes with no hard credit pull.</p>
			<a href="/financing" target="_blank" class="pay-card__btn">Learn More</a>
		</div>
	</div>
</div>e