<footer class="footer footer_min">
	<div class="footer__wrapper">

		<div class="sell-footer-call">
			<h5 class="sell-contacts__heading">
				Call Us or Contact Via WhatsApp
			</h5>
			<a href="tel:404-842-0266">404-991-9721</a>
			<div class="sell__controls">
				<a href="/chat-whatsapp" target="_blank" class="wa-float">
					<div class="wa-float__wrapper">
						<div class="wa-float__live">
							<span></span>
							<span>LIVE</span>
						</div>
						<div class="wa-float__icons">
							<div class="wa-float__dots">
								<div class="typing-dots -alt">
									<div></div>
								</div>
							</div>
							<div class="wa-float__pic-wrap">
								<img src="./assets/wa_white-pic.svg" loading="eager" alt="" class="wa-float__pic">
							</div>
						</div>
						<img src="./assets/wa_chat-text.svg" loading="eager" alt="" class="wa-float__text-pic">
					</div>
				</a>
				<span class="sell__main-btn-disclaimer">Start live chat on WhatsApp now!</span>
			</div>
		</div>

		<div class="footer__social">
			<h5>Follow Us</h5>
			<div class="footer__social-grid">
				<a href="https://www.instagram.com/icebox/" target="_blank">
					<img src="./assets/icons/social-dark_instagram.svg" loading="lazy" alt="instagram icon"></a>
				<a href="https://www.facebook.com/Icebox" target="_blank">
					<img src="./assets/icons/social-dark_facebook.svg" loading="lazy" alt="facebook icon"></a>
				<a href="https://www.youtube.com/channel/UCv8gFyATae1x0VmDHmNbIhg?sub_confirmation=1" target="_blank">
					<img src="./assets/icons/social-dark_youtube.svg" loading="lazy" alt="youtube icon"></a>
				<a href="https://www.twitter.com/icebox" target="_blank">
					<img src="./assets/icons/social-dark_x.svg" loading="lazy" alt="x icon"></a>
				<a href="https://www.tiktok.com/@icebox" target="_blank">
					<img src="./assets/icons/social-dark_tiktok.svg" loading="lazy" alt="tiktok icon"></a>
				<a href="/chat-whatsapp" target="_blank">
					<img src="./assets/icons/social-dark_whatsapp.svg" loading="lazy" alt="whatsapp icon"></a>
			</div>
		</div>
		<div class="footer-legal">
			<div class="wrapper">
				<div class="footer-legal__main">

					<div data-evt="toggleCurrency" class="page-currency">
						<span>Currency:</span>
						<div class="page-currency-current">
							<img src="./assets/flags/usd.svg" loading="lazy" alt="">
							<span>$ USD</span>
						</div>
					</div>

					<span class="footer-legal__copyright">Icebox.com, 2023 ©. All Rights Reserved.</span>
				</div>
			</div>
		</div>
	</div>
</footer>
