<footer class="footer">
	<div class="footer__row wrapper">
		<div class="footer__flex-box">
			<div class="footer__main-col">
				<div>
					<h4 class="footer__col-heading">Contact Us
						<span>We work from 11AM to 6PM Monday - Friday. Closed weekends.</span>
					</h4>
				</div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="footer__row --meta wrapper">
		<div class="footer__flex-box"></div>
	</div>
</footer>
