<header class="header">
	<div class="header-nav-wrapper">
		<div class="wrapper">
			<div class="header-nav">
      {% include "../components/header/header-navigation.twig" %}
			</div>
		</div>
	</div>
  {% include "../components/header/search.twig" %}
	<div class="header__sub-nav">
		<div class="wrapper">
			<div class="header__sub-nav-list">
      {% include "../components/header/categories.twig" %}
			</div>
		</div>
	</div>

</header>