<div class="loan-case">

	<div class="loan-case__header">
		<img src="{{THEME_ASSETS_FOLDER}}circle-blue-logo.svg" loading="eager" alt="" class="loan-case__avatar">
		<h4 class="loan-case__heading">Welcome To the Icebox Max Approval Financing Form</h4>
		<span class="loan-case__spot">Apply Now</span>
	</div>

	<div class="loan-case__bar-wrap">
		<div class="loan-bar">
			<span class="loan-bar__progress"></span>
		</div>
	</div>

	<div class="loan-case__content">
		<form id="loan_form" name="loan_form" method="get" class="loan-case__form">
			<div
				class="loan-scroller">

				{# First & last name #}
				<div data-loan-section="name" data-loan-section="name" class="loan-case-section">
					<h6 class="loan-case-section__title">First &amp; Last Name</h6>
					<div class="loan-input-wrap">
						<input class="loan-case__input" placeholder="First Name" type="text" id="loan_first_name" required>
					</div>
					<div class="loan-input-wrap">
						<input class="loan-case__input" placeholder="Last Name" type="text" id="loan_last_name" required>
					</div>
				</div>

				{# Phone Number #}
				<div data-loan-section="phone" class="loan-case-section">
					<h6 class="loan-case-section__title">Phone Number</h6>
					<div class="loan-input-wrap">
						<input data-validate="number" class="loan-case__input --icon" pattern="[0-9]*" placeholder="Phone Number" type="text" id="loan_number" required>
						<div class="loan-case__input-icon">{% include "components/svg/loan-mobile.svg" %}</div>
					</div>
				</div>


			</div>
		</form>
	</div>

	<div class="loan-case__footer">
		<div class="loan-case__btn-group">
			<button data-loan-evt="back" class="loan-case__btn is-sub">Back</button>
			<button data-loan-evt="go" class="loan-case__btn">Continue</button>
		</div>
		<div class="loan-case__features">
			<div class="loan-case__feature">
				{% include "components/svg/secure.svg" %}
				<span>Your information is securely encrypted</span>
			</div>
			<div class="loan-case__feature">
				{% include "components/svg/credit-score.svg" %}
				<span>No impact to your credit score</span>
			</div>
		</div>
	</div>
</div>
