<div class="menu2">
	<div class="menu2__header">
		<a href="/">{% include "components/svg/logo.twig", with { class: "menu2__logo"} %}</a>
		<button data-evt="toggleMenu" class="menu2__close-btn">
			{% include "components/svg/menu2_close.svg" %}
		</button>
	</div>
	<div class="menu2__wrapper">

		<div class="menu2__main-nav">
			<nav role="navigation" aria-label="Main">
				<div class="menu2__nav-item --search">
					<input autocomplete="off" type="text" name="keyword" placeholder="Search on Icebox.com..." id="menu_search_field">
					<span class="--icon">{% include "components/svg/menu2_search.svg" %}</span>
				</div>
				{# Categories #}
				<div class="menu2__nav-item --spot --active">
					<div data-menu-evt="toggleDropdown" class="menu2__link">
						<span>Shop By Category</span>
						{% include "components/svg/menu2_dd.svg" %}
					</div>
					<div data-menu-dropdown class="menu2__dropdown">
						<div class="menu2__dropdown-adjust">
							{% for item in navbar %}
								{% if item.id != 15 and item.id != 10 %}
									<a href="{{item.href}}">
										{% if item.id == 25 %}
											Watches
										{% else %}
											{{ item.caption }}
										{% endif %}
										{% if user.admin %}
											<span>
												({{ item.count }})</span>
										{% endif %}
									</a>
								{% endif %}
								{% if item.id == 23 %}
									<a href="/results/rings?sub[]=Engagement%20Rings">Engagement Rings</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

				{# Cart #}
				<div class="menu2__nav-item{% if cart_page %} --active{% endif %}">
					<a class="menu2__link" href="/cart">
						<span>Cart
							<span>({{ cart_items }})</span>
						</span>
						{% include "components/svg/menu2_external.svg" %}
					</a>
				</div>

				{# My Account or Login #}
				<div class="menu2__nav-item{% if account_page %} --active{% endif %}">
					<a class="menu2__link" {% if user %} href="/account" {% else %} onclick="signModal.open('login')" href="javascript:void(0)" {% endif %}>
						<span>My Account</span>
						{% include "components/svg/menu2_external.svg" %}
					</a>
				</div>

				{% if user %}
					<div class="menu2__nav-item{% if wishlist_page %} --active{% endif %}">
						<a href="/account/wishlist" class="menu2__link">
							<span>Wishlist</span>
							{% include "components/svg/menu2_external.svg" %}
						</a>
					</div>
				{% endif %}

				{# Create Account #}
				{% if user == false %}
					<div class="menu2__nav-item">
						<div onclick="signModal.open('register')" class="menu2__link">
							<span>Create Account</span>
							{% include "components/svg/menu2_external.svg" %}
						</div>
					</div>
				{% endif %}

				{# Track Order #}
				<div class="menu2__nav-item{% if tracking_page %} --active{% endif %}">
					<a href="/track-order" class="menu2__link">
						<span>Track Your Order</span>
						{% include "components/svg/menu2_external.svg" %}
					</a>
				</div>

				{% if user %}
					<div class="menu2__nav-item">
						<a href="/logout" class="menu2__link">
							<span>Sign Out</span>
							{% include "components/svg/menu2_exit.svg" %}
						</a>
					</div>
				{% endif %}
			</nav>
		</div>

		<div class="menu2__sub-nav">
			<nav role="navigation" aria-label="Sub">
				<a href="tel:+17705585466" target="_blank" class="menu2__sub-link">
					<span>+ 1 770 558 5466</span>
					{% include "components/svg/menu2_arrow.svg" %}
				</a>
				<a href="/chat-whatsapp" target="_blank" class="menu2__sub-link">
					<span>Chat on WhatsApp now
						<span class="menu__wa-dot"></span>
					</span>
					{% include "components/svg/menu2_arrow.svg" %}
				</a>
				<div data-evt="toggleCurrency" class="menu2__sub-link">
					<span>Change Currency</span>
					<strong>USD</strong>
				</div>
			</nav>
		</div>


	</div>
</div>
