<div class="page-banner">
	<div class="wrapper">

		<div class="bfs-banner__group to_left">
			<img src="./assets/pay-klarna.svg" loading="eager" alt="pay later with Klarna">
			<img src="./assets/pay-affirm.svg" loading="eager" alt="pay later with Affirm">
			<img src="./assets/pay-afterpay.svg" loading="eager" alt="pay later with Afterpay">
			<div class="bfs-banner__pay">
				<div>
					<div class="paylater-box">
						<div class="paylater-box__container">
							<div class="paylater-box__content">
								<div class="paylater-box__wrapper">
									<div class="paylater-box__row">
										<h3>Buy Now &amp; Pay Later!
										</h3>
										<p>Icebox.com is offering service through Klarna, Affirm or Afterpay.</p>
										<p>Add items to your cart and get approved during the checkout process!</p>
                    <p>Approvals are fast and items are paid for instantly after your approval.</p>
									</div>
									<div class="paylater-box__row">
										<h3>Why To Use Service?</h3>
										<div class="paylater-box__features">
											<span>No Credit Score Impact</span>
											<span>Quick &amp; Easy To Follow</span>
											<span>Personal Installments Plan</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="page-banner__wrapper">
			<div class="page-banner__container">
				<div class="banner-move">
					{% for item in pageBannerText %}
						<div class="page-banner-text">{{item}}</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<button class="page-banner-close"></button>
</div>
