<div class="page-alert">
	<div class="page-alert__wrapper">
		<div class="page-alert-block">
			<div class="page-alert-spot">
				<div
					class="page-alert-icon page-alert-icon_error">
					<!--Error icon-->
					<svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.79921 2.9018L17.4485 2.9018L22.7731 12.1244L17.4485 21.3469L6.79921 21.3469L1.47456 12.1244L6.79921 2.9018Z" stroke="currentColor" stroke-width="1.6"></path>
						<path d="M8 8L16 16" stroke="currentColor" stroke-width="1.6"></path>
						<path d="M16 8L8 16" stroke="currentColor" stroke-width="1.6"></path>
					</svg>
				</div>
				<div
					class="page-alert-icon page-alert-icon_warning">
					<!--Warning icon-->
					<svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.72318 21L12 3.01556L22.2768 21H1.72318Z" stroke="currentColor" stroke-width="1.6"></path>
						<path d="M12 9L12 16" stroke="currentColor" stroke-width="1.6"></path>
						<path d="M12 17L12 19" stroke="currentColor" stroke-width="1.6"></path>
					</svg>
				</div>
				<div
					class="page-alert-icon page-alert-icon_info">
					<!--Information icon-->
					<svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2 9.5V4H22V21H6.5" stroke="currentColor" stroke-width="1.6"></path>
						<path d="M7 8L12 12L17 8" stroke="currentColor" stroke-width="1.6"></path>
						<path d="M1 13H6" stroke="currentColor" stroke-width="1.6"></path>
						<path d="M1 17H10" stroke="currentColor" stroke-width="1.6"></path>
					</svg>
				</div>
				<div
					class="page-alert-icon page-alert-icon_icebox">
					<!--Neutral icon-->
					<svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17.0332 11.9153L17.2876 11.4848L17.288 12.3455L17.0332 11.9153ZM6.80519 11.9153L6.55182 12.3463L6.55223 11.484L6.80519 11.9153ZM12.4385 3V8.90442H11.4385V3H12.4385ZM12.1929 8.47397L17.2876 11.4848L16.7788 12.3457L11.6841 9.33487L12.1929 8.47397ZM12.1914 9.33571L7.05816 12.3466L6.55223 11.484L11.6855 8.47314L12.1914 9.33571ZM7.05857 11.4842L12.1918 14.5016L11.6851 15.3637L6.55182 12.3463L7.05857 11.4842ZM17.288 12.3455L12.1933 15.3629L11.6837 14.5025L16.7784 11.4851L17.288 12.3455ZM12.4385 14.9327V20.9283H11.4385V14.9327H12.4385Z" fill="currentColor"></path>
						<path d="M22.3096 3.03906L17.15 5.99672M17.15 5.99672V11.899M17.15 5.99672L12.036 3.03906" stroke="currentColor"></path>
						<path d="M11.9248 3.03906L6.7652 5.99672M6.7652 5.99672V11.899M6.7652 5.99672L1.65119 3.03906" stroke="currentColor"></path>
						<path d="M22.3486 3.00684H1.57339L11.9056 21.0003L22.3486 3.00684Z" stroke="currentColor"></path>
					</svg>
				</div>
			</div>
			<div class="page-alert__typo-wrap">
				<span class="page-alert-title"></span>
				<span class="page-alert-text"></span>
			</div>
			<div data-evt="hidePageAlert" class="page-alert__close-btn">
				<svg width="14" height="14" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 1L23 23" stroke="currentColor" stroke-width="2"></path>
					<path d="M23 1L1 23" stroke="currentColor" stroke-width="2"></path>
				</svg>
			</div>
		</div>
		<div class="page-alert-backdrop"></div>
	</div>
</div>
