<div class="pay-banner">
	<div class="pay-banner__box">
		<div class="pay-banner__content">
			<img src="./assets/affirm-logo.svg" loading="eager" alt="Affirm Logotype">
			<div>
				<span>Buy Now &amp; Pay Later </span>with monthly based payments!
			</div>
		</div>
		<div class="pay-banner__box-dash">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
