<div class="pay-card">
	<div class="pay-card__wrapper">
		<div data-evt="togglePayModal" class="pay-card__pics">
			<img src="./assets/pay-klarna.svg" loading="lazy" alt="">
			<img src="./assets/pay-affirm.svg" loading="lazy" alt="">
			<img src="./assets/pay-afterpay.svg" loading="lazy" alt="">
		</div>
		<div class="pay-card__details">
			<div class="pay-card__heading">Buy Now. Pay Later.<br><span>No Fees.</span>
			</div>
			<p class="pay-card__typo">Take the stress out of payments with our convenient up to 12-month installment plan</p>
			<button data-evt="togglePayModal" class="pay-card__btn">Learn More</button>
		</div>
	</div>
</div>
