<div class="pay-modal">
	<div class="pay-modal__container">
		<div class="pay-modal__content-wrap">
			<div class="pay-modal__pics">
				<div><img src="./assets/pay-klarna.svg" loading="lazy" alt=""></div>
				<div><img src="./assets/pay-affirm.svg" loading="lazy" alt=""></div>
				<div><img src="./assets/pay-afterpay.svg" loading="lazy" alt=""></div>
			</div>
			<div class="pay-modal__wrapper">
				<h3 class="pay-card__heading">Buy Now. Pay Later.<br><span>No Fees.</span>
				</h3>
				<div class="pay-modal__details">
					<div class="paylater-box__row">
						<p>Icebox.com is offering service through Klarna, Affirm or Afterpay.</p>
						<p>Add items to your cart and get approved during the checkout process!</p>
						<p>Approvals are fast and items are paid for instantly after your approval.</p>
					</div>
				</div>
				<div class="paylater-box__features">
					<span>No Credit Score Impact</span>
					<span>Quick &amp; Easy To Follow</span>
					<span>Personal Installments Plan</span>
				</div>
			</div>
		</div>
		<div data-evt="togglePayModal" class="pay-modal__close-btn"></div>
	</div>
	<div data-evt="togglePayModal" class="pay-modal__backdrop"></div>
</div>
