<div class="pay-modal">
	<div id="payModalLater" class="pay-modal__container">
		<div class="pay-modal__content-wrap">
			<div class="pay-modal__pics">
				<div><img src="./assets/pay-klarna.svg" loading="lazy" alt=""></div>
				<div><img src="./assets/pay-affirm.svg" loading="lazy" alt=""></div>
				<div><img src="./assets/pay-afterpay.svg" loading="lazy" alt=""></div>
			</div>
			<div class="pay-modal__wrapper">
				<h3 class="pay-card__heading">Buy Now. Pay Later.<br><span>No Fees.</span>
				</h3>
				<div class="pay-modal__details">
					<div class="paylater-box__row">
						<p>Icebox.com is offering service through Klarna, Affirm or Afterpay.</p>
						<p>Add items to your cart and get approved during the checkout process!</p>
						<p>Approvals are fast and items are paid for instantly after your approval.</p>
					</div>
				</div>
				<div class="paylater-box__features">
					<span>No Credit Score Impact</span>
					<span>Quick &amp; Easy To Follow</span>
					<span>Personal Installments Plan</span>
				</div>
			</div>
		</div>
		<div data-evt="closePayModal" class="pay-modal__close-btn"></div>
	</div>

	<div id="payModalCrypto" class="pay-modal__container">
		<div class="pay-modal__content-wrap">
			<div class="pay-modal__pics">
				<div><img src="./assets/pay-usdt.svg" loading="lazy" alt=""></div>
				<div><img src="./assets/pay-eth.svg" loading="lazy" alt=""></div>
				<div><img src="./assets/pay-btc.svg" loading="lazy" alt=""></div>
			</div>
			<div class="pay-modal__wrapper">
				<h3 class="pay-card__heading">How It Works:</h3>
				<div class="pay-modal__details">
					<div class="paylater-box__row">
						<p>Add items to cart and go through the checkout process.</p>
						<p>Click on the crypto payment type you would like to send.</p>
						<p>Send the amount to the address in the checkout.</p>
						<p>Send screenshot to us in Whatsapp to the phone number in the checkout, or by email to orders@icebox.com.</p>
						<p>We will confirm the payment instantly via WhatsApp.</p>
					</div>
				</div>
			</div>
		</div>
		<div data-evt="closePayModal" class="pay-modal__close-btn"></div>
	</div>
	<div data-evt="closePayModal" class="pay-modal__backdrop"></div>
</div>
