<div class="paylater-box is-short">
	<div class="paylater-box__container">

		<div id="payLaterBoxIntro" class="paylater-box__content">
			<div class="paylater-box__controls">
				<h3>Buy now &amp; pay later</h3>
				<button data-paylater>Learn More</button>
			</div>
			<div data-paylater class="paylater-box__img-wrap">
				<img src="./assets/pay-icon_klarna.svg" loading="lazy" alt="pay later with Klarna">
				<img src="./assets/pay-icon_affirm.svg" loading="lazy" alt="pay later with Affirm">
				<img src="./assets/pay-icon_afterpay.svg" loading="lazy" alt="pay later with Afterpay">
			</div>
		</div>

		<div id="payLaterBoxDetails" class="paylater-box__content">
			<div class="paylater-box__wrapper">
				<div class="paylater-box__row">
					<h3>How Does It Work?<span data-paylater>Hide</span>
					</h3>
					<p>Icebox.com is offering service through Klarna, Affirm or Afterpay.</p>
					<p>Add items to your cart and get approved during the checkout process!</p>
					<p>Approvals are fast and items are paid for instantly after your approval.</p>
				</div>
				<div class="paylater-box__row">
					<h3>Why To Use Service?</h3>
					<div class="paylater-box__features">
						<span>No Credit Score Impact</span>
						<span>Quick &amp; Easy To Follow</span>
						<span>Personal Installments Plan</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
