<div class="paylater-box">
	<div class="paylater-box__container">

		<div id="payLaterBoxIntro" class="paylater-box__content">
			<div data-paylater class="paylater-box__img-wrap">
				<img src="./assets/pay-klarna.svg" loading="lazy" alt="pay later with Klarna">
				<img src="./assets/pay-affirm.svg" loading="lazy" alt="pay later with Affirm">
				<img src="./assets/pay-afterpay.svg" loading="lazy" alt="pay later with Afterpay">
			</div>
			<h3>Buy now &amp; pay later</h3>
			<p>Take the stress out of payments with our convenient up to 12-month installment
				                          plan</p>
			<button data-paylater>How Does It Work?</button>
		</div>

		<div id="payLaterBoxDetails" class="paylater-box__content">
			<div class="paylater-box__wrapper">
				<div class="paylater-box__row">
					<h3>How Does It Work?<span data-paylater>Hide</span>
					</h3>
					<p>Buy the jewelry you want right now.</p>
					<p>During the checkout process, you will be redirected to the Affirm, Klarna
						                              or Afterpay page.</p>
					<p>If you are a new customer, you&#x27;ll need to create an account and
						                              provide some basic information.</p>
					<p>Once approved, they offers you a variety of repayment terms to choose
						                              from, allowing you to split your purchase into easy monthly installments</p>
				</div>
				<div class="paylater-box__row">
					<h3>Why To Use Service?</h3>
					<div class="paylater-box__features">
						<span>No Any Additional Fees</span>
						<span>No Credit Score Impact</span>
						<span>Quick &amp; Easy To Follow</span>
						<span>Personal Installments Plan</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
