<div class="perks-marquee">
  {% for i in 0..10 %}
    <div>
      <span class="--diamonds">Natural Diamonds</span>
      <span class="--shipping">Guaranteed Shipping</span>
      <span class="--premium">Premium Craftsmanship</span>
    </div>
  {% endfor %}
</div>
