<div class="pg-modal">
  <div class="pg-modal__container">
    <div class="pg-modal__overscroll">

      <!-- PG - Bracelets Guide -->
      <div id="pgBracelets" class="pg-section">
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Bracelets Size Chart</h3>
                <p class="pg-row__subheading"><span>Measuring your bracelet's size can be
                    really simple</span> using a ring size chart or even a piece of string.</p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-row__size-chart">
                <div>
                  <span>Inches</span>
                  <span>Centimetre</span>
                </div>
                <div>
                  <span>6.5</span>
                  <span>16.5</span>
                </div>
                <div>
                  <span>7</span>
                  <span>17.8</span>
                </div>
                <div>
                  <span>7.5</span>
                  <span>19.0</span>
                </div>
                <div>
                  <span>8</span>
                  <span>20.3</span>
                </div>
                <div>
                  <span>8.5</span>
                  <span>21.6</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Wrist Diameter</h3>
                <p class="pg-row__subheading">Find the perfect size for you by <span>measuring your
                    wrist.</span></p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-row__body-wrapper">
                <img src="./assets/pg-modal/pg_wrist-diameter.svg" loading="eager" alt="" class="pg-main-img">
                <div class="pg-row__details-wrap">
                  <p><span>1.</span> You can use a measuring tape, strip of paper or length of
                    string/yarn as a measurement tool.</p>
                  <p><span>2.</span> Wrap one of these around your wrist where you plan to wear the
                    bracelet and mark where it joins.</p>
                  <p><span>3.</span> Lay your measuring tool on a flat surface and measure the
                    length up to the mark.</p>
                  <p><span>4.</span> Use our <span>measurement chart</span> to
                    determine the closest Icebox bracelet size.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Your Bracelet Diameter</h3>
                <p class="pg-row__subheading">Find the perfect size for you by <span>measuring
                    bracelet.</span></p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-row__body-wrapper">
                <img src="./assets/pg-modal/pg_bracelet-diameter.webp" loading="eager" alt="measure bracelet diameter"
                  class="pg-main-img is_max">
                <div class="pg-row__details-wrap">
                  <p><span>1.</span> Choose a bracelet that already fits your finger well.</p>
                  <p><span>2.</span> Measure the interior diameter of the bracelet using
                    millimeters (mm) as shown in the illustration.</p>
                  <p><span>3.</span> Use our <span>measurement chart</span> to
                    convert your result to the one you want.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-section__controls">
          <button data-dmg-switch="shape" class="pg-switch-btn is-active">Chart</button>
          <button data-dmg-switch="carat" class="pg-switch-btn">Finger</button>
          <button data-dmg-switch="color" class="pg-switch-btn">Ring</button>
        </div>
      </div>

      <!-- PG - Diamonds Guide -->
      <div id="pgDiamonds" class="pg-section">
        <div id="dmgShape" class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Shape</h3>
                <p class="pg-row__subheading"><span>The shape of a diamond encompasses its
                    geometric outline and physical form</span>, with each shape having unique attributes and cut
                  specification.</p>
              </div>
            </div>
            <div class="pg-row__body">
              <div data-pg-select="shape" class="pg-select">
                <div class="pg-select-grid_shape">
                  <button class="pg-select-btn is-active">Round</button>
                  <button class="pg-select-btn">Princess</button>
                  <button class="pg-select-btn">Oval</button>
                  <button class="pg-select-btn">Pear</button>
                  <button class="pg-select-btn">Emerald</button>
                </div>
                <div class="pg-select-result">
                  <div class="pg-select-result__wrapper">
                    <img src="./assets/pg-modal/pg_diamond-round.webp" loading="lazy" data-pg-set="shapeImg" alt=""
                      class="pg-select__shape-img">
                    <div class="pg-select__details">
                      <span data-pg-set="shapeTitle" class="pg-select__title">Round</span>
                      <p data-pg-set="shapeDescription" class="pg-select__subtitle">A classic and timeless shape,
                        the round diamond is known for its brilliant sparkle and perfect symmetry.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="dmgCarat" class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Carat Total Weight</h3>
                <p class="pg-row__subheading"><span>The carat (ct) is a unit of mass equal to 200
                    mg that is 0.2 grams</span> which is used for measuring gemstones and pearls</p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-ctw-grid">
                <div class="pg-ctw-item">
                  <div>
                    <div>0.25</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>4 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>0.50</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>5 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>0.75</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>5.7 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>1.00</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>6.5 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>1.25</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>6.8 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>1.50</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>7.2 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>1.75</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>7.6 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>2.00</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>8 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>2.25</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>8.4 MM</div>
                  </div>
                </div>
                <div class="pg-ctw-item">
                  <div>
                    <div>2.50</div>
                    <img src="./assets/pg-modal/pg_ctw-round-diamond.svg" loading="lazy" alt="">
                    <div class="pg-ctw-item__measure">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div>8.7 MM</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="dmgColor" class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Color</h3>
                <p class="pg-row__subheading"><span>Diamond color refers to how clear a diamond
                    is.</span> Diamond color is a crucial aspect of your diamond's appearance.</p>
              </div>
            </div>
            <div class="pg-row__body">
              <div data-pg-select="color" class="pg-select">
                <div class="pg-select-grid_color">
                  <button class="pg-select-btn is-active">K</button>
                  <button class="pg-select-btn">J</button>
                  <button class="pg-select-btn">I</button>
                  <button class="pg-select-btn">H</button>
                  <button class="pg-select-btn">G</button>
                  <button class="pg-select-btn">F</button>
                  <button class="pg-select-btn">E</button>
                </div>
                <div class="pg-select-result">
                  <div class="pg-select-result__wrapper">
                    <img class="pg-select__color-img" src="./assets/pg-modal/pg_near-color.webp" alt="" data-pg-set="colorImg"
                      loading="lazy">
                    <div class="pg-select__details">
                      <span data-pg-set="colorTitle" class="pg-select__title">K - Near colorless</span>
                      <p data-pg-set="colorDescription" class="pg-select__subtitle">The color may be visible to
                        the unaided eye. Diamonds with a K-color grade can be a smart choice, offering excellent
                        value for money.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="dmgClarity" class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Clarity</h3>
                <p class="pg-row__subheading"><span>Diamond Clarity</span> refers to the absence of
                  inclusions and blemishes.</p>
              </div>
            </div>
            <div class="pg-row__body">
              <div data-pg-select="clarity" class="pg-select">
                <div class="pg-select-grid_clarity">
                  <button class="pg-select-btn is-active">I1 - I3</button>
                  <button class="pg-select-btn">SI1 - Si2</button>
                  <button class="pg-select-btn">VS1 - VS2</button>
                  <button class="pg-select-btn">VVS1 - VVS2</button>
                  <button class="pg-select-btn">Fl - IF</button>
                </div>
                <div class="pg-select-result">
                  <div class="pg-select-result__wrapper">
                    <img src="./assets/pg-modal/pg_i3-clarity.png" loading="lazy" data-pg-set="clarityImg" alt=""
                      class="pg-select__clarity-img">
                    <div class="pg-select__details">
                      <span data-pg-set="clarityTitle" class="pg-select__title">I1, I2, I3 - Included</span>
                      <p data-pg-set="clarityDescription" class="pg-select__subtitle">Diamonds in this clarity
                        range have inclusions that are easily visible under 10x magnification and may also be
                        visible to the naked eye. These diamonds may have reduced brilliance and sparkle due to
                        their inclusions.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-section__controls">
          <button data-dmg-switch="shape" class="pg-switch-btn is-active">Shape</button>
          <button data-dmg-switch="carat" class="pg-switch-btn">CTW</button>
          <button data-dmg-switch="clarity" class="pg-switch-btn">Clarity</button>
          <button data-dmg-switch="color" class="pg-switch-btn">Color</button>
        </div>
      </div>

      <!-- Ring Size Guide -->
      <div id="pgRings" class="pg-section">
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Ring Size Chart</h3>
                <p class="pg-row__subheading"><span>Measuring your ring size can be really
                    simple</span> using a ring size chart or even a piece of string.</p>
              </div>
            </div>
            <div class="pg-row__body">
              <div data-pg-select="ring-size" class="pg-select">
                <div class="pg-select-grid_ring-chart">
                  <button class="pg-select-btn is-active">4</button>
                  <button class="pg-select-btn">4.5</button>
                  <button class="pg-select-btn">5</button>
                  <button class="pg-select-btn">5.5</button>
                  <button class="pg-select-btn">6</button>
                  <button class="pg-select-btn">6.5</button>
                  <button class="pg-select-btn">7</button>
                  <button class="pg-select-btn">7.5</button>
                  <button class="pg-select-btn">8</button>
                  <button class="pg-select-btn">8.5</button>
                  <button class="pg-select-btn">9</button>
                  <button class="pg-select-btn">9.5</button>
                  <button class="pg-select-btn">10</button>
                  <button class="pg-select-btn">10.5</button>
                  <button class="pg-select-btn">11</button>
                  <button class="pg-select-btn">11.5</button>
                  <button class="pg-select-btn">12</button>
                  <button class="pg-select-btn">12.5</button>
                </div>
                <div class="pg-select__ring-size-wrap">
                  <div class="pg-select__ring-size">
                    <span data-pg-set="currentSize">4</span>
                    <span>US RING SIZE</span>
                  </div>
                  <div class="pg-select__ring-table">

                    <div class="pg-select__ring-cell">
                      Circumference (mm)<span data-pg-set="circSize">46.8</span>
                    </div>
                    <div class="pg-select__ring-cell">
                      Diameter (mm)<span data-pg-set="dSize">14.9</span>
                    </div>
                    <div class="pg-select__ring-cell">
                      Europe<span data-pg-set="euSize">47</span>
                    </div>
                    <div class="pg-select__ring-cell">
                      UK<span data-pg-set="ukSize">H 1/2</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Determine Finger Diameter</h3>
                <p class="pg-row__subheading">Find the perfect ring size for you by <span>measuring
                    the diameter of your finger.</span></p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-row__body-wrapper">
                <img src="./assets/pg-modal/pg_finger-diameter.svg" loading="eager" alt="" class="pg-main-img">
                <div class="pg-row__details-wrap">
                  <p><span>1.</span> You can use a measuring tape, strip of paper or length of
                    string/yarn as a measurement tool.</p>
                  <p><span>2.</span> Wrap one of these around your finger where you plan to wear
                    the ring and mark where it joins.</p>
                  <p><span>3.</span> Lay your measuring tool on a flat surface and measure the
                    length up to the mark using milimmeters (mm).</p>
                  <p><span>4.</span> Use our <span>measurement chart</span> to
                    determine the closest Icebox ring size.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Find Interior Diameter</h3>
                <p class="pg-row__subheading">Find the perfect ring size for you by <span>measuring
                    the ring diameter.</span></p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-row__body-wrapper"><img src="./assets/pg-modal/pg_ring-diameter.webp" loading="eager" alt=""
                  class="pg-main-img for_ring-diameter">
                <div class="pg-row__details-wrap">
                  <p><span>1.</span> Choose a ring that already fits your finger well.</p>
                  <p><span>2.</span> Measure the interior diameter of the ring using millimeters
                    (mm) as shown in the illustration.</p>
                  <p><span>3.</span> Use our <span>measurement chart</span> to
                    determine the closest Icebox ring size.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-section__controls">
          <button data-dmg-switch="shape" class="pg-switch-btn is-active">Chart</button>
          <button data-dmg-switch="carat" class="pg-switch-btn">Finger</button>
          <button data-dmg-switch="color" class="pg-switch-btn">Ring</button>
        </div>
      </div>

      <!-- Necklaces Guide -->
      <div id="pgNecklaces" class="pg-section">
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Necklaces Size Chart</h3>
                <p class="pg-row__subheading"><span>Measuring your necklaces size can be really
                    simple</span> using a ring size chart or even a piece of string.</p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-row__size-chart">
                <div>
                  <span>Inches</span>
                  <span>Centimetre</span>
                </div>
                <div>
                  <span>16</span>
                  <span>40.6</span>
                </div>
                <div>
                  <span>18</span>
                  <span>45.7</span>
                </div>
                <div>
                  <span>20</span>
                  <span>50.8</span>
                </div>
                <div>
                  <span>22</span>
                  <span>55.8</span>
                </div>
                <div>
                  <span>24</span>
                  <span>60.9</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Find The Length</h3>
                <p class="pg-row__subheading">Find the perfect size for you by <span>measuring your
                    neck.</span></p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-row__body-wrapper">
                <div class="pg-row__details-wrap">
                  <p><span>1.</span> String or yarn is the best measurement tool, but you can use a
                    measuring tape or strip of paper.</p>
                  <p><span>2.</span> Place it around your neck where you plan to wear the necklace
                    and mark where it joins.</p>
                  <p><span>3.</span> Lay your measuring tool on a flat surface and measure the
                    length up to the mark using inches (in).</p>
                  <p><span>4.</span> Use our <span>measurement chart</span> to
                    determine the closest Icebox necklace size.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-row">
          <div class="pg-row__wrapper">
            <div class="pg-row__header">
              <div class="pg-row__title-wrap">
                <h3 class="pg-row__heading">Your Necklace Length</h3>
                <p class="pg-row__subheading">Find the perfect size for you by <span>measuring
                    necklace.</span></p>
              </div>
            </div>
            <div class="pg-row__body">
              <div class="pg-row__body-wrapper">
                <img src="./assets/pg-modal/pg_necklace-length.webp" loading="eager" alt="" class="pg-main-img is_max">
                <div class="pg-row__details-wrap">
                  <p><span>1.</span> Take your necklace you choose for measuring</p>
                  <p><span>2.</span> Fold your necklace exactly in half at its maximum length,
                    measure the length and multiply the resulting number by two.</p>
                  <p><span>3.</span> Use our <span>measurement chart</span> to
                    convert your result to the one you want.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-section__controls">
          <button data-dmg-switch="shape" class="pg-switch-btn is-active">Chart</button>
          <button data-dmg-switch="carat" class="pg-switch-btn">Finger</button>
          <button data-dmg-switch="color" class="pg-switch-btn">Ring</button>
        </div>
      </div>

    </div>
    <button data-evt="closePgModal" class="pg-modal__close-btn">CLOSE</button>
  </div>
  <div data-evt="closePgModal" class="pg-modal__backdrop"></div>
</div>