<div class="polish-item">
	<div class="polish-item__pic">
		<img src="./assets/polish-kit.webp" alt="Icebox polish kit">
	</div>
	<div class="polish-item__details">
		<h4>Icebox Jewelry Cleaner &amp; Polishing Cloth Kit<span>This Icebox brand jewelry cleaner kit is the same solution we use in our store and factory.</span>
		</h4>
		<span>
			<span>$60</span>$0
		</span>
	</div>
</div>
