<div class="quiz-modal">
	<div data-evt="closeQuizModal" class="quiz-modal__backdrop"></div>
	<div class="quiz-modal__wrapper">
		<div class="quiz-container">

			<div class="quiz-container__background">
				<div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div></div>
			</div>

			<div class="quiz-container__content">

				<div class="quiz-container__header">
					<div class="quiz-step-text">STEP
						<span class="quiz-current-step">1</span>
						OUT OF
						<span class="quiz-max-step">3</span>
					</div>
					<div class="quiz-progress-bar">
						<span class="quiz-bar"></span>
					</div>
				</div>

				<div class="quiz-container__body">
					<form id="quizWatchesFilter" method="get">
						<div
							class="quiz-container-height">

							<!-- Gender select -->
							<section class="quiz-poll">
								<div class="quiz-poll__wrapper">
									<div class="quiz-poll__header">
										<h2 class="quiz-poll-title">Are you looking for a men's watch or ladies watch?</h2>
									</div>
									<div class="quiz-poll__answers-wrap restricted-width">

										<label class="quiz-answer">
											<input type="radio" name="quiz-gender" value="men">
											<div class="quiz-answer__wrapper">
												<div class="quiz-answer__gender-wrap">
													<img src="./assets/quiz-modal/quiz-watches_gender-men.webp" loading="eager" class="quiz-answer__gender-img">
													<div class="quiz-answer__details">
														<span class="quiz-answer-title">For Men</span>
														<div class="quiz-answer-radio"></div>
													</div>
												</div>
											</div>
										</label>

										<label class="quiz-answer">
											<input type="radio" name="quiz-gender" value="women">
											<div class="quiz-answer__wrapper">
												<div class="quiz-answer__gender-wrap">
													<img src="./assets/quiz-modal/quiz-watches_gender-women.webp" loading="eager" class="quiz-answer__gender-img">
													<div class="quiz-answer__details">
														<span class="quiz-answer-title">For Ladies</span>
														<div class="quiz-answer-radio"></div>
													</div>
												</div>
											</div>
										</label>

									</div>
								</div>
							</section>


							<!-- Diamonds select -->
							<section class="quiz-poll">
								<div class="quiz-poll__wrapper">
									<div class="quiz-poll__header">
										<h2 class="quiz-poll-title">Are you looking for a watch with diamonds?</h2>
									</div>
									<div class="quiz-poll__answers-wrap vertical_flow">

										<label class="quiz-answer">
											<input type="radio" name="quiz-diamonds" value="noDiamonds">
											<div class="quiz-answer__wrapper">
												<div class="quiz-answer__diamond-wrap">
													<img src="./assets/quiz-modal/quiz-watches_diamond-no.webp" loading="eager" class="quiz-answer__diamond-img">
													<div class="quiz-answer__details">
														<span class="quiz-answer-title">No Diamonds</span>
														<div class="quiz-answer-radio"></div>
													</div>
												</div>
											</div>
										</label>

										<label class="quiz-answer">
											<input type="radio" name="quiz-diamonds" value="withDiamonds">
											<div class="quiz-answer__wrapper">
												<div class="quiz-answer__diamond-wrap">
													<img src="./assets/quiz-modal/quiz-watches_diamond-yes.webp" loading="eager" class="quiz-answer__diamond-img">
													<div class="quiz-answer__details">
														<span class="quiz-answer-title">With Diamonds</span>
														<div class="quiz-answer-radio"></div>
													</div>
												</div>
											</div>
										</label>

									</div>
								</div>
							</section>

							<!-- Metal select -->
							<section class="quiz-poll">
								<div class="quiz-poll__wrapper">
									<div class="quiz-poll__header">
										<h2 class="quiz-poll-title">What metal do you like?</h2>
									</div>
									<div class="quiz-poll__answers-wrap">
										<div class="quiz-poll__metal-grid">


											<label class="quiz-answer">
												<input type="radio" name="quiz-metal" value="twoTone">
												<div class="quiz-answer__wrapper">
													<div class="quiz-answer__metal-wrap">
														<div>
															<span class="quiz-answer-title">Two-Tone</span>
															<div class="quiz-answer-radio"></div>
														</div>
													</div>
													<img src="./assets/quiz-modal/quiz-watches_metal-twotone.webp" class="quiz-answer__metal-img">
												</div>
											</label>

											<label class="quiz-answer">
												<input type="radio" name="quiz-metal" value="steel">
												<div class="quiz-answer__wrapper">
													<div class="quiz-answer__metal-wrap">
														<div>
															<span class="quiz-answer-title">Steel</span>
															<div class="quiz-answer-radio"></div>
														</div>
													</div>
													<img src="./assets/quiz-modal/quiz-watches_metal-steel.webp" class="quiz-answer__metal-img">
												</div>
											</label>

											<label class="quiz-answer">
												<input type="radio" name="quiz-metal" value="gold">
												<div class="quiz-answer__wrapper">
													<div class="quiz-answer__metal-wrap">
														<div>
															<span class="quiz-answer-title">Gold</span>
															<div class="quiz-answer-radio"></div>
														</div>
													</div>
													<img src="./assets/quiz-modal/quiz-watches_metal-gold.webp" class="quiz-answer__metal-img">
												</div>
											</label>

											<label class="quiz-answer">
												<input type="radio" name="quiz-metal" value="twoTone">
												<div class="quiz-answer__wrapper">
													<div class="quiz-answer__metal-wrap">
														<div>
															<span class="quiz-answer-title">All</span>
															<div class="quiz-answer-radio"></div>
														</div>
													</div>
													<img src="./assets/quiz-modal/quiz-watches_metal-all.webp" class="quiz-answer__metal-img">
												</div>
											</label>

										</div>
									</div>
								</div>
							</section>


						</div>
					</form>
				</div>

				<div class="quiz-container__footer">
					<button class="quiz-main-btn" data-evt="quizGoNext">Next</button>
				</div>

			</div>

			<button class="quiz-close-btn" data-evt="closeQuizModal">
				<svg width="14" height="14" viewbox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.5 1L25.5 25" stroke="currentColor" stroke-width="3"></path>
					<path d="M25.5 1L1.5 25" stroke="currentColor" stroke-width="3"></path>
				</svg>
			</button>
		</div>
	</div>
</div>
