<div data-terms-modal class="pg-modal --terms">
  <div class="pg-modal__container">
    <div class="pg-modal__overscroll">
      {% include 'modal-content/terms-modal.twig' %}
    </div>
    <button data-evt="closeTermsModal" class="pg-modal__close-btn">CLOSE</button>
  </div>
  <div data-evt="closeTermsModal" class="pg-modal__backdrop"></div>
</div>
