<div class="watch-swipe">
	<div class="watch-swipe__group">
		<div class="watch-swipe__brand">Rolex</div>
	</div>
	<img src="./assets/product-sample_watch.webp" loading="lazy" alt="" class="watch-swipe__pic">
	<div class="watch-swipe__group">
		<div class="watch-swipe__model">Datejust 26MM Steel (79240) - Custom Dial &amp; .87ctw Diamond Bezel</div>
	</div>
	<div class="watch-swipe__reject">
		<svg width="54" height="54" viewbox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M3.12634 3.12636C-1.04211 7.29483 -1.04211 14.0533 3.12634 18.2217L33.6625 48.7577L3.12634 79.2937C-1.04211 83.4622 -1.04211 90.2206 3.12634 94.3891C7.2948 98.5576 14.0533 98.5576 18.2218 94.3891L48.7577 63.8531L79.2938 94.3891C83.4623 98.5576 90.2208 98.5576 94.3893 94.3891C98.5577 90.2206 98.5577 83.4622 94.3893 79.2937L63.8531 48.7577L94.3893 18.2217C98.5577 14.0533 98.5577 7.29483 94.3893 3.12636C90.2208 -1.04212 83.4623 -1.04212 79.2938 3.12635L48.7577 33.6623L18.2218 3.12635C14.0533 -1.04212 7.2948 -1.04212 3.12634 3.12636Z" fill="#DE435F"/>
		</svg>
	</div>
	<div class="watch-swipe__accept">
		<svg width="54" height="54" viewbox="0 0 128 116" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M128 32.4002C128 77.3596 64.0026 115.2 64.0026 115.2C64.0026 115.2 0 76.8002 0 32.4913C0 14.4002 14.2222 0.00019411 32 0.00019411C49.7778 0.00019411 64 21.6002 64 21.6002C64 21.6002 78.2222 0.00019411 96 0.00019411C113.778 0.00019411 128 14.4002 128 32.4002Z" fill="#15A9DA"/>
		</svg>
	</div>
</div>
