<div class="welcome-modal">
	<button data-welcome-evt="cancel" class="welcome-modal__close-btn"></button>
	<h3>Sign In to see the member prices.</h3>
	<p>Icebox members get the best deals and the biggest discounts. Join now!</p>
	<div class="welcome-modal__btn-group">
		<button data-welcome-evt="cancel" class="--sub">No, thanks</button>
		<button data-welcome-evt="join">Join Now</button>
	</div>
</div>
