<a href="/chat-whatsapp" target="_blank" class="wa-float">
	<div class="wa-float__wrapper">
		<div class="wa-float__icons">
			<div class="wa-float__dots">
				<div class="typing-dots -alt">
					<div></div>
				</div>
			</div>
			<div class="wa-float__pic-wrap">
				<img src="{{THEME_ASSETS_FOLDER}}wa_white-pic.svg" loading="eager" alt="" class="wa-float__pic">
			</div>
		</div>
		<img src="{{THEME_ASSETS_FOLDER}}wa_chat-text.svg" loading="eager" alt="" class="wa-float__text-pic">
	</div>
</a>
