<a href="/chat-whatsapp" target="_blank" class="wa-float">
	<img class="--mobile" src="{{THEME_ASSETS_FOLDER}}wa-icon_mobile.svg" alt="whatsapp round icon">
	<img class="--desktop" src="{{THEME_ASSETS_FOLDER}}wa-icon_desktop.svg" alt="whatsapp rectangle icon">
</a>
