<div class="zoom-modal">
	<div class="zoom-modal__holder">
		<div class="zoom-modal__container">
			<button data-evt="toggleMenu" class="zoom-modal__close-btn"></button>
			<div class="zoom-modal__media">
				<div class="zoom-slider splide">
					<div class="zoom-modal__media-wrap">
						<div class="zoom-modal__viewer">
							<div class="splide__track">
								<div class="splide__list">
									<div class="splide__slide">
										<img src="./assets/product-page_item-pic1.webp" loading="lazy" alt="">
									</div>
									<div class="splide__slide">
										<img src="./assets/product-page_item-pic3.webp" loading="lazy" alt="">
									</div>
									<div class="splide__slide">
										<img src="./assets/product-page_item-pic4.webp" loading="lazy" alt="">
									</div>
									<div class="splide__slide">
										<img src="./assets/product-page_store-placeholder.webp" loading="lazy" alt="">
									</div>
									<div class="splide__slide">
										<img src="./assets/product-page_pay-placeholder.webp" loading="lazy" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="splide__arrows">
						<button class="zoom-modal__arrow splide__arrow--next"></button>
						<button class="zoom-modal__arrow splide__arrow--prev"></button>
					</div>
				</div>
			</div>
			<div class="zoom-modal__details">
				<div class="zoom-modal__controls">
					<h3>Zig Zag Bezel Diamond Ring 14k Solid Gold 0.10ctw</h3>
					<div class="zoom-modal__price-wrap is-sale">
						<span>$8,960</span>
						<span>$5,250</span>
					</div>
					<div class="zoom-modal__pay">
						<a href="#">ADD TO CART NOW</a>
						<div class="zoom-modal__color">
							<span></span>White Color</div>
					</div>
				</div>
				<div class="zoom-modal__thumb">
					<div class="zoom-thumbs splide">
						<div class="splide__track">
							<div class="splide__list">
								<div class="splide__slide">
									<img src="./assets/product-page_item-pic1.webp" loading="lazy" alt="">
								</div>
								<div class="splide__slide">
									<img src="./assets/product-page_item-pic3.webp" loading="lazy" alt="">
								</div>
								<div class="splide__slide">
									<img src="./assets/product-page_item-pic4.webp" loading="lazy" alt="">
								</div>
								<div class="splide__slide">
									<img src="./assets/product-page_store-placeholder.webp" loading="lazy" alt="">
								</div>
								<div class="splide__slide">
									<img src="./assets/product-page_pay-placeholder.webp" loading="lazy" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>