@import '../modules/base/mixin.scss';
@import '../modules/base/reset.scss';
@import '../modules/base/utils.scss';
@import '../modules/base/base_admin.scss';
@import './modules/root.scss';
@import './modules/select2.scss';
@import './libs/air-datepicker.scss';
@import './libs/select2.scss';
@import './libs/splide.scss';


@import './modules/main.scss';
@import './modules/sidebar.scss';
@import './modules/am-item.scss';
@import './modules/general.scss';
@import './modules/am-table.scss';
@import './modules/whales.scss';
@import './modules/edit-modal.scss';
@import './modules/swiper.scss';
@import './modules/saks-customers.scss';
@import './modules/toolbar.scss';
@import './modules/g-tip.scss';
@import './modules/swap-modal.scss';
@import './modules/print-tag.scss';
@import './modules/pos.scss';
@import './modules/fin-item.scss';
@import './modules/gold-price.scss';
@import './modules/users.scss';
@import './modules/board.scss';
@import './modules/sms-modal.scss';
@import './modules/inventory.scss';
@import './modules/m-popup.scss';
@import './modules/panel.scss';

@import '../modules/base/fonts_admin.scss';