@use "../modules/base/mixin" as *;
@use "../modules/base/reset.scss" as *;
@use "../modules/base/utils.scss" as *;
@use "../modules/base/base_admin.scss" as *;
@use "./modules/root.scss" as *;
@use "./modules/select2.scss" as *;
@use "./libs/air-datepicker.scss" as *;
@use "./libs/select2.scss" as *;
@use "./libs/splide.scss" as *;

@use "./modules/main.scss" as *;
@use "./modules/sidebar.scss" as *;
@use "./modules/am-item.scss" as *;
@use "./modules/general.scss" as *;
@use "./modules/am-table.scss" as *;
@use "./modules/whales.scss" as *;
@use "./modules/edit-modal.scss" as *;
@use "./modules/swiper.scss" as *;
@use "./modules/saks-customers.scss" as *;
@use "./modules/toolbar.scss" as *;
@use "./modules/g-tip.scss" as *;
@use "./modules/swap-modal.scss" as *;
@use "./modules/print-tag.scss" as *;
@use "./modules/pos.scss" as *;
@use "./modules/fin-item.scss" as *;
@use "./modules/gold-price.scss" as *;
@use "./modules/users.scss" as *;
@use "./modules/board.scss" as *;
@use "./modules/sms-modal.scss" as *;
@use "./modules/inventory.scss" as *;
@use "./modules/m-popup.scss" as *;
@use "./modules/panel.scss" as *;
@use "./modules/hero-table.scss" as *;
@use "./modules/invoice-generator.scss" as *;
@use "../modules/base/fonts_admin.scss" as *;
@use "./modules/catalog.scss" as *;

@use "./ui/ui-select.scss" as *;
@use "./ui/ui-tabs.scss" as *;
@use "./ui/ui-checkbox-list.scss" as *;
