<div class="pin-lock">
	<div class="pin-lock__wrapper">
		<div class="pin-lock__holder">
			<div class="pin-lock__title-group">
				<h3>Enter PIN Code</h3>
				<span>This page is locked with pin.</span>
			</div>
			<div data-pin-output class="pin-lock__output">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="pin-lock__btn-grid">
				<button>1</button>
				<button>2</button>
				<button>3</button>
				<button>4</button>
				<button>5</button>
				<button>6</button>
				<button>7</button>
				<button>8</button>
				<button>9</button>
				<button data-pin-evt="clear">Clear</button>
				<button>0</button>
				<button data-pin-evt="submit">Enter</button>
			</div>
		</div>
	</div>
</div>
