.page-not-found {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  gap: 68px;

  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    h4 {
      position: relative;
      font-size: 112px;
      line-height: 112px;
      font-weight: 600;
      margin-bottom: 12px;
      background: linear-gradient(90deg, #e2e5e7 0%, #c9cdd0 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

    p {
      display: flex;
      flex-direction: column;
      gap: 6px;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;

      span {
        font-size: 12px;
        font-weight: 450;
        opacity: 0.4;
      }
    }
  }

  &__btn-group {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      font-size: 13px;
      font-weight: 600;
      // text-decoration: underline;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }

      svg {
        width: 32px;
        height: 32px;
      }

      &.--sub {
        text-decoration: none;
        padding: 4px 12px;
        font-size: 12px;
        border-radius: 50rem;
        background-color: var(--grey-100);
      }
    }
  }
}
