@use "../base/mixin.scss" as *;

.admin-bar {
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  flex-wrap: nowrap;
  width: -webkit-max-content;
  width: max-content;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 4px;
  gap: 6px;
  color: #fff;
  background-color: #1b1f27;
  border-radius: 1rem;
  box-shadow: 0 18px 42px #1b1f2766;
  white-space: nowrap;

  @include hidebar;

  @include maxLg {
    max-width: 80vw;
  }

  @include maxSm {
    max-width: calc(100vw - 24px);
  }

  &__info-col {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 0 8px;
    font-size: 12px;
    font-weight: 600;
    span {
      &:first-child {
        opacity: 0.6;
      }
    }
  }

  &__wrapper {
    display: flex;
    gap: 6px;
    flex: none;
  }

  &__btn {
    flex: none;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #2e323a;
    border: 1px solid #404550;
    border-radius: 0.7rem;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 600;
    display: flex;

    &.--active {
      background-color: #333f57;
      border-color: #058bd8;

      &:hover {
        background-color: #333f577a;
        border-color: #058bd83a;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }

    @include minLg {
      &:hover {
        background-color: #333f57;
        border-color: #058bd8;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }
}
