@use "../base/mixin.scss" as *;

.listing {
  min-height: 240px;
  padding-left: var(--p-default);
  padding-right: var(--p-default);
  grid-column-gap: 20px;
  grid-row-gap: 68px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 24px;
  padding-bottom: 68px;
  display: grid;

  @include minXl {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @include minXxl {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @include maxLg {
    grid-template-columns: 1fr 1fr;
  }

  @include maxSm {
    padding-left: 6px;
    padding-right: 6px;
    column-gap: 6px;
    row-gap: 32px;
  }
}

.listing-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100vw;
  position: relative;
  padding: 24px var(--p-default);

  &__count {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.5;
    font-size: 13px;
    max-width: 70%;

    span {
      @include line-clamp(1);
    }

    @include maxLg {
      position: static;
      transform: none;
    }
  }

  button {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 13px;
    transition: var(--transition);
    @include active-opacity;

    &.--sort {
      @include after-drop-arrow;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.listing-sticky-toolbar {
  padding: 0 var(--p-default);
  background-color: white;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  margin-top: -1px;
  display: none;

  @include maxLg {
    display: flex;
  }

  button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    flex: 1;
    font-weight: 550;
    font-size: 13px;
    height: 48px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.listing.--empty {
  display: block;
  height: 70vh;
  min-height: 580px;
  background-color: var(--grey);
  padding: 112px var(--p-default);

  @include maxLg {
    height: 50vh;
    min-height: 480px;
    padding: 68px var(--p-default);
  }

  h1 {
    font-size: 24px;
    font-weight: 550;
    line-height: 38px;
    text-transform: uppercase;
    color: var(--black-900);

    @include maxLg {
      font-size: 20px;
      line-height: 28px;
    }

    span {
      color: var(--black-500);
    }
  }

  p {
    font-size: 13px;
    color: var(--black-500);
    max-width: 320px;
  }

  .modal-search__input-container {
    margin-top: 18px;
    width: 100%;
    max-width: 480px;
  }

  .modal-search__input {
    background-color: white;
    border: 1px solid var(--black-200);
    box-shadow: 0px 24px 58px rgba(24, 38, 53, 0.05);
    padding-right: 68px;
  }
}

.listing__empty-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
