@use "../base/mixin.scss" as *;

.modal-search {
  display: none;
  position: fixed;
  z-index: 300;
  inset: 0;
  transition: var(--transition-modal);

  &:not(.--open) {
    .modal-search__backdrop {
      background-color: transparent;
    }

    .modal-search__container {
      transform: scale(0.95) translate(0, 12px) translate(-50%);
      opacity: 0;

      @include maxLg {
        transform: translateY(12px);
      }
    }
  }

  &.--empty {
    .modal-search__results {
      display: none;
    }

    .modal-search__container {
      &::after {
        content: "Begin your search for those timeless treasures...";
        display: block;
        padding: 24px 28px 36px 28px;
        font-style: italic;
        color: var(--black-500);
        pointer-events: none;
      }
    }
  }

  &.--skeleton {
    .modal-search__results {
      display: none;
    }

    .modal-search__skeleton {
      display: flex;
    }
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    transition: var(--transition-modal);
    background-color: var(--backdrop);
  }

  &__card {
    display: flex;
    gap: 12px;
    transition: var(--transition);
    padding: 6px;
    border-radius: 1.4rem;

    &:hover {
      background-color: var(--grey-light);
    }

    img {
      aspect-ratio: 1;
      background-color: #fff;
      border-radius: 1rem;
      flex: none;
      width: 100px;
      height: 100px;
      overflow: hidden;
      object-fit: cover;

      @include maxSm {
        width: 100px;
        max-width: 25vw;
        height: 100px;
        max-height: 25vw;
      }
    }
  }

  &__card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 6px 0;

    h4 {
      line-height: 1.6;

      span:last-child {
        display: block;
        font-size: 14px;
        font-weight: 500;
        @include line-clamp(1);
      }

      span:first-child {
        display: block;
        font-size: 11px;
        color: var(--black-500);
        @include line-clamp(1);
        margin-bottom: 4px;
      }
    }
  }

  &__container {
    z-index: 2;
    transform-origin: 0% 100%;
    border: 1px solid var(--border-grey);
    background-color: #fff;
    border-radius: 2rem;
    width: 100%;
    min-height: 90px;
    max-width: 780px;
    transition: var(--transition-modal);
    position: absolute;
    top: 120px;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%);
    box-shadow: 0 8px 12px rgba(32, 33, 36, 0.05);

    @include maxLg {
      width: auto;
      max-width: none;
      top: 52px;
      left: 12px;
      right: 12px;
      transform: none;
      transform-origin: 50% 100%;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 16px;
    pointer-events: none;
    z-index: 2;

    svg {
      opacity: 0.4;
      width: 22px;
      height: 22px;

      path {
        stroke-width: 2px;
      }
    }
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 16px;
    z-index: 3;
    transition: var(--transition);
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;

      path {
        stroke-width: 2px;
      }
    }
  }

  &__input-wrapper {
    padding: 6px;
  }

  &__input-container {
    position: relative;
  }

  &__input {
    color: var(--black-500);
    padding: 8px 50px 8px 46px;
    width: 100%;
    border: 1px solid var(--grey-100);
    background-color: var(--grey);
    font-variation-settings: "wght" 500;
    border-radius: 50rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    transition: var(--transition);
    display: flex;
    height: 52px;

    &:hover {
      background-color: var(--grey-100);
    }

    &:active {
      opacity: 0.5;
    }

    &::placeholder {
      transition: var(--transition);
      color: var(--black);
      opacity: 0.4;
    }

    &:focus {
      border-color: var(--accent-1);
      background-color: white;

      &::placeholder {
        opacity: 0.25;
      }
    }
  }

  &__skeleton {
    display: none;
    padding: 24px;
    flex-direction: column;
    gap: 12px;

    @include maxLg {
      padding: 18px;
    }

    span {
      width: 100%;
      height: 84px;
      border-radius: 1.8rem;
      background-color: var(--grey-100);
      animation: pulse 0.8s infinite;
    }
  }

  &__results {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px;
  }

  &__results-count {
    font-size: 12px;
    color: var(--black-400);
    text-align: center;
  }

  &__results-link {
    height: 48px;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-align: center;
    background-color: var(--grey-100);
  }

  &__results-list {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    display: flex;
    max-height: 380px;
    overflow-y: auto;
    @include hidebar;

    @include maxLg {
      max-height: 56vh;
    }
  }
}
