/* #region  Page tip */
.page-tip {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 99999;
  padding: 8px 16px;
  border-radius: 0.6rem;
  background-color: var(--accent-2);
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  max-width: 200px;
  pointer-events: none;
  box-shadow: 0 12px 58px rgba(78, 108, 184, 0.4);

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--royal_blue);
    width: 10px;
    height: 10px;
    bottom: -5px;
  }

  &.--left {
    &::after {
      right: auto;
      left: 18px;
    }
  }

  &.--top {
    &::after {
      top: -5px;
      bottom: auto;
    }
  }
}
