@use "../base/mixin.scss" as *;

.product-card {
  --rounded: 0.8rem;
  --padding: 16px;
  border: 1px solid var(--grey);
  border-radius: var(--rounded);
  min-height: 120px;
  overflow: hidden;

  &:not(.--sold).--no-media {
    .product-card__media {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('data:image/svg+xml,<svg width="876" height="877" viewBox="0 0 876 877" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M438.086 697.813C581.531 697.813 697.816 581.528 697.816 438.083C697.816 294.638 581.531 178.353 438.086 178.353C294.642 178.353 178.356 294.638 178.356 438.083C178.356 581.528 294.642 697.813 438.086 697.813Z" fill="white" fill-opacity="0.3"/><path d="M438.086 696.813C580.979 696.813 696.816 580.975 696.816 438.083C696.816 295.19 580.979 179.353 438.086 179.353C295.194 179.353 179.356 295.19 179.356 438.083C179.356 580.975 295.194 696.813 438.086 696.813Z" stroke="%23D6D8DA" stroke-opacity="0.6" stroke-width="2"/><path d="M516.985 359.349L748.026 128.309" stroke="url(%23paint0_linear_1080_122)" stroke-width="2"/><path d="M437.919 549.759L437.919 876.5" stroke="url(%23paint1_linear_1080_122)" stroke-width="2"/><path d="M437.919 327.404L437.919 0.662705" stroke="url(%23paint2_linear_1080_122)" stroke-width="2"/><path d="M549.096 438.581L875.837 438.581" stroke="url(%23paint3_linear_1080_122)" stroke-width="2"/><path d="M326.741 438.581L9.33212e-05 438.581" stroke="url(%23paint4_linear_1080_122)" stroke-width="2"/><path d="M358.784 359.349L127.745 128.309" stroke="url(%23paint5_linear_1080_122)" stroke-width="2"/><path d="M516.985 517.313L748.026 748.353" stroke="url(%23paint6_linear_1080_122)" stroke-width="2"/><path d="M358.784 517.313L127.745 748.353" stroke="url(%23paint7_linear_1080_122)" stroke-width="2"/><path d="M438.086 546.046C497.712 546.046 546.049 497.709 546.049 438.083C546.049 378.457 497.712 330.12 438.086 330.12C378.46 330.12 330.123 378.457 330.123 438.083C330.123 497.709 378.46 546.046 438.086 546.046Z" fill="white" fill-opacity="0.7" stroke="%23D6D8DA" stroke-width="2"/><g opacity="0.7"><path d="M438 470C455.121 470 469 456.121 469 439C469 421.879 455.121 408 438 408C420.879 408 407 421.879 407 439C407 456.121 420.879 470 438 470Z" stroke="%23B1B4B7" stroke-width="3"/><path d="M455.714 412.429L454.508 407.603C453.027 401.678 452.286 398.715 450.178 396.885C449.945 396.682 449.702 396.492 449.449 396.315C447.162 394.714 444.108 394.714 438 394.714C431.892 394.714 428.838 394.714 426.551 396.315C426.298 396.492 426.055 396.682 425.822 396.885C423.714 398.715 422.973 401.678 421.492 407.603L420.286 412.429" stroke="%23B1B4B7" stroke-width="3"/><path d="M420.286 465.572L421.492 470.397C422.973 476.322 423.714 479.285 425.822 481.116C426.055 481.318 426.298 481.508 426.551 481.685C428.838 483.286 431.892 483.286 438 483.286C444.108 483.286 447.162 483.286 449.449 481.685C449.702 481.508 449.945 481.318 450.178 481.116C452.286 479.285 453.027 476.322 454.508 470.397L455.714 465.572" stroke="%23B1B4B7" stroke-width="3"/><path d="M438 430.143V439.022L442.429 443.429" stroke="%23B1B4B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></g><defs><linearGradient id="paint0_linear_1080_122" x1="748.39" y1="128.673" x2="517.35" y2="359.713" gradientUnits="userSpaceOnUse"><stop stop-color="%23D6D8DA" stop-opacity="0"/><stop offset="1" stop-color="%23D6D8DA"/></linearGradient><linearGradient id="paint1_linear_1080_122" x1="437.404" y1="876.499" x2="437.404" y2="549.76" gradientUnits="userSpaceOnUse"><stop stop-color="%23D6D8DA" stop-opacity="0"/><stop offset="1" stop-color="%23D6D8DA"/></linearGradient><linearGradient id="paint2_linear_1080_122" x1="438.434" y1="0.663072" x2="438.434" y2="327.403" gradientUnits="userSpaceOnUse"><stop stop-color="%23D6D8DA" stop-opacity="0"/><stop offset="1" stop-color="%23D6D8DA"/></linearGradient><linearGradient id="paint3_linear_1080_122" x1="875.837" y1="439.096" x2="549.097" y2="439.096" gradientUnits="userSpaceOnUse"><stop stop-color="%23D6D8DA" stop-opacity="0"/><stop offset="1" stop-color="%23D6D8DA"/></linearGradient><linearGradient id="paint4_linear_1080_122" x1="0.000460073" y1="438.066" x2="326.74" y2="438.066" gradientUnits="userSpaceOnUse"><stop stop-color="%23D6D8DA" stop-opacity="0"/><stop offset="1" stop-color="%23D6D8DA"/></linearGradient><linearGradient id="paint5_linear_1080_122" x1="127.38" y1="128.673" x2="358.421" y2="359.713" gradientUnits="userSpaceOnUse"><stop stop-color="%23D6D8DA" stop-opacity="0"/><stop offset="1" stop-color="%23D6D8DA"/></linearGradient><linearGradient id="paint6_linear_1080_122" x1="748.39" y1="747.989" x2="517.35" y2="516.948" gradientUnits="userSpaceOnUse"><stop stop-color="%23D6D8DA" stop-opacity="0"/><stop offset="1" stop-color="%23D6D8DA"/></linearGradient><linearGradient id="paint7_linear_1080_122" x1="127.38" y1="747.989" x2="358.421" y2="516.948" gradientUnits="userSpaceOnUse"><stop stop-color="%23D6D8DA" stop-opacity="0"/><stop offset="1" stop-color="%23D6D8DA"/></linearGradient></defs></svg>');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
      }
    }
  }

  &.--sold {
    .product-card__media {
      pointer-events: none;

      &::before {
        content: "SOLD";
        position: absolute;
        inset: 0 auto auto 12px;
        font-size: 12px;
        font-weight: 700;
        z-index: 4;
        color: white;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 4px 12px;
        background-color: var(--accent-1);
      }

      img {
        filter: grayscale(1);
        opacity: 0.5;
      }
    }

    .product-card__main {
      filter: grayscale(1);
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__top {
    width: 100%;
  }

  &__media {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.25;
    border-radius: var(--rounded);
    overflow: hidden;
    background-color: var(--grey);

    &:hover {
      video {
        opacity: 1;
      }
    }

    video {
      position: absolute;
      z-index: 3;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition);
      pointer-events: none;
      opacity: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.--placeholder {
        object-fit: contain !important;
        transform: none !important;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--black);
      opacity: 0.03;
      pointer-events: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__main-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: var(--p-card);
  }

  &__brand {
    font-size: 11px;
    opacity: 0.65;
    font-weight: 500;
    @include line-clamp(1);
  }

  &__title {
    font-weight: 550;
    margin-bottom: 6px;
    @include line-clamp(1);
  }

  &__meta {
    font-size: 11px;
    line-height: 1.4;
    opacity: 0.5;
    @include line-clamp(2);
  }

  &__specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__spec {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 8px 12px;
    border-top: 1px solid var(--grey);
    font-size: 12px;
    font-weight: 450;

    > span {
      @include line-clamp(1);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  &__values {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: var(--p-card);
    border-top: 1px solid var(--grey);

    &__price {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &__price-diff {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 600;

    &.--low {
      color: var(--green);
    }

    &.--high {
      color: var(--red);
    }
  }

  &__price-value {
    font-size: 15px;
    font-weight: 600;
  }

  &__msrp {
    font-size: 11px;
    opacity: 0.6;
    font-weight: 600;
    line-height: 1.4;
  }

  @include maxSm {
    --padding: 12px;
  }

  &__actions {
    display: flex;
    gap: 6px;
    padding: 0 6px 6px 6px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
    padding: 6px;
    border-radius: 0.5rem;
    background-color: var(--grey);
    border: 1px solid var(--grey-100);
    font-size: 12px;
    font-weight: 600;
    flex: 1;
    cursor: pointer;
    transition: var(--transition);
    @include no-select;

    &:hover {
      background-color: var(--white);
      border-color: var(--black);
    }

    &.--whatsapp {
      background-color: var(--green);
      border-color: var(--green);
      color: var(--white);

      &:hover {
        background-color: var(--green-100);
        border-color: var(--green-100);
      }
    }

    svg {
      width: 18px;
      height: 18px;
    }

    @include maxMd {
      span {
        display: none;
      }
    }
  }
}
