@use "../base/mixin.scss" as *;

body.body--product {
  .breadcrumbs {
    background-color: var(--grey);
    font-size: 11px;

    a {
      opacity: 0.6;
    }
  }
}

.product-content {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

.product__main-wrapper {
  display: flex;
  width: 100%;
  max-width: 100%;

  @include maxLg {
    flex-direction: column;
  }
}

.product__side {
  width: var(--product-side-width);
  flex: none;

  @media screen and (min-width: 1024px) and (max-width: 1480px) {
    width: 38vw;
  }

  @include maxLg {
    width: 100%;
  }
}

.product__view {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: var(--product-top-offset) var(--product-top-offset) 0
    var(--p-default);
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  @include maxLg {
    padding: var(--product-media-mobile-spacing);
    padding-bottom: 0;
  }

  .swiper {
    &:not(.swiper-initialized) {
      opacity: 0;
    }

    &.swiper--product-main {
      margin-left: calc(var(--product-thumb-size) + var(--product-slider-gap));
      border-radius: var(--product-media-radius);
      overflow: hidden;

      @include maxLg {
        margin: 0;
      }
    }

    &.swiper--product-thumbnails {
      position: absolute;
      inset: 0 auto 0 0;
      z-index: 3;
      height: 100% !important;
      width: var(--product-thumb-size);
      flex-shrink: 0;

      @include maxLg {
        position: static;
        height: var(--product-thumb-size) !important;
        width: 100%;
        order: 1;
      }

      .product__media-container {
        border-radius: var(--product-media-radius-xs);
      }

      .swiper-slide {
        height: var(--product-thumb-size);
        width: var(--product-thumb-size);
      }

      .swiper-slide-thumb-active {
        border: 1px solid var(--black);
        padding: 3px;
        border-radius: calc(var(--product-media-radius-xs) * 1.2);
      }
    }

    @include minLg {
      &:hover {
        .product__swiper-button {
          opacity: 1;
        }
      }
    }
  }
}

.product__view-main {
  position: sticky;
  display: flex;
  align-items: flex-start;
  width: 100%;
  // height: 100%;
  min-width: 0;
  min-height: 0;

  @include maxLg {
    align-items: stretch;
    flex-direction: column;
    gap: var(--product-slider-gap);
  }
}

.product__media-container {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: var(--product-media-radius);

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    @include dim-overlay;
  }
}

.product__swiper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  box-shadow: 0 8px 58px 0 rgba(0, 0, 0, 0.07);
  user-select: none;
  transition: all 200ms ease-in-out;
  opacity: 0;

  &:active {
    opacity: 0.6;
  }

  &.swiper--product-button-next {
    right: 12px;
    @include after-right-arrow;
  }

  &.swiper--product-button-prev {
    left: 12px;
    @include after-left-arrow;
  }
}

.swiper-zoom-container {
  touch-action: none; // отключает нативный тач-скролл
  cursor: grab; // показывает, что картинку можно «хватать»
}

// когда картинка прямо в режиме панинга, можно менять курсор
.swiper-zoomed .swiper-zoom-container {
  cursor: grabbing;
}

.product__side {
  display: flex;
  flex-direction: column;
  padding: var(--product-top-offset) var(--p-default) 0 0;

  @include maxLg {
    padding: var(--product-top-offset) var(--p-default) 0 var(--p-default);
  }
}

.product__side-main {
  position: sticky;
}

.product__side-row {
  display: flex;
  flex-direction: column;
}

.product__label {
  color: var(--black-400);
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 9px;
  font-weight: 700;
}

.product__title-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product__title {
  font-size: 18px;
  font-weight: 600;
  @include line-clamp(2);
}

.product__meta {
  color: var(--black-300);
  font-size: 13px;
  line-height: 20px;
  @include line-clamp(1);
}

.product__legal-notice {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: flex-start;
  align-items: center;
  font-size: 11px;
  line-height: 16px;
  padding: 8px 0;
  font-weight: 600;
  display: flex;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%" color="%23000000" fill="none"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle><path d="M12 16V11.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 8.01172V8.00172" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
  }
}

.product__price-wrap {
  margin-top: 24px;
}

.product__price-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 6px;
}

.product__msrp {
  color: var(--black-400);
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 600;
}

.product__price {
  font-size: 22px;
  font-weight: 500;

  &.--strike {
    text-decoration: line-through;
    color: var(--black-300);
  }
}

.product__price-label {
  --icon-size: 16px;
  gap: 6px;
  color: #dd310f;
  background-color: #dd310f0d;
  font-weight: 700;
  font-size: 11px;
  border-radius: 50rem;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  height: 34px;
  display: flex;

  &.--deal {
    color: #0d9b67;
    background-color: #0ec47e15;

    &::before {
      content: "";
      width: var(--icon-size);
      height: var(--icon-size);
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7948 1.31037C10.5631 1.21132 10.2971 1.23525 10.0868 1.37406C9.87654 1.51287 9.75 1.74802 9.75 2C9.75 4.10205 8.40595 5.66801 6.93056 7.38691C5.42224 9.14662 3.75 11.2053 3.75 14.5C3.75 19.0564 7.44365 22.75 12 22.75C16.5563 22.75 20.25 19.0564 20.25 14.5C20.25 13.4199 20.2373 11.221 18.0857 8.53148C17.8897 8.28651 17.5619 8.1894 17.2641 8.28806C16.9665 8.38667 16.7616 8.66025 16.7505 8.97358C16.7505 8.97358 16.7294 9.2141 16.7123 9.32533C16.6773 9.55281 16.615 9.8336 16.5096 10.0904C16.4015 10.3538 16.2727 10.5316 16.1409 10.6278C16.0375 10.7033 15.8806 10.7696 15.5797 10.7067C15.3223 10.6529 15.1924 10.5581 15.1092 10.4602C15.0146 10.349 14.9287 10.1718 14.8662 9.87923C14.8033 9.58501 14.7746 9.22724 14.7576 8.79103C14.7514 8.63338 14.7467 8.45574 14.7416 8.26878V8.26876V8.26874C14.7339 7.97839 14.7255 7.66558 14.7104 7.37031C14.6586 6.35823 14.519 5.18958 13.9583 4.0952C13.3854 2.97684 12.4064 1.99931 10.7948 1.31037ZM11.7472 10.9357C11.7271 10.7011 11.5978 10.4895 11.3982 10.3645C11.1987 10.2394 10.9519 10.2154 10.732 10.2995C9.77097 10.6673 9.03473 11.5513 8.55532 12.3973C8.07287 13.2487 7.75 14.2395 7.75 15C7.75 16.4021 8.19426 17.5923 8.97275 18.4399C9.7526 19.289 10.8302 19.7512 12 19.7512C14.5117 19.7512 16.25 17.2143 16.25 14.5012C16.25 14.2552 16.1294 14.0248 15.9272 13.8847C15.725 13.7446 15.467 13.7125 15.2367 13.7989C14.5388 14.0606 14.0163 14.0834 13.6285 13.9997C13.2453 13.917 12.9324 13.7174 12.6702 13.4258C12.1204 12.8144 11.8238 11.826 11.7472 10.9357Z" fill="%230d9b67"></path></svg>');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      flex: none;
    }
  }

  &.--sale {
    color: #dd0f38;
    background-color: #db072610;

    &::before {
      content: "";
      width: var(--icon-size);
      height: var(--icon-size);
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.4595 1.57211C20.2082 1.74405 20.9664 2.02523 21.4706 2.52943C21.9748 3.03363 22.256 3.79187 22.4279 4.54049C22.6055 5.31384 22.6927 6.1991 22.7288 7.0691C22.8011 8.81162 22.6717 10.5922 22.5881 11.5023C22.5359 12.0702 22.3036 12.5946 21.9407 13.0168C19.2314 16.1692 16.4229 19.0389 13.3564 21.7845C11.9533 23.0409 9.85831 23.0542 8.39718 21.9229C5.9875 20.0571 3.94289 18.0125 2.07715 15.6028C0.94585 14.1417 0.959175 12.0468 2.21549 10.6437C4.96116 7.57715 7.83088 4.76866 10.9832 2.05934C11.4054 1.69647 11.9298 1.46412 12.4978 1.41193C13.4079 1.3283 15.1884 1.1989 16.9309 1.27119C17.8009 1.30729 18.6862 1.39449 19.4595 1.57211ZM19.0001 6.50003C19.0001 5.6716 18.3285 5.00003 17.5001 5.00003C16.6716 5.00003 16.0001 5.6716 16.0001 6.50003C16.0001 7.32846 16.6716 8.00003 17.5001 8.00003C18.3285 8.00003 19.0001 7.32846 19.0001 6.50003ZM14.53 10.5308C14.8231 10.2381 14.8235 9.76327 14.5308 9.47014C14.2382 9.177 13.7633 9.17661 13.4702 9.46926L13.2528 9.68629C12.3223 9.19938 11.1476 9.33248 10.3637 10.1151C9.94636 10.5317 9.61944 11.0697 9.65507 11.7329C9.68935 12.3713 10.0518 12.9359 10.5565 13.4397C10.9525 13.8351 11.0529 14.0944 11.0635 14.2462C11.072 14.3673 11.0336 14.5806 10.6882 14.9255C10.391 15.2222 10.1553 15.2655 9.97841 15.246C9.76719 15.2227 9.49428 15.0913 9.19649 14.794C8.91103 14.509 8.79661 14.149 8.82378 13.8411C8.8602 13.4285 8.55524 13.0645 8.14263 13.0281C7.73002 12.9917 7.36601 13.2966 7.32959 13.7092C7.2831 14.236 7.40389 14.7761 7.67624 15.2537L7.47017 15.4594C7.17703 15.7521 7.17664 16.2269 7.4693 16.5201C7.76195 16.8132 8.23682 16.8136 8.52995 16.5209L8.72014 16.3311C9.04574 16.5415 9.41289 16.6927 9.81384 16.7369C10.5114 16.8139 11.181 16.5531 11.748 15.987C12.2668 15.4691 12.6097 14.8553 12.5599 14.1417C12.5122 13.4587 12.1147 12.8758 11.6162 12.3782C11.2265 11.9891 11.1585 11.7557 11.1529 11.6525C11.1487 11.5742 11.1726 11.4271 11.4235 11.1766C11.7907 10.8099 12.4088 10.8025 12.8034 11.1965C13.069 11.4617 13.1536 11.8318 13.0644 12.1569C12.9549 12.5563 13.1899 12.969 13.5893 13.0785C13.9888 13.1881 14.4015 12.9531 14.511 12.5536C14.675 11.9556 14.6079 11.3072 14.314 10.7464L14.53 10.5308Z" fill="%23dd0f38"/></svg>');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      flex: none;
    }
  }
}

.product__btn-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 38px;

  .btn {
    flex: none;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.product__buy-notice {
  font-size: 11px;
  line-height: 18px;
  margin-top: 4px;
  font-weight: 450;
  text-align: center;
  opacity: 0.75;
}

.product__authenticity-badge {
  display: flex;
  font-weight: 650;
  gap: 14px;
  padding: 16px 0;

  img {
    width: 48px;
    height: 48px;
    flex: none;
  }

  span {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span:last-child {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: var(--black-500);
    }
  }
}

.product__specs {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  @include maxSm {
    display: flex;
    flex-direction: column;
  }
}

.product__spec {
  background-color: var(--grey);
  border-radius: 1rem;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: 600;
  display: flex;
  text-align: center;
  line-height: 20px;

  @include maxSm {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    text-align: left;
  }

  svg {
    width: 32px;
    height: 32px;

    @include maxSm {
      width: 56px;
      height: 56px;
      background-color: white;
      border-radius: 0.85rem;
      padding: 16px;
    }

    path {
      stroke-width: 1px;
    }
  }
}

.product__spec-label {
  display: block;
  font-size: 11px;
  font-weight: 400;
  opacity: 0.6;
  padding: 8px 0 2px 0;

  @include maxSm {
    padding: 0;
  }
}

.product__wrapper {
  padding: 0 var(--p-default);
}

.product__section {
  padding-top: 52px;
  min-height: 120px;
}

.product__double-grid {
  grid-column-gap: 4vw;
  grid-row-gap: 4vw;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;

  @include maxLg {
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    flex-flow: column;
    align-items: stretch;
  }

  & > div:not([class]) {
    flex: 1;
    min-height: 120px;
  }
}

.product__spot-box {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border: 1px solid var(--grey-100);
  background-color: var(--grey);
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 120px;
  padding: 32px;
  display: flex;

  @include maxLg {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include maxSm {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.product__details-row {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  border-bottom: 1px solid var(--grey-100);
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;

  span {
    &:first-child {
      color: var(--black-500);
      font-size: 12px;
    }

    &:last-child {
      font-weight: 550;
    }
  }
}

.product__legal-row {
  padding: 12px 0;
  font-size: 13px;

  p {
    line-height: 26px;
    padding: 8px 0;
  }

  h5 {
    color: var(--black-500);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 700;
    display: block;
  }

  a {
    margin-top: 6px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    display: block;
  }
}
