<div id="modalSearchResults" class="modal-search__results">
  <span class="modal-search__results-count">We found <span id="modalSearchResultsCount">237</span> results</span>
  <div id="modalSearchResultsList" class="modal-search__results-list">
    <a href="#" class="modal-search__card">
      <img src="https://cdn.prod.website-files.com/67f32f50f2c378bfbd2ec87a/684636198225cafe7ed0ba21_ca248cb603a3a695cc256d62e5438d5c.webp" alt="" />
      <div class="modal-search__card-details">
        <h4>
          <span>Audemars Pigeut Royal Oak</span>
          <span>Ss 18.48ctw Fg/vs Chrono White Dial - Nc</span>
        </h4>
        <strong>$ 12,000</strong>
      </div>
    </a>
  </div>
  <a id="modalSearchResultsLink" href="#" class="modal-search__results-link">Show all results</a>
</div>
