<div class="modal-search__input-wrapper">
  <div class="modal-search__input-container">
    <div class="modal-search__icon">
      {% include 'icons/search.svg' %}
    </div>
    <input type="text" id="modalSearchInput" class="modal-search__input" autocomplete="off" placeholder="Find anything..." />
    <div class="modal-search__close" data-action="modalSearchToggle">
      {% include 'icons/cross.svg' %}
    </div>
  </div>
</div>
