<div class="cm-banner">

	<div class="cm-bg">
		<div class="cm-canvas-wrap">
			<canvas id="cm_canvas"></canvas>
		</div>
		<div class="cm-canvas-over"></div>
	</div>

	<div class="cm-main">
		<div class="cm-main__text">
			<div class="cm-banner__tag">Almost free, no catch!</div>
			<div class="cm-banner__main-text-wrap">
				<div class="cm-banner__sub-text-wrap">
					<div data-text="CYBER" class="cm-banner__text is-first glitch is-glitching">CYBER</div>
					<div data-text="CYBER" class="cm-banner__text is-over is-first glitch is-glitching">CYBER</div>
				</div>
				<div class="cm-banner__main-text">
					<div class="cm-banner__sub-text-wrap">
						<div data-text="MONDAY" class="cm-banner__text is-middle glitch is-glitching">MONDAY</div>
						<div data-text="MONDAY" class="cm-banner__text is-over is-middle glitch is-glitching">MONDAY</div>
					</div>
					<img alt="" src="{{THEME_ASSETS_FOLDER}}promo/cyber-monday/2024/star.avif" loading="eager" class="cm-banner__sub-img">
				</div>
			</div>
			<div class="cm-banner__sub-text-wrap">
				<div data-text="SALES" class="cm-banner__text is-last glitch is-glitching">SALES</div>
			</div>
			<div class="cm-banner__sub-typo">
				<span class="cm-slashed">Prices slashed<br></span>
				<span class="cm-welcome">SAVE up to
				</span>
				<a href="#" class="cm-green">
					<span class="cm-welcome">80%</span>
				</a>
				<span class="cm-welcome">!</span>
			</div>
		</div>
	</div>

	<div class="cm-over">
		<div class="cm-green-tape">
			{% for i in 0..3 %}
				<div class="cm-tape2">
					{% for i in 0..1 %}
						<span>LIMITED TIME</span>
						<span class="cm-tape__star">
							<svg width="100%" height="100%" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M50 0V0C54.2268 25.6609 74.3391 45.7732 100 50V50V50C74.3391 54.2268 54.2268 74.3391 50 100V100V100C45.7732 74.3391 25.6609 54.2268 0 50V50V50C25.6609 45.7732 45.7732 25.6609 50 0V0Z" fill="currentColor"></path>
							</svg>
						</span>
						<span>UP TO 80% OFF!</span>
						<span class="cm-tape__star">
							<svg width="100%" height="100%" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M50 0V0C54.2268 25.6609 74.3391 45.7732 100 50V50V50C74.3391 54.2268 54.2268 74.3391 50 100V100V100C45.7732 74.3391 25.6609 54.2268 0 50V50V50C25.6609 45.7732 45.7732 25.6609 50 0V0Z" fill="currentColor"></path>
							</svg>
						</span>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		<div class="cm-white-tape">
			{% for i in 0..4 %}
				<div class="cm-tape1">
					{% for i in 0..4 %}
						<span>CYBER MONDAY</span>
						<span class="cm-tape__star">
							<svg width="100%" height="100%" viewbox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M50 0V0C54.2268 25.6609 74.3391 45.7732 100 50V50V50C74.3391 54.2268 54.2268 74.3391 50 100V100V100C45.7732 74.3391 25.6609 54.2268 0 50V50V50C25.6609 45.7732 45.7732 25.6609 50 0V0Z" fill="currentColor"></path>
							</svg>
						</span>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
