<a href="/sale" class="cm-top-banner">
	<div class="cm-top-banner__main">
		<div data-text="CYBER SALE EVENT" class="cm-top-banner__text glitch is-glitching">
			CYBER
			<span>SALE</span>
			EVENT
		</div>
		<div data-text="CYBER SALE EVENT" class="cm-top-banner__text glitch is-glitching is-over">
			CYBER
			<span>SALE</span>
			EVENT
		</div>
	</div>

	<div class="cm-timer">
		<span>Sale Ends In</span>
		<div>
			<span>
				<span data-cyber-timer="days">00</span>
				<span>days</span>
			</span>
			<span>
				<span data-cyber-timer="hours">00</span>
				<span>hours</span>
			</span>
		</div>
	</div>

</a>
