<div class="footer-spot">
  {% include 'ui/logo-link.twig' %}
  <span class="text-xs opacity-70">
    3255 Peachtree Road NE
    <br />
    Suite #3
    <br />
    Atlanta, GA 30305
  </span>
  {% include 'ui/social/social-bar.twig' %}
</div>
