<div class="footer__bottom">
  <div class="footer__disclaimer">
    © SwissWatches.com 2024. All Rights Reserved.
    <span>SwissWatches.com is not affiliated with any of the brands we sell. We are a pre-owned watch dealer and we are not authorized dealers of any brands we sell.</span>
  </div>

  <div class="footer__payments">
    {% include 'icons/pay-visa.svg' %}
    {% include 'icons/pay-mastercard.svg' %}
    {% include 'icons/pay-amex.svg' %}
    {% include 'icons/pay-stripe.svg' %}
    {% include 'icons/pay-paypal.svg' %}
  </div>
</div>
