<div class="xmas-poster">
	<div id="xmasPosterSnow"></div>
  <img id="xmasPosterOverlay" src="./assets/xmas/poster-overlay.webp" alt="">

	<div class="xmas-poster__decor">
		<img loading="eager" src="./assets/xmas/n_poster-desktop-side.webp" class="xmas-decor__desk2">
		<img loading="eager" src="./assets/xmas/n_poster-desktop-side.webp" class="xmas-decor__desk1">
		<img loading="eager" src="./assets/xmas/n_poster-mob-side.webp" class="xmas-decor__mob">
		<img loading="eager" src="./assets/xmas/n_poster-mob-side.webp" class="xmas-decor__mob is-flipped">
	</div>

	<div class="xmas-poster__main">
		<div class="xmas-poster__content">
			<div class="xmas-poster__tag">
				<div class="xtemp1">SELECTED ICEBOX GIFTS</div>
			</div>
			<img src="./assets/xmas/poster-desktop-title.webp" loading="eager" alt="" class="xmas-poster__desktop-title">
			<img src="./assets/xmas/poster-mob-title.webp" loading="eager" alt="" class="xmas-poster__mob-title">
			<p class="xmas-poster__subheading">Shop Sale items with guaranteed christmas delivery!</p>
		</div>
	</div>
</div>
