@use 'modules/base/mixin' as *;
strong {
  font-weight: 600;
}

.main_product_v2 {
  .hero-banner__summary.--static {
    margin-top: 8px;
  }

  .hero-card__pic-wrap {
    &::after {
      content: '';
      opacity: .03;
      pointer-events: none;
      background-color: #283a69;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      z-index: 1;
    }

    &:hover {
      &::after {
        opacity: .06;
        background-color: #283a69;
      }
    }
  }

  .hero-btn.--arrow {
    width: 46px;
    padding: 12px;

    svg {
      width: 17px;
      height: 17px;
    }
  }
}

.color-gradient,
.color-pick>span {
  &.Yellow {
    background-color: var(--yellow);
    background-image: none;
  }

  &.White {
    background-color: var(--silver);
    background-image: none;
  }

  &.Rose {
    background-color: var(--rose);
    background-image: none;
  }

  &.Black {
    background: linear-gradient(45deg, #6F7174, #171C25);
  }

  &.Two_Tone {
    background: linear-gradient(45deg, #e2d2b6, #e6d6a8 50%, #f5f5f5 51%, #ebebeb);
  }

  &.Two_Tone_Rose {
    background: linear-gradient(45deg, #FDDDDD, #D2ACAC 50%, #f5f5f5 51%, #ebebeb);
  }

  &.Tri_Tone {
    background: linear-gradient(45deg, #e2c6cc, #e7cdd3 40%, #ebebeb 41%, #ddd 63%, #e2d2b6 64%, #ebe1c5);
  }

  &.Steel {
    background: linear-gradient(45deg, #a3a3a3, #ebebeb 50%, #c2c0c0 51%, #e9e9e9);
  }

  &.Titanium {
    background: linear-gradient(45deg, #959294, #3F383C);
  }

  &.Blue_Gold {
    background: linear-gradient(45deg, #88D3ED, var(--blue));
  }

  &.Navy_Blue {
    background: linear-gradient(45deg, #223164, #3e68c2);
  }

  &.Red {
    background-image: linear-gradient(45deg, #c7242d, #ff9d9f);
  }

  &.Blue {
    background-color: #2cabd6;
  }

  &.Platinum {
    background-color: #cbcac6;
  }

  &.Tri_Tone_Rose {
    background: linear-gradient(45deg, #e2c6cc, #e7cdd3 40%, #ebebeb 41%, #ddd 63%, #e2d2b6 64%, #ebe1c5);
  }
}

.product__wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;

  @include maxWidthMd {
    flex-direction: column;
  }
}

.product__view {
  width: 66%;
  flex: none;

  @media screen and (min-width: 1440px) {
    width: 64%;
  }

  @include maxWidthMd {
    width: 100%;
  }
}

.product__desktop-viewer {
  --gap: 6px;
  gap: var(--gap);
  flex-flow: wrap;
  display: flex;
  position: -webkit-sticky;
  position: sticky;

  @include maxWidthMd {
    display: none;
  }
}

.product__slider-viewer {
  display: none;

  @include maxWidthMd {
    display: block;
  }
}

.product-media {
  aspect-ratio: 1;
  flex: 1;
  min-width: 40%;
  max-width: calc(50% - var(--gap));

  @include maxWidthMd {
    max-width: 100%;
    width: 100%;
    flex: none;
    aspect-ratio: 1 / 1.15;
  }

  @include maxWidthXs {
    aspect-ratio: 2 / 2.3;
  }
}

.product-media__inner-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    opacity: .03;
    pointer-events: none;
    background-color: #283a69;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product-slider__controls {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-flow: wrap;
  // position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .splide__pagination {
    position: static;
    padding: 0 0 0 20px;
    display: flex;
    gap: 4px;
  }

  .splide__pagination__page {
    width: 18px;
    height: 1.5px;
    opacity: 1;
    background-color: #dde2e7;
    transform: none;
    display: block;
    margin: 0;
    border-radius: 50px;

    &.is-active {
      background-color: var(--black);
    }
  }

  .splide__arrows {
    position: static;
    display: flex;
  }

  .splide__arrow {
    position: static;
    transform: none;
    width: 42px;
    height: 42px;
    border-radius: 0;
    opacity: 1 !important;
    background-color: #eceff3;

    &.splide__arrow--prev {
      transform: rotate(180deg);
    }

    &:disabled {
      background-color: transparent;
      color: #dde2e8;
    }

    svg {
      fill: none;
      height: 16px;
      width: 16px;
    }
  }
}

.product__side {
  padding: 64px 46px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1440px) {
    padding-left: 86px;
    padding-right: 86px;
  }

  @include maxWidthXs {
    padding: 32px 12px;
  }
}

.product__main-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.side-body__breadcrumbs {
  margin-bottom: 8px;

  @include maxWidthXs {
    margin-bottom: 2px;
  }
}

.product__breadcrumbs {
  display: flex;
  letter-spacing: .4px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;

  .crumb {
    &:first-child {
      display: none;
    }
  }
}

.crumb__link-divider {
  padding: 0 8px 0 7px;
}

.side-row__title-wrap {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.product__item-title {
  // font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
}

.product__add-fav {
  width: 32px;
  height: 32px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
  margin-right: -10px;
  border-radius: 50px;
  cursor: pointer;
  transition: var(--transition-s);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  svg {
    width: 16px;
    height: 16px;

    path {
      // stroke-width: 2px;
    }
  }

  &:hover {
    background-color: #ecedf0;
  }

  &:active {
    opacity: .6;
  }

  &.is-active {
    color: var(--blue);
    background-color: rgba(66, 190, 232, 0.12);

    path {
      fill: var(--blue)
    }
  }

  @include maxWidthXs {
    margin-right: 0px;
  }
}

.product__availability-svg {
  display: none;
}

.product__item-availability {
  color: #9398a7;
  letter-spacing: .2px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  display: block;

  &.in_stock_msg {
    color: var(--black)
  }
}

.product__availability-date {
  color: var(--black)
}

.out_of_stock_msg {
  display: block !important;
}

.product__item-price {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.old_price {
    color: #9398a7;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #9398a7;
    }
  }
}

.side-row__line_price {
  display: flex;
  align-items: center;
  gap: 10px
}

.product-discount-rate {
  font-weight: 700;
  font-size: 12px;
  color: var(--blue_dark)
}

.side-row__detailed-price {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 6px;

  &>span {
    gap: 6px;
    flex: 1;
    align-items: center;
    display: flex;
    padding-left: 20px;
    font-weight: 600;
    font-size: 12px;
    background-size: 14px 14px;
    background-position: left 0px center;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.4273 8C20.0187 9.59154 21 11.7717 21 14.1765C21 19.0496 16.9706 23 12 23C7.02944 23 3 19.0496 3 14.1765C3 11.7717 3.98129 9.59154 5.57271 8" stroke="%23171C29" stroke-width="1.5"/><path d="M17.6 1H6.4L5 4.4375L12 12L19 4.4375L17.6 1Z" stroke="%23171C29" stroke-width="1.5"/></svg>');

    &.--diamond {
      background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.4" d="M18.4273 8C20.0187 9.59154 21 11.7717 21 14.1765C21 19.0496 16.9706 23 12 23C7.02944 23 3 19.0496 3 14.1765C3 11.7717 3.98129 9.59154 5.57271 8" stroke="%23171C29" stroke-width="1.5"/><path d="M17.6 1H6.4L5 4.4375L12 12L19 4.4375L17.6 1Z" stroke="%23171C29" stroke-width="1.5"/></svg>');
    }

    &.--ring {
      background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.4273 8C20.0187 9.59154 21 11.7717 21 14.1765C21 19.0496 16.9706 23 12 23C7.02944 23 3 19.0496 3 14.1765C3 11.7717 3.98129 9.59154 5.57271 8" stroke="%23171C29" stroke-width="1.5"/><path opacity="0.4" d="M17.6 1H6.4L5 4.4375L12 12L19 4.4375L17.6 1Z" stroke="%23171C29" stroke-width="1.5"/></svg>');
    }

    &>span:nth-child(2) {
      height: 1px;
      color: rgba(8, 17, 31, 0);
      border-top: 1px dashed #b0b7c8;
      flex: 1;
    }

    &>span:last-child {
      text-align: center;
      border-radius: 4px;
    }
  }
}

/* #region  Matching */
.match-box__wrapper {
  width: 100%;
  gap: 14px;
  display: flex;
  align-items: flex-start;
}

.match-box-title {
  letter-spacing: .2px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  transition: var(--transition-s);

  &:hover {
    color: var(--blue_dark)
  }
}

.match-box-dash {
  pointer-events: none;
}

.match-box-dash:before {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: '';
  width: 50%;
  background: rgba(255, 255, 255, 0.05);
}

.match-box-dash span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #ffffff, #ebcb8b);
  animation: matchDash1 1s linear infinite;
}

.match-box-heading {
  // font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
}

.match-box {
  box-shadow: none;
  // background-color: #fefcf9;
  // border: 1px solid #f7f1e7;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}

.match-box__details-wrapper {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.match-box-dash {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  display: none;
}

.match-box-price {
  margin-top: 3px;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 13px;
}

.match-box__thumb {
  width: 30%;
  max-width: 94px;
  flex: none;
  display: block;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;

  &:hover {
    &::after {
      opacity: .06;
    }
  }

  &::after {
    content: '';
    opacity: .03;
    pointer-events: none;
    background-color: #283a69;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
    transition: var(--transition-s);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.match-box-btn {
  font-size: 10px;
  font-weight: 700;
  padding-right: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  background-size: 12px 12px;
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 11H24" stroke="white" stroke-width="2"></path><path d="M14.5 1.5L24 11L14.5 20.5" stroke="white" stroke-width="2"></path></svg>');
  background-color: var(--black);
  color: white;
  padding: 4px 32px 4px 12px;
  transition: var(--transition-s);

  &:hover {
    background-color: var(--blue);
  }
}

@keyframes matchDash1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.match-box-dash span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #ebcb8b);
  animation: matchDash2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes matchDash2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.match-box-dash span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, #ffffff, #ebcb8b);
  animation: matchDash3 1s linear infinite;
}

@keyframes matchDash3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.match-box-dash span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to top, #ffffff, #ebcb8b);
  animation: matchDash4 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes matchDash4 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* #endregion Matching */


/* #region Options */
.gold-options {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  align-items: center;
  margin-top: 8px;
  display: flex;
}

.color-pick {
  cursor: pointer;
  border: 1px solid rgba(216, 219, 228, 0);
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: var(--transition-s);
  display: flex;
  transform: none;

  &.is-active {
    padding: 3px;
    border-color: var(--blue);
    // order: -1;
  }

  &:hover {
    padding: 3px;
    border-color: var(--blue);
  }

  &:active {
    opacity: .6;
  }

  span {
    width: 100%;
    height: 100%;
  }
}

.product__options {
  margin-top: 24px;

  textarea,
  .option-letters-input {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    min-height: 54px;
    padding: 14px;
    outline: none;
    transition: var(--transition-s);

    &::placeholder {
      transition: var(--transition-s);
      color: #919ba4;
    }

    &:hover {
      background-color: #ebedef;
      border-color: #ebedef;
    }

    &:focus {
      border-color: var(--black);
      background-color: white;

      &::placeholder {
        color: transparent
      }
    }
  }
}

.product__item-option {
  display: flex;
  flex-direction: column;

  &.--expanded {

    .product-option__head {
      border-color: transparent !important;
    }

    .product-option__body {
      height: auto;
    }
  }

  &.--info {

    .product-option__head {
      padding: 6px 0;
      border: none;
    }
  }
}

.product-option__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  letter-spacing: 0.2px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #e2e6eb;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    border-color: var(--black);
  }

  &:active {
    opacity: .6;
  }
}

.options-block {
  display: flex;
  gap: 8px;
  flex-flow: wrap;
}

.option-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px;
  min-width: 54px;
  border: 1px solid #d9dbe4;
  font-size: 13px;
  font-weight: 600;
  color: #7d8396;
  transition: var(--transition-s);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  &:not(.is-active):hover {
    // background-color: rgba(23, 28, 41, 0.1);
    border-color: var(--black);
    color: var(--black)
  }

  &:active {
    opacity: .5;
  }

  &.is-active {
    border-color: var(--black);
    color: var(--black)
  }
}

.product-option__wrapper {
  padding-bottom: 8px;
}

#optionGia {
  .option-btn {
    width: 100%;
    flex: none;
  }
}

.option-gia {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 18px;
    height: 18px;
  }
}

.option-gia__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  column-gap: 10px;
  row-gap: 4px;
}

.option-guide-btn {
  margin-top: 4px;
  padding: 6px 0;
  display: flex;
  // justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  font-weight: 600;
  // text-transform: uppercase;
  // background-color: #ecedf0;
  cursor: pointer;
  order: 1;
  opacity: .65;

  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

.product-option__head-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-option__dd-icon {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;

  path {
    stroke-width: 3px;
  }
}

.product-option__body {
  height: 0;
  overflow: hidden;
}

.diamond-color-img {
  width: 18px;
  order: -1;
}

.option-letters-input {
  width: 100%;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

/* #endregion Options */

.buy-btn {
  color: #fff;
  letter-spacing: .4px;
  text-transform: uppercase;
  background-color: #171c29;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  transition: var(--transition-s);
  display: flex;
  position: relative;
  gap: 8px;

  &.--sub {
    color: #171c29;
    background-color: #ecedf0;

    &:hover {
      background-color: #e1e4ea;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    background-color: var(--blue);
  }

  &:active {
    opacity: .7;
  }
}

.side-row__payments {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.paylater-box__content {
  display: flex;
  gap: 8px;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}

.paylater-btn {
  color: #fff;
  cursor: pointer;
  background-color: #4a4af4;
  background-image: none;
  border-radius: 50rem;
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 700;

  &:hover {
    background-color: #7272fa;
  }

  &:active {
    opacity: .65;
  }
}

.paylater-box__img-wrap {
  display: flex;
  gap: 4px;

  img {
    border-radius: 50px;
    width: 28px;
    height: 28px;
  }
}

.paylater-box__wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px;

  p {
    font-weight: 600;
    line-height: 20px;
    font-size: 13px;
    padding: 1.5px 0 1.5px 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      display: none;
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      transform: rotate(45deg);
      background-color: var(--black);
      left: 0;
    }
  }
}

.paylater-box__content#payLaterBoxDetails {
  display: none;
  margin-top: 10px;
  background-image: linear-gradient(135deg, #ffb3c7, #7777f0 50%, #abe9d6);
  padding: 1.5px;
}

.paylater-box__features {
  display: flex;
  flex-direction: column;
  gap: 4px;

  span {
    text-align: center;
    background-color: rgba(147, 179, 223, 0);
    border: 1.5px solid rgba(145, 132, 233, 0.38);
    border-radius: 0;
    padding: 6px 8px;
    font-size: 13px;
    font-weight: 600;
  }
}

.product__item-summary {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: var(--transition-m);
  position: relative;

  &.--collapsed {
    max-height: 158px;
    overflow: hidden;

    &::before {
      content: '';
      background-image: linear-gradient(0deg, #fff 38%, rgba(255, 255, 255, 0));
      height: 100px;
      transition: var(--transition-m);
      position: absolute;
      top: auto;
      bottom: 0%;
      left: 0%;
      right: 0%;
      z-index: 1;
    }

    &::after {
      content: 'Show More';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      letter-spacing: .6px;
      text-transform: uppercase;
      cursor: pointer;
      background-color: #ecedf0;
      margin: 0 16px;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 11px;
      font-weight: 600;
      transition: var(--transition-s);
      z-index: 2;
    }
  }

  li,
  p,
  span {
    display: block !important;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  li,
  p {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 13px;
    line-height: 20px;

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #171c29;
      border-radius: 50px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}

.product__details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1px;
  line-height: 18px;

  &>div {
    padding: 10px;
    border: 1px solid #e2e6eb;
    margin-right: -1px;
    margin-bottom: -1px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

.product__about-title {
  font-size: 11px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__about-name {
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.warranty-p {
  font-weight: 600;
  line-height: 24px;
}

.product__more-details {
  margin-top: 16px;
}

.product__more {
  .wrapper {
    padding: 0;
  }
}

/* #region Promises */
.product__promises {
  padding: 42px 8vw;
  margin: 24px 0;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  // background-color: #f8f9fa;
}

.product-promise {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  box-shadow: none;
  // background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 38px 24px;
  // border: 1px solid #e2e6eb;
  transition: var(--transition-s);
  display: flex;
  // flex: 1;

  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include maxWidthXs {
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  a {
    letter-spacing: .6px;
    text-transform: uppercase;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27" fill="none"><path d="M0.5 13.5H20.5" stroke="%23171C29" stroke-width="4"/><path d="M8.5 1.5L20.5 13.5L8.5 25.5" stroke="%23171C29" stroke-width="4"/></svg>');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 18px;
    font-size: 11px;
    font-weight: 700;
    transition: var(--transition-s);

    &:not(.--blue):hover {
      padding-right: 22px;
    }

    &.--blue {
      color: #fff;
      background-color: #0eaee2;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27" fill="none"><path d="M0.5 13.5H20.5" stroke="white" stroke-width="4"/><path d="M8.5 1.5L20.5 13.5L8.5 25.5" stroke="white" stroke-width="4"/></svg>');
      background-position: right 18px top 50%;
      border-radius: 50px;
      padding-left: 18px;
      padding-right: 40px;
      box-shadow: 0 6px 18px rgba(14, 174, 226, .35);

      &:hover {
        background-color: #1ab9ef;
        background-position: right 14px top 50%;
      }
    }
  }

  @include maxWidthXs {
    gap: 12px;
  }
}

.product-promise__icon-wrap {
  color: #2c3238;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  width: 34px;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;

  svg {
    width: 100%;
    height: 100%;
  }

  @include maxWidthXs {
    margin-bottom: 0;
  }
}

.product-promise__heading {
  margin-bottom: 2px;
  font-size: 18px;
  // text-transform: uppercase;
  // letter-spacing: 0.2px;
  font-weight: 600;
  line-height: 28px;

  span {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    display: block;
    text-transform: none;
  }
}

/* #endregion Promises */

.product__ship-insured {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 8px 12px;
  margin: 4px 0;
  // border: 1px solid var(--black);

  svg {
    width: 24px;
    height: 24px;

    * {
      opacity: 1 !important;
    }
  }
}

.apply-section {
  padding-top: 28px;
  padding-bottom: 28px;

  button,
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0eaee2;
    color: white;
    border-radius: 50px;
    margin-top: 8px;
    padding: 12px 22px;
    font-weight: 600;
    transition: var(--transition-s);
    box-shadow: 0 12px 26px rgba(14, 174, 226, .3);
    min-width: 190px;

    &:hover {
      background-color: #079dce;
      box-shadow: 0 12px 98px rgba(14, 174, 226, .1);
    }
  }

  &>div {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    background-color: #f6f8fc;
    border-bottom: 6px solid #f6f8fc;
    justify-content: center;
    align-items: center;
    padding: 48px 46px 12px;
    display: flex;
    position: relative;
    overflow: hidden;

    @include maxWidthXs {
      border-bottom-width: 12px;
      padding: 42px 12px 12px;
    }

    &>div {
      grid-column-gap: 68px;
      grid-row-gap: 68px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1040px;
      display: flex;

      @include maxWidthMd {
        grid-column-gap: 36px;
        grid-row-gap: 36px;
        flex-flow: column;
        align-items: stretch;
      }
    }
  }

  img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 460px;
    margin-bottom: -160px;
    position: relative;
    box-shadow: 0 18px 98px rgba(23, 28, 41, .08);

    @include maxWidthMd {
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      width: 100%;
      max-width: 60%;
      margin-bottom: -18%;
    }

    @include maxWidthXs {
      width: 100%;
      max-width: 88%;
      margin-bottom: -26vw;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 98px rgba(23, 28, 41, .1);
    }
  }

  h3 {
    text-transform: uppercase;
    // font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  p {
    max-width: 360px;
    font-size: 16px;
    line-height: 26px;


    @include maxWidthXs {
      max-width: 260px;
      font-size: 14px;
      line-height: 22px;
    }

    strong {
      margin-top: 6px;
    }
  }
}

.apply-section__title-group {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  padding-bottom: 38px;

  @include maxWidthMd {
    padding-bottom: 0px;
  }

  @include maxWidthXs {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

/* #region Floating / sticky button */
.product-float {
  z-index: 10;
  background-color: #fff;
  transition: var(--transition-m);
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0, 100%);
  box-shadow: 0 -10px 38px rgba(160, 164, 175, 0);

  &.--visible {
    transform: translate(0);
    box-shadow: 0 -10px 38px rgba(160, 164, 175, .3);
  }

  .product-media {
    width: 52px;
    height: 52px;
    min-width: unset;
    aspect-ratio: 1/1 !important;
    flex: none;

    @include maxWidthXs {
      width: 46px;
      height: 46px;
    }
  }

  .product-media__inner-wrap {
    &::after {
      opacity: .04;
    }
  }
}

.product-float__name {
  margin-left: 12px;
  font-size: 13px;
  font-weight: 600;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.product-float__wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  display: flex;
}

.product-float__details {
  align-items: center;
  display: flex;
}

.product-float__btn {
  color: #fff;
  letter-spacing: .2px;
  text-transform: uppercase;
  background-color: #171c29;
  flex: none;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 46px;
  padding: 13px 20px;
  font-size: 12px;
  font-weight: 700;
  transition: var(--transition-m);
  display: flex;
  position: relative;
}

.product-float__btn:hover {
  background-color: #2d3446;
}

@media screen and (max-width: 479px) {
  .product-float__name {
    display: none;
  }

  .product-float__wrapper {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .product-float__btn {
    flex: 1;
  }
}

/* #endregion Floating / sticky button */