@font-face {
  font-family: 'TSans';
  src: url('../fonts/TSans.woff2') format('woff2-variations');
  font-weight: 100 900;  /* Диапазон весов */
  font-style: oblique 0deg 10deg; /* Для вариативного наклона */
  font-display: swap;
  
  /* Для расширенной совместимости */
  font-variation-settings: 
    'wght' 600,  /* Базовая толщина */
    'slnt' 0;    /* Базовая наклонность */
}

// @font-face {
//   font-family: 'ProximaNova';
//   src: url('../fonts/Proxima-Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'ProximaNova';
//   src: url('../fonts/Proxima-Semibold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'ProximaNova';
//   src: url('../fonts/Proxima-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-Semibold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }