:root {
  --main-wrapper-width: 1420px;
  --main-wrapper-padding: 0px 56px;

  --padding: 52px;

  @include maxWidthMd {
    --padding: 42px;
  }

  @include maxWidthSm {
    --padding: 32px;
  }

  @include maxWidthXs {
    --padding: 22px;
  }

  @include maxWidthMd {
    --main-wrapper-padding: 0px 46px;
  }

  @include maxWidthSm {
    --main-wrapper-padding: 0px 42px;
  }

  @include maxWidthXs {
    --main-wrapper-padding: 0px 24px;
  }

  --font-main: 'ProximaNova', sans-serif;

  --white: #ffffff;
  --black: #08111f;
  --red: #D70040;
  --green: #009688;
  --text-muted: #909090;
  --blue: #06a6dc;
  --blue-sub: #2a94f1;
  --blue-gold: #0095c6;
  --blue-gold_hover: #14afe3;
  --text-white: #ffffff;
  --sub-grey: #eaeef3;
  --main-grey: #f5f8fa;
  --main-easing: cubic-bezier(.39, .575, .565, 1);
  --checkout-blue: #18a0cf;
  --light-blue: #f4f8ff;
  --t-border: #e8ecf3;
  --lx-border: #e4e8ee;
  --p-border: #ebf0f3;
  --p-text: #777d8b;

  --color-brand-900: #015686;
  --color-brand-800: #0175a7;
  --color-brand-700: #0186ba;
  --color-brand-600: #0999cd;
  --color-brand-500: #14a5db;
  --color-brand-400: #34b3de;
  --color-brand-300: #54c0e2;
  --color-brand-200: #81d2e9;
  --color-brand-100: #b3e3f2;
  --color-brand-50: #e1f5fa;
  --color-gold: #fcd99f;
  --color-blue: #0938eb;
  --color-bright-blue: #0db0e6;
  --color-bright-blue_dim: #059fd2;

  --transition-m: all 250ms cubic-bezier(.39, .575, .565, 1);
  --transition-l: all 350ms cubic-bezier(.39, .575, .565, 1);
  --transition-s: all 175ms cubic-bezier(.39, .575, .565, 1);

  --backdrop-darkcolor: rgba(6, 12, 20, .6);
  --backdrop-menu: rgba(6, 12, 20, .8);

  --modal-transition: all .45s cubic-bezier(.39, .575, .565, 1);
  --menu-transition: all 300ms cubic-bezier(.39, .575, .565, 1);

  --cubic: cubic-bezier(.39, .575, .565, 1);

  --radius: 0.3rem;
}