:root {
  --main-wrapper-width: 1420px;
  --main-wrapper-padding: 0px 56px;

  @include maxWidthMd {
    --main-wrapper-padding: 0px 46px;
  }

  @include maxWidthSm {
    --main-wrapper-padding: 0px 42px;
  }

  @include maxWidthXs {
    --main-wrapper-padding: 0px 24px;
  }

  --font-main: 'ProximaNova', sans-serif;

  --white: #ffffff;
  --black: #08111f;
  --text-muted: #909090;
  --blue-gold: #0095c6;
  --text-white: #ffffff;
  --sub-grey: #eaeef3;
  --main-grey: #f5f8fa;
  --main-easing: cubic-bezier(.39, .575, .565, 1);
  --checkout-blue: #18a0cf;

  --transition-m: all 250ms cubic-bezier(.39, .575, .565, 1);
  --transition-l: all 350ms cubic-bezier(.39, .575, .565, 1);
  --transition-s: all 175ms cubic-bezier(.39, .575, .565, 1);

  --backdrop-darkcolor: rgba(6, 12, 20, .6);

  --modal-transition: all .45s cubic-bezier(.39, .575, .565, 1);
}