{% set THEME_ASSETS_FOLDER = './assets' %}
<!DOCTYPE html>
<html lang="en">

	<head>
		{% include 'page-components/admin-head.twig' %}
		{{ block('include_head') }}
	</head>


	<body {% if bodyClass is defined %} class="{{bodyClass}}" {% endif %}>
		{% include "admin/components/header-whales.twig" %}

		<main {% if mainClass is defined %} class="{{mainClass}}" {% endif %}>{% block content %}{% endblock %}
			</main>

			{% include "admin/components/sidebar.twig" %}
			{% include "admin/components/add-popup.twig" %}
			{% include "admin/components/finger-modal.twig" %}
			{% include "page-components/scripts_admin.twig" %}
			{{ block('include_script') }}
			{% include "admin/components/back-backdrop.twig" %}
			{% include "admin/components/swiper.twig" %}
			{% include "admin/components/toolbar.twig" %}
			{% include "admin/components/g-tip.twig" %}
      
      	<script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.11.0/tsparticles.confetti.bundle.min.js"></script>
		</body>

	</html>
