{% set THEME_ASSETS_FOLDER = './assets' %}
<!DOCTYPE html>
<html lang="en">

	<head>
		{% include 'page-components/admin-head.twig' %}
		{{ block('include_head') }}
	</head>


	<body class="body_print-tag">
		{% include "admin/components/header.twig" %}

		<main {% if mainClass is defined %} class="{{mainClass}}" {% endif %}> {% block content %}{% endblock %}
			</main>

			{% include "page-components/scripts.twig" %}
			{{ block('include_script') }}
			{% include "admin/components/back-backdrop.twig" %}
		</body>

	</html>
