{% set THEME_ASSETS_FOLDER = './assets' %}
<!DOCTYPE html>
<html lang="en">

	<head>
		{% include 'page-components/admin-head.twig' %}
		{{ block('include_head') }}
	</head>


	<body {% if bodyClass is defined %} class="{{bodyClass}}" {% endif %}>

		<main {% if mainClass is defined %} class="{{mainClass}}" {% endif %}>{% block content %}{% endblock %}
			</main>
			{{ block('include_script') }}
			{% include "admin/components/toolbar_inventory.twig" %}
      {% include "page-components/scripts_admin.twig" %}
		</body>

	</html>
