{% set black_friday = false %}
{% set cyber_monday = false %}
{% set christmas = true %}
{% set userIsAdmin = false %}

<!DOCTYPE html>
<html lang="en">


	<head>
		{% include '../page-components/head.twig' %}
		{{ block('include_head') }}
	</head>


	<body{% if christmas == true %} class="xmas_update"{% endif %}>
		{% if pageBanner == true and not black_friday == true and not cyber_monday == true and not christmas == true %}
			{% include "../elements/page-banner.twig" %}
		{% endif %}
		{% include "../elements/header.twig" %}


		<main {% if mainClass is defined %} class="{{mainClass}}" {% endif %}> {% block content %}{% endblock %}

			{% if logged %}
				{% else %}
				{# {% include "../elements/subscribe.twig" %} #}
			{% endif %}
			{% if userIsAdmin == true %}
				{% include "elements/admin-bar.twig" %}
			{% endif %}
			{% include "../elements/footer.twig" %}
			{% include "../elements/affirm-disclaimer.twig" %}
		</main>


		{% include "../elements/menu.twig" %}
		{% include "../elements/cart-modal.twig" %}
		{% include "../elements/sign-modal.twig" %}
		{% include "../elements/currency-modal.twig" %}
		{% include "elements/page-alerts.twig" %}
		{% include "elements/pay-modal.twig" %}
		{% include "elements/mail-modal.twig" %}
		{% include "elements/quiz-modal.twig" %}
		{% include "elements/black_friday/bfs-modal.twig" %}
		{% include "../page-components/scripts.twig" %}
		{{ block('include_script') }}
	</body>

</html>
