{% set black_friday = true %}

<!DOCTYPE html>
<html lang="en">


<head>
	{% include 'page-components/head.twig' %}
	{{ block('include_head') }}
</head>


<body class="body_sell">
	{% include "components/sell/header.twig" %}
	{% include "components/sell/loader.twig" %}

	<main {% if mainClass is defined %} class="{{mainClass}}" {% endif %}> {% block content %}{% endblock %}
	</main>

	{% include "components/sell/menu.twig" %}

	{% include "page-components/scripts.twig" %}
	<script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
	{{ block('include_script') }}
</body>

</html>