{% set THEME_ASSETS_FOLDER = './assets/' %}
{% set body_class = body_class is defined ? ' class="' ~ body_class ~ '"' : '' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'components/head.twig' %}
    {% block head %}
      {# Head goes here #}
    {% endblock %}
  </head>

  <body {{ body_class }}>
    <main>
      {% block content %}
        {# Content goes here #}
      {% endblock %}
    </main>

    {# Modals #}
    {% include 'ui/modal/modal-search.twig' %}
    {% include 'ui/modal/modal-view.twig' %}
    {% include 'ui/modal/modal-filter.twig' %}
    {% include 'ui/modal/modal-sign.twig' %}

    {% include 'components/scripts.twig' %}
    {% block scripts %}
      {# Scripts go here #}
    {% endblock %}
  </body>
</html>
