<div class="xmas-top-banner">
	<div class="xmas-top-banner__pic-wrap">
		<img src="{{THEME_ASSETS_FOLDER}}promo/xmas/2024/top-banner-pic.webp" loading="eager" alt="">
	</div>
	<div class="xmas-top-banner__timer">
		<h4>SALE ENDS IN</h4>
		<div>
			<div>
				<span data-xmas-timer="days">00</span>
				<span>Days</span>
			</div>
			<div>
				<span data-xmas-timer="hours">00</span>
				<span>Hours</span>
			</div>
		</div>
	</div>
</div>
