<div id="addManulOrderPopup" class="m-popup">
	<div class="m-popup__handler"></div>

	{# Header #}
	<div class="m-popup__title">
		<h3>Manual Order</h3>
		<span>You're adding new order to the page.</span>
	</div>


	{# Progress #}
	<div class="m-popup__progress">
		<h6 class="m-popup__progress-title">Step 1. Item details.</h6>
		<div class="m-popup__progress-bar">
			<span></span>
		</div>
	</div>


	{# Main Content #}
	<div class="m-popup__main">
		<form id="addManulOrderForm" method="post" onsubmit="">
			<div class="m-popup__wrapper">

				<div
					class="m-popup__main">



					{# 1 --- Find customer / add customer / selected customer #}
					<div data-step id="contentCustomer" class="m-popup__content --step-1">
						<div class="m-popup__input-grid">
							<div id="selectedCustomerInputs" class="m-popup__input-row">
								<div class="m-popop__manual-options-grid">
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="">First Name</label>
										<input class="m-popup__input" data-customer-input id="customerFirstName" type="text" name="first_name" placeholder="First name" autocomplete="off" required>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="customerLastName">Last Name</label>
										<input class="m-popup__input" data-customer-input id="customerLastName" type="text" name="last_name" placeholder="Last name" autocomplete="off" required>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="customerEmail">Email</label>
										<input class="m-popup__input" data-customer-input id="customerEmail" type="email" name="email" placeholder="Email" autocomplete="off" required>
										<label class="custom-checkbox">
											<input type="checkbox" name="customer_no_email" value="No Email" onchange="document.getElementById('customerEmail').disabled = this.checked;">
											<span>No Email</span>
										</label>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="customerPhone">Phone</label>
										<input class="m-popup__input" data-customer-input id="customerPhone" type="text" name="phone" placeholder="Phone" autocomplete="off" required>
									</div>
									<div class="m-popup__custom-pic-wrap">
										<img data-customer-photo class="m-popup__customer-pic" src="https://www.icebox.com/unsafe/300x300/icebox-jewelry.s3.amazonaws.com/whales/8064aee9ea24ccd862f9a6b29b743f8f.png" alt="">
									</div>
								</div>
							</div>
							<div id="searchListCustomers" class="m-popup__input-row">
								<div class="m-popup__input-wrap">
									<input class="m-popup__input --bold" id="customerSearchInput" name="customerSearch" placeholder="Find a customer..." type="text" autocomplete="off" required>
								</div>
								<div class="m-popup__search-list"></div>
							</div>
						</div>
					</div>


					{# 2 --- Find item & Selected item #}
					<div data-step id="contentItem" class="m-popup__content --step-2">
						<div class="m-popup__input-grid">
							<div id="searchListItems" class="m-popup__input-row">
								<div class="m-popup__input-wrap">
									<input class="m-popup__input --bold" id="itemSearchInput" name="itemSearch" placeholder="Find an item..." type="text" autocomplete="off" required>
								</div>
								<div class="m-popup__search-list"></div>
							</div>
							<div id="selectedItemContainer" class="m-popup__input-row"></div>
						</div>
					</div>



          					{# 3 --- Other Details #}
					<div data-step id="contentOther" class="m-popup__content --step-3">
						<div class="m-popup__input-grid">
							<div id="otherDetails" class="m-popup__input-row">
								<div class="m-popop__manual-options-grid --dbl">
									<div class="m-popup__input-row">
										<label class="m-popup__label">Store</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="saleStore" name="sale_store" required>
													<option value="flagship" selected>ATL Flagship</option>
													<option value="miami">Miami</option>
													<option value="online">Online</option>
												</select>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Paid With</label>
										<div data-ps-multiple class="ps --list">
											<div class="ps-btn --list">
												<span class="ps__selected-title">Selected:</span>
												<span data-ps-selected class="ps__selected-list">Empty</span>
											</div>
											<div class="ps-drop">
												<div class="ps-drop__scroller">
													<label>
														<input type="checkbox" name="paid_method" data-name="Zelle" value="paid_zelle">
														<div class="ps-drop-btn">
															<span>Zelle</span>
														</div>
													</label>
													<label>
														<input type="checkbox" name="paid_method" data-name="Bitpay" value="paid_bitpay">
														<div class="ps-drop-btn">
															<span>Bitpay</span>
														</div>
													</label>
													<label>
														<input type="checkbox" name="paid_method" data-name="Crypto" value="paid_crypto">
														<div class="ps-drop-btn">
															<span>Crypto</span>
														</div>
													</label>
													<label>
														<input type="checkbox" name="paid_method" data-name="PayPal" value="paid_paypal">
														<div class="ps-drop-btn">
															<span>PayPal</span>
														</div>
													</label>
													<label>
														<input type="checkbox" name="paid_method" data-name="Check" value="paid_check">
														<div class="ps-drop-btn">
															<span>Check</span>
														</div>
													</label>
													<label>
														<input type="checkbox" name="paid_method" data-name="Other" value="paid_other">
														<div class="ps-drop-btn">
															<span>Other</span>
														</div>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Order Date</label>
										<div class="m-popup__input-wrap">
											<input data-datepicker data-date-today type="text" class="m-popup__input" name="order_date" placeholder="Order Date" required>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Edge Sync</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="edgeSync" name="edge_sync">
													<option value="yes" selected="">Yes</option>
													<option value="no">No</option>
												</select>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Gift Wrap</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="giftWrap" name="gift_wrap">
													<option value="yes">Yes</option>
													<option value="no" selected>No</option>
												</select>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Picked Up Today</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="pickedUpToday" name="picked_up_today">
													<option value="" selected>Select...</option>
													<option value="yes">Yes</option>
													<option value="no">No</option>
												</select>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Paid In Full</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="paidInFull" name="paid_in_full">
													<option value="" selected>Select...</option>
													<option value="yes">Yes</option>
													<option value="no">No</option>
												</select>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="">Tracking</label>
										<input class="m-popup__input" data-customer-input id="orderTracking" type="text" name="tracking" placeholder="Tracking" autocomplete="off">
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="">Today's Payment</label>
										<input class="m-popup__input" data-customer-input id="orderTodayPayment" type="text" name="today_payment" placeholder="Today's Payment" autocomplete="off">
									</div>
									<div data-other-balance class="m-popup__input-row hidden">
										<label class="m-popup__label" for="">Balance</label>
										<input class="m-popup__input" data-customer-input id="orderBalance" type="text" name="balance" placeholder="Today's Payment" autocomplete="off">
									</div>
								</div>
							</div>
						</div>
					</div>
          


					{# --- Buttons #}
					<div class="m-popup__btn-group">
						<div data-prev-step class="m-popup__btn is-dim">Close</div>
						<div data-next-step class="m-popup__btn">Next Step</div>
					</div>

					{# --- Message Error / Success message #}
					<div class="m-popup__msg">Something went wrong...</div>
				</div>

			</div>
		</form>
	</div>
</div>
