<div id="addManulOrderPopup" class="m-popup">
	<div class="m-popup__handler"></div>

	{# Header #}
	<div class="m-popup__title">
		<h3>Manual Order</h3>
		<span>You're adding new order to the page.</span>
	</div>


	{# Progress #}
	<div class="m-popup__progress">
		<h6 class="m-popup__progress-title">Step 1. Item details.</h6>
		<div class="m-popup__progress-bar">
			<span></span>
		</div>
	</div>


	{# Main Content #}
	<div class="m-popup__main">
		<form id="addManulOrderForm" method="post" onsubmit="">
			<div class="m-popup__wrapper">

				<div
					class="m-popup__main">

					{# 1 --- Find item & Selected item #}
					<div data-step id="contentItem" class="m-popup__content">
						<div class="m-popup__input-grid">
							<div id="searchListItems" class="m-popup__input-row">
								<div class="m-popup__input-wrap">
									<input class="m-popup__input --bold" id="itemSearchInput" name="itemSearch" placeholder="Find an item..." type="text" autocomplete="off" required>
								</div>
								<div class="m-popup__search-list"></div>
							</div>
							<div id="selectedItemContainer" class="m-popup__input-row"></div>
						</div>
					</div>

					{# 2 --- Find customer / add customer / selected customer #}
					<div data-step id="contentCustomer" class="m-popup__content --step-2">
						<div class="m-popup__input-grid">
							<div id="selectedCustomerInputs" class="m-popup__input-row">
								<div class="m-popop__manual-options-grid">
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="customerFirstName">First Name</label>
										<input class="m-popup__input" data-customer-input id="customerFirstName" type="text" name="first_name" placeholder="First name" autocomplete="off" required>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="customerLastName">Last Name</label>
										<input class="m-popup__input" data-customer-input id="customerLastName" type="text" name="last_name" placeholder="Last name" autocomplete="off" required>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="customerEmail">Email</label>
										<input class="m-popup__input" data-customer-input id="customerEmail" type="email" name="email" placeholder="Email" autocomplete="off" required>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label" for="customerPhone">Phone</label>
										<input class="m-popup__input" data-customer-input id="customerPhone" type="text" name="phone" placeholder="Phone" autocomplete="off" required>
									</div>
								</div>
							</div>
							<div id="searchListCustomers" class="m-popup__input-row">
								<div class="m-popup__input-wrap">
									<input class="m-popup__input --bold" id="customerSearchInput" name="customerSearch" placeholder="Find a customer..." type="text" autocomplete="off" required>
								</div>
								<div class="m-popup__search-list"></div>
							</div>
						</div>
					</div>

					{# 3 --- Other Details #}
					<div data-step id="contentOther" class="m-popup__content --step-3">
						<div class="m-popup__input-grid">
							<div id="otherDetails" class="m-popup__input-row">
								<div class="m-popop__manual-options-grid --dbl">
									<div class="m-popup__input-row">
										<label class="m-popup__label">Store</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="saleStore" name="sale_store" required>
													<option value="" selected="">Select store...</option>
													<option value="flagship">ATL Flagship</option>
													<option value="miami">Miami</option>
													<option value="online">Online</option>
												</select>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Paid with</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="paidWith" name="paid_with" required>
													<option value="cash" selected>Cash</option>
													<option value="credit">Credit Card</option>
													<option value="debit">Debit Card</option>
													<option value="wire">Wire Transfer</option>
												</select>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Order Date</label>
										<div class="m-popup__input-wrap">
											<input data-datepicker type="text" class="m-popup__input" name="order_date" placeholder="Order Date" required>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Edge Sync</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="edgeSync" name="edge_sync">
													<option value="yes" selected="">Yes</option>
													<option value="no">No</option>
												</select>
											</div>
										</div>
									</div>
									<div class="m-popup__input-row">
										<label class="m-popup__label">Gift Wrap</label>
										<div class="m-popup__input-wrap">
											<div class="am-select-wrap">
												<select class="am-select" id="giftWrap" name="gift_wrap">
													<option value="yes">Yes</option>
													<option value="no" selected>No</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					{# --- Buttons #}
					<div class="m-popup__btn-group">
						<div data-prev-step class="m-popup__btn is-dim">Close</div>
						<div data-next-step class="m-popup__btn">Next Step</div>
					</div>

					{# --- Message Error / Success message #}
					<div class="m-popup__msg">Something went wrong...</div>
				</div>

			</div>
		</form>
	</div>
</div>
