.ui-input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;

  h4 {
    margin-bottom: 6px;
    font-weight: 500;
    position: static;
    font-size: 11px;
    line-height: 16px;
    opacity: 0.6;
  }
}

.ui-input {
  width: 100%;
  border: 1px solid var(--ui-grey);
  border-radius: var(--ui-radius);
  display: flex;
  align-items: center;
  padding: 8px 14px;
  font-weight: 500;
  font-size: 13px;
  transition: var(--ui-transition);
  box-shadow: var(--ui-shadow);
  color: var(--ui-black);
  height: 38px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;

  &:hover {
    border-color: var(--ui-black-light);
  }

  &:focus {
    border-color: var(--ui-black);

    &::placeholder {
      opacity: 0.5;
    }
  }

  &.--select {
    cursor: pointer;
    padding: 8px 28px 8px 14px;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 4.5L6 10 0.5 4.5' stroke='black' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}
