.ui-select {
  position: relative;
  --grey: var(--ui-grey);
  --black-light: var(--ui-black-light);
  --grey-light: var(--ui-grey-30);
  --grey-50: var(--ui-grey-50);
  --grey-dark: var(--ui-grey-dark);
  --dim: var(--ui-dim);
  --shadow: var(--ui-shadow);
  --big-shadow: var(--ui-big-shadow);
  --radius: var(--ui-radius);
  --transition: var(--ui-transition);
  --font-size: 13px;

  &.--active {
    .ui-select__list {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.--selected {
    .ui-select__btn {
      color: var(--black);
      font-style: normal;
      font-weight: 500;
    }
  }

  h4 {
    background-color: #fff;
    margin-bottom: 6px;
    font-weight: 500;
    position: static;
    font-size: 11px;
    line-height: 16px;
    color: var(--dim);
  }

  &__btn {
    border: 1px solid var(--grey);
    cursor: pointer;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    padding: 8px 28px 8px 14px;
    font-style: italic;
    font-weight: 400;
    font-size: var(--font-size);
    transition: var(--transition);
    box-shadow: var(--shadow);
    color: var(--dim);
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 4.5L6 10 0.5 4.5' stroke='black' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      border-color: var(--black-light);
    }

    &:active {
      opacity: 0.75;
    }

    [data-current] {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__drop {
    display: none;
    z-index: 10;
    padding-top: 6px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  &__list {
    border: 1px solid var(--grey);
    transform-origin: 50% 0%;
    transform: scale(0.95);
    opacity: 0;
    background-color: #fff;
    border-radius: var(--radius);
    width: 100%;
    min-height: 42px;
    max-height: 290px;
    transition: all 0.15s ease-in-out;
    overflow: auto;
    box-shadow: var(--big-shadow);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    input[type="text"][data-select-search] {
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 3;
      border-bottom: 1px solid var(--grey);
      height: 38px;
      font-size: calc(var(--font-size) - 1px);
      font-weight: 500 !important;
      width: 100%;
      box-sizing: border-box;
      padding: 0 12px 0 34px;
      background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.5 16C12.6422 16 16 12.6422 16 8.5C16 4.35786 12.6422 1 8.5 1C4.35786 1 1 4.35786 1 8.5C1 12.6422 4.35786 16 8.5 16Z" stroke="%239696a0" stroke-width="2"></path><path d="M18.3335 18.3334L14 13.9999" stroke="%239696a0" stroke-width="2"></path></svg>');
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-position: left 12px center;

      &::placeholder {
        font-weight: 400 !important;
        color: var(--dim);
      }
    }
  }

  &__list-row {
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding: 10px 12px 12px 12px;

    h5 {
      font-size: 11px;
      font-weight: 500;
      opacity: 0.6;
      margin-bottom: 4px;
    }
  }

  label {
    display: block;
    input {
      position: absolute;
      z-index: -10;
      opacity: 0;
      pointer-events: none;

      &:checked + div {
        background-color: var(--grey-50);
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="%23000000" fill="none"><path d="M5 14L8.5 17.5L19 6.5" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>');
        background-position: right 12px center;
        font-weight: 500;
      }
    }

    div {
      cursor: pointer;
      border-radius: var(--radius);
      padding: 10px 10px 10px 10px;
      font-size: var(--font-size);
      line-height: 18px;
      transition: var(--transition);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow: hidden;
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: right -12px center;

      span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 80%;
      }

      &:hover {
        background-color: var(--grey-50);
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}
