<form id="pop_frm_login" class="sign-form needs-validation" action="/json-authenticate">
	<input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
	<div class="sign-form__row">
		<div class="sign-form__item">
			<div class="sign-form__input-wrap">
				<input type="email" id="userEmail" name="email" class="sign-form__input" placeholder="Enter your email" required>
			</div>
			<label for="email">Email Address</label>
		</div>
	</div>
	<div class="sign-form__row">
		<div class="sign-form__item">
			<div class="sign-form__input-wrap">
				<input type="password" id="userPassword" name="password" required placeholder="•••••••••" class="sign-form__input --password">
				<button data-evt="togglePassword" class="sign-modal__toggle-btn">
					{% include "components/svg/pass-toggle-show.svg" %}
					{% include "components/svg/pass-toggle-hide.svg" %}
				</button>
			</div>
			<label for="password">Password</label>
		</div>
	</div>

	<div class="sign-form__row --options">
		<div class="flex_space">
			<label class="custom-checkbox">
				<input id="subscribe" name="remember" type="checkbox" checked="" data-parsley-multiple="remember">
				<span>Keep me signed in</span>
			</label>
			<button data-sign-switch="password">
				<strong>Forgot Password?</strong>
			</button>
		</div>
	</div>
	<div class="sign-form__btn-group">
		<button class="sign-modal__btn js-submit">Sign In</button>
		<button data-sign-switch="phone" class="sign-modal__btn --sub">Sign In with OTP</button>
	</div>

</form>
