<form id="pop_frm_pwd" class="needs-validation" action="/json-send-reset-email" novalidate="">
	<input type="hidden" name="csrf_token">
	<div class="sign-modal__form-row">
		<label for="reset_pwd_email">Email Address</label>
		<input type="email" id="reset_pwd_email" placeholder="Input Email Address" name="reset_pwd_email" autocorrect="off" spellcheck="false" required="">
	</div>
	<div class="sign-modal__form-row">
		<button class="sign-modal__main-btn js-submit">Reset Password</button>
		<button data-sign-switch="login" class="sign-modal__sub-btn">Back To Login</button>
	</div>
</form>
