<form id="pop_frm_signup" class="needs-validation" action="/json-signup" novalidate="" data-gtm-form-interact-id="1">
	<input type="hidden" name="csrf_token" value="41004d147886cf12b2bbd7fdbe9c09d2674daac3afeb9ccbfa9d9ce30d98c8c2">

	<div class="sign-modal__form-row">
		<div class="sign-modal__flex-row">
			<div class="sign-modal__half-col">
				<label>First Name</label>
				<input type="text" id="signupFn" name="first_name" required="" autocorrect="off" spellcheck="false">
			</div>
			<div class="sign-modal__half-col">
				<label>Last Name</label>
				<input type="text" id="signupLn" name="last_name" required="" autocorrect="off" spellcheck="false">
			</div>
		</div>
	</div>

	<div class="sign-modal__form-row">
		<div class="locations__form-field-row">
			<label>Email Address</label>
			<input type="email" id="signupEmailField" name="email" required="" autocorrect="off" spellcheck="false" data-parsley-id="22" class="is-valid" data-gtm-form-interact-field-id="2">
		</div>
	</div>

	<div class="sign-modal__form-row">
		<div class="locations__form-field-row">
			<label>Mobile Phone</label>
			<div class="sign-modal__tel-input-wrap">
				{% include "../general/tel-input.twig" with {
           id: "signup_phone" } %}
			</div>
		</div>
	</div>

	<div class="sign-modal__form-row">
		<div class="sign-modal__flex-row">
			<input type="hidden" name="gender" id="signup_gender" value="Male">
			<div class="sign-modal__gender-select is-active" data-gender="Male">Male</div>
			<div class="sign-modal__gender-select" data-gender="Female">Female</div>
			<div class="sign-modal__gender-select" data-gender="Unisex">Other</div>
		</div>
	</div>

	<div class="sign-modal__form-row">
		<label for="userPassword">Password</label>
		<div class="sign-modal__pass-input-wrap">
			<input type="password" id="userPassword" name="password" autocorrect="off" spellcheck="false" required="" data-parsley-id="26" class="is-valid" data-gtm-form-interact-field-id="3">
			<div data-evt="togglePasswordVisible" class="sign-modal__pass-switch">
				<div class="sign-modal__pass-icon">
					{% include "../svg/open-eye.svg" %}
					{% include "../svg/close-eye.svg" %}
				</div>
			</div>
		</div>
	</div>


	<div class="sign-modal__form-row">
		<div class="sign-modal__form-row form-row_options">
			<label class="sign-modal__checkbox-label">
				<input id="signupSubscribe" name="subscribe" type="checkbox" checked="" data-parsley-multiple="subscribe">
				<span>Sign up for emails to get updates from Icebox on products, offers, and your Member benefits</span>
			</label>
		</div>
	</div>

	<div class="sign-modal__form-row">
		<button class="sign-modal__main-btn js-submit">Create Account</button>
		<button data-sign-switch="login" class="sign-modal__sub-btn">Already have an account? Login</button>
	</div>
</form>
