<div class="sign-modal__form-row">
	<div class="sign-modal__form-pin-wrap">
		<input id="otp_phone" type="hidden">
		<input id="otp_country" type="hidden">
		<input class="signmodal-otp" id="otp_1" type="number" pattern="\d*">
		<input class="signmodal-otp" id="otp_2" type="number" pattern="\d*">
		<input class="signmodal-otp" id="otp_3" type="number" pattern="\d*">
		<input class="signmodal-otp" id="otp_4" type="number" pattern="\d*">
	</div>
</div>
<div class="sign-modal__form-row">
	<button id="btn_confirm_otp" class="sign-modal__main-btn" onclick="confirmLoginOtp();">Continue</button>
	<button id="resend-otp-btn" onclick="resendOtp();" class="sign-modal__sub-btn">Resend Code</button>
</div>
