@use "./mixin.scss" as *;

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: var(--black);
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.1px;
  background-color: var(--white);
  overflow-x: hidden;
}

strong {
  font-weight: 600;
}

label {
  font-size: 14px;
}

svg {
  width: 100%;
  height: 100%;
}

.input-wrap {
  position: relative;
  flex: 1;
}

.input-field {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--grey-200);
  border-radius: 1rem;
  height: 52px;
  margin-bottom: 0;
  padding: 10px 20px;
  font-weight: 500;
  transition: var(--transition);
  vertical-align: middle;
  width: 100%;
  line-height: 1.42857;
  display: block;

  &.is-invalid {
    border-color: var(--red) !important;
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.05) !important;
  }

  &.--otp {
    height: 86px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }

  &::placeholder {
    color: var(--black-400);
    transition: var(--transition);
  }

  &:focus {
    border-color: var(--black);
    opacity: 1;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);

    &::placeholder {
      opacity: 0.4;
    }
  }

  @include minMd {
    &:hover {
      border-color: var(--black);
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.pass-toggle-btn {
  position: absolute;
  inset: 0 0 0 auto;
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  border-radius: 1rem;
  user-select: none;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="%23000000" fill="none"><path d="M21.544 11.045C21.848 11.4713 22 11.6845 22 12C22 12.3155 21.848 12.5287 21.544 12.955C20.1779 14.8706 16.6892 19 12 19C7.31078 19 3.8221 14.8706 2.45604 12.955C2.15201 12.5287 2 12.3155 2 12C2 11.6845 2.15201 11.4713 2.45604 11.045C3.8221 9.12944 7.31078 5 12 5C16.6892 5 20.1779 9.12944 21.544 11.045Z" stroke="currentColor" stroke-width="1.5"></path><path d="M15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12Z" stroke="currentColor" stroke-width="1.5"></path></svg>');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.--active {
    &::before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="%23000000" fill="none"><path d="M22 8C22 8 18 14 12 14C6 14 2 8 2 8" stroke="%23141B34" stroke-width="1.5" stroke-linecap="round" /><path d="M15 13.5L16.5 16" stroke="%23141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M20 11L22 13" stroke="%23141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M2 13L4 11" stroke="%23141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M9 13.5L7.5 16" stroke="%23141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    }
  }
}

.logo-link {
  display: block;
}

.logo {
  width: 120px;
}

.breadcrumbs {
  background-color: var(--white);
  padding: 8px var(--p-default);
  width: 100vw;
  overflow: hidden;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px solid var(--grey);

  & > a,
  span {
    flex: none;
    @include line-clamp(1);

    &.--last {
      font-weight: 600;
    }

    &:not(:last-child) {
      &:after {
        content: "/";
        margin: 0 8px;
      }
    }
  }
}

.carousel-snap {
  border-bottom: 1px solid var(--grey);
  @include scroller-snap-x;

  &.--watch-brands {
    img {
      background-color: var(--accent-2);
    }
  }

  a {
    display: flex;
    border-radius: 50rem;
    border: 1px solid var(--grey-100);
    height: 56px;
    font-weight: 450;
    font-size: 13px;
    flex: none;
    padding: 3px;
    transition: var(--transition);
    @include no-select;

    &:hover {
      border-color: var(--accent-1);
    }

    img {
      height: 100%;
      border-radius: 50%;
      color: var(--white);
      aspect-ratio: 1/1;
      flex: 0;
      object-fit: cover;
    }

    span {
      display: flex !important;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 500;
      font-size: 13px;
      padding: 4px 14px 4px 10px;
      @include line-clamp(1);
    }
  }
}

.social-bar {
  display: flex;
  align-items: center;
  gap: 12px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 1px solid var(--grey-200);
    transition: var(--transition);

    &.--youtube {
      color: var(--red);
      border-color: var(--red) !important;

      &:hover {
        background-color: var(--red);
        color: white;
      }
    }

    &:hover {
      border-color: var(--accent-2);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.btn {
  height: 52px;
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 550;
  flex: 1;
  background-color: var(--grey);
  border: 1px solid var(--grey-100);
  transition: var(--transition);
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--grey-300);
    border-color: var(--grey-300);
  }

  svg {
    width: 18px;
    height: 18px;
  }

  &.--outline {
    background-color: transparent;
    border-color: var(--black);
    color: var(--black);
  }

  &.--red {
    background-color: var(--red);
    border-color: var(--red);
    color: white;
  }

  &.--youtube {
    background-color: var(--youtube);
    border-color: var(--youtube);
    color: white;
  }

  &.--green {
    background-color: var(--green);
    border-color: var(--green);
    color: white;

    &.--outline {
      background-color: transparent;
      color: var(--green);
    }
  }

  &.--black {
    background-color: var(--black);
    border-color: var(--black);
    color: white;

    &:hover {
      background-color: var(--black-800);
      border-color: var(--black-800);
    }
  }
}

.invalid-feedback {
  font-size: 11px;
  font-weight: 600;
  color: var(--red);
}
