<div class="modal-ask --active">
  <div data-sign="close" class="modal-ask__backdrop"></div>
  <div class="modal-ask__box is-active">
    <div class="modal-ask__main">
      <div class="modal-ask__header">
        <div class="modal-ask__title-wrap">
          <h4>Some title</h4>
          <p>
            Some description
          </p>
        </div>
        <div class="modal-ask__close-btn">
          {% include 'icons/cross.svg' %}
        </div>
      </div>
      <div class="modal-ask__content">
        <div class="modal-ask__row"></div>
      </div>
      <div class="modal-ask__footer">
        <button class="--sub">Discard</button>
        <button>Submit</button>
      </div>
    </div>
  </div>
</div>
