<div class="modal-view">
  <div class="modal-view__backdrop"></div>
  <div class="modal-view__container">
    {% include 'ui/modal/modal-view/modal-view-loader.twig' %}
    {% include 'ui/modal/modal-view/modal-view-main.twig' %}
  </div>
</div>
