<div id="modalSearch" class="modal-search">
  <div class="modal-search__backdrop" data-action="modalSearchToggle"></div>
  <div class="modal-search__container">
    {# Search input #}
    {% include 'ui/modal/modal-search/modal-search-input.twig' %}
    {# Search results #}
    {% include 'ui/modal/modal-search/modal-search-results.twig' %}
    {# Skeleton #}
    {% include 'ui/modal/modal-search/modal-search-skeleton.twig' %}
  </div>
</div>
