{% for item in categoryLinks %}
	<a href="{{item.href}}" class="header__sub-link{% if item.extraClass %} {{item.extraClass}}{% endif %}" data-dropdown="{{item.dataDropdown}}">{{item.caption}}</a>
{% endfor %}
