{% for item in categoryLinks %}
	<a href="{{item.href}}" class="header__sub-link{% if item.extraClass %} {{item.extraClass}}{% endif %}" data-dropdown="{{item.dataDropdown}}">{{item.caption}}</a>
{% endfor %}

{% if black_friday == true %}
	<a href="https://www.icebox.com/black-friday" class="header__sub-link is_bfs">
		<span data-text-glitch="BLACK FRIDAY">BLACK FRIDAY</span>
	</a>
{% endif %}
{% if cyber_monday == true %}
	<a href="/cyber-monday" class="header__sub-link is_cm">
		<span data-text-glitch="CYBER MONDAY">CYBER MONDAY</span>
	</a>
{% endif %}
{% if christmas == true %}
	<a href="/christmas" class="header__sub-link is_xmas">
		<div class="xmas-nav-link">
			<img src="./assets/xmas/magic-star.webp" loading="lazy" alt="" class="potemp1">
			<span>CHRISTMAS&nbsp;SALE</span>
		</div>
	</a>
{% endif %}
{% if new_year == true %}
	<a href="/christmas" class="header__sub-link --new-year">
		<div class="xmas-nav-link">
			<span>NEW&nbsp;YEAR&nbsp;SALE</span>
		</div>
	</a>
{% endif %}
{% if vday == true %}
	<a href="/" class="header__sub-link --vday">
		<div>
			<span>VALENTINE'S SALE</span>
		</div>
	</a>
{% endif %}
