<div class="nav-drop">
	<div
		class="nav-drop__container">
		<!-- Fine Jewelry -->
		<div id="dd_categories" class="nav-drop__content">
			<a href="/results/pendants" class="nav-drop-link">Pendants</a>
			<a href="/results/gold-chains" class="nav-drop-link">Gold Chains</a>
			<a href="/results/earrings" class="nav-drop-link">Earrings</a>
			<a href="/results/necklaces" class="nav-drop-link">Necklaces</a>
			<a href="/results/rings" class="nav-drop-link">Rings</a>
			<a href="/results/rings?sub[]=Engagement%20Rings" class="nav-drop-link">Engagement Rings</a>
			<a href="/results/bracelets" class="nav-drop-link">Bracelets</a>
			<a href="/results/bracelets?sub[]=Gold%20Bracelets" class="nav-drop-link">Gold Bracelets</a>
		</div>

		<!-- For Men -->
		<div id="dd_men" class="nav-drop__content">
			<a href="https://www.icebox.com/sale?gender[]=Male%Unisex?sort=Best-Sellers" class="nav-drop-link nav-drop-link_spot">
				Men&#x27;s Collection
			</a>
			<a href="https://www.icebox.com/sale?gender[]=Male%Unisex?pricerange=$0-1500" class="nav-drop-link nav-drop-link_spot">
				Best Under $1500
			</a>
			<a href="https://www.icebox.com/results/pendants?gender[]=Male" class="nav-drop-link">Pendants</a>
			<a href="https://www.icebox.com/results/gold-chains?gender[]=Male" class="nav-drop-link">Gold Chains</a>
			<a href="https://www.icebox.com/results/necklaces?gender[]=Male" class="nav-drop-link">Necklaces</a>
			<a href="https://www.icebox.com/results/earrings?gender[]=Male" class="nav-drop-link">Earrings</a>
			<a href="https://www.icebox.com/results/rings?gender[]=Male" class="nav-drop-link">Rings</a>
			<a href="https://www.icebox.com/results/bracelets?gender[]=Male" class="nav-drop-link">Bracelets</a>
		</div>

		<!-- For Women -->
		<div id="dd_women" class="nav-drop__content">
			<a href="https://www.icebox.com/results/pendants?gender[]=Female?sort=Best-Sellers" class="nav-drop-link nav-drop-link_spot">
				Best Women&#x27;s Pick
			</a>
			<a href="https://www.icebox.com/sale?gender[]=Female%Unisex?pricerange=$0-1500" class="nav-drop-link nav-drop-link_spot">
				Hot Under $1500
			</a>
			<a href="/results/rings?sub[]=Engagement%20Rings" class="nav-drop-link nav-drop-link_spot">
				Engagement &amp; Wedding
			</a>
			<a href="https://www.icebox.com/results/pendants?gender[]=Female" class="nav-drop-link">Pendants</a>
			<a href="https://www.icebox.com/results/gold-chains?gender[]=Female" class="nav-drop-link">Gold Chains</a>
			<a href="https://www.icebox.com/results/necklaces?gender[]=Female" class="nav-drop-link">Necklaces</a>
			<a href="https://www.icebox.com/results/earrings?gender[]=Female" class="nav-drop-link">Earrings</a>
			<a href="https://www.icebox.com/results/rings?gender[]=Female" class="nav-drop-link">Rings</a>
			<a href="https://www.icebox.com/results/bracelets?gender[]=Female" class="nav-drop-link">Bracelets</a>
		</div>

		<!-- Watches -->
		<div id="dd_watches" class="nav-drop__content">
			<a href="/results/watches" class="nav-drop-link nav-drop-link_spot">
				Shop All Watches
			</a>
			<div data-evt="subDrop" class="nav-drop-link nav-drop-link_spot nav-drop_more">
				By Brand
				<div class="nav-drop__sub">
					<div class="nav-drop__sub-wrap">
						<a href="/results/watches?sub[]=Custom Rolex Watches" class="nav-drop-link">Rolex</a>
						<a href="/results/watches?sub[]=Custom Patek Philippe Watches" class="nav-drop-link">Patek Philippe</a>
						<a href="/results/watches?sub[]=Custom Audemars Piguet Watches" class="nav-drop-link">Audemars
																															                  Piguet</a>
						<a href="/results/watches?sub[]=Bustdowns" class="nav-drop-link">Bustdowns</a>
						<a href="/results/watches?sub[]=Custom Hublot Watches" class="nav-drop-link">Hublot</a>
						<a href="/results/watches?sub[]=Custom Cartier Watches" class="nav-drop-link">Cartier</a>
						<a href="/results/watches?sub[]=Plain Watches" class="nav-drop-link">Plain Watches</a>
					</div>
				</div>
			</div>
			<a href="https://www.icebox.com/results/watches?sort=Best-Sellers" class="nav-drop-link nav-drop-link_spot">
				Best Sellers
			</a>
			<a href="https://www.icebox.com/results/watches?gender[]=Male" class="nav-drop-link">For Men</a>
			<a href="https://www.icebox.com/results/watches?gender[]=Female" class="nav-drop-link">For Women</a>
			<a href="https://www.icebox.com/results/watches?gender[]=Unisex" class="nav-drop-link">Unisex Watches</a>
			<div data-evt="openQuizModal" class="nav-drop-link nav-drop-link_wizard">Watch Wizard</div>
		</div>

		<!-- Accessories -->
		<div id="dd_accessories" class="nav-drop__content">
			<a href="/results/accessories" class="nav-drop-link nav-drop-link_spot">
				Shop All Accessories
			</a>
			<a href="https://www.icebox.com/results/accessories?pricerange=$0-1500" class="nav-drop-link nav-drop-link_spot">
				Under $1500
			</a>
			<a href="/results/accessories?sub[]=Items" class="nav-drop-link">Diamond &amp; Jewelry</a>
			<a href="/results/accessories?sub[]=Leather Goods" class="nav-drop-link">Leather Goods</a>
			<a href="/results/accessories?sub[]=Phone Cases" class="nav-drop-link">Phone Cases</a>
			<a href="/results/accessories?sub[]=Glasses" class="nav-drop-link">Glasses</a>
			<a href="/results/accessories?sub[]=Watch Bezels" class="nav-drop-link">Watches Bezels</a>
			<a href="/results/accessories?sub[]=Earring Backs" class="nav-drop-link">Earring Backs</a>
		</div>

		<!-- Travel Cases -->
		<div id="dd_cases" class="nav-drop__content">
			<a href="/results/travel-cases" class="nav-drop-link nav-drop-link_spot">
				Shop All Cases
			</a>
			<a href="https://www.icebox.com/results/travel-cases?pricerange=$0-1500" class="nav-drop-link nav-drop-link_spot">
				Under $1500
			</a>
			<a href="/results/travel-cases?sub[]=Jewelry" class="nav-drop-link">Jewelry</a>
			<a href="/results/travel-cases?sub[]=Watches" class="nav-drop-link">Watches</a>
			<a href="/results/travel-cases?sub[]=Travel" class="nav-drop-link">Travel</a>
			<a href="/results/travel-cases?sub[]=Sunglasses" class="nav-drop-link">Sunglasses</a>
			<a href="/results/travel-cases?sub[]=Trays" class="nav-drop-link">Trays</a>
		</div>

		<!-- Custom -->
		<div id="dd_custom" class="nav-drop__content">
			<a href="/custom-design" class="nav-drop-link">Pendants</a>
			<a href="/custom-design/rings-men" class="nav-drop-link">Men Rings</a>
			<a href="/custom-design/rings-women" class="nav-drop-link">Women Rings</a>
			<a href="#" class="nav-drop-link">By The Letter</a>
		</div>

	</div>
</div>
