<a href="https://www.icebox.com" class="header-logo">
	<img src="{% if christmas == true %}assets/logo-xmas.webp{% else %}assets/logo.svg{% endif %}" loading="eager" alt="Icebox Logotype">
</a>

<div class="header-nav__group">
	<a href="javascript:void(0);" data-evt="toggleSearch">
		<div>
			{% include "../svg/search.svg" %}
		</div>
	</a>
	<a href="https://www.icebox.com/locations" data-evt="locations">
		<div>
			{% include "../svg/location.svg" %}
			<span>Our Locations</span>
		</div>
	</a>
	<a href="javascript:void(0);" data-evt="toggleMenu">
		<div>
			{% include "../svg/menu.svg" %}
		</div>
	</a>
</div>

<div class="header-nav__group">
	<div data-evt="toggleAccountDropdown" data-sign-switch="login" class="js-login-dropdown js-toggle-sign">
		<div>
			{% include "../svg/account.svg" %}
			<!-- <span>My Account</span> -->
		</div>
		{% include "./login-dropdown.twig" %}
	</div>
	<a href="/wishlist" data-evt="toggleWishlist">
		<div>
			{% include "../svg/wishlist.svg" %}
		</div>
	</a>
	<a href="javascript:void(0);" data-evt="toggleCart">
		<div>
			{% include "../svg/cart.svg" %}
			<span class="cart-count">3</span>
		</div>
	</a>
</div>
