    <div class="login-dropdown">
			<nav class="header__login-nav">
				<a href="https://www.icebox.com/account" class="login-nav__link">
					<div class="login-nav__svg">
						<svg width="100%" height="100%" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.68361 9.043C10.663 9.043 12.2676 7.43839 12.2676 5.459C12.2676 3.47961 10.663 1.875 8.68361 1.875C6.70422 1.875 5.09961 3.47961 5.09961 5.459C5.09961 7.43839 6.70422 9.043 8.68361 9.043Z" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M3.00001 14.0262C2.99901 13.7742 3.05501 13.5262 3.16501 13.2982C3.50801 12.6122 4.47601 12.2482 5.27901 12.0832C5.85901 11.9602 6.44601 11.8772 7.03701 11.8362C8.13091 11.7401 9.23112 11.7401 10.325 11.8362C10.915 11.8772 11.503 11.9602 12.082 12.0832C12.886 12.2482 13.854 12.5782 14.197 13.2982C14.417 13.7612 14.417 14.2982 14.197 14.7612C13.854 15.4812 12.886 15.8112 12.082 15.9692C11.504 16.0982 10.916 16.1832 10.325 16.2232C9.43501 16.2982 8.54001 16.3132 7.64801 16.2642C7.44201 16.2642 7.24301 16.2642 7.03701 16.2232C6.44805 16.1834 5.863 16.0985 5.28701 15.9692C4.47601 15.8112 3.51501 15.4812 3.16501 14.7612C3.05606 14.5315 2.99969 14.2804 3.00001 14.0262V14.0262Z" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<span class="login-nav__span">My Account</span>
				</a>
				<a href="https://www.icebox.com/account/orders" class="login-nav__link">
					<div class="login-nav__svg">
						<svg width="100%" height="100%" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M5.56769 14.865C5.72005 14.8651 5.86613 14.9258 5.97377 15.0336C6.08142 15.1414 6.14182 15.2876 6.14169 15.44C6.14155 15.5924 6.0809 15.7384 5.97307 15.8461C5.86523 15.9537 5.71905 16.0141 5.56669 16.014C5.41432 16.014 5.26819 15.9535 5.16045 15.8457C5.05272 15.738 4.99219 15.5919 4.99219 15.4395C4.99219 15.2871 5.05272 15.141 5.16045 15.0333C5.26819 14.9255 5.41432 14.865 5.56669 14.865H5.56769ZM14.0067 14.865C14.1591 14.865 14.3052 14.9255 14.4129 15.0333C14.5207 15.141 14.5812 15.2871 14.5812 15.4395C14.5812 15.5919 14.5207 15.738 14.4129 15.8457C14.3052 15.9535 14.1591 16.014 14.0067 16.014C13.8543 16.014 13.7082 15.9535 13.6005 15.8457C13.4927 15.738 13.4322 15.5919 13.4322 15.4395C13.4322 15.2871 13.4927 15.141 13.6005 15.0333C13.7082 14.9255 13.8543 14.865 14.0067 14.865V14.865Z" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M10.5935 8.09599H12.6735M2.0625 2.43799L3.6225 2.70799L4.3445 11.312C4.4025 12.014 4.9885 12.552 5.6925 12.552H13.8765C14.5475 12.552 15.1175 12.059 15.2145 11.392L15.9265 6.47399C15.9473 6.33122 15.9371 6.18565 15.8967 6.04716C15.8562 5.90867 15.7864 5.78052 15.692 5.67141C15.5976 5.56231 15.4808 5.4748 15.3496 5.41485C15.2184 5.35491 15.0758 5.32391 14.9315 5.32399H3.8725L2.0625 2.43799Z" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<span class="login-nav__span">My Orders</span>
				</a>
				<a href="https://www.icebox.com/account/wishlist" class="login-nav__link">
					<div class="login-nav__svg">
						<svg width="100%" height="100%" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M9.53657 2.58019L11.2736 6.07519C11.3606 6.25119 11.5286 6.37519 11.7236 6.40319L15.6116 6.96419C15.7696 6.98519 15.9116 7.06819 16.0076 7.19419C16.0953 7.30791 16.1374 7.45024 16.1258 7.59337C16.1141 7.73651 16.0495 7.87015 15.9446 7.96819L13.1256 10.6932C13.055 10.7593 13.0024 10.8422 12.9727 10.9342C12.9429 11.0262 12.9371 11.1243 12.9556 11.2192L13.6316 15.0652C13.6546 15.2189 13.6161 15.3755 13.5243 15.5009C13.4326 15.6264 13.295 15.7106 13.1416 15.7352C13.0098 15.7552 12.875 15.7343 12.7556 15.6752L9.29057 13.8572C9.20525 13.8108 9.10968 13.7865 9.01257 13.7865C8.91546 13.7865 8.81989 13.8108 8.73457 13.8572L5.24457 15.6832C5.10403 15.7539 4.94161 15.7676 4.79124 15.7213C4.64086 15.6751 4.51415 15.5726 4.43757 15.4352C4.37728 15.3201 4.35622 15.1884 4.37757 15.0602L5.05157 11.2142C5.06808 11.1195 5.06123 11.0221 5.03161 10.9306C5.00198 10.8391 4.95048 10.7563 4.88157 10.6892L2.05057 7.96619C1.93978 7.85582 1.87733 7.70599 1.87695 7.5496C1.87658 7.39322 1.93831 7.24308 2.04857 7.13219L2.05057 7.12919C2.14586 7.04253 2.26374 6.98463 2.39057 6.96219L6.27757 6.40019C6.37325 6.38524 6.46399 6.34768 6.54225 6.29063C6.62052 6.23359 6.68405 6.1587 6.72757 6.07219L8.46357 2.58019C8.53458 2.43875 8.65876 2.33122 8.8089 2.28118C8.95904 2.23113 9.1229 2.24264 9.26457 2.31319C9.38122 2.37114 9.47647 2.46463 9.53657 2.58019V2.58019Z" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<span class="login-nav__span">Wishlist</span>
				</a>
				<a href="https://www.icebox.com/track-order" class="login-nav__link">
					<div class="login-nav__svg">
						<svg width="100%" height="100%" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 5.57071C2 5.18817 2 4.9969 2.05461 4.81653C2.10922 4.63617 2.21531 4.47703 2.42751 4.15874L3.11101 3.13349C3.48092 2.57863 3.66587 2.30119 3.94727 2.1506C4.22865 2 4.56209 2 5.22895 2H12.771C13.4379 2 13.7713 2 14.0527 2.1506C14.3341 2.30119 14.5191 2.57863 14.889 3.13349L15.5725 4.15874C15.7847 4.47703 15.8908 4.63617 15.9454 4.81653C16 4.9969 16 5.18817 16 5.5707V13.4545C16 14.6545 16 15.2544 15.6272 15.6272C15.2544 16 14.6545 16 13.4545 16H4.54545C3.34551 16 2.74554 16 2.37278 15.6272C2 15.2544 2 14.6545 2 13.4545V5.57071Z" stroke="#0095c6"></path>
							<path d="M2 6.6665H16" stroke="#0095c6" stroke-linecap="round"></path>
							<path d="M6.66602 6.76196C6.66602 6.70924 6.70875 6.6665 6.76147 6.6665H11.2372C11.2899 6.6665 11.3327 6.70924 11.3327 6.76196V10.8274C11.3327 11.05 11.0899 11.1875 10.899 11.073L9.08118 9.98231C9.03085 9.95202 8.96791 9.95202 8.91751 9.98231L7.09972 11.073C6.90885 11.1875 6.66602 11.05 6.66602 10.8274V6.76196Z" stroke="#0095c6"></path>
						</svg>
					</div>
					<span class="login-nav__span">Track Order</span>
				</a>
				<a href="https://www.icebox.com/admin/dashboard" class="login-nav__link">
					<div class="login-nav__svg">
						<svg width="100%" height="100%" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.43359 11.086L7.67759 8.16797L10.2386 10.18L12.4356 7.34497" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M14.9967 4.59201C15.7931 4.59201 16.4387 3.9464 16.4387 3.15001C16.4387 2.35361 15.7931 1.70801 14.9967 1.70801C14.2003 1.70801 13.5547 2.35361 13.5547 3.15001C13.5547 3.9464 14.2003 4.59201 14.9967 4.59201Z" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M11.192 2.33997H5.74203C3.48203 2.33997 2.08203 3.93997 2.08203 6.19797V12.26C2.08203 14.519 3.45503 16.111 5.74203 16.111H12.195C14.453 16.111 15.854 14.519 15.854 12.26V6.97997" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<span class="login-nav__span">Dashboard</span>
				</a>
				<a href="https://www.icebox.com/logout" class="login-nav__link">
					<div class="login-nav__svg">
						<svg width="100%" height="100%" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.0913 11.5769V2.54688M11.2783 9.38087L9.0913 11.5769L6.9043 9.38087" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M12.5663 6.09619H13.2663C13.6293 6.09606 13.9888 6.16746 14.3242 6.30632C14.6596 6.44518 14.9643 6.64877 15.221 6.90546C15.4777 7.16214 15.6813 7.4669 15.8202 7.8023C15.959 8.1377 16.0304 8.49718 16.0303 8.86019V12.5232C16.0303 12.8851 15.959 13.2435 15.8205 13.5779C15.682 13.9122 15.479 14.2161 15.2231 14.472C14.9672 14.7279 14.6633 14.9309 14.329 15.0694C13.9946 15.2079 13.6362 15.2792 13.2743 15.2792H4.9183C4.18524 15.2792 3.4822 14.988 2.96385 14.4696C2.4455 13.9513 2.1543 13.2482 2.1543 12.5152V8.85219C2.1543 8.12126 2.44466 7.42026 2.96151 6.9034C3.47836 6.38655 4.17936 6.09619 4.9103 6.09619H5.6173" stroke="#0095c6" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<span class="login-nav__span">Logout</span>
				</a>
			</nav>
		</div>