<div class="header-search">
	<div class="header-search__form-wrap">
		<form method="get" action="https://www.icebox.com/search-products">
			<div class="header-search__input-wrap">
				<input autocomplete="off" type="text" name="keyword" class="header-search__input" placeholder="Search on Icebox.com" id="main_search_field">
				<button class="header-search__submit">Search</button>
				<span class="header-search__span-icon">
					<svg viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="10.5" cy="10.5" r="9.75"></circle>
						<path d="M23.5 23.5L17.5 17.5"></path>
					</svg>
				</span>
			</div>
		</form>
	</div>
</div>