<div class="product__sub-row">
	<div class="wrapper">
		<div class="product__sticky-flex">
			<div>
				<h3 class="product__heading">{{product.category.caption}}
					FAQ</h3>
				<p class="product__typo">Find answers to common questions about our
					{{product.category.caption|lower}}, from materials and care tips to sizing and warranty information.
				</p>
				<a href="/faq" class="fancy-btn --blank">
					<span>Go to FAQ page</span>
					{% include "components/svg/arrow.svg" %}
				</a>
				<div class="form-container">
					<h2>Add New Question/Answer For Bracelets</h2>
					<div class="form-group">
						<label for="textarea1">Question</label>
						<textarea id="new_category_faq_question" placeholder="Enter text here..."></textarea>
					</div>
					<div class="form-group">
						<label for="textarea2">Answer</label>
						<textarea id="new_category_faq_answer" placeholder="Enter more text here..." style="height: 16px;"></textarea>
					</div>
					<div class="form-button">
						<button type="button" onclick="addNewCategoryFaq(7);">Add Question/Answer</button>
					</div>
				</div>
			</div>
			<div>
				<div class="toggle-row">
					<div class="toggle-row__head">
						<span>What materials are your products made of?</span>
					</div>
					<div class="toggle-row__body">
						<div class="toggle-row__wrapper">
							<p>Our pieces are crafted from high-quality metals, including 14k gold (available in rose, white, or yellow), as well as other premium metals like platinum and stainless steel.</p>
						</div>
					</div>
				</div>
				<div class="toggle-row">
					<div class="toggle-row__head">
						<span>Are the products safe for sensitive skin?</span>
					</div>
					<div class="toggle-row__body">
						<div class="toggle-row__wrapper">
							<p>Absolutely! Our products are completely hypoallergenic and safe for all skin types.</p>
						</div>
					</div>
				</div>
				<div class="toggle-row">
					<div class="toggle-row__head">
						<span>How can I keep my jewelry in good condition?</span>
					</div>
					<div class="toggle-row__body">
						<div class="toggle-row__wrapper">
							<p>Regular care is essential. We recommend using the special cleaning products available on our site to maintain the shine and durability of your pieces.</p>
						</div>
					</div>
				</div>
				<div class="toggle-row">
					<div class="toggle-row__head">
						<span>Is there a warranty on your products?</span>
					</div>
					<div class="toggle-row__body">
						<div class="toggle-row__wrapper">
							<p>Yes, we offer a one-year limited warranty that covers significant manufacturing defects and normal wear and tear. Please note, customer negligence and damage to diamonds over 0.10ct are not covered. Icebox reserves the right to repair or replace items at its discretion.</p>
						</div>
					</div>
				</div>
				<div class="toggle-row">
					<div class="toggle-row__head">
						<span>How do I repair my jewelry?</span>
					</div>
					<div class="toggle-row__body">
						<div class="toggle-row__wrapper">
							<p>Our repairs are warranted for six months from the repair date. This warranty covers defects in materials or workmanship on the specific repairs we handle. It excludes normal wear and tear, invisible set items, and diamonds over 0.10ct.</p>
						</div>
					</div>
				</div>
				<div class="toggle-row">
					<div class="toggle-row__head">
						<span>Do you offer multiple payment options?</span>
					</div>
					<div class="toggle-row__body">
						<div class="toggle-row__wrapper">
							<p>Definitely! We accept a variety of payment methods including credit and debit cards, PayPal, BitPay, Zelle, and wire transfers. Simply email orders@icebox.com, and our Online Sales Team will assist you with the payment process.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
