<div class="fedex-row">
	<div class="fedex-row__flex">
		<img src="{{ THEME_ASSETS_FOLDER }}fedex_white.svg" alt="">
		<div class="fedex-row__description">
			<h4 class="product__xs-heading">
				Guaranteed, Insured &amp; Fast Shipping.
				<br>
				Every order is fully protected, giving you peace of mind from our door to yours.
			</h4>
		</div>
	</div>
</div>
