<div class="fedex-row">
	<div class="wrapper">
		<div class="fedex-row__flex">
			<div class="fedex-row__description">
				<h4 class="product__xs-heading">Guaranteed, Insured & Fast Shipping.</h4>
        <p class="product__typo">Every order is fully protected, giving you peace of mind from our door to yours.</p>
			</div>
      <img src="{{ THEME_ASSETS_FOLDER }}fedex.svg" alt="">
		</div>
	</div>
</div>
