<div class="apply-section">
	<div>
		<div>
			<div class="apply-section__title-group">
				<h3>Apply For Financing</h3>
				<p>
					Just a few steps and you get personalized rate quotes with no hard credit pull.
					<br>
					<em><strong>Get approved in less than 5 minutes!</strong></em>
				</p>
        <a href="/financing" target="_blank">Get Approved Now!</a>
			</div>
			<img loading="eager" src="{{ THEME_ASSETS_FOLDER }}fin-app.webp" alt="">
		</div>
	</div>
</div>
