<!-- NEW HTML - Floating button -->
<div class="floating-btn-mobile">
	<a href="#" class="buy-btn">
		<span>Add To Cart</span>
		<span class="buy-btn__price">${{product.item.price}}</span>
	</a>
</div>
