<section class="product__sub-row">

	<div
		class="more-row__splide splide">

		{# Title Group #}
		<div class="wrapper">
			<div class="more-row__header">
				<div class="flex-between">
					<h3 class="product__heading">{{ slider.title }}</h3>
				</div>
			</div>
		</div>

		{# Slider #}
		<div class="more-row__cards-wrap">
			<div class="wrapper">
				<div class="splide__track">
					<div class="splide__list">
						{% for item in slider.items %}
							{% include "elements/product-card_slider.twig" with {splideClass: true,productItem:item} %}
						{% endfor %}
					</div>
				</div>
				<div class="home-row__arrows-wrap splide__arrows">
					<button class="home-row__slider-btn splide__arrow--prev">
						{% include "components/svg/slider-prev.svg" %}
					</button>
					<button class="home-row__slider-btn splide__arrow--next">
						{% include "components/svg/slider-next.svg" %}
					</button>
				</div>
			</div>
		</div>
	</div>

</section>
