<div class="option-modal">
	<div class="option-modal__wrapper">
		<div class="option-modal__header">
			<span data-option-modal-name class="option-modal__current">Option Name</span>
		</div>
		<div class="option-modal__content">
    
    </div>
		<div class="option-modal__footer">
			<button data-evt="optionModalClose" class="option-modal__btn">
				<span>Close</span>
			</button>
			<button data-evt="optionModalNext" class="option-modal__btn">
				<span data-option-modal-next>Next</span>
				{% include "components/svg/arrow.svg" %}
			</button>
		</div>
	</div>
</div>
