{% if black_friday and cyber_monday == false and new_year == false and vday == false and product.item.discountRate is defined %}
	<div class="ccb-btn --min --black-friday">Only one at this price!</div>
{% endif %}

{% if cyber_monday and black_friday and product.item.discountRate is defined %}
	<div class="ccb-btn --min --cm">Only one at this price!</div>
{% endif %}

{% if new_year and black_friday and product.item.discountRate is defined %}
	<div class="ccb-btn --new-year">Only one at this price!</div>
{% endif %}

{% if not productItem.is_watch and vday and productItem.discountRate %}
	<div class="vday-subtext">EXCLUSIVE OFFER. ONLY ONE AVAILABLE</div>
{% endif %}
