<div class="product-media{% if splide == true %} splide__slide{% endif %}">
	<div class="product-media__inner-wrap">
		{% if type == 'image' %}
			<img src="{{imgSrc}}" loading="lazy" alt="{{alt}}" class="product-media-img">
		{% endif %}
		{% if type == 'sirv' %}{% endif %}
		{% if type == 'video' %}{% endif %}
	</div>
</div>
