<div class="product__more">
	<div class="wrapper">
		<div class="product__promises">
			<div class="product-promise">
				<div class="product-promise__icon-wrap">
					<svg focusable="false" aria-hidden="true" viewbox="0 0 24 24">
						<path fill-rule="evenodd" d="M21.9 11.248l2.1 2.799h-6.634c.937 5.161-3.044 9.9-8.265 9.9H0l2.451-3.266a8.381 8.381 0 01-1.75-5.13c0-4.704 3.883-8.503 8.598-8.394V7.05c0-3.858 3.14-6.997 7-6.997s7 3.139 7 6.997c0 1.52-.493 2.99-1.4 4.198zm-5.6-9.795c-3.089 0-5.6 2.51-5.6 5.597v.258a8.429 8.429 0 016.283 5.339h4.216l-1.091-1.455.38-.427A5.587 5.587 0 0021.9 7.05a5.605 5.605 0 00-5.6-5.597zM2.8 22.547h6.3c3.86 0 7-3.139 7-6.996 0-3.858-3.14-6.996-7-6.996s-7 3.138-7 6.996c0 1.714.626 3.363 1.764 4.643l.38.428-1.444 1.925zm2.1-9.095h4.2v1.4H4.9v-1.4zm0 2.8h8.4v1.4H4.9v-1.4z"></path>
					</svg>
				</div>
				<h4 class="product-promise__heading">Any Question?<span>Expert guidance is just a click away.</span>
				</h4>
				<a href="#">Ask a Question</a>
			</div>
			<div class="product-promise">
				<div class="product-promise__icon-wrap">
					<svg focusable="false" aria-hidden="true" viewbox="0 0 24 20">
						<path fill-rule="evenodd" d="M14.644.929H.778A.778.778 0 000 1.706v14.359c0 .43.348.777.778.777h1.968a3.012 3.012 0 002.904 2.23 3.012 3.012 0 002.905-2.23h7.616a3.012 3.012 0 002.905 2.23c1.389 0 2.56-.947 2.904-2.23h1.242c.43 0 .778-.348.778-.777V9.793a.777.777 0 00-.086-.356l-2.177-4.225a.778.778 0 00-.692-.421h-5.624V1.706a.777.777 0 00-.777-.777zm.777 5.417h5.15l1.39 2.695h-6.54V6.346zm7.024 8.941v-4.69H15.42v4.69h.75a3.012 3.012 0 012.905-2.229c1.389 0 2.56.947 2.904 2.23h.465zm-8.579 0H8.555a3.012 3.012 0 00-2.905-2.229c-1.39 0-2.561.947-2.905 2.23h-1.19V2.483h12.311v12.803zm5.21 2.23c.8 0 1.451-.652 1.451-1.452 0-.8-.651-1.452-1.451-1.452s-1.452.652-1.452 1.452c0 .8.651 1.451 1.452 1.451zm-13.426 0c.8 0 1.451-.652 1.451-1.452 0-.8-.65-1.452-1.451-1.452-.8 0-1.452.652-1.452 1.452 0 .8.652 1.451 1.452 1.451zm4.771-11.908a.777.777 0 111.033 1.162l-4.406 3.914a.774.774 0 01-1.07-.035L3.931 8.576a.778.778 0 011.106-1.092l1.53 1.548L10.42 5.61z"></path>
					</svg>
				</div>
				<h4 class="product-promise__heading">Real Fast Shipping<span>Shop with confidence, all orders ship insured.</span>
				</h4>
			</div>
			<div class="product-promise">
				<div class="product-promise__icon-wrap">
					<svg focusable="false" aria-hidden="true" viewbox="0 0 24 22">
						<path fill-rule="evenodd" d="M23.922 7.099a.546.546 0 01.078.29 3.452 3.452 0 01-2.07 3.157c.005.02.005.04.005.064v10.279a.59.59 0 01-.588.588H2.649a.59.59 0 01-.59-.588V10.537A3.443 3.443 0 010 7.388c0-.103.03-.2.078-.29L3.644.823c.103-.187.299-.3.51-.3H19.84c.211 0 .407.118.51.3l3.57 6.277zm-4.424-5.395H4.497L1.71 6.614h20.577l-2.79-4.91zM14.854 9.65a2.26 2.26 0 002.227-1.864h-4.453a2.26 2.26 0 002.226 1.864zm-5.703 0a2.26 2.26 0 002.226-1.864H6.92A2.27 2.27 0 009.151 9.65zM5.674 7.785H1.216A2.256 2.256 0 003.443 9.65a2.266 2.266 0 002.23-1.864zM6.503 20.3H9.89v-6.35a.838.838 0 00-.838-.839H7.34a.838.838 0 00-.838.839v6.35zm4.56 0h9.696v-9.474a2.54 2.54 0 00-.101.002 3.438 3.438 0 01-2.955-1.518 3.43 3.43 0 01-5.698 0 3.438 3.438 0 01-5.708 0 3.438 3.438 0 01-2.854 1.52c-.07 0-.138 0-.206-.004v9.48H5.32V13.95c0-1.114.907-2.016 2.015-2.016h1.712c1.113 0 2.015.907 2.015 2.016v6.35zm7.268-12.51a2.26 2.26 0 002.226 1.864c1.114 0 2.04-.81 2.232-1.864H18.33zm-4.541 4.144h3.26a1.62 1.62 0 011.62 1.619v2.5a1.62 1.62 0 01-1.62 1.619h-3.26a1.62 1.62 0 01-1.619-1.619v-2.5a1.62 1.62 0 011.619-1.619zm3.26 4.56c.241 0 .442-.195.442-.44v-2.501a.443.443 0 00-.441-.442H13.79a.443.443 0 00-.442.441v2.502c0 .24.196.44.442.44h3.26z"></path>
					</svg>
				</div>
				<h4 class="product-promise__heading">Exchange Only Policy<span>Exchange only policy, two weeks to exchange.</span>
				</h4>
				<a href="#">Learn More</a>
			</div>
			<div class="product-promise">
				<div class="product-promise__icon-wrap">
					<svg focusable="false" aria-hidden="true" viewbox="0 0 24 24">
						<path fill-rule="evenodd" d="M13.183 12.604a.703.703 0 01-.434-.65v-2.23a2.113 2.113 0 01-1.406-1.99V2.11c0-1.164.946-2.11 2.11-2.11h8.438C23.053 0 24 .946 24 2.11v5.625c0 1.163-.946 2.11-2.11 2.11h-5.334L13.95 12.45a.703.703 0 01-.767.152zm.27-11.198a.704.704 0 00-.704.704v5.625c0 .388.316.703.704.703.388 0 .703.315.703.703v1.115l1.612-1.612a.703.703 0 01.497-.206h5.626a.704.704 0 00.703-.703V2.11a.704.704 0 00-.703-.704h-8.438zM14.123 24a9.144 9.144 0 01-6.475-2.676l-4.972-4.972C-.412 13.264-.884 8.399 1.555 4.784c.337-.5.881-.821 1.492-.88a2.133 2.133 0 011.719.616l2.882 2.882c.823.823.823 2.16 0 2.983l-.994.995a.703.703 0 000 .994l4.972 4.972c.274.274.72.274.994 0l.995-.994a2.112 2.112 0 012.983 0l2.882 2.882c.453.453.677 1.08.616 1.718a2.025 2.025 0 01-.88 1.493A9.093 9.093 0 0114.122 24zM3.182 5.304a.62.62 0 00-.462.266 7.743 7.743 0 00.95 9.787l4.971 4.973a7.743 7.743 0 009.788.95.62.62 0 00.266-.463.731.731 0 00-.21-.588l-2.883-2.883a.704.704 0 00-.994 0l-.994.995a2.112 2.112 0 01-2.984 0L5.66 13.369a2.108 2.108 0 010-2.984l.995-.994a.704.704 0 000-.995L3.77 5.514a.73.73 0 00-.589-.21zm12.379-.382a.703.703 0 11-1.406 0 .703.703 0 011.406 0zm2.11.703a.703.703 0 100-1.406.703.703 0 000 1.406zm3.515-.703a.703.703 0 11-1.406 0 .703.703 0 011.406 0z"></path>
					</svg>
				</div>
				<h4 class="product-promise__heading">Call Us Now<span>Have a question? We will answer now!</span>
				</h4>
				<a href="#">404-842-0266</a>
			</div>
		</div>
	</div>
</div>
