<div class="product__more">
	<div class="wrapper">
		<div class="product__promises">

			<div class="product-promise">
				<div>
					<div class="product-promise__icon-wrap">
						{% include "components/svg/double_wallet.svg" %}
					</div>
					<h4 class="product-promise__heading">Apply For Financing<span>Get approved in less than 5 minutes!</span>
					</h4>
				</div>
				<a class="--blue" href="/financing" target="_blank">Learn More</a>
			</div>

			<div class="product-promise">
				<div>
					<div class="product-promise__icon-wrap">
						{% include "components/svg/double_chat.svg" %}
					</div>
					<h4 class="product-promise__heading">Click here to chat now!<span>Expert guidance is just a click away.</span>
					</h4>
				</div>
				<a class="--blue" href="/chat-whatsapp">Chat Now</a>
			</div>

			<div class="product-promise">
				<div>
					<div class="product-promise__icon-wrap">
						{% include "components/svg/double_call.svg" %}
					</div>
					<h4 class="product-promise__heading">Call Us Now<span>Have a question? We will answer now!</span>
					</h4>
				</div>
				<a class="--blue" href="tel:+17705585466">770-558-5466</a>
			</div>

		</div>
	</div>
</div>
