<div class="share-row">
	<div class="share-box">
		<button class="share-btn">Share</button>
		<div class="share-drop">
			<div>
				<a href="#" target="_blank" data-share="fb" class="share-drop__btn --icon --fb">Facebook</a>
				<a href="#" target="_blank" data-share="tg" class="share-drop__btn --icon --tg">Telegram</a>
				<a href="#" target="_blank" data-share="wa" class="share-drop__btn --icon --wa">WhatsApp</a>
				<div class="share-drop__btn --copy" data-share="copy">Copy URL</div>
			</div>
		</div>
	</div>
</div>
