<div class="product__sub-row">
	<div class="wrapper">
		<div class="yt-row">
			<div class="yt-row__header">
				<div class="yt-row__logo">
					{% include "components/svg/youtube.svg" %}
				</div>
				<h3 class="yt-row__heading">Related Videos</h3>
			</div>
			<div class="yt-row__box">
				<div class="yt-row__video-grid">

					<div data-url="https://www.youtube.com/embed/aO4PN3Gimxo?si=52v4_GKs6AD8nVWQ" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/aO4PN3Gimxo/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLBmV0uUfOzawT0qjEtGDC-bty1d4w" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/aO4PN3Gimxo/mqdefault_6s.webp?du=3000&sqp=CKLj7bsG&rs=AOn4CLB2Vfey0fdYGYHpvc33igsqHyt7QQ" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">30:49</div>
						</div>
						<h5 class="yt-item__name">Icebox Diamonds & Watches | Best of 2024</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/i5NX08ndseM?si=_dlG9yVoUwtAd8sC" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/i5NX08ndseM/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLD838T9Zfk8-KlusjHJmZBIz8VfRA" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/i5NX08ndseM/mqdefault_6s.webp?du=3000&sqp=CNOL7rsG&rs=AOn4CLD7D9tnBCpuvayEPbj8pzHaDa8Cxw" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">10:18</div>
						</div>
						<h5 class="yt-item__name">STAR BANDZ Runs Into Sugarhill Ddot at Icebox!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/cGlZh4zPINI?si=4msDsGr6sYfz3jpm" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/cGlZh4zPINI/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDwO6h8ul6r4dbY5s69W6tz2OyznA" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/cGlZh4zPINI/mqdefault_6s.webp?du=3000&sqp=CITp7bsG&rs=AOn4CLDd5sih8I_yAqQkH40zR7bqTDxchg" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">8:08</div>
						</div>
						<h5 class="yt-item__name">Peso Pluma Meets Lil Yachty at Icebox!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/Ez-1ItG3RP0?si=4msDsGr6sYfz3jpm" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/Ez-1ItG3RP0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDF06HwFVk8-PGWgiEg5D98bYwimQ" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/Ez-1ItG3RP0/mqdefault_6s.webp?du=3000&sqp=CJf67bsG&rs=AOn4CLB8DIfGd6oeZMpxqjPiLY2lRMMRbQ" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">10:02</div>
						</div>
						<h5 class="yt-item__name">SahBabii Gets a Diamond Nose Ring at Icebox!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/u5ybT4Dvam0?si=hEBz5u-WTpgcT4wG" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/u5ybT4Dvam0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLA6zq8z1WCpQB8Bt2L7qS3PV8pfdA" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/u5ybT4Dvam0/mqdefault_6s.webp?du=3000&sqp=CKn47bsG&rs=AOn4CLCT8FjsPrDFYSnLUDm26Wa7MQoKPw" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">8:01</div>
						</div>
						<h5 class="yt-item__name">Luh Tyler Gets 2 Slippery with New Earrings From Icebox!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/m-HxTkgdVyU?si=RdOR6b4jCmFRWJM5" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/m-HxTkgdVyU/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLAuVCDBwT6zk_0OKRtPS3vQCknyoQ" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/m-HxTkgdVyU/mqdefault_6s.webp?du=3000&sqp=CP3k7bsG&rs=AOn4CLBw7kOzRBsNOb4p2vjRO9ZHbZUS8A" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">13:37</div>
						</div>
						<h5 class="yt-item__name">Dalex Shops at Icebox On The Way To Area 69!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/qDTU_PDZOwQ?si=Hvw8FGeLWI3R75KG" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/qDTU_PDZOwQ/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLAujq7k1_4Bwger4jAqJI7MZXjIJQ" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/qDTU_PDZOwQ/mqdefault_6s.webp?du=3000&sqp=CLj87bsG&rs=AOn4CLCDV83b_1o84hoSlo0srpDnXR7hTA" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">12:52</div>
						</div>
						<h5 class="yt-item__name">Lil Mabu Drops $250K at Icebox & Spills Secrets About College and Rap Life!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/4otSYjrIrZo?si=vGcEfQ39sPqlJvOy" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/4otSYjrIrZo/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLAW8EmogUa6AWRWD93QxypiUWbNlQ" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/4otSYjrIrZo/mqdefault_6s.webp?du=3000&sqp=CPDR7bsG&rs=AOn4CLBHOq3bDU1Irrn0Edmry016Z1cFag" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">9:03</div>
						</div>
						<h5 class="yt-item__name">Asake Gets Active After Dropping Lungu Boy at Icebox!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

				</div>
			</div>
			<div class="yt-row__box">
				<button data-evt="expandYoutubeRow" class="yt-row__btn">Show more videos</button>
			</div>
		</div>
	</div>
</div>
