<div class="product__sub-row">
	<div class="wrapper">
		<div class="yt-row">
			<div class="yt-row__header">
				<div class="yt-row__logo">
					{% include "components/svg/youtube.svg" %}
				</div>
				<h3 class="yt-row__heading">Related Videos</h3>
			</div>
			<div class="yt-row__box">
				<div class="yt-row__video-grid">

					<div data-url="https://www.youtube.com/embed/wkVb7gKleGQ?si=vsmmeUfwtH8uwHA1" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/wkVb7gKleGQ/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLA5YyB8JMD8nfUnVxMIE42Ba7dePA" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/aO4PN3Gimxo/mqdefault_6s.webp?du=3000&sqp=CKLj7bsG&rs=AOn4CLB2Vfey0fdYGYHpvc33igsqHyt7QQ" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">13:30</div>
						</div>
						<h5 class="yt-item__name">Ja Morant Runs Into Gunna at Icebox!!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/7_GB7xn4Gyk?si=UThzJzU0KWzy3SrQ" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/7_GB7xn4Gyk/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCrtcBQFgITMaJ4K-IvGjohA3TLrw" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/i5NX08ndseM/mqdefault_6s.webp?du=3000&sqp=CNOL7rsG&rs=AOn4CLD7D9tnBCpuvayEPbj8pzHaDa8Cxw" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">9:48</div>
						</div>
						<h5 class="yt-item__name">Hunxho Turns Fan Art into a Diamond Pendant!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/SRoNpHHsgM0?si=-2k7i0u5MWrO6TI0" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/Z4vH0yXZjlE/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDoep0HX649bcKfdSliDSKaLnnskw" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/cGlZh4zPINI/mqdefault_6s.webp?du=3000&sqp=CITp7bsG&rs=AOn4CLDd5sih8I_yAqQkH40zR7bqTDxchg" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">8:39</div>
						</div>
						<h5 class="yt-item__name">Tee Grizzley Shows His $185,000 PrizePicks Wallet at Icebox! 🤑</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/pVp9ZPesNeo?si=K9L0xHfaADl0kFE1" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/pVp9ZPesNeo/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDZucvYM8fSi2IdhkuOGjHc8OoLkQ" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/4otSYjrIrZo/mqdefault_6s.webp?du=3000&sqp=CPDR7bsG&rs=AOn4CLBHOq3bDU1Irrn0Edmry016Z1cFag" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">11:06</div>
						</div>
						<h5 class="yt-item__name">Post Malone Buys Rolex For 21 Savage & Autographs A Bugatti!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/1oC5xKEW08o?si=t69DOS9jVbDPNKVN" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/1oC5xKEW08o/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCHx9N7jpzaTuYJNxi1A9fbp30_yA" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/u5ybT4Dvam0/mqdefault_6s.webp?du=3000&sqp=CKn47bsG&rs=AOn4CLCT8FjsPrDFYSnLUDm26Wa7MQoKPw" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">9:42</div>
						</div>
						<h5 class="yt-item__name">Davido Goes Jewelry Shopping at Icebox!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/FjZjQaU76Ag?si=APKVln310-_MRfdc" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/FjZjQaU76Ag/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLB3fAb7eKROAhAeEDwbN7Bu64CajA" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/m-HxTkgdVyU/mqdefault_6s.webp?du=3000&sqp=CP3k7bsG&rs=AOn4CLBw7kOzRBsNOb4p2vjRO9ZHbZUS8A" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">12:47</div>
						</div>
						<h5 class="yt-item__name">Lil Baby Drops ALL His Cash at Icebox Before Moving to the Metaverse!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/lOpQmPbLLWM?si=U8XlPPAJ4zHFViHk" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/lOpQmPbLLWM/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLAUHAB-_3lNwT4Xo1wWFXOkdn-q1Q" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/qDTU_PDZOwQ/mqdefault_6s.webp?du=3000&sqp=CLj87bsG&rs=AOn4CLCDV83b_1o84hoSlo0srpDnXR7hTA" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">10:45</div>
						</div>
						<h5 class="yt-item__name">Young Thug & Lil Baby at Icebox Together for the First Time!!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

					<div data-url="https://www.youtube.com/embed/w7bbp93IMNQ?si=6Hflgy4XHmNZy8op" class="yt-item">
						<div class="yt-item__pic-wrap">
							<img
							loading="lazy" src="https://i.ytimg.com/vi/w7bbp93IMNQ/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLAgzocz2DUSN-SRDHpg1KLUuRKAFw" alt="" class="yt-item__pic">
							{# <img loading="lazy" src="https://i.ytimg.com/an_webp/Ez-1ItG3RP0/mqdefault_6s.webp?du=3000&sqp=CJf67bsG&rs=AOn4CLB8DIfGd6oeZMpxqjPiLY2lRMMRbQ" alt="" class="yt-item__pic"> #}
							<div class="yt-item__duration">8:23</div>
						</div>
						<h5 class="yt-item__name">Jelly Roll Runs Into Key Glock at Icebox!</h5>
						<div class="yt-item__details">
							{% include "components/svg/logo-circle.svg" %}
							Icebox
						</div>
					</div>

				</div>
			</div>
			<div class="yt-row__box">
				<button data-evt="expandYoutubeRow" class="yt-row__btn">Show more videos</button>
			</div>
		</div>
	</div>
</div>
