<div class="bfs-modal">
	<button data-evt="closeBfsModal" class="bfs-modal__close-btn">
		<svg width="16" height="16" viewbox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2 1.5L26 25.5" stroke="currentColor" stroke-width="3"></path>
			<path d="M26 1.5L2 25.5" stroke="currentColor" stroke-width="3"></path>
		</svg>
	</button>
  <div data-evt="closeBfsModal" class="bfs-modal__backdrop"></div>
  
	<div class="bfs-modal__container">
		<div class="bfs-modal__details">
			<h1>Get Early Access To
				<span data-text="BLACK FRIDAY">Black Friday</span>
				Offers
			</h1>
			<p>Sign up for our newsletter and shop our Black Friday offers before evetyone else and receive deals straight to your inbox.</p>
			<form method="get" id="bfsModalForm">
				<input type="email" placeholder="Enter your email address" id="bfsModalEmail" required>
				<div class="bfs-modal__input-controls">
					<input type="submit" value="SIGN UP">
					<button data-evt="closeBfsModal">No, Thanks</button>
				</div>
			</form>
		</div>

		<div class="bfs-modal__media">
			<img src="./assets/bfs/bfs-modal_desktop.webp" loading="lazy" alt="">
			<img src="./assets/bfs/bfs-modal_mobile.webp" loading="lazy" alt="">

			<div data-poster-url="./assets/bfs/bfs-modal_poster.jpg" data-video-urls="./assets/bfs/bfs-modal_poster.jpg,./assets/bfs/bfs-modal_video.mp4,./assets/bfs/bfs-modal_transcode.webm">
				<video id="15e292be-5c2f-969a-3a26-8d6fa2df8349-video" autoplay="true" loop="true" style="background-image:url(./assets/bfs/bfs-modal_poster.jpg)" muted="true" playsinline="" data-object-fit="cover">
					<source src="./assets/bfs/bfs-modal_poster.jpg">
					<source src="./assets/bfs/bfs-modal_video.mp4">
					<source src="./assets/bfs/bfs-modal_transcode.webm">
				</video>
			</div>
		</div>
	</div>
</div>
