<div class="bfs-ticker">
	<div class="bfs-ticker__tape">
		<span>Hundreds of discounted items!</span>
		<div></div>
		<span data-text-glitch="LIMITED TIME">LIMITED TIME!</span>
		<div></div>
		<span>Hundreds of discounted items!</span>
		<div></div>
		<span data-text-glitch="LIMITED TIME">LIMITED TIME!</span>
		<div></div>
	</div>
	<div class="bfs-ticker__tape">
		<span>Hundreds of discounted items!</span>
		<div></div>
		<span data-text-glitch="LIMITED TIME">LIMITED TIME!</span>
		<div></div>
		<span>Hundreds of discounted items!</span>
		<div></div>
		<span data-text-glitch="LIMITED TIME">LIMITED TIME!</span>
		<div></div>
	</div>
	<div class="bfs-ticker__tape">
		<span>Hundreds of discounted items!</span>
		<div></div>
		<span data-text-glitch="LIMITED TIME">LIMITED TIME!</span>
		<div></div>
		<span>Hundreds of discounted items!</span>
		<div></div>
		<span data-text-glitch="LIMITED TIME">LIMITED TIME!</span>
		<div></div>
	</div>
	<div class="bfs-ticker__tape">
		<span>Hundreds of discounted items!</span>
		<div></div>
		<span data-text-glitch="LIMITED TIME">LIMITED TIME!</span>
		<div></div>
		<span>Hundreds of discounted items!</span>
		<div></div>
		<span data-text-glitch="LIMITED TIME">LIMITED TIME!</span>
		<div></div>
	</div>
</div>
