<option value="" disabled selected>Select a model...</option>
<option value="A. Lange &amp; Sohne">A. Lange &amp; Sohne</option>
<option value="Breitling">Breitling</option>
<option value="Breguet">Breguet</option>
<option value="Bvlgari">Bvlgari</option>
<option value="Bell &amp; Ross">Bell &amp; Ross</option>
<option value="Bovet">Bovet</option>
<option value="Audemars Piguet">Audemars Piguet</option>
<option value="Arnold &amp; Son">Arnold &amp; Son</option>
<option value="Cartier">Cartier</option>
<option value="Blancpain">Blancpain</option>
<option value="DeWitt">DeWitt</option>
<option value="Franck Muller">Franck Muller</option>
<option value="Gerald Genta">Gerald Genta</option>
<option value="De Bethune">De Bethune</option>
<option value="Girard Perregaux">Girard Perregaux</option>
<option value="F.P. Journe">F.P. Journe</option>
<option value="Chanel">Chanel</option>
<option value="Chopard">Chopard</option>
<option value="Graff">Graff</option>
<option value="H. Moser">H. Moser</option>
<option value="Hublot">Hublot</option>
<option value="Harry Winston">Harry Winston</option>
<option value="IWC">IWC</option>
<option value="Jaeger-LeCoultre">Jaeger-LeCoultre</option>
<option value="Omega">Omega</option>
<option value="Piaget">Piaget</option>
<option value="Richard Mille">Richard Mille</option>
<option value="Patek Philippe">Patek Philippe</option>
<option value="Officine Panerai">Officine Panerai</option>
<option value="MB&F">MB&amp;F</option>
<option value="Tag Heuer">Tag Heuer</option>
<option value="Urwerk">Urwerk</option>
<option value="Van Cleef &amp; Arpels">Van Cleef &amp; Arpels</option>
<option value="Ulysse Nardin">Ulysse Nardin</option>
<option value="Romain Jerome">Romain Jerome</option>
<option value="Tudor">Tudor</option>
<option value="Zenith">Zenith</option>
<option value="Rolex">Rolex</option>
<option value="Roger Dubuis">Roger Dubuis</option>
<option value="Vacheron Constantin">Vacheron Constantin</option>
