<div class="listing-sticky-toolbar">
  <button>
    {% include 'icons/filter.svg' %}
    <span>Filters</span>
  </button>
  <button>
    {% include 'icons/sort.svg' %}
    <span>Sort</span>
  </button>
</div>
