<div class="listing-sticky-toolbar">
  <button data-action="modalFilterToggle">
    {% include 'icons/filter.svg' %}
    <span>Filters</span>
  </button>
  <button data-action="modalFilterToggle">
    {% include 'icons/sort.svg' %}
    <span>Sort</span>
  </button>
</div>
