<div class="listing-bar">
  <div class="listing-bar__count">
    <span>Found {{ items|length }} results</span>
  </div>
  <div class="flex-center gap-col-24 max-lg-hide">
    <button data-action="modalFilterToggle">
      {% include 'icons/filter.svg' %}
      <span>Filters</span>
    </button>
  </div>
  <div class="flex-center gap-col-24 max-lg-hide">
    <button data-action="modalFilterToggle">
      {% include 'icons/sort.svg' %}
      <span>{{ page_sort_current ?? 'No sorting' }}</span>
    </button>
  </div>
  <div class="flex-center gap-col-8 min-lg-hide">
    <button>{% include 'icons/grid.svg' %}</button>
    <button>{% include 'icons/list.svg' %}</button>
  </div>
</div>
