<tr role="row" class="odd">
	<td data-purchase-cell="full_name">
		<div class="tbl_name">Omnifarious Services USA LLC</div>
		<span class="icon_row --phone">
			<a href="tel:307-939-2794">307-939-2794</a>
		</span>
		<span class="icon_row --email">
			<a href="mailto:shipping@hypedrop.com">shipping@hypedrop.com</a>
		</span>
		<span class="icon_row --instagram">
			<a href="https://www.instagram.com/Jared Levinson - Chadwin (SAKS Purchase)">Jared Levinson - Chadwin (SAKS Purchase)</a>
		</span>
		<span class="tbl-label">Google</span>
		<span class="tbl-label">Email Verified</span>
	</td>
	<td data-purchase-cell="spends">
		<span class="tbl_spent">$ 870,634.00</span>
	</td>
	<td data-purchase-cell="purchasing">
		<span class="dbl_row">
			<span>Total purchases:</span>
			<span>139</span>
		</span>
		<span class="dbl_row">
			<span>Last purchase:</span>
			<span>12/09/2023</span>
		</span>
	</td>
	<td data-purchase-cell="activity">
		<span class="dbl_row">
			<span>Reg. date:</span>
			<span>07/31/2021</span>
		</span>
		<span class="dbl_row">
			<span>Last login:</span>
			<span>07/25/2023</span>
			<span class="tbl-badge">(311 days ago)</span>
		</span>
	</td>
	<td>155</td>
	<td data-purchase-cell="wishlist">
		<div class="tbl_wishlist">
			<a href="#" target="_blank">
				<img src="https://www.icebox.com/unsafe/50x50/icebox-jewelry.s3.amazonaws.com/products/580fcf10682d22dada9fbded3adbc82f.jpg" alt="">
			</a>
		</div>
	</td>
	<td data-purchase-cell="address">
		<strong>United States</strong>
		<span class="dbl_row">
			<span>Billing:</span>
			<span>No</span>
		</span>
		<span class="dbl_row">
			<span>Shipping:</span>
			<span>Yes</span>
		</span>
	</td>
	<td data-purchase-cell="disputers">
		<a class="xEdit editable editable-click editable-empty" data-name="users/dispute" data-type="text" data-pk="id/53114" data-url="/admin/xedit/save" data-inputclass="input-list-name-edit" data-title="Value">Empty</a>
	</td>
	<td data-purchase-cell="actions">
		<div class="admin-linkbar">
			<a data-fancybox="" data-type="iframe" data-src="/admin/whale-frontend-edit/59164" href="/admin/user/19636" class="admin-link">
				<i class="icon icon-admin-edit"></i>
			</a>
			<a href="/admin/login-as/19636" class="admin-link" title="Flag/Unflag Whale">
				<i class="icon icon-admin-lock"></i>
			</a>
			<a href="/admin/user/ban/19636" class="admin-link" title="Flag/Unflag Whale">
				<i class="icon icon-admin-ban"></i>
			</a>
			<button onclick="deleteConfirm('/admin/users/delete/19636');" class="admin-link --delete">
				<i class="icon icon-admin-delete"></i>
			</button>
		</div>
	</td>
</tr>
