@use "../modules/theme.scss";
@use "../utils/mixin" as *;

.card__over-top {
  z-index: 2;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.card__media {
  aspect-ratio: 1;
  border-radius: 0.8rem;
  padding: 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    opacity: 0.04;
    pointer-events: none;
    background-color: #283a69;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.2s ease;
  }
}

.card__labels {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  display: flex;
}

.card__info-tag {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: #767e85;
  background-color: #f7f7f9;
  border: 1px solid #ecf0f4;
  border-radius: 0.3rem;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 10px;
  font-weight: 800;
  display: flex;

  svg {
    justify-content: center;
    align-items: center;
    width: 11px;
    height: 11px;
    display: flex;
  }
}

.card__price {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.card__label {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  color: #566c86;
  background-color: #e2ecf7f2;
  border-radius: 0.4rem;
  padding: 1px 6px;
  font-size: 10px;
  font-weight: 800;
}

.card__main {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-flow: column;
  justify-content: space-between;
  display: flex;
}

.card_bottom {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.card__content {
  padding-top: 12px;
}

.card__pic {
  object-fit: cover;
  object-position: 50% 50%;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}

.card__sale-price {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  display: flex;

  span {
    &:first-child {
      color: theme.$black-ghost-50;
      font-weight: 800;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: theme.$red;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: left bottom;
        transform: rotate(-20deg);
      }
    }

    &:last-child {
      color: theme.$red;
      border-radius: 0.3rem;
      font-size: 12px;
      font-weight: 800;
    }
  }
}

.card__wrapper {
  flex-flow: column;
  display: flex;
}

.card__info-tags {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  height: 24px;
  margin-top: 8px;
  display: flex;
  position: relative;
  overflow: hidden;

  @include maxWidthXs {
    display: none;
  }
}

.card__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__fav-btn {
  background-color: #fff;
  border-radius: 0.6rem;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" color="currentColor"fill="none"><pathd="M19.4626 3.99415C16.7809 2.34923 14.4404 3.01211 13.0344 4.06801C12.4578 4.50096 12.1696 4.71743 12 4.71743C11.8304 4.71743 11.5422 4.50096 10.9656 4.06801C9.55962 3.01211 7.21909 2.34923 4.53744 3.99415C1.01807 6.15294 0.221721 13.2749 8.33953 19.2834C9.88572 20.4278 10.6588 21 12 21C13.3412 21 14.1143 20.4278 15.6605 19.2834C23.7783 13.2749 22.9819 6.15294 19.4626 3.99415Z"stroke="currentColor" stroke-width="2" stroke-linecap="round"></path></svg>');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.card__top {
  flex-flow: column;
  width: 100%;
  display: flex;
  position: relative;
}

.card__price-row {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: column;
  display: flex;
}

.card__subtitle {
  color: #62707c;
  margin-top: 4px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  max-width: 30vw;
  min-height: 120px;
}

@media screen and (max-width: 991px) {
  .card {
    max-width: none;
  }
}
