<div class="sell-book">
	<form id="bookApptForm" name="bookApptForm" data-name="Book Appt Form" method="post" class="sell-book__form">
		<div class="sell-book__container">

			<div class="sell-book__over">
				<div class="sell-book__loader">
					<svg viewBox="0 0 384 384" xmlns="http://www.w3.org/2000/svg">
						<circle pathLength="360" fill="transparent" stroke-width="32" cx="192" cy="192" r="176">
						</circle>
						<circle pathLength="360" fill="transparent" stroke-width="32" cx="192" cy="192" r="176">
						</circle>
					</svg>
				</div>
				<div class="sell-book__result">
					<span data-sell-book-result>Great! We'll be in touch soon.</span>
					<div data-sell-book="close" class="sell-book__btn">Get Back to Page</div>
				</div>
			</div>

			<div class="sell-book__scroller">

				{# Header #}
				<div class="sell-book__header">
					<h4 class="sell-book__heading">Schedule an Appointment
						<span>Get the quote in 5 minutes!</span>
					</h4>
					<div data-sell-book="close" class="sell-book__close-btn"></div>
				</div>

				{# Content #}
				<div class="sell-book__content">

					<div class="sell-book__box">
						<div class="sell-book-row">
							<div class="sell-book-row__header">
								<h6 class="sell-book__row-title">Your Details</h6>
								<p class="sell-book__row-subtitle">Provide your details for a personalized experience.</p>
							</div>
							<div class="sell-book__input-grid">
								<div class="sell-book__input-wrap">
									<input type="text" class="sell-book__input" placeholder="Name" id="name" required>
								</div>
								<div class="sell-book__input-wrap">
									<input type="text" class="sell-book__input" placeholder="Email Address" id="email" required>
								</div>
								<div class="sell-book__input-wrap">
									<input type="text" class="sell-book__input" data-input="tel" placeholder="Phone Number" id="phone"
										required>
								</div>
								<div class="sell-book__input-wrap">
									<select name="apptType" id="apptType" class="sell-book__input --select">
										<option value="" disabled selected>Appointment Type</option>
										<option value="in-store">In-Store</option>
										<option value="online">Online</option>
									</select>
								</div>
								<div class="sell-book__input-wrap">
									<textarea name="message" id="message" class="sell-book__input --textarea"
										placeholder="Let us know a bit more if you'd like" rows="4"></textarea>
								</div>
							</div>
						</div>
					</div>
					{# {% if sub_info|length > 0 %}
					{% for row in sub_info %}
					<div class="sell-book__box {% if not row.show_default %}--hidden{% endif %}">
						<div class="sell-book-row">
							<div class="sell-book-row__header">
								<h6 class="sell-book__row-title">{{ row.title }}</h6>
								<p class="sell-book__row-subtitle">{{ row.description }}</p>
							</div>
							<div data-sell-book="toggleRow" class="sell__dim-btn">Fill watch details now</div>
						</div>
					</div>
					{% endfor %}
					{% endif %} #}
				</div>

				{# Footer #}
				<div class="sell-book__footer">
					<a href="tel:+14048420266" class="sell-book__tel-link">Call us now: +1 (404) 842-0266</a>
					<button class="sell-book__btn" type="submit">Contact Me!</button>
					<span class="sell-book__disclaimer">I agree to the terms of the
						<a href="https://www.icebox.com/terms-and-conditions">Privacy Policy</a>
						and consent to the processing of personal data on their basis
					</span>
				</div>

			</div>
		</div>

		{# Backdrop #}
		<span data-sell-book="close" class="sell-book__backdrop"></span>
	</form>
</div>