<a target="_blank" href="tel:+14048420266" class="sell__call-btn">
	<div class="sell__call-btn-box">
		<span class="sell__call-btn-icon">
			{% include "components/svg/call.svg" %}
		</span>
		<span class="sell__call-btn-typo">Call Us Now</span>
		<span class="sell__call-btn-blink"></span>
	</div>
</a>