<div class="sell__section --no-border">
	<div class="sell__column-section">

		<div data-ygsap class="col_24 --center mw-760 mx-auto">
			<span class="sell__section-tag">SELL NOW</span>
			<h2>{{ title }}</h2>
			<p>
				{{ description }}
			</p>
			<div class="row_8">
				<button data-sell-appt class="sell-btn --arrow accent-2"><span>Start Now</span></button>
				<button data-sell-contact class="sell-btn stroke-black">Contact Us</button>
			</div>
		</div>

	</div>
</div>