<div id="footer" class="sell-footer">
	<div class="sell-contacts">
		<div class="sell-footer__wrapper">
			<div class="sell-contacts__container">
				<div class="sell-contacts__details">
					<div class="sell-contacts__location">
						<h5 class="sell-contacts__heading">STORE LOCATION</h5>
						<a href="https://maps.app.goo.gl/3255PeachtreeRdNE">
							<div>3255 Peachtree Rd NE</div>
							<div>Suite #2</div>
							<div>Atlanta, GA 30305</div>
						</a>
					</div>
					<div class="sell-contacts__schedule">
						<h5 class="sell-contacts__heading">Schedule</h5>
						<span>Monday - Friday<span>9AM - 7PM EST</span></span>
						<span class="is-red">Weekends<span>Closed</span></span>
					</div>
				</div>
				<img alt="Icebox Atlanta store" src="{{ THEME_ASSETS_FOLDER }}sell/store-pic.webp" loading="lazy">
			</div>
		</div>
	</div>
	<div class="sell-footer-call">
		<div class="sell-contacts__heading">CALL US NOW!</div>
		<a href="tel:+14048420266" class="sell-footer__big-tel">+1 (404) 842-0266</a>
		<button data-sell-appt class="sell-btn --arrow"><span>Start Evaluation</span></button>
	</div>
</div>