<div class="sell__section --history">
	<div class="sell-welcome__media">
		<img src="{{THEME_ASSETS_FOLDER}}sell/{{ src }}" loading="eager" class="sell-welcome__pic" alt="{{ alt }}">
		<span class="sell-welcome__pic-overlay"></span>
	</div>
	<div data-ygsap class="sell__column-section z-10 mw-760 mx-auto">
		<div class="col_24 --center">
			<h3>ICEBOX - Jewelers since 1976 - Family Owned & Operated</h3>
			<p>At Icebox Diamonds & Watches, we have been one of the top luxury buyers in Atlanta for over two decades. We
				have many years of experience in the watch, gold, diamonds, bullion trade and are able to provide you with top
				dollars on the spot.</p>
			<div class="row_8">
				<button data-sell-appt class="sell-btn --arrow"><span>Get a Quote Now</span></button>
			</div>
		</div>
	</div>
</div>