<div class="sell-loader">
	<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
	<div class="sell-loader__logo">
		{% include "components/svg/logo.svg" %}
	</div>
</div>