<div class="sell-menu is-hidden">
	<div class="sell-menu__wrapper">
		<div class="sell-menu__header">
			<div class="sell-menu__header-wrapper">
				<div class="sell-menu__logo">
					{% include "components/svg/logo.svg" %}
				</div>
				<button class="sell-menu__close-btn">CLOSE</button>
			</div>
		</div>
		<div class="sell-menu__row">
			<div class="sell-menu__nav">
				<a href="#how-to-sell" class="sell-menu__link">
					<span class="sell-menu__link-dif">01</span>
					<span class="sell-menu__link-slash"></span>
					<span class="sell-menu__typo">HOW TO SELL</span>
				</a>
				<a href="#why-us" class="sell-menu__link">
					<span class="sell-menu__link-dif">02</span>
					<span class="sell-menu__link-slash"></span>
					<span class="sell-menu__typo">WHY Icebox</span>
				</a>
				<a href="#what-we-buy" class="sell-menu__link">
					<span class="sell-menu__link-dif">03</span>
					<span class="sell-menu__link-slash"></span>
					<span class="sell-menu__typo">WHAT WE BUY</span>
				</a>
				<a href="#faq" class="sell-menu__link">
					<span class="sell-menu__link-dif">04</span>
					<span class="sell-menu__link-slash"></span>
					<span class="sell-menu__typo">FAQ</span>
				</a>
				<a href="#footer" class="sell-menu__link">
					<span class="sell-menu__link-dif">05</span>
					<span class="sell-menu__link-slash"></span>
					<span class="sell-menu__typo">CONTACTS</span>
				</a>
				<div data-sell-appt="" class="sell-menu__link">
					<span class="sell-menu__typo sell-accent">Get Offer</span>
					<span class="sell-menu__link-arrow">
						<svg width="18" height="18" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 12H21" stroke="currentColor" stroke-width="3"></path>
							<path d="M10.8667 1.86667L21 12L10.8667 22.1333" stroke="currentColor" stroke-width="3"></path>
						</svg>
					</span>
				</div>
			</div>
		</div>
		<div class="sell-menu__row">
			<div class="sell-menu__nav">
				<a href="tel:+14048420266" class="sell-menu__sublink">Call Now: +1 (404) 842-0266</a>
				<div data-sell-appt="" class="sell-menu__sublink">Book Appointment</div>
				<a href="https://maps.app.goo.gl/Ukv2BLNMmo1HrDcY6" class="sell-menu__sublink">Google Maps</a>
				<div class="sell-menu__sublink">Mon - Fri <span>9AM - 7PM EST</span></div>
			</div>
		</div>
	</div>
</div>