{% if type == 'watches' %}
<div class="sell-welcome__perks {% if class is defined %} {{ class }}{% endif %}">
	<div class="sell-welcome__perk">
		<h5>1000+ watches</h5>
		<p>We've acquired more than thousand timepieces.</p>
	</div>
	<div class="sell-welcome__perk">
		<h5>20+ years</h5>
		<p>We've mastered horology over 2 decades.</p>
	</div>
	<div class="sell-welcome__perk">
		<h5>Serious Cash</h5>
		<p>Paying serious cash for your unwanted watches.</p>
	</div>
</div>
{% else %}
<div class="sell-welcome__perks {% if class is defined %} {{ class }}{% endif %}">
	<div class="sell-welcome__perk">
		<h5>1000+ deals</h5>
		<p>We have conducted over 1000 transactions leaving clients satisfied.</p>
	</div>
	<div class="sell-welcome__perk">
		<h5>20+ years</h5>
		<p>We've been in the business for over 2 decades.</p>
	</div>
	<div class="sell-welcome__perk">
		<h5>Serious Cash</h5>
		<p>Paying serious cash for your unwanted {{ type }}</p>
	</div>
</div>
{% endif %}