<div class="sell-welcome__text">
	<h1 class="sell__heading">
		{{ heading }}
	</h1>
	<p class="sell__subheading">
		{{ subheading }}
	</p>
	<div class="sell__btn-group">
		<button data-sell-appt="" class="sell-btn --arrow">
			<span>Call Now</span>
		</button>
		<button data-sell-contact class="sell-btn stroke-white">
			<span>Contact Us</span>
		</button>
	</div>
</div>