<div class="sell-welcome__header">
	<div class="sell-welcome__header-wrap">
		<div class="sell-logo">
			{% include "components/svg/logo.svg" %}
		</div>
		{% include "components/sell/header-navigation.twig" %}
	</div>
</div>