.iba-toolbar {
  --toolbar-fontsize: 12px;
  --toolbar-color: #fff;
  --toolbar-height: 16px;
  --toolbar-spacing: 8px;
  --toolbar-button-color: #000;
  --toolbar-radius: 0.3rem;
  background: #2a2f3b;
  border-radius: 8px;
  bottom: 0;
  -webkit-box-shadow: 0 0 1px #1b2733, 0 8px 16px rgba(27, 39, 51, .08);
  box-shadow: 0 0 1px #1b2733, 0 8px 16px rgba(27, 39, 51, .08);
  padding: 8px;
  position: fixed;
  text-align: center;
  white-space: nowrap;
  z-index: 100;
  color: var(--toolbar-color);
  font-size: var(--toolbar-fontsize);
  margin: 0 auto -14px auto;
  max-width: calc(100vw - 24px);
  left: 50%;
  right: unset;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;

  .iba-button--toggle {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      font-weight: 600;

      &:not(:first-child) {
        display: none;
      }
    }
  }

  &.is-minimized {
    padding: 6px;
    left: 24px !important;
    bottom: 24px !important;
    transform: unset;

    #ibaToolbarStock {
      display: none;
    }

    #ibaToolbarLabels {
      display: none;
    }

    .iba-button-icon {
      margin: 0 !important;
      width: auto;
      padding-left: 12px;
      padding-right: 12px;

      &.iba-button--toggle {
        border-radius: 4px;

        span {
          &:first-child {
            display: none;
          }

          &:not(:first-child) {
            display: flex !important;
          }
        }
      }
    }

    .iba-button-icon:not(.iba-button--toggle) {
      display: none;
    }
  }
}

.product__certificate-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all 0ms !important;

  span {
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }
  
  svg {
    width: 14px !important;
    height: 14px !important;
    margin-right: 5px;
  }
}

.product__certificate-link:hover {
  color: #07ace2;
  padding-left: 0px;
  text-decoration: underline !important;
}

.product__certificate-link:hover span {
  color: #07ace2;
  padding-left: 0px;
  text-decoration: underline !important;
}

.iba-button-icon {
  width: 32px;
  height: 100%;
  min-height: 32px;
  position: relative;
  background-color: #4e5461;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;

  svg {
    width: 16px !important;
    height: 16px !important;
  }

  path {
    fill: white !important;
  }
}

.iba-button-icon .svgIcon-root {
  font-size: 1rem
}

.iba-button-icon.active,
.iba-button-icon:hover {
  background-color: #07ace2;
}

.svgIcon-root {
  fill: currentColor;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  font-size: 1.5rem;
  -webkit-transition: fill .2s cubic-bezier(.4, 0, .2, 1) 0s;
  transition: fill .2s cubic-bezier(.4, 0, .2, 1) 0s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.ib-btn-icon .svgIcon-root {
  z-index: 2;
  position: relative
}

.ib-btn-icon--bigger .svgIcon-root {
  font-size: 1.5rem
}

.iba-toolbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: stretch;
  gap: var(--toolbar-spacing);

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.iba-toolbar-col {
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  gap: var(--toolbar-spacing);
  position: relative
}

.iba-toolbar-col:last-child:after {
  content: unset
}

.iba-toolbar-stock {
  position: relative;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.iba-toolbar-stock-col {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.iba-toolbar-stock-col,
.iba-toolbar-stock-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.iba-toolbar-stock-table {
  margin-left: 6px;
}

.iba-toolbar-stock-table-cell {
  width: 22px;
  overflow: hidden;
  flex: none;
  height: var(--toolbar-height);
  line-height: var(--toolbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  background-color: #4e5461;
  padding-top: 1px;
  margin: 0;

  &:first-child {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }

  &:last-child {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}

.iba-toolbar-stock-title {
  width: 30px;
  text-align: right;
  font-size: 11px;
  font-weight: 600;
  line-height: var(--toolbar-height)
}

.--stock-gold {
  background-color: #e6d5ad
}

.--stock-gold,
.--stock-silver {
  color: var(--toolbar-button-color)
}

.--stock-silver {
  background-color: #e3e3e3
}

.--stock-rose {
  background-color: #f6ccbc
}

.--stock-rose,
.iba-toolbar-label {
  color: var(--toolbar-button-color)
}

.iba-toolbar-label {
  position: relative;
  line-height: 22px;
  min-height: 32px;
  height: 100%;
  background-color: #dbebff !important;
  font-size: var(--toolbar-fontsize);
  font-weight: 600;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--toolbar-radius);
  padding: 0 12px;
  cursor: pointer;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}