.cart-modal {
  z-index: 10000;
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  display: none;
  width: 100%;
  --cart-padding: 24px;
  --max-width: 460px;
  --cart-border: #e4e8ee;
  max-width: var(--max-width);

  .product-card__media {
    filter: brightness(100%)
  }

  .stock-dash-box {
    display: none !important;
  }

  .product-card__details {
    padding: 12px;
  }

  @include maxWidthSm {
    max-width: 490px;
  }

  @include maxWidthXs {
    --cart-padding: 24px;
    --max-width: 86vw;
  }

  &.--active {
    .cart-modal__container {
      transform: translate(0%);
    }
  }

  .home-welcome__link {
    color: var(--black);
    border-color: var(--black);
    border-width: 1px;
    min-width: 120px;
    font-weight: 600;
  }

  .product-card__shipping-tag {
    display: none;
  }

  .mybag-summary__payments {
    margin-top: 14px;
    gap: 6px;

    img {
      width: 38px;
      border-radius: 0.25rem;
      flex: none;

      @include maxWidthXs {
        width: 32px;
      }
    }
  }
}

.cart-modal__btn {
  background-color: var(--black);
  border-radius: .4rem;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-weight: 700;
  display: flex;
  transition: all 200ms ease;
  margin-top: 32px;

  &:hover {
    background-color: #3d3d44;
  }
}

.cart-item__main {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.cart-item__details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cart-modal__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

  span {
    color: #868b96;
    font-weight: 400;
  }
}

.cart-modal__close-btn {
  justify-content: center;
  align-items: center;
  padding: 24px;
  display: flex;
  cursor: pointer;

  svg {
    width: 10px;
    height: 10px;

    path {
      stroke-width: 3.5px;
    }
  }
}

.cart-empty-typo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

.cart-item__media {
  width: 86px;
  height: 86px;
  flex: none;
  overflow: hidden;
  border-radius: 0.4rem;
  position: relative;

  &::after {
    content: "";
    opacity: .04;
    pointer-events: none;
    background-color: #283a69;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  @include maxWidthSm {
    width: 76px;
    height: 76px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cart-item {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  border: 1px solid var(--cart-border);
  border-radius: .4rem;
  flex-direction: column;
  padding: 14px;
  display: flex;
}

.cart-item__notice {
  background-color: #f3f4f7;
  border-radius: 0.4rem;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;

  span {
    color: var(--black)
  }
}

.cart-modal__total-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.cart-item-remove {
  width: 22px;
  color: var(--black);
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: -4px;
  padding: 4px;
  display: flex;
  opacity: .5;
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  svg {
    width: 10px;

    path {
      stroke-width: 3.5px;
    }
  }
}

.cart-modal__scrollable {
  flex: 1;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: var(--cart-padding);

  &::-webkit-scrollbar {
    display: none;
  }
}

.cart-item__options-group {
  grid-column-gap: 8px;
  grid-row-gap: 0;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  display: flex;
}

.cart-item__option {
  color: #777d8b;
  font-size: 13px;
  font-weight: 600;

  &>span {
    &:last-child {
      color: var(--black)
    }
  }
}

.cart-item__info-row {
  width: 100%;
  position: relative;
}

.cart-modal__container {
  width: 100%;
  max-width: var(--max-width);
  background-color: white;
  transition: var(--modal-transition);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(100%);
}

.cart-item__title-group {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.cart-modal__backdrop {
  background-color: rgba(10, 12, 19, 0.4);
  transition: var(--modal-transition);
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0;
}

.cart-modal__wrapper {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cart-modal__header {
  background-color: #fff;
  flex: none;
  align-items: center;
  justify-content: space-between;
  padding: 8px var(--cart-padding);
  padding-right: 0px;
  display: flex;

  @include maxWidthXs {
    padding-left: 20px;
    padding-right: 0;
  }
}

.cart-row__wrapper {
  gap: 18px;
  flex-direction: column;
  padding: var(--cart-padding);
  padding-top: 0;
  padding-bottom: 0 !important;
  display: flex;
}

.cart-modal__footer {
  background-color: #fff;
  flex: none;
  align-items: center;
  padding: 10px;
  display: flex;
}

.cart-item__price-row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cart-modal__rows-wrap {
  flex-direction: column;
  display: flex;
}

.cart-item-name {
  cursor: pointer;
  font-weight: 600;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  &:hover {
    opacity: .6;
  }
}

.cart-row {
  min-height: 60px;

  &.--total {
    border-top: 1px solid #eaeff3;

    .cart-row__wrapper {
      padding: 0;
    }
  }

  &.is-empty {
    background-color: transparent;
    border-color: transparent;

    .cart-row__wrapper {
      @include maxWidthSm {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

.cart-item-price {
  color: var(--black);
  font-weight: 600;
  text-align: right;
  line-height: 20px;
  font-size: 15px;
}

.cart-item-price_sale {
  font-weight: 600;
  order: -1;
  color: #868b96;
  font-size: 11px;
  text-decoration: line-through;
  text-align: right;
  line-height: 18px;
}

.cart-modal__empty-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .home-welcome__link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &>span {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    flex-direction: column;
    margin-bottom: 18px;

    span {
      margin-top: 6px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-transform: none;
      letter-spacing: 0;
      display: none;
    }
  }
}

.cart-modal__empty-items {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &>span {
    display: flex;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    flex-direction: column;
  }
}

.cart-modal__empty-grid {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;

  @include maxWidthXs {
    grid-template-columns: 1fr 1fr;
  }
}

.cart-modal__summary {
  border: 0px solid var(--cart-border);
  background-color: #f4f5f7;
  border-radius: .4rem;
  min-height: 42px;
  padding: 20px;
}

.cart-item__category {
  color: #777d8b;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}

.cart-item__footer {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
  display: flex;
}

.cart-item__btn-group {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  display: flex;
}

.cart-item__btn {
  border: 1px solid #a0a7b1;
  color: #868b96;
  cursor: pointer;
  border-radius: .3rem;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 6px;
  transition: all .1s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  background-size: 14px 14px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .5;

  &.--wishlist {
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0114 21.5756L3.04512 12.4811L2.67571 12.1064C1.59668 10.99 0.992952 9.48387 1.00006 7.91446C1.00718 6.34356 1.62569 4.84185 2.71665 3.73528C3.80715 2.62919 5.28114 2.00722 6.81716 2.00006C8.35171 1.99291 9.82985 2.59994 10.9299 3.69379L11.2993 4.06844L12.0104 4.78972L12.7225 4.06945L13.0907 3.69706C14.1922 2.61252 15.667 2.01311 17.1963 2.0238C18.7275 2.03451 20.1959 2.6561 21.2831 3.75872C22.3708 4.8618 22.989 6.35776 22.9999 7.92377C23.0107 9.48753 22.4148 10.9902 21.3453 12.1082L20.9777 12.4811L12.0114 21.5756Z" fill="transparent" stroke="currentColor" stroke-width="2"></path></svg>');

    &.--active {
      background-color: white !important;
      border-color: var(--red);
      opacity: 1 !important;
      background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0114 21.5756L3.04512 12.4811L2.67571 12.1064C1.59668 10.99 0.992952 9.48387 1.00006 7.91446C1.00718 6.34356 1.62569 4.84185 2.71665 3.73528C3.80715 2.62919 5.28114 2.00722 6.81716 2.00006C8.35171 1.99291 9.82985 2.59994 10.9299 3.69379L11.2993 4.06844L12.0104 4.78972L12.7225 4.06945L13.0907 3.69706C14.1922 2.61252 15.667 2.01311 17.1963 2.0238C18.7275 2.03451 20.1959 2.6561 21.2831 3.75872C22.3708 4.8618 22.989 6.35776 22.9999 7.92377C23.0107 9.48753 22.4148 10.9902 21.3453 12.1082L20.9777 12.4811L12.0114 21.5756Z" fill="%23e52d2d" stroke="%23e52d2d" stroke-width="2"></path></svg>');
    }
  }

  &.--remove {
    background-image: url('data:image/svg+xml,<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18.85 9.14001L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79002C6.00002 22 5.91002 20.78 5.80002 19.21L5.15002 9.14001" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10.33 16.5H13.66" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.5 12.5H14.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
  }

  &:hover {
    opacity: 1;
    border-color: var(--cart-border);
    background-color: var(--cart-border);
  }

  &:active {
    opacity: .6;
  }
}

.cart-modal__summary-price {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;

  &>span {
    &:last-child {
      font-weight: 600;
    }
  }
  
  &:not(.--total):not(:last-child) {
    margin-bottom: 14px;
  }

  &.--discount {
    color: #e52d2d;
  }

  &.--total {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #dee1e7;
    margin-bottom: 14px;
    padding-bottom: 14px;
    display: flex;
  }
}