.cart-modal {
  z-index: 10000;
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  display: none;
  width: 100%;
  --cart-padding: 32px;
  --max-width: 590px;
  max-width: var(--max-width);

  .product-card__media {
    filter: brightness(100%)
  }

  .stock-dash-box {
    display: none !important;
  }

  .product-card__details {
    padding: 12px;
  }

  @include maxWidthSm {
    max-width: 490px;
  }

  @include maxWidthXs {
    --cart-padding: 24px;
    --max-width: calc(100% - 32px);
  }

  &.--active {
    .cart-modal__container {
      transform: translate(0%);
    }
  }
}

.cart-modal__btn {
  color: #fff;
  background-color: var(--black);
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  transition: all 250ms ease;
  border-radius: var(--radius);

  &:hover {
    background-color: #28b2e0;
  }
}

.cart-item__main {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: flex;

  @include maxWidthXs {
    align-items: flex-start;
  }
}

.cart-item__details {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;

  @include maxWidthXs {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }
}

.cart-modal__heading {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;

  span {
    letter-spacing: 2px;
  }
}

.cart-modal__close-btn {
  justify-content: center;
  align-items: center;
  padding: 26px 22px;
  display: flex;
  cursor: pointer;

  @include maxWidthXs {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.cart-modal__summary-price {
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
  padding: 12px var(--cart-padding);
  margin-bottom: 0;
  margin-top: 0;
  display: flex;

  span,
  div {
    font-weight: 600;
  }

  &.is-discount {
    color: var(--blue);
  }
}

.cart-empty-typo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

.cart-item__media {
  width: 18%;
  min-width: 80px;
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    padding-top: 100%;
  }

  img {
    z-index: 1;
    mix-blend-mode: multiply;
    position: relative;
  }

  @include maxWidthXs {
    min-width: 110px;
  }
}

.cart-item {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
  position: relative;
}

.cart-item__notice {
  background-color: #f8f9fa;
  border-radius: var(--radius);
  padding: 10px 18px;
  font-size: 11px;
  font-weight: 600;
  color: #171c29b0;
  line-height: 16px;
  text-align: center;

  @include maxWidthXs {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.cart-modal__total-price {
  font-size: 16px;
  font-weight: 600;
}

.cart-item-remove {
  width: 22px;
  color: var(--black);
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 10px;
  margin-right: -4px;
  padding: 4px;
  display: flex;
  opacity: .5;
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  svg {
    width: 10px;

    path {
      stroke-width: 3.5px;
    }
  }
}

.cart-modal__scrollable {
  flex: 1;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: var(--cart-padding);

  &::-webkit-scrollbar {
    display: none;
  }
}

.cart-item__options-group {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: wrap;
  align-items: center;
  margin-top: 4px;
  display: flex;

  span {
    opacity: .6;
    font-size: 11px;
    line-height: 16px;
  }
}

.cart-item__info-row {
  width: 100%;
  position: relative;
}

.cart-modal__container {
  width: 100%;
  max-width: var(--max-width);
  background-color: white;
  transition: var(--modal-transition);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: translate(100%);
}

.cart-item__title-group {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.cart-modal__backdrop {
  background-color: rgba(10, 12, 19, 0.3);
  transition: var(--modal-transition);
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0;
}

.cart-modal__wrapper {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cart-modal__header {
  background-color: #fff;
  border-bottom: 1px solid #eaeff3;
  flex: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  padding-right: 0px;
  display: flex;

  @include maxWidthXs {
    padding-left: 20px;
    padding-right: 0;
  }
}

.cart-row__wrapper {
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  flex-direction: column;
  padding: var(--cart-padding);
  padding-bottom: 0 !important;
  display: flex;
}

.cart-modal__footer {
  background-color: #fff;
  flex: none;
  align-items: center;
  padding: var(--cart-padding);
  display: flex;
}

.cart-item__price-row {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  align-items: center;
  display: flex;
  position: relative;

  &.is-sale span:first-child {
    text-decoration: line-through;
  }
}

.cart-modal__rows-wrap {
  flex-direction: column;
  display: flex;
}

.cart-item-name {
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  &:hover {
    color: #0095c6;
    text-decoration: underline;
  }

  @include maxWidthXs {
    font-size: 12px;
    line-height: 18px;
    -webkit-line-clamp: 2;
  }
}

.cart-row {
  min-height: 60px;

  &.--total {
    border-top: 1px solid #eaeff3;

    .cart-row__wrapper {
      padding: 0;
    }

    .cart-modal__summary-price {
      padding: 12px var(--cart-padding);
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &.is-empty {
    background-color: transparent;
    border-color: transparent;

    .cart-row__wrapper {
      @include maxWidthSm {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

.cart-item-price {
  color: var(--black);
  order: -1;
  font-weight: 600;
}

.cart-item-price_sale {
  color: var(--blue);
  font-weight: 600;
  line-height: 22px;
}

.cart-modal__empty-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .home-welcome__link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &>span {
    display: flex;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 600;
    flex-direction: column;
    margin-bottom: 18px;

    span {
      display: block;
      margin-top: 6px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-transform: none;
      letter-spacing: 0;
    }
  }
}

.cart-modal__empty-items {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &>span {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
  }
}

.cart-modal__empty-grid {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;

  @include maxWidthXs {
    grid-template-columns: 1fr 1fr;
  }
}

.cart-modal__summary-wrap {
  border-top: 1px solid #eaeff3;
  margin-left: calc(0px - var(--cart-padding));
  margin-right: calc(0px - var(--cart-padding));
}