.footer {
  background-color: #f8f9fa;
  padding-top: 46px;
}

.footer__col {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;

  &.--first {
    @include maxWidthXs {
      order: -1;
      padding-bottom: 24px;
    }
  }

  &.--open {
    .footer__links-list {
      display: flex !important;
    }

    .footer__col-head svg {
      transform: rotate(180deg);
    }
  }
}

.footer__disclaimer {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  font-size: 13px;
  font-weight: 600;
}

.footer__main-details {
  flex-flow: column;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 40%;
  padding-right: 24px;
  display: flex;

  .header-logo {
    position: static;
    transform: none;
    margin-bottom: 24px;
  }
}

.footer__links-list {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;

  a {
    padding: 2px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  @include maxWidthXs {
    display: none;
  }
}

.footer__store-pic {
  object-fit: cover;
  border-radius: .4rem;
  min-width: 200px;
  height: 120px;
  display: none;
}

.footer__bottom {
  background-color: #f7f8fa;
  border-top: 1px solid #dde4f1;
  margin-top: -10px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer__contacts {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;

  @include maxWidthXs {
    gap: 8px;

    h5 {
      margin-bottom: 12px;
    }

    .footer__btn {
      margin: 4px 0;
    }
  }
}

.footer__payments {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  img {
    border-radius: .3rem;
    width: 38px;
  }
}

.footer__col-head {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;

  svg {
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    transition: all .2s;
    display: none;
  
    @include maxWidthXs {
      display: flex;
    }
  }
}

.footer__lg-link {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;

  &:hover {
    text-decoration: underline;
  }
}

.footer__lg-link.is-low {
  opacity: .5;
  font-size: 14px;
  line-height: 26px;
}

.footer__flex-row {
  justify-content: space-between;
  display: flex;
}

.footer__sub-typo {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.footer__main {
  padding-bottom: 56px;
  position: relative;
}

.contact__heading {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  // font-family: 'Montserrat', sans-serif;

  span {
    opacity: .6;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    @include maxWidthXs {
      margin-top: 0;
      line-height: 24px;
    }
  }
}

.footer__btn {
  gap: 8px;
  color: #fff;
  cursor: pointer;
  background-color: #25a590;
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  font-weight: 700;
  display: flex;
  transition: all 200ms ease;
  box-shadow: 0 12px 26px #06c08e33;

  &:hover {
    background-color: #2fbfa7;
  }

  img {
    width: 29px;
    height: 20px;
  }

  svg {
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    display: flex;
  }

  &.is-blue {
    background-color: #0eaee2;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 12px 26px #0eaee240;

    &:hover {
      background-color: #23bdf0;
    }
  }
}

.footer__socials {
  gap: 8px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  a {
    justify-content: center;
    align-items: center;
    display: flex;

    &:hover {
      opacity: .5;
    }
  }

  img {
    cursor: pointer;
    width: 26px;
    height: 26px;
    border-radius: 0.2rem;
  }
}

.footer__more-details {
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
}

@media screen and (max-width: 991px) {
  .footer__col {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .footer__store-pic {
    object-fit: cover;
    width: 100%;
    height: 240px;
  }

  .footer__flex-row {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-flow: column;
  }

  .footer__flex-row.is-low {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

@media screen and (max-width: 479px) {
  .footer__col {
    border-top: 1px solid #dde4f1;
    border-bottom: 1px solid #dde4f1;
    margin-bottom: -1px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .footer__main-details {
    padding-right: 0;
  }

  .footer__store-pic {
    height: 140px;
    margin-top: 24px;
    display: block;
  }

  .footer__bottom {
    padding-bottom: 58px;
  }

  .footer__payments {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }

  .footer__col-head {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: space-between;
    align-items: center;
  }

  .footer__flex-row {
    grid-column-gap: 42px;
    grid-row-gap: 42px;
  }

  .footer__sub-typo {
    font-weight: 400;
  }

  .footer__more-details {
    flex-flow: column;
    align-items: stretch;
  }
}