@import './page-banner.scss';

.header {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-nav {
  height: 100%;
  min-height: 40px;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.header-nav__group {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  display: flex;

  &>a,
  &>div {
    gap: 9px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    position: relative;
    cursor: pointer;
    transition: var(--transition-m);

    &[data-evt="toggleMenu"] {
      display: none;
    }

    @include maxWidthMd {
      &[data-evt="toggleMenu"] {
        display: flex;
      }

      &[data-evt="locations"] {
        display: none;
      }
    }

    @include maxWidthSm {
      &[data-evt="toggleAccountDropdown"] {
        display: none;
      }
      span:not(.cart-count) {
        display: none;
      }
    }
  }

  &>a:hover,
  &>div:hover {
    color: #047499;
  }

  a>div,
  div>div:first-child {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    gap: 9px;
  }

  @include maxWidthXs {
    a[data-evt="toggleAccountDropdown"] {
      display: none !important;
    }

    a[data-evt="toggleWishlist"] {
      display: none;
    }

    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  @include maxWidthSm {
    a {
      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}


@include maxWidthXs {
  .js-login-dropdown {
    display: none !important;
  }
}

.header__sub-nav-list {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;

  a {
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding: 6px 14px;
    transition: all .25s cubic-bezier(.39, .575, .565, 1);
    font-size: 13px;

    &.is-active {
      color: #037ea7;
      border-bottom: 2px solid #0095c6;
    }

    &.sub-link_spot {
      font-weight: 600;
    }
  }

  a:hover {
    border-bottom-color: #0095c6;
  }

  a.is-sale {
    color: #0095c6;
    // background-image: linear-gradient(33deg, rgba(0, 149, 198, .06), rgba(0, 149, 198, .03));
    font-weight: 600;
  }
}

.header__sub-nav {
  background-color: #fff;

  @include maxWidthMd {
    display: none;
  }
}

.cart-count {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -6px;
  right: -8px;
  color: #fff;
  background-color: #0095c6;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  font-size: 11px;
  font-weight: 600;
  display: flex;

  @include maxWidthXs {
    width: 14px;
    height: 14px;
    padding-top: 0;
    font-size: 10px;
    font-weight: 700;
  }
}

.header-nav-wrapper {
  background-color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  z-index: 2;
}

.header-logo {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  img {
    width: 138px;
  }

  @include maxWidthXs {
    img {
      width: 130px;
    }
  }
}

.login-dropdown {
  position: absolute;
  top: 38px;
  right: -12px;
  display: none;
  transform: translateY(-12px);
  width: 240px;
  padding-top: 14px;
  -webkit-transition: var(--transition-m);
  transition: var(--transition-m);
}

.header__login-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 38px 108px 0 rgba(37, 53, 63, 0.20);
}

.login-nav__link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 22px;
  z-index: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  // border-top: 1px solid #ececec;
  // border-bottom: 1px solid #ececec;
  margin-bottom: -1px;
  color: var(--black);

  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    left: 0%;
    bottom: 0px;
    opacity: 1;
    background-color: var(--blue-gold);
    transition: var(--transition-m);
    transform-origin: left;
  }

  &:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    right: 0%;
    top: 0px;
    opacity: 1;
    background-color: var(--blue-gold);
    transition: var(--transition-m);
    transform-origin: right;
  }

  &:hover:after {
    width: 100%;
  }

  &:hover:before {
    width: 100%;
  }

  &:hover {
    background-color: rgb(0, 149, 198, 0.025);
    z-index: 2;
  }
}

.login-nav__link svg {
  stroke: #127be3;
}

.login-nav__link svg path {
  stroke: #073f7b !important;
}

.login-nav__svg {
  width: 22px;
  height: 22px;
}

.login-nav__span {
  margin-left: 8px;
  color: var(--black)
}

/* #region  Search */

.header-search {
  position: absolute;
  display: none;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  padding: 18px 40px;
  justify-content: center;
  align-items: center;
  background-color: #edeff1;
  /* box-shadow: 0 6px 15px 0 rgba(23, 28, 41, 0.06); */
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: all 350ms cubic-bezier(.39, .575, .565, 1);
  transition: all 350ms cubic-bezier(.39, .575, .565, 1);
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);

  &.is-visible {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  @include maxWidthMd {
    padding-top: 18px;
    padding-bottom: 18px;

    &.is-hidden {
      z-index: 1;
    }
  }

  @include maxWidthSm {
    padding-right: 28px;
    padding-left: 28px;
  }

  @include maxWidthXs {
    padding-right: 18px;
    padding-left: 18px;
  }

}

.header-search__form-wrap {
  width: 100%;
  max-width: 560px;
  margin-bottom: 0px;
}

.header-search__input-wrap {
  position: relative;
}

.header-search__input {
  width: 100%;
  height: 46px;
  margin-bottom: 0px;
  padding-left: 46px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(9, 149, 198, 0);
  border-radius: 7px;
  font-size: 14px;
  background-color: white;

  &:focus {
    border-color: rgba(9, 149, 198, 0);
  }

  &::-webkit-input-placeholder {
    color: #787a7c;
    font-size: 14px;
  }

  &:-ms-input-placeholder {
    color: #787a7c;
    font-size: 14px;
  }

  &::-ms-input-placeholder {
    color: #787a7c;
    font-size: 14px;
  }

  &::placeholder {
    color: #787a7c;
    font-size: 14px;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #787a7c !important;
  }

  &:focus:-ms-input-placeholder {
    opacity: 1 !important;
    color: #787a7c !important;
  }

  &:focus::-ms-input-placeholder {
    opacity: 1 !important;
    color: #787a7c !important;
  }

  &:focus::placeholder {
    opacity: 1 !important;
    color: #787a7c !important;
  }
}

.header-search__submit {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #eff0f1;
  border-radius: 4px;
  background-color: #eff0f1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 13px;
  font-weight: 600;

  &:hover {
    border-color: #1fa8d8;
    background-color: #1fa8d8;
    color: #fff;
  }
}

.header-search__span-icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  svg {
    width: 17px !important;
  }

  svg * {
    stroke-width: 1.5px !important;
    stroke: #171c29;
  }
}

/* #region  Dropdown */
.nav-drop {
  display: none;
  opacity: 0;
  z-index: 9999;
  padding-top: 10px;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  position: fixed;
  top: 162px;
  bottom: auto;
  left: 100px;
  right: auto;
}

.nav-drop__container {
  z-index: 9999;
  background-color: #fff;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  position: relative;
  box-shadow: 0 38px 96px rgba(80, 82, 87, .35);
}

.nav-drop__sub-wrap {
  background-color: #fff;
  flex-direction: column;
  padding: 6px;
  display: flex;
  box-shadow: 0 18px 48px rgba(80, 82, 87, .3);
}

.nav-drop-link {
  z-index: 2;
  max-width: 270px;
  min-width: 220px;
  cursor: pointer;
  background-color: #fff;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  border: 1px solid #f3f8fa;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
  padding: 12px 14px;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  position: relative;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background-color: #f6f8fa;
    background-position: 95%;
    padding-left: 18px;
    border-color: #f3f8fa;
    color: #171c29;
  }

  &.nav-drop-link_spot {
    background-image: linear-gradient(156deg, rgba(7, 126, 165, .06), rgba(255, 255, 255, 0));
    font-weight: 600;
  }

  &.nav-drop-link_wizard {
    padding-left: 38px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_32_300)"><path d="M0 5H3V6H0V5ZM5 0H6V3H5V0ZM6 11H5V8.5L6 9.5V11ZM11 6H9.5L8.5 5H11V6ZM3.131 7.161L3.838 7.868L0.868 10.838L0.161 10.131L3.131 7.161ZM10.131 0.161L10.838 0.868L7.868 3.838L7.161 3.131L10.131 0.161ZM0.836 0.199L4.301 3.664L3.594 4.371L0.129 0.906L0.836 0.199ZM6.1 4.1L4 6.1L13.8 16L16 13.9L6.1 4.1ZM6.1 5.5L8.5 8L7.9 8.6L5.4 6.1L6.1 5.5Z" fill="currentColor"/></g><defs><clipPath id="clip0_32_300"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
    background-size: 16px 16px;
    background-position: center left 14px;
    background-repeat: no-repeat;
  }

  &.nav-drop_more {
    background-image: linear-gradient(156deg, rgba(7, 126, 165, .06), rgba(255, 255, 255, 0)),
      url('data:image/svg+xml,<svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 5.5H14M14 5.5L9.1 1M14 5.5L9.1 10" stroke="%23171C29" stroke-width="1.5"/></svg>');
    background-position: 0 0, 93%;
    background-repeat: repeat, no-repeat;
    background-size: auto, 15px;
    font-weight: 600;
  }
}

.nav-drop__sub {
  padding-left: 16px;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  transform: none;
}

.nav-drop__content {
  z-index: 2;
  max-height: 80vh;
  background-color: #fff;
  flex-direction: column;
  padding: 6px;
  display: none;
  position: relative;

  &.is-visible {
    display: block;
  }
}

/* #endregion */