.loan-case {
  width: 100%;
  max-width: 620px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 24px rgba(23, 28, 41, .02);

  svg {
    transform-origin: 0px 0px;

    path {
      transform-origin: 0px 0px;
    }
  }

  &.--locked {
    .loan-case-loader {
      opacity: 1;
    }

    button {
      &[data-loan-evt="go"] {
        background-color: #626774;
        cursor: not-allowed;
      }
    }
  }
}

.loan-case__avatar {
  width: 96px;
  height: 96px;
  border: 4px solid #fff;
  border-radius: 500px;
  margin-top: -48px;
  margin-bottom: 12px;
}

.loan-case__input-group {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.loan-bar__progress {
  width: 1%;
  height: 100%;
  background-color: #05a3d8;
  background-image: none;
  border-radius: 500px;
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
  position: relative;
}

.loan-case__btn {
  background-color: #171c29;
  color: white;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  transition: all .2s;
  display: flex;
}

.loan-case__btn:hover {
  background-color: #1aaddd;
}

.loan-case__btn:active {
  background-color: #0f9bc9;
}

.loan-case__btn.is-sub {
  color: #202124;
  background-color: #f5f7f8;
}

.loan-case__btn.is-sub:hover {
  background-color: #e8ebec;
}

.loan-case__btn.is-sub:active {
  background-color: #dce0e2;
}

.loan-case__form {
  width: 100%;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: block;
  position: relative;
  overflow: hidden;

  input,
  select {
    width: 100%;
    padding: 8px 14px;
  }

  select {
    font-weight: 600;
    cursor: pointer;
  }
}

.loan-case__content {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-top: 1px solid #eaf0f3;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.loan-input-btn {
  cursor: pointer;
  font-weight: 600;
  background-color: #f5f7f8;
  border: 1px solid #f5f7f8;
  height: 48px;
  padding: 4px 12px;
  text-align: center;
  flex: 1 auto;
  transition: all 200ms ease;

  &:hover {
    background-color: transparent;
    border-color: var(--blue-gold);
  }
}

.loan-case__input {
  height: 48px;
  color: #202124;
  background-color: #fff;
  border: 1px solid #d3dbe2;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  transition: all .2s;
  display: flex;

  &.--icon {
    padding-left: 60px;
  }

  &.--invalid {
    border-color: #d27033 !important;
    box-shadow: none !important;
  }

  &:disabled {
    background-color: #f5f7f8;
    border-color: #f5f7f8;

    &::placeholder {
      color: #687175;
    }
  }
}

.loan-case__input:not(.--invalid):hover {
  border-color: #1aaddd;
}

.loan-case__input:focus {
  border-color: #1aaddd;
  box-shadow: 0 0 0 2px rgba(26, 173, 221, .09);
}

.loan-case__input::-ms-input-placeholder {
  color: #687175;
}

.loan-case__input::placeholder {
  color: #687175;
}

.loan-bar {
  width: 100%;
  height: 8px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: #ecf0f1;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.loan-case__feature {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: flex;
}

.loan-case__header {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.loan-case__spot {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #0095c6;
  border-radius: 500px;
  margin-top: 16px;
  margin-bottom: 2px;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 700;
}

.loan-case-loader {
  z-index: 2;
  opacity: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
  transition: all .25s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  &>div {
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
  }

  svg {

    path,
    rect {
      fill: #0095c6;
    }
  }
}

.loan-case__bar-wrap {
  padding: 20px 32px;
}

.loan-scroller {
  flex-flow: column;
  display: flex;
}

.loan-case-section {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  text-align: left;
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: stretch;
  padding: 42px 32px;
  display: flex;

  &:not(:first-child) {
    display: none;
  }
}

.loan-case__features {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.loan-case__heading {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 600;
}

.loan-case__select-wrap {
  cursor: pointer;
  font-weight: 600;
  position: relative;

  &::after {
    content: '';
    width: 8px;
    height: 8px;
    pointer-events: none;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: rotate(45deg)translate(0, -50%);
  }
}

.loan-case__input-icon {
  width: 48px;
  height: 48px;
  background-color: rgba(240, 243, 247, .46);
  border-right: 1px solid #d3dbe2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.loan-case-section__title {
  text-transform: capitalize;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: flex;

  span {
    max-width: 420px;
    letter-spacing: 0;
    text-transform: none;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.loan-input-wrap {
  width: 100%;
  position: relative;
}

.loan-case__footer {
  padding-top: 42px;
  border-top: 1px solid #eaf0f3;
  padding-left: 32px;
  padding-right: 32px;
}

.loan-case__btn-group {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

@media screen and (max-width: 479px) {
  .loan-case__content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .loan-case__input {
    border-radius: 0;
  }

  .loan-case__bar-wrap {
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .loan-case-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.loan-radio {
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;


  &>span {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: #f5f7f8;
    border: 1px solid #f5f7f8;
    transition: all 200ms;
    font-weight: 600;

    &:hover {
      border-color: var(--blue-gold);
      background-color: transparent;
    }
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      +span {
        background-color: rgba(17, 178, 231, .07);
        border-color: #0095c6;
      }
    }
  }
}

.loan-file-input {
  width: 100%;
  height: 120px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #0283ad;
  cursor: pointer;
  background-color: rgba(17, 178, 231, .07);
  border: 1px dashed #0095c6;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  transition: all .2s;
  display: flex;
  position: relative;

  &:hover {
    background-color: transparent;
  }

  &.is-active {
    background-color: transparent;
  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,<svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 -1.19209e-07L13 22" stroke="%230095C6" stroke-width="3"/><path d="M2 11L13 22L24 11" stroke="%230095C6" stroke-width="3"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::after {
    content: 'Upload ID & Debit Card';
    font-weight: 600;
    font-size: 13px;
  }

  input {
    opacity: 0;
    height: 0;
    width: 0;
    left: 0;
    top: 0;
    visibility: hidden;
    position: absolute;
  }
}

.loan-input-error {
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 18px;
  margin-top: -18px;
  color: #d27033;
  padding: 6px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loan-input-files {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  img {
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

.loan-case-success {
  font-weight: 600;
  margin: 0 auto;
  font-size: 16px;
  max-width: 300px;
  text-align: center;
  line-height: 26px;
  color: #0095c6
}