.pay-modal {
  z-index: 9999;
  position: fixed;
  display: none;
  opacity: 0;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  transition: all 400ms ease;

  .pay-card__heading {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;

    @include maxWidthXs {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .paylater-box__features {
    width: 100%;
    margin-top: 32px;
  }
}

.pay-modal__container {
  z-index: 2;
  width: 100%;
  max-width: 420px;
  min-height: 120px;
  background-image: linear-gradient(121deg, #ffb3c7, #7777f0 50%, #abe9d6);
  padding: 3px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 16px 38px rgba(72, 74, 247, .07);
  transition: all 400ms ease;

  @include maxWidthXs {
    max-width: calc(100% - 24px);
  }
}

.pay-modal__content-wrap {
  max-height: 78vh;
  background-color: #fff;
  background-image: linear-gradient(149deg, rgba(253, 178, 200, .08), #fff 50%, rgba(170, 229, 215, .1));
  flex-direction: column;
  flex: 1;
  padding: 0;
  display: flex;
  position: relative;
  overflow: auto;
}

.pay-modal__backdrop {
  z-index: 1;
  background-color: rgba(0, 0, 0, .55);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transition: all 400ms ease;
}

.pay-modal__close-btn {
  z-index: 2;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #808aec;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: -14px;
  right: -14px;
  background-image: url('data:image/svg+xml,<svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 1.5L26 25.5" stroke="black" stroke-width="3"/><path d="M26 1.5L2 25.5" stroke="black" stroke-width="3"/></svg>');
  background-size: 14px 14px;
  background-position: center center;
  background-repeat: no-repeat;

  @include maxWidthXs {
    width: 42px;
    height: 42px;
    border-color: #94b7e2;
    top: auto;
    bottom: -20px;
    left: 50%;
    right: auto;
    transform: translate(-50%);
  }
}

.pay-modal__pics {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: space-between;
  padding: 4px;
  display: flex;

  div {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;

    img {
      width: 100%;
      flex: 1;
    }
  }
}

.pay-modal__wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  display: flex;

  @include maxWidthXs {
    padding: 24px;
  }
}

.pay-modal__details {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  margin-top: 18px;
  display: flex;

  @include maxWidthXs {
    margin-top: 12px;
  }

  p {
    font-size: 16px !important;
    line-height: 26px !important;

    @include maxWidthXs {
      font-size: 14px !important;
      font-weight: 600 !important;
      line-height: 22px !important;
    }
  }
}