.product-card {
  box-shadow: none;
  cursor: pointer;
  background-color: #fff;
  // border: 1px solid #e0e4eb;
  flex-direction: column;
  flex: none;
  transition: all .25s;
  display: flex;
  position: relative;

  @media screen and (min-width: 992px) {
    &:hover {
      border-color: #0095c6;
    }
  }
}

.product-card__wrapper {
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

.product-card__sub-detail {
  color: var(--black);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 9px;
  line-height: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;

  &>span {
    &.--blue {
      color: #0095c6 !important;
      order: -1;
    }

    &.--bold {
      font-size: 12px;
      // font-weight: 700;
    }

    &.--red {
      color: #cf0725 !important;
    }
  }

  @include maxWidthSm {
    margin-bottom: 8px;
    font-size: 9px;
    // display: none;
  }
}

.product-card__name {
  line-height: 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  transition: all 0.2s ease;
  font-size: 13px;

  &:hover {
    color: #048cb9;
    text-decoration: underline;
  }

  @include maxWidthXs {
    -webkit-line-clamp: 2 !important;
  }
}

.product-card__img {
  width: 100%;

  &.zoom-0 {
    transform: scale(1.0);
  }

  &.zoom-10 {
    transform: scale(1.1);
  }

  &.zoom-20 {
    transform: scale(1.2);
  }

  &.zoom-30 {
    transform: scale(1.3);
  }

  &.zoom-40 {
    transform: scale(1.4);
  }

  &.zoom-50 {
    transform: scale(1.5);
  }

  &.zoom-60 {
    transform: scale(1.6);
  }

  &.zoom-70 {
    transform: scale(1.7);
  }

  &.zoom-80 {
    transform: scale(1.8);
  }

  &.zoom-90 {
    transform: scale(1.9);
  }

  &.zoom-100 {
    transform: scale(2);
  }
  &.zoom-out-10 {
    transform: scale(0.9) !important;
  }

  &.zoom-out-20 {
    transform: scale(0.8) !important;
  }

  &.zoom-out-30 {
    transform: scale(0.7) !important;
  }

  &.zoom-out-40 {
    transform: scale(0.6) !important;
  }

  &.zoom-out-50 {
    transform: scale(0.5) !important;
  }

  @include maxWidthXs {
    max-height: 140px;
    object-fit: cover;
  }
}

.product-card__shipping-tag {
  z-index: 2;
  color: #0b946f;
  text-transform: uppercase;
  padding: 2px 6px;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
  // background-color: rgba(10, 188, 141, 0.07);
  border: 1px solid #0b946f;
}

.product-card__shipping-tag.is-made-order {
  // background-color: rgba(14, 154, 200, 0.05);
  color: #0489b4;
  border: 1px solid #0489b4;
}

.product-card__media {
  width: 100%;
  // filter: brightness(98.5%);
  aspect-ratio: 1/1.2;
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 18px 0px;
  background-color: white;

  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(310deg, rgba(3, 36, 77, 0.5) 13%, #dbe9f6 56%, rgba(3, 36, 77, 0.5));
    opacity: .06;
    transition: all 200ms ease;
    z-index: 2
  }

  @media screen and (min-width: 991px) {
    &:hover {
      &::after {
        opacity: .1;
      }
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100% !important;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      background-color: white;
    }
  }
}

.product-card__details {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 20px 20px 0px 0px;
  display: flex;

  @include maxWidthXs {
    padding: 16px 12px 0px 12px;
  }
}

.product-card__price-wrap {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  display: flex;

  &.is-sale {
    .product-card__price {
      text-decoration: line-through;
      order: 0;
      color: #9398a7;
      font-size: 13px;
    }

    .product-card__sale-price {
      order: -1;
      color: #0d8eb9;
    }
  }

  @include maxWidthXs {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin-top: 8px;
  }
}

.product-card__title-wrap {
  flex-direction: column;
  display: flex;
}

.product-card__price {
  color: var(--black);
  order: -1;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}

.product-card__sale-price {
  // color: #0095c6;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: var(--blue-gold);

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   background-color: var(--blue-gold);
  //   transform: translateY(-50%) translateX(-50%);
  //   width: 100%;
  //   height: 2px;
  //   opacity: .35;
  // }
}

// Sale Badges
.product-card__sale-badge {
  z-index: 2;
  width: 34px;
  height: 52px;
  background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="34" height="37" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M31.5486 21.6326V25.1743H34.2912V26.9905H31.5486V30.7138H34.9995V32.53H29.5508V19.8164H34.9995V21.6326H31.5486Z" fill="white"/><path d="M23.3965 32.53V19.8164H25.3943V30.7138H28.6817V32.53H23.3965Z" fill="white"/><path d="M20.431 19.8164L22.4652 32.53H20.4491L20.1041 30.2234H17.6521L17.3071 32.53H15.4727L17.5068 19.8164H20.431ZM18.869 22.0685L17.9064 28.498H19.8316L18.869 22.0685Z" fill="white"/><path d="M8.95292 22.8675C8.95292 20.8333 9.95185 19.6709 11.8952 19.6709C13.8386 19.6709 14.8375 20.8333 14.8375 22.8675V23.267H12.9486V22.7403C12.9486 21.8322 12.5854 21.4871 11.9497 21.4871C11.314 21.4871 10.9508 21.8322 10.9508 22.7403C10.9508 25.3557 14.8557 25.8461 14.8557 29.4786C14.8557 31.5127 13.8386 32.6751 11.8771 32.6751C9.91553 32.6751 8.89844 31.5127 8.89844 29.4786V28.6976H10.7873V29.6057C10.7873 30.5138 11.1869 30.8407 11.8226 30.8407C12.4583 30.8407 12.8578 30.5138 12.8578 29.6057C12.8578 26.9903 8.95292 26.4999 8.95292 22.8675Z" fill="white"/><path d="M26.716 16.1839L24.2278 6.97555V16.1839H22.4297V3.47021H24.9361L26.9884 11.0802V3.47021H28.7683V16.1839H26.716Z" fill="white"/><path d="M17.0818 6.39414V13.2595C17.0818 14.1676 17.4814 14.5127 18.1171 14.5127C18.7528 14.5127 19.1523 14.1676 19.1523 13.2595V6.39414C19.1523 5.48602 18.7528 5.14094 18.1171 5.14094C17.4814 5.14094 17.0818 5.48602 17.0818 6.39414ZM15.084 13.1324V6.52128C15.084 4.4871 16.1556 3.32471 18.1171 3.32471C20.0786 3.32471 21.1502 4.4871 21.1502 6.52128V13.1324C21.1502 15.1665 20.0786 16.3289 18.1171 16.3289C16.1556 16.3289 15.084 15.1665 15.084 13.1324Z" fill="white"/></svg>');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 4px;
  left: 4px;

  &.discount_10 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M26.2398 7.0399V11.8399C26.2398 12.4599 26.4998 12.7199 26.9598 12.7199C27.3998 12.7199 27.6798 12.4599 27.6798 11.8399V7.0399C27.6798 6.4199 27.3998 6.1599 26.9598 6.1599C26.4998 6.1599 26.2398 6.4199 26.2398 7.0399ZM24.8398 11.7399V7.1399C24.8398 5.6999 25.5798 4.8999 26.9598 4.8999C28.3398 4.8999 29.0798 5.6999 29.0798 7.1399V11.7399C29.0798 13.1799 28.3398 13.9799 26.9598 13.9799C25.5798 13.9799 24.8398 13.1799 24.8398 11.7399ZM26.9598 18.9999L32.4798 4.9999H33.7798L28.2598 18.9999H26.9598ZM33.1798 12.1599V16.9599C33.1798 17.5799 33.4398 17.8399 33.8998 17.8399C34.3398 17.8399 34.6198 17.5799 34.6198 16.9599V12.1599C34.6198 11.5399 34.3398 11.2799 33.8998 11.2799C33.4398 11.2799 33.1798 11.5399 33.1798 12.1599ZM31.7798 16.8599V12.2599C31.7798 10.8199 32.5198 10.0199 33.8998 10.0199C35.2798 10.0199 36.0198 10.8199 36.0198 12.2599V16.8599C36.0198 18.2999 35.2798 19.0999 33.8998 19.0999C32.5198 19.0999 31.7798 18.2999 31.7798 16.8599Z" fill="white"/><path d="M19.0506 8.21984V15.7798C19.0506 16.7798 19.4906 17.1598 20.1906 17.1598C20.8906 17.1598 21.3306 16.7798 21.3306 15.7798V8.21984C21.3306 7.21984 20.8906 6.83984 20.1906 6.83984C19.4906 6.83984 19.0506 7.21984 19.0506 8.21984ZM16.8506 15.6398V8.35984C16.8506 6.11984 18.0306 4.83984 20.1906 4.83984C22.3506 4.83984 23.5306 6.11984 23.5306 8.35984V15.6398C23.5306 17.8798 22.3506 19.1598 20.1906 19.1598C18.0306 19.1598 16.8506 17.8798 16.8506 15.6398Z" fill="white"/><path d="M10.4609 8.32V6.76C12.1609 6.76 12.5409 5.94 12.8809 5H14.3609V19H12.1609V8.32H10.4609Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }

  &.discount_20 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M26.2398 7.0399V11.8399C26.2398 12.4599 26.4998 12.7199 26.9598 12.7199C27.3998 12.7199 27.6798 12.4599 27.6798 11.8399V7.0399C27.6798 6.4199 27.3998 6.1599 26.9598 6.1599C26.4998 6.1599 26.2398 6.4199 26.2398 7.0399ZM24.8398 11.7399V7.1399C24.8398 5.6999 25.5798 4.8999 26.9598 4.8999C28.3398 4.8999 29.0798 5.6999 29.0798 7.1399V11.7399C29.0798 13.1799 28.3398 13.9799 26.9598 13.9799C25.5798 13.9799 24.8398 13.1799 24.8398 11.7399ZM26.9598 18.9999L32.4798 4.9999H33.7798L28.2598 18.9999H26.9598ZM33.1798 12.1599V16.9599C33.1798 17.5799 33.4398 17.8399 33.8998 17.8399C34.3398 17.8399 34.6198 17.5799 34.6198 16.9599V12.1599C34.6198 11.5399 34.3398 11.2799 33.8998 11.2799C33.4398 11.2799 33.1798 11.5399 33.1798 12.1599ZM31.7798 16.8599V12.2599C31.7798 10.8199 32.5198 10.0199 33.8998 10.0199C35.2798 10.0199 36.0198 10.8199 36.0198 12.2599V16.8599C36.0198 18.2999 35.2798 19.0999 33.8998 19.0999C32.5198 19.0999 31.7798 18.2999 31.7798 16.8599Z" fill="white"/><path d="M19.0506 8.21984V15.7798C19.0506 16.7798 19.4906 17.1598 20.1906 17.1598C20.8906 17.1598 21.3306 16.7798 21.3306 15.7798V8.21984C21.3306 7.21984 20.8906 6.83984 20.1906 6.83984C19.4906 6.83984 19.0506 7.21984 19.0506 8.21984ZM16.8506 15.6398V8.35984C16.8506 6.11984 18.0306 4.83984 20.1906 4.83984C22.3506 4.83984 23.5306 6.11984 23.5306 8.35984V15.6398C23.5306 17.8798 22.3506 19.1598 20.1906 19.1598C18.0306 19.1598 16.8506 17.8798 16.8506 15.6398Z" fill="white"/><path d="M13.4606 8.43984C13.4606 7.17984 13.0206 6.83984 12.3206 6.83984C11.6206 6.83984 11.1806 7.21984 11.1806 8.21984V9.71984H9.10059V8.35984C9.10059 6.11984 10.2206 4.83984 12.3806 4.83984C14.5406 4.83984 15.6606 6.11984 15.6606 8.35984C15.6606 12.7598 11.2806 14.3998 11.2806 16.6998C11.2806 16.7998 11.2806 16.8998 11.3006 16.9998H15.4606V18.9998H9.10059V17.2798C9.10059 13.1598 13.4606 12.4798 13.4606 8.43984Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }

  &.discount_30 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M26.2398 7.0399V11.8399C26.2398 12.4599 26.4998 12.7199 26.9598 12.7199C27.3998 12.7199 27.6798 12.4599 27.6798 11.8399V7.0399C27.6798 6.4199 27.3998 6.1599 26.9598 6.1599C26.4998 6.1599 26.2398 6.4199 26.2398 7.0399ZM24.8398 11.7399V7.1399C24.8398 5.6999 25.5798 4.8999 26.9598 4.8999C28.3398 4.8999 29.0798 5.6999 29.0798 7.1399V11.7399C29.0798 13.1799 28.3398 13.9799 26.9598 13.9799C25.5798 13.9799 24.8398 13.1799 24.8398 11.7399ZM26.9598 18.9999L32.4798 4.9999H33.7798L28.2598 18.9999H26.9598ZM33.1798 12.1599V16.9599C33.1798 17.5799 33.4398 17.8399 33.8998 17.8399C34.3398 17.8399 34.6198 17.5799 34.6198 16.9599V12.1599C34.6198 11.5399 34.3398 11.2799 33.8998 11.2799C33.4398 11.2799 33.1798 11.5399 33.1798 12.1599ZM31.7798 16.8599V12.2599C31.7798 10.8199 32.5198 10.0199 33.8998 10.0199C35.2798 10.0199 36.0198 10.8199 36.0198 12.2599V16.8599C36.0198 18.2999 35.2798 19.0999 33.8998 19.0999C32.5198 19.0999 31.7798 18.2999 31.7798 16.8599Z" fill="white"/><path d="M19.0496 8.21984V15.7798C19.0496 16.7798 19.4896 17.1598 20.1896 17.1598C20.8896 17.1598 21.3296 16.7798 21.3296 15.7798V8.21984C21.3296 7.21984 20.8896 6.83984 20.1896 6.83984C19.4896 6.83984 19.0496 7.21984 19.0496 8.21984ZM16.8496 15.6398V8.35984C16.8496 6.11984 18.0296 4.83984 20.1896 4.83984C22.3496 4.83984 23.5296 6.11984 23.5296 8.35984V15.6398C23.5296 17.8798 22.3496 19.1598 20.1896 19.1598C18.0296 19.1598 16.8496 17.8798 16.8496 15.6398Z" fill="white"/><path d="M13.3405 9.21984V8.43984C13.3405 7.17984 12.9005 6.83984 12.2005 6.83984C11.5005 6.83984 11.0605 7.21984 11.0605 8.21984V9.11984H8.98047V8.35984C8.98047 6.11984 10.1005 4.83984 12.2605 4.83984C14.4205 4.83984 15.5405 6.11984 15.5405 8.35984V8.71984C15.5405 10.2198 15.0605 11.1598 14.0005 11.5998C15.1005 12.0798 15.5405 13.1198 15.5405 14.5398V15.6398C15.5405 17.8798 14.4205 19.1598 12.2605 19.1598C10.1005 19.1598 8.98047 17.8798 8.98047 15.6398V14.4798H11.0605V15.7798C11.0605 16.7798 11.5005 17.1598 12.2005 17.1598C12.9005 17.1598 13.3405 16.8198 13.3405 15.5798V14.4798C13.3405 13.1798 12.9005 12.6998 11.9005 12.6998H11.1605V10.6998H12.0205C12.8405 10.6998 13.3405 10.3398 13.3405 9.21984Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }

  &.discount_40 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M26.2398 7.0399V11.8399C26.2398 12.4599 26.4998 12.7199 26.9598 12.7199C27.3998 12.7199 27.6798 12.4599 27.6798 11.8399V7.0399C27.6798 6.4199 27.3998 6.1599 26.9598 6.1599C26.4998 6.1599 26.2398 6.4199 26.2398 7.0399ZM24.8398 11.7399V7.1399C24.8398 5.6999 25.5798 4.8999 26.9598 4.8999C28.3398 4.8999 29.0798 5.6999 29.0798 7.1399V11.7399C29.0798 13.1799 28.3398 13.9799 26.9598 13.9799C25.5798 13.9799 24.8398 13.1799 24.8398 11.7399ZM26.9598 18.9999L32.4798 4.9999H33.7798L28.2598 18.9999H26.9598ZM33.1798 12.1599V16.9599C33.1798 17.5799 33.4398 17.8399 33.8998 17.8399C34.3398 17.8399 34.6198 17.5799 34.6198 16.9599V12.1599C34.6198 11.5399 34.3398 11.2799 33.8998 11.2799C33.4398 11.2799 33.1798 11.5399 33.1798 12.1599ZM31.7798 16.8599V12.2599C31.7798 10.8199 32.5198 10.0199 33.8998 10.0199C35.2798 10.0199 36.0198 10.8199 36.0198 12.2599V16.8599C36.0198 18.2999 35.2798 19.0999 33.8998 19.0999C32.5198 19.0999 31.7798 18.2999 31.7798 16.8599Z" fill="white"/><path d="M19.0496 8.21984V15.7798C19.0496 16.7798 19.4896 17.1598 20.1896 17.1598C20.8896 17.1598 21.3296 16.7798 21.3296 15.7798V8.21984C21.3296 7.21984 20.8896 6.83984 20.1896 6.83984C19.4896 6.83984 19.0496 7.21984 19.0496 8.21984ZM16.8496 15.6398V8.35984C16.8496 6.11984 18.0296 4.83984 20.1896 4.83984C22.3496 4.83984 23.5296 6.11984 23.5296 8.35984V15.6398C23.5296 17.8798 22.3496 19.1598 20.1896 19.1598C18.0296 19.1598 16.8496 17.8798 16.8496 15.6398Z" fill="white"/><path d="M8.58008 16.46V14.46L12.5801 5H14.9801V14.46H16.0201V16.46H14.9801V19H12.8201V16.46H8.58008ZM10.6001 14.46H12.8201V9.2L10.6001 14.46Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }

  &.discount_50 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M25.9391 7.0399V11.8399C25.9391 12.4599 26.1991 12.7199 26.6591 12.7199C27.0991 12.7199 27.3791 12.4599 27.3791 11.8399V7.0399C27.3791 6.4199 27.0991 6.1599 26.6591 6.1599C26.1991 6.1599 25.9391 6.4199 25.9391 7.0399ZM24.5391 11.7399V7.1399C24.5391 5.6999 25.2791 4.8999 26.6591 4.8999C28.0391 4.8999 28.7791 5.6999 28.7791 7.1399V11.7399C28.7791 13.1799 28.0391 13.9799 26.6591 13.9799C25.2791 13.9799 24.5391 13.1799 24.5391 11.7399ZM26.6591 18.9999L32.1791 4.9999H33.4791L27.9591 18.9999H26.6591ZM32.8791 12.1599V16.9599C32.8791 17.5799 33.1391 17.8399 33.5991 17.8399C34.0391 17.8399 34.3191 17.5799 34.3191 16.9599V12.1599C34.3191 11.5399 34.0391 11.2799 33.5991 11.2799C33.1391 11.2799 32.8791 11.5399 32.8791 12.1599ZM31.4791 16.8599V12.2599C31.4791 10.8199 32.2191 10.0199 33.5991 10.0199C34.9791 10.0199 35.7191 10.8199 35.7191 12.2599V16.8599C35.7191 18.2999 34.9791 19.0999 33.5991 19.0999C32.2191 19.0999 31.4791 18.2999 31.4791 16.8599Z" fill="white"/><path d="M18.7488 8.21984V15.7798C18.7488 16.7798 19.1888 17.1598 19.8888 17.1598C20.5888 17.1598 21.0288 16.7798 21.0288 15.7798V8.21984C21.0288 7.21984 20.5888 6.83984 19.8888 6.83984C19.1888 6.83984 18.7488 7.21984 18.7488 8.21984ZM16.5488 15.6398V8.35984C16.5488 6.11984 17.7288 4.83984 19.8888 4.83984C22.0488 4.83984 23.2288 6.11984 23.2288 8.35984V15.6398C23.2288 17.8798 22.0488 19.1598 19.8888 19.1598C17.7288 19.1598 16.5488 17.8798 16.5488 15.6398Z" fill="white"/><path d="M8.69922 14.48H10.7792V15.78C10.7792 16.78 11.2192 17.14 11.9192 17.14C12.6192 17.14 13.0592 16.78 13.0592 15.78V12.7C13.0592 11.7 12.6192 11.32 11.9192 11.32C11.2192 11.32 10.7792 11.7 10.7792 12.7V13.12H8.69922L9.09922 5H14.8992V7H11.0792L10.8992 10.34C11.2992 9.68 11.9392 9.32 12.8192 9.32C14.4392 9.32 15.2592 10.46 15.2592 12.52V15.64C15.2592 17.88 14.1392 19.16 11.9792 19.16C9.81922 19.16 8.69922 17.88 8.69922 15.64V14.48Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }

  &.discount_60 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M26.2398 7.0399V11.8399C26.2398 12.4599 26.4998 12.7199 26.9598 12.7199C27.3998 12.7199 27.6798 12.4599 27.6798 11.8399V7.0399C27.6798 6.4199 27.3998 6.1599 26.9598 6.1599C26.4998 6.1599 26.2398 6.4199 26.2398 7.0399ZM24.8398 11.7399V7.1399C24.8398 5.6999 25.5798 4.8999 26.9598 4.8999C28.3398 4.8999 29.0798 5.6999 29.0798 7.1399V11.7399C29.0798 13.1799 28.3398 13.9799 26.9598 13.9799C25.5798 13.9799 24.8398 13.1799 24.8398 11.7399ZM26.9598 18.9999L32.4798 4.9999H33.7798L28.2598 18.9999H26.9598ZM33.1798 12.1599V16.9599C33.1798 17.5799 33.4398 17.8399 33.8998 17.8399C34.3398 17.8399 34.6198 17.5799 34.6198 16.9599V12.1599C34.6198 11.5399 34.3398 11.2799 33.8998 11.2799C33.4398 11.2799 33.1798 11.5399 33.1798 12.1599ZM31.7798 16.8599V12.2599C31.7798 10.8199 32.5198 10.0199 33.8998 10.0199C35.2798 10.0199 36.0198 10.8199 36.0198 12.2599V16.8599C36.0198 18.2999 35.2798 19.0999 33.8998 19.0999C32.5198 19.0999 31.7798 18.2999 31.7798 16.8599Z" fill="white"/><path d="M19.0516 8.21984V15.7798C19.0516 16.7798 19.4916 17.1598 20.1916 17.1598C20.8916 17.1598 21.3316 16.7798 21.3316 15.7798V8.21984C21.3316 7.21984 20.8916 6.83984 20.1916 6.83984C19.4916 6.83984 19.0516 7.21984 19.0516 8.21984ZM16.8516 15.6398V8.35984C16.8516 6.11984 18.0316 4.83984 20.1916 4.83984C22.3516 4.83984 23.5316 6.11984 23.5316 8.35984V15.6398C23.5316 17.8798 22.3516 19.1598 20.1916 19.1598C18.0316 19.1598 16.8516 17.8798 16.8516 15.6398Z" fill="white"/><path d="M8.96094 15.6398V8.47984C8.96094 6.11984 10.0409 4.83984 12.3209 4.83984C14.4809 4.83984 15.6009 6.11984 15.6009 8.35984V8.71984H13.5209V8.21984C13.5209 7.21984 13.0809 6.83984 12.3809 6.83984C11.6009 6.83984 11.1609 7.21984 11.1609 8.55984V11.1198C11.5409 10.3198 12.2209 9.87984 13.2009 9.87984C14.8209 9.87984 15.6409 11.0198 15.6409 13.0798V15.6398C15.6409 17.8798 14.4609 19.1598 12.3009 19.1598C10.1409 19.1598 8.96094 17.8798 8.96094 15.6398ZM12.3009 11.8798C11.6009 11.8798 11.1609 12.2598 11.1609 13.2598V15.7798C11.1609 16.7798 11.6009 17.1398 12.3009 17.1398C13.0009 17.1398 13.4409 16.7798 13.4409 15.7798V13.2598C13.4409 12.2598 13.0009 11.8798 12.3009 11.8798Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }

  &.discount_70 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M26.2398 7.0399V11.8399C26.2398 12.4599 26.4998 12.7199 26.9598 12.7199C27.3998 12.7199 27.6798 12.4599 27.6798 11.8399V7.0399C27.6798 6.4199 27.3998 6.1599 26.9598 6.1599C26.4998 6.1599 26.2398 6.4199 26.2398 7.0399ZM24.8398 11.7399V7.1399C24.8398 5.6999 25.5798 4.8999 26.9598 4.8999C28.3398 4.8999 29.0798 5.6999 29.0798 7.1399V11.7399C29.0798 13.1799 28.3398 13.9799 26.9598 13.9799C25.5798 13.9799 24.8398 13.1799 24.8398 11.7399ZM26.9598 18.9999L32.4798 4.9999H33.7798L28.2598 18.9999H26.9598ZM33.1798 12.1599V16.9599C33.1798 17.5799 33.4398 17.8399 33.8998 17.8399C34.3398 17.8399 34.6198 17.5799 34.6198 16.9599V12.1599C34.6198 11.5399 34.3398 11.2799 33.8998 11.2799C33.4398 11.2799 33.1798 11.5399 33.1798 12.1599ZM31.7798 16.8599V12.2599C31.7798 10.8199 32.5198 10.0199 33.8998 10.0199C35.2798 10.0199 36.0198 10.8199 36.0198 12.2599V16.8599C36.0198 18.2999 35.2798 19.0999 33.8998 19.0999C32.5198 19.0999 31.7798 18.2999 31.7798 16.8599Z" fill="white"/><path d="M19.0516 8.21984V15.7798C19.0516 16.7798 19.4916 17.1598 20.1916 17.1598C20.8916 17.1598 21.3316 16.7798 21.3316 15.7798V8.21984C21.3316 7.21984 20.8916 6.83984 20.1916 6.83984C19.4916 6.83984 19.0516 7.21984 19.0516 8.21984ZM16.8516 15.6398V8.35984C16.8516 6.11984 18.0316 4.83984 20.1916 4.83984C22.3516 4.83984 23.5316 6.11984 23.5316 8.35984V15.6398C23.5316 17.8798 22.3516 19.1598 20.1916 19.1598C18.0316 19.1598 16.8516 17.8798 16.8516 15.6398Z" fill="white"/><path d="M8.96094 5H15.5609V6.92L12.3209 19H10.1209L13.3409 7H8.96094V5Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }

  &.discount_80 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M26.2398 7.0399V11.8399C26.2398 12.4599 26.4998 12.7199 26.9598 12.7199C27.3998 12.7199 27.6798 12.4599 27.6798 11.8399V7.0399C27.6798 6.4199 27.3998 6.1599 26.9598 6.1599C26.4998 6.1599 26.2398 6.4199 26.2398 7.0399ZM24.8398 11.7399V7.1399C24.8398 5.6999 25.5798 4.8999 26.9598 4.8999C28.3398 4.8999 29.0798 5.6999 29.0798 7.1399V11.7399C29.0798 13.1799 28.3398 13.9799 26.9598 13.9799C25.5798 13.9799 24.8398 13.1799 24.8398 11.7399ZM26.9598 18.9999L32.4798 4.9999H33.7798L28.2598 18.9999H26.9598ZM33.1798 12.1599V16.9599C33.1798 17.5799 33.4398 17.8399 33.8998 17.8399C34.3398 17.8399 34.6198 17.5799 34.6198 16.9599V12.1599C34.6198 11.5399 34.3398 11.2799 33.8998 11.2799C33.4398 11.2799 33.1798 11.5399 33.1798 12.1599ZM31.7798 16.8599V12.2599C31.7798 10.8199 32.5198 10.0199 33.8998 10.0199C35.2798 10.0199 36.0198 10.8199 36.0198 12.2599V16.8599C36.0198 18.2999 35.2798 19.0999 33.8998 19.0999C32.5198 19.0999 31.7798 18.2999 31.7798 16.8599Z" fill="white"/><path d="M19.0496 8.21984V15.7798C19.0496 16.7798 19.4896 17.1598 20.1896 17.1598C20.8896 17.1598 21.3296 16.7798 21.3296 15.7798V8.21984C21.3296 7.21984 20.8896 6.83984 20.1896 6.83984C19.4896 6.83984 19.0496 7.21984 19.0496 8.21984ZM16.8496 15.6398V8.35984C16.8496 6.11984 18.0296 4.83984 20.1896 4.83984C22.3496 4.83984 23.5296 6.11984 23.5296 8.35984V15.6398C23.5296 17.8798 22.3496 19.1598 20.1896 19.1598C18.0296 19.1598 16.8496 17.8798 16.8496 15.6398Z" fill="white"/><path d="M15.7003 15.6398C15.7003 17.8798 14.4803 19.1598 12.2603 19.1598C10.0403 19.1598 8.82031 17.8798 8.82031 15.6398V14.5398C8.82031 13.1998 9.22031 12.1598 10.1803 11.6198C9.26031 11.1198 8.82031 10.1798 8.82031 8.79984V8.35984C8.82031 6.11984 10.0403 4.83984 12.2603 4.83984C14.4803 4.83984 15.7003 6.11984 15.7003 8.35984V8.79984C15.7003 10.1798 15.2403 11.1198 14.3403 11.6198C15.3003 12.1598 15.7003 13.1998 15.7003 14.5398V15.6398ZM11.0203 15.5798C11.0203 16.8198 11.5603 17.1598 12.2603 17.1598C12.9603 17.1598 13.4803 16.8198 13.5003 15.5798V14.2798C13.5003 13.1798 13.0403 12.6998 12.2603 12.6998C11.4803 12.6998 11.0203 13.1798 11.0203 14.2798V15.5798ZM11.0203 8.43984V9.21984C11.0203 10.3398 11.5403 10.6998 12.2603 10.6998C12.9603 10.6998 13.5003 10.3398 13.5003 9.21984V8.43984C13.5003 7.17984 12.9603 6.83984 12.2603 6.83984C11.5603 6.83984 11.0203 7.17984 11.0203 8.43984Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }

  &.discount_90 {
    background-image: url('data:image/svg+xml,<svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 0H39V37H5V0Z" fill="%230095C6"/><path d="M0 5L5 0V5H0Z" fill="%230F7597"/><path d="M44 5L39 0V5H44Z" fill="%230F7597"/><path d="M26.2398 7.0399V11.8399C26.2398 12.4599 26.4998 12.7199 26.9598 12.7199C27.3998 12.7199 27.6798 12.4599 27.6798 11.8399V7.0399C27.6798 6.4199 27.3998 6.1599 26.9598 6.1599C26.4998 6.1599 26.2398 6.4199 26.2398 7.0399ZM24.8398 11.7399V7.1399C24.8398 5.6999 25.5798 4.8999 26.9598 4.8999C28.3398 4.8999 29.0798 5.6999 29.0798 7.1399V11.7399C29.0798 13.1799 28.3398 13.9799 26.9598 13.9799C25.5798 13.9799 24.8398 13.1799 24.8398 11.7399ZM26.9598 18.9999L32.4798 4.9999H33.7798L28.2598 18.9999H26.9598ZM33.1798 12.1599V16.9599C33.1798 17.5799 33.4398 17.8399 33.8998 17.8399C34.3398 17.8399 34.6198 17.5799 34.6198 16.9599V12.1599C34.6198 11.5399 34.3398 11.2799 33.8998 11.2799C33.4398 11.2799 33.1798 11.5399 33.1798 12.1599ZM31.7798 16.8599V12.2599C31.7798 10.8199 32.5198 10.0199 33.8998 10.0199C35.2798 10.0199 36.0198 10.8199 36.0198 12.2599V16.8599C36.0198 18.2999 35.2798 19.0999 33.8998 19.0999C32.5198 19.0999 31.7798 18.2999 31.7798 16.8599Z" fill="white"/><path d="M19.0496 8.21984V15.7798C19.0496 16.7798 19.4896 17.1598 20.1896 17.1598C20.8896 17.1598 21.3296 16.7798 21.3296 15.7798V8.21984C21.3296 7.21984 20.8896 6.83984 20.1896 6.83984C19.4896 6.83984 19.0496 7.21984 19.0496 8.21984ZM16.8496 15.6398V8.35984C16.8496 6.11984 18.0296 4.83984 20.1896 4.83984C22.3496 4.83984 23.5296 6.11984 23.5296 8.35984V15.6398C23.5296 17.8798 22.3496 19.1598 20.1896 19.1598C18.0296 19.1598 16.8496 17.8798 16.8496 15.6398Z" fill="white"/><path d="M15.5609 8.35984V15.5198C15.5609 17.8798 14.4809 19.1598 12.2009 19.1598C10.0409 19.1598 8.92086 17.8798 8.92086 15.6398V15.2798H11.0009V15.7798C11.0009 16.7798 11.4409 17.1598 12.1409 17.1598C12.9209 17.1598 13.3609 16.7798 13.3609 15.4398V12.8798C12.9809 13.6798 12.3009 14.1198 11.3209 14.1198C9.70086 14.1198 8.88086 12.9798 8.88086 10.9198V8.35984C8.88086 6.11984 10.0609 4.83984 12.2209 4.83984C14.3809 4.83984 15.5609 6.11984 15.5609 8.35984ZM12.2209 12.1198C12.9209 12.1198 13.3609 11.7398 13.3609 10.7398V8.21984C13.3609 7.21984 12.9209 6.85984 12.2209 6.85984C11.5209 6.85984 11.0809 7.21984 11.0809 8.21984V10.7398C11.0809 11.7398 11.5209 12.1198 12.2209 12.1198Z" fill="white"/><g opacity="0.8"><path d="M27.2848 23.508V26.4549H29.8106V27.8516H27.2848V31.8879H25.3281V22.1113H30.5043V23.508H27.2848Z" fill="white"/><path d="M21.1695 23.508V26.4549H23.6954V27.8516H21.1695V31.8879H19.2129V22.1113H24.3891V23.508H21.1695Z" fill="white"/><path d="M13.9566 24.3603V29.6397C13.9566 30.338 14.348 30.6034 14.9705 30.6034C15.5931 30.6034 15.9844 30.338 15.9844 29.6397V24.3603C15.9844 23.662 15.5931 23.3966 14.9705 23.3966C14.348 23.3966 13.9566 23.662 13.9566 24.3603ZM12 29.5419V24.4581C12 22.8939 13.0495 22 14.9705 22C16.8916 22 17.9411 22.8939 17.9411 24.4581V29.5419C17.9411 31.1061 16.8916 32 14.9705 32C13.0495 32 12 31.1061 12 29.5419Z" fill="white"/></g></svg>');
  }
}

.product-card {
  .stock-dash-box {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 6px;

    &>div {
      display: none !important;
    }

    &>span {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .6px;
      line-height: 14px;

      @include maxWidthXs {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 2.4vw;
        letter-spacing: 0.2vw;
        padding-top: 0.8vw;
        padding-bottom: 0.8vw;
        font-weight: 700;
      }
    }

    @include maxWidthXs {
      background-color: rgba(0, 149, 198, .08);
    }
  }

  &.--vday {
    .stock-dash-box {
      background-color: rgba(207, 77, 115, 0.05) !important;
      color: #b92d56;
    }

    span.--blue {
      color: #b92d56 !important;
    }
  }
}

.main_product {
  .stock-dash-box {
    margin-bottom: 10px;

    &>span {
      margin-top: 4px;
      margin-bottom: 4px;
      font-size: 13px;
    }

    &>div {
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
    }

    @include maxWidthMd {
      display: none;
    }
  }
}

.product-page__float-stock {
  display: none !important;
  position: fixed;
  z-index: 14;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 -8px 24px rgba(18, 175, 226, .13);

  @include maxWidthMd {
    // display: block !important;

    .stock-dash-box {
      display: block;
    }
  }

  .stock-dash-box {
    background-color: #f5fcff;
    margin: 0;

    &>span {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.stock-dash-box {
  width: 100%;
  color: #0481aa;
  text-align: center;
  letter-spacing: .6px;
  text-transform: uppercase;
  position: relative;
  background-color: rgba(0, 149, 198, .08);
  border-radius: 0;
  margin-top: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;

  &>span {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 0;
    border-bottom-style: none;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;

    @include maxWidthXs {
      padding-top: 1.9vw;
      padding-bottom: 1.9vw;
      font-size: 2.7vw;
      line-height: 4vw;
    }
  }

  &>div {
    position: absolute;
    top: 1.5px;
    bottom: 1.5px;
    left: 1.5px;
    right: 1.5px;
    overflow: hidden;

    &>span {
      position: absolute;

      &:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #ffffff, #8fd3ea);
        animation: stockDash_1 1s linear infinite;
      }

      &:nth-child(2) {
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(to bottom, #ffffff, #8fd3ea);
        animation: stockDash_2 1s linear infinite;
        animation-delay: 0.5s;
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, #ffffff, #8fd3ea);
        animation: stockDash_3 1s linear infinite;
      }

      &:nth-child(4) {
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(to top, #ffffff, #8fd3ea);
        animation: stockDash_4 1s linear infinite;
        animation-delay: 0.5s;
      }
    }
  }
}

@keyframes stockDash_1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes stockDash_2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes stockDash_3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes stockDash_4 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.product-card__colors {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;

  span {
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: #e5d5b0;

    &:nth-child(n+4) {
      display: none !important;
    }
  }

  @include maxWidthSm {
    gap: 5px;
    right: 10px;
    bottom: 10px;

    span {
      width: 7px;
      height: 7px;
    }
  }
}


/* #region  NEW Card Item */

.card-item {
  max-width: 420px;
  position: relative;

  .stock-dash-box {
    margin-top: 6px;

    &>div {
      display: none !important;
    }

    &>span {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: .6px;
      line-height: 14px;

      @include maxWidthXs {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: 700;
      }
    }

    @include maxWidthXs {
      background-color: rgba(0, 149, 198, .08);
    }
  }

  &:hover {
    .card-item-fav {
      opacity: 1;
    }
  }

  // Valentine
  &.--vday {
    .card-item__main::after {
      content: '';
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      border: 0px solid #e4bac7;
      // box-shadow: inset 0 0 0 6px rgba(186, 46, 86, .04);
      transition: all 200ms ease;
    }

    &:hover {
      .card-item__main::after {
        @media screen and (min-width: 992px) {
          border-color: #d18ba2;
        }
      }
    }


    .stock-dash-box {
      background-color: rgba(207, 77, 115, 0.05);
      color: #b92d56;
    }

    .card-item__sub-details {
      span {
        &.--blue {
          color: #ba2e56;
        }
      }
    }

    .card-item__price {
      &.is-sale {
        color: #ba2e56;
      }
    }

    .card-item__tags {
      img {
        width: 50px;
      }
    }
  }
}

.card-item__media {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1.22;

  a {
    width: 100% !important;
    height: 100% !important;
    display: block;
    overflow: hidden;
  }
}

.card-item__wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
}

.card-item__colors {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 14px;
  right: 14px;

  @include maxWidthXs {
    grid-column-gap: 1.4vw;
    grid-row-gap: 1.4vw;
  }

  &>span {
    width: 8px;
    height: 8px;
    transform-style: preserve-3d;
    background-color: #ded1b3;
    transform: rotateX(0)rotateY(0)rotateZ(45deg);

    @include maxWidthXs {
      width: 2vw;
      height: 2vw;
    }

    &.Yellow {
      background-color: #e5d5b0;
      background-image: none;
    }

    &.White {
      background-color: #cacaca;
      background-image: none;
    }

    &.Rose {
      background-color: #f0cac7;
      background-image: none;
    }

    &.Black {
      background: linear-gradient(45deg, #6F7174, #171C25);
    }

    &.Two_Tone {
      background: linear-gradient(45deg, #e2d2b6, #e6d6a8 50%, #f5f5f5 51%, #ebebeb);
    }

    &.Two_Tone_Rose {
      background: linear-gradient(45deg, #FDDDDD, #D2ACAC 50%, #f5f5f5 51%, #ebebeb);
    }

    &.Tri_Tone {
      background: linear-gradient(45deg, #e2c6cc, #e7cdd3 40%, #ebebeb 41%, #ddd 63%, #e2d2b6 64%, #ebe1c5);
    }

    &.Steel {
      background: linear-gradient(45deg, #a3a3a3, #ebebeb 50%, #c2c0c0 51%, #e9e9e9);
    }

    &.Titanium {
      background: linear-gradient(45deg, #959294, #3F383C);
    }

    &.Blue_Gold {
      background: linear-gradient(45deg, #88D3ED, #0095c6);
    }

    &.Navy_Blue {
      background: linear-gradient(45deg, #223164, #3e68c2);
    }

    &.Red {
      background-image: linear-gradient(45deg, #c7242d, #ff9d9f);
    }

    &.Blue {
      background-color: #2cabd6;
    }

    &.Platinum {
      background-color: #cbcac6;
    }

    &.Tri_Tone_Rose {
      background: linear-gradient(45deg, #e2c6cc, #e7cdd3 40%, #ebebeb 41%, #ddd 63%, #e2d2b6 64%, #ebe1c5);
    }
  }
}

.card-item__info-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
  display: flex;

  @include maxWidthXs {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.card-item__tags {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;

  @include maxWidthXs {
    padding: 6px;
  }
}

.card-item-tag {
  z-index: 2;
  color: #058567;
  letter-spacing: .4px;
  text-transform: uppercase;
  background-color: rgba(4, 158, 117, .07);
  padding: 0 8px;
  font-size: 10px;
  font-weight: 700;
  overflow: hidden;

  &.made_order {
    color: #0489b4;
    background-color: rgba(4, 137, 180, .05);
  }
}

.card-item__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;

  @include maxWidthXs {
    font-size: 13px;
    line-height: 20px;
  }

  a {
    transition: all .2s cubic-bezier(.39, .575, .565, 1);
    display: block;

    &:hover {
      color: #0095c6;
    }
  }
}

.card-item__title-wrap {
  flex-direction: column;
  display: flex;
}

.card-item__price {
  font-size: 15px;
  font-weight: 600;
}

.card-item__price.is-sale {
  color: #0095c6;
}

.card-item__price.is-off {
  opacity: .6;
  margin-top: -2px;
  font-size: 14px;
  text-decoration: line-through;
}

.card-item__img {
  width: 100%;
  height: 100%;
  filter: brightness(98.5%);
  object-fit: contain;
  background-color: #fff;
  position: relative;

  &.zoom-0 {
    transform: scale(1.0);
  }

  &.zoom-10 {
    transform: scale(1.1);
  }

  &.zoom-20 {
    transform: scale(1.2);
  }

  &.zoom-30 {
    transform: scale(1.3);
  }

  &.zoom-40 {
    transform: scale(1.4);
  }

  &.zoom-50 {
    transform: scale(1.5);
  }

  &.zoom-60 {
    transform: scale(1.6);
  }

  &.zoom-70 {
    transform: scale(1.7);
  }

  &.zoom-80 {
    transform: scale(1.8);
  }

  &.zoom-90 {
    transform: scale(1.9);
  }

  &.zoom-100 {
    transform: scale(2);
  }
}

.card-item__main {
  position: relative;
}

.card-item-fav {
  z-index: 2;
  opacity: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all .2s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  background-image: url('data:image/svg+xml,<svg width="48" height="41" viewBox="0 0 48 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.77724 23.4286L24 41L42.2227 23.4286C45.3856 21.0471 47.4286 17.2715 47.4286 13.0157C47.4286 5.83137 41.5972 0 34.4128 0C30.157 0 26.3686 2.05703 24 5.21989C21.6314 2.05703 17.843 0 13.5872 0C6.40278 0 0.571411 5.83137 0.571411 13.0157C0.571411 17.2715 2.61438 21.0471 5.77724 23.4286ZM13.5872 2.34286C16.9257 2.34286 20.1167 3.94303 22.1245 6.62326L24 9.12777L25.8754 6.62443C27.8833 3.94303 31.0742 2.34286 34.4128 2.34286C40.2981 2.34286 45.0857 7.13049 45.0857 13.0157C45.0857 16.3988 43.5289 19.5125 40.8123 21.5566L40.6987 21.6421L40.5956 21.7417L24 37.7458L7.40435 21.7417L7.30127 21.6421L7.18764 21.5566C4.47227 19.5125 2.91427 16.3988 2.91427 13.0157C2.91427 7.13049 7.7019 2.34286 13.5872 2.34286Z" fill="black"/></svg>');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;

  @include maxWidthMd {
    display: none !important;
  }

  &:hover {
    opacity: .5 !important;
  }

  &.is-active {
    opacity: 1 !important;
  }
}

.card-item__price-wrap {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.card-main__info {
  flex-direction: column;
  display: flex;
}

.card-item__sub-details {
  grid-column-gap: 6px;
  grid-row-gap: 4px;
  color: rgba(32, 33, 36, .5);
  letter-spacing: .4px;
  text-transform: uppercase;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6px;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  display: flex;

  &>span {
    &.--blue {
      color: #0095c6;
      order: -1 !important;
    }
  }
}

/* #endregion NEW Card Item */