.sign-modal {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  --sign-border-radius: 0.5rem;

  &.--locked {
    pointer-events: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }
}

[data-sign-content] {
  &:not([data-sign-content="phone"]) {
    display: none;
  }
}

.sign-modal__loader {
  z-index: 10;
  opacity: 0;
  background-color: rgba(255, 255, 255, .9);
  justify-content: center;
  align-items: center;
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  &>div {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.sign-form__row {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  &.--options {
    margin-top: -6px;
    column-gap: 14px;

    button {
      font-size: 13px;
    }
  }

  &.--gender {
    grid-column-gap: 18px;
    grid-row-gap: 8px;
    justify-content: center;
    align-items: center;

    @include maxWidthXs {
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.sign-form__input {
  background-color: #fff;
  border: 1px solid #c5cedc;
  border-radius: var(--sign-border-radius);
  height: 54px;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  width: 100%;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);

  &:hover,
  &:focus {
    border-color: var(--blue);
  }

  &:focus::placeholder {
    color: transparent;
  }

  &::placeholder {
    color: #9c9fa8;
    font-weight: 400;
    transition: all .2s cubic-bezier(.39, .575, .565, 1);
  }

  &.--password {
    letter-spacing: 3px;
  }

  &.--otp {
    text-align: center;
    flex: 1;
    height: 86px;
    font-size: 36px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #c5cedc;

    &:focus {
      border-color: var(--blue) !important;
    }

    @include maxWidthXs {
      aspect-ratio: 1 / 1.2;
      height: auto;
    }

    &.--active {
      border-color: var(--blue) !important;
    }
  }
}

.sign-modal__toggle-btn {
  cursor: pointer;
  border-radius: var(--sign-border-radius);
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  max-height: 54px;

  svg {
    &.svg_pass_hide {
      display: none;
    }
  }

  &:hover {
    opacity: .5;
  }
}

.sign-form__item {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  flex: 1;
  display: flex;
  position: relative;

  label {
    z-index: 2;
    background-color: #fff;
    order: -1;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -10px;
    left: 10px;
  }
}

.sign-modal__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;

  &>span {
    max-width: 260px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    display: block;
  }

  @include maxWidthMd {
    padding-right: 48px;
    font-size: 22px;
    line-height: 26px;
  }
}

.sign-modal__sub-btn {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #202124;
  letter-spacing: .6px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--blue);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  padding: 8px 14px;
  line-height: 20px;
  font-size: 11px;
  font-weight: 700;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;

  &:hover {
    background-color: #e6e9ee;
    border-color: #e6e9ee;
  }

  &.--mg {
    margin-bottom: 24px;
  }

  svg {
    width: 16px;
    height: 16px;

    path {
      stroke-width: 3px;
    }
  }
}

.sign-modal__adjust {
  max-height: 92vh;
  transition: all .4s cubic-bezier(.39, .575, .565, 1);
  overflow: auto;
}

.sign-modal__btn {
  text-align: center;
  cursor: pointer;
  background-color: var(--blue);
  color: white;
  border-radius: 500px;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  font-weight: 600;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;

  &:hover {
    background-color: #108cb4;
  }

  &.--sub {
    color: #202124;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 6px;
    padding-bottom: 6px;

    &:hover {
      color: rgba(32, 33, 36, .6);
    }
  }
}

.sign-modal__body {
  padding: 46px;
}

.sign-modal__backdrop {
  background-color: rgba(10, 12, 19, .9);
  transition: all .45s cubic-bezier(.39, .575, .565, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sign-form__btn-group {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.sign-form {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  display: flex;

  .invalid-feedback {
    span {
      font-size: 11px;
      font-weight: 600;
      color: var(--blue)
    }
  }
}

.sign-modal__container {
  z-index: 3;
  background-color: #fff;
  border-radius: var(--sign-border-radius);
  width: 100%;
  max-width: 550px;
  min-height: 60px;
  transition: all .45s cubic-bezier(.39, .575, .565, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.sign-modal__footer {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  border-top: 1px solid rgba(14, 21, 37, .1);
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 46px;
  display: flex;
}

.sign-modal__content {
  flex-flow: column;
  padding: 0;
  position: relative;
}

.sign-form__input-wrap {
  position: relative;
}

.sign-modal__header {
  grid-column-gap: 12px;
  grid-row-gap: 6px;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 46px 46px 0;
  display: flex;
}

.sign-modal__header.to_code {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sign-modal__ct-btn {
  letter-spacing: .2px;
  cursor: pointer;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-right: -12px;
  padding: 12px;
  font-size: 13px;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.sign-modal__ct-btn:hover {
  opacity: .5;
}

.typo_b {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .sign-modal__container {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    max-width: none;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: none;
  }
}

@media screen and (max-width: 479px) {

  .sign-modal__adjust {
    max-height: 80vh;
  }

  .sign-modal__body {
    padding: 28px;
  }

  .sign-modal__footer {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
  }

  .sign-modal__header {
    padding-top: 42px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .sign-modal__ct-btn {
    position: absolute;
    right: 28px;
  }
}

svg.sign-loader {
  width: 3.25em;
  transform-origin: center;
  animation: sign_laoder2 2s linear infinite;
}

svg.sign-loader circle {
  fill: none;
  stroke: #1197c4;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: sign_loader1 1.5s ease-in-out infinite;
}

@keyframes sign_laoder2 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sign_loader1 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.sign-modal__container.is-hidden {
  opacity: 0;
  transform: translate(0, 150%) translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .sign-modal__container.is-hidden {
    transform: translate(0, 100%);
  }
}

.sign-modal {
  .iti__selected-flag {
    background-color: transparent !important;
    padding-left: 16px !important;
    max-height: 54px;
  }

  input[data-input="tel"] {
    padding-left: 62px !important;
    outline: none !important;
  }

  .iti__country-list {
    margin-top: 10px !important;
    border: 1px solid #c5cedc !important;
    border-radius: 0.5rem !important;
    box-shadow: 0px 20px 48px rgb(90 101 137 / 20%) !important;
    z-index: 20;
  }

  .iti__country.iti__highlight {
    background-color: rgb(236 240 245);
  }

  .iti__country {
    padding: 8px 12px !important;
  }
}

.sign-modal__adjust {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sign-modal__adjust::-webkit-scrollbar {
  display: none;
}

.iti__country-list {
  margin-top: 10px !important;
  border: 1px solid #c5cedc !important;
  border-radius: 0.5rem !important;
  box-shadow: 0px 20px 48px rgb(90 101 137 / 20%) !important;
  z-index: 20;
}

.sign-modal__message {
  display: none;
  color: #049dcf;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(4, 157, 207, .1);
  border-radius: .5rem;
  padding: 14px 8px;
  font-weight: 600;
  transition: all .3s cubic-bezier(.39, .575, .565, 1);
}

.sign-modal__message.is-successful {
  color: #2a9672;
  background-color: rgba(5, 202, 137, .1);
}

.sign-modal__message.is-failed {
  color: #ce3e62;
  background-color: rgba(228, 15, 68, .1);
}