.sign-modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  display: none;
  padding-right: 44px;
  padding-left: 44px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  input {
    width: 100%;
    height: 52px;
    margin-bottom: 0px;
    border: 1px solid #e1e1e1;
    padding: 8px 16px;
    border-radius: 0px;
    background-color: transparent;
    -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
    transition: all 200ms cubic-bezier(.39, .575, .565, 1);
    font-size: 15px;
    font-weight: 600;

    &:hover {
      border-color: #0995c6;
    }

    &:focus {
      border-color: #0995c6;
      background-color: rgba(9, 149, 198, 0.05);
    }

    &::-webkit-input-placeholder {
      color: #8f8f8f;
    }
  }
}

.sign-modal__half-col {
  width: 49%;
}

.sign-modal-view__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sign-modal__form-pin-wrap input {
  width: 56px !important;
  height: 70px !important;
  margin: 0px 7px;
  border: 1px solid #e6e6e6;
  background-color: #f8f8f8;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  font-size: 34px !important;
  text-align: center;
}

.sign-modal__form-pin-wrap input:focus {
  border-color: #0995c6;
  background-color: rgba(9, 149, 198, 0.08);
}

.sign-modal__container.for_signup input:focus {
  border-color: #0995c6;
  background-color: rgba(87, 194, 233, 0.08);
}

.sign-modal__form-pin-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sign-modal__button-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-modal__checkbox-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
}

.sign-modal__flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sign-modal__subtitle {
  max-width: 300px;
  margin-top: 12px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;

  @include maxWidthXs {
    margin-top: 8px;
  }
}

.sign-modal__pass-switch {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--black);
  cursor: pointer;
}

.sign-modal__pass-switch.is-active svg.svg_pass-show {
  display: none;
}

.sign-modal__pass-switch.is-active svg.svg_pass-hide {
  display: block;
}

.sign-modal__pass-switch path {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.sign-modal__pass-switch:hover path {
  color: #0995c6;
}

.sign-modal__sub-link {
  font-size: 13px;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

.sign-modal__sub-link:hover {
  color: #0995c6;
}

.sign-modal__form-row {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  &.form-row_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 18px;

    .sign-modal__checkbox-label {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px
    }
  }

  @include maxWidthXs {
    margin-bottom: 10px;
  }
}

.sign-modal__footer {
  flex: 0 auto;
  background-color: #ffffff;
  border-top: 1px solid #e2e2e2;
  min-height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include maxWidthXs {
    min-height: unset;

    .sign-modal__inner-wrapper {
      padding-top: 38px;
      padding-bottom: 38px;
    }
  }
}

.sign-modal__footer .sign-modal__sub-btn:hover {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  color: #171c29;
}

.sign-modal__body {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-modal__form-wrap {
  margin-bottom: 0px;
}

.locations__form-field-row {
  position: relative;
}

.sign-modal__header {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.sign-modal__checkbox {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-right: 6px;
  margin-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-color: hsla(0, 0%, 80%, 0);
  border-radius: 6px;
  background-color: #ececec;
}

.sign-modal__inner-wrapper {
  padding: 68px 86px;
  width: 100%;

  @include maxWidthXs {
    padding-top: 52px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 42px;
  }
}

.sign-modal__backdrop {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: var(--backdrop-darkcolor);
  opacity: 0;
  transition: var(--modal-transition);
}

.sign-modal__logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sign-modal__pass-input-wrap {
  position: relative;
}

.sign-modal-view__body {
  margin-top: 20px;

  @include maxWidthXs {
    margin-top: 10px;
  }
}

.sign-modal__form-wrap label {
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 600;
}

.sign-modal__gender-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  padding: 8px 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.sign-modal__gender-select.is-active {
  border-color: #0995c6;
  background-color: rgba(207, 242, 255, 0.35);
  font-weight: 500;
  color: #125d76;
}

.sign-modal__logo-img {
  width: 120px;
}

.sign-modal__sub-btn {
  display: block;
  width: 100%;
  margin-top: 6px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: rgba(9, 149, 198, 0);
  border: 1px solid transparent;
  border-radius: 0px;
  color: #171c29;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 450ms ease;

  &:hover {
    background-color: transparent;
    // text-decoration: underline;
    border-color: var(--blue-gold);
    color: #007ba3;
  }

  &.sign-modal__sub-btn_dim {
    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
    background-color: transparent;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      border-color: var(--black);
    }
  }
}

.sign-modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  width: 45px;
  height: 45px;
  padding: 16px;
  background-color: #fff;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  cursor: pointer;
}

.sign-modal-close:hover {
  background-color: #fff;
  color: #0995c6;
}

.sign-modal__phone-view {
  position: relative;
}

.sign-modal-view {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  &:not(:nth-child(1)) {
    display: none;
  }

  @include maxWidthXs {
    gap: 10px;
  }
}

.sign-modal__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sign-modal__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
  letter-spacing: 0.6px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.sign-modal__main-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid var(--blue-gold);
  border-radius: 0px;
  background-color: var(--blue-gold);
  -webkit-transition: all 450ms cubic-bezier(.39, .575, .565, 1);
  transition: all 450ms cubic-bezier(.39, .575, .565, 1);
  font-weight: 600;
  cursor: pointer;

  &.button_loading {
    border-radius: 40px;
    // width: 48px;
    &:hover {
      background-color: #0095c6;
    }
  }
}

.sign-modal__main-btn:hover {
  background-color: #16a9dd;
  border: 1px solid #16a9dd;
}

.sign-modal__main-btn.is-loading {
  color: transparent !important;
  pointer-events: none;
  border: 1px solid #0995c6;
}

.sign-modal__main-btn.is-loading:hover {
  background-color: #0995c6;
}

.sign-modal__main-btn.is-loading .sign-btn_circle-loader {
  visibility: visible;
  opacity: 1;
}

.sign-modal__main-btn.is-loading .sign-btn_progress-bad {
  -webkit-transform: scaleX(100%);
  -ms-transform: scaleX(100%);
  transform: scaleX(100%);
}

.sign-btn_progress-bad {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: scaleX(0%);
  -ms-transform: scaleX(0%);
  transform: scaleX(0%);
  background-color: #1282aa;
  z-index: 1;
  -webkit-transition: all 4s ease;
  -o-transition: all 4s ease;
  transition: all 4s ease;
}

.sign-btn_circle-loader {
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  transition: all 250ms ease;
  opacity: 0;
  visibility: hidden;
}

.sign-btn_circle-loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 18px;
  height: 18px;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  animation: signButtonLoading 1s ease infinite;
  z-index: 10;
}

.sign-btn_circle-loader:before {
  z-index: 5;
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px dashed #fff;
  width: 27px;
  height: 27px;
  border-left: 1.2px solid transparent;
  border-bottom: 1.2px solid transparent;
  animation: signButtonLoading 1s linear infinite;
}

@keyframes signButtonLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sign-modal__pass-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 21px;
}

.sign-modal__container {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 620px;
  background-color: #fff;
  transition: var(--modal-transition);
  transform: translateX(100%);
}

.sign-modal__container.for_signup {
  background-color: #f8f8f8;
}

.sign-modal__container.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0px, 50px) translate(-50%, -50%);
  -ms-transform: translate(0px, 50px) translate(-50%, -50%);
  transform: translate(0px, 50px) translate(-50%, -50%);
}

.sign-modal__tel-input-wrap {
  padding-top: 0px;
  padding-bottom: 0px;
}

.sign-modal__phone-span {
  color: #0995c6;
  font-weight: 600;
}

.sign-modal__checkbox-label {
  cursor: pointer;
}

.sign-modal__checkbox-label>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sign-modal__checkbox-label>span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sign-modal__checkbox-label>span::before {
  content: '';
  display: inline-block;
  margin-top: -2px;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-color: #e6e6e6;
  border: 1px solid rgba(204, 204, 204, 0);
  border-radius: 6px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.sign-modal__checkbox-label>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #0995c6;
  background-color: #ffffff;
}

.sign-modal__checkbox-label>input:not(:disabled):active+span::before {
  background-color: rgba(68, 207, 255, 0.18);
  border-color: #0995c6;
}

.sign-modal__checkbox-label>input:focus:not(:checked)+span::before {
  border-color: #0995c6;
}

.sign-modal__checkbox-label>input:checked+span::before {
  border-color: #0995c6;
  background-color: rgba(68, 207, 255, 0.18);
  background-image: url('../assets/blue-checkmark.svg');
}

.sign-modal__checkbox-label>input:disabled+span::before {
  background-color: #e9ecef;
}

@media screen and (max-width: 767px) {
  .sign-modal {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {

  .sign-modal {
    padding-right: 0px;
    padding-left: 0px;
  }

  .sign-modal-close {
    background-color: #fff;
  }
}

.sign-modal__container.grey_bg {
  background-color: #f9f9f9;
}

.sign-modal__container.grey_bg .sign-modal__input-field {
  background-color: #fff;
}

.iti.iti--allow-dropdown {
  width: 100%;
}

.sign-modal * {
  outline: none !important;
}

.input-tel {
  width: 100%;
  height: 48px;
  margin-bottom: 0px;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  background-color: #f8f8f8;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
}

.input-tel:hover {
  border: 1px solid #0995c6;
}

.input-tel:focus {
  border-color: #0995c6;
  background-color: rgba(9, 149, 198, 0.05);
}

.input-tel-register {
  width: 100%;
  height: 48px;
  margin-bottom: 0px;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  background-color: #fff;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
}

.input-tel-register:hover {
  border: 1px solid #0995c6;
}

.input-tel-register:focus {
  border-color: #0995c6;
  background-color: rgba(9, 149, 198, 0.05);
}

.iti__country-list {
  max-width: 396px;
  margin-top: 10px !important;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 20px 22px 6px rgba(39, 64, 82, 0.17);
}

.iti__country {
  padding: 10px 10px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.iti__country-name {
  font-size: 14px !important;
  font-weight: 500;
}

.iti__flag-box {
  margin-right: 10px !important;
}

.iti__dial-code {
  font-size: 13px;
  font-weight: 500;
  color: #0995c6 !important;
}

.iti__divider {
  border-bottom: 1px solid #e6e6e6;
}

.sign-modal__form-row:last-child {
  margin-bottom: 0px;
}

.sign-modal__form-pin-wrap input::-webkit-outer-spin-button,
.sign-modal__form-pin-wrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sign-modal__form-pin-wrap input[type=number] {
  -moz-appearance: textfield;
}

.sign-modal__pass-icon svg.svg_pass-hide {
  display: none;
}

.sign-modal__pass-icon.is-active svg.svg_pass-hide {
  display: block;
}

.sign-modal__pass-icon.is-active svg.svg_pass-show {
  display: none;
}

.input-tel-register {
  background-color: #f8f8f8;
}