.welcome-modal {
  --offset: 10px;
  position: fixed;
  z-index: 30;
  bottom: var(--offset);
  right: var(--offset);
  width: 100%;
  max-width: 420px;
  padding: 26px 56px;
  background-color: #059ed1;
  color: white;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-l);
  transform: translateY(calc(100% + var(--offset)));

  &.--visible {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%);
  }

  @include maxWidthXs {
    width: auto;
    max-width: 100%;
    left: var(--offset);
    padding: 38px 20px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    margin-bottom: 4px;
  }

  p {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    font-weight: 600;
  }

  button:not(.welcome-modal__close-btn) {
    min-width: 120px;
    font-weight: 600;
    font-size: 13px;
    padding: 12px 16px;
    background-color: white;
    color: var(--black);

    &.--sub {
      background-color: transparent;
      color: white;
    }
  }
}

.welcome-modal__btn-group {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.welcome-modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L23 23" stroke="white" stroke-width="3"/><path d="M23 1L1 23" stroke="white" stroke-width="3"/></svg>');
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
  // background-color: #21b0e0;
}