@import './modules/base/mixin.scss';
@import './modules/base/root.scss';
@import './modules/base/reset.scss';
@import './modules/base/utils.scss';
@import './modules/base/base.scss';
@import './modules/splide.scss';
@import './modules/intlTelInput.scss';
@import './modules/libs/fancybox.scss';
@import './modules/libs/pace.scss';

@import './elements/header.scss';
// @import './elements/menu.scss';
// @import './elements/menu2.scss';
@import './elements/menu3.scss';
@import './elements/cart.scss';
@import './elements/currency-modal.scss';
@import './elements/sign-modal.scss';
@import './elements/pay-banner.scss';
@import './elements/product-card.scss';
@import './elements/admin-card.scss';
@import './elements/admin-bar.scss';
@import './elements/book-sell.scss';
// @import './elements/zoom-modal.scss';
@import './elements/pay-modal.scss';
@import './elements/quiz-modal.scss';
@import './elements/loan-case.scss';


// pages
@import './modules/pages/general.scss';
@import './modules/pages/homepage.scss';
@import './modules/pages/product.scss';
@import './modules/pages/results.scss';
@import './modules/pages/cart.scss';
@import './modules/pages/subpages.scss';
@import './modules/pages/account.scss';
@import './modules/pages/locations.scss';
@import './modules/pages/contact.scss';
@import './modules/pages/sell.scss';
@import './modules/pages/404.scss';
@import './modules/pages/sitemap.scss';
@import './modules/pages/custom.scss';
@import './modules/pages/pass-reset.scss';
@import './modules/pages/about-us.scss';
@import './modules/pages/blog.scss';
@import './modules/pages/formpage.scss';
@import './modules/pages/tracking.scss';
@import './modules/pages/watch-swiper.scss';
@import './modules/pages/ask-page.scss';
@import './modules/pages/loose.scss';
@import './elements/pin-lock.scss';
@import './elements/v-modal.scss';
@import './elements/price-modal.scss';

// Layout Update
@import './modules/base/update-layout.scss';

// temp
// @import './modules/promo/vday.scss';
// @import './modules/promo/xmas.scss';
// @import './modules/promo/bfs.scss';
@import './modules/promo/bfs_2024.scss';
// @import './modules/promo/new-year.scss';
// @import './modules/promo/cyber-monday.scss';
// @import './modules/temp/bfs-modal.scss';

@import './elements/pg-modal.scss';
@import './elements/subscribe-row.scss';
@import './elements/footer.scss';
@import './modules/base/fonts.scss';