<div data-sign-view="email" class="sign-modal__view">
  <form id="pop_frm_login" method="post" action="/json-authenticate" class="sign-form needs-validation" novalidate>
    <div class="sign-modal__content-box">
      <div class="sign-modal__title-block">
        <h4>Sign with email</h4>
        <p>
          Enter your email and password to sign in.
        </p>
      </div>
      <div class="flex-col gap-8">
        {% include 'ui/input.twig' with {
          type: 'email',
          name: 'email',
          id: 'userEmail',
          placeholder: 'Enter your email',
          required: true
        } %}
        {% include 'ui/input.twig' with {
          type: 'password',
          name: 'password',
          id: 'userPassword',
          placeholder: 'Password',
          passToggle: true,
          required: true
        } %}
        <div class="flex flex-between center gap-8 mt-8">
          <label class="custom-checkbox">
            <input class="custom-checkbox" id="subscribe" name="remember" type="checkbox" checked="" data-parsley-multiple="remember" />
            <span class="custom-checkbox__label text-sm">Remember me</span>
          </label>
          <button data-sign-go="reset" class="opacity-50"><strong>Forgot Password?</strong></button>
        </div>
      </div>
      <div class="sign-modal__btn-group">
        {% include 'ui/button.twig' with {
          text: 'Login',
          class: '--black',
          class: 'js-submit'
        } %}
        {% include 'ui/button.twig' with {
          text: 'Sign with phone',
          attr: [['data-sign-go', 'phone']]
        } %}
      </div>
    </div>
  </form>
</div>
