<div class="sw-lock-container">
	<div class="sw-lock__wrapper">
		<div class="sw-lock__header">
			<img
				src="https://cdn.prod.website-files.com/67ca80589f3ba1576ff9ee72/67ca85119941ed286c73fa86_logo%20(1)-p-500.png"
				loading="eager" sizes="220px" class="sw-lock__logo">
			<div class="sw-lock__header-controls">
				<a target="_blank" href="tel:+14048420266">Call Us Now</a>
				<a target="_blank" href="https://api.whatsapp.com/send?phone=+14049919721&text=Hi%2C+I+have+a+question">Chat
					on WhatsApp</a>
			</div>
			<a target="_blank"
				href="https://www.google.com/maps/place/SwissWatches.com/@33.8432693,-84.3707427,17z/data=!3m1!4b1!4m6!3m5!1s0x89c259ca5e2a4d99:0x1d22ce7611fd043f!8m2!3d33.8432693!4d-84.3707427!16s%2Fg%2F11c48xq00y?hl=en"
				class="sw-lock__btn">
				<img loading="lazy"
					src="https://cdn.prod.website-files.com/67ca80589f3ba1576ff9ee72/67ca840ae1200d7aa6c173fa_Group%206%20(5).svg"
					alt="" class="sw-lock__gmap-pic">
				<span>Find us on Google</span>
			</a>
		</div>
		<div class="sw-lock__content">
			<div class="sw-lock__tag">
				<span class="temp3">NEW WEBSITE</span>
				<span>COMING SOON</span>
			</div>
			<h1 class="sw-lock__heading">Updating Website<br>Check Back <span class="temp4">Shortly!</span></h1>
			<p class="temp5">Website Update in Progress – We're Rolling Out a Major Redesign with Brand-New Features.</p>

			<div class="sw-lock__content-links">
				<a target="_blank"
					href="https://www.google.com/maps/place/SwissWatches.com/@33.8432693,-84.3707427,17z/data=!3m1!4b1!4m6!3m5!1s0x89c259ca5e2a4d99:0x1d22ce7611fd043f!8m2!3d33.8432693!4d-84.3707427!16s%2Fg%2F11c48xq00y?hl=en"
					class="sw-lock__content-btn">
					<img loading="lazy"
						src="https://cdn.prod.website-files.com/67ca80589f3ba1576ff9ee72/67ca840ae1200d7aa6c173fa_Group%206%20(5).svg"
						alt="" class="sw-lock__gmap-pic">
					<span>Google Maps</span>
				</a>
				<a target="_blank" href="https://api.whatsapp.com/send?phone=+14049919721&text=Hi%2C+I+have+a+question"
					class="sw-lock__content-btn is-green">
					<span>Chat WhatsApp</span>
				</a>
			</div>

			{# Launch Cards #}
			{% include "ui/launch/launch-cards.twig" %}


			<div class="sw-lock__info-table">
				<div class="temp7">
					<span>+1 (404) 842-0266</span>
				</div>
				<div class="temp7">
					<span>3255 Peachtree Rd NE Suite# 3,<br>Atlanta, GA 30305, USA</span>
				</div>
				<div class="temp7 is-map">
					<div class="sw-lock__map">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.7999521446472!2d-84.3707427!3d33.843269299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259ca5e2a4d99%3A0x1d22ce7611fd043f!2sSwissWatches.com!5e0!3m2!1sen!2sen!4v1741329442512!5m2!1sen!2sen"
							width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
							referrerpolicy="no-referrer-when-downgrade">
						</iframe>
					</div>
				</div>
				<div class="temp7 is-blank"></div>
				<div class="temp7 is-pic">
					<img alt=""
						src="https://cdn.prod.website-files.com/67ca80589f3ba1576ff9ee72/67ca944d6722861830ccfde1_%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202025-03-07%20%D0%B2%2016.37.58.avif"
						loading="eager" class="sw-lock__store-pic">
				</div>
			</div>
		</div>
	</div>
</div>