<div class="admin-bar">
  {% if product.clarity %}
    <div class="admin-bar__info-col">
      <span>Clarity SKU:</span> <span>F0002919Q</span>
    </div>
  {% endif %}
  <button data-ask="add-watches" class="admin-bar__btn">Add Watches</button>
  <button class="admin-bar__btn">Add Other</button>
  {% if show_admin_controls %}
    <button data-tip="Hide controls" class="admin-bar__btn --active">{% include 'icons/slider-controls.svg' %}</button>
  {% else %}
    <button data-tip="Show controls" class="admin-bar__btn">{% include 'icons/slider-controls.svg' %}</button>
  {% endif %}
  <button class="admin-bar__btn">{% include 'icons/edit.svg' %}</button>
</div>
